<div
  style={{this.style}}
  class="timeline-scroller"
  {{draggable
    didStartDrag=@didStartDrag
    didEndDrag=@didEndDrag
    dragMove=@dragMove
  }}
>
  {{#if @fullscreen}}
    <div class="timeline-scroller-content">
      <div class="timeline-replies">
        {{this.repliesShort}}
      </div>
      {{#if @date}}
        <div class="timeline-ago">
          {{this.timelineAgo}}
        </div>
      {{/if}}
      {{#if (and @showDockedButton (not @dragging))}}
        <TopicTimeline::BackButton @onGoBack={{@onGoBack}} />
      {{/if}}
    </div>
    <div class="timeline-handle"></div>
  {{else}}
    <div class="timeline-handle"></div>
    <div class="timeline-scroller-content">
      <div class="timeline-replies">
        {{this.repliesShort}}
      </div>
      {{#if @date}}
        <div class="timeline-ago">
          {{this.timelineAgo}}
        </div>
      {{/if}}
      {{#if (and @showDockedButton (not @dragging))}}
        <TopicTimeline::BackButton @onGoBack={{@onGoBack}} />
      {{/if}}
    </div>
  {{/if}}
</div>