<div class="admin-detail discourse-automation-new">
  <BackButton
    @label="discourse_automation.back"
    @route="adminPlugins.show.automation.index"
    class="discourse-automation-back"
  />
  <AdminConfigAreaCard @heading="discourse_automation.select_script">
    <:content>
      <input
        type="text"
        placeholder={{i18n "discourse_automation.filter_placeholder"}}
        {{on "input" this.updateFilterText}}
        class="admin-section-landing__header-filter"
      />

      {{#unless this.model.scripts.length}}
        <div class="alert alert-info">
          <p>{{i18n "discourse_automation.no_automation_yet"}}</p>
        </div>
      {{/unless}}

      <div class="admin-section-landing__wrapper">
        {{#each this.scriptableContent as |script|}}
          <AdminSectionLandingItem
            {{on "click" (fn this.selectScriptToEdit script)}}
            @titleLabelTranslated={{script.name}}
            @descriptionLabelTranslated={{script.description}}
          />
        {{/each}}
      </div>
    </:content>
  </AdminConfigAreaCard>
</div>