
{{#if users}}
<div class="users-list">
  {{#each users as |user|}}
    {{invite-list-user user=user roles=roles removeUser=(action "removeUser")}}
  {{/each}}
</div>
{{/if}}

<div class="new-user">
  <div class="text-field {{if invalid 'invalid'}}">
    {{input class="invite-email wizard-focusable" value=inviteEmail placeholder="user@example.com" tabindex="9"}}
  </div>

  {{combo-box
    value=inviteRole
    content=roles
    nameProperty="label"
    onChange=(action (mut inviteRole))
  }}

  <button class="wizard-btn small add-user" {{action "addUser"}}>
    {{d-icon "plus"}}{{i18n "wizard.invites.add_user"}}
  </button>
</div>
