<div class="badge-title">
  <section class="user-content">
    <form class="form-horizontal">
      <div class="control-group">
        <div class="controls">
          <h3>{{i18n "badges.select_badge_for_title"}}</h3>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <ComboBox @value={{_selectedUserBadgeId}} @nameProperty="badge.name" @content={{selectableUserBadges}} @onChange={{action (mut _selectedUserBadgeId)}} />
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <DButton @class="btn-primary" @action={{action "saveBadgeTitle"}} @disabled={{_isSaving}} @label={{if _isSaving "saving" "save"}} />
          {{#if _isSaved}}
            <span>{{i18n "saved"}}</span>
          {{/if}}
        </div>
      </div>
    </form>
  </section>
</div>
