<ConditionalLoadingSpinner @condition={{this.loading}}>
  {{#if this.topics}}
    <TopicList
      @showPosters={{this.showPosters}}
      @hideCategory={{this.hideCategory}}
      @topics={{this.topics}}
      @expandExcerpts={{this.expandExcerpts}}
      @bulkSelectEnabled={{this.bulkSelectEnabled}}
      @bulkSelectAction={{this.bulkSelectAction}}
      @canBulkSelect={{this.canBulkSelect}}
      @selected={{this.selected}}
      @tagsForUser={{this.tagsForUser}}
      @onScroll={{this.onScroll}}
      @scrollOnLoad={{this.scrollOnLoad}}
      @toggleBulkSelect={{this.toggleBulkSelect}}
      @updateAutoAddTopicsToBulkSelect={{this.updateAutoAddTopicsToBulkSelect}}
    />
  {{else}}
    {{#unless this.loadingMore}}
      <div class="alert alert-info">
        {{i18n "choose_topic.none_found"}}
      </div>
    {{/unless}}
  {{/if}}
</ConditionalLoadingSpinner>