{{#if categories}}
  {{#if filteredCategories}}
    <table class="category-list {{if showTopics "with-topics"}}">
      <thead>
        <tr>
          <th class="category"><span role="heading" aria-level="2" id="categories-only-category">{{i18n "categories.category"}}</span></th>
          <th class="topics">{{i18n "categories.topics"}}</th>
          {{#if showTopics}}
            <th class="latest">{{i18n "categories.latest"}}</th>
          {{/if}}
        </tr>
      </thead>
      <tbody aria-labelledby="categories-only-category">
        {{#each categories as |category|}}
          {{parent-category-row category=category showTopics=showTopics}}
        {{/each}}
      </tbody>
    </table>
  {{/if}}

  {{#if mutedCategories}}
    <div class="muted-categories">
      <a href class="muted-categories-link" {{action "toggleShowMuted"}}>
        <h3 class="muted-categories-heading">{{i18n "categories.muted"}}</h3>
        {{#if mutedToggleIcon}}
          {{d-icon mutedToggleIcon}}
        {{/if}}
      </a>
      <table class="category-list {{if showTopics "with-topics"}} {{unless showMutedCategories "hidden"}}">
        <thead>
          <tr>
            <th class="category"><span role="heading" aria-level="2" id="categories-only-category-muted">{{i18n "categories.category"}}</span></th>
            <th class="topics">{{i18n "categories.topics"}}</th>
            {{#if showTopics}}
              <th class="latest">{{i18n "categories.latest"}}</th>
            {{/if}}
          </tr>
        </thead>
        <tbody aria-labelledby="categories-only-category-muted">
          {{#each categories as |category|}}
            {{parent-category-row category=category showTopics=showTopics listType="muted"}}
          {{/each}}
        </tbody>
      </table>
    </div>
  {{/if}}
{{/if}}

{{plugin-outlet name="below-categories-only" connectorTagName="div" args=(hash categories=categories showTopics=showTopics)}}
