<span class="group-name">
  <span class="group-name-label">{{group_name}}</span>
  <a class="remove-permission" href {{action "removeRow"}}>
    {{d-icon "far-trash-alt"}}
  </a>
</span>
<span class="options actionable">
  <DButton @icon="check-square" @class="btn btn-flat see" @disabled={{true}} />

  <DButton @icon={{canReplyIcon}} @action={{action "setPermissionReply"}} @translatedTitle={{replyTooltip}} @class={{concat "btn btn-flat reply-toggle " replyGranted}} @disabled={{replyDisabled}} />

  <DButton @icon={{canCreateIcon}} @action={{action "setPermissionFull"}} @translatedTitle={{createTooltip}} @class={{concat "btn btn-flat create-toggle " createGranted}} @disabled={{createDisabled}} />
</span>
