<span class="group-name">
  {{group_name}}
  <a class="remove-permission" href {{action "removeRow"}}>
    {{d-icon "times-circle"}}
  </a>
</span>
<span class="options actionable">
  <span class="cell see granted" {{action "setPermissionSee"}}>
    {{d-icon "check"}}
  </span>
  <span class="cell {{if canReply "granted"}}" {{action "setPermissionReply"}}>
    {{d-icon canReplyIcon}}
  </span>
  <span class="cell {{if canCreate "granted"}}" {{action "setPermissionFull"}}>
    {{d-icon canCreateIcon}}
  </span>
</span>
