<span class="group-name">
  <span class="group-name-label">{{group_name}}</span>
  <a class="remove-permission" href {{action "removeRow"}}>
    {{d-icon "times-circle"}}
  </a>
</span>
<span class="options actionable">
  {{d-button
    icon="check"
    action=(action "setPermissionSee")
    class="btn btn-flat see"
    translatedTitle=seeTooltip
  }}

  {{d-button
    icon=canReplyIcon
    action=(action "setPermissionReply")
    translatedTitle=replyTooltip
    class="btn btn-flat"
  }}

  {{d-button
    icon=canCreateIcon
    action=(action "setPermissionFull")
    translatedTitle=createTooltip
    class="btn btn-flat"
  }}
</span>
