<a class="category-title-link" href={{this.category.url}}>
  <div class="category-text-title">
    <CategoryTitleBefore @category={{this.category}} />
    {{#if this.category.read_restricted}}
      {{d-icon this.lockIcon}}
    {{/if}}
    <span class="category-name">{{dir-span this.category.name}}</span>
  </div>
  {{#if this.category.uploaded_logo.url}}
    <CategoryLogo @category={{this.category}} />
  {{/if}}
</a>