{{#if this.isLoading}}
  {{~d-icon "spinner" class="loading-icon"~}}
{{else}}
  {{#if this.icon}}
    {{~d-icon this.icon~}}
  {{/if}}
{{/if}}

{{~#if this.computedLabel~}}
  <span class="d-button-label">{{html-safe this.computedLabel}}{{#if this.ellipsis}}&hellip;{{/if}}</span>
{{~else~}}
  &#8203;
  {{! Zero-width space character, so icon-only button height = regular button height }}
{{~/if~}}

{{yield}}
