<BreadCrumbs @categories={{categories}} @category={{category}} @noSubcategories={{noSubcategories}} @tag={{tag}} @additionalTags={{additionalTags}} />

{{#unless additionalTags}}
  {{!-- nav bar doesn't work with tag intersections --}}
  <NavigationBar @navItems={{navItems}} @filterMode={{filterMode}} @category={{category}} />
{{/unless}}

<div class="navigation-controls">

  {{#if showCategoryAdmin}}
    <CategoriesAdminDropdown @onChange={{action "selectCategoryAdminDropdownAction"}} @options={{hash
        triggerOnChangeOnTab=false
      }} />
  {{/if}}

  {{#if category}}
    {{#unless tag}}
      {{!-- don't show category edit button on tag pages --}}
      {{#if showCategoryEdit}}
        <DButton @class="btn-default edit-category" @action={{editCategory}} @icon="wrench" @ariaLabel="category.edit" />
      {{/if}}
    {{/unless}}
  {{/if}}

  {{#if tag}}
    {{#if showToggleInfo}}
      <DButton @icon={{if currentUser.staff "wrench" "info-circle"}} @class="btn-default" @ariaLabel="tagging.info" @action={{toggleInfo}} @id="show-tag-info" />
    {{/if}}
  {{/if}}

  <PluginOutlet @name="before-create-topic-button" @connectorTagName="div" @tagName="" @args={{hash
      canCreateTopic=canCreateTopic
      createTopicDisabled=createTopicDisabled
      createTopicLabel=createTopicLabel
      additionalTags=additionalTags
      category=category
      tag=tag}} />

  <CreateTopicButton @canCreateTopic={{canCreateTopic}} @action={{action "clickCreateTopicButton"}} @disabled={{createTopicButtonDisabled}} @label={{createTopicLabel}} @btnClass={{createTopicClass}} @canCreateTopicOnTag={{canCreateTopicOnTag}} />

  <PluginOutlet @name="after-create-topic-button" @connectorTagName="div" @tagName="" @args={{hash
      canCreateTopic=canCreateTopic
      createTopicDisabled=createTopicDisabled
      createTopicLabel=createTopicLabel
      category=category}} />

  {{#if category}}
    {{#unless tag}}
      {{!-- don't show category notification menu on tag pages --}}
      {{#if showCategoryNotifications}}
        <CategoryNotificationsButton @value={{categoryNotificationLevel}} @category={{category}} @onChange={{action "changeCategoryNotificationLevel"}} />
      {{/if}}
    {{/unless}}
  {{/if}}

  {{#if tag}}
    {{#unless category}}
      {{!-- don't show tag notification menu on category pages --}}
      {{#if showTagNotifications}}
        <TagNotificationsButton @onChange={{changeTagNotificationLevel}} @value={{tagNotification.notification_level}} />
      {{/if}}
    {{/unless}}
  {{/if}}

</div>
