<Input @type={{this.inputType}} class="date-picker" placeholder={{this.placeholder}} @value={{readonly this.value}} @input={{action "onChangeDate"}} @id={{this.inputId}} />

{{#unless this.useGlobalPickerContainer}}
  <div class="picker-container"></div>
{{/unless}}
