<Input @type={{inputType}} class="date-picker" placeholder={{placeholder}} @value={{readonly value}} id={{inputId}} {{on "input" (action "onChangeDate")}} />

{{#unless useGlobalPickerContainer}}
  <div class="picker-container"></div>
{{/unless}}
