<UserInfo @user={{this.item.user}} />
{{#each this.columns as |column|}}
  {{#if (directory-column-is-user-field column=column)}}
    {{directory-item-user-field-value item=this.item column=column}}
  {{else}}
    {{directory-item-value item=this.item column=column}}
  {{/if}}
{{/each}}

{{#if this.showTimeRead}}
  <div class="time-read">{{format-duration this.item.time_read}}</div>
{{/if}}