{{#if visible}}
  <div class="row">
    <div id="banner" class={{overlay}}>
      {{d-button icon="times" action="dismiss" class="btn btn-flat close" title="banner.close"}}
      <div id="banner-content">
        {{html-safe content}}
        {{#if currentUser.staff}}
          <p><a href={{banner.url}}>{{html-safe (i18n "banner.edit")}}</a></p>
        {{/if}}
      </div>
    </div>
  </div>
{{/if}}
