<form>
  <div class="control-group">
    {{combo-box
      class="timer-type"
      onChange=onChangeStatusType
      content=timerTypes
      value=statusType
    }}
  </div>
  {{#if publishToCategory}}
    <div class="control-group">
      <label class="control-label">{{i18n "topic.topic_status_update.publish_to"}}</label>
      {{category-chooser
        value=topicTimer.category_id
        excludeCategoryId=excludeCategoryId
        onChange=(action (mut topicTimer.category_id))
      }}
    </div>
  {{/if}}
  {{#if autoDeleteReplies}}
    <div class="controls">
      <label class="control-label">{{i18n durationTranslationKey}}</label>
      {{text-field class="topic-timer-duration" type="number" value=topicTimer.duration min="1"}}
    </div>
  {{/if}}
  {{#if showFutureDateInput}}
    <label class="control-label">{{i18n "topic.topic_status_update.when"}}</label>
    {{time-shortcut-picker prefilledDatetime=(readonly topicTimer.updateTime) onTimeSelected=onTimeSelected customOptions=customTimeShortcutOptions hiddenOptions=hiddenTimeShortcutOptions}}
  {{/if}}
  {{#if showTopicStatusInfo}}
    <div class="alert alert-info">
      {{topic-timer-info
        statusType=statusType
        executeAt=topicTimer.updateTime
        basedOnLastPost=basedOnLastPost
        duration=topicTimer.duration
        categoryId=topicTimer.category_id
      }}
    </div>
  {{/if}}
</form>
