<div class="future-date-input">
  <div class="control-group">
    <label class={{labelClasses}}>
      {{#if displayLabelIcon}}{{d-icon displayLabelIcon}}{{/if}}{{displayLabel}}
    </label>
    {{future-date-input-selector
      statusType=statusType
      value=(readonly selection)
      includeDateTime=includeDateTime
      includeWeekend=includeWeekend
      includeFarFuture=includeFarFuture
      includeNow=includeNow
      clearable=clearable
      onChangeInput=onChangeInput
      onChange=(action (mut selection))
      options=(hash
        none="topic.auto_update_input.none"
      )
    }}
  </div>

  {{#if displayDateAndTimePicker}}
    <div class="control-group future-date-input-date-picker">
      {{d-icon "calendar-alt"}}
      {{date-picker-future
        value=_date
        defaultDate=_date
        onSelect=(action "onChangeDate")
      }}
    </div>

    <div class="control-group future-date-input-time-picker">
      {{d-icon "far-clock"}}
      {{input
        placeholder="--:--"
        type="time"
        class="time-input"
        value=_time
        disabled=timeInputDisabled
        input=(action "onChangeTime" value="target.value")
      }}
    </div>
  {{/if}}
</div>
