{{#if this.canEdit}}
  {{#if this.currentUser.can_create_group}}
    <div class="control-group">
      <label class="control-label" for="name">{{i18n "groups.name"}}</label>

      <TextField
        @name="name"
        @class="input-xxlarge group-form-name"
        @value={{this.nameInput}}
        @placeholderKey="admin.groups.name_placeholder"
      />

      <InputTip @validation={{this.nameValidation}} />
    </div>
  {{/if}}

  <div class="control-group">
    <label class="control-label" for="full_name">{{i18n
        "groups.manage.full_name"
      }}</label>

    <TextField
      @name="full_name"
      @class="input-xxlarge group-form-full-name"
      @value={{this.model.full_name}}
    />
  </div>
{{/if}}

<div class="control-group">
  <label class="control-label" for="bio">{{i18n "groups.bio"}}</label>
  <DEditor
    @value={{this.model.bio_raw}}
    @class="group-form-bio input-xxlarge"
  />
</div>

{{#if this.model.automatic}}
  <div class="control-group">
    <GroupFlairInputs @model={{this.model}} />
  </div>
{{/if}}

{{#if this.canEdit}}
  {{yield}}

  <span>
    <PluginOutlet
      @name="group-edit"
      @connectorTagName="div"
      @args={{hash group=this.model}}
    />
  </span>
{{/if}}