<div class="group-imap-email-settings">
  <form class="groups-form form-horizontal groups-form-imap">
    <div>
      <div class="control-group">
        <label for="imap_server">{{i18n "groups.manage.email.credentials.imap_server"}}</label>
        {{input type="text" name="imap_server" value=form.imap_server tabindex="8" onChange=(action "resetSettingsValid")}}
      </div>

      <label for="enable_ssl_imap">
        {{input type="checkbox" checked=form.imap_ssl id="enable_ssl_imap" tabindex="11" onChange=(action "resetSettingsValid")}}
        {{i18n "groups.manage.email.credentials.imap_ssl"}}
      </label>
    </div>

    <div>
      <div class="control-group">
        <label for="imap_port">{{i18n "groups.manage.email.credentials.imap_port"}}</label>
        {{input type="text" name="imap_port" value=form.imap_port tabindex="9" onChange=(action "resetSettingsValid" form.imap_port)}}
      </div>
    </div>

    <div>
      <div class="control-group group-imap-mailboxes">
        {{#if mailboxes}}
          <label for="imap_mailbox_name">{{i18n "groups.manage.email.mailboxes.synchronized"}}</label>
          {{combo-box name="imap_mailbox_name"
            id="imap_mailbox"
            value=group.imap_mailbox_name
            valueProperty="value"
            content=mailboxes
            none="groups.manage.email.mailboxes.disabled"
            tabindex="10"
            onChange=(action (mut group.imap_mailbox_name))
          }}
        {{/if}}
      </div>

    </div>
  </form>

  <div class="control-group">
    <div class="group-imap-prefill-options">
      {{i18n "groups.manage.email.prefill.title"}} <a id="prefill_imap_gmail" href {{action "prefillSettings" "gmail"}}>{{i18n "groups.manage.email.prefill.gmail"}}</a>
    </div>
  </div>

  {{#unless mailboxSelected}}
    <div class="alert alert-error imap-no-mailbox-selected">
      {{i18n "groups.manage.email.imap_mailbox_not_selected"}}
    </div>
  {{/unless}}

  <div class="control-group buttons">
    {{d-button
      disabled=(or missingSettings testingSettings)
      class="btn-primary test-imap-settings"
      action=(action "testImapSettings")
      icon="cog"
      label="groups.manage.email.test_settings"
      tabindex="12"
      title="groups.manage.email.settings_required"
    }}

    {{conditional-loading-spinner size="small" condition=testingSettings}}

    {{#if imapSettingsValid}}
      <span class="imap-settings-ok">
        {{d-icon "check-circle"}} {{i18n "groups.manage.email.imap_settings_valid"}}
      </span>
    {{/if}}
  </div>

  {{#if group.imap_updated_at}}
    <div class="group-email-last-updated-details for-imap">
      <small>
        {{i18n "groups.manage.email.last_updated"}} <strong>{{format-date group.imap_updated_at leaveAgo="true"}}</strong>
        {{i18n "groups.manage.email.last_updated_by"}} {{#link-to "user" group.imap_updated_by.username}}{{group.imap_updated_by.username}}{{/link-to}}
      </small>
    </div>
  {{/if}}
</div>
