<MobileNav @class="group-nav" @desktopClass="nav nav-pills">
  {{#if site.mobileView}}
    <li>
      <LinkTo @route="groups.index">
        {{i18n "groups.index.all"}}
      </LinkTo>
    </li>
  {{else}}
    <li>
      <GroupDropdown @groups={{group.extras.visible_group_names}} @value={{group.name}} />
    </li>
  {{/if}}

  {{#each tabs as |tab|}}
    <li>
      <LinkTo @route={{tab.route}} @model={{group}} @title={{tab.message}} class={{tab.name}}>
        {{#if tab.icon}}{{d-icon tab.icon}}{{/if}}
        {{tab.message}}
        {{#if tab.count}}<span class="count">({{tab.count}})</span>{{/if}}
      </LinkTo>
    </li>
  {{/each}}
  <PluginOutlet @name="group-reports-nav-item" @args={{hash group=group}} @connectorTagName="li" />
</MobileNav>
