{{#if this.canAdminGroup}}
  <div class="control-group">
    <label class="control-label">{{i18n
        "admin.groups.manage.interaction.visibility"
      }}</label>
    <label for="visiblity">{{i18n
        "admin.groups.manage.interaction.visibility_levels.title"
      }}</label>

    <ComboBox
      @name="alias"
      @valueProperty="value"
      @value={{this.model.visibility_level}}
      @content={{this.visibilityLevelOptions}}
      @class="groups-form-visibility-level"
      @onChange={{action (mut this.model.visibility_level)}}
      @options={{hash castInteger=true}}
    />

    <div class="control-instructions">
      {{i18n "admin.groups.manage.interaction.visibility_levels.description"}}
    </div>
  </div>

  <div class="control-group">
    <label for="visiblity">{{i18n
        "admin.groups.manage.interaction.members_visibility_levels.title"
      }}</label>

    <ComboBox
      @name="alias"
      @valueProperty="value"
      @value={{this.membersVisibilityLevel}}
      @content={{this.visibilityLevelOptions}}
      @class="groups-form-members-visibility-level"
      @onChange={{action (mut this.model.members_visibility_level)}}
    />

    {{#if this.membersVisibilityPrivate}}
      <div class="control-instructions">
        {{i18n
          "admin.groups.manage.interaction.members_visibility_levels.description"
        }}
      </div>
    {{/if}}
  </div>
{{/if}}

<div class="control-group">
  <label class="control-label">{{i18n
      "groups.manage.interaction.posting"
    }}</label>
  <label for="alias">{{i18n "groups.alias_levels.mentionable"}}</label>

  <ComboBox
    @name="alias"
    @valueProperty="value"
    @value={{this.mentionableLevel}}
    @content={{this.aliasLevelOptions}}
    @class="groups-form-mentionable-level"
    @onChange={{action (mut this.model.mentionable_level)}}
  />
</div>

<div class="control-group">
  <label for="alias">{{i18n "groups.alias_levels.messageable"}}</label>

  <ComboBox
    @name="alias"
    @valueProperty="value"
    @value={{this.messageableLevel}}
    @content={{this.aliasLevelOptions}}
    @class="groups-form-messageable-level"
    @onChange={{action (mut this.model.messageable_level)}}
  />
</div>

{{#if this.canAdminGroup}}
  <div class="control-group">
    <label>
      <Input
        @type="checkbox"
        @checked={{this.model.publish_read_state}}
        class="groups-form-publish-read-state"
      />

      {{i18n "admin.groups.manage.interaction.publish_read_state"}}
    </label>
  </div>
{{/if}}

{{#if this.showEmailSettings}}
  <div class="control-group">
    <label class="control-label">{{i18n
        "admin.groups.manage.interaction.email"
      }}</label>
    <label for="incoming_email">{{i18n
        "admin.groups.manage.interaction.incoming_email"
      }}</label>

    <TextField
      @name="incoming_email"
      @class="input-xxlarge groups-form-incoming-email"
      @value={{this.model.incoming_email}}
      @placeholderKey="admin.groups.manage.interaction.incoming_email_placeholder"
    />

    <span>
      <PluginOutlet
        @name="group-email-in"
        @connectorTagName="div"
        @args={{hash model=this.model}}
      />
    </span>
  </div>
{{/if}}

<label class="control-label">{{i18n
    "groups.manage.interaction.notification"
  }}</label>

<div class="control-group">
  <label>{{i18n "groups.notification_level"}}</label>

  <NotificationsButton
    @value={{this.defaultNotificationLevel}}
    @class="groups-form-default-notification-level"
    @options={{hash i18nPrefix="groups.notifications"}}
    @onChange={{action (mut this.model.default_notification_level)}}
  />
</div>

<span>
  <PluginOutlet
    @name="groups-interaction-custom-options"
    @connectorTagName="div"
    @args={{hash model=this.model}}
  />
</span>