<div class="group-manage-email-settings">
  <h3>{{i18n "groups.manage.email.smtp_title"}}</h3>
  <p>{{i18n "groups.manage.email.smtp_instructions"}}</p>

  <label for="enable_smtp">
    {{input type="checkbox" checked=group.smtp_enabled id="enable_smtp" change=(action "smtpEnabledChange") tabindex="1"}}
    {{i18n "groups.manage.email.enable_smtp"}}
  </label>

  {{#if group.smtp_enabled}}
    {{group-smtp-email-settings group=group smtpSettingsValid=smtpSettingsValid}}
  {{/if}}

  {{#if siteSettings.enable_imap}}
    <div class="group-manage-email-imap-wrapper">
      <br>

      <h3>{{i18n "groups.manage.email.imap_title"}}</h3>
      <p>
        {{html-safe (i18n "groups.manage.email.imap_instructions")}}
      </p>

      <div class="alert alert-warning">{{i18n "groups.manage.email.imap_alpha_warning"}}</div>

      <label for="enable_imap">
        {{input type="checkbox" disabled=(not enableImapSettings) checked=group.imap_enabled id="enable_imap" change=(action "imapEnabledChange") tabindex="8"}}
        {{i18n "groups.manage.email.enable_imap"}}
      </label>

      {{#if group.imap_enabled}}
        {{group-imap-email-settings group=group imapSettingsValid=imapSettingsValid}}
      {{/if}}
    </div>
  {{/if}}

  <div class="group-manage-email-additional-settings-wrapper">
    <div class="control-group">
      <h3>{{i18n "groups.manage.email.imap_additional_settings"}}</h3>
      <label class="control-group-inline" for="allow_unknown_sender_topic_replies">
        {{input type="checkbox" name="allow_unknown_sender_topic_replies" id="allow_unknown_sender_topic_replies" checked=group.allow_unknown_sender_topic_replies tabindex="13"}}
        <span>{{i18n "groups.manage.email.settings.allow_unknown_sender_topic_replies"}}</span>
      </label>
      <p>{{i18n "groups.manage.email.settings.allow_unknown_sender_topic_replies_hint"}}</p>
    </div>
  </div>

  <br>
  {{group-manage-save-button model=group disabled=(not emailSettingsValid) beforeSave=beforeSave afterSave=afterSave tabindex="15"}}
</div>
