<tr class="group-manage-logs-row">
  <td>
    <DButton @class="btn-default" @action={{action "filter"}} @actionParam={{hash value=log.action key="action"}} @translatedLabel={{log.actionTitle}} />
  </td>

  <td>
    <span>{{avatar log.acting_user imageSize="tiny"}}</span>
    <DButton @class="btn-default" @action={{action "filter"}} @actionParam={{hash value=log.acting_user.username key="acting_user"}} @translatedLabel={{log.acting_user.username}} />
  </td>

  <td>
    {{#if log.target_user}}
      <span>{{avatar log.target_user imageSize="tiny"}}</span>
      <DButton @class="btn-default" @action={{action "filter"}} @actionParam={{hash value=log.target_user.username key="target_user"}} @translatedLabel={{log.target_user.username}} />
    {{/if}}
  </td>

  <td>
    {{#if log.subject}}
      <DButton @class="btn-default" @action={{action "filter"}} @actionParam={{hash value=log.subject key="subject"}} @translatedLabel={{log.subject}} />
    {{/if}}
  </td>

  <td>{{bound-date log.created_at}}</td>

  <td class="group-manage-logs-expand-details">
    {{#if log.prev_value}}
      <DButton @action={{action "toggleDetails"}} @icon={{if expandDetails "angle-up" "angle-down"}} />
    {{/if}}
  </td>
</tr>

{{#if expandDetails}}
  <tr>
    <td colspan="6">
      <p>
        <strong>{{i18n "groups.manage.logs.from"}}</strong>: <code>{{log.prev_value}}</code>
      </p>

      <p>
        <strong>{{i18n "groups.manage.logs.to"}}</strong>: <code>{{log.new_value}}</code>
      </p>
    </td>
  </tr>
{{/if}}
