{{!-- template-lint-disable no-down-event-binding --}}

<div class="horizontal-overflow-nav {{if this.hasScroll "has-scroll"}}">
  {{#if this.hasScroll}}
    <a
      role="button"
      {{on "mousedown" this.horizScroll}}
      data-direction="left"
      class="nav-overflow__scroll-left btn-flat {{if this.hideLeftScroll "transparent"}}"
    >
      {{d-icon "chevron-left"}}
    </a>
  {{/if}}

  <ul
    {{on-resize this.checkScroll}}
    {{on "scroll" this.watchScroll}}
    {{did-insert this.scrollToActive}}
    class="nav-pills action-list"
  >
    {{yield}}
  </ul>

  {{#if this.hasScroll}}
    <a
      role="button"
      {{on "mousedown" this.horizScroll}}
      class="nav-overflow__scroll-right btn-flat {{if this.hideRightScroll "transparent"}}"
    >
      {{d-icon "chevron-right"}}
    </a>
  {{/if}}
</div>
