{{plugin-outlet name="above-latest-topic-list-item" connectorTagName="div"}}
<div class="topic-poster">
  {{#user-link user=topic.lastPosterUser}}
    {{avatar topic.lastPosterUser imageSize="large"}}
  {{/user-link}}
  {{user-avatar-flair user=topic.lastPosterUser}}
</div>
<div class="main-link">
  <div class="top-row">
    {{raw "topic-status" topic=topic}}
    {{topic-link topic}}
    {{#if topic.featured_link}}
      {{topic-featured-link topic}}
    {{/if}}
    {{topic-post-badges unreadPosts=topic.unread_posts unseen=topic.unseen url=topic.lastUnreadUrl}}
  </div>
  <div class="bottom-row">
    {{category-link topic.category}}{{discourse-tags topic mode="list"}}{{! intentionally inline to avoid whitespace}}
  </div>
</div>
<div class="topic-stats">
  {{raw "list/posts-count-column" topic=topic tagName="div"}}
  <div class="topic-last-activity">
    <a href={{topic.lastPostUrl}} title={{topic.bumpedAtTitle}}>{{format-date topic.bumpedAt format="tiny" noTitle="true"}}</a>
  </div>
</div>
