{{#if routeParam}}
  <LinkTo @route={{route}} @model={{routeParam}}>{{contents}}</LinkTo>
{{else if route}}
  <LinkTo @route={{route}}>{{contents}}</LinkTo>
{{else}}
  <a href={{get-url path}} data-auto-route="true">{{contents}}</a>
{{/if}}
