{{#unless isHidden}}
  {{plugin-outlet name="category-list-above-each-category" args=(hash category=category)}}
  <tr data-category-id={{category.id}} data-notification-level={{category.notificationLevelString}} class="{{if category.description_excerpt "has-description" "no-description"}} {{if category.uploaded_logo.url "has-logo" "no-logo"}}">
    <td class="category {{if isMuted "muted"}} {{if noCategoryStyle "no-category-style"}}" style={{unless noCategoryStyle (concat (border-color category.color) (category-color-variable category.color))}}>
      {{category-title-link category=category}}
      {{plugin-outlet name="below-category-title-link" connectorTagName="div" args=(hash category=category)}}
      {{#if category.description_excerpt}}
        <div class="category-description">
          {{dir-span category.description_excerpt htmlSafe="true"}}
        </div>
      {{/if}}
      {{#if category.isGrandParent}}
        <table class="category-list subcategories-with-subcategories">
          <tbody>
            {{#each category.subcategories as |subcategory|}}
              {{sub-category-row category=subcategory listType=listType}}
            {{/each}}
          </tbody>
        </table>
      {{else if category.subcategories}}
        <div class="subcategories">
          {{#each category.subcategories as |subcategory|}}
            {{sub-category-item category=subcategory listType=listType}}
          {{/each}}
        </div>
      {{/if}}
    </td>
    <td class="topics">
      <div title={{category.statTitle}}>{{html-safe category.stat}}</div>
      {{category-unread category=category tagName="div" class="unread-new"}}
    </td>
    {{#unless isMuted}}
      {{#if showTopics}}
        <td class="latest">
          {{#each category.featuredTopics as |t|}}
            {{featured-topic topic=t}}
          {{/each}}
        </td>
      {{/if}}
    {{/unless}}
  </tr>
{{/unless}}
