{{#if this.filteredHistories}}
  <table class="reviewable-histories">
    <thead>
      <tr>
        <th colspan="3">{{i18n "review.history.title"}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.filteredHistories as |rh|}}
        {{#unless rh.created}}
          <tr>
            <td>
              {{reviewable-history-description rh}}
            </td>
            <td>
              <UserLink @user={{this.rs.user}}>
                {{avatar rh.created_by imageSize="tiny"}}
                {{rh.created_by.username}}
              </UserLink>
            </td>
            <td>{{format-date rh.created_at format="medium"}}</td>
          </tr>
        {{/unless}}
      {{/each}}
    </tbody>
  </table>
{{/if}}