<ReviewableTopicLink @reviewable={{reviewable}} @tagName="">
  <div class="title-text">
    {{d-icon "plus-square" title="review.new_topic"}}
    {{reviewable.payload.title}}
  </div>
  {{category-badge reviewable.category}}
  <ReviewableTags @tags={{reviewable.payload.tags}} @tagName="" />
  {{#if reviewable.payload.via_email}}
    <a href {{action "showRawEmail"}} class="show-raw-email">
      {{d-icon "far-envelope" title="post.via_email"}}
    </a>
  {{/if}}
</ReviewableTopicLink>

<div class="post-contents-wrapper">
  <ReviewableCreatedBy @user={{reviewable.created_by}} @tagName="" />

  <div class="post-contents">
    <ReviewablePostHeader @reviewable={{reviewable}} @createdBy={{reviewable.created_by}} @tagName="" />

    {{cook-text
      reviewable.payload.raw
      class="post-body"
      categoryId=reviewable.category_id
      topicId=reviewable.topic_id
      paintOneboxes=true
      opts=(hash removeMissing=true)
    }}

    {{yield}}
  </div>
</div>
