<tr class="reviewable-score">
  <td class="user">
    <UserLink @user={{this.rs.user}}>
      {{avatar this.rs.user imageSize="tiny"}}
      {{this.rs.user.username}}
    </UserLink>
  </td>

  <td>
    {{format-date this.rs.created_at format="tiny"}}
  </td>

  <td>
    {{d-icon this.rs.score_type.icon}}
    {{this.title}}
  </td>

  {{#if this.showStatus}}
    <td class="reviewed-by">
      {{#if this.rs.reviewed_by}}
        <UserLink @user={{this.rs.reviewed_by}}>
          {{avatar this.rs.reviewed_by imageSize="tiny"}}
          {{this.rs.reviewed_by.username}}
        </UserLink>
      {{else}}
        &mdash;
      {{/if}}
    </td>

    <td>
      {{#if this.rs.reviewed_by}}
        {{format-date this.rs.reviewed_at format="tiny"}}
      {{/if}}
    </td>

    <td>
      {{reviewable-status this.rs.status}}
    </td>

  {{else}}
    <td colspan="4"></td>
  {{/if}}
</tr>

{{#if this.rs.reason}}
  <tr>
    <td colspan="7">
      <div class="reviewable-score-reason">{{html-safe this.rs.reason}}</div>
    </td>
  </tr>
{{/if}}

{{#if this.rs.reviewable_conversation}}
  <tr>
    <td colspan="7">
      <div class="reviewable-conversation">
        {{#each
          this.rs.reviewable_conversation.conversation_posts
          as |p index|
        }}
          <ReviewableConversationPost @post={{p}} @index={{index}} />
        {{/each}}
        <div class="controls">
          <a
            href={{this.rs.reviewable_conversation.permalink}}
            class="btn btn-small"
          >
            {{i18n "review.conversation.view_full"}}
          </a>
        </div>
      </div>
    </td>
  </tr>
{{/if}}