<summary>
  {{i18n "search.advanced.title"}}
</summary>
<div class="search-advanced-filters">
  <div class="search-advanced-options">
    <PluginOutlet
      @name="advanced-search-options-above"
      @connectorTagName="div"
      @outletArgs={{hash
        searchedTerms=this.searchedTerms
        onChangeSearchedTermField=this.onChangeSearchedTermField
      }}
    />

    <div class="control-group advanced-search-category">
      <label class="control-label">{{i18n
          "search.advanced.in_category.label"
        }}</label>
      <div class="controls">
        <SearchAdvancedCategoryChooser
          @id="search-in-category"
          @value={{this.searchedTerms.category.id}}
          @onChange={{action "onChangeSearchTermForCategory"}}
        />
      </div>
    </div>

    {{#if this.siteSettings.tagging_enabled}}
      <div class="control-group advanced-search-tags">
        <label class="control-label">{{i18n
            "search.advanced.with_tags.label"
          }}</label>
        <div class="controls">
          <TagChooser
            @id="search-with-tags"
            @tags={{this.searchedTerms.tags}}
            @everyTag={{true}}
            @unlimitedTagCount={{true}}
            @onChange={{action "onChangeSearchTermForTags"}}
            @options={{hash
              allowAny=false
              headerAriaLabel=(i18n "search.advanced.with_tags.aria_label")
            }}
          />
          {{#if this.showAllTagsCheckbox}}
            <section class="field">
              <label>
                <Input
                  @type="checkbox"
                  class="all-tags"
                  @checked={{this.searchedTerms.special.all_tags}}
                  {{on
                    "click"
                    (action
                      "onChangeSearchTermForAllTags" value="target.checked"
                    )
                  }}
                />
                {{i18n "search.advanced.filters.all_tags"}}
              </label>
            </section>
          {{/if}}
        </div>
      </div>
    {{/if}}

    <div class="control-group advanced-search-topics-posts">
      <div class="controls">
        <fieldset class="grouped-control">
          <legend class="grouped-control-label">{{i18n
              "search.advanced.filters.label"
            }}</legend>

          {{#if this.currentUser}}
            <div class="grouped-control-field">
              <Input
                id="matching-title-only"
                @type="checkbox"
                class="in-title"
                @checked={{this.searchedTerms.special.in.title}}
                {{on
                  "click"
                  (action
                    "onChangeSearchTermForSpecialInTitle" value="target.checked"
                  )
                }}
              />
              <label for="matching-title-only">
                {{i18n "search.advanced.filters.title"}}
              </label>
            </div>

            <div class="grouped-control-field">
              <Input
                id="matching-liked"
                @type="checkbox"
                class="in-likes"
                @checked={{this.searchedTerms.special.in.likes}}
                {{on
                  "click"
                  (action
                    "onChangeSearchTermForSpecialInLikes" value="target.checked"
                  )
                }}
              />
              <label for="matching-liked">{{i18n
                  "search.advanced.filters.likes"
                }}</label>
            </div>

            <div class="grouped-control-field">
              <Input
                id="matching-in-messages"
                @type="checkbox"
                class="in-private"
                @checked={{this.searchedTerms.special.in.messages}}
                {{on
                  "click"
                  (action
                    "onChangeSearchTermForSpecialInMessages"
                    value="target.checked"
                  )
                }}
              />
              <label for="matching-in-messages">{{i18n
                  "search.advanced.filters.private"
                }}</label>
            </div>

            <div class="grouped-control-field">
              <Input
                id="matching-seen"
                @type="checkbox"
                class="in-seen"
                @checked={{this.searchedTerms.special.in.seen}}
                {{on
                  "click"
                  (action
                    "onChangeSearchTermForSpecialInSeen" value="target.checked"
                  )
                }}
              />
              <label for="matching-seen">{{i18n
                  "search.advanced.filters.seen"
                }}</label>
            </div>
          {{/if}}

          <ComboBox
            @id="in"
            @valueProperty="value"
            @content={{this.inOptions}}
            @value={{this.searchedTerms.in}}
            @onChange={{action "onChangeSearchTermForIn"}}
            @options={{hash none="user.locale.any" clearable=true}}
          />
        </fieldset>
      </div>
    </div>

    <div class="control-group advanced-search-topic-status">
      <label class="control-label">{{i18n
          "search.advanced.statuses.label"
        }}</label>
      <div class="controls">
        <ComboBox
          @id="search-status-options"
          @valueProperty="value"
          @content={{this.statusOptions}}
          @value={{this.searchedTerms.status}}
          @onChange={{action "onChangeSearchTermForStatus"}}
          @options={{hash
            none="user.locale.any"
            headerAriaLabel=(i18n "search.advanced.statuses.label")
            clearable=true
          }}
        />
      </div>
    </div>

    <div class="control-group advanced-search-posted-by">
      <label class="control-label">
        {{i18n "search.advanced.posted_by.label"}}
      </label>
      <div class="controls">
        <UserChooser
          @id="search-posted-by"
          @value={{this.searchedTerms.username}}
          @onChange={{action "onChangeSearchTermForUsername"}}
          @options={{hash
            headerAriaLabel=(i18n "search.advanced.posted_by.aria_label")
            maximum=1
            excludeCurrentUser=false
          }}
        />
      </div>
    </div>

    <div class="control-group advanced-search-posted-date">
      <label class="control-label">{{i18n
          "search.advanced.post.time.label"
        }}</label>
      <div class="controls inline-form full-width">
        <ComboBox
          @id="postTime"
          @valueProperty="value"
          @content={{this.postTimeOptions}}
          @value={{this.searchedTerms.time.when}}
          @onChange={{action "onChangeWhenTime"}}
          @options={{hash
            headerAriaLabel=(i18n "search.advanced.post.time.aria_label")
          }}
        />
        <DateInput
          @date={{this.searchedTerms.time.days}}
          @onChange={{action "onChangeWhenDate"}}
          @inputId="search-post-date"
        />
      </div>
    </div>

    <PluginOutlet
      @name="advanced-search-options-below"
      @connectorTagName="div"
      @outletArgs={{hash
        searchedTerms=this.searchedTerms
        onChangeSearchedTermField=this.onChangeSearchedTermField
      }}
    />
  </div>

  <details class="search-advanced-additional-options">
    <summary>
      {{i18n "search.advanced.additional_options.label"}}
    </summary>
    <div class="count-group control-group">
      {{! TODO: Using a label here fails no-nested-interactive lint rule }}
      <span class="control-label">{{i18n
          "search.advanced.post.count.label"
        }}</span>
      <div class="controls">
        <Input
          @type="number"
          @value={{readonly this.searchedTerms.min_posts}}
          class="input-small"
          id="search-min-post-count"
          placeholder={{i18n "search.advanced.post.min.placeholder"}}
          aria-label={{i18n "search.advanced.post.min.aria_label"}}
          {{on
            "input"
            (action "onChangeSearchTermMinPostCount" value="target.value")
          }}
        />
        {{d-icon "arrows-alt-h"}}
        <Input
          @type="number"
          @value={{readonly this.searchedTerms.max_posts}}
          class="input-small"
          id="search-max-post-count"
          placeholder={{i18n "search.advanced.post.max.placeholder"}}
          aria-label={{i18n "search.advanced.post.max.aria_label"}}
          {{on
            "input"
            (action "onChangeSearchTermMaxPostCount" value="target.value")
          }}
        />
      </div>
    </div>

    <div class="count-group control-group">
      {{! TODO: Using a label here fails no-nested-interactive lint rule }}
      <span class="control-label">{{i18n "search.advanced.views.label"}}</span>
      <div class="controls">
        <Input
          @type="number"
          @value={{readonly this.searchedTerms.min_views}}
          class="input-small"
          id="search-min-views"
          placeholder={{i18n "search.advanced.min_views.placeholder"}}
          aria-label={{i18n "search.advanced.min_views.aria_label"}}
          {{on
            "input"
            (action "onChangeSearchTermMinViews" value="target.value")
          }}
        />
        {{d-icon "arrows-alt-h"}}
        <Input
          @type="number"
          @value={{readonly this.searchedTerms.max_views}}
          class="input-small"
          id="search-max-views"
          placeholder={{i18n "search.advanced.max_views.placeholder"}}
          aria-label={{i18n "search.advanced.max_views.aria_label"}}
          {{on
            "input"
            (action "onChangeSearchTermMaxViews" value="target.value")
          }}
        />
      </div>
    </div>
  </details>

  {{#if this.site.mobileView}}
    <div class="second-search-button">
      <DButton
        @action={{this.search}}
        @icon="search"
        @label="search.search_button"
        @class="btn-primary search-cta"
        @ariaLabel="search.search_button"
        @disabled={{this.searchButtonDisabled}}
      />
    </div>
  {{/if}}
</div>