<div class="fps-result-entries" role="list">
  {{#each posts as |post|}}
    <SearchResultEntry @post={{post}} @bulkSelectEnabled={{bulkSelectEnabled}} @selected={{selected}} @highlightQuery={{highlightQuery}} @searchLogId={{searchLogId}} />
  {{/each}}
</div>
