<div id="second-factor">
  <h3>{{this.secondFactorTitle}}</h3>
  {{#if this.optionalText}}
    <p>{{html-safe this.optionalText}}</p>
  {{/if}}
  <p>{{this.secondFactorDescription}}</p>
  {{yield}}
  {{#if this.showToggleMethodLink}}
    <p>
      <a
        href
        class="toggle-second-factor-method"
        {{on "click" this.toggleSecondFactorMethod}}
      >{{i18n this.linkText}}</a>
    </p>
  {{/if}}
</div>