<div class="header">
  <h3 class="title">{{html-safe shareTitle}}</h3>
</div>

<div class="body">
  <DTextarea @value={{shareUrl}} @class="topic-share-url" @aria-label={{I18n "share.url"}} />

  <div class="sources">
    {{#each sources as |source|}}
      <ShareSource @source={{source}} @title={{topic.title}} @action={{action "share"}} />
    {{/each}}
  </div>
</div>
