<div class="title">
  <h3>{{html-safe shareTitle}}</h3>

  {{#if date}}
    <span class="date">{{displayDate}}</span>
  {{/if}}

  {{d-button
    action=(action "close")
    class="btn btn-flat close"
    icon="times"
    aria-label="share.close"
    title="share.close"
  }}
</div>

<div class="link-share-container">
  <input class="share-link-input" type="text" aria-label={{i18n "share.url"}}> {{copy-button selector="input.share-link-input"}}
</div>

<div class="link-share-actions">
  <div class="sources">
    {{#each sources as |s|}}
      {{share-source source=s title=model.title action=(action "share")}}
    {{/each}}
  </div>

  <div class="alt-actions">
    {{#if topic.details.can_reply_as_new_topic}}
      {{#if topic.isPrivateMessage}}
        {{d-button
          action=(action "replyAsNewTopic")
          class="btn btn-default new-topic"
          icon="plus"
          aria-label="post.reply_as_new_private_message"
          title="post.reply_as_new_private_message"
          label="user.new_private_message"
        }}
      {{else}}
        {{d-button
          action=(action "replyAsNewTopic")
          class="btn btn-default new-topic"
          icon="plus"
          aria-label="post.reply_as_new_topic"
          title="post.reply_as_new_topic"
          label="topic.create"
        }}
      {{/if}}
    {{/if}}

  </div>
</div>
