<DSection @pageClass="has-sidebar" @class="sidebar-container" @scrollTop={{false}}>
  <div class="sidebar-scroll-wrap">
    <Sidebar::TopicsSection />
    <Sidebar::CategoriesSection />

    {{#if this.siteSettings.tagging_enabled}}
      <Sidebar::TagsSection />
    {{/if}}

    {{#if this.siteSettings.enable_personal_messages}}
      <Sidebar::MessagesSection />
    {{/if}}

    {{#each this.computedCustomSections as |customSection|}}
      <Sidebar::Section
        @sectionName={{customSection.name}}
        @headerRoute={{customSection.route}}
        @headerLinkText={{customSection.text}}
        @headerLinkTitle={{customSection.title}}
        @headerActionIcon={{customSection.actionIcon}}
        @headerAction={{customSection.action}}
        @headerActionTitle={{customSection.actionTitle}}>

        {{#each customSection.links as |link|}}
          <Sidebar::SectionLink
          @linkName={{link.name}}
          @route={{link.route}}
          @title={{link.title}}
          @content={{link.text}} />
        {{/each}}
      </Sidebar::Section>
    {{/each}}

    {{!-- DO NOT USE, this outlet is temporary and will be removed. --}}
    {{!-- Outlet will be replaced with sidebar API. --}}
    <PluginOutlet @name="after-sidebar" />
  </div>
</DSection>
