{{#d-section pageClass="has-sidebar" class="sidebar-wrapper"}}
  <div class="sidebar-container">
    <Sidebar::TopicsSection />
    <Sidebar::CategoriesSection />

    {{#each computedCustomSections as |customSection|}}
      <Sidebar::Section
        @sectionName="topics"
        @headerRoute={{customSection.header.route}}
        @headerLinkText={{customSection.header.text}}
        @headerLinkTitle={{customSection.header.title}}
        @headerActionIcon={{customSection.header.actionIcon}}
        @headerAction={{customSection.header.action}}
        @headerActionTitle={{customSection.header.actionTitle}}>
        {{#each customSection.links as |link|}}
          <Sidebar::SectionLink
          @linkName={{link.name}}
          @route={{link.route}}
          @title={{link.title}}
          @content={{link.text}} />
        {{/each}}
      </Sidebar::Section>
    {{/each}}
  </div>
{{/d-section}}
