<div class="sidebar-wrapper">
  {{#if this.shouldDisplay}}
    <div class="sidebar-container">
      <button type="button" class="sidebar-toggle" {{on "click" this.hide}}>
        {{d-icon "angle-double-left"}}
      </button>
    </div>
  {{else}}
    <button type="button" class="sidebar-toggle" {{on "click" this.show}}>
      {{d-icon "angle-double-right"}}
    </button>
  {{/if}}
</div>
