<div class="wrap">
  <div class="update-prompt-main-content" aria-live="polite">
    <span role="button" onclick={{action "refreshPage"}} class="update-prompt-message">{{d-icon "redo"}} {{html-safe (i18n "software_update_prompt")}}</span>
    <span class="update-prompt-dismiss"><span role="button" onclick={{action "dismiss"}}>{{d-icon "times"}}</span></span>
  </div>
</div>
