{{#each this.categories as |category|}}
  <table class="category-list subcategory-list with-topics">
    <thead>
      <tr>
        <th class="parent-category">
          <CategoryTitleLink @category={{category}} />
          <span class="stat" title={{category.statTitle}}>{{html-safe
              category.stat
            }}</span>
        </th>
        <th class="topics">{{i18n "categories.topics"}}</th>
        <th class="latest">{{i18n "categories.latest"}}</th>
      </tr>
    </thead>
    <tbody aria-labelledby="categories-only-category">
      {{#each category.subcategories as |subCategory|}}
        <ParentCategoryRow @category={{subCategory}} @showTopics={{true}} />
      {{else}}
        {{! No subcategories... so just show the parent to avoid confusion }}
        <ParentCategoryRow @category={{category}} @showTopics={{true}} />
      {{/each}}
    </tbody>
  </table>
{{/each}}