<section class="tag-info">
  {{#if tagInfo}}
    <div class="tag-name">
      {{#if editing}}
        <div class="edit-tag-wrapper">
          {{text-field id="edit-name" value=(readonly tagInfo.name) maxlength=siteSettings.max_tag_length input=(action (mut newTagName) value="target.value") autofocus="true"}}
          {{text-field id="edit-description" value=(readonly tagInfo.description) placeholder=(i18n "tagging.description") maxlength=280 input=(action (mut newTagDescription) value="target.value") autofocus="true"}}

          <div class="edit-controls">
            {{#unless updateDisabled}}
              {{d-button action=(action "finishedEditing") class="btn-primary submit-edit" icon="check" ariaLabel="tagging.save"}}
            {{/unless}}
            {{d-button action=(action "cancelEditing") class="btn-default cancel-edit" icon="times" ariaLabel="cancel"}}
          </div>
        </div>
      {{else}}
        <div class="tag-name-wrapper">
          {{discourse-tag tagInfo.name tagName="div"}}
          {{#if canAdminTag}}
            <a href {{action "edit"}} class="edit-tag" title={{i18n "tagging.edit_tag"}}>{{d-icon "pencil-alt"}}</a>
          {{/if}}
        </div>
        <div class="tag-description-wrapper">
          {{tagInfo.description}}
        </div>
      {{/if}}
    </div>
    <div class="tag-associations">
      {{#if tagInfo.tag_group_names}}
        {{tagGroupsInfo}}
      {{/if}}
      {{#if tagInfo.categories}}
        {{categoriesInfo}}
        <br>
        {{#each tagInfo.categories as |category|}}
          {{category-link category}}
        {{/each}}
      {{/if}}
      {{#if nothingToShow}}
        {{#if tagInfo.category_restricted}}
          {{i18n "tagging.category_restricted"}}
        {{else}}
          {{html-safe (i18n "tagging.default_info")}}
          {{#if canAdminTag}}
            {{html-safe (i18n "tagging.staff_info" basePath=(base-path))}}
          {{/if}}
        {{/if}}
      {{/if}}
    </div>
    {{#if tagInfo.synonyms}}
      <div class="synonyms-list">
        <h3>{{i18n "tagging.synonyms"}}</h3>
        <div>{{html-safe (i18n "tagging.synonyms_description" base_tag_name=tagInfo.name)}}</div>
        <div class="tag-list">
          {{#each tagInfo.synonyms as |tag|}}
            <div class="tag-box">
              {{discourse-tag tag.id pmOnly=tag.pmOnly tagName="div"}}
              {{#if editSynonymsMode}}
                <a href {{action "unlinkSynonym" tag}} class="unlink-synonym">
                  {{d-icon "unlink" title="tagging.remove_synonym"}}
                </a>
                <a href {{action "deleteSynonym" tag}} class="delete-synonym">
                  {{d-icon "far-trash-alt" title="tagging.delete_tag"}}
                </a>
              {{/if}}
            </div>
          {{/each}}
        </div>
      </div>
    {{/if}}
    {{#if editSynonymsMode}}
      <section class="add-synonyms field">
        <label for="add-synonyms">{{i18n "tagging.add_synonyms_label"}}</label>
        <div>
          {{tag-chooser
            id="add-synonyms"
            tags=newSynonyms
            blockedTags=(array tagInfo.name)
            everyTag=true
            excludeSynonyms=true
            excludeHasSynonyms=true
            unlimitedTagCount=true}}
          {{d-button
            class="ok"
            action=(action "addSynonyms")
            disabled=addSynonymsDisabled
            icon="check"}}
        </div>
      </section>
    {{/if}}
    {{#if canAdminTag}}
      {{plugin-outlet name="tag-custom-settings" args=(hash tag=tagInfo) tagName="section"}}
      <div class="tag-actions">
        {{d-button class="btn-default" action=(action "toggleEditControls") icon="cog" label="tagging.edit_synonyms" id="edit-synonyms"}}
        {{#if deleteAction}}
          {{d-button class="btn-danger delete-tag" action=(action "deleteTag") icon="far-trash-alt" label="tagging.delete_tag" id="delete-tag"}}
        {{/if}}
      </div>
    {{/if}}
  {{/if}}
  {{#if loading}}
    <div>{{i18n "loading"}}</div>
  {{/if}}
</section>
