{{#if title}}
  <h3>{{title}}</h3>
{{/if}}
{{#if category}}
  {{category-title-link category=category}}
{{/if}}
{{#if tagGroupName}}
  <h3>{{tagGroupName}}</h3>
{{/if}}
{{#each sortedTags as |tag|}}
  <div class="tag-box">
    {{discourse-tag tag.id description=tag.description isPrivateMessage=isPrivateMessage pmOnly=tag.pmOnly tagsForUser=tagsForUser}} {{#if tag.pmOnly}}{{d-icon "far-envelope"}}{{/if}}{{#if tag.totalCount}} <span class="tag-count">x {{tag.totalCount}}</span>{{/if}}
  </div>
{{/each}}
<div class="clearfix"></div>
