<div class="topic-footer-main-buttons">
  {{topic-admin-menu-button
    topic=topic
    openUpwards="true"
    toggleMultiSelect=toggleMultiSelect
    showTopicSlowModeUpdate=showTopicSlowModeUpdate
    deleteTopic=deleteTopic
    recoverTopic=recoverTopic
    toggleFeaturedOnProfile=toggleFeaturedOnProfile
    toggleClosed=toggleClosed
    toggleArchived=toggleArchived
    toggleVisibility=toggleVisibility
    showTopicTimerModal=showTopicTimerModal
    showFeatureTopic=showFeatureTopic
    showChangeTimestamp=showChangeTimestamp
    resetBumpDate=resetBumpDate
    convertToPublicTopic=convertToPublicTopic
    convertToPrivateMessage=convertToPrivateMessage
  }}

  {{#if site.mobileView}}
    {{topic-footer-mobile-dropdown topic=topic content=dropdownButtons}}
  {{/if}}

  {{#each inlineActionables as |actionable|}}
    {{#if (eq actionable.type "inline-button")}}
      {{d-button
        id=(concat "topic-footer-button-" actionable.id)
        class=(concat "btn-default topic-footer-button " actionable.classNames)
        action=actionable.action
        icon=actionable.icon
        translatedLabel=actionable.label
        translatedTitle=actionable.title
        translatedAriaLabel=actionable.ariaLabel
        disabled=actionable.disabled
      }}
    {{else}}
      {{dropdown-select-box
        id=(concat "topic-footer-dropdown-" actionable.id)
        value=actionable.value
        class=(concat "topic-footer-dropdown " actionable.classNames)
        content=actionable.content
        onChange=(action actionable.action)
        options=(hash
          icon=actionable.icon
          none=actionable.noneItem
          disabled=actionable.disabled
        )
      }}
    {{/if}}
  {{/each}}

  {{plugin-outlet name="topic-footer-main-buttons-before-create"
                  args=(hash topic=topic)
                  connectorTagName="span"}}

  {{#if topic.details.can_create_post}}
    {{d-button class="btn-primary create"
               icon="reply"
               action=replyToPost
               label="topic.reply.title"
               title="topic.reply.help"}}
  {{/if}}

  {{plugin-outlet name="after-topic-footer-main-buttons"
                  args=(hash topic=topic)
                  connectorTagName="span"}}
</div>

{{pinned-button pinned=topic.pinned topic=topic}}

{{#if showNotificationsButton}}
  {{topic-notifications-button
    notificationLevel=topic.details.notification_level
    topic=topic
  }}
{{/if}}

{{plugin-outlet name="after-topic-footer-buttons"
                args=(hash topic=topic)
                connectorTagName="span"}}
