{{#if unreadPosts}}
  &nbsp;<a href={{url}} title={{i18n "topic.unread_posts" count=unreadPosts}} class="badge badge-notification unread-posts">{{unreadPosts}}</a>
{{/if}}
{{#if unseen}}
  &nbsp;<a href={{url}} title={{i18n "topic.new"}} class="badge badge-notification new-topic">{{newDotText}}</a>
{{/if}}
