{{#if includeAvatar}}
  <div class="user-image">
    <div class="user-image-inner">
      <a href={{this.userPath}} data-user-card={{@user.username}}>{{avatar @user imageSize="large"}}</a>
      {{user-avatar-flair user=@user}}
    </div>
  </div>
{{/if}}

<div class="user-detail">
  <div class="name-line">
    <span class={{if nameFirst "name bold" "username bold"}}>
      {{#if includeLink}}
        <a href={{this.userPath}} data-user-card={{@user.username}}>
          {{if nameFirst this.name (format-username @user.username)}}
        </a>
      {{else}}
        {{if nameFirst this.name (format-username @user.username)}}
      {{/if}}
    </span>
    <span class={{if nameFirst "username margin" "name margin"}}>
      {{#if includeLink}}
        <a href={{this.userPath}} data-user-card={{@user.username}}>
          {{if nameFirst (format-username @user.username) this.name}}
        </a>
      {{else}}
        {{if nameFirst (format-username @user.username) this.name}}
      {{/if}}
    </span>
    {{plugin-outlet name="after-user-name" tagName="span" connectorTagName="span" args=(hash user=user)}}
  </div>
  <div class="title">{{@user.title}}</div>

  {{#if hasBlock}}
    <div class="details">
      {{yield}}
    </div>
  {{/if}}

</div>

{{plugin-outlet name="after-user-info" tagName="span" connectorTagName="div" args=(hash user=user)}}
