<tr class="day {{dayLabel}}">
  <td class="day-label">{{dayLabel}}</td>
  <td class="starts-at">
    <ComboBox @valueProperty="value" @content={{startTimeOptions}} @value={{startTimeValue}} @onChange={{onChangeStartTime}} />
  </td>
  {{#if endTimeOptions}}
    <td class="to">{{i18n "user.notification_schedule.to"}}</td>
    <td class="ends-at">
      <ComboBox @valueProperty="value" @content={{endTimeOptions}} @value={{endTimeValue}} @onChange={{onChangeEndTime}} />
    </td>
  {{/if}}
</tr>
