<span class="user-status-message">
  {{emoji @status.emoji skipTitle=true}}
  {{#if @showDescription}}
    <span class="user-status-message-description">
      {{@status.description}}
    </span>
  {{/if}}
  {{#if this.showTooltip}}
    <DTooltip>
      <div class="user-status-message-tooltip">
        {{emoji @status.emoji skipTitle=true}}
        <span class="user-status-tooltip-description">
          {{@status.description}}
        </span>
        {{#if this.until}}
          <div class="user-status-tooltip-until">
            {{this.until}}
          </div>
        {{/if}}
      </div>
    </DTooltip>
  {{/if}}
</span>