{{#if this.includeAvatar}}
  <div class="user-image">
    <div class="user-image-inner">
      <a href={{this.userPath}} data-user-card={{@user.username}}>{{avatar
          @user
          imageSize="large"
        }}</a>
      <UserAvatarFlair @user={{@user}} />
    </div>
  </div>
{{/if}}

<div class="user-detail">
  <div class="name-line">
    <span class={{if this.nameFirst "name bold" "username bold"}}>
      {{#if this.includeLink}}
        <a href={{this.userPath}} data-user-card={{@user.username}}>
          {{if this.nameFirst @user.name (format-username @user.username)}}
        </a>
      {{else}}
        {{if this.nameFirst @user.name (format-username @user.username)}}
      {{/if}}
    </span>
    <span class={{if this.nameFirst "username margin" "name margin"}}>
      {{#if this.includeLink}}
        <a href={{this.userPath}} data-user-card={{@user.username}}>
          {{if this.nameFirst (format-username @user.username) @user.name}}
        </a>
      {{else}}
        {{if this.nameFirst (format-username @user.username) @user.name}}
      {{/if}}
    </span>
    {{#if (and @showStatus @user.status)}}
      <UserStatusMessage
        @status={{@user.status}}
        @showDescription={{@showStatusDescription}}
        @showTooltip={{@showStatusTooltip}}
      />
    {{/if}}
    <span>
      <PluginOutlet
        @name="after-user-name"
        @connectorTagName="span"
        @outletArgs={{hash user=this.user}}
      />
    </span>
  </div>
  <div class="title">{{@user.title}}</div>

  {{#if (has-block)}}
    <div class="details">
      {{yield}}
    </div>
  {{/if}}

</div>

<span>
  <PluginOutlet
    @name="after-user-info"
    @connectorTagName="div"
    @outletArgs={{hash user=this.user}}
  />
</span>