<div class="user-status-picker-wrap">
  <div
    class="emoji-picker-anchor user-status-picker
      {{if this.isFocused 'focused'}}"
  >
    <button
      type="button"
      class="btn-emoji btn-flat"
      onclick={{action "toggleEmojiPicker"}}
      {{on "focus" this.focus}}
      {{on "blur" this.blur}}
    >
      {{#if @status.emoji}}
        {{html-safe this.emojiHtml}}
      {{else}}
        {{d-icon "discourse-emojis"}}
      {{/if}}
    </button>
    <Input
      class="user-status-description"
      @value={{@status.description}}
      maxlength="100"
      placeholder={{i18n "user_status.what_are_you_doing"}}
      {{on "input" this.setDefaultEmoji}}
      {{on "focus" this.focus}}
      {{on "blur" this.blur}}
    />
  </div>
</div>
<EmojiPicker
  @isActive={{this.emojiPickerIsActive}}
  @emojiSelected={{action "emojiSelected"}}
  @onEmojiPickerClose={{action "onEmojiPickerOutsideClick"}}
  @placement="bottom"
/>