<AddCategoryTagClasses @category={{this.category}} />

<section class="category-heading">
  {{#if this.category.uploaded_logo.url}}
    <CategoryLogo @category={{this.category}} />
    {{#if this.category.description}}
      <p>{{dir-span this.category.description htmlSafe="true"}}</p>
    {{/if}}
  {{/if}}

  <span>
    <PluginOutlet
      @name="category-heading"
      @connectorTagName="div"
      @outletArgs={{hash category=this.category}}
    />
  </span>
</section>

<DSection @class="navigation-container category-navigation">
  <DNavigation
    @category={{this.category}}
    @filterMode={{this.filterMode}}
    @noSubcategories={{this.noSubcategories}}
    @canCreateTopic={{this.canCreateTopic}}
    @createTopic={{fn
      this.composer.openNewTopic
      (hash category=this.createTopicTargetCategory preferDraft=true)
    }}
    @createTopicDisabled={{not this.enableCreateTopicButton}}
    @hasDraft={{this.currentUser.has_topic_draft}}
    @editCategory={{route-action "editCategory" this.category}}
  />

  <PluginOutlet
    @name="category-navigation"
    @connectorTagName="div"
    @outletArgs={{hash category=this.category}}
  />
</DSection>