<AddCategoryTagClasses @category={{category}} />

<section class="category-heading">
  {{#if category.uploaded_logo.url}}
    <CdnImg @src={{category.uploaded_logo.url}} @class="category-logo" @width={{category.uploaded_logo.width}} @height={{category.uploaded_logo.height}} @alt="" />

    {{#if category.description}}
      <p>{{dir-span category.description htmlSafe="true"}}</p>
    {{/if}}
  {{/if}}

  <PluginOutlet @name="category-heading" @tagName="span" @connectorTagName="div" @args={{hash category=category}} />
</section>

<DSection @class="navigation-container category-navigation">
  <DNavigation @category={{category}} @filterMode={{filterMode}} @noSubcategories={{noSubcategories}} @canCreateTopic={{canCreateTopic}} @createTopic={{route-action "createTopic"}} @createTopicDisabled={{cannotCreateTopicOnCategory}} @hasDraft={{currentUser.has_topic_draft}} @editCategory={{route-action "editCategory" category}} />

  <PluginOutlet @name="category-navigation" @connectorTagName="div" @args={{hash category=category}} />
</DSection>
