<div class="control-group pref-username">
  <label class="control-label">{{i18n 'user.username.title'}}</label>
  <div class="controls">
    <span class='static'>{{model.username}}</span>
    {{#if model.can_edit_username}}
      {{#link-to "preferences.username" class="btn btn-small btn-icon pad-left no-text"}}
      {{d-icon "pencil"}} {{/link-to}}
    {{/if}}
  </div>
  {{#if siteSettings.enable_mentions}}
    <div class='instructions'>
      {{{i18n 'user.username.short_instructions' username=model.username}}}
    </div>
  {{/if}}
</div>

{{#if canEditName}}
  <div class="control-group pref-name">
    <label class="control-label">{{i18n 'user.name.title'}}</label>
    <div class="controls">
      {{#if model.can_edit_name}}
        {{text-field value=newNameInput classNames="input-xxlarge"}}
      {{else}}
        <span class='static'>{{model.name}}</span>
      {{/if}}
    </div>
    <div class='instructions'>
      {{nameInstructions}}
    </div>
  </div>
{{/if}}

{{#if canCheckEmails}}
  <div class="control-group pref-email">
    <label class="control-label">{{i18n 'user.email.title'}}</label>
    {{#if model.email}}
      <div class="controls">
        <span class='static'>{{model.email}}</span>
        {{#if model.can_edit_email}}
          {{#link-to "preferences.email" class="btn btn-small btn-icon pad-left no-text"}}{{d-icon "pencil"}}{{/link-to}}
        {{/if}}
      </div>
      <div class='instructions'>
        {{i18n 'user.email.instructions'}}
      </div>
    {{else}}
      <div class="controls">
        {{d-button action="checkEmail" actionParam=model title="admin.users.check_email.title" icon="envelope-o" label="admin.users.check_email.text"}}
      </div>
    {{/if}}
  </div>
{{/if}}

{{#if canChangePassword}}
<div class="control-group pref-password">
  <label class="control-label">{{i18n 'user.password.title'}}</label>
  <div class="controls">
    <a href {{action "changePassword"}} class='btn'>
      {{d-icon "envelope"}}
      {{#if model.no_password}}
        {{i18n 'user.change_password.set_password'}}
      {{else}}
        {{i18n 'user.change_password.action'}}
      {{/if}}
    </a>

    {{passwordProgress}}
  </div>

  <div class="controls pref-second-factor">
    {{#if model.second_factor_enabled}}
      {{i18n 'user.second_factor.disable'}}
    {{else}}
      {{discourse-linked-text action="showTwoFactorModal" text="user.second_factor.enable"}}
    {{/if}}

    {{#if isCurrentUser}}
      {{#link-to "preferences.second-factor" class="btn btn-small btn-icon pad-left no-text"}}
        {{d-icon "pencil"}}
      {{/link-to}}
    {{/if}}
  </div>

  <div class="controls pref-second-factor-backup">
    {{#if model.second_factor_enabled}}
      {{#if model.second_factor_backup_enabled}}
        {{i18n 'user.second_factor_backup.manage'}}
      {{else}}
        {{i18n 'user.second_factor_backup.enable_long'}}
      {{/if}}

      {{#if isCurrentUser}}
        {{#link-to "preferences.second-factor-backup" class="btn btn-small btn-icon pad-left no-text"}}
          {{d-icon "pencil"}}
        {{/link-to}}
      {{/if}}
    {{/if}}
  </div>
</div>
{{/if}}

<div class="control-group pref-avatar">
  <label class="control-label">{{i18n 'user.avatar.title'}}</label>
  <div class="controls">
    {{! we want the "huge" version even though we're downsizing it to "large" in CSS }}
    {{bound-avatar model "huge"}}
    {{#unless siteSettings.sso_overrides_avatar}}
      {{d-button action="showAvatarSelector" class="pad-left" icon="pencil"}}
    {{/unless}}
  </div>
</div>

{{#if canSelectTitle}}
  <div class="control-group pref-title">
    <label class="control-label">{{i18n 'user.title.title'}}</label>
    <div class="controls">
      {{combo-box
        value=newTitleInput
        content=model.availableTitles
        none="user.title.none"}}
    </div>
  </div>
{{/if}}

{{plugin-outlet name="user-preferences-account" args=(hash model=model save=(action "save"))}}

<br/>

{{plugin-outlet name="user-custom-controls" args=(hash model=model)}}

{{#if canSaveUser}}
  <div class="control-group save-button">
    <div class="controls">
      {{partial 'user/preferences/save-button'}}
    </div>
  </div>
{{/if}}


{{#if model.canDeleteAccount}}
  <div class="control-group delete-account">
    <br/>
    <div class="controls">
      {{d-button action="delete" disabled=deleteDisabled class="btn-danger" icon="trash-o" label="user.delete_account"}}
    </div>
  </div>
{{/if}}
