<section class='user-content'>
  <form class="form-horizontal">

    <div class="control-group">
      <div class="controls">
        <h3>{{i18n user.card_badge.title}}</h3>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"></label>
      <div class="controls">
      {{combo-box valueAttribute="id" value=selectedUserBadgeId nameProperty="badge.displayName" content=selectableUserBadges}}
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <button class="btn btn-primary" {{bind-attr disabled=disableSave}} {{action "save"}}>{{savingStatus}}</button>
        {{#if saved}}{{i18n saved}}{{/if}}
      </div>
    </div>

  </form>
</section>
