{{#unless siteSettings.disable_mailing_list_mode}}
  <div class="warning-wrap">
    {{#if model.user_option.mailing_list_mode}}
      <div class="warning">{{i18n 'user.mailing_list_mode.warning'}}</div>
    {{/if}}
  </div>
{{/unless}}
<div class="control-group pref-email-settings">
  <label class="control-label">{{i18n 'user.email_settings'}}</label>
  <div class='controls controls-dropdown'>
    <label>{{i18n 'user.email_previous_replies.title'}}</label>
    {{combo-box valueAttribute="value" content=previousRepliesOptions value=model.user_option.email_previous_replies}}
  </div>
  {{preference-checkbox labelKey="user.email_in_reply_to" checked=model.user_option.email_in_reply_to}}
  {{preference-checkbox labelKey="user.email_private_messages" checked=model.user_option.email_private_messages}}
  {{preference-checkbox labelKey="user.email_direct" checked=model.user_option.email_direct}}
  {{preference-checkbox labelKey="user.email_always" checked=model.user_option.email_always}}
  {{#unless model.user_option.email_always}}
  <div class='instructions'>
    {{#if siteSettings.email_time_window_mins}}
      {{i18n 'user.email.frequency' count=siteSettings.email_time_window_mins}}
    {{else}}
      {{i18n 'user.email.frequency_immediately'}}
    {{/if}}
  </div>
  {{/unless}}
  {{plugin-outlet name="user-preferences-emails-pref-email-settings" args=(hash model=model save=(action "save"))}}
</div>

{{#unless siteSettings.disable_digest_emails}}
  <div class='control-group pref-activity-summary'>
    <label class="control-label">{{i18n 'user.email_activity_summary'}}</label>
    {{preference-checkbox labelKey="user.email_digests.title" disabled=model.user_option.mailing_list_mode checked=model.user_option.email_digests}}
    {{#if model.user_option.email_digests}}
      <div class='controls controls-dropdown'>
        {{combo-box valueAttribute="value" filterable=true content=digestFrequencies value=model.user_option.digest_after_minutes}}
      </div>
      {{preference-checkbox labelKey="user.include_tl0_in_digests" disabled=model.user_option.mailing_list_mode checked=model.user_option.include_tl0_in_digests}}
    {{/if}}
  </div>
{{/unless}}

{{#unless siteSettings.disable_mailing_list_mode}}
  <div class='control-group pref-mailing-list-mode'>
    <label class="control-label">{{i18n 'user.mailing_list_mode.label'}}</label>
    {{preference-checkbox labelKey="user.mailing_list_mode.enabled" checked=model.user_option.mailing_list_mode}}
    <div class='instructions'>{{{i18n 'user.mailing_list_mode.instructions'}}}</div>
    {{#if model.user_option.mailing_list_mode}}
      <div class='controls controls-dropdown'>
        {{combo-box valueAttribute="value" content=mailingListModeOptions value=model.user_option.mailing_list_mode_frequency}}
      </div>
    {{/if}}
  </div>
{{/unless}}

{{plugin-outlet name="user-preferences-emails" args=(hash model=model save=(action "save"))}}

<br/>

{{plugin-outlet name="user-custom-controls" args=(hash model=model)}}

<div class="control-group save-button">
  <div class="controls">
    {{partial 'user/preferences/save-button'}}
  </div>
</div>
