{{#if canChangeBio}}
<div class="control-group pref-bio">
  <label class="control-label">{{i18n 'user.bio'}}</label>
  <div class="controls bio-composer input-xxlarge">
    {{d-editor value=model.bio_raw}}
  </div>
</div>
{{/if}}

<div class="control-group pref-location">
  <label class="control-label">{{i18n 'user.location'}}</label>
  <div class="controls">
    {{input type="text" value=model.location class="input-xxlarge" id='edit-location'}}
  </div>
</div>

<div class="control-group pref-website">
  <label class="control-label">{{i18n 'user.website'}}</label>
  <div class="controls">
    {{input type="text" value=model.website class="input-xxlarge"}}
  </div>
</div>

{{#each userFields as |uf|}}
  <div class="control-group">
    {{user-field field=uf.field value=uf.value}}
  </div>
{{/each}}
<div class='clearfix'></div>

{{#if siteSettings.allow_profile_backgrounds}}
  <div class="control-group pref-profile-bg">
    <label class="control-label">{{i18n 'user.change_profile_background.title'}}</label>
    <div class="controls">
      {{image-uploader imageUrl=model.profile_background type="profile_background"}}
    </div>
    <div class='instructions'>
      {{i18n 'user.change_profile_background.instructions'}}
    </div>
  </div>

  <div class="control-group pref-profile-bg">
    <label class="control-label">{{i18n 'user.change_card_background.title'}}</label>
    <div class="controls">
      {{image-uploader imageUrl=model.card_background type="card_background"}}
    </div>
    <div class='instructions'>
      {{i18n 'user.change_card_background.instructions'}}
    </div>
  </div>
{{/if}}

{{plugin-outlet name="user-preferences-profile" args=(hash model=model save=(action "save"))}}

{{plugin-outlet name="user-custom-preferences" args=(hash model=model)}}

<br/>

{{plugin-outlet name="user-custom-controls" args=(hash model=model)}}

<div class="control-group save-button">
  <div class="controls">
    {{partial 'user/preferences/save-button'}}
  </div>
</div>
