{{#if siteSettings.tagging_enabled}}
<div class="control-group tag-notifications">

  <label class="control-label">{{i18n 'user.tag_settings'}}</label>

  <div class="controls tag-controls">
    <label>{{d-icon "d-watching" class="icon watching"}} {{i18n 'user.watched_tags'}}</label>
    {{tag-chooser
      tags=model.watched_tags
      blacklist=selectedTags
      filterPlaceholder=null
      allowCreate=false
      everyTag=true
      unlimitedTagCount=true}}
  </div>
  <div class="instructions">{{i18n 'user.watched_tags_instructions'}}</div>

  <div class="controls tag-controls">
    <label>{{d-icon "d-tracking" class="icon tracking"}} {{i18n 'user.tracked_tags'}}</label>
    {{tag-chooser
      tags=model.tracked_tags
      blacklist=selectedTags
      filterPlaceholder=null
      allowCreate=false
      everyTag=true
      unlimitedTagCount=true}}
  </div>
  <div class="instructions">{{i18n 'user.tracked_tags_instructions'}}</div>

  <div class="controls tag-controls">
    <label>{{d-icon "d-watching-first" class="icon watching-first-post"}} {{i18n 'user.watched_first_post_tags'}}</label>
    {{tag-chooser
      tags=model.watching_first_post_tags
      blacklist=selectedTags
      filterPlaceholder=null
      allowCreate=false
      everyTag=true
      unlimitedTagCount=true}}
  </div>
  <div class="instructions">{{i18n 'user.watched_first_post_tags_instructions'}}</div>

  <div class="controls tag-controls">
    <label>{{d-icon "d-muted" class="icon muted"}} {{i18n 'user.muted_tags'}}</label>
    {{tag-chooser
      tags=model.muted_tags
      blacklist=selectedTags
      filterPlaceholder=null
      allowCreate=false
      everyTag=true
      unlimitedTagCount=true}}
  </div>
  <div class="instructions">{{i18n 'user.muted_tags_instructions'}}</div>

</div>

{{plugin-outlet name="user-preferences-tags" args=(hash model=model save=(action "save"))}}

<br/>

{{plugin-outlet name="user-custom-controls" args=(hash model=model)}}

<div class="control-group save-button">
  <div class="controls">
    {{partial 'user/preferences/save-button'}}
  </div>
</div>
{{/if}}
