<label class="control-label">{{i18n 'user.users'}}</label>
<div class="control-group">
  <div class="controls tracking-controls">
    <label>{{d-icon "d-muted" class="``icon"}} {{i18n 'user.muted_users'}}</label>
    {{user-selector excludeCurrentUser=true usernames=model.muted_usernames class="user-selector"}}
  </div>
  <div class="instructions">{{i18n 'user.muted_users_instructions'}}</div>

  {{#if ignoredEnabled}}
    <div class="controls tracking-controls">
      <label>{{d-icon "eye-slash" class="icon"}} {{i18n 'user.ignored_users'}}</label>
      {{user-selector excludeCurrentUser=true
                      usernames=model.ignored_usernames
                      onChangeCallback=(action "ignoredUsernamesChanged")
                      class="user-selector"}}
    </div>
    <div class="instructions">{{i18n 'user.ignored_users_instructions'}}</div>
  {{/if}}
</div>

{{plugin-outlet name="user-preferences-notifications" args=(hash model=model save=(action "save"))}}

<br/>

{{plugin-outlet name="user-custom-controls" args=(hash model=model)}}

<div class="control-group save-button">
  <div class="controls">
    {{partial 'user/preferences/save-button'}}
  </div>
</div>
