<div class="form-templates--form">
  <div class="control-group">
    <label for="template-name">
      {{i18n "admin.form_templates.new_template_form.name.label"}}
    </label>
    <TextField
      @value={{this.templateName}}
      @name="template-name"
      @placeholderKey="admin.form_templates.new_template_form.name.placeholder"
    />
  </div>

  <div class="control-group form-templates--quick-insert-field-buttons">
    <span>
      {{I18n "admin.form_templates.quick_insert_fields.add_new_field"}}
    </span>
    <DButton
      @class="btn-flat btn-icon-text"
      @icon="check-square"
      @label="admin.form_templates.quick_insert_fields.checkbox"
      @action={{this.onInsertField}}
      @actionParam="checkbox"
    />
    <DButton
      @class="btn-flat btn-icon-text"
      @icon="grip-lines"
      @label="admin.form_templates.quick_insert_fields.short_answer"
      @action={{this.onInsertField}}
      @actionParam="input"
    />
    <DButton
      @class="btn-flat btn-icon-text"
      @icon="align-left"
      @label="admin.form_templates.quick_insert_fields.long_answer"
      @action={{this.onInsertField}}
      @actionParam="textarea"
    />
    <DButton
      @class="btn-flat btn-icon-text"
      @icon="chevron-circle-down"
      @label="admin.form_templates.quick_insert_fields.dropdown"
      @action={{this.onInsertField}}
      @actionParam="dropdown"
    />
    <DButton
      @class="btn-flat btn-icon-text"
      @icon="cloud-upload-alt"
      @label="admin.form_templates.quick_insert_fields.upload"
      @action={{this.onInsertField}}
      @actionParam="upload"
    />
    <DButton
      @class="btn-flat btn-icon-text"
      @icon="bullseye"
      @label="admin.form_templates.quick_insert_fields.multiple_choice"
      @action={{this.onInsertField}}
      @actionParam="multiselect"
    />
  </div>

  <div class="control-group">
    <AceEditor @content={{this.templateContent}} @mode="yaml" />
  </div>

  <div class="footer-buttons">
    <DButton
      @class="btn-primary"
      @label="admin.form_templates.new_template_form.submit"
      @icon="check"
      @action={{this.onSubmit}}
      @disabled={{this.formSubmitted}}
    />

    <DButton
      @label="admin.form_templates.new_template_form.cancel"
      @icon="times"
      @action={{this.onCancel}}
    />

    {{#if this.isEditing}}
      <DButton
        @class="btn-danger"
        @label="admin.form_templates.view_template.delete"
        @icon="trash-alt"
        @action={{this.onDelete}}
      />
    {{/if}}

  </div>
</div>
