<tr class="admin-list-item">
  <td class="col first">{{@template.name}}</td>
  <td class="col categories">
    {{#each this.activeCategories as |category|}}
      {{category-link category}}
    {{/each}}
  </td>
  <td class="col action">
    <DButton
      @title="admin.form_templates.list_table.actions.view"
      @icon="far-eye"
      @action={{fn (mut this.showViewTemplateModal) true}}
      class="btn-view-template"
    />
    <DButton
      @title="admin.form_templates.list_table.actions.edit"
      @icon="pencil-alt"
      @action={{this.editTemplate}}
      class="btn-edit-template"
    />
    <DButton
      @title="admin.form_templates.list_table.actions.delete"
      @icon="far-trash-alt"
      @action={{this.deleteTemplate}}
      class="btn-danger btn-delete-template"
    />
  </td>
</tr>

{{#if this.showViewTemplateModal}}
  <Modal::CustomizeFormTemplateView
    @closeModal={{fn (mut this.showViewTemplateModal) false}}
    @model={{@template}}
    @refreshModel={{@refreshModel}}
  />
{{/if}}