<section class='field'>
  <label>{{i18n 'category.topic_list_social'}}</label>
  {{list-setting settingValue=category.custom_fields.topic_list_social choices=choices settingName='category.topic_list_social'}}
</section>

<section class='field'>
  <label>{{i18n 'category.topic_list_thumbnail'}}</label>
  {{list-setting settingValue=category.custom_fields.topic_list_thumbnail choices=choices settingName='category.topic_list_thumbnail'}}
</section>

<section class='field'>
  <label>{{i18n 'category.topic_list_excerpt'}}</label>
  {{list-setting settingValue=category.custom_fields.topic_list_excerpt choices=choices settingName='category.topic_list_excerpt'}}
</section>

<section class='field'>
  <label>{{i18n 'category.topic_list_action'}}</label>
  {{list-setting settingValue=category.custom_fields.topic_list_action choices=choices settingName='category.topic_list_action'}}
</section>

<section class='field'>
  <label>{{i18n 'category.topic_list_category_badge_move'}}</label>
  {{list-setting settingValue=category.custom_fields.topic_list_category_badge_move choices=choices settingName='category.topic_list_category_badge_move'}}
</section>

<section class='field'>
  <label>{{i18n 'category.topic_list_default_thumbnail'}}</label>
  {{text-field value=category.custom_fields.topic_list_default_thumbnail placeholderKey="category.topic_list_default_thumbnail_placeholder"}}
</section>
