<p>{{i18n 'admin.logs.screened_ips.description'}}</p>
<div class="pull-right">
  {{text-field value=filter class="ip-address-input" placeholderKey="admin.logs.screened_ips.form.filter" autocorrect="off" autocapitalize="off"}}
  <button class="btn" {{action "rollUp"}} title="{{i18n 'admin.logs.screened_ips.roll_up.title'}}">{{i18n 'admin.logs.screened_ips.roll_up.text'}}</button>
  <button class="btn" {{action "exportScreenedIpList"}} title="{{i18n 'admin.export_csv.button_title.screened_ip'}}">{{fa-icon "download"}}{{i18n 'admin.export_csv.button_text'}}</button>
</div>
{{screened-ip-address-form action="recordAdded"}}
<br/>

{{#conditional-loading-spinner condition=loading}}
  {{#if model.length}}

    <div class='table admin-logs-table screened-ip-addresses'>
      <div class="heading-container">
        <div class="col heading first ip_address">{{i18n 'admin.logs.ip_address'}}</div>
        <div class="col heading action">{{i18n 'admin.logs.action'}}</div>
        <div class="col heading match_count">{{i18n 'admin.logs.match_count'}}</div>
        <div class="col heading last_match_at">{{i18n 'admin.logs.last_match_at'}}</div>
        <div class="col heading created_at">{{i18n 'admin.logs.created_at'}}</div>
        <div class="col heading actions"></div>
        <div class="clearfix"></div>
      </div>

      {{view 'screened-ip-addresses-list' content=controller}}
    </div>

  {{else}}
    {{i18n 'search.no_results'}}
  {{/if}}
{{/conditional-loading-spinner}}
