<p>
  {{i18n 'admin.logs.screened_emails.description'}}
  <button class="btn pull-right" {{action "exportScreenedEmailList"}} title="{{i18n 'admin.export_csv.button_title.screened_email'}}">{{fa-icon "download"}}{{i18n 'admin.export_csv.button_text'}}</button>
</p>
<br>

{{#conditional-loading-spinner condition=loading}}
  {{#if model.length}}

    <div class='table screened-emails'>
      <div class="heading-container">
        <div class="col heading first email">{{i18n 'admin.logs.screened_emails.email'}}</div>
        <div class="col heading action">{{i18n 'admin.logs.action'}}</div>
        <div class="col heading match_count">{{i18n 'admin.logs.match_count'}}</div>
        <div class="col heading last_match_at">{{i18n 'admin.logs.last_match_at'}}</div>
        <div class="col heading created_at">{{i18n 'admin.logs.created_at'}}</div>
        <div class="col heading ip_address">{{i18n 'admin.logs.ip_address'}}</div>
        <div class="col heading action"></div>
        <div class="clearfix"></div>
      </div>

      {{screened-emails-list content=model}}
    </div>

  {{else}}
    {{i18n 'search.no_results'}}
  {{/if}}
{{/conditional-loading-spinner}}
