<p>
  {{i18n 'admin.logs.screened_emails.description'}}
  <button class="btn screened-email-export" {{action "exportScreenedEmailList"}} title="{{i18n 'admin.export_csv.button_title.screened_email'}}">{{d-icon "download"}}{{i18n 'admin.export_csv.button_text'}}</button>
</p>
<br>

{{#conditional-loading-spinner condition=loading}}
  {{#if model.length}}

    <div class='table screened-emails'>
      <div class="heading-container">
        <div class="col heading first email">{{i18n 'admin.logs.screened_emails.email'}}</div>
        <div class="col heading action">{{i18n 'admin.logs.action'}}</div>
        <div class="col heading match_count">{{i18n 'admin.logs.match_count'}}</div>
        <div class="col heading last_match_at">{{i18n 'admin.logs.last_match_at'}}</div>
        <div class="col heading created_at">{{i18n 'admin.logs.created_at'}}</div>
        <div class="col heading ip_address">{{i18n 'admin.logs.ip_address'}}</div>
        <div class="col heading action"></div>
        <div class="clearfix"></div>
      </div>

      {{#each model as |item|}}
        <div class="admin-list-item">
          <div class="col first email">
            <div class="overflow-ellipsis" title={{item.email}}>{{item.email}}</div>
          </div>
          <div class="col action">{{item.actionName}}</div>
          <div class="col match_count">{{item.match_count}}</div>
          <div class="col last_match_at">{{age-with-tooltip item.last_match_at}}</div>
          <div class="col created_at">{{age-with-tooltip item.created_at}}</div>
          <div class="col ip_address">{{item.ip_address}}</div>
          <div class="col action">
            {{d-button action="clearBlock" actionParam=item icon="check" label="admin.logs.screened_emails.actions.allow"}}
          </div>
          <div class="clearfix"></div>
        </div>
      {{/each}}
    </div>

  {{else}}
    {{i18n 'search.no_results'}}
  {{/if}}
{{/conditional-loading-spinner}}
