<div class="col first domain">
  <div class="overflow-ellipsis" title={{domain}}>{{domain}}</div>
</div>
<div class="col action">{{actionName}}</div>
<div class="col match_count">{{match_count}}</div>
<div class="col last_match_at">{{age-with-tooltip last_match_at}}</div>
<div class="col created_at">{{age-with-tooltip created_at}}</div>
<div class="clearfix"></div>
