<p>
  {{i18n 'admin.logs.screened_urls.description'}}
</p>
  <button class="btn btn-default" {{action "exportScreenedUrlList"}} title="{{i18n 'admin.export_csv.button_title.screened_url'}}">{{d-icon "download"}}{{i18n 'admin.export_csv.button_text'}}</button>
<br>

{{#conditional-loading-spinner condition=loading}}
  {{#if model.length}}
    <table class='screened-urls grid'>
      <thead>
        <th class="first domain">{{i18n 'admin.logs.screened_urls.domain'}}</th>
        <th class="action">{{i18n 'admin.logs.action'}}</th>
        <th class="match_count">{{i18n 'admin.logs.match_count'}}</th>
        <th class="last_match_at">{{i18n 'admin.logs.last_match_at'}}</th>
        <th class="created_at">{{i18n 'admin.logs.created_at'}}</th>
      </thead>
      <tbody>
      {{#each model as |url|}}
        <tr class="admin-list-item">
          <td class="col first domain">
            <div class="overflow-ellipsis" title={{url.domain}}>{{url.domain}}</div>
          </td>
          <td class="col action">{{url.actionName}}</td>
          <td class="col match_count"><div class="label">{{i18n 'admin.logs.match_count'}}</div>{{url.match_count}}</td>
          <td class="col last_match_at"><div class="label">{{i18n 'admin.logs.last_match_at'}}</div>{{age-with-tooltip url.last_match_at}}</td>
          <td class="col created_at"><div class="label">{{i18n 'admin.logs.created_at'}}</div>{{age-with-tooltip url.created_at}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  {{else}}
    {{i18n 'search.no_results'}}
  {{/if}}
{{/conditional-loading-spinner}}
