<div class="col first ip_address">
  {{#if editing}}
    {{text-field value=ip_address autofocus="autofocus"}}
  {{else}}
    <span {{action "edit" this}}>
      {{#if isRange}}
        <strong>{{ip_address}}</strong>
      {{else}}
        {{ip_address}}
      {{/if}}
    </span>
  {{/if}}
</div>
<div class="col action">
  {{#if isBlocked}}
    {{fa-icon "ban"}}
  {{else}}
    {{fa-icon "check"}}
  {{/if}}
  {{actionName}}
</div>
<div class="col match_count">{{match_count}}</div>
<div class="col last_match_at">
  {{#if last_match_at}}
    {{age-with-tooltip last_match_at}}
  {{/if}}
</div>
<div class="col created_at">{{age-with-tooltip created_at}}</div>
<div class="col actions">
  {{#unless editing}}
    {{d-button action="destroy" actionParam=this icon="trash-o" class="btn-danger"}}
    {{d-button action="edit" actionParam=this icon="pencil"}}
    {{#if isBlocked}}
      {{d-button action="allow" actionParam=this icon="check" label="admin.logs.screened_ips.actions.do_nothing"}}
    {{else}}
      {{d-button action="block" actionParam=this icon="ban" label="admin.logs.screened_ips.actions.block"}}
    {{/if}}
  {{else}}
    {{d-button action="save" actionParam=this label="admin.logs.save"}}
    <a {{action "cancel" this}}>{{i18n 'cancel'}}</a>
  {{/unless}}
</div>
<div class="clearfix"></div>
