<p>
  {{period-chooser period=period}}
</p>
<br>

{{#conditional-loading-spinner condition=loading}}
  {{#if model.length}}

    <div class='table search-logs-list'>
      <div class="heading-container">
        <div class="col heading term">{{i18n 'admin.logs.search_logs.term'}}</div>
        <div class="col heading">{{i18n 'admin.logs.search_logs.searches'}}</div>
        <div class="col heading">{{i18n 'admin.logs.search_logs.click_through'}}</div>
        <div class="col heading topic">{{i18n 'admin.logs.search_logs.most_viewed_topic'}}</div>
        <div class="col heading" title="{{i18n 'admin.logs.search_logs.unique_title'}}">{{i18n 'admin.logs.search_logs.unique'}}</div>
      </div>

      {{#each model as |item|}}
        <div class="admin-list-item">
          <div class="col term">{{item.term}}</div>
          <div class="col">{{item.searches}}</div>
          <div class="col">{{item.click_through}}</div>
          <div class="col topic">
            {{#if item.clicked_topic_id}}
              <a href='{{unbound item.topic_url}}'>{{item.topic_title}}</a>
            {{/if}}
          </div>
          <div class="col">{{item.unique}}</div>
        </div>
      {{/each}}
    </div>

  {{else}}
    {{i18n 'search.no_results'}}
  {{/if}}
{{/conditional-loading-spinner}}
