<div class="col value first staff_user">
  {{#link-to 'adminUser' acting_user}}{{avatar acting_user imageSize="tiny"}}{{/link-to}}
  <a {{action "filterByStaffUser" acting_user}} class="btn btn-small">{{acting_user.username}}</a>
</div>
<div class="col value action">
  <a {{action "filterByAction" this}} class="btn btn-small">{{actionName}}</a>
</div>
<div class="col value subject">
  {{#if target_user}}
    {{#link-to 'adminUser' target_user}}{{avatar target_user imageSize="tiny"}}{{/link-to}}
    <a {{action "filterByTargetUser" target_user}} class="btn btn-small">{{target_user.username}}</a>
  {{/if}}
  {{#if subject}}
    <a {{action "filterBySubject" subject}} title={{subject}}  class="btn btn-small">{{subject}}</a>
  {{/if}}
</div>
<div class="col value created_at">{{age-with-tooltip created_at}}</div>
<div class="col value details">
  {{{formattedDetails}}}
  {{#if useCustomModalForDetails}}
    <a {{action "showCustomDetailsModal" this}}>{{i18n 'admin.logs.staff_actions.show'}}</a>
  {{/if}}
  {{#if useModalForDetails}}
    <a {{action "showDetailsModal" this}}>{{i18n 'admin.logs.staff_actions.show'}}</a>
  {{/if}}
</div>
<div class="col value context">{{context}}</div>
<div class="clearfix"></div>
