<div class="category-logo aspect-image">
  {{#if (and @category.uploaded_logo.url @category.uploaded_logo_dark.url)}}
    <picture>
      <source
        srcset={{@category.uploaded_logo_dark.url}}
        width={{@category.uploaded_logo_dark.width}}
        height={{@category.uploaded_logo_dark.height}}
        media="(prefers-color-scheme: dark)"
      />
      <CdnImg
        @src={{this.defaultCategoryLogo.url}}
        @width={{this.defaultCategoryLogo.width}}
        @height={{this.defaultCategoryLogo.height}}
      />
    </picture>
  {{else if @category.uploaded_logo.url}}
    <CdnImg
      @src={{@category.uploaded_logo.url}}
      @width={{@category.uploaded_logo.width}}
      @height={{@category.uploaded_logo.height}}
    />
  {{/if}}
</div>