<div
  class={{concat-class "char-counter" (if (gt @value.length @max) "exceeded")}}
  ...attributes
>
  {{yield}}
  <small class="char-counter__ratio">
    {{@value.length}}/{{@max}}
  </small>
  <span aria-live="polite" class="sr-only">
    {{if (gt @value.length @max) (i18n "char_counter.exceeded")}}
  </span>
</div>