<div
  class="header-contents"
  id={{this.id}}
  role="button"
  tabindex="0"
  aria-label={{this.ariaLabel}}
  aria-pressed={{this.pressedState}}
>

  {{yield}}
  <span class="text">
    {{directory-table-header-title
      field=this.field
      labelKey=this.labelKey
      icon=this.icon
      translated=this.translated
    }}
    {{this.chevronIcon}}
  </span>
</div>