<div class="flagged-post-header">
  <ReviewableTopicLink @reviewable={{@reviewable}} @tagName="" />
  <ReviewablePostEdits @reviewable={{@reviewable}} @tagName="" />
</div>

<div class="post-contents-wrapper">
  <ReviewableCreatedBy @user={{@reviewable.target_created_by}} @tagName="" />
  <div class="post-contents">
    <ReviewablePostHeader
      @reviewable={{@reviewable}}
      @createdBy={{@reviewable.target_created_by}}
      @tagName=""
    />
    <div class="post-body">
      {{#if @reviewable.blank_post}}
        <p>{{i18n "review.deleted_post"}}</p>
      {{else}}
        {{html-safe @reviewable.cooked}}
      {{/if}}
    </div>

    {{yield}}

    <ModelAccuracies @accuracies={{@reviewable.payload.accuracies}} />
  </div>
</div>