{{! template-lint-disable}}

<form class="d-form">
  <h2> Simple stacked form</h2>
  <div class="d-form__section">
    <div class="d-form-field">
      <label class="d-form-field__label" for="normal-input">Standard stacked
        input
        <span class="d-form-field__optional">(Optional)</span></label>
      <p class="d-form-field__info">A potential longer text explaining the use
        cases of this input field. Can contain a link.</p>
      <div class="d-form-field__value">
        <input
          type="text"
          class="d-form-field__input"
          id="normal-input"
          size="25"
        />
        <div class="d-form-field__meta">
          <p class="d-form-field__meta-text">Format: XYZ-123</p>
          <span class="d-form-field__character-count has-error">0/25</span>
        </div>
      </div>
    </div>

    <div class="d-form-field has-error">
      <label class="d-form-field__label" for="error-input">Error highlighting
      </label>
      <div class="d-form-field__value">
        <input
          type="text"
          class="d-form-field__input"
          id="error-input"
          size="25"
        />
        <div class="d-form-field__meta --warning">
          <p class="d-form-field__meta-text">
            {{d-icon "warning"}}<span>Error: explanation of error</span></p>
          <span class="d-form-field__character-count has-error">0/25</span>
        </div>
      </div>
    </div>

    <div class="d-form-field">
      <label class="d-form-field__label" for="disabled-input">Disabled input
      </label>
      <div class="d-form-field__value">
        <input
          type="text"
          class="d-form-field__input"
          id="disabled-input"
          size="25"
          disabled
          value="Disabled input"
        />
      </div>
    </div>

    <fieldset class="d-form-field --checkbox">
      <legend class="d-form-field__label">Set as default
      </legend>
      <div class="d-form-field__value-container">
        <div class="d-form-field__value">
          <input
            class="d-form-field__input"
            type="checkbox"
            id="checkbox-agree"
          />
          <label class="checkbox-label" for="checkbox-agree">Agree
          </label>
        </div>
        <div class="d-form-field__meta --warning">
          <p class="d-form-field__meta-text">
            {{d-icon "warning"}}<span>Error: explanation of error</span></p>
        </div>
      </div>
    </fieldset>

    <fieldset class="d-form-field --radiobtns">
      <legend>After reminding you, we should…</legend>
      <div class="d-form-field__value-container">
        <div class="d-form-field__value">
          <input
            type="radio"
            id="radio-1"
            name="radio"
            class="d-form-field__input"
          />
          <label for="radio-1" class="checkbox-label">Keep bookmark and delete
            reminder</label>
        </div>

        <div class="d-form-field__value">
          <input
            type="radio"
            id="radio-2"
            name="radio"
            class="d-form-field__input"
          />
          <label for="radio-2" class="checkbox-label">Keep bookmark</label>
        </div>

        <div class="d-form-field__value">
          <input
            type="radio"
            id="radio-3"
            name="radio"
            class="d-form-field__input"
          />
          <label for="radio-3" class="checkbox-label">Delete bookmark</label>
        </div>

        <div class="d-form-field__value">
          <input
            type="radio"
            id="radio-4"
            name="radio"
            class="d-form-field__input"
          />
          <label for="radio-4" class="checkbox-label">Delete bookmark once I
            reply</label>
        </div>
      </div>
    </fieldset>

    <fieldset class="d-form-field --checkbox">
      <legend class="d-form-field__label">Multi checkbox options
      </legend>
      <div class="d-form-field__value-container">
        <div class="d-form-field__value">

          <input
            class="d-form-field__input"
            type="checkbox"
            id="checkbox1multi"
            name="checkboxmulti"
          />
          <label class="checkbox-label" for="checkbox1multi">I
          </label>

        </div>
        <div class="d-form-field__value">

          <input
            class="d-form-field__input"
            type="checkbox"
            id="checkbox2multi"
            name="checkboxmulti"
          />
          <label class="checkbox-label" for="checkbox2multi">like
          </label>

        </div>
        <div class="d-form-field__value">

          <input
            class="d-form-field__input"
            type="checkbox"
            id="checkbox3multi"
            name="checkboxmulti"
          />
          <label class="checkbox-label" for="checkbox3multi">courgette
          </label>

        </div>
        <div class="d-form-field__meta --warning">
          <p class="d-form-field__meta-text">
            {{d-icon "warning"}}<span>Error: explanation of error</span></p>
        </div>
      </div>

    </fieldset>
  </div>

  <h2>Grouped input (stacked only)</h2>
  <div class="d-form__section">
    <div class="d-form-field">
      <label class="d-form-field__label" for="normal-input">Streetname</label>
      <div class="d-form-field__value">
        <input type="text" class="d-form-field__input" size="35" />
      </div>
    </div>

    <div class="d-form-field__group">
      <div class="d-form-field">
        <label class="d-form-field__label" for="number">Number
        </label>
        <div class="d-form-field__value">
          <input
            type="text"
            class="d-form-field__input"
            size="10"
            id="number"
          />
        </div>
      </div>

      <div class="d-form-field">
        <label class="d-form-field__label" for="normal-input">Bus
        </label>
        <div class="d-form-field__value">
          <input type="text" class="d-form-field__input" size="10" />
        </div>
      </div>
    </div>

    <div class="d-form-field">
      <label class="d-form-field__label" for="normal-input">Country
      </label>
      <div class="d-form-field__value">
        <select>
          <option value="">--Country of residence--</option>
        </select>
      </div>
    </div>
  </div>

  <h2>Horizontal form (classic)</h2>
  <div class="d-form__section --lfr">
    <div class="d-form-field">
      <label class="d-form-field__label" for="normal-input">Standard stacked
        input
        <span class="d-form-field__optional">(Optional)</span></label>

      <div class="d-form-field__value">
        <input
          type="text"
          class="d-form-field__input"
          id="normal-input"
          size="25"
        />
        <div class="d-form-field__meta">
          <p class="d-form-field__meta-text">Format: XYZ-123</p>
          <span class="d-form-field__character-count has-error">0/25</span>
        </div>
      </div>
    </div>

    <div class="d-form-field has-error">
      <label class="d-form-field__label" for="normal-input">Error highlighting
      </label>
      <div class="d-form-field__value">
        <input
          type="text"
          class="d-form-field__input"
          id="normal-input"
          size="15"
        />
        <div class="d-form-field__meta --warning">
          <p class="d-form-field__meta-text">
            {{d-icon "warning"}}<span>Error: explanation of error</span></p>
          <span class="d-form-field__character-count has-error">0/25</span>
        </div>
      </div>
    </div>

    <div class="d-form-field">
      <label class="d-form-field__label" for="normal-input">Disabled input
      </label>
      <div class="d-form-field__value">
        <input
          type="text"
          class="d-form-field__input"
          id="normal-input"
          size="25"
          disabled
          value="Disabled input"
        />
      </div>
    </div>

    <fieldset class="d-form-field --checkbox">
      <legend class="d-form-field__label">Set as default
      </legend>
      <div class="d-form-field__value-container">
        <div class="d-form-field__value">
          <div class="d-form-field__value-container">
            <input class="d-form-field__input" type="checkbox" id="checkbox" />
            <label class="d-form-field__label" for="checkbox">Agree
            </label>
          </div>
          <div class="d-form-field__meta --warning">
            <p class="d-form-field__meta-text">
              {{d-icon "warning"}}<span>Error: explanation of error</span></p>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset class="d-form-field --radiobtns">
      <legend>After reminding you, we should…</legend>
      <div class="d-form-field__value-container">
        <div class="d-form-field__value">
          <input
            type="radio"
            id="reminder-1"
            name="reminder"
            class="d-form-field__input"
          />
          <label for="reminder-1" class="checkbox-label">Keep bookmark and
            delete reminder</label>
        </div>

        <div class="d-form-field__value">
          <input
            type="radio"
            id="reminder-2"
            name="reminder"
            class="d-form-field__input"
          />
          <label for="reminder-2" class="checkbox-label">Keep bookmark</label>
        </div>

        <div class="d-form-field__value">
          <input
            type="radio"
            id="reminder-3"
            name="reminder"
            class="d-form-field__input"
          />
          <label for="reminder-3" class="checkbox-label">Delete bookmark</label>
        </div>

        <div class="d-form-field__value">
          <input
            type="radio"
            id="reminder-4"
            name="reminder"
            class="d-form-field__input"
          />
          <label for="reminder-4" class="checkbox-label">Delete bookmark once I
            reply</label>
        </div>
      </div>
    </fieldset>

    <fieldset class="d-form-field --checkbox">
      <legend class="d-form-field__label">Multi checkbox options
      </legend>
      <div class="d-form-field__value-container">
        <div class="d-form-field__value">
          <input class="d-form-field__input" type="checkbox" id="multi1" />
          <label class="checkbox-label" for="multi1">I
          </label>
        </div>
        <div class="d-form-field__value">
          <input class="d-form-field__input" type="checkbox" id="multi2" />
          <label class="checkbox-label" for="multi2">like
          </label>

        </div>
        <div class="d-form-field__value">
          <input class="d-form-field__input" type="checkbox" id="multi3" />
          <label class="checkbox-label" for="multi3">courgette
          </label>

        </div>
        <div class="d-form-field__meta --warning">
          <p class="d-form-field__meta-text">
            {{d-icon "warning"}}<span>Error: explanation of error</span></p>
        </div>
      </div>

    </fieldset>

  </div>

  <h2>Inline form</h2>
  <p class="d-form__section-info">
    A form row should not contain checkboxes or radiobuttons. Be reasonable. It
    can have 3 or 4 columns (including an action). Unlike other forms, every
    input *must have* a meta-section, even empty, or else the layout will break.
    Keep labels as short as possible. For now the columns will divide equally.
    Will adjust when the need arises.</p>
  <div class="d-form__section --inline --4-col">
    <div class="d-form-field">
      <label class="d-form-field__label" for="normal-input">Name
        <span class="d-form-field__optional">(Optional)</span></label>

      <div class="d-form-field__value">
        <input type="text" class="d-form-field__input" id="normal-input" />
        <div class="d-form-field__meta">
          <p class="d-form-field__meta-text">Format: XYZ-123</p>
        </div>
      </div>
    </div>

    <div class="d-form-field">
      <label class="d-form-field__label" for="normal-input">url
      </label>
      <div class="d-form-field__value">
        <select>
          <option value="">--URL--</option>
          <option value="">Google</option>
          <option value="">DuckDuckGo</option>
        </select>
        <div class="d-form-field__meta">
        </div>
      </div>
    </div>

    <div class="d-form-field">
      <label class="d-form-field__label" for="normal-input">Reason
      </label>
      <div class="d-form-field__value">
        <input type="text" class="d-form-field__input" id="normal-input" />
        <div class="d-form-field__meta">
        </div>
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary d-form__section-inline-btn"
    >Submit</button>
  </div>

  <h2>Multirow form</h2>
  <p class="d-form__section-info">Multirow form is made of multiple inline
    sections. It can not have an error or help text displayed directly under the
    field, due to alignment issues. It uses aria-labelledby to associate the
    label with the input.
  </p>
  <div class="d-form__section --rows">

    <div class="d-form-multirow">

      <div class="d-form-field">
        <label class="d-form-field__label" id="row-name">Name
          <span class="d-form-field__optional">(Optional)</span></label>
        <input
          type="text"
          class="d-form-field__input"
          aria-labelledby="row-name"
        />
      </div>
      <div class="d-form-field" aria-labelledby="row-url">
        <label class="d-form-field__label" id="row-url">url
        </label>
        <select>
          <option value="">--URL--</option>
          <option value="">Google</option>
          <option value="">DuckDuckGo</option>
        </select>
      </div>
      <div class="d-form-field__value">
        <label class="d-form-field__label" id="row-reason">Reason
        </label>
        <input
          type="text"
          class="d-form-field__input"
          aria-labelledby="row-name"
        />
      </div>

      <button
        type="submit"
        class="btn btn-primary d-form__section-inline-btn"
      >Submit</button>
    </div>

    <div class="d-form-multirow">
      <div class="d-form-field">
        <input
          type="text"
          class="d-form-field__input"
          aria-labelledby="row-name"
        />
      </div>
      <div class="d-form-field" aria-labelledby="row-url">
        <select>
          <option value="">--URL--</option>
          <option value="">Google</option>
          <option value="">DuckDuckGo</option>
        </select>
      </div>
      <div class="d-form-field__field">
        <input
          type="text"
          class="d-form-field__input"
          aria-labelledby="row-name"
        />
      </div>

      <button
        type="submit"
        class="btn btn-primary d-form__section-inline-btn"
      >Submit</button>
    </div>

    <div class="d-form-multirow">

      <div class="d-form-field">
        <input
          type="text"
          class="d-form-field__input"
          aria-labelledby="row-name"
        />
      </div>
      <div class="d-form-field" aria-labelledby="row-url">
        <select>
          <option value="">--URL--</option>
          <option value="">Google</option>
          <option value="">DuckDuckGo</option>
        </select>
      </div>
      <div class="d-form-field__value">
        <input
          type="text"
          class="d-form-field__input"
          aria-labelledby="row-name"
        />
      </div>

      <button
        type="submit"
        class="btn btn-primary d-form__section-inline-btn"
      >Submit</button>
    </div>

    <div class="d-form-field__meta --warning">
      <p class="d-form-field__meta-text">
        {{d-icon "warning"}}<span>Whatever errors are in this field, they should
          be consolidated in a numbered error summary at the bottom, like this:
          <ol>
            <li>urls should start with https/</li>
            <li>the reason can't be empty/</li>
          </ol>
        </span>
      </p>
    </div>
  </div>
</form>

<StyleguideExample @title="text-field">
  <TextField @placeholder="Placeholder" />
</StyleguideExample>

<StyleguideExample @title="password">
  <PasswordField type="password" placeholder="Placeholder" />
</StyleguideExample>

<StyleguideExample @title="textarea">
  <Textarea placeholder="Placeholder" />
</StyleguideExample>

<StyleguideExample @title="inline-form">
  <div class="inline-form">
    <TextField @placeholder="Placeholder" />
    <DButton
      @icon="search"
      @translatedLabel="Submit"
      type="submit"
      class="btn-primary"
    />
  </div>
</StyleguideExample>

<StyleguideExample @title="inline-form with icon button">
  <div class="inline-form">
    <TextField @placeholder="Placeholder" />
    <DButton @icon="search" type="submit" class="btn-primary" />
  </div>
</StyleguideExample>

<StyleguideExample @title="full-width inline-form with single input">
  <div class="inline-form full-width">
    <TextField @placeholder="Placeholder" />
  </div>
</StyleguideExample>

<StyleguideExample @title="full-width inline-form with input and icon button">
  <div class="inline-form full-width">
    <TextField @placeholder="Placeholder" />
    <DButton @icon="search" type="submit" class="btn-primary" />
  </div>
</StyleguideExample>

<StyleguideExample
  @title="inline-form with <ComboBox>"
  @initialValue={{get @dummy "options.0.name"}}
  as |value|
>
  <div class="inline-form">
    <TextField @placeholder="Placeholder" />
    <ComboBox
      @content={{@dummy.options}}
      @value={{value}}
      @onChange={{fn (mut value)}}
    />
    <DButton
      @icon="search"
      @translatedLabel="Submit"
      type="submit"
      class="btn-primary"
    />
  </div>
</StyleguideExample>

<StyleguideExample @title="inline-form with <MultiSelect>">
  <div class="inline-form">
    <TextField />
    <MultiSelect @content={{@dummy.options}} @onChange={{@dummyAction}} />
    <DButton
      @icon="search"
      @translatedLabel="Submit"
      type="submit"
      class="btn-primary"
    />
  </div>
</StyleguideExample>

<StyleguideExample @title="inline-form with <MultiSelect> and label">
  <div class="inline-form">
    <label>Text:</label>
    <TextField />
    <MultiSelect @content={{@dummy.options}} @onChange={{@dummyAction}} />
    <DButton
      @icon="search"
      @translatedLabel="Submit"
      type="submit"
      class="btn-primary"
    />
  </div>
</StyleguideExample>

<StyleguideExample @title="full-width inline-form with search type input">
  <div class="inline-form full-width">
    <Input placeholder="Search type input" @type="search" />
  </div>
</StyleguideExample>

<StyleguideExample @title="<CategoryNotificationsButton> and regular button">
  <div class="inline-form">
    <CategoryNotificationsButton
      @category={{get @dummy.categories 0}}
      @value={{1}}
      @onChange={{@dummyAction}}
    />
    <DButton @icon="reply" @type="submit" @translatedLabel="Button" />
  </div>
</StyleguideExample>