{{! template-lint-disable  }}
<form class="d-form">
  <h2> Simple stacked form</h2>
  <div class="d-form__section">
    <div class="d-form-field">
      <label class="d-form-field__label" for="normal-input">Standard stacked
        input
        <span class="d-form-field__optional">(Optional)</span></label>
      <p class="d-form-field__info">A potential longer text explaining the use
        cases of this input field. Can contain a link.</p>
      <div class="d-form-field__value">
        <input
          type="text"
          class="d-form-field__input"
          id="normal-input"
          size="25"
        />
        <div class="d-form-field__meta">
          <p class="d-form-field__meta-text">Format: XYZ-123</p>
          <span class="d-form-field__character-count has-error">0/25</span>
        </div>
      </div>
    </div>

    <div class="d-form-field has-error">
      <label class="d-form-field__label" for="normal-input">Error highlighting
      </label>
      <div class="d-form-field__value">
        <input
          type="text"
          class="d-form-field__input"
          id="normal-input"
          size="25"
        />
        <div class="d-form-field__meta --warning">
          <p class="d-form-field__meta-text">
            {{d-icon "warning"}}<span>Error: explanation of error</span></p>
          <span class="d-form-field__character-count has-error">0/25</span>
        </div>
      </div>
    </div>

    <div class="d-form-field">
      <label class="d-form-field__label" for="normal-input">Disabled input
      </label>
      <div class="d-form-field__value">
        <input
          type="text"
          class="d-form-field__input"
          id="normal-input"
          size="25"
          disabled
          value="Disabled input"
        />
      </div>
    </div>

    <fieldset class="d-form-field --checkbox">
      <legend class="d-form-field__label">Set as default
      </legend>
      <div class="d-form-field__value-container">
        <div class="d-form-field__value">
          <div class="d-form-field__input-wrapper">
            <input class="d-form-field__input" type="checkbox" id="checkbox" />
            <label class="checkbox-label" for="checkbox">Agree
            </label>
          </div>
          <div class="d-form-field__meta --warning">
            <p class="d-form-field__meta-text">
              {{d-icon "warning"}}<span>Error: explanation of error</span></p>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset class="d-form-field --radiobtns">
      <legend>After reminding you, we should…</legend>
      <div class="d-form-field__value-container">
        <div class="d-form-field__value">
          <input
            type="radio"
            id="radio-1"
            name="radio"
            class="d-form-field__input"
          />
          <label for="radio-1" class="checkbox-label">Keep bookmark and delete
            reminder</label>
        </div>

        <div class="d-form-field__value">
          <input
            type="radio"
            id="radio-2"
            name="radio"
            class="d-form-field__input"
          />
          <label for="radio-2" class="checkbox-label">Keep bookmark</label>
        </div>

        <div class="d-form-field__value">
          <input
            type="radio"
            id="radio-3"
            name="radio"
            class="d-form-field__input"
          />
          <label for="radio-3" class="checkbox-label">Delete bookmark</label>
        </div>

        <div class="d-form-field__value">
          <input
            type="radio"
            id="radio-4"
            name="radio"
            class="d-form-field__input"
          />
          <label for="radio-4" class="checkbox-label">Delete bookmark once I
            reply</label>
        </div>
      </div>
    </fieldset>

    <fieldset class="d-form-field --checkbox">
      <legend class="d-form-field__label">Multi checkbox options
      </legend>
      <div class="d-form-field__value-container">
        <div class="d-form-field__value">
          <div class="d-form-field__input-wrapper">
            <input class="d-form-field__input" type="checkbox" id="checkbox" />
            <label class="checkbox-label" for="checkbox">I
            </label>
          </div>
        </div>
        <div class="d-form-field__value">
          <div class="d-form-field__input-wrapper">
            <input class="d-form-field__input" type="checkbox" id="checkbox" />
            <label class="checkbox-label" for="checkbox">like
            </label>
          </div>
        </div>
        <div class="d-form-field__value">
          <div class="d-form-field__input-wrapper">
            <input class="d-form-field__input" type="checkbox" id="checkbox" />
            <label class="checkbox-label" for="checkbox">courgette
            </label>
          </div>
        </div>
        <div class="d-form-field__meta --warning">
          <p class="d-form-field__meta-text">
            {{d-icon "warning"}}<span>Error: explanation of error</span></p>
        </div>
      </div>

    </fieldset>
  </div>

  <h2>Grouped input (stacked only)</h2>
  <div class="d-form__section">
    <div class="d-form-field">
      <label class="d-form-field__label" for="normal-input">Streetname</label>
      <div class="d-form-field__value">
        <input type="text" class="d-form-field__input" size="35" />
      </div>
    </div>

    <div class="d-form-field__group">
      <div class="d-form-field">
        <label class="d-form-field__label" for="normal-input">Number
        </label>
        <div class="d-form-field__value">
          <input type="text" class="d-form-field__input" size="10" />
        </div>
      </div>

      <div class="d-form-field">
        <label class="d-form-field__label" for="normal-input">Bus
        </label>
        <div class="d-form-field__value">
          <input type="text" class="d-form-field__input" size="10" />
        </div>
      </div>
    </div>

    <div class="d-form-field">
      <label class="d-form-field__label" for="normal-input">Country
      </label>
      <div class="d-form-field__value">
        <select>
          <option value="">--Country of residence--</option>
        </select>
      </div>
    </div>
  </div>

  <h2>Horizontal form (classic)</h2>
  <div class="d-form__section --rows">
    <div class="d-form-field">
      <label class="d-form-field__label" for="normal-input">Standard stacked
        input
        <span class="d-form-field__optional">(Optional)</span></label>

      <div class="d-form-field__value">
        <input
          type="text"
          class="d-form-field__input"
          id="normal-input"
          size="25"
        />
        <div class="d-form-field__meta">
          <p class="d-form-field__meta-text">Format: XYZ-123</p>
          <span class="d-form-field__character-count has-error">0/25</span>
        </div>
      </div>
    </div>

    <div class="d-form-field has-error">
      <label class="d-form-field__label" for="normal-input">Error highlighting
      </label>
      <div class="d-form-field__value">
        <input
          type="text"
          class="d-form-field__input"
          id="normal-input"
          size="15"
        />
        <div class="d-form-field__meta --warning">
          <p class="d-form-field__meta-text">
            {{d-icon "warning"}}<span>Error: explanation of error</span></p>
          <span class="d-form-field__character-count has-error">0/25</span>
        </div>
      </div>
    </div>

    <div class="d-form-field">
      <label class="d-form-field__label" for="normal-input">Disabled input
      </label>
      <div class="d-form-field__value">
        <input
          type="text"
          class="d-form-field__input"
          id="normal-input"
          size="25"
          disabled
          value="Disabled input"
        />
      </div>
    </div>

    <fieldset class="d-form-field --checkbox">
      <legend class="d-form-field__label">Set as default
      </legend>
      <div class="d-form-field__value-container">
        <div class="d-form-field__value">
          <div class="d-form-field__input-wrapper">
            <input class="d-form-field__input" type="checkbox" id="checkbox" />
            <label class="d-form-field__label" for="checkbox">Agree
            </label>
          </div>
          <div class="d-form-field__meta --warning">
            <p class="d-form-field__meta-text">
              {{d-icon "warning"}}<span>Error: explanation of error</span></p>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset class="d-form-field --radiobtns">
      <legend>After reminding you, we should…</legend>
      <div class="d-form-field__value-container">
        <div class="d-form-field__value">
          <input
            type="radio"
            id="radio-1"
            name="radio"
            class="d-form-field__input"
          />
          <label for="radio-1" class="checkbox-label">Keep bookmark and delete
            reminder</label>
        </div>

        <div class="d-form-field__value">
          <input
            type="radio"
            id="radio-2"
            name="radio"
            class="d-form-field__input"
          />
          <label for="radio-2" class="checkbox-label">Keep bookmark</label>
        </div>

        <div class="d-form-field__value">
          <input
            type="radio"
            id="radio-3"
            name="radio"
            class="d-form-field__input"
          />
          <label for="radio-3" class="checkbox-label">Delete bookmark</label>
        </div>

        <div class="d-form-field__value">
          <input
            type="radio"
            id="radio-4"
            name="radio"
            class="d-form-field__input"
          />
          <label for="radio-4" class="checkbox-label">Delete bookmark once I
            reply</label>
        </div>
      </div>
    </fieldset>

    <fieldset class="d-form-field --checkbox">
      <legend class="d-form-field__label">Multi checkbox options
      </legend>
      <div class="d-form-field__value-container">
        <div class="d-form-field__value">
          <div class="d-form-field__input-wrapper">
            <input class="d-form-field__input" type="checkbox" id="checkbox" />
            <label class="checkbox-label" for="checkbox">I
            </label>
          </div>
        </div>
        <div class="d-form-field__value">
          <div class="d-form-field__input-wrapper">
            <input class="d-form-field__input" type="checkbox" id="checkbox" />
            <label class="checkbox-label" for="checkbox">like
            </label>
          </div>
        </div>
        <div class="d-form-field__value">
          <div class="d-form-field__input-wrapper">
            <input class="d-form-field__input" type="checkbox" id="checkbox" />
            <label class="checkbox-label" for="checkbox">courgette
            </label>
          </div>
        </div>
        <div class="d-form-field__meta --warning">
          <p class="d-form-field__meta-text">
            {{d-icon "warning"}}<span>Error: explanation of error</span></p>
        </div>
      </div>

    </fieldset>

  </div>

  <h2>Inline form</h2>
  <p class="d-form__section-info">A potential longer text explaining the use
    cases of this entire section row, if needed (hopefully not). A form row
    should not contain checkboxes or radiobuttons. Be reasonable.</p>
  <div class="d-form__section --inline">
    <div class="d-form-field">
      <label class="d-form-field__label" for="normal-input">Standard stacked
        input
        <span class="d-form-field__optional">(Optional)</span></label>

      <div class="d-form-field__value">
        <input type="text" class="d-form-field__input" id="normal-input" />
        <div class="d-form-field__meta">
          <p class="d-form-field__meta-text">Format: XYZ-123</p>
          <span class="d-form-field__character-count has-error">0/25</span>
        </div>
      </div>
    </div>

    <div class="d-form-field">
      <label class="d-form-field__label" for="normal-input">Error highlighting
      </label>
      <div class="d-form-field__value">
        <select />
        <div class="d-form-field__meta --warning">
          <p class="d-form-field__meta-text">
            {{d-icon "warning"}}<span>Error: explanation of error</span></p>
          <span class="d-form-field__character-count has-error">0/25</span>
        </div>
      </div>
    </div>

    <div class="d-form-field">
      <label class="d-form-field__label" for="normal-input">Disabled input
      </label>
      <div class="d-form-field__value">
        <input
          type="text"
          class="d-form-field__input"
          id="normal-input"
          disabled
          value="Disabled input"
        />
      </div>
    </div>

    <button type="submit" class="d-form__section-inline-btn">Submit</button>
  </div>

  <h2>Radio buttons fieldset</h2>
  <div class="d-form__section">
    <fieldset class="d-form-field --radiobtns">
      <legend>After reminding you, we should…</legend>
      <div class="d-form-field__value-container">
        <div class="d-form-field__value">
          <input
            type="radio"
            id="radio-1"
            name="radio"
            class="d-form-field__input"
          />
          <label for="radio-1" class="checkbox-label">Keep bookmark and delete
            reminder</label>
        </div>

        <div class="d-form-field__value">
          <input
            type="radio"
            id="radio-2"
            name="radio"
            class="d-form-field__input"
          />
          <label for="radio-2" class="checkbox-label">Keep bookmark</label>
        </div>

        <div class="d-form-field__value">
          <input
            type="radio"
            id="radio-3"
            name="radio"
            class="d-form-field__input"
          />
          <label for="radio-3" class="checkbox-label">Delete bookmark</label>
        </div>

        <div class="d-form-field__value">
          <input
            type="radio"
            id="radio-4"
            name="radio"
            class="d-form-field__input"
          />
          <label for="radio-4" class="checkbox-label">Delete bookmark once I
            reply</label>
        </div>
      </div>
    </fieldset>
  </div>

  {{! 
  <h2>Multirow form</h2>
  <div class="d-form__section --inline">
    <fieldset>
      <legend>Icon</legend>
      <div class="d-form-field"><select /></div>
      <div class="d-form-field"><select /></div>
      <div class="d-form-field"><select /></div>
      <div class="d-form-field"><select /></div>
    </fieldset>
    <fieldset>
      <legend>Name</legend>
      <input class="d-form-field__input" />
      <input class="d-form-field__input" />
      <input class="d-form-field__input" />
      <input class="d-form-field__input" />
    </fieldset>
    <fieldset>
      <legend>Link</legend>
      <input class="d-form-field__input" />
      <input class="d-form-field__input" />
      <input class="d-form-field__input" />
      <input class="d-form-field__input" />
    </fieldset>
    <fieldset>
      <legend>Delete</legend>
      <button
        type="button"
        class="d-form__section-inline-btn --fieldset"
      >Del</button>
      <button
        type="button"
        class="d-form__section-inline-btn --fieldset"
      >Del</button>
      <button
        type="button"
        class="d-form__section-inline-btn --fieldset"
      >Del</button>
      <button
        type="button"
        class="d-form__section-inline-btn --fieldset"
      >Del</button>

    </fieldset>
  </div> }}
</form>

<StyleguideExample @title="text-field">
  <TextField @placeholder="Placeholder" />
</StyleguideExample>

<StyleguideExample @title="password">
  <PasswordField type="password" placeholder="Placeholder" />
</StyleguideExample>

<StyleguideExample @title="textarea">
  <Textarea placeholder="Placeholder" />
</StyleguideExample>

<StyleguideExample @title="inline-form">
  <div class="inline-form">
    <TextField @placeholder="Placeholder" />
    <DButton
      @icon="search"
      @translatedLabel="Submit"
      type="submit"
      class="btn-primary"
    />
  </div>
</StyleguideExample>

<StyleguideExample @title="inline-form with icon button">
  <div class="inline-form">
    <TextField @placeholder="Placeholder" />
    <DButton @icon="search" type="submit" class="btn-primary" />
  </div>
</StyleguideExample>

<StyleguideExample @title="full-width inline-form with single input">
  <div class="inline-form full-width">
    <TextField @placeholder="Placeholder" />
  </div>
</StyleguideExample>

<StyleguideExample @title="full-width inline-form with input and icon button">
  <div class="inline-form full-width">
    <TextField @placeholder="Placeholder" />
    <DButton @icon="search" type="submit" class="btn-primary" />
  </div>
</StyleguideExample>

<StyleguideExample
  @title="inline-form with <ComboBox>"
  @initialValue={{get @dummy "options.0.name"}}
  as |value|
>
  <div class="inline-form">
    <TextField @placeholder="Placeholder" />
    <ComboBox
      @content={{@dummy.options}}
      @value={{value}}
      @onChange={{fn (mut value)}}
    />
    <DButton
      @icon="search"
      @translatedLabel="Submit"
      type="submit"
      class="btn-primary"
    />
  </div>
</StyleguideExample>

<StyleguideExample @title="inline-form with <MultiSelect>">
  <div class="inline-form">
    <TextField />
    <MultiSelect @content={{@dummy.options}} @onChange={{@dummyAction}} />
    <DButton
      @icon="search"
      @translatedLabel="Submit"
      type="submit"
      class="btn-primary"
    />
  </div>
</StyleguideExample>

<StyleguideExample @title="inline-form with <MultiSelect> and label">
  <div class="inline-form">
    <label>Text:</label>
    <TextField />
    <MultiSelect @content={{@dummy.options}} @onChange={{@dummyAction}} />
    <DButton
      @icon="search"
      @translatedLabel="Submit"
      type="submit"
      class="btn-primary"
    />
  </div>
</StyleguideExample>

<StyleguideExample @title="full-width inline-form with search type input">
  <div class="inline-form full-width">
    <Input placeholder="Search type input" @type="search" />
  </div>
</StyleguideExample>

<StyleguideExample @title="<CategoryNotificationsButton> and regular button">
  <div class="inline-form">
    <CategoryNotificationsButton
      @category={{get @dummy.categories 0}}
      @value={{1}}
      @onChange={{@dummyAction}}
    />
    <DButton @icon="reply" @type="submit" @translatedLabel="Button" />
  </div>
</StyleguideExample>