<div
  class="d-lightbox__body"
  tabindex="-1"
  {{on "touchstart" @onTouchstart passive=true capture=true}}
  {{on "touchend" @onTouchend passive=true capture=true}}
  {{on "click" @imageClicked passive=true}}
>
  {{#if @shouldDisplayMainImageArrows}}
    <DButton
      {{on "click" @showPreviousItem capture=true}}
      @title="experimental_lightbox.buttons.previous"
      @icon={{@previousButtonIcon}}
      @ariaHidden="true"
      class="d-lightbox__previous-button btn-transparent"
    />
  {{/if}}
  {{#if @isLoading}}
    <span class="d-lightbox__loading-spinner">
      {{loading-spinner size="large"}}
    </span>
  {{else if @hasLoadingError}}
    <span class="d-lightbox__error-message">
      <DButton
        {{on "click" @reloadImage passive=true capture=true}}
        @title="experimental_lightbox.buttons.redo"
        @icon="arrow-rotate-right"
        class="d-lightbox__retry-button btn-flat"
      />
      <span>{{i18n "experimental_lightbox.image_load_error"}}</span>
    </span>
  {{else if @isZoomed}}
    <div
      class="d-lightbox__zoomed-image-container"
      tabindex="-1"
      {{did-insert @centerZoomedBackgroundPosition}}
      {{on "mousemove" @zoomOnMouseover passive=true capture=true}}
    ></div>
  {{else}}
    <DLightbox::Backdrop @close={{@close}} />
    <img
      aria-hidden="true"
      draggable="false"
      fetchPriority="high"
      decoding="async"
      tabindex="-1"
      class="d-lightbox__main-image"
      src={{@currentItem.fullsizeURL}}
    />
  {{/if}}
  {{#if @shouldDisplayMainImageArrows}}
    <DButton
      {{on "click" @showNextItem capture=true}}
      @title="experimental_lightbox.buttons.next"
      @icon={{@nextButtonIcon}}
      @ariaHidden="true"
      class="d-lightbox__next-button btn-flat"
    />
  {{/if}}
</div>