<div class="d-lightbox__footer">
  {{#if @shouldDisplayTitle}}
    <div
      aria-hidden="true"
      class="d-lightbox__main-title"
      tabindex="0"
      {{on "click" @toggleExpandTitle passive=true capture=true}}
    >
      <span class="d-lightbox__item-title">
        {{~@currentItem.title~}}
      </span>
      <span class="d-lightbox__item-file-details">
        {{~@currentItem.fileDetails~}}
      </span>
    </div>
  {{/if}}
  <div class="d-lightbox__footer-buttons">
    {{#if @canZoom}}
      <DLightbox::Button
        aria-hidden="true"
        @class="d-lightbox__zoom-button"
        @name="zoom"
        @icon={{@zoomButtonIcon}}
        @onClick={{@toggleZoom}}
      />
    {{/if}}
    {{#if @canRotate}}
      <DLightbox::Button
        aria-hidden="true"
        @class="d-lightbox__rotate-button"
        @name="rotate"
        @icon="redo"
        @onClick={{@rotateImage}}
      />
    {{/if}}
    {{#if @canDownload}}
      <DLightbox::Button
        @class="d-lightbox__download-button"
        @name="download"
        @icon="download"
        @onClick={{@downloadImage}}
      />
    {{/if}}
  </div>
</div>
