<div class="d-lightbox__header">
  {{#if @canNavigate}}
    <div
      aria-hidden="true"
      class="d-lightbox__multi-item-controls"
    >
      <DLightbox::Button
        aria-hidden="true"
        @class="d-lightbox__carousel-button"
        @name="carousel"
        @icon="images"
        @onClick={{@toggleCarousel}}
      />
      <div class="d-lightbox__counters">
        <span class="d-lightbox__counter-current">
          {{~@counterIndex~}}
        </span>
        <span class="d-lightbox__counter-separator">
          <span>/</span>
        </span>
        <span class="d-lightbox__counter-total">
          {{~@totalItemCount~}}
        </span>
      </div>
    </div>
  {{/if}}
  <div class="d-lightbox__header-buttons">
    {{#if @canDownload}}
      <DLightbox::Button
        aria-hidden="true"
        @class="d-lightbox__new-tab-button"
        @name="newtab"
        @icon="external-link-alt"
        @onClick={{@openInNewTab}}
      />
    {{/if}}
    {{#if @canFullscreen}}
      <DLightbox::Button
        aria-hidden="true"
        @class="d-lightbox__full-screen-button"
        @name="fullscreen"
        @icon="discourse-expand"
        @onClick={{@toggleFullScreen}}
      />
    {{/if}}
    <DLightbox::Button
      @class="d-lightbox__close-button"
      @name="close"
      @icon="times"
      @onClick={{@close}}
    />
  </div>
</div>
