<div data-lightbox-header class="d-lightbox__content__header">
  {{#if @canNavigate}}
    <div
      data-lightbox-multi-item-controls
      aria-hidden="true"
      class="d-lightbox__content__header__multi-item-controls"
    >
      <DLightbox::Button
        data-lightbox-carousel-button
        aria-hidden="true"
        @class="d-lightbox__content__header__multi-item-controls__carousel-button"
        @name="carousel"
        @icon="images"
        @onClick={{@toggleCarousel}}
      />
      <div
        data-lightbox-counter
        class="d-lightbox__content__header__multi-item-controls__counter"
      >
        <span
          data-lightbox-counter-current
          class="d-lightbox__content__header__multi-item-controls__counter__current"
        >
          {{~@counterIndex~}}
        </span>
        <span
          data-lightbox-counter-separator
          class="d-lightbox__content__header__multi-item-controls__counter__separator"
        >
          <span>/</span>
        </span>
        <span
          data-lightbox-counter-total
          class="d-lightbox__content__header__multi-item-controls__counter__total"
        >
          {{~@totalItemCount~}}
        </span>
      </div>
    </div>
  {{/if}}
  <div
    data-lightbox-header-buttons
    class="d-lightbox__content__header__buttons"
  >
    {{#if @canDownload}}
      <DLightbox::Button
        data-lightbox-newtab-button
        aria-hidden="true"
        @class="d-lightbox__content__header__buttons__new-tab-button"
        @name="newtab"
        @icon="external-link-alt"
        @onClick={{@openInNewTab}}
      />
    {{/if}}
    {{#if @canFullscreen}}
      <DLightbox::Button
        data-lightbox-fullscreen-button
        aria-hidden="true"
        @class="d-lightbox__content__header__buttons__full-screen-button"
        @name="fullscreen"
        @icon="discourse-expand"
        @onClick={{@toggleFullScreen}}
      />
    {{/if}}
    <DLightbox::Button
      data-lightbox-close-button
      @class="d-lightbox__content__header__buttons__close-button"
      @name="close"
      @icon="times"
      @onClick={{@close}}
    />
  </div>
</div>
