<tr>
  <td class="title"><a {{bindAttr href="reportUrl"}}>{{title}}</a></td>
  <td class="value">{{todayCount}}</td>
  <td class="value">{{yesterdayCount}}</td>
  <td class="value">{{sevenDaysAgoCount}}</td>
  <td class="value">{{thirtyDaysAgoCount}}</td>
</tr>