{{#if loaded}}
  <tr>
    <td class="title">{{title}}</td>
    <td class="value">{{valueAtDaysAgo data 0}}</td>
    <td class="value">{{valueAtDaysAgo data 1}}</td>
    <td class="value">{{valueAtDaysAgo data 7}}</td>
    <td class="value">{{valueAtDaysAgo data 30}}</td>
  </tr>
{{/if}}