<tr>
  <td class="title"><a {{bindAttr href="reportUrl"}}>{{title}}</a></td>
  <td class="value">{{valueAtDaysAgo data 0}}</td>
  <td class="value">{{valueAtDaysAgo data 1}}</td>
  <td class="value">{{sumLast data 7}}</td>
  <td class="value">{{sumLast data 30}}</td>
</tr>