<tr>
  <td class="title">{{title}}</td>
  <td class="value">{{valueAtTrustLevel data 0}}</td>
  <td class="value">{{valueAtTrustLevel data 1}}</td>
  <td class="value">{{valueAtTrustLevel data 2}}</td>
  <td class="value">{{valueAtTrustLevel data 3}}</td>
  <td class="value">{{valueAtTrustLevel data 4}}</td>
  <td class="value">{{valueAtTrustLevel data 5}}</td>
</tr>