<div
  id="dialog-holder"
  class="dialog-container {{this.dialog.class}}"
  aria-labelledby={{this.dialog.titleElementId}}
  aria-hidden="true"
>
  <div class="dialog-overlay" data-a11y-dialog-hide></div>

  {{#if this.dialog.type}}
    <div class="dialog-content" role="document">
      {{#if this.dialog.title}}
        <div class="dialog-header">
          <h3 id={{this.dialog.titleElementId}}>{{this.dialog.title}}</h3>
          <DButton
            @icon="times"
            @action={{action this.dialog.cancel}}
            @title="modal.close"
            class="btn-flat dialog-close close"
          />
        </div>
      {{/if}}

      {{#if (or this.dialog.message this.dialog.bodyComponent)}}
        <div class="dialog-body">
          {{#if this.dialog.bodyComponent}}
            <this.dialog.bodyComponent
              @model={{this.dialog.bodyComponentModel}}
            />
          {{else if this.dialog.message}}
            <p>{{html-safe this.dialog.message}}</p>
          {{/if}}
        </div>
      {{/if}}

      {{#if (notEq this.dialog.type "notice")}}
        <div class="dialog-footer">
          {{#each this.dialog.buttons as |button|}}
            <DButton
              @icon={{button.icon}}
              @action={{fn this.handleButtonAction button}}
              @translatedLabel={{button.label}}
              class={{button.class}}
            />
          {{else}}
            <DButton
              @disabled={{this.dialog.confirmButtonDisabled}}
              @action={{this.dialog.didConfirmWrapped}}
              @icon={{this.dialog.confirmButtonIcon}}
              @label={{this.dialog.confirmButtonLabel}}
              class={{this.dialog.confirmButtonClass}}
            />
            {{#if this.dialog.shouldDisplayCancel}}
              <DButton
                @action={{this.dialog.cancel}}
                @label={{this.dialog.cancelButtonLabel}}
                class={{this.dialog.cancelButtonClass}}
              />
            {{/if}}
          {{/each}}
        </div>
      {{/if}}
    </div>
  {{/if}}
</div>