{{#if category}}
    {{#if hasParentCategory}}
      <div class="category-status">
        {{badgeForParentCategory}} {{badgeForCategory}}
        <span class="topic-count">&times; {{topicCount}}</span>
      </div>
    {{else}}
      <div class="category-status">
        {{badgeForCategory}}
        <span class="topic-count">{{topicCount}}</span>
      </div>
    {{/if}}

    {{#if shouldDisplayDescription}}
      <div class="category-desc">{{{description}}}</div>
    {{/if}}
{{else}}
  {{{label}}}
{{/if}}
