{{#unless isHidden}}
  {{component selectKit.options.headerComponent
    tabindex=tabindex
    value=value
    selectedContent=selectedContent
    selectKit=selectKit
  }}

  {{#select-kit/select-kit-body selectKit=selectKit}}
    {{#unless selectKit.isLoading}}
      {{#if selectKit.filter}}
      {{#if selectKit.hasNoContent}}
        <span class="no-content">
          {{i18n "select_kit.no_content"}}
        </span>
      {{/if}}
      {{/if}}

      {{#each collections as |collection|}}
        {{component (component-for-collection collection.identifier selectKit)
          collection=collection
          selectKit=selectKit
          value=value
        }}
      {{/each}}
    {{else}}
      <span class="is-loading">
        {{loading-spinner size="small"}}
      </span>
    {{/unless}}
  {{/select-kit/select-kit-body}}

  <div class="select-kit-wrapper"></div>
{{/unless}}
