<div class='onebox-result'>
  {{#host}}
    <div class="source">
      <div class="info">
        <a href='{{original_url}}' class='source track-link' target="_blank">
          {{#favicon}}<img class='favicon' src="{{favicon}}"> {{/favicon}}{{host}}
        </a>
      </div>
    </div>
  {{/host}}
  <div class='onebox-result-body'>  
    <h4><a href="{{original_url}}" target="_blank">{{original_url}}</a></h4>
    <pre><code class='{{lang}}'>{{content}}</code></pre>

    {{#truncated}}
      This file has been truncated. <a href="{{original_url}}" target="_blank">show original</a>
    {{/truncated}}
  </div>
</div>
