<div class='onebox-result'>
  {{#host}}
    <div class="source">
      <div class="info">
        <a href='{{original_url}}' class="track-link" target="_blank">
          {{#favicon}}<img class='favicon' src="{{favicon}}"> {{/favicon}}{{host}}
        </a>
      </div>
    </div>
  {{/host}}

  <div class='onebox-result-body'>
    {{#user.profile_image_url}}
    <img src="{{user.profile_image_url}}">{{/user.profile_image_url}}
    <h4>
      <a href='https://twitter.com/{{user.screen_name}}'>
        @{{user.screen_name}}
      </a>
    </h4>

    {{{text}}}

    <div class='date'>
      <a href="{{original_url}}" target="_blank">{{created_at}}</a>
    </div>
  </div>
  <div class='clearfix'></div>
</div>
