{{#each icons as |icon|}} {{d-icon icon}} {{/each}}

<span class="selected-name">
  {{#if forceEscape}}
    {{label}}
  {{else}}
    {{{label}}}
  {{/if}}
</span>

{{#if shouldDisplayClearableButton}}
  <button class="btn-clear" {{action onClearSelection bubbles=false}}>
    {{d-icon 'times'}}
  </button>
{{/if}}

{{d-icon caretIcon class="caret-icon"}}
