{{#each icons as |icon|}} {{d-icon icon}} {{/each}}

<span class="selected-name">
  {{#if forceEscape}}
    {{label}}
  {{else}}
    {{{label}}}
  {{/if}}
</span>

{{#if shouldDisplayClearableButton}}
  {{d-button
    class="btn-clear"
    action=(action onClearSelection bubbles=false)
    icon="times"}}
{{/if}}

{{d-icon caretIcon class="caret-icon"}}
