{{#each icons as |icon|}} {{d-icon icon}} {{/each}}

{{#if label}}
  <span class="selected-name">
    {{{label}}}
  </span>
{{else}}
  <span class="combo-box-placeholder">
    {{placeholder}}
  </span>
{{/if}}

{{#if shouldDisplayClearableButton}}
  <button class="btn-clear" {{action onClearSelection bubbles=false}}>
    {{d-icon 'times'}}
  </button>
{{/if}}

{{d-icon caretIcon class="caret-icon"}}
