{{#if icons}}
  {{{icons}}}
{{/if}}

<span class="selected-name" title={{name}}>
  {{{name}}}
</span>

{{#if shouldDisplayClearableButton}}
  <button class="btn-clear" {{action onClear bubbles=false}}>
    {{d-icon 'times'}}
  </button>
{{/if}}

{{d-icon caretIcon class="caret-icon"}}
