<div class="poll-container">
  {{#if showingResults}}
    {{#if isNumber}}
      {{poll-results-number poll=poll}}
    {{else}}
      {{poll-results-standard poll=poll}}
    {{/if}}
  {{else}}
    <ul>
      {{#each option in poll.options}}
        {{poll-option option=option color=poll.color background=poll.background toggle="toggleOption"}}
      {{/each}}
    </ul>
  {{/if}}
</div>

<p>{{totalVotesText}}</p>

{{#if isMultiple}}
  <p>{{multipleHelpText}}</p>
  {{d-button class="cast-votes" title="poll.cast-votes.title" label="poll.cast-votes.label" disabled=castVotesDisabled action="castVotes"}}
{{/if}}

{{#if showingResults}}
  {{d-button class="toggle-results" title="poll.hide-results.title" label="poll.hide-results.label" icon="eye-slash" disabled=hideResultsDisabled action="toggleResults"}}
{{else}}
  {{d-button class="toggle-results" title="poll.show-results.title" label="poll.show-results.label" icon="eye" disabled=showResultsDisabled action="toggleResults"}}
{{/if}}

{{#if canToggleStatus}}
  {{#if isClosed}}
    {{d-button class="toggle-status" title="poll.open.title" label="poll.open.label" icon="unlock-alt" action="toggleStatus"}}
  {{else}}
    {{d-button class="toggle-status btn-danger" title="poll.close.title" label="poll.close.label" icon="lock" action="toggleStatus"}}
  {{/if}}
{{/if}}
