<table>
  {{#each poll.options}}
    <tr {{bind-attr class=checked:active}} {{action selectOption option}}>
      <td class="radio">
        <input type="radio" name="poll" {{bind-attr checked=checked disabled=controller.disableRadio}}>
      </td>
      <td class="option">
        <div class="option">{{{option}}}</div>
        {{#if controller.showResults}}
          <div class="result">{{i18n poll.voteCount count=votes}}</div>
        {{/if}}
      </td>
    </tr>
  {{/each}}
</table>

<button {{action toggleShowResults}} class="btn btn-small">
  {{#if showResults}}
    <i class="fa fa-eye-slash"></i>
    {{i18n poll.results.hide}}
  {{else}}
    <i class="fa fa-eye"></i>
    {{i18n poll.results.show}}
  {{/if}}
</button>

{{#if showToggleClosePoll}}
  <button {{action toggleClosePoll}} class="btn btn-small">
    {{#if poll.closed}}
      <i class="fa fa-unlock-alt"></i>
      {{i18n poll.open_poll}}
    {{else}}
      <i class="fa fa-lock"></i>
      {{i18n poll.close_poll}}
    {{/if}}
  </button>
{{/if}}

{{#if loading}}
  <i class="fa fa-spin fa-spinner"></i>
{{/if}}
