<div class="control-group pref-passkeys">
  <label class="control-label">
    {{i18n "user.passkeys.title"}}
  </label>
  <div class="instructions">
    {{i18n "user.passkeys.short_description"}}
  </div>

  <div class="pref-passkeys__rows">
    {{#each @model.user_passkeys as |passkey|}}
      <div class="row">
        <div class="passkey-left">
          <div class="row-passkey__name">{{passkey.name}}</div>
          <div class="row-passkey__created-date">
            <span class="prefix">
              {{i18n "user.passkeys.added_prefix"}}
            </span>
            {{format-date passkey.created_at format="medium" leaveAgo="true"}}
          </div>
          <div class="row-passkey__used-date">
            {{#if passkey.last_used}}
              <span class="prefix">
                {{i18n "user.passkeys.last_used_prefix"}}
              </span>
              {{format-date passkey.last_used format="medium" leaveAgo="true"}}
            {{else}}
              {{i18n "user.passkeys.never_used"}}
            {{/if}}
          </div>
        </div>
        {{#if (eq this.currentUser.id @model.id)}}
          <div class="passkey-right">
            <div class="actions">
              <UserPreferences::PasskeyOptionsDropdown
                @passkeyId={{passkey.id}}
                @deletePasskey={{action "deletePasskey" passkey.id}}
                @renamePasskey={{action
                  "renamePasskey"
                  passkey.id
                  passkey.name
                }}
              />
            </div>
          </div>
        {{/if}}
      </div>
    {{/each}}
  </div>

  <div class="controls pref-passkeys__add">
    {{#if (eq this.currentUser.id @model.id)}}
      <DButton
        @action={{action "addPasskey"}}
        @icon="plus"
        @label="user.passkeys.add_passkey"
      />
    {{/if}}
  </div>
</div>