{{#if categories}}
  <div class='contents'>
    <table class='topic-list categories'>
      <thead>
        <tr>
          <th class='category'>{{i18n 'categories.category'}}</th>
          <th class='latest'>{{i18n 'categories.latest'}}</th>
          <th class='stats topics'>{{i18n 'categories.topics'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each c in categories}}
          <tr data-category_id='{{unbound c.id}}' {{bind-attr class="c.description_excerpt:has-description:no-description c.logo_url:has-logo:no-logo"}}>
            <td class='category' style="border-color: #{{unbound c.color}}">
              <div>
                <div class="pull-left">
                  {{category-title-link category=c}}
                  {{#if c.unreadTopics}}
                    <a href={{unbound c.unreadUrl}} class='badge new-posts badge-notification' title='{{i18n 'topic.unread_topics' count=c.unreadTopics}}'>{{i18n 'filters.unread.lower_title_with_count' count=c.unreadTopics}}</a>
                  {{/if}}
                  {{#if c.newTopics}}
                    <a href={{unbound c.newUrl}} class='badge new-posts badge-notification' title='{{i18n 'topic.new_topics' count=c.newTopics}}'>{{i18n 'filters.new.lower_title_with_count' count=c.newTopics}}</a>
                  {{/if}}
                </div>
                <div class="clearfix"></div>
              </div>
              {{#if c.description_excerpt}}
                <div class="category-description">
                  {{{c.description_excerpt}}}
                </div>
              {{/if}}
              {{#if c.subcategories}}
                <div class='subcategories'>
                  {{#each s in c.subcategories}}
                    {{category-link s showParent="true" onlyStripe="true"}}
                    {{#if s.unreadTopics}}
                      <a href={{unbound s.unreadUrl}} class='badge new-posts badge-notification' title='{{i18n 'topic.unread_topics' count=s.unreadTopics}}'>{{unbound s.unreadTopics}}</a>
                    {{/if}}
                    {{#if s.newTopics}}
                      <a href={{unbound s.newUrl}} class='badge new-posts badge-notification' title='{{i18n 'topic.new_topics' count=s.newTopics}}'>{{unbound s.newTopics}}</a>
                    {{/if}}
                  {{/each}}
                </div>
              {{/if}}
            </td>
            <td {{bind-attr class="c.archived :latest"}}>
              {{#each f in c.featuredTopics}}
                <div class="featured-topic">
                  {{topic-status topic=f}}
                  <a class='title' href="{{unbound f.lastUnreadUrl}}">{{{unbound f.fancy_title}}}</a>
                  {{topic-post-badges newPosts=f.totalUnread unseen=f.unseen url=f.lastUnreadUrl}}

                  {{#if controller.latestTopicOnly}}
                    <div class='last-user-info'>
                      {{i18n 'categories.latest_by'}} <a href="{{{unbound f.lastPosterUrl}}}">{{unbound f.last_poster.username}}</a>
                      <a href="{{unbound f.lastPostUrl}}">{{format-age f.last_posted_at}}</a>
                    </div>
                  {{else}}
                    &nbsp;
                    <a href="{{unbound f.lastPostUrl}}" class="last-posted-at">{{format-age f.last_posted_at}}</a>
                  {{/if}}
                </div>
              {{/each}}
            </td>
            <td class='stats' {{bind-attr title="c.topicStatsTitle"}}>
              <table class="categoryStats">
                <tbody>
                {{#each s in c.topicCountStats}}
                  <tr>
                    <td class="value">{{s.value}}</td>
                    <td class="unit"> / {{s.unit}}</td>
                  </tr>
                {{/each}}
                </tbody>
              </table>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <footer class='topic-list-bottom'></footer>
{{/if}}
