{{#if model.categories}}
  {{#discovery-categories refresh="refresh"}}
    <table class='categories topic-list'>
      <thead>
        <tr>
          <th class='category'>{{i18n 'categories.category'}}</th>
          <th class='stats topics'>{{i18n 'categories.topics'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.categories as |c|}}
          <tr data-category_id='{{unbound c.id}}' class="{{if c.description_excerpt 'has-description' 'no-description'}} {{if c.logo_url 'has-logo' 'no-logo'}}">
            <td class='category' style={{border-color c.color}}>
              <div>
                {{category-title-link category=c}}
                {{#if c.logo_url}}
                  {{category-logo-link category=c}}
                {{/if}}
                <div class="category-description">
                  {{{c.description_excerpt}}}
                </div>
                <div class="clearfix"></div>
              </div>
              {{#if c.subcategories}}
                <div class='subcategories'>
                  {{#each c.subcategories as |s|}}
                    {{category-link s hideParent="true"}}
                    {{category-unread category=s}}
                  {{/each}}
                </div>
              {{/if}}
            </td>
            <td class='stats'>
              <div title={{c.statTitle}}>
                {{{c.stat}}}
              </div>
              {{category-unread category=c tagName="div" class="unread-new"}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/discovery-categories}}
{{/if}}
<table class="topic-list topic-list-latest">
  <thead>
    <tr>
      <th class='category'>{{i18n "filters.latest.title"}}</th>
    </tr>
  </thead>
  <tbody>
    {{#if model.loadingTopics}}
      {{loading-spinner}}
    {{else}}
      {{#if model.topicList.topics}}
        {{#each model.topicList.topics as |t|}}
          <tr>
            <table>
              <tbody>
                <tr class="{{if t.archived 'archived'}}" data-topic-id={{unbound t.id}}>
                  <td class="topic-poster">
                    {{#with t.posters.firstObject.user as |originalPoster|}}
                      {{#user-link user=originalPoster}}
                        {{avatar originalPoster imageSize="large"}}
                      {{/user-link}}
                    {{/with}}
                  </td>
                  <td class="main-link">
                    <tr>
                      {{topic-status topic=t}}
                      {{topic-link t}}
                      {{topic-post-badges newPosts=t.totalUnread unseen=t.unseen url=t.lastUnreadUrl}}
                    </tr>
                    <tr>
                      {{category-link t.category}}
                      {{#if t.tags}}
                        {{#each t.visibleListTags as |tag|}}
                          {{discourse-tag tag}}
                        {{/each}}
                      {{/if}}
                    </tr>
                  </td>
                  <td class="topic-stats">
                    {{raw "list/posts-count-column" topic=t tagName="div"}}
                    <div class="topic-last-activity">
                      <a href="{{t.lastPostUrl}}" title="{{t.bumpedAtTitle}}">{{format-date t.bumpedAt format="tiny" noTitle="true"}}</a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </tr>
        {{/each}}
        <tr class="more-topics">
          <td>
            <a href="/latest" class="btn pull-right">{{i18n "more"}}</a>
          </td>
        </tr>
      {{else}}
        <tr class="no-topics">
          <td>
            <h3>{{i18n "topics.none.latest"}}</h3>
          </td>
        </tr>
      {{/if}}
    {{/if}}
  </tbody>
</table>
<div class="clearfix"></div>
