<div class="top-lists">
  {{#if currentUser.redirected_to_top_reason}}
    <div class="alert alert-info">{{currentUser.redirected_to_top_reason}}</div>
  {{/if}}

  {{#if topicList}}
    <div class="clearfix">
      {{top-period-chooser period=period}}
      {{basic-topic-list topicList=topicList hideCategory=hideCategory postsAction="showTopicEntrance"}}
      {{#if topicList.topics.length}}<a href="{{unbound period.showMoreUrl}}" class='btn btn-default pull-right'>{{i18n show_more}}</a>{{/if}}
    </div>
  {{/if}}

  <footer class="topic-list-bottom">
    <h3>
    {{#if hasDisplayedAllTopLists}}
      {{#link-to "discovery.categories"}}{{i18n topic.browse_all_categories}}{{/link-to}} {{i18n or}} {{#link-to 'discovery.latest'}}{{i18n topic.view_latest_topics}}{{/link-to}}.
    {{else}}
      {{#link-to "discovery.categories"}}{{i18n topic.browse_all_categories}}{{/link-to}}, {{#link-to 'discovery.latest'}}{{i18n topic.view_latest_topics}}{{/link-to}} {{i18n or}} {{i18n filters.top.other_periods}}
      {{top-period-buttons period=period}}
    {{/if}}
    </h3>
  </footer>
</div>
