<section class="current-badge content-body">
  <div class="current-badge-header">
    {{iconOrImage this.model}}
    <span class="badge-display-name">{{this.model.name}}</span>
  </div>

  <Form
    @data={{this.model}}
    @onSubmit={{this.handleSubmit}}
    @validateOn="change"
    as |form data|
  >
    <form.Field
      @onSet={{this.onToggleBadge}}
      @name="enabled"
      @disabled={{this.readOnly}}
      as |field|
    >
      <field.Question
        @positiveLabel={{i18n "admin.badges.enabled"}}
        @negativeLabel={{i18n "admin.badges.disabled"}}
      />
    </form.Field>

    {{#if this.readOnly}}
      <form.Container @title={{i18n "admin.badges.name"}}>
        <LinkTo
          @route="adminSiteText.edit"
          @models={{array (concat this.textCustomizationPrefix "name")}}
          @query={{hash locale="en"}}
        >
          {{i18n "admin.badges.read_only_setting_help"}}
          {{d-icon "pencil-alt"}}
        </LinkTo>
      </form.Container>
    {{else}}
      <form.Field
        @name="name"
        @disabled={{this.readOnly}}
        @validation="required"
        @onSet={{this.onSetName}}
        as |field|
      >
        <field.Input @title={{i18n "admin.badges.name"}} />
      </form.Field>
    {{/if}}

    <form.Section @title="Design">
      <form.Field
        @name="badge_type_id"
        @disabled={{this.readOnly}}
        @validation="required"
        as |field|
      >
        <field.Select @title={{i18n "admin.badges.badge_type"}} as |select|>
          <select.Option @value={{undefined}}>-- make a choice--</select.Option>
          {{#each this.badgeTypes as |badgeType|}}
            <select.Option @value={{badgeType.id}}>
              {{badgeType.name}}
            </select.Option>
          {{/each}}
        </field.Select>
      </form.Field>

      <form.ConditionalContent
        @activeName={{if data.icon "choose-icon" "upload-image"}}
        as |cc|
      >
        <cc.Conditions as |condition|>
          <condition @name="choose-icon">
            {{i18n "admin.badges.select_an_icon"}}
          </condition>
          <condition @name="upload-image">
            {{i18n "admin.badges.upload_an_image"}}
          </condition>
        </cc.Conditions>
        <cc.Contents as |content|>
          <content @name="choose-icon">
            <form.Field @name="icon" @onSet={{this.onSetIcon}} as |field|>
              <field.Icon />
            </form.Field>
          </content>
          <content @name="upload-image">
            <form.Field
              @name="image_url"
              @onSet={{this.onSetImage}}
              @onUnset={{this.onUnsetImage}}
              as |field|
            >
              <field.Image />
            </form.Field>
          </content>
        </cc.Contents>
      </form.ConditionalContent>

      {{#if this.readOnly}}
        <form.Container @title={{i18n "admin.badges.description"}}>
          <LinkTo
            @route="adminSiteText.edit"
            @models={{array
              (concat this.textCustomizationPrefix "description")
            }}
            @query={{hash locale="en"}}
          >
            {{i18n "admin.badges.read_only_setting_help"}}
            {{d-icon "pencil-alt"}}
          </LinkTo>
        </form.Container>
      {{else}}
        <form.Field @name="description" @disabled={{this.readOnly}} as |field|>
          <field.Text
            @height={{100}}
            @title={{i18n "admin.badges.description"}}
          />
        </form.Field>
      {{/if}}

      {{#if this.readOnly}}
        <form.Container @title={{i18n "admin.badges.long_description"}}>
          <LinkTo
            @route="adminSiteText.edit"
            @models={{array
              (concat this.textCustomizationPrefix "long_description")
            }}
            @query={{hash locale="en"}}
          >
            {{i18n "admin.badges.read_only_setting_help"}}
            {{d-icon "pencil-alt"}}
          </LinkTo>
        </form.Container>
      {{else}}
        <form.Field
          @name="long_description"
          @disabled={{this.readOnly}}
          @height={{100}}
          as |field|
        >
          <field.Text @title={{i18n "admin.badges.long_description"}} />
        </form.Field>
      {{/if}}
    </form.Section>

    {{#if this.siteSettings.enable_badge_sql}}
      <form.Section @title="Query">
        <form.Field @name="query" @disabled={{this.readOnly}} as |field|>
          <field.Code @lang="sql" @title={{i18n "admin.badges.query"}} />
        </form.Field>

        {{#if (this.hasQuery data.query)}}
          <form.Container>
            <form.Button
              @isLoading={{this.preview_loading}}
              @label={{"admin.badges.preview.link_text"}}
              class="preview-badge"
              @action={{fn this.showPreview data "false"}}
            />
            <form.Button
              @isLoading={{this.preview_loading}}
              @label={{"admin.badges.preview.plan_text"}}
              class="preview-badge-plan"
              @action={{fn this.showPreview data "true"}}
            />
          </form.Container>

          <form.Field
            @name="auto_revoke"
            @disabled={{this.readOnly}}
            as |field|
          >
            <field.Checkbox @label={{i18n "admin.badges.auto_revoke"}} />
          </form.Field>

          <form.Field
            @name="target_posts"
            @disabled={{this.readOnly}}
            as |field|
          >
            <field.Checkbox @label={{i18n "admin.badges.target_posts"}} />
          </form.Field>

          <form.Field
            @name="trigger"
            @disabled={{this.readOnly}}
            @validation="required"
            as |field|
          >
            <field.Select @title={{i18n "admin.badges.trigger"}} as |select|>
              {{#each this.badgeTriggers as |badgeType|}}
                <select.Option @value={{badgeType.id}}>
                  {{badgeType.name}}
                </select.Option>
              {{/each}}
            </field.Select>
          </form.Field>
        {{/if}}

        <PluginOutlet
          @name="admin-above-badge-buttons"
          @outletArgs={{hash badge=this.buffered form=form}}
        />
      </form.Section>
    {{/if}}

    <form.Section @title="Settings">
      <form.Field
        @name="badge_grouping_id"
        @disabled={{this.readOnly}}
        @validation="required"
        as |field|
      >
        <field.Menu
          @title={{i18n "admin.badges.badge_grouping"}}
          @selection={{(this.currentBadgeGrouping data)}}
          as |menu|
        >
          {{#each this.badgeGroupings as |grouping|}}
            <menu.Item @value={{grouping.id}} @label={{grouping.name}} />
          {{/each}}
          <menu.Divider />
          <menu.Item
            @action={{route-action "editGroupings"}}
            @label="Add new group"
            class="btn-primary"
          />
        </field.Menu>
      </form.Field>

      <form.Field @name="allow_title" as |field|>
        <field.Checkbox @label={{i18n "admin.badges.allow_title"}} />
      </form.Field>

      <form.Field @name="multiple_grant" @disabled={{this.readOnly}} as |field|>
        <field.Checkbox @label={{i18n "admin.badges.multiple_grant"}} />
      </form.Field>

      <form.Field @name="listable" @disabled={{this.readOnly}} as |field|>
        <field.Checkbox @label={{i18n "admin.badges.listable"}} />
      </form.Field>

      <form.Field @name="show_posts" @disabled={{this.readOnly}} as |field|>
        <field.Checkbox @label={{i18n "admin.badges.show_posts"}} />
      </form.Field>
    </form.Section>

    <form.Container>
      <form.Submit @isLoading={{this.saving}} />

      <form.Button
        @action={{this.handleDelete}}
        @disabled={{this.readOnly}}
        class="btn-danger"
      >
        {{i18n "admin.badges.delete"}}
      </form.Button>
    </form.Container>
  </Form>

  {{#if this.grant_count}}
    <div class="content-body current-badge-actions">
      <div>
        <LinkTo @route="badges.show" @model={{this}}>
          {{html-safe
            (i18n
              "badges.awarded"
              count=this.displayCount
              number=(number this.displayCount)
            )
          }}
        </LinkTo>
      </div>
    </div>
  {{/if}}
</section>