<StyleguideExample @title="<TopicListItem>">
  <table class="topic-list">
    <tbody>
      <TopicListItem @topic={{@dummy.topic}} @showPosters={{true}} />
    </tbody>
  </table>
</StyleguideExample>

<StyleguideExample @title="<TopicListItem> - hide category">
  <table class="topic-list">
    <tbody>
      <TopicListItem
        @topic={{@dummy.topic}}
        @hideCategory={{true}}
        @showPosters={{true}}
      />
    </tbody>
  </table>
</StyleguideExample>

<StyleguideExample @title="<TopicListItem> - show likes">
  <table class="topic-list">
    <tbody>
      <TopicListItem
        @topic={{@dummy.topic}}
        @showLikes={{true}}
        @showPosters={{true}}
      />
    </tbody>
  </table>
</StyleguideExample>

<StyleguideExample @title="<TopicListItem> - latest" class="half-size">
  {{#if this.site.useGlimmerTopicList}}
    <TopicList::LatestTopicListItem @topic={{@dummy.topic}} />
  {{else}}
    <LatestTopicListItem @topic={{@dummy.topic}} />
  {{/if}}
</StyleguideExample>