<PluginOutlet
  @name="about-wrapper"
  @outletArgs={{hash
    model=this.model
    contactInfo=this.contactInfo
    faqOverridden=this.faqOverridden
  }}
>
  {{body-class "about-page"}}

  <section>
    <div class="container">
      <div class="contents clearfix body-page">

        <ul class="nav-pills">
          <li class="nav-item-about"><LinkTo
              @route="about"
              class="active"
            >{{i18n "about.simple_title"}}</LinkTo></li>
          {{#if this.faqOverridden}}
            <li class="nav-item-guidelines"><LinkTo @route="guidelines">{{i18n
                  "guidelines"
                }}</LinkTo></li>
            <li class="nav-item-faq"><LinkTo @route="faq">{{i18n
                  "faq"
                }}</LinkTo></li>
          {{else if this.renameFaqToGuidelines}}
            <li class="nav-item-guidelines"><LinkTo @route="guidelines">{{i18n
                  "guidelines"
                }}</LinkTo></li>
          {{else}}
            <li class="nav-item-faq"><LinkTo @route="faq">{{i18n
                  "faq"
                }}</LinkTo></li>
          {{/if}}
          {{#if this.site.tos_url}}
            <li class="nav-item-tos"><LinkTo @route="tos">{{i18n
                  "tos"
                }}</LinkTo></li>
          {{/if}}
          {{#if this.site.privacy_policy_url}}
            <li class="nav-item-privacy"><LinkTo @route="privacy">{{i18n
                  "privacy"
                }}</LinkTo></li>
          {{/if}}
        </ul>
        <AboutPage @model={{this.model}} />
      </div>
    </div>
  </section>
</PluginOutlet>