<DStyles />
<DVirtualHeight />

<DiscourseRoot {{did-insert this.trackDiscoursePainted}}>
  {{#if this.showSkipToContent}}
    <a href="#main-container" id="skip-link">{{i18n "skip_to_main_content"}}</a>
  {{/if}}
  <DDocument />
  <PageLoadingSlider />
  <PluginOutlet
    @name="above-site-header"
    @connectorTagName="div"
    @outletArgs={{hash currentPath=this.router._router.currentPath}}
  />

  {{#if this.showSiteHeader}}
    <GlimmerSiteHeader
      @canSignUp={{this.canSignUp}}
      @showCreateAccount={{route-action "showCreateAccount"}}
      @showLogin={{route-action "showLogin"}}
      @showKeyboard={{route-action "showKeyboardShortcutsHelp"}}
      @toggleMobileView={{route-action "toggleMobileView"}}
      @logout={{route-action "logout"}}
      @sidebarEnabled={{this.sidebarEnabled}}
      @showSidebar={{this.showSidebar}}
      @toggleSidebar={{this.toggleSidebar}}
    />
  {{/if}}

  <SoftwareUpdatePrompt />

  {{#if this.siteSettings.enable_offline_indicator}}
    <OfflineIndicator />
  {{/if}}

  <PluginOutlet
    @name="below-site-header"
    @connectorTagName="div"
    @outletArgs={{hash currentPath=this.router._router.currentPath}}
  />

  <div id="main-outlet-wrapper" class="wrap" role="main">
    <div class="sidebar-wrapper">
      {{! empty div allows for animation }}
      {{#if (and this.sidebarEnabled this.showSidebar)}}
        <Sidebar @toggleSidebar={{action "toggleSidebar"}} />
      {{/if}}
    </div>

    <LoadingSliderFallbackSpinner />

    <PluginOutlet @name="before-main-outlet" />

    <div id="main-outlet">
      <PluginOutlet @name="above-main-container" @connectorTagName="div" />
      <div class="container" id="main-container">
        {{#if this.showTop}}
          <CustomHtml @name="top" />
        {{/if}}
        <NotificationConsentBanner />
        <PwaInstallBanner />
        <GlobalNotice />
        <PluginOutlet
          @name="top-notices"
          @connectorTagName="div"
          @outletArgs={{hash currentPath=this.router._router.currentPath}}
        />
      </div>

      {{outlet}}

      <CardContainer />
      <PluginOutlet
        @name="main-outlet-bottom"
        @outletArgs={{hash showFooter=this.showFooter}}
      />
    </div>

    <PluginOutlet @name="after-main-outlet" />

    {{#if this.showPoweredBy}}
      <PoweredByDiscourse />
    {{/if}}
  </div>

  <PluginOutlet
    @name="above-footer"
    @connectorTagName="div"
    @outletArgs={{hash showFooter=this.showFooter}}
  />
  {{#if this.showFooter}}
    <CustomHtml
      @name="footer"
      @triggerAppEvent="true"
      @classNames="custom-footer-content"
    />
  {{/if}}
  <PluginOutlet
    @name="below-footer"
    @connectorTagName="div"
    @outletArgs={{hash showFooter=this.showFooter}}
  />

  <DLightbox />
  <ModalContainer />
  <DialogHolder />
  <TopicEntrance />
  <ComposerContainer />
  <RenderGlimmerContainer />

  {{#if this.showFooterNav}}
    <PluginOutlet @name="footer-nav">
      <FooterNav />
    </PluginOutlet>
  {{/if}}
</DiscourseRoot>

<DMenus />
<DTooltips />
<DToasts />