<DiscourseRoot>
  <a href="#main-container" id="skip-link">{{i18n "skip_to_main_content"}}</a>
  <DDocument />
  <PluginOutlet @name="above-site-header" @connectorTagName="div" />
  <SiteHeader @canSignUp={{canSignUp}} @showCreateAccount={{route-action "showCreateAccount"}} @showLogin={{route-action "showLogin"}} @showKeyboard={{route-action "showKeyboardShortcutsHelp"}} @toggleMobileView={{route-action "toggleMobileView"}} @toggleAnonymous={{route-action "toggleAnonymous"}} @logout={{route-action "logout"}} @toggleSidebar={{route-action "toggleSidebar"}} />
  <SoftwareUpdatePrompt />

  <PluginOutlet @name="below-site-header" @connectorTagName="div" @args={{hash currentPath=router._router.currentPath}} />

  <div id="main-outlet-wrapper" class="wrap" role="main">
    {{#if (and currentUser.experimental_sidebar_enabled showSidebar)}}
      <Sidebar />
    {{/if}}

    <div id="main-outlet">
      <PluginOutlet @name="above-main-container" @connectorTagName="div" />
      <div class="container" id="main-container">
        {{#if showTop}}
          <CustomHtml @name="top" />
        {{/if}}
        <NotificationConsentBanner />
        <PwaInstallBanner />
        <GlobalNotice />
        <CreateTopicsNotice />
        <PluginOutlet @name="top-notices" @connectorTagName="div" @args={{hash currentPath=router._router.currentPath}} />
      </div>

      {{outlet}}
      {{outlet "user-card"}}
    </div>
  </div>

  <PluginOutlet @name="above-footer" @connectorTagName="div" @args={{hash showFooter=showFooter}} />
  {{#if showFooter}}
    <CustomHtml @name="footer" @triggerAppEvent="true" @classNames="custom-footer-content" />
  {{/if}}
  <PluginOutlet @name="below-footer" @connectorTagName="div" @args={{hash showFooter=showFooter}} />

  {{outlet "modal"}}
  <TopicEntrance />
  {{outlet "composer"}}

  {{#if showFooterNav}}
    <FooterNav />
  {{/if}}
</DiscourseRoot>
