<p>{{i18n (concat "topics.bulk." this.title)}}</p>

<p><TagChooser @tags={{this.tags}} @categoryId={{this.categoryId}} /></p>

<DButton
  @action={{action this.action}}
  @disabled={{this.emptyTags}}
  @label={{concat "topics.bulk." this.label}}
/>