<p>{{i18n (concat "topics.bulk." title)}}</p>

<p><TagChooser @tags={{tags}} @categoryId={{categoryId}} /></p>

<DButton @action={{this.action}} @disabled={{emptyTags}} @label={{concat "topics.bulk." label}} />
