<div id="simple-container">
  <div class="confirm-new-email">
    <h2>{{i18n "user.change_email.title"}}</h2>
    <p>
      {{#if this.model.old_email}}
        {{i18n "user.change_email.authorizing_new.description"}}
      {{else}}
        {{i18n "user.change_email.authorizing_new.description_add"}}
      {{/if}}
    </p>
    <p>{{this.model.new_email}}</p>
    <DButton
      @translatedLabel={{i18n "user.change_email.confirm"}}
      class="btn-primary"
      @action={{this.confirm}}
    />
  </div>
</div>