<div class="container">
  {{discourse-banner user=currentUser banner=site.banner}}
  {{#unless viewingCategoriesList}}
    {{category-read-only-banner category=category readOnly=navigationCategory.cannotCreateTopicOnCategory}}
  {{/unless}}
</div>

{{plugin-outlet name="discovery-list-controls-above" tagName="span" connectorTagName="div"}}

<div class="list-controls">
  {{plugin-outlet name="discovery-navigation-bar-above" connectorTagName="div"}}
  <div class="container">
    {{outlet "navigation-bar"}}
  </div>
</div>

{{conditional-loading-spinner condition=loading}}

{{plugin-outlet name="discovery-above" tagName="span" connectorTagName="div"}}

<div class="container list-container {{if loading "hidden"}}">
  <div class="row">
    <div class="full-width">
      <div id="header-list-area">
        {{outlet "header-list-container"}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="full-width">
      <div id="list-area">
        {{plugin-outlet name="discovery-list-container-top" tagName="span" connectorTagName="div"
                        args=(hash category=category listLoading=loading)}}
        {{outlet "list-container"}}
      </div>
    </div>
  </div>
</div>

{{plugin-outlet name="discovery-below" tagName="span" connectorTagName="div"}}
