<div class="container">
  <DiscourseBanner @user={{this.currentUser}} @banner={{this.site.banner}} />
  {{#unless this.viewingCategoriesList}}
    <CategoryReadOnlyBanner @category={{this.category}} @readOnly={{this.navigationCategory.cannotCreateTopicOnCategory}} />
  {{/unless}}
</div>

<PluginOutlet @name="discovery-list-controls-above" @tagName="span" @connectorTagName="div" />

<div class="list-controls">
  <PluginOutlet @name="discovery-navigation-bar-above" @connectorTagName="div" />
  <div class="container">
    {{outlet "navigation-bar"}}
  </div>
</div>

<ConditionalLoadingSpinner @condition={{this.loading}} />

<PluginOutlet @name="discovery-above" @tagName="span" @connectorTagName="div" />

<div class="container list-container {{if this.loading "hidden"}}">
  <div class="row">
    <div class="full-width">
      <div id="header-list-area">
        {{outlet "header-list-container"}}
        <PluginOutlet @name="header-list-container-bottom" @args={{hash category=this.category}} />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="full-width">
      <PluginOutlet @name="before-list-area" />
      <div id="list-area">
        <PluginOutlet @name="discovery-list-container-top" @tagName="" @connectorTagName="span" @args={{hash category=this.category listLoading=this.loading}} />
        {{outlet "list-container"}}
      </div>
    </div>
  </div>
</div>

<PluginOutlet @name="discovery-below" @tagName="span" @connectorTagName="div" />
