<div class="edit-category {{if expandedMenu "expanded-menu"}}">
  <ul class="nav nav-stacked">
    {{edit-category-tab panels=panels selectedTab=selectedTab params=model.params tab="general"}}
    {{edit-category-tab panels=panels selectedTab=selectedTab params=model.params tab="security"}}
    {{edit-category-tab panels=panels selectedTab=selectedTab params=model.params tab="settings"}}
    {{edit-category-tab panels=panels selectedTab=selectedTab params=model.params tab="images"}}
    {{edit-category-tab panels=panels selectedTab=selectedTab params=model.params tab="topic-template"}}
    {{#if siteSettings.tagging_enabled}}
      {{edit-category-tab panels=panels selectedTab=selectedTab params=model.params tab="tags"}}
    {{/if}}
  </ul>

  <div class="edit-category-title">
    <h2>{{title}}</h2>
    {{#if mobileView}}
      {{d-button action=(action "toggleMenu") class="menu-toggle" icon="bars"}}
    {{else}}
      {{#if model.id}}
        {{d-button
          class="category-back"
          action=(action "goBack")
          label="category.back"
          icon="caret-left"
        }}
      {{/if}}
    {{/if}}
  </div>

  {{#each panels as |tab|}}
    {{component tab selectedTab=selectedTab category=model registerValidator=(action "registerValidator")}}
  {{/each}}

  <div class="edit-category-footer">
    {{d-button id="save-category" class="btn-primary" disabled=disabled action=(action "saveCategory") label=saveLabel}}

    {{#if model.can_delete}}
      {{d-button
        class="btn-danger"
        disabled=deleteDisabled
        action=(action "deleteCategory")
        icon="far-trash-alt"
        label="category.delete"
      }}
    {{else if model.id}}
      <div class="disable-info">
        {{d-button
          disabled=deleteDisabled
          class="btn-default"
          action=(action "toggleDeleteTooltip")
          icon="question-circle"
          label="category.delete"
        }}

        <div class="cannot-delete-reason {{if hiddenTooltip "hidden" ""}}">
          {{html-safe model.cannot_delete_reason}}
        </div>
      </div>
    {{/if}}
  </div>
</div>
