<div class="container">
  {{#if (and this.errorHtml this.isForbidden)}}
    <div class="not-found">{{html-safe this.errorHtml}}</div>
  {{else}}
    <div class="error-page">
      <div class="face">:(</div>
      <div class="reason">{{this.reason}}</div>
      {{#if this.requestUrl}}
        <div class="url">
          {{i18n "errors.prev_page"}}
          <a
            href={{this.requestUrl}}
            data-auto-route="true"
          >{{this.requestUrl}}</a>
        </div>
      {{/if}}
      <div class="desc">
        {{#if this.networkFixed}}
          {{d-icon "check-circle"}}
        {{/if}}

        {{this.desc}}
      </div>
      <div class="buttons">
        {{#each this.enabledButtons as |buttonData|}}
          <DButton
            @icon={{buttonData.icon}}
            @action={{buttonData.action}}
            @label={{buttonData.key}}
            @class={{buttonData.classes}}
          />
        {{/each}}
        <ConditionalLoadingSpinner @condition={{this.loading}} />
      </div>
    </div>
  {{/if}}
</div>