<div class="container">
  {{#if (and this.errorHtml this.isForbidden)}}
    <div class="not-found">{{html-safe this.errorHtml}}</div>
  {{else}}
    <div class="error-page">
      <div class="face">:(</div>
      <div class="reason">{{reason}}</div>
      {{#if requestUrl}}
        <div class="url">
          {{i18n "errors.prev_page"}} <a href={{requestUrl}} data-auto-route="true">{{requestUrl}}</a>
        </div>
      {{/if}}
      <div class="desc">
        {{#if networkFixed}}
          {{d-icon "check-circle"}}
        {{/if}}

        {{desc}}
      </div>
      <div class="buttons">
        {{#each enabledButtons as |buttonData|}}
          {{d-button icon=buttonData.icon action=buttonData.action label=buttonData.key class=buttonData.classes}}
        {{/each}}
        {{conditional-loading-spinner condition=loading}}
      </div>
    </div>
  {{/if}}
</div>
