{{#d-section pageClass="search" class="search-container"}}
  {{scroll-tracker name="full-page-search" tag=searchTerm class="hidden"}}

  <div class="search-header" role="search">
    <h1 class="search-page-heading">
      {{#if hasResults}}
        <div class="result-count" id="search-result-count" aria-live="polite">
          {{html-safe resultCountLabel}}
        </div>
      {{else}}
        {{i18n "search.full_page_title"}}
      {{/if}}
    </h1>
    <div class="search-bar">
      {{search-text-field
        value=searchTerm
        class="full-page-search search no-blur search-query"
        aria-label=(i18n "search.search_term_label")
        enter=(action "search" (hash collapseFilters=true))
        hasAutofocus=hasAutofocus
        aria-controls="search-result-count"
      }}
      {{combo-box
        id="search-type"
        value=search_type
        content=searchTypes
        onChange=(action (mut search_type))
        options=(hash
          castInteger=true
        )
      }}
      {{d-button
        action=(action "search" (hash collapseFilters=true))
        icon="search"
        label="search.search_button"
        class="btn-primary search-cta"
        ariaLabel="search.search_button"
        disabled=searchButtonDisabled
      }}
    </div>
    {{#if usingDefaultSearchType}}
      {{!-- context is only provided when searching from mobile view --}}
      {{#if context}}
        <div class="search-context">
          <label>
            {{input type="checkbox" name="searchContext" checked=searchContextEnabled}} {{searchContextDescription}}
          </label>
        </div>
      {{/if}}

      <div class="search-filters">
        {{search-advanced-options
          searchTerm=(readonly searchTerm)
          onChangeSearchTerm=(action (mut searchTerm))
          search=(action "search" (hash collapseFilters=true))
          searchButtonDisabled=searchButtonDisabled
          expandFilters=expandFilters
        }}
      </div>
    {{/if}}

    <div class="search-notice">
      {{#if invalidSearch}}
        <div class="fps-invalid">
          {{i18n "search.too_short"}}
        </div>
      {{/if}}
    </div>

  </div>

  <div class="search-advanced">
    {{#if hasResults}}
      {{#if usingDefaultSearchType}}
        <div class={{searchInfoClassNames}} role="region" ariaLabel={{i18n "search.sort_or_bulk_actions"}}>
          {{#if canBulkSelect}}
            {{d-button icon="list" class="btn-default bulk-select" title="topics.bulk.toggle" action=(action "toggleBulkSelect")}}
            {{#if selected}}
              {{d-button class="btn-default bulk-select-btn" selected=selected action=(action "showBulkActions") icon="wrench"}}
            {{/if}}
          {{/if}}

          {{#if bulkSelectEnabled}}
            {{#if hasUnselectedResults}}
              {{d-button
                icon="check-square"
                class="btn-default"
                action=(action "selectAll")
                label="search.select_all"
              }}
            {{/if}}

            {{#if hasSelection}}
              {{d-button
                icon="far-square"
                class="btn-default"
                action=(action "clearAll")
                label="search.clear_all"
              }}
            {{/if}}
          {{/if}}

          <div class="sort-by inline-form">
            <label>
              {{i18n "search.sort_by"}}
            </label>
            {{combo-box
              value=sortOrder
              content=sortOrders
              onChange=(action (mut sortOrder))
              id="search-sort-by"
              options=(hash
                castInteger=true
              )
            }}
          </div>
        </div>
      {{/if}}
    {{/if}}

    {{plugin-outlet name="full-page-search-below-search-info" tagName="span" connectorTagName="div" args=(hash search=searchTerm)}}

    {{#if searching}}
      {{loading-spinner size="medium"}}
    {{else}}
      <div class="search-results" role="region">
        {{#load-more selector=".fps-result" action=(action "loadMore")}}
          {{#if usingDefaultSearchType}}
            {{search-result-entries
              posts=model.posts
              bulkSelectEnabled=bulkSelectEnabled
              selected=selected
              highlightQuery=highlightQuery
            }}

            {{#conditional-loading-spinner condition=loading}}
              {{#unless hasResults}}
                {{#if searchActive}}
                  <h3>{{i18n "search.no_results"}}</h3>

                  {{#if model.grouped_search_result.error}}
                    <div class="warning">
                      {{model.grouped_search_result.error}}
                    </div>
                  {{/if}}

                  {{#if showSuggestion}}
                    <div class="no-results-suggestion">
                      {{i18n "search.cant_find"}}
                      {{#if canCreateTopic}}
                        <a href {{action "createTopic" searchTerm}}>{{i18n "search.start_new_topic"}}</a>
                        {{#unless siteSettings.login_required}}
                          {{i18n "search.or_search_google"}}
                        {{/unless}}
                      {{else}}
                        {{i18n "search.search_google"}}
                      {{/if}}
                    </div>

                    {{google-search searchTerm=searchTerm}}
                  {{/if}}
                {{/if}}
              {{/unless}}

              {{#if hasResults}}
                <h3 class="search-footer">
                  {{#if model.grouped_search_result.more_full_page_results}}
                    {{#if isLastPage}}
                      {{i18n "search.more_results"}}
                    {{/if}}
                  {{else}}
                    {{i18n "search.no_more_results"}}
                  {{/if}}
                </h3>
              {{/if}}
            {{/conditional-loading-spinner}}
          {{else}}
            {{#conditional-loading-spinner condition=loading}}
              {{#if hasResults}}
                {{#if model.categories.length}}
                  <h4 class="category-heading">
                    {{i18n "search.categories"}}
                  </h4>
                  <div class="category-items">
                    {{#each model.categories as |category|}}
                      {{category-link category extraClasses="fps-category-item"}}
                    {{/each}}
                  </div>
                {{/if}}

                {{#if model.tags.length}}
                  <h4 class="tag-heading">
                    {{i18n "search.tags"}}
                  </h4>

                  <div class="tag-items">
                    {{#each model.tags as |tag|}}
                      <div class="fps-tag-item">
                        <a href={{tag.url}}>
                          {{tag.id}}
                        </a>
                      </div>
                    {{/each}}
                  </div>
                {{/if}}

                {{#if model.users}}
                  <div class="user-items">
                    {{#each model.users as |user|}}
                      {{#user-link user=user class="fps-user-item"}}
                        {{avatar user imageSize="large"}}

                        <div class="user-titles">
                          {{#if user.name}}
                            <span class="name">
                              {{user.name}}
                            </span>
                          {{/if}}

                          <span class="username">
                            {{user.username}}
                          </span>
                        </div>
                      {{/user-link}}
                    {{/each}}
                  </div>
                {{/if}}
              {{else}}
                {{#if searchActive}}
                  <h3>{{i18n "search.no_results"}}</h3>
                {{/if}}
              {{/if}}
            {{/conditional-loading-spinner}}
          {{/if}}
        {{/load-more}}
      </div>
    {{/if}}
  </div>
{{/d-section}}
