{{#d-section pageClass="search" class="search-container"}}
  {{scroll-tracker name="full-page-search" tag=searchTerm class="hidden"}}
  <h1 class="search-page-heading">
    {{#if hasResults}}
      <div class="result-count" id="search-result-count" aria-live="polite">
        {{html-safe resultCountLabel}}
      </div>
    {{else}}
      Search
    {{/if}}
  </h1>
  <div class="search-bar">
    {{search-text-field
      value=searchTerm
      class="full-page-search search no-blur search-query"
      aria-label=(i18n "search.full_page_title")
      enter=(action "search")
      hasAutofocus=hasAutofocus
      aria-controls="search-result-count"
    }}
    {{combo-box
      value=searchType
      content=searchTypes
      castInteger=true
      onChange=(action (mut searchType))
    }}
    {{d-button
      action=(action "search")
      icon="search"
      label="search.search_button"
      class="btn-primary search-cta"
      ariaLabel="search.search_button"
      disabled=searchButtonDisabled
    }}
  </div>
  {{#if usingDefaultSearchType}}
    <div class="search-filters">
      {{search-advanced-options
        searchTerm=(readonly searchTerm)
        onChangeSearchTerm=(action (mut searchTerm))
      }}
    </div>
  {{/if}}
  <div class="search-advanced">
    <div class="search-notice">
      {{#if invalidSearch}}
        <div class="fps-invalid">
          {{i18n "search.too_short"}}
        </div>
      {{/if}}
    </div>

    {{!-- context is only provided when searching from mobile view --}}
    <div class="search-context">
      {{#if context}}
        <div class="fps-search-context">
          <label>
            {{input type="checkbox" name="searchContext" checked=searchContextEnabled}} {{searchContextDescription}}
          </label>
        </div>
      {{/if}}
    </div>

    {{#if hasResults}}
      {{#if usingDefaultSearchType}}
        <div class="search-info">
          {{#if canBulkSelect}}
            {{d-button icon="list" class="btn-default bulk-select" title="topics.bulk.toggle" action=(action "toggleBulkSelect")}}
            {{bulk-select-button selected=selected category=category action=(action "search")}}
          {{/if}}

          {{#if bulkSelectEnabled}}
            <div class="fps-select">
              {{d-button icon="check-square" class="btn-default" action=(action "selectAll") label="search.select_all"~}}
              {{d-button icon="far-square" class="btn-default" action=(action "clearAll") label="search.clear_all"}}
            </div>
          {{/if}}
          <div class="sort-by">
            <span class="desc">
              {{i18n "search.sort_by"}}
            </span>
            {{combo-box
              value=sortOrder
              content=sortOrders
              castInteger=true
              onChange=(action (mut sortOrder))
            }}
          </div>
        </div>
      {{/if}}
    {{/if}}

    {{plugin-outlet name="full-page-search-below-search-info" args=(hash search=searchTerm)}}

    {{#if searching}}
      {{loading-spinner size="medium"}}
    {{else}}
      <div class="search-results">
        {{#load-more selector=".fps-result" action=(action "loadMore")}}
          {{#if usingDefaultSearchType}}
            {{search-result-entries posts=model.posts bulkSelectEnabled=bulkSelectEnabled selected=selected}}

            {{#conditional-loading-spinner condition=loading }}
              {{#unless hasResults}}
                {{#if searchActive}}
                  <h3>{{i18n "search.no_results"}}</h3>

                  {{#if model.grouped_search_result.error}}
                    <div class="warning">
                      {{model.grouped_search_result.error}}
                    </div>
                  {{/if}}

                  {{#if showSuggestion}}
                    <div class="no-results-suggestion">
                      {{i18n "search.cant_find"}}
                      {{#if canCreateTopic}}
                        <a href {{action "createTopic" searchTerm}}>{{i18n "search.start_new_topic"}}</a>
                        {{#unless siteSettings.login_required}}
                          {{i18n "search.or_search_google"}}
                        {{/unless}}
                      {{else}}
                        {{i18n "search.search_google"}}
                      {{/if}}
                    </div>

                    {{google-search searchTerm=searchTerm}}
                  {{/if}}
                {{/if}}
              {{/unless}}

              {{#if hasResults}}
                {{#unless loading}}
                  <h3 class="search-footer">
                    {{#if model.grouped_search_result.more_full_page_results}}
                      {{#if isLastPage }}
                        {{i18n "search.more_results"}}
                      {{/if}}
                    {{else}}
                      {{i18n "search.no_more_results"}}
                    {{/if}}
                  </h3>
                {{/unless}}
              {{/if}}
            {{/conditional-loading-spinner}}
          {{else}}
            {{#if model.categories}}
              {{#each model.categories as |category|}}
                <div class="category-item">
                  {{category-link category}}
                </div>
              {{/each}}
            {{/if}}

            {{#if model.users}}
              {{#each model.users as |user|}}
                {{#user-link user=user}}
                  <div class="user-item">
                    {{avatar user imageSize="large"}}
                    {{user.username}}
                  </div>
                {{/user-link}}
              {{/each}}
            {{/if}}
          {{/if}}
        {{/load-more}}
      </div>
    {{/if}}
  </div>
{{/d-section}}
