<LoadMore @selector=".user-stream-item" @action={{action "loadMore"}}>
  <div class="user-stream">
    {{#each model as |post|}}
      <GroupPost @post={{post}} />
    {{else}}
      <div>{{i18n emptyText}}</div>
    {{/each}}
  </div>
  <ConditionalLoadingSpinner @condition={{loading}} />
</LoadMore>
