<span>
  <PluginOutlet
    @name="before-group-container"
    @connectorTagName="div"
    @outletArgs={{hash group=this.model}}
  />
</span>

<div class="container group group-{{this.model.name}}">
  {{#if this.showTooltip}}
    <div class="group-delete-tooltip">
      <p>{{i18n "admin.groups.delete_automatic_group"}}</p>
    </div>
  {{/if}}

  <div class="group-details-container">
    <div class="group-info">
      {{#if
        (or
          this.model.flair_icon this.model.flair_url this.model.flair_bg_color
        )
      }}
        <div class="group-avatar-flair">
          <AvatarFlair
            @flairName={{this.model.name}}
            @flairUrl={{or this.model.flair_icon this.model.flair_url}}
            @flairBgColor={{this.model.flair_bg_color}}
            @flairColor={{this.model.flair_color}}
          />
        </div>
      {{/if}}

      <div class="group-info-names">
        <GroupInfo @group={{this.model}} />

        {{#if (and this.canManageGroup this.model.automatic)}}
          <DTooltip class="group-automatic-tooltip">
            <:trigger>
              {{d-icon "gear"}}
              {{i18n "admin.groups.manage.membership.automatic"}}
            </:trigger>
            <:content>
              {{i18n "admin.groups.manage.membership.automatic_tooltip"}}
            </:content>
          </DTooltip>
        {{/if}}
      </div>

      <div class="group-details-button">
        <GroupMembershipButton
          @tagName=""
          @model={{this.model}}
          @showLogin={{route-action "showLogin"}}
        />

        {{#if this.currentUser.admin}}
          {{#if this.model.automatic}}
            <DButton
              @action={{this.toggleDeleteTooltip}}
              @icon="circle-question"
              @label="admin.groups.delete"
              class="btn-default"
            />
          {{else}}
            <DButton
              @action={{this.destroyGroup}}
              @disabled={{this.destroying}}
              @icon="trash-can"
              @label="admin.groups.delete"
              class="btn-danger"
              data-test-selector="delete-group-button"
            />
          {{/if}}
        {{/if}}

        {{#if this.displayGroupMessageButton}}
          <DButton
            @action={{this.messageGroup}}
            @icon="envelope"
            @label="groups.message"
            class="btn-primary group-message-button"
          />
        {{/if}}
      </div>

      <span>
        <PluginOutlet
          @name="group-details-after"
          @connectorTagName="div"
          @outletArgs={{hash model=this.model}}
        />
      </span>
    </div>

    {{#if this.model.bio_cooked}}
      <hr />

      <div class="group-bio">
        <p>{{html-safe this.model.bio_cooked}}</p>
      </div>
    {{/if}}

  </div>

  <div class="user-content-wrapper">
    <section class="user-primary-navigation">
      <div class="container">
        <GroupNavigation
          @group={{this.model}}
          @currentPath={{this.currentPath}}
          @tabs={{this.tabs}}
        />
      </div>
    </section>

    {{outlet}}
  </div>
</div>