{{#if (or this.loading this.canLoadMore)}}
  {{hide-application-footer}}
{{/if}}

<section class="user-content">
  <div class="group-members-actions">
    {{#if this.canManageGroup}}
      <DButton
        @icon="list"
        @action={{this.toggleBulkSelect}}
        @title="topics.bulk.toggle"
        class="bulk-select"
      />
    {{/if}}

    {{#if this.model.can_see_members}}
      <TextField
        @value={{this.filterInput}}
        @placeholderKey={{this.filterPlaceholder}}
        @autocomplete="off"
        class="group-username-filter no-blur"
      />
    {{/if}}

    {{#if this.canManageGroup}}
      {{#if this.isBulk}}
        <span class="bulk-select-buttons-wrap">
          {{#if this.bulkSelection}}
            <BulkGroupMemberDropdown
              @bulkSelection={{this.bulkSelection}}
              @canAdminGroup={{this.model.can_admin_group}}
              @canEditGroup={{this.model.can_edit_group}}
              @onChange={{action "actOnSelection" this.bulkSelection}}
            />

            <DButton
              @action={{this.bulkClearAll}}
              @label="topics.bulk.clear_all"
              @icon="far-square"
              class="bulk-select-clear"
            />
          {{/if}}

          <DButton
            @action={{this.bulkSelectAll}}
            @label="topics.bulk.select_all"
            @icon="square-check"
            class="bulk-select-all"
          />
        </span>
      {{/if}}

      <div class="group-members-manage">
        <DButton
          @icon="plus"
          @action={{route-action "showAddMembersModal"}}
          @label="groups.manage.add_members"
          class="btn-default group-members-add"
        />

        {{#if this.currentUser.can_invite_to_forum}}
          <DButton
            @icon="plus"
            @action={{route-action "showInviteModal"}}
            @label="groups.manage.invite_members"
            class="btn-default group-members-invite"
          />
        {{/if}}
      </div>
    {{/if}}
  </div>

  {{#if this.hasMembers}}
    <LoadMore
      @selector=".directory-table .directory-table__cell"
      @action={{action "loadMore"}}
    >
      <ResponsiveTable
        @className="group-members
          {{if this.isBulk 'sticky-header' ''}}
          {{if this.canManageGroup 'group-members--can-manage' ''}}"
      >
        <:header>
          <TableHeaderToggle
            @onToggle={{this.updateOrder}}
            @order={{this.order}}
            @asc={{this.asc}}
            @field="username_lower"
            @labelKey="username"
            @automatic={{true}}
            @colspan="2"
            class="directory-table__column-header--username username"
          />

          {{#if this.canManageGroup}}
            <div
              class="directory-table__column-header directory-table__column-header--can-manage"
            ></div>
          {{/if}}

          <PluginOutlet
            @name="group-index-table-header-after-username"
            @outletArgs={{hash group=this.model asc=this.asc order=this.order}}
          />

          <TableHeaderToggle
            @onToggle={{this.updateOrder}}
            @order={{this.order}}
            @asc={{this.asc}}
            @field="added_at"
            @labelKey="groups.member_added"
            @automatic={{true}}
            class="directory-table__column-header--added"
          />
          <TableHeaderToggle
            @onToggle={{this.updateOrder}}
            @order={{this.order}}
            @asc={{this.asc}}
            @field="last_posted_at"
            @labelKey="last_post"
            @automatic={{true}}
            class="directory-table__column-header--last-posted"
          />
          <TableHeaderToggle
            @onToggle={{this.updateOrder}}
            @order={{this.order}}
            @asc={{this.asc}}
            @field="last_seen_at"
            @labelKey="last_seen"
            @automatic={{true}}
            class="directory-table__column-header--last-seen"
          />

          {{#if this.canManageGroup}}
            <div
              class="directory-table__column-header directory-table__column-header--member-settings"
            ></div>
          {{/if}}
        </:header>

        <:body>
          {{#each this.model.members as |m|}}
            <div class="directory-table__row">
              <div
                class="directory-table__cell directory-table__cell--username group-member"
                colspan="2"
              >
                {{#if this.canManageGroup}}
                  {{#if this.isBulk}}
                    <Input
                      @type="checkbox"
                      class="bulk-select"
                      {{on "click" (action "selectMember" m)}}
                    />
                  {{/if}}
                {{/if}}
                <UserInfo
                  @user={{m}}
                  @skipName={{this.skipName}}
                  @showStatus={{true}}
                  @showStatusTooltip={{true}}
                />
              </div>

              {{#if this.canManageGroup}}
                <div
                  class="directory-table__cell directory-table__cell--can-manage group-owner"
                >
                  {{#if (or m.owner m.primary)}}
                    <span class="directory-table__label">
                      <span>{{i18n "groups.members.status"}}</span>
                    </span>
                  {{/if}}
                  <span class="directory-table__value">
                    {{#if m.owner}}
                      {{d-icon "shield-halved"}}
                      {{i18n "groups.members.owner"}}<br />
                    {{/if}}
                    {{#if m.primary}}
                      {{i18n "groups.members.primary"}}
                    {{/if}}
                  </span>

                </div>
              {{/if}}

              <PluginOutlet
                @name="group-index-table-row-after-username"
                @outletArgs={{hash member=m}}
              />

              <div class="directory-table__cell directory-table__cell--added">
                <span class="directory-table__label">
                  <span>{{i18n "groups.member_added"}}</span>
                </span>
                <span class="directory-table__value">
                  {{bound-date m.added_at}}
                </span>
              </div>
              <div
                class="directory-table__cell{{unless
                    m.last_posted_at
                    '--empty'
                  }}
                  directory-table__cell--last-posted"
              >
                {{#if m.last_posted_at}}
                  <span class="directory-table__label">
                    <span>{{i18n "last_post"}}</span>
                  </span>
                {{/if}}
                <span class="directory-table__value">
                  {{bound-date m.last_posted_at}}
                </span>
              </div>
              <div
                class="directory-table__cell{{unless m.last_seen_at '--empty'}}
                  directory-table__cell--last-seen"
              >
                {{#if m.last_seen_at}}
                  <span class="directory-table__label">
                    <span>{{i18n "last_seen"}}</span>
                  </span>
                {{/if}}
                <span class="directory-table__value">
                  {{bound-date m.last_seen_at}}
                </span>
              </div>
              {{#if this.canManageGroup}}
                <div
                  class="directory-table__cell directory-table__cell--member-settings member-settings"
                >
                  <GroupMemberDropdown
                    @member={{m}}
                    @canAdminGroup={{this.model.can_admin_group}}
                    @canEditGroup={{this.model.can_edit_group}}
                    @onChange={{action "actOnGroup" m}}
                  />
                  {{! group parameter is used by plugins }}
                </div>
              {{/if}}
            </div>
          {{/each}}
        </:body>
      </ResponsiveTable>
    </LoadMore>

    <ConditionalLoadingSpinner @condition={{this.loading}} />
  {{else}}
    <br />
    <div>{{i18n this.emptyMessageKey}}</div>
  {{/if}}
</section>