{{body-class "password-reset-page"}}
{{hide-application-sidebar}}
{{hide-application-header-buttons "search" "login" "signup" "menu"}}
<div class="container password-reset clearfix">
  <div class="pull-left col-image">
    <img src={{this.lockImageUrl}} class="password-reset-img" alt="" />
  </div>

  <div class="pull-left col-form">
    {{#if this.successMessage}}
      <p>{{this.successMessage}}</p>

      {{#if this.requiresApproval}}
        <p>{{i18n "login.not_approved"}}</p>
      {{else}}
        {{#unless this.redirected}}
          <a
            class="btn"
            href={{this.redirectHref}}
            {{on "click" this.done}}
          >{{this.continueButtonText}}</a>
        {{/unless}}
      {{/if}}
    {{else}}
      <form class="change-password-form">
        {{#if this.securityKeyOrSecondFactorRequired}}
          <h2>{{i18n "user.change_password.title"}}</h2>
          <p>
            {{i18n "user.change_password.verify_identity"}}
          </p>
          {{#if this.errorMessage}}
            <div class="alert alert-error">{{this.errorMessage}}</div>
            <br />
          {{/if}}

          {{#if this.displaySecurityKeyForm}}
            <SecurityKeyForm
              @setSecondFactorMethod={{fn
                (mut this.selectedSecondFactorMethod)
              }}
              @backupEnabled={{this.backupEnabled}}
              @totpEnabled={{this.secondFactorRequired}}
              @otherMethodAllowed={{this.otherMethodAllowed}}
              @action={{this.authenticateSecurityKey}}
            />
          {{else}}
            <SecondFactorForm
              @secondFactorMethod={{this.selectedSecondFactorMethod}}
              @secondFactorToken={{this.secondFactorToken}}
              @backupEnabled={{this.backupEnabled}}
              @totpEnabled={{this.secondFactorRequired}}
              @isLogin={{false}}
            >
              <SecondFactorInput
                {{on
                  "input"
                  (with-event-value (fn (mut this.secondFactorToken)))
                }}
                @secondFactorMethod={{this.selectedSecondFactorMethod}}
                value={{this.secondFactorToken}}
                id="second-factor"
              />
            </SecondFactorForm>
          {{/if}}

          {{#unless this.displaySecurityKeyForm}}
            <DButton
              @action={{action "submit"}}
              @label="submit"
              type="submit"
              class="btn-primary"
            />
          {{/unless}}
        {{else}}
          <h2>{{i18n "user.change_password.choose"}}</h2>
          {{#if this.errorMessage}}
            <div class="alert alert-error">{{this.errorMessage}}</div>
            <br />
          {{/if}}

          <div class="input">
            <PasswordField
              @value={{this.accountPassword}}
              @capsLockOn={{this.capsLockOn}}
              type={{if this.maskPassword "password" "text"}}
              autofocus="autofocus"
              autocomplete="new-password"
              id="new-account-password"
            />
            <TogglePasswordMask
              @maskPassword={{this.maskPassword}}
              @togglePasswordMask={{this.togglePasswordMask}}
            />

            <div class="caps-lock-warning {{unless this.capsLockOn 'hidden'}}">
              {{d-icon "triangle-exclamation"}}
              {{i18n "login.caps_lock_warning"}}
            </div>
          </div>

          <InputTip @validation={{this.passwordValidation}} />

          <DButton
            @action={{action "submit"}}
            @label="user.change_password.set_password"
            type="submit"
            class="btn-primary"
          />
        {{/if}}
      </form>
    {{/if}}
  </div>
</div>