{{body-class "user-preferences-page"}}

<section class="user-content user-preferences solo-preference">
  <form class="form-vertical">
    {{#if this.success}}
      <div class="alert alert-success">{{this.successMessage}}</div>
      <LinkTo @route="preferences.account" class="success-back">
        {{d-icon "arrow-left"}}
        {{i18n "user.change_email.back_to_preferences"}}
      </LinkTo>
    {{else}}
      {{#if this.error}}
        <div class="alert alert-error">{{this.errorMessage}}</div>
      {{/if}}
      <div class="control-group">
        <label class="control-label">
          {{i18n
            (if this.new "user.add_email.title" "user.change_email.title")
          }}
        </label>
        <div class="controls">
          <TextField
            @value={{this.newEmail}}
            @id="change-email"
            @classNames="input-xxlarge"
            @autofocus="autofocus"
          />
          <div class="instructions">
            {{#if this.taken}}
              {{i18n "user.change_email.taken"}}
            {{else}}
              {{i18n "user.email.instructions"}}
            {{/if}}
          </div>
          <InputTip @validation={{this.emailValidation}} />
        </div>
      </div>
      <div class="controls save-button">
        <DButton
          @action={{action "saveEmail"}}
          @disabled={{this.saveDisabled}}
          @translatedLabel={{this.saveButtonText}}
          type="submit"
          class="btn-primary"
        />
        <LinkTo
          @route="preferences.account"
          @model={{this.model.username}}
          class="cancel"
        >
          {{i18n "cancel"}}
        </LinkTo>
      </div>
    {{/if}}
  </form>
</section>

<span>
  <PluginOutlet
    @name="preferences-email"
    @connectorTagName="div"
    @outletArgs={{hash model=this.model}}
  />
</span>

<SaveControls
  @model={{this.model}}
  @action={{action "save"}}
  @saved={{this.saved}}
/>