<DSection @pageClass="user-preferences" @tagName="">
  <section class="user-content user-preferences solo-preference second-factor">
    <ConditionalLoadingSpinner @condition={{this.loading}}>
      <form class="form-vertical">
        {{#if this.showEnforcedNotice}}
          <div class="alert alert-error">{{i18n
              "user.second_factor.enforced_notice"
            }}</div>
        {{/if}}

        {{#if this.displayOAuthWarning}}
          <div class="alert alert-warning">{{i18n
              "user.second_factor.oauth_enabled_warning"
            }}</div>
        {{/if}}

        {{#if this.errorMessage}}
          <div class="alert alert-error">{{this.errorMessage}}</div>
        {{/if}}

        {{#if this.loaded}}
          <div class="control-group totp">
            <div class="controls">
              <h2>{{i18n "user.second_factor.totp.title"}}</h2>
              {{#each this.totps as |totp|}}
                <div class="second-factor-item row">
                  <div class="details">
                    {{#if totp.name}}
                      {{totp.name}}
                    {{else}}
                      {{i18n "user.second_factor.totp.default_name"}}
                    {{/if}}
                  </div>
                  {{#if this.isCurrentUser}}
                    <div class="actions">
                      <TokenBasedAuthDropdown
                        @totp={{totp}}
                        @editSecondFactor={{action "editSecondFactor"}}
                        @disableSingleSecondFactor={{action
                          "disableSingleSecondFactor"
                        }}
                      />
                    </div>
                  {{/if}}
                </div>
              {{/each}}
              <DButton
                @action={{action "createTotp"}}
                @class="btn-default new-totp"
                @icon="plus"
                @disabled={{this.loading}}
                @label="user.second_factor.totp.add"
              />
            </div>
          </div>

          <div class="control-group security-key">
            <div class="controls">
              <h2>{{i18n "user.second_factor.security_key.title"}}</h2>
              {{#each this.security_keys as |security_key|}}
                <div class="second-factor-item row">
                  <div class="details">
                    {{#if security_key.name}}
                      {{security_key.name}}
                    {{else}}
                      {{i18n "user.second_factor.security_key.default_name"}}
                    {{/if}}
                  </div>

                  {{#if this.isCurrentUser}}
                    <div class="actions">
                      <SecurityKeyDropdown
                        @securityKey={{security_key}}
                        @editSecurityKey={{action "editSecurityKey"}}
                        @disableSingleSecondFactor={{action
                          "disableSingleSecondFactor"
                        }}
                      />
                    </div>
                  {{/if}}
                </div>
              {{/each}}
              <DButton
                @action={{action "createSecurityKey"}}
                @class="btn-default new-security-key"
                @icon="plus"
                @disabled={{this.loading}}
                @label="user.second_factor.security_key.add"
              />
            </div>
          </div>

          <div class="control-group pref-second-factor-backup">
            <div class="controls pref-second-factor-backup">
              <h2>{{i18n "user.second_factor_backup.title"}}</h2>
              <div class="second-factor-item row">
                {{#if this.model.second_factor_enabled}}
                  <div class="details">
                    {{#if this.model.second_factor_backup_enabled}}
                      {{html-safe
                        (i18n
                          "user.second_factor_backup.manage"
                          count=this.model.second_factor_remaining_backup_codes
                        )
                      }}
                    {{else}}
                      <DButton
                        @action={{action "editSecondFactorBackup"}}
                        @class="btn-default new-second-factor-backup"
                        @icon="plus"
                        @disabled={{this.loading}}
                        @label="user.second_factor_backup.enable_long"
                      />
                    {{/if}}
                  </div>

                  {{#if
                    (and
                      this.model.second_factor_backup_enabled this.isCurrentUser
                    )
                  }}
                    <div class="actions">
                      <TwoFactorBackupDropdown
                        @secondFactorBackupEnabled={{this.model.second_factor_backup_enabled}}
                        @editSecondFactorBackup={{action
                          "editSecondFactorBackup"
                        }}
                        @disableSecondFactorBackup={{action
                          "disableSecondFactorBackup"
                        }}
                      />
                    </div>
                  {{/if}}

                {{else}}
                  {{i18n "user.second_factor_backup.enable_prerequisites"}}
                {{/if}}
              </div>
            </div>
          </div>

          {{#if this.model.second_factor_enabled}}
            {{#unless this.showEnforcedNotice}}
              <div class="control-group pref-second-factor-disable-all">
                <div class="controls -actions">
                  <DButton
                    @class="btn-danger"
                    @icon="ban"
                    @action={{action "disableAllSecondFactors"}}
                    @disabled={{this.loading}}
                    @label="user.second_factor.disable_all"
                  />
                  <CancelLink
                    @route="preferences.security"
                    @args={{this.model.username}}
                  />
                </div>
              </div>
            {{/unless}}
          {{/if}}
        {{else}}
          <div class="control-group">
            <label class="control-label">{{i18n "user.password.title"}}</label>

            <div class="controls">
              <div>
                <TextField
                  @value={{this.password}}
                  @id="password"
                  @type="password"
                  @classNames="input-large"
                  @autofocus="autofocus"
                />
              </div>
              <div class="instructions">
                {{i18n "user.second_factor.confirm_password_description"}}
              </div>
            </div>
          </div>

          <div class="control-group">
            <div class="controls -actions">
              <DButton
                @class="btn-primary"
                @type="submit"
                @action={{action "confirmPassword"}}
                @disabled={{this.loading}}
                @label="continue"
              />

              {{#unless this.showEnforcedNotice}}
                <CancelLink
                  @route="preferences.security"
                  @args={{this.model.username}}
                />
              {{/unless}}
            </div>
            <div class="controls" style="margin-top: 5px">
              {{this.resetPasswordProgress}}
              {{#unless this.resetPasswordLoading}}
                <a
                  href
                  class="instructions"
                  {{on "click" this.resetPassword}}
                >{{i18n "user.second_factor.forgot_password"}}</a>
              {{/unless}}
            </div>
          </div>
        {{/if}}
      </form>
    </ConditionalLoadingSpinner>
  </section>
</DSection>