<DSection @pageClass="user-preferences" />

<div class="user-navigation user-navigation-secondary">
  <HorizontalOverflowNav @ariaLabel="User secondary - preferences">
    <UserNav::PreferencesNav
      @currentUser={{this.currentUser}}
      @model={{this.model}}
      @siteSettings={{this.siteSettings}}
      @ariaCurrentContext="subNav"
    />
  </HorizontalOverflowNav>
</div>

<section class="user-content user-preferences" id="user-content">
  <span>
    <PluginOutlet
      @name="above-user-preferences"
      @connectorTagName="div"
      @outletArgs={{hash model=this.model}}
    />
  </span>

  <form class="form-vertical">
    {{outlet}}
  </form>
</section>
