<DSection @pageClass="user-preferences" @tagName="">
  <section class="user-preferences solo-preference">
    <form class="form-horizontal">

      <div class="control-group">
        <div class="controls">
          <h3>{{i18n "user.change_username.title"}}</h3>
        </div>
      </div>

      <div class="control-group">
        <label for="change_username" class="control-label">{{i18n "user.username.title"}}</label>
        <div class="controls">
          <TextField @value={{this.newUsername}} @id="change_username" @classNames="input-xxlarge" @maxlength={{this.maxLength}} @autofocus="autofocus" @insert-newline="changeUsername" />
        </div>
        <div class="instructions controls">
          <p>
            {{#if this.taken}}
              {{i18n "user.change_username.taken"}}
            {{/if}}
            <span>{{this.errorMessage}}</span>
          </p>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <DButton @class="btn-primary" @action={{action "changeUsername"}} @type="submit" @disabled={{this.saveDisabled}} @translatedLabel={{this.saveButtonText}} />
          {{#if this.saved}}{{i18n "saved"}}{{/if}}
        </div>
      </div>

    </form>
  </section>
</DSection>
