<div class="reviewable-container">
  <div class="reviewable-list">
    {{#if this.reviewables}}
      <LoadMore @selector=".reviewable-item" @action={{action "loadMore"}}>
        <div class="reviewables">
          {{#each this.reviewables as |r|}}
            <ReviewableItem @reviewable={{r}} @remove={{action "remove"}} />
          {{/each}}
        </div>
      </LoadMore>
      <ConditionalLoadingSpinner @condition={{this.reviewables.loadingMore}} />
    {{else}}
      <div class="no-review">
        {{i18n "review.none"}}
      </div>
    {{/if}}
  </div>

  <div class="reviewable-filters">
    <div class="reviewable-filter">
      <label class="filter-label">
        {{i18n "review.filters.status"}}
      </label>
      <ComboBox
        @value={{this.filterStatus}}
        @content={{this.statuses}}
        @onChange={{fn (mut this.filterStatus)}}
      />
    </div>

    {{#if this.filtersExpanded}}

      <span>
        <PluginOutlet
          @name="above-review-filters"
          @connectorTagName="div"
          @outletArgs={{hash
            model=this.model
            additionalFilters=this.additionalFilters
          }}
        />
      </span>

      <div class="reviewable-filter">
        <label class="filter-label">
          {{i18n "review.filters.type.title"}}
        </label>
        <ComboBox
          @value={{this.filterType}}
          @content={{this.allTypes}}
          @onChange={{fn (mut this.filterType)}}
          @options={{hash none="review.filters.type.all"}}
        />
      </div>

      <div class="reviewable-filter">
        <label class="filter-label">
          {{i18n "review.filters.priority.title"}}
        </label>
        <ComboBox
          @value={{this.filterPriority}}
          @content={{this.priorities}}
          @onChange={{fn (mut this.filterPriority)}}
        />
      </div>

      <div class="reviewable-filter">
        <label class="filter-label">
          {{i18n "review.filters.category"}}
        </label>
        <CategoryChooser
          @value={{this.filterCategoryId}}
          @onChange={{fn (mut this.filterCategoryId)}}
          @options={{hash none="review.filters.all_categories" clearable=true}}
        />
      </div>

      <div class="reviewable-filter topic-filter">
        <label class="filter-label">
          {{i18n "review.filtered_flagged_by"}}
        </label>
        <EmailGroupUserChooser
          @value={{this.filterFlaggedBy}}
          @onChange={{action "updateFilterFlaggedBy"}}
          @options={{hash
            maximum=1
            excludeCurrentUser=false
            fullWidthWrap=true
          }}
        />
      </div>

      <div class="reviewable-filter topic-filter">
        <label class="filter-label">
          {{i18n "review.filtered_reviewed_by"}}
        </label>
        <EmailGroupUserChooser
          @value={{this.filterReviewedBy}}
          @onChange={{action "updateFilterReviewedBy"}}
          @options={{hash
            maximum=1
            excludeCurrentUser=false
            fullWidthWrap=true
          }}
        />
      </div>

      <div class="reviewable-filter topic-filter">
        <label class="filter-label">
          {{i18n "review.filtered_user"}}
        </label>
        <EmailGroupUserChooser
          @value={{this.filterUsername}}
          @onChange={{action "updateFilterUsername"}}
          @options={{hash
            maximum=1
            excludeCurrentUser=false
            fullWidthWrap=true
          }}
          class="user-selector"
        />
      </div>

      {{#if this.filterTopic}}
        <div class="reviewable-filter topic-filter">
          <label class="filter-label">
            {{i18n "review.filtered_topic"}}
          </label>
          <DButton
            @label="review.show_all_topics"
            @icon="xmark"
            @action={{action "resetTopic"}}
            class="btn-default"
          />
        </div>
      {{/if}}

      <div class="reviewable-filter date-range">
        <label class="filter-label">
          {{i18n "review.date_filter"}}
        </label>
        <DateTimeInputRange
          @from={{this.filterFromDate}}
          @to={{this.filterToDate}}
          @onChange={{this.setRange}}
          @showFromTime={{false}}
          @showToTime={{false}}
        />
      </div>

      <div class="reviewable-filter sort-order">
        <label class="filter-label">
          {{i18n "review.order_by"}}
        </label>
        <ComboBox
          @value={{this.filterSortOrder}}
          @content={{this.sortOrders}}
          @onChange={{fn (mut this.filterSortOrder)}}
        />
      </div>
    {{/if}}

    <div class="reviewable-filters-actions">
      <DButton
        @icon="arrows-rotate"
        @label="review.filters.refresh"
        @action={{action "refresh"}}
        class="btn-primary refresh"
      />

      {{#if this.site.mobileView}}
        <DButton
          @label="show_help"
          @icon={{this.toggleFiltersIcon}}
          @action={{action "toggleFilters"}}
          class="btn-default expand-secondary-filters"
        />
      {{/if}}
    </div>
  </div>
</div>