{{#if message}}
  <div class="alert {{alertClass}}">{{message}}</div>
{{/if}}
{{#unless loadError}}
  <h3>{{secondFactorTitle}}</h3>
  {{#if customDescription}}
    <p class="action-description">{{customDescription}}</p>
  {{/if}}
  <p>{{secondFactorDescription}}</p>
  {{#if showSecurityKeyForm}}
    <div id="security-key">
      {{d-button
        action=(action "authenticateSecurityKey")
        icon="key"
        id="security-key-authenticate-button"
        label="login.security_key_authenticate"
        type="button"
        class="btn btn-large btn-primary"
      }}
    </div>
  {{else if (or showTotpForm showBackupCodesForm)}}
    <form class={{inputFormClass}}>
      {{second-factor-input
        value=secondFactorToken
        secondFactorMethod=shownSecondFactorMethod
        onTokenInput=(action "onTokenInput")
      }}
      {{d-button
        action=(action "authenticateToken")
        class="btn-primary"
        label="submit"
        type="submit"
      }}
    </form>
  {{/if}}

  {{#if alternativeMethods.length}}
    <p>
      {{#each alternativeMethods as |method index|}}
        {{#if (gt index 0)}}
          <span>&middot;</span>
        {{/if}}
        <span>
          <a href="" class="toggle-second-factor-method {{method.class}}" {{action "useAnotherMethod" method.id}}>
            {{i18n method.translationKey}}
          </a>
        </span>
      {{/each}}
    </p>
  {{/if}}
{{/unless}}
