<DSection @bodyClass={{this.bodyClass}} @class="container">
  <div class="contents clearfix body-page">
    <span>
      <PluginOutlet
        @name="above-static"
        @connectorTagName="div"
        @outletArgs={{hash model=this.model}}
      />
    </span>

    <div class="login-welcome">
      {{html-safe this.model.html}}

      <PluginOutlet
        @name="below-static"
        @connectorTagName="div"
        @outletArgs={{hash model=this.model}}
      />

      {{#if this.anyButtons}}
        <div class="body-page-button-container">
          {{#if this.showSignupButton}}
            <DButton
              @action={{route-action "showCreateAccount"}}
              @class="btn-primary sign-up-button"
              @label="sign_up"
            />
          {{/if}}

          {{#if this.showLoginButton}}
            <DButton
              @action={{route-action "showLogin"}}
              @class="btn-primary login-button"
              @icon="user"
              @label="log_in"
            />
          {{/if}}
        </div>
      {{/if}}
    </div>
  </div>
</DSection>