<a href="/tags">
  {{d-icon "chevron-left"}}
  <span>{{i18n "tagging.groups.back_btn"}}</span>
</a>

<div class="container tag-groups-container">
  <h2>{{i18n "tagging.groups.title"}}</h2>

  {{#if this.siteSettings.tagging_enabled}}
    {{#if this.model}}
      <div class="tag-groups-sidebar content-list">
        <ul>
          {{#each this.model as |tagGroup|}}
            <li>
              <LinkTo @route="tagGroups.edit" @model={{tagGroup}}>
                {{tagGroup.name}}
              </LinkTo>
            </li>
          {{/each}}
        </ul>

        <DButton
          @class="btn-default"
          @action={{action "newTagGroup"}}
          @icon="plus"
          @label="tagging.groups.new"
        />
      </div>
    {{/if}}

    {{outlet}}
  {{else}}
    <div class="tag-group-content">
      <div class="alert info">{{i18n "tagging.groups.disabled"}}</div>
    </div>
  {{/if}}

</div>