<div class="tag-group-content">
  <h3>
    {{#if model}}
      {{i18n "tagging.groups.about_heading"}}
    {{else}}
      {{i18n "tagging.groups.about_heading_empty"}}
    {{/if}}
  </h3>
  <section class="tag-groups-about">
    <p>{{i18n "tagging.groups.about_description"}}</p>
  </section>
  <section>
    {{#unless model}}
      {{#link-to "tagGroups.new" class="btn btn-primary"}}
        {{d-icon "plus"}} {{i18n "tagging.groups.new"}}
      {{/link-to}}
    {{/unless}}
  </section>
</div>
