<div class="container tag-groups-container">
  <h2>{{i18n "tagging.groups.title"}}</h2>

  {{#if this.siteSettings.tagging_enabled}}
    {{#if model}}
      <div class="tag-groups-sidebar content-list">
        <ul>
          {{#each model as |tagGroup|}}
            <li>
              {{#link-to "tagGroups.edit" tagGroup}}
                {{tagGroup.name}}
              {{/link-to}}
            </li>
          {{/each}}
        </ul>

        {{d-button
          class="btn-default"
          action=(action "newTagGroup")
          icon="plus"
          label="tagging.groups.new"
        }}
      </div>
    {{/if}}

    {{outlet}}
  {{else}}
    <div class="tag-group-content">
      <div class="alert info">{{i18n "tagging.groups.disabled"}}</div>
    </div>
  {{/if}}

</div>
