{{#let this.model.postStream as |postStream|}}
  {{#unless (and postStream.loaded postStream.loadedAllPosts)}}
    {{hide-application-footer}}
  {{/unless}}
{{/let}}

<DiscourseTopic
  {{sticky-avatars}}
  @multiSelect={{this.multiSelect}}
  @enteredAt={{this.enteredAt}}
  @topic={{this.model}}
  @hasScrolled={{this.hasScrolled}}
>
  {{#if this.model}}
    <AddCategoryTagClasses
      @category={{this.model.category}}
      @tags={{this.model.tags}}
    />
    <AddTopicStatusClasses @topic={{this.model}} />
    {{body-class (concat "archetype-" this.model.archetype)}}
    <div class="container">
      <DiscourseBanner
        @overlay={{this.hasScrolled}}
        @hide={{this.model.errorLoading}}
      />
    </div>
  {{/if}}

  {{#if this.showSharedDraftControls}}
    <SharedDraftControls @topic={{this.model}} />
  {{/if}}

  <span>
    <PluginOutlet
      @name="topic-above-post-stream"
      @connectorTagName="div"
      @outletArgs={{hash
        model=this.model
        editFirstPost=(action "editFirstPost")
      }}
    />
  </span>

  {{#if this.model.postStream.loaded}}
    {{#if this.model.postStream.firstPostPresent}}
      <TopicTitle
        @cancelled={{action "cancelEditingTopic"}}
        @save={{action "finishedEditingTopic"}}
        @model={{this.model}}
      >
        {{#if this.editingTopic}}
          <div class="edit-topic-title">
            <PrivateMessageGlyph @shouldShow={{this.model.isPrivateMessage}} />

            <TextField
              @id="edit-title"
              @value={{this.buffered.title}}
              @maxlength={{this.siteSettings.max_topic_title_length}}
              @autofocus="true"
            />

            {{#if this.showCategoryChooser}}
              <CategoryChooser
                @value={{this.buffered.category_id}}
                @onChange={{action "topicCategoryChanged"}}
                class="small"
              />
            {{/if}}

            {{#if this.canEditTags}}
              <MiniTagChooser
                @value={{this.buffered.tags}}
                @onChange={{action "topicTagsChanged"}}
                @options={{hash
                  filterable=true
                  categoryId=this.buffered.category_id
                  minimum=this.minimumRequiredTags
                  filterPlaceholder="tagging.choose_for_topic"
                  useHeaderFilter=true
                }}
              />
            {{/if}}

            <span>
              <PluginOutlet
                @name="edit-topic"
                @connectorTagName="div"
                @outletArgs={{hash model=this.model buffered=this.buffered}}
              />
            </span>

            <div class="edit-controls">
              <DButton
                @action={{action "finishedEditingTopic"}}
                @icon="check"
                @ariaLabel="composer.save_edit"
                class="btn-primary submit-edit"
              />
              <DButton
                @action={{action "cancelEditingTopic"}}
                @icon="xmark"
                @ariaLabel="composer.cancel"
                class="btn-default cancel-edit"
              />

              {{#if this.canRemoveTopicFeaturedLink}}
                <a
                  href
                  {{on "click" this.removeFeaturedLink}}
                  class="remove-featured-link"
                  title={{i18n "composer.remove_featured_link"}}
                >
                  {{d-icon "circle-xmark"}}
                  {{this.featuredLinkDomain}}
                </a>
              {{/if}}
            </div>
          </div>

        {{else}}
          <h1 data-topic-id={{this.model.id}}>
            {{#unless this.model.is_warning}}
              {{#if this.canSendPms}}
                <PrivateMessageGlyph
                  @shouldShow={{this.model.isPrivateMessage}}
                  @href={{this.pmPath}}
                  @title="topic_statuses.personal_message.title"
                  @ariaLabel="user.messages.inbox"
                />
              {{else}}
                <PrivateMessageGlyph
                  @shouldShow={{this.model.isPrivateMessage}}
                />
              {{/if}}
            {{/unless}}

            {{#if this.model.details.loaded}}
              <TopicStatus @topic={{this.model}} />
              <a
                href={{this.model.url}}
                {{on "click" this.jumpTop}}
                class="fancy-title"
              >
                {{html-safe this.model.fancyTitle}}
              </a>
            {{/if}}

            {{#if this.model.details.can_edit}}
              <a
                href
                {{on "click" this.editTopic}}
                class="edit-topic"
                title={{i18n "edit_topic"}}
              >{{d-icon "pencil"}}</a>
            {{/if}}

            <PluginOutlet
              @name="topic-title-suffix"
              @outletArgs={{hash model=this.model}}
            />
          </h1>

          <PluginOutlet
            @name="topic-category-wrapper"
            @outletArgs={{hash topic=this.model}}
          >
            <TopicCategory @topic={{this.model}} class="topic-category" />
          </PluginOutlet>

        {{/if}}
      </TopicTitle>

      {{#if this.model.publishedPage}}
        <div class="published-page-notice">
          <div class="details">
            {{#if this.model.publishedPage.public}}
              <span class="is-public">{{i18n
                  "topic.publish_page.public"
                }}</span>
            {{/if}}
            {{i18n "topic.publish_page.topic_published"}}
            <div>
              <a
                href={{this.model.publishedPage.url}}
                target="_blank"
                rel="noopener noreferrer"
              >{{this.model.publishedPage.url}}</a>
            </div>
          </div>
          <div class="controls">
            <DButton
              @icon="file"
              @label="topic.publish_page.publishing_settings"
              @action={{route-action "showPagePublish"}}
            />
          </div>
        </div>
      {{/if}}

    {{/if}}

    <div class="container posts">
      <div class="selected-posts {{unless this.multiSelect 'hidden'}}">
        <SelectedPosts
          @selectedPostsCount={{this.selectedPostsCount}}
          @canSelectAll={{this.canSelectAll}}
          @canDeselectAll={{this.canDeselectAll}}
          @canDeleteSelected={{this.canDeleteSelected}}
          @canMergeTopic={{this.canMergeTopic}}
          @canChangeOwner={{this.canChangeOwner}}
          @canMergePosts={{this.canMergePosts}}
          @toggleMultiSelect={{action "toggleMultiSelect"}}
          @mergePosts={{action "mergePosts"}}
          @deleteSelected={{action "deleteSelected"}}
          @deselectAll={{action "deselectAll"}}
          @selectAll={{action "selectAll"}}
        />
      </div>

      {{#if (and this.showBottomTopicMap this.loadedAllPosts)}}
        <div class="topic-map --bottom">
          <TopicMap
            @model={{this.model}}
            @topicDetails={{this.model.details}}
            @postStream={{this.model.postStream}}
            @showPMMap={{eq this.model.archetype "private_message"}}
            @showInvite={{route-action "showInvite"}}
            @removeAllowedGroup={{action "removeAllowedGroup"}}
            @removeAllowedUser={{action "removeAllowedUser"}}
          />
        </div>
      {{/if}}

      <PluginOutlet @name="above-timeline" @connectorTagName="div" />

      <TopicNavigation
        @topic={{this.model}}
        @jumpToDate={{action "jumpToDate"}}
        @jumpToIndex={{action "jumpToIndex"}}
        class="topic-navigation"
        as |info|
      >
        <PluginOutlet
          @name="topic-navigation"
          @connectorTagName="div"
          @outletArgs={{hash
            topic=this.model
            renderTimeline=info.renderTimeline
            topicProgressExpanded=info.topicProgressExpanded
          }}
        />
        {{#if info.renderTimeline}}
          <TopicTimeline
            @info={{info}}
            @model={{this.model}}
            @replyToPost={{action "replyToPost"}}
            @showTopReplies={{action "showTopReplies"}}
            @jumpToPostPrompt={{action "jumpToPostPrompt"}}
            @enteredIndex={{this.enteredIndex}}
            @prevEvent={{info.prevEvent}}
            @jumpTop={{action "jumpTop"}}
            @jumpBottom={{action "jumpBottom"}}
            @jumpEnd={{action "jumpEnd"}}
            @jumpToIndex={{action "jumpToIndex"}}
            @toggleMultiSelect={{action "toggleMultiSelect"}}
            @showTopicSlowModeUpdate={{route-action "showTopicSlowModeUpdate"}}
            @deleteTopic={{action "deleteTopic"}}
            @recoverTopic={{action "recoverTopic"}}
            @toggleClosed={{action "toggleClosed"}}
            @toggleArchived={{action "toggleArchived"}}
            @toggleVisibility={{action "toggleVisibility"}}
            @showTopicTimerModal={{route-action "showTopicTimerModal"}}
            @showFeatureTopic={{route-action "showFeatureTopic"}}
            @showChangeTimestamp={{route-action "showChangeTimestamp"}}
            @resetBumpDate={{action "resetBumpDate"}}
            @convertToPublicTopic={{action "convertToPublicTopic"}}
            @convertToPrivateMessage={{action "convertToPrivateMessage"}}
            @fullscreen={{info.topicProgressExpanded}}
          />
        {{else}}
          <TopicProgress
            @prevEvent={{info.prevEvent}}
            @topic={{this.model}}
            @expanded={{info.topicProgressExpanded}}
            @jumpToPost={{action "jumpToPost"}}
          >
            <span>
              <PluginOutlet
                @name="before-topic-progress"
                @connectorTagName="div"
                @outletArgs={{hash
                  model=this.model
                  jumpToPost=(action "jumpToPost")
                }}
              />
            </span>
            <TopicAdminMenu
              @topic={{this.model}}
              @toggleMultiSelect={{action "toggleMultiSelect"}}
              @showTopicSlowModeUpdate={{route-action
                "showTopicSlowModeUpdate"
              }}
              @deleteTopic={{action "deleteTopic"}}
              @recoverTopic={{action "recoverTopic"}}
              @toggleClosed={{action "toggleClosed"}}
              @toggleArchived={{action "toggleArchived"}}
              @toggleVisibility={{action "toggleVisibility"}}
              @showTopicTimerModal={{route-action "showTopicTimerModal"}}
              @showFeatureTopic={{route-action "showFeatureTopic"}}
              @showChangeTimestamp={{route-action "showChangeTimestamp"}}
              @resetBumpDate={{action "resetBumpDate"}}
              @convertToPublicTopic={{action "convertToPublicTopic"}}
              @convertToPrivateMessage={{action "convertToPrivateMessage"}}
            />
          </TopicProgress>
        {{/if}}

        <PluginOutlet
          @name="topic-navigation-bottom"
          @connectorTagName="div"
          @outletArgs={{hash model=this.model}}
        />
      </TopicNavigation>

      <div class="row">
        <section class="topic-area" id="topic" data-topic-id={{this.model.id}}>

          <div class="posts-wrapper">
            <ConditionalLoadingSpinner
              @condition={{this.model.postStream.loadingAbove}}
            />

            <span>
              <PluginOutlet
                @name="topic-above-posts"
                @connectorTagName="div"
                @outletArgs={{hash model=this.model}}
              />
            </span>

            {{#unless this.model.postStream.loadingFilter}}
              <ScrollingPostStream
                @posts={{this.postsToRender}}
                @canCreatePost={{this.model.details.can_create_post}}
                @multiSelect={{this.multiSelect}}
                @selectedPostsCount={{this.selectedPostsCount}}
                @filteredPostsCount={{this.model.postStream.filteredPostsCount}}
                @selectedQuery={{this.selectedQuery}}
                @gaps={{this.model.postStream.gaps}}
                @showReadIndicator={{this.model.show_read_indicator}}
                @streamFilters={{this.model.postStream.streamFilters}}
                @lastReadPostNumber={{this.userLastReadPostNumber}}
                @highestPostNumber={{this.highestPostNumber}}
                @showFlags={{action "showPostFlags"}}
                @editPost={{action "editPost"}}
                @showHistory={{route-action "showHistory"}}
                @showLogin={{route-action "showLogin"}}
                @showRawEmail={{route-action "showRawEmail"}}
                @deletePost={{action "deletePost"}}
                @permanentlyDeletePost={{action "permanentlyDeletePost"}}
                @recoverPost={{action "recoverPost"}}
                @expandHidden={{action "expandHidden"}}
                @toggleBookmark={{action "toggleBookmark"}}
                @togglePostType={{action "togglePostType"}}
                @rebakePost={{action "rebakePost"}}
                @changePostOwner={{action "changePostOwner"}}
                @grantBadge={{action "grantBadge"}}
                @changeNotice={{action "changeNotice"}}
                @lockPost={{action "lockPost"}}
                @unlockPost={{action "unlockPost"}}
                @unhidePost={{action "unhidePost"}}
                @replyToPost={{action "replyToPost"}}
                @toggleWiki={{action "toggleWiki"}}
                @showTopReplies={{action "showTopReplies"}}
                @cancelFilter={{action "cancelFilter"}}
                @removeAllowedUser={{action "removeAllowedUser"}}
                @removeAllowedGroup={{action "removeAllowedGroup"}}
                @topVisibleChanged={{action "topVisibleChanged"}}
                @currentPostChanged={{action "currentPostChanged"}}
                @currentPostScrolled={{action "currentPostScrolled"}}
                @bottomVisibleChanged={{action "bottomVisibleChanged"}}
                @togglePostSelection={{action "togglePostSelection"}}
                @selectReplies={{action "selectReplies"}}
                @selectBelow={{action "selectBelow"}}
                @fillGapBefore={{action "fillGapBefore"}}
                @fillGapAfter={{action "fillGapAfter"}}
                @showInvite={{route-action "showInvite"}}
                @showPagePublish={{route-action "showPagePublish"}}
              />
            {{/unless}}

            <ConditionalLoadingSpinner
              @condition={{this.model.postStream.loadingBelow}}
            />
          </div>
          <div id="topic-bottom"></div>

          <ConditionalLoadingSpinner
            @condition={{this.model.postStream.loadingFilter}}
          >
            {{#if this.loadedAllPosts}}

              {{#if this.model.pending_posts}}
                <div class="pending-posts">
                  {{#each this.model.pending_posts as |pending|}}
                    <div
                      class="reviewable-item"
                      data-reviewable-id={{pending.id}}
                    >
                      <div class="reviewable-meta-data">
                        <span class="reviewable-type">
                          {{i18n "review.awaiting_approval"}}
                        </span>
                        <span class="created-at">
                          {{age-with-tooltip pending.created_at}}
                        </span>
                      </div>
                      <div class="post-contents-wrapper">
                        <ReviewableCreatedBy @user={{this.currentUser}} />
                        <div class="post-contents">
                          <ReviewableCreatedByName @user={{this.currentUser}} />
                          <div class="post-body"><CookText
                              @rawText={{pending.raw}}
                            /></div>
                        </div>
                      </div>
                      <div class="reviewable-actions">
                        <PluginOutlet
                          @name="topic-additional-reviewable-actions"
                          @outletArgs={{hash pending=pending}}
                        />
                        <DButton
                          @label="review.delete"
                          @icon="trash-can"
                          @action={{fn (action "deletePending") pending}}
                          class="btn-danger"
                        />
                      </div>
                    </div>
                  {{/each}}
                </div>
              {{/if}}

              {{#if this.model.queued_posts_count}}
                <div class="has-pending-posts">
                  <div>
                    {{html-safe
                      (i18n
                        "review.topic_has_pending"
                        count=this.model.queued_posts_count
                      )
                    }}
                  </div>

                  <LinkTo
                    @route="review"
                    @query={{hash
                      topic_id=this.model.id
                      type="ReviewableQueuedPost"
                      status="pending"
                    }}
                  >
                    {{i18n "review.view_pending"}}
                  </LinkTo>
                </div>
              {{/if}}

              <SlowModeInfo
                @topic={{this.model}}
                @user={{this.currentUser}}
                @tagName=""
              />

              <TopicTimerInfo
                @topicClosed={{this.model.closed}}
                @statusType={{this.model.topic_timer.status_type}}
                @statusUpdate={{this.model.topic_status_update}}
                @executeAt={{this.model.topic_timer.execute_at}}
                @basedOnLastPost={{this.model.topic_timer.based_on_last_post}}
                @durationMinutes={{this.model.topic_timer.duration_minutes}}
                @categoryId={{this.model.topic_timer.category_id}}
                @showTopicTimerModal={{route-action "showTopicTimerModal"}}
                @removeTopicTimer={{action
                  "removeTopicTimer"
                  this.model.topic_timer.status_type
                  "topic_timer"
                }}
              />

              {{#if this.showSelectedPostsAtBottom}}
                <div
                  class="selected-posts
                    {{unless this.multiSelect 'hidden'}}
                    {{if this.showSelectedPostsAtBottom 'hidden'}}"
                >
                  <SelectedPosts
                    @selectedPostsCount={{this.selectedPostsCount}}
                    @canSelectAll={{this.canSelectAll}}
                    @canDeselectAll={{this.canDeselectAll}}
                    @canDeleteSelected={{this.canDeleteSelected}}
                    @canMergeTopic={{this.canMergeTopic}}
                    @canChangeOwner={{this.canChangeOwner}}
                    @canMergePosts={{this.canMergePosts}}
                    @toggleMultiSelect={{action "toggleMultiSelect"}}
                    @mergePosts={{action "mergePosts"}}
                    @deleteSelected={{action "deleteSelected"}}
                    @deselectAll={{action "deselectAll"}}
                    @selectAll={{action "selectAll"}}
                  />
                </div>
              {{/if}}

            {{/if}}
          </ConditionalLoadingSpinner>

          <PluginOutlet
            @name="topic-area-bottom"
            @connectorTagName="div"
            @outletArgs={{hash model=this.model}}
          />
        </section>
      </div>

    </div>
    {{#if this.loadedAllPosts}}
      {{#if this.session.showSignupCta}}
        {{! replace "Log In to Reply" with the infobox }}
        <SignupCta />
      {{else}}
        {{#if this.currentUser}}
          <span>
            <PluginOutlet
              @name="topic-above-footer-buttons"
              @connectorTagName="div"
              @outletArgs={{hash model=this.model}}
            />
          </span>

          <TopicFooterButtons
            @topic={{this.model}}
            @toggleMultiSelect={{action "toggleMultiSelect"}}
            @showTopicSlowModeUpdate={{route-action "showTopicSlowModeUpdate"}}
            @deleteTopic={{action "deleteTopic"}}
            @recoverTopic={{action "recoverTopic"}}
            @toggleClosed={{action "toggleClosed"}}
            @toggleArchived={{action "toggleArchived"}}
            @toggleVisibility={{action "toggleVisibility"}}
            @showTopicTimerModal={{route-action "showTopicTimerModal"}}
            @showFeatureTopic={{route-action "showFeatureTopic"}}
            @showChangeTimestamp={{route-action "showChangeTimestamp"}}
            @resetBumpDate={{action "resetBumpDate"}}
            @convertToPublicTopic={{action "convertToPublicTopic"}}
            @convertToPrivateMessage={{action "convertToPrivateMessage"}}
            @toggleBookmark={{action "toggleBookmark"}}
            @showFlagTopic={{route-action "showFlagTopic"}}
            @toggleArchiveMessage={{action "toggleArchiveMessage"}}
            @editFirstPost={{action "editFirstPost"}}
            @deferTopic={{action "deferTopic"}}
            @replyToPost={{action "replyToPost"}}
          />
        {{else}}
          <div id="topic-footer-buttons">
            <AnonymousTopicFooterButtons @topic={{this.model}} />
          </div>
        {{/if}}
      {{/if}}

      <br />

      <span>
        <PluginOutlet
          @name="topic-above-suggested"
          @connectorTagName="div"
          @outletArgs={{hash model=this.model}}
        />
      </span>

      <MoreTopics @topic={{this.model}} />
      <PluginOutlet
        @name="topic-below-suggested"
        @outletArgs={{hash model=this.model}}
      />
    {{/if}}
  {{else}}
    <div class="container">
      <ConditionalLoadingSpinner @condition={{this.noErrorYet}}>
        {{#if this.model.errorHtml}}
          <div class="not-found">{{html-safe this.model.errorHtml}}</div>
        {{else}}
          <div class="topic-error">
            <div>{{this.model.errorMessage}}</div>
            {{#if this.model.noRetry}}
              {{#unless this.currentUser}}
                <DButton
                  @action={{route-action "showLogin"}}
                  @icon="user"
                  @label="log_in"
                  class="btn-primary topic-retry"
                />
              {{/unless}}
            {{else}}
              <DButton
                @action={{action "retryLoading"}}
                @icon="arrows-rotate"
                @label="errors.buttons.again"
                class="btn-primary topic-retry"
              />
            {{/if}}
          </div>
          <ConditionalLoadingSpinner @condition={{this.retrying}} />
        {{/if}}
      </ConditionalLoadingSpinner>
    </div>
  {{/if}}

  <PostTextSelection
    @quoteState={{this.quoteState}}
    @selectText={{action "selectText"}}
    @buildQuoteMarkdown={{this.buildQuoteMarkdown}}
    @editPost={{action "editPost"}}
    @topic={{this.model}}
  />
</DiscourseTopic>