<UserNav::MessagesSecondaryNav>

  <DNavigationItem
    @route="userPrivateMessages.group.index"
    @ariaCurrentContext="subNav"
    class="user-nav__messages-group-latest"
  >
    {{d-icon "envelope"}}
    <span>{{i18n "categories.latest"}}</span>
  </DNavigationItem>

  {{#if this.viewingSelf}}
    <DNavigationItem
      @route="userPrivateMessages.group.new"
      @ariaCurrentContext="subNav"
      class="user-nav__messages-group-new"
    >
      {{d-icon "circle-exclamation"}}
      <span>{{this.newLinkText}}</span>
    </DNavigationItem>

    <DNavigationItem
      @route="userPrivateMessages.group.unread"
      @ariaCurrentContext="subNav"
      class="user-nav__messages-group-unread"
    >
      {{d-icon "circle-plus"}}
      <span>{{this.unreadLinkText}}</span>
    </DNavigationItem>

    <DNavigationItem
      @route="userPrivateMessages.group.archive"
      @ariaCurrentContext="subNav"
      class="user-nav__messages-group-archive"
    >
      {{d-icon "box-archive"}}
      <span>{{i18n "user.messages.archive"}}</span>
    </DNavigationItem>
  {{/if}}
</UserNav::MessagesSecondaryNav>

{{#in-element this.navigationControlsButton}}
  <GroupNotificationsTracking
    @levelId={{this.group.group_user.notification_level}}
    @onChange={{this.changeGroupNotificationLevel}}
  />
{{/in-element}}

<div class="group-messages group-{{this.group.name}}">
  {{outlet}}
</div>