{{#if this.model.canLoadMore}}
  {{hide-application-footer}}
{{/if}}

<DSection @pageClass="users">
  <LoadMore
    @selector=".directory-table .directory-table__cell"
    @action={{action "loadMore"}}
  >
    <div class="container">
      <div class="users-directory directory">
        <span>
          <PluginOutlet
            @name="users-top"
            @connectorTagName="div"
            @outletArgs={{hash model=this.model}}
          />
        </span>
        <div class="directory-controls">
          <div class="period-controls">
            <PeriodChooser
              @period={{this.period}}
              @onChange={{action (mut this.period)}}
              @fullDay={{false}}
            />
            {{#if this.lastUpdatedAt}}
              <div class="directory-last-updated">
                {{i18n "directory.last_updated"}}
                {{this.lastUpdatedAt}}
              </div>
            {{/if}}
          </div>
          <div class="inline-form">
            <label class="total-rows">
              {{#if this.model.totalRows}}
                {{i18n "directory.total_rows" count=this.model.totalRows}}
              {{/if}}
            </label>
            <Input
              @value={{readonly this.nameInput}}
              placeholder={{i18n "directory.filter_name"}}
              class="filter-name no-blur"
              {{on
                "input"
                (action "onUsernameFilterChanged" value="target.value")
              }}
            />
            {{#if this.showGroupFilter}}
              <ComboBox
                @class="directory-group-selector"
                @value={{this.group}}
                @content={{this.groupOptions}}
                @onChange={{action this.groupChanged}}
                @options={{hash none="directory.group.all"}}
              />
            {{/if}}
            {{#if this.currentUser.staff}}
              <DButton
                @icon="wrench"
                @action={{action "showEditColumnsModal"}}
                @class="btn-default open-edit-columns-btn"
              />
            {{/if}}
            <PluginOutlet
              @name="users-directory-controls"
              @outletArgs={{hash model=this.model}}
            />
          </div>
        </div>

        <ConditionalLoadingSpinner @condition={{this.isLoading}}>
          {{#if this.model.length}}
            <DirectoryTable
              @items={{this.model}}
              @columns={{this.columns}}
              @showTimeRead={{this.showTimeRead}}
              @order={{this.order}}
              @asc={{this.asc}}
            />
            <ConditionalLoadingSpinner @condition={{this.model.loadingMore}} />
          {{else}}
            <div class="clearfix"></div>
            <p>{{i18n "directory.no_results"}}</p>
          {{/if}}
        </ConditionalLoadingSpinner>

      </div>
    </div>
  </LoadMore>
</DSection>