{{#if this.showWarningsWarning}}
  <div class="alert alert-info">{{html-safe
      (i18n "admin.user.warnings_list_warning")
    }}</div>
{{/if}}

<UserNav::MessagesSecondaryNav>
  <DNavigationItem
    @route="userPrivateMessages.user.index"
    @ariaCurrentContext="subNav"
    class="user-nav__messages-latest"
  >
    {{d-icon "envelope"}}
    <span>{{i18n "categories.latest"}}</span>
  </DNavigationItem>

  <DNavigationItem
    @route="userPrivateMessages.user.sent"
    @ariaCurrentContext="subNav"
    class="user-nav__messages-sent"
  >
    {{d-icon "reply"}}
    <span>{{i18n "user.messages.sent"}}</span>
  </DNavigationItem>

  {{#if this.viewingSelf}}
    <DNavigationItem
      @route="userPrivateMessages.user.new"
      @ariaCurrentContext="subNav"
      class="user-nav__messages-new"
    >
      {{d-icon "exclamation-circle"}}
      <span>{{this.newLinkText}}</span>
    </DNavigationItem>

    <DNavigationItem
      @route="userPrivateMessages.user.unread"
      @ariaCurrentContext="subNav"
      class="user-nav__messages-unread"
    >
      {{d-icon "plus-circle"}}
      <span>{{this.unreadLinkText}}</span>
    </DNavigationItem>

  {{/if}}

  <DNavigationItem
    @route="userPrivateMessages.user.archive"
    @ariaCurrentContext="subNav"
    class="user-nav__messages-archive"
  >
    {{d-icon "archive"}}
    <span>{{i18n "user.messages.archive"}}</span>
  </DNavigationItem>

</UserNav::MessagesSecondaryNav>

{{outlet}}