{{#d-section pageClass="users"}}
  {{#load-more selector=".directory tbody tr" action=(action "loadMore")}}
    <div class="container">
      <div class="users-directory directory">
        {{plugin-outlet name="users-top" connectorTagName="div" args=(hash model=model)}}
        <div class="directory-controls">
          <div class="period-controls">
            {{period-chooser period=period onChange=(action (mut period)) fullDay=false}}
            {{#if lastUpdatedAt}}
              <div class="directory-last-updated">
                {{i18n "directory.last_updated"}}
                {{lastUpdatedAt}}
              </div>
            {{/if}}
          </div>
          <div>
            <span class="total-rows">
              {{#if model.totalRows}}
                {{i18n "directory.total_rows" count=model.totalRows}}
              {{/if}}
            </span>
            {{input
              value=(readonly nameInput)
              input=(action "onFilterChanged" value="target.value")
              placeholderKey="directory.filter_name"
              class="filter-name no-blur"
            }}
            {{#if currentUser.staff}}
              {{d-button
                icon="wrench"
                action=(action "showEditColumnsModal")
                class="btn-default"
              }}
            {{/if}}
          </div>
        </div>

        {{#conditional-loading-spinner condition=isLoading}}
          {{#if model.length}}

            <table>
              <thead>
                {{table-header-toggle field="username" order=order asc=asc}}
                {{#each columns as |column|}}
                  {{table-header-toggle field=column.name icon=column.icon order=order asc=asc}}
                {{/each}}

                {{#if showTimeRead}}
                  <th>{{i18n "directory.time_read"}}</th>
                {{/if}}
              </thead>
              <tbody>
                {{#each model as |item|}}
                  {{directory-item item=item columns=columns showTimeRead=showTimeRead}}
                {{/each}}
              </tbody>
            </table>

            {{conditional-loading-spinner condition=model.loadingMore}}
          {{else}}
            <div class="clearfix"></div>
            <p>{{i18n "directory.no_results"}}</p>
          {{/if}}
        {{/conditional-loading-spinner}}

      </div>
    </div>
  {{/load-more}}
{{/d-section}}
