<UserNav::MessagesSecondaryNav>
  <li class="tags">
    <LinkTo @route="userPrivateMessages.tags.index">
      {{d-icon "tag"}}
      <span>{{i18n "user.messages.all_tags"}}</span>
    </LinkTo>
  </li>

  {{#if this.tagName}}
    <li class="archive">
      <LinkTo @route="userPrivateMessages.tags.show" @model={{this.tagName}}>
        {{this.tagName}}
      </LinkTo>
    </li>
  {{/if}}
</UserNav::MessagesSecondaryNav>

{{outlet}}