<UserNav::MessagesSecondaryNav>
  <li class="messages-group-latest">
    <LinkTo @route="userPrivateMessages.group.index" @model={{this.groupName}}>
      {{d-icon "envelope"}}
      <span>{{i18n "categories.latest"}}</span>
    </LinkTo>
  </li>

  {{#if this.viewingSelf}}
    <li class="messages-group-new">
      <LinkTo @route="userPrivateMessages.group.new" @model={{this.groupName}} class="new">
        {{d-icon "exclamation-circle"}}
        <span>{{this.newLinkText}}</span>
      </LinkTo>
    </li>

    <li class="messages-group-unread">
      <LinkTo @route="userPrivateMessages.group.unread" @model={{this.groupName}} class="unread">
        {{d-icon "plus-circle"}}
        <span>{{this.unreadLinkText}}</span>
      </LinkTo>
    </li>

    <li class="messages-group-archive">
      <LinkTo @route="userPrivateMessages.group.archive" @model={{this.groupName}}>
        {{d-icon "archive"}}
        <span>{{i18n "user.messages.archive"}}</span>
      </LinkTo>
    </li>
  {{/if}}
</UserNav::MessagesSecondaryNav>

{{outlet}}
