{{#d-section pageClass="users"}}
  {{#load-more selector=".directory tbody tr" action=(action "loadMore")}}
    <div class="container">
      <div class="users-directory directory">
        {{plugin-outlet name="users-top" tagName="span" connectorTagName="div" args=(hash model=model)}}
        <div class="directory-controls">
          <div class="period-controls">
            {{period-chooser period=period onChange=(action (mut period)) fullDay=false}}
            {{#if lastUpdatedAt}}
              <div class="directory-last-updated">
                {{i18n "directory.last_updated"}}
                {{lastUpdatedAt}}
              </div>
            {{/if}}
          </div>
          <div class="inline-form">
            <label class="total-rows">
              {{#if model.totalRows}}
                {{i18n "directory.total_rows" count=model.totalRows}}
              {{/if}}
            </label>
            {{input
              value=(readonly nameInput)
              input=(action "onUsernameFilterChanged" value="target.value")
              placeholderKey="directory.filter_name"
              class="filter-name no-blur"
            }}
            {{#if showGroupFilter}}
              {{combo-box
                class="directory-group-selector"
                value=group
                content=groupOptions
                onChange=(action groupChanged)
                options=(hash
                  none="directory.group.all"
                )
              }}
            {{/if}}
            {{#if currentUser.staff}}
              {{d-button
                icon="wrench"
                action=(action "showEditColumnsModal")
                class="btn-default open-edit-columns-btn"
              }}
            {{/if}}
            {{plugin-outlet name="users-directory-controls" args=(hash model=model)}}
          </div>
        </div>

        {{#conditional-loading-spinner condition=isLoading}}
          {{#if model.length}}
            {{directory-table items=model columns=columns showTimeRead=showTimeRead order=order asc=asc}}
            {{conditional-loading-spinner condition=model.loadingMore}}
          {{else}}
            <div class="clearfix"></div>
            <p>{{i18n "directory.no_results"}}</p>
          {{/if}}
        {{/conditional-loading-spinner}}

      </div>
    </div>
  {{/load-more}}
{{/d-section}}
