<UserNav::MessagesSecondaryNav>

  <DNavigationItem
    @route="userPrivateMessages.group.index"
    @class="user-nav__messages-group-latest"
    @model={{this.groupName}}
    @ariaCurrentContext="subNav"
  >
    {{d-icon "envelope"}}
    <span>{{i18n "categories.latest"}}</span>
  </DNavigationItem>

  {{#if this.viewingSelf}}
    <DNavigationItem
      @route="userPrivateMessages.group.new"
      @model={{this.groupName}}
      @class="user-nav__messages-group-new"
      @ariaCurrentContext="subNav"
    >
      {{d-icon "exclamation-circle"}}
      <span>{{this.newLinkText}}</span>
    </DNavigationItem>

    <DNavigationItem
      @route="userPrivateMessages.group.unread"
      @model={{this.groupName}}
      @class="user-nav__messages-group-unread"
      @ariaCurrentContext="subNav"
    >
      {{d-icon "plus-circle"}}
      <span>{{this.unreadLinkText}}</span>
    </DNavigationItem>

    <DNavigationItem
      @route="userPrivateMessages.group.archive"
      @class="user-nav__messages-group-archive"
      @model={{this.groupName}}
      @ariaCurrentContext="subNav"
    >
      {{d-icon "archive"}}
      <span>{{i18n "user.messages.archive"}}</span>
    </DNavigationItem>
  {{/if}}
</UserNav::MessagesSecondaryNav>

{{outlet}}