<div
  role="region"
  aria-label={{i18n "chat.aria_roles.header"}}
  class="chat-drawer-header"
>
  <ChatDrawer::BackButton />

  <ChatDrawer::ChannelTitle
    @channel={{this.chat.activeChannel}}
    @drawerActions={{@drawerActions}}
  />

  <ChatDrawer::RightActions @drawerActions={{@drawerActions}} />
</div>

{{#if this.chatStateManager.isDrawerExpanded}}
  <div
    class="chat-drawer-content"
    {{did-insert this.fetchChannel}}
    {{did-update this.fetchChannel @params.channelId}}
  >
    {{#if this.chat.activeChannel}}
      <ChatLivePane
        @targetMessageId={{readonly @params.messageId}}
        @chatChannel={{this.chat.activeChannel}}
      />
    {{/if}}
  </div>
{{/if}}