<li
  {{on "mouseover" @onMouseOver}}
  {{on "mouseout" @onMouseOut}}
  role="button"
  style={{this.colorBackgroundStyle}}
  class="poll-breakdown-option"
>
  <span
    class="poll-breakdown-option-color"
    style={{this.colorPreviewStyle}}
  ></span>

  <span class="poll-breakdown-option-count">
    {{#if this.showPercentage}}
      {{this.percent}}%
    {{else}}
      {{@option.votes}}
    {{/if}}
  </span>

  <span class="poll-breakdown-option-text">
    {{html-safe @option.html}}
  </span>
</li>