<ul class={{this.classes}}>
  {{#each @options as |option|}}
    {{#if @isIrv}}
      <div
        tabindex="0"
        class="irv-poll-option"
        data-poll-option-id={{option.id}}
        data-poll-option-rank={{option.rank}}
      >
        {{#if this.currentUser}}
          <PollOptionsDropdown
            @rank={{option.rank}}
            @option={{option}}
            @irvDropdownContent={{@irvDropdownContent}}
            @sendRank={{this.sendRank}}
          />
        {{else}}
          <button class="btn btn-default" onclick={{route-action "showLogin"}}>{{I18n "poll.options.irv.login"}}</button>
        {{/if}}
        <span class="option-text">{{option.html}}</span>
      </div>
    {{else}}
      <li tabindex="0" data-poll-option-id={{option.id}}>
        {{#if this.currentUser}}
          <button onclick={{action this.sendClick option}}>
            {{#if (this.isChosen option)}}
              {{#if @isCheckbox}}
                {{d-icon "far-check-square"}}
              {{else}}
                {{d-icon "circle"}}
              {{/if}}
            {{else}}
              {{#if @isCheckbox}}
                {{d-icon "far-square"}}
              {{else}}
                {{d-icon "far-circle"}}
              {{/if}}
            {{/if}}
            <span class="option-text">{{option.html}}</span>
          </button>
        {{else}}
          <button onclick={{route-action "showLogin"}}>
            {{#if (this.isChosen option)}}
              {{#if @isCheckbox}}
                {{d-icon "far-check-square"}}
              {{else}}
                {{d-icon "circle"}}
              {{/if}}
            {{else}}
              {{#if @isCheckbox}}
                {{d-icon "far-square"}}
              {{else}}
                {{d-icon "far-circle"}}
              {{/if}}
            {{/if}}
            <span class="option-text">{{option.html}}</span>
          </button>
        {{/if}}
      </li>
    {{/if}}
  {{/each}}
</ul>