<div class="poll-voters">
  <ul class="poll-voters-list">
    {{#if @isIrv}}
      {{#each this.irvVoters as |rank|}}
        <ul>
          {{#if (eq rank.rank "Abstain")}}
            <span class="rank">{{d-icon "ban"}}</span>
          {{else}}
            <span class="rank">{{rank.rank}}</span>
          {{/if}}
          {{#each rank.voters as |user|}}
            <li>
              {{avatar user.user imageSize="tiny"}}
            </li>
          {{/each}}
        </ul>
      {{/each}}
    {{else}}
      {{#each @voters as |user|}}
        <li>
          {{avatar user imageSize="tiny"}}
        </li>
      {{/each}}

    {{/if}}
  </ul>
  {{#if this.showMore}}
    {{#if @loading}}
      <div class="spinner small"></div>
    {{else}}
      <button
        onclick={{action @fetchVoters @optionId}}
        class="poll-voters-toggle-expand"
      >
        {{d-icon "chevron-down"}}
      </button>
    {{/if}}
  {{/if}}
</div>