<ul class={{this.classes}}>
  {{#each @options as |option|}}
    {{#if @isIrv}}
      <div
        tabindex="0"
        class="irv-poll-option"
        data-poll-option-id={{option.id}}
        data-poll-option-rank={{option.rank}}
      >
        <PollOptionsDropdown
          @rank={{option.rank}}
          @option={{option}}
          @irvDropdownContent={{@irvDropdownContent}}
          @sendRank={{this.sendRank}}
        />
        <span class="option-text">{{option.html}}</span>
      </div>
    {{else}}
      <li tabindex="0" data-poll-option-id={{option.id}}>
        <button onclick={{action this.sendClick option}}>
          {{#if (this.isChosen option)}}
            {{#if @isCheckbox}}
              {{d-icon "far-check-square"}}
            {{else}}
              {{d-icon "circle"}}
            {{/if}}
          {{else}}
            {{#if @isCheckbox}}
              {{d-icon "far-square"}}
            {{else}}
              {{d-icon "far-circle"}}
            {{/if}}
          {{/if}}
          <span class="option-text">{{option.html}}</span>
        </button>
      </li>
    {{/if}}
  {{/each}}
</ul>