<ul class="results">
  {{#each this.orderedOptions key="voters" as |option|}}
    <li class={{if option.chosen "chosen" ""}}>
      <div class="option">
        <p>
          {{#unless @isIrv}}
            <span class="percentage">{{option.percentage}}%</span>
          {{/unless}}
          <span class="option-text">{{option.html}}</span>
        </p>
        {{#unless @isIrv}}
          <div class="bar-back">
            <div
              class="bar"
              style={{htmlSafe (concat "width:" option.percentage "%")}}
            />
          </div>
        {{/unless}}
        <PollVoters
          @postId={{@postId}}
          @pollType={{@pollType}}
          @isIrv={{@isIrv}}
          @optionId={{option.id}}
          @pollName={{@pollName}}
          @totalVotes={{option.votes}}
          @voters={{option.voters}}
          @fetchVoters={{@fetchVoters}}
          @loading={{option.loading}}
        />
      </div>
    </li>
  {{/each}}
</ul>