<div class="tab-container">
  <ul class="tabs nav nav-items">
    {{#each this.tabs as |tab|}}
      <li class="tab nav-item {{if (eq tab this.activeTab) 'active'}}">
        <button {{on "click" (fn this.selectTab tab)}}>
          {{tab}}
        </button>
      </li>
    {{/each}}
  </ul>
  <div class="tab-content">
    {{#if (eq this.activeTab this.tabOne)}}
      <PollResultsStandard
        @options={{@options}}
        @pollName={{@pollName}}
        @pollType={{@pollType}}
        @isIrv={{@isIrv}}
        @postId={{@postId}}
        @vote={{@vote}}
        @voters={{@voters}}
        @votersCount={{@votersCount}}
        @fetchVoters={{@fetchVoters}}
      />
    {{/if}}

    {{#if (eq this.activeTab this.tabTwo)}}
      <PollResultsIrv @irvOutcome={{@irvOutcome}} />
    {{/if}}
  </div>
</div>