<div {{did-update this.updatedVoters @preloadedVoters}} class="poll-container">
  {{this.titleHTML}}
  {{#if this.notInVotingGroup}}
    <div class="alert alert-danger">{{this.pollGroups}}</div>
  {{/if}}
  {{#if this.showResults}}
    <div class={{this.resultsWidgetTypeClass}}>
      {{#if this.isNumber}}
        <span>{{this.averageRating}}</span>
      {{else}}
        {{#if this.resultsPie}}
          <PollResultsPie @id={{this.id}} @options={{this.options}} />
        {{else}}
          <PollResultsTabs
            @options={{this.options}}
            @pollName={{this.poll.name}}
            @pollType={{this.poll.type}}
            @isIrv={{this.isIrv}}
            @isPublic={{this.poll.public}}
            @postId={{this.post.id}}
            @vote={{this.vote}}
            @voters={{this.preloadedVoters}}
            @votersCount={{this.poll.voters}}
            @fetchVoters={{this.fetchVoters}}
            @irvOutcome={{this.irvOutcome}}
          />
        {{/if}}
      {{/if}}
    </div>
  {{else}}
    <PollOptions
      @isCheckbox={{this.isCheckbox}}
      @isIrv={{this.isIrv}}
      @irvDropdownContent={{this.irvDropdownContent}}
      @options={{this.options}}
      @votes={{this.vote}}
      @sendOptionSelect={{this.toggleOption}}
    />
  {{/if}}
</div>
{{!-- {{log this.preloadedVoters}} --}}
<PollInfo
  @options={{this.options}}
  @min={{this.min}}
  @max={{this.max}}
  @isMultiple={{this.isMultiple}}
  @close={{this.close}}
  @closed={{this.closed}}
  @results={{this.poll.results}}
  @showResults={{this.showResults}}
  @postUserId={{this.poll.post.user_id}}
  @isPublic={{this.poll.public}}
  @hasVoted={{this.hasVoted}}
  @voters={{this.voters}}
/>
<div class="poll-buttons">
  {{#if this.showCastVotesButton}}
    <button
      class={{this.castVotesButtonClass}}
      title="poll.cast-votes.title"
      disabled={{this.castVotesDisabled}}
      {{on "click" this.castVotes}}
    >
      {{d-icon this.castVotesButtonIcon}}
      <span class="d-button-label">{{I18n "poll.cast-votes.label"}}</span>
    </button>
  {{/if}}

  {{#if this.showHideResultsButton}}
    <button
      class="btn btn-default toggle-results"
      title="poll.hide-results.title"
      {{on "click" this.toggleResults}}
    >
      {{d-icon "chevron-left"}}
      <span class="d-button-label">{{I18n "poll.hide-results.label"}}</span>
    </button>
  {{/if}}

  {{#if this.showShowResultsButton}}
    <button
      class="btn btn-default toggle-results"
      title="poll.show-results.title"
      {{on "click" this.toggleResults}}
    >
      {{d-icon "chart-bar"}}
      <span class="d-button-label">{{I18n "poll.show-results.label"}}</span>
    </button>
  {{/if}}

  {{#if this.showRemoveVoteButton}}
    <button
      class="btn btn-default remove-vote"
      title="poll.remove-vote.title"
      {{on "click" this.removeVote}}
    >
      {{d-icon "undo"}}
      <span class="d-button-label">{{I18n "poll.remove-vote.label"}}</span>
    </button>
  {{/if}}

  <div class="poll-buttons-dropdown">
    <div class="widget-dropdown {{this.dropDownButtonState}}">
      {{#if this.showDropdown}}
        <button
          class="widget-dropdown-header btn btn-default"
          title="poll.dropdown.title"
          {{on "click" this.toggleDropdownButtonState}}
        >
          {{d-icon "cog"}}
        </button>
      {{/if}}
      <div class="widget-dropdown-body">
        {{#each this.getDropdownContent as |content|}}
          <div class="widget-dropdown-item">
            <button
              class="widget-button {{content.className}}"
              title={{content.title}}
              {{on "click" (fn this.dropDownClick content.action)}}
            >
              {{d-icon content.icon}}
              <span>{{I18n content.label}}</span>
            </button>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>