<div class="poll-info">
  <div class="poll-info_counts">
    <div class="poll-info_counts-count">
      <span class="info-number">{{@voters}}</span>
      <span class="info-label">{{this.votersLabel}}</span>
    </div>
    {{#if this.showTotalVotes}}
      <div class="poll-info_counts-count">
        <span class="info-number">{{this.totalVotes}}</span>
        <span class="info-label">{{this.totalVotesLabel}}</span>
      </div>
    {{/if}}
  </div>
  {{#if this.showInstructionsSection}}
    <ul class="poll-info_instructions">
      {{#if this.showMultipleHelpText}}
        <li>
          {{d-icon "list-ul"}}
          <span>{{this.multipleHelpText}}</span>
        </li>
      {{/if}}
      {{#if this.poll.close}}
        {{#if this.isAutomaticallyClosed}}
          <li title={{this.title}}>
            {{d-icon "lock"}}
            <span>{{this.automaticCloseAgeLabel}}</span>
          </li>
        {{else}}
          <li title={{this.title}}>
            {{d-icon "far-clock"}}
            <span>{{this.automaticCloseClosesInLabel}}</span>
          </li>
        {{/if}}
      {{/if}}
      {{#if this.resultsOnVote}}
        <li>
          {{d-icon "check"}}
          <span>{{I18n "poll.results.vote.title"}}</span>
        </li>
      {{/if}}
      {{#if this.resultsOnClose}}
        <li>
          {{d-icon "lock"}}
          <span>{{I18n "poll.results.closed.title"}}</span>
        </li>
      {{/if}}
      {{#if this.resultsStaffOnly}}
        <li>
          {{d-icon "shield-alt"}}
          <span>{{I18n "poll.results.staff.title"}}</span>
        </li>
      {{/if}}
      {{#if this.publicTitle}}
        <li>
          {{d-icon "far-eye"}}
          <span>{{this.publicTitleLabel}}</span>
        </li>
      {{/if}}
    </ul>
  {{/if}}
</div>