<div>
  <div
    style="max-width: 100%; padding: .5rem 1.5rem; background: #F0F4FD; border-radius: 8px; position: relative; z-index: 2;"
  >
    <div style="display: flex; gap: 1em;align-items: center;">
      <div class="user-card-avatar">
        <span class="card-huge-avatar">
          {{bound-avatar this.currentUser "large"}}
        </span>
      </div>
      <div>
        <p style="margin-bottom: .5rem; font-weight: 500;">
          {{#if this.currentUser.name}}
            {{this.currentUser.name}}
          {{else}}
            {{this.currentUser.username}}
          {{/if}}
        </p>
        <p style="font-size: 12px; color: #939393; margin-bottom: .5rem;">
          Aspiring student @
          {{this.topCollege}}
        </p>
        <div>
          <h2 stlye="font-weight: bold;">
            {{this.viewCount}}
            <span style="font-size: 14px; font-weight: normal;">Profile Views</span>
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="profile-viewers-preview">
    <div>
      {{#if (gt this.profileViews.views.length 0)}}
        <div style="display: inline-flex; width: 42px;">
          <span>{{bound-avatar this.firstUser "tiny"}}</span>
          <span style="position: relative; left: -6px; z-index: 2;">
            {{bound-avatar this.secondUser "tiny"}}
          </span>
        </div>
        <a
          style="position: relative; color: white;"
          href="/u/{{this.currentUser.username}}/summary"
        >and others viewed your profile
          <svg
            style="width: 10px;"
            class="fa d-icon d-icon-chevron-right svg-icon svg-string"
            xmlns="http://www.w3.org/2000/svg"
          ><use href="#chevron-right"></use></svg></a>
      {{else}}
        <a
          style="position: relative; color: white;"
          href="/u/{{this.currentUser.username}}/summary"
        >View your Profile
          <svg
            style="width: 10px;"
            class="fa d-icon d-icon-chevron-right svg-icon svg-string"
            xmlns="http://www.w3.org/2000/svg"
          ><use href="#chevron-right"></use></svg></a>
      {{/if}}
    </div>
  </div>
</div>