<div>
  <div
    style="max-width: 100%; padding: .5rem 1.5rem; background: #F0F4FD; border-radius: 8px"
  >
    <div style="display: flex; gap: 1em;align-items: center;">
      <div class="user-card-avatar">
        <span class="card-huge-avatar">
          {{bound-avatar this.currentUser "large"}}
        </span>
      </div>
      <div>
        <p style="margin-bottom: .5rem; font-weight: 500;">
          {{#if this.currentUser.name}}
            {{this.currentUser.name}}
          {{else}}
            {{this.currentUser.username}}
          {{/if}}
        </p>
        <p style="font-size: 12px; color: #939393; margin-bottom: .5rem;">
          Enrolling in
          {{this.course}}
        </p>
        <div>
          <h2 stlye="font-weight: bold;">
            {{this.viewCount}}
            <span style="font-size: 14px; font-weight: normal;">Profile Views</span>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>