<div class="auto-close-fields">
  <div>
    <label>
      {{fa-icon "clock-o"}}
      {{i18n 'composer.auto_close.label'}}
      {{text-field value=autoCloseTime}}
      {{autoCloseUnits}}
    </label>
  </div>
  <div class="examples">
    {{autoCloseExamples}}
  </div>
  <div>
    <label>
      {{input type="checkbox" checked=autoCloseBasedOnLastPost}}
      {{i18n 'composer.auto_close.based_on_last_post'}}
    </label>
  </div>
</div>
