<label class="btn" disabled={{uploading}} title="{{i18n 'user.change_avatar.upload_title'}}">
  {{d-icon "picture-o"}}&nbsp;{{uploadButtonText}}
  <input disabled={{uploading}} type="file" accept="image/*" style="visibility: hidden; position: absolute;" />
</label>
{{#if uploading}}
  <span>{{i18n 'upload_selector.uploading'}} {{uploadProgress}}%</span>
{{/if}}
{{#if imageIsNotASquare}}
  <div class="warning">{{i18n 'user.change_avatar.image_is_not_a_square'}}</div>
{{/if}}
