<input type="file" accept="image/*" style="display:none" />
<button class="btn" {{action selectFile}} {{bind-attr disabled="uploading"}} title="{{i18n user.change_avatar.upload_title}}">
  <i class="fa fa-picture-o"></i>&nbsp;{{uploadButtonText}}
</button>
{{#if uploading}}
  <span>{{i18n upload_selector.uploading}} {{view.uploadProgress}}%</span>
{{/if}}
{{#if imageIsNotASquare}}
  <div class="warning">{{i18n user.change_avatar.image_is_not_a_square}}</div>
{{/if}}
