<label class="btn" disabled={{uploading}} title="{{i18n 'admin.backups.upload.title'}}">
  {{d-icon "upload"}}&nbsp;{{uploadButtonText}}
  <input class="hidden-upload-field" disabled={{uploading}} type="file" accept=".gz">
</label>
