{{#if displayCount}}
  <a href={{url}} class='grant-count' title={{i18n 'badges.granted' count=displayCount}}>{{displayCount}}</a>
{{/if}}
{{#if badge.has_badge}}
  <a href={{url}} class='check-display status-checked'>{{d-icon "check"}}</a>
{{/if}}
<div class='badge-contents'>
  <div class='badge-icon {{badge.badgeTypeClassName}}'>
    <a href={{url}}>{{icon-or-image badge}}</a>
  </div>
  <div class='badge-info'>
    <div class='badge-info-item'>
      <h3><a href={{url}} class='badge-link'>{{badge.name}}</a></h3>
      <div class='badge-summary'>{{{summary}}}</div>
    </div>
  </div>
</div>
