{{#if displayCount}}
  <span class='grant-count' title={{i18n 'badges.granted' count=displayCount}}>{{displayCount}}</span>
{{/if}}
{{#if badge.has_badge}}
  <span class='check-display status-checked'>{{fa-icon "check"}}</span>
{{/if}}
<div class='badge-contents'>
  <div class='badge-icon {{badge.badgeTypeClassName}}'>
    {{icon-or-image badge.icon}}
  </div>
  <div class='badge-info'>
    <div class='badge-info-item'>
      <h3><a href={{badge.url}}>{{badge.name}}</a></h3>
      <div class='badge-summary'>{{{summary}}}</div>
    </div>
  </div>
</div>
