{{#loading-spinner condition=loading}}
  {{#if topics}}
    <table class="topic-list">
      <thead>
        <tr>
          <th class="default">{{i18n 'topic.title'}}</th>
          {{#unless controller.hideCategory}}
            <th class="category">{{i18n 'category_title'}}</th>
          {{/unless}}
          <th class="num posts">{{i18n 'posts'}}</th>
          {{#if controller.showParticipants}}
            <th class="posters">{{i18n 'users'}}</th>
          {{/if}}
          <th class="num views">{{i18n 'views'}}</th>
          <th class="num activity">{{i18n 'activity'}}</th>
        </tr>
      </thead>

      <tbody>
        {{#each t in topics}}
          <tr {{bind-attr class="t.archived"}}>
            <td class='main-link'>
              {{topic-status topic=t}}
              <a class='title' href="{{unbound t.lastUnreadUrl}}">{{{unbound t.fancy_title}}}</a>
              {{topic-post-badges unread=t.unread
                                  newPosts=t.new_posts
                                  unseen=t.unseen
                                  url=t.lastUnreadUrl}}
            </td>

            {{raw "list/category-column" hideCategory=controller.hideCategory category=t.category}}

            {{posts-count-column topic=t class="num" action="clickedPosts"}}

            {{#if controller.showParticipants}}
              <td class='participants'>
                {{#each p in t.participants}}
                <a href="{{unbound p.user.path}}" data-user-card="{{unbound p.user.username}}" class="{{unbound p.extras}}">{{avatar p usernamePath="user.username" imageSize="small"}}</a>
                {{/each}}
              </td>
            {{/if}}

            <td {{bind-attr class=":num :views t.viewsHeat"}}>
              {{number t.views numberKey="views_long"}}
            </td>

            {{raw "list/activity-column" topic=t class="num" tagName="td"}}
          </tr>
        {{/each}}
      </tbody>

    </table>
  {{else}}
    <div class='alert alert-info'>
      {{i18n 'choose_topic.none_found'}}
    </div>
  {{/if}}
{{/loading-spinner}}
