{{#conditional-loading-spinner condition=loading}}
  {{#if hasIncoming}}
  <div class="show-mores">
    <div class='alert alert-info clickable' {{action showInserted}}>
      <a tabindex="0" href="" {{action showInserted}}>
        {{count-i18n key="topic_count_" suffix="latest" count=incomingCount}}
      </a>
    </div>
  </div>
  {{/if}}

  {{#if topics}}
    {{topic-list showParticipants=showParticipants
                 showPosters=showPosters
                 hideCategory=hideCategory
                 topics=topics
                 expandExcerpts=expandExcerpts
                 bulkSelectEnabled=bulkSelectEnabled
                 canBulkSelect=canBulkSelect
                 selected=selected
                 skipHeader=skipHeader
                 tagsForUser=tagsForUser}}
  {{else}}
    {{#unless loadingMore}}
    <div class='alert alert-info'>
      {{i18n 'choose_topic.none_found'}}
    </div>
    {{/unless}}
  {{/if}}
{{/conditional-loading-spinner}}
