{{#each categories as |c|}}
  <div class='category category-box category-box-{{unbound c.slug}}' style={{border-color c.color}}>
    <div class='category-box-inner'>
      <div class='category-box-heading'>
        <a href={{c.url}}>
          {{#if c.uploaded_logo.url}}
            {{cdn-img src=c.uploaded_logo.url
                class="logo"
                width=c.uploaded_logo.width
                height=c.uploaded_logo.height}}
          {{/if}}

          <h3>
            {{#if c.read_restricted}}
              {{d-icon 'lock'}}
            {{/if}}
            {{category-title-before category=c}}
            {{c.name}}
          </h3>
        </a>
      </div>

      <div class='featured-topics'>
        {{#if c.topics}}
          <ul>
            {{#each c.topics as |topic|}}
              {{categories-boxes-topic topic=topic}}
            {{/each}}
          </ul>
        {{/if}}
      </div>
    </div>
  </div>
{{/each}}
