{{#each categories as |c|}}
  <div class='category-box category-box-{{unbound c.slug}}' style={{border-color c.color}} data-url={{c.url}}>
    <div class='category-box-inner'>
      <div class='category-box-heading'>
        {{#if c.uploaded_logo.url}}
          {{cdn-img src=c.uploaded_logo.url class="logo"}}
        {{/if}}

        <h3>
          {{#if c.read_restricted}}
            {{d-icon 'lock'}}
          {{/if}}
          {{c.name}}
        </h3>
      </div>

      <div class='description'>
        {{{text-overflow class="overflow" text=c.description_excerpt}}}
      </div>
    </div>
  </div>
{{/each}}
