{{#if showSelector}}
  {{user-selector topicId=topicId
                  onChangeCallback='triggerResize'
                  id="private-message-users"
                  includeMessageableGroups='true'
                  placeholderKey="composer.users_placeholder"
                  tabindex="1"
                  usernames=usernames
                  hasGroups=hasGroups
                  autocomplete="off"}}
{{else}}
  <div class='ac-wrap composer-user-selector-limited' {{action "toggleSelector"}}>
    <span>{{limitedUsernames}}</span>
    <span class='btn-small btn-primary'>{{hiddenUsersCount}}</span>
  </div>
{{/if}}
