<label class="btn" disabled={{uploadButtonDisabled}}>
  {{d-icon "upload"}}&nbsp;{{uploadButtonText}}
  <input disabled={{uploading}} type="file" accept=".csv" style="visibility: hidden; position: absolute;" />
</label>
{{#if uploading}}
  <span>{{i18n 'upload_selector.uploading'}} {{uploadProgress}}%</span>
{{/if}}
