{{#if icon}}
  {{#if isLoading}}
    {{conditional-loading-spinner condition=isLoading}}
  {{else}}
    {{d-icon icon}}
  {{/if}}
{{else}}
  {{conditional-loading-spinner condition=isLoading}}
{{/if}}

{{#if translatedLabel}}
  <span class='d-button-label'>{{html-safe translatedLabel}}{{#if ellipsis}}&hellip;{{/if}}</span>
{{/if}}

{{yield}}
