<div class='d-editor-overlay hidden'></div>
<div class='d-editor-modals'>
  {{#d-editor-modal class="insert-link" hidden=insertLinkHidden okAction="insertLink"}}
    <h3>{{i18n "composer.link_dialog_title"}}</h3>
    {{text-field value=link placeholderKey="composer.link_placeholder"}}
  {{/d-editor-modal}}
</div>

<div class='d-editor-container'>
  <div class='d-editor-button-bar'>
    {{d-button action="bold" icon="bold" class="bold"}}
    {{d-button action="italic" icon="italic" class="italic"}}
    <div class='d-editor-spacer'></div>
    {{d-button action="showLinkModal" icon="link" class="link"}}
    {{d-button action="quote" icon="quote-right" class="quote"}}
    {{d-button action="code" icon="code" class="code"}}
    <div class='d-editor-spacer'></div>
    {{d-button action="bullet" icon="list-ul" class="bullet"}}
    {{d-button action="list" icon="list-ol" class="list"}}
    {{d-button action="heading" icon="font" class="heading"}}
    {{d-button action="rule" icon="minus" class="rule"}}
    {{#if siteSettings.enable_emoji}}
      {{d-button action="emoji" icon="smile-o" class="emoji"}}
    {{/if}}
  </div>

  {{textarea value=value class="d-editor-input"}}

  <div class="d-editor-preview {{unless preview 'hidden'}}">
    {{{preview}}}
  </div>
</div>
