<div class='d-editor-overlay hidden'></div>

<div class='d-editor-modals'>
  {{#d-editor-modal class="insert-link" hidden=insertLinkHidden okAction=(action "insertLink")}}
    <h3>{{i18n "composer.link_dialog_title"}}</h3>
    {{text-field value=linkUrl placeholderKey="composer.link_url_placeholder" class="link-url"}}
    {{text-field value=linkText placeholderKey="composer.link_optional_text" class="link-text"}}
  {{/d-editor-modal}}
</div>

<div class='d-editor-container'>
  <div class="d-editor-textarea-wrapper {{if disabled "disabled"}}">
    <div class='d-editor-button-bar'>
      {{#each toolbar.groups as |group|}}
        {{#each group.buttons as |b|}}
          {{#if b.popupMenu}}
            {{toolbar-popup-menu-options
              onSelect=onPopupMenuAction
              onExpand=(action b.action b)
              title=b.title
              headerIcon=b.icon
              class=b.className
              content=popupMenuOptions}}
          {{else}}
            {{d-button
              action=b.action
              actionParam=b
              translatedTitle=b.title
              label=b.label
              icon=b.icon
              class=b.className}}
          {{/if}}
        {{/each}}

        {{#unless group.lastGroup}}
          <div class='d-editor-spacer'></div>
        {{/unless}}
      {{/each}}
    </div>

    {{conditional-loading-spinner condition=loading}}
    {{textarea tabindex=tabindex value=value class="d-editor-input" placeholder=placeholderTranslated disabled=disabled}}
    {{popup-input-tip validation=validation}}
    {{plugin-outlet name="after-d-editor" tagName="" args=outletArgs}}
  </div>

  <div class="d-editor-preview-wrapper {{if forcePreview 'force-preview'}}">
    <div class="d-editor-preview">{{{preview}}}</div>
    {{plugin-outlet name="editor-preview" classNames="d-editor-plugin"}}
  </div>
</div>

{{emoji-picker active=emojiPickerIsActive emojiSelected=(action 'emojiSelected')}}
