<div class='d-editor-overlay hidden'></div>
<div class='d-editor-modals'>
  {{#d-editor-modal class="insert-link" hidden=insertLinkHidden okAction="insertLink"}}
    <h3>{{i18n "composer.link_dialog_title"}}</h3>
    {{text-field value=link placeholderKey="composer.link_placeholder"}}
  {{/d-editor-modal}}
</div>

<div class='d-editor-container'>
  <div class='d-editor-button-bar'>
    {{#each toolbar.groups as |group|}}
      {{#each group.buttons as |b|}}
        {{d-button action=b.action actionParam=b translatedTitle=b.title icon=b.icon class=b.className}}
      {{/each}}
      {{#unless group.lastGroup}}
        <div class='d-editor-spacer'></div>
      {{/unless}}
    {{/each}}
  </div>
  <div class='d-editor-preview-header'></div>

  <div class="d-editor-textarea-wrapper">
    {{conditional-loading-spinner condition=loading}}
    {{textarea tabindex=tabindex value=value class="d-editor-input" placeholder=placeholderTranslated}}
    {{popup-input-tip validation=validation}}
  </div>

  <div class="d-editor-preview-wrapper">
    <div class="d-editor-preview">
      {{{preview}}}
    </div>
  </div>
</div>
