{{#if visible}}
  <div id="banner">
    <div id="banner-content">
      <div class="close" {{action dismiss}}><i class="fa fa-times" title="{{i18n banner.close}}"></i></div>
      {{{banner.html}}}
    </div>
    <a href="{{unbound banner.url}}" title="{{i18n banner.read_more.title}}">{{i18n banner.read_more.text}}</a>
  </div>
{{/if}}
