<section class='field'>
  <div class="control-group">
    <label>
      {{i18n 'topic.auto_close.label'}}
      {{text-field value=category.auto_close_hours type="number"}}
    </label>

    <label>
      {{input type="checkbox" checked=category.auto_close_based_on_last_post}}
      {{i18n 'topic.auto_close.based_on_last_post'}}
    </label>
  </div>
</section>

<section class='field'>
  <label>
    {{input type="checkbox" checked=category.allow_badges}}
    {{i18n 'category.allow_badges_label'}}
  </label>
</section>

<section class="field">
  <label>
    {{input type="checkbox" checked=category.suppress_from_latest}}
    {{i18n "category.suppress_from_latest"}}
  </label>
</section>

{{#if isParentCategory}}
  <section class="field show-subcategory-list-field">
    <label>
      {{input type="checkbox" checked=category.show_subcategory_list}}
      {{i18n "category.show_subcategory_list"}}
    </label>
  </section>
{{/if}}

{{#if showSubcategoryListStyle}}
  <section class="field subcategory-list-style-field">
    <label>
      {{i18n "category.subcategory_list_style"}}
      {{combo-box valueAttribute="value" content=availableSubcategoryListStyles value=category.subcategory_list_style}}
    </label>
  </section>
{{/if}}

<section class="field default-view-field">
  <label>
    {{i18n "category.default_view"}}
  </label>
  <div class="controls">
    {{combo-box valueAttribute="value" content=availableViews value=category.default_view}}
  </div>
</section>

<section class="field default-top-period-field">
  <label>
    {{i18n "category.default_top_period"}}
  </label>
  <div class="controls">
    {{combo-box valueAttribute="value" content=availableTopPeriods value=category.default_top_period}}
  </div>
</section>

<section class="field">
  <label>
    {{i18n "category.sort_order"}}
  </label>
  <div class="controls">
  {{combo-box valueAttribute="value" content=availableSorts value=category.sort_order none="category.sort_options.default"}}
  {{#unless isDefaultSortOrder}}
    {{combo-box castBoolean=true valueAttribute="value" content=sortAscendingOptions value=category.sort_ascending none="category.sort_options.default"}}
  {{/unless}}
    </div>
</section>

<section class="field num-featured-topics-fields">
  <label>
    {{#if category.parent_category_id}}
      {{i18n "category.subcategory_num_featured_topics"}}
    {{else}}
      {{i18n "category.num_featured_topics"}}
    {{/if}}
    {{text-field value=category.num_featured_topics}}
  </label>
</section>

<section class="field">
  <label>
    {{input type="checkbox" checked=category.all_topics_wiki}}
    {{i18n "category.all_topics_wiki"}}
  </label>
</section>

{{#if siteSettings.topic_featured_link_enabled}}
  <section class='field'>
    <div class="allowed-topic-featured-link-category">
      <label class="checkbox-label">
        {{input type="checkbox" checked=category.topic_featured_link_allowed}}
        {{i18n 'category.topic_featured_link_allowed'}}
      </label>
    </div>
  </section>
{{/if}}

{{#if emailInEnabled}}
    <section class='field'>
      <label>
        {{input type="checkbox" checked=category.email_in_allow_strangers}}
        {{i18n 'category.email_in_allow_strangers'}}
      </label>
    </section>

    <section class='field'>
      <label>
        {{d-icon "envelope-o"}}
        {{i18n 'category.email_in'}}
        {{text-field class="email-in" value=category.email_in}}
      </label>
    </section>

    <section class='field'>
        <label>
          {{input type="checkbox" checked=category.mailinglist_mirror}}
          {{i18n 'category.mailinglist_mirror'}}
        </label>
    </section>

  {{plugin-outlet name="category-email-in" args=(hash category=category)}}
{{/if}}

{{#if showPositionInput}}
  <section class='field position-fields'>
    <label>
      {{i18n 'category.position'}}
      {{text-field value=category.position class="position-input"}}
    </label>
  </section>
{{/if}}

{{#unless emailInEnabled}}
  <section class='field'>
    {{i18n 'category.email_in_disabled'}}
    <a href="/admin/site_settings/category/email">{{i18n 'category.email_in_disabled_click'}}</a>
  </section>
{{/unless}}

{{#unless showPositionInput}}
  <section class='field'>
    {{i18n 'category.position_disabled'}}
    <a href="/admin/site_settings/category/basic">{{i18n 'category.position_disabled_click'}}</a>
  </section>
{{/unless}}

{{#if siteSettings.tagging_enabled}}
  <section class='field minimum-required-tags'>
    <label>
      {{i18n 'category.minimum_required_tags'}}
      {{text-field value=category.minimum_required_tags type="number"}}
    </label>
  </section>
{{/if}}

{{plugin-outlet name="category-custom-settings" args=(hash category=category)}}
