<section class='field'>
  {{auto-close-form autoCloseTime=category.auto_close_hours
                    autoCloseBasedOnLastPost=category.auto_close_based_on_last_post
                    limited="true" }}
</section>

<section class='field'>
  <div class="allow-badges">
    <div>
      {{input type="checkbox" checked=category.allow_badges}}
      {{i18n 'category.allow_badges_label'}}
    </div>
  </div>
</section>

<section class='field'>
  <div class="email-in-fields">
    {{#if emailInEnabled}}
      <div>
        <i class="fa fa-envelope-o"></i>
        {{i18n 'category.email_in'}}
        {{text-field value=category.email_in}}
      </div>
      <div>
        <label class="checkbox-label">
          {{input type="checkbox" checked=category.email_in_allow_strangers}}
          {{i18n 'category.email_in_allow_strangers'}}
        </label>
      </div>
    {{else}}
      {{i18n 'category.email_in_disabled'}}
      <a href="/admin/site_settings/category/email">{{i18n 'category.email_in_disabled_click'}}</a>
    {{/if}}
  </div>
</section>

<section class='field'>
  {{#if showPositionInput}}
    <label>{{i18n 'category.position'}}</label>
    {{text-field value=category.position class="position-input"}}
  {{else}}
    {{i18n 'category.position_disabled'}}
    <a href="/admin/site_settings/category/basic">{{i18n 'category.position_disabled_click'}}</a>
  {{/if}}
</section>

{{plugin-outlet "category-custom-settings"}}
