{{#conditional-loading-section isLoading=uploading}}
  <div class="emoji-uploader">
    <div class="control">
      <span class="label">
        {{i18n "admin.emoji.name"}}
      </span>
      <div class="input">
        {{input
          name="name"
          placeholderKey="admin.emoji.name"
          value=(readonly name)
          input=(action (mut name) value="target.value")
        }}
      </div>
    </div>
    <div class="control">
      <span class="label">
        {{i18n "admin.emoji.group"}}
      </span>
      <div class="input">
        {{combo-box
          name="group"
          value=group
          content=newEmojiGroups
          onChange=(action "createEmojiGroup")
          valueProperty=null
          nameProperty=null
          options=(hash
            allowAny=true
          )
        }}
      </div>
    </div>
    <div class="control">
      <div class="input">
        <label class="btn btn-default btn-primary {{if addDisabled "disabled"}}">
          {{d-icon "plus"}}
          {{i18n "admin.emoji.add"}}
          <input
            class="hidden-upload-field"
            disabled={{addDisabled}}
            type="file"
            accept=".png,.gif">
        </label>
      </div>
    </div>
  </div>
{{/conditional-loading-section}}
