{{text-field name="name" placeholderKey="admin.emoji.name" value=name}}
<label {{bind-attr class=":btn :btn-primary addDisabled:disabled"}}>
  {{fa-icon "plus"}}
  {{i18n 'admin.emoji.add'}}
  <input disabled={{addDisabled}} type="file" accept=".png,.gif" style="visibility: hidden; position: absolute;" />
</label>