{{text-field name="name" placeholderKey="admin.emoji.name" value=name}}
<label class="btn btn-primary {{if addDisabled 'disabled'}}">
  {{fa-icon "plus"}}
  {{i18n 'admin.emoji.add'}}
  <input disabled={{addDisabled}} type="file" accept=".png,.gif" style="visibility: hidden; position: absolute;" />
</label>
