{{text-field name="name" placeholderKey="admin.emoji.name" value=name}}
{{text-field name="group" placeholderKey="admin.emoji.group" value=group}}

<label class="btn btn-primary {{if addDisabled 'disabled'}}">
  {{d-icon "plus"}}
  {{i18n "admin.emoji.add"}}
  <input
    class="hidden-upload-field"
    disabled={{addDisabled}}
    type="file"
    accept=".png,.gif" />
</label>
