{{text-field name="name" placeholderKey="admin.emoji.name" value=name}}
<label class="btn btn-primary" {{bind-attr disabled="addDisabled"}}>
  {{fa-icon "plus"}}
  {{i18n 'admin.emoji.add'}}
  <input {{bind-attr disabled="addDisabled"}} type="file" accept=".png,.gif" style="visibility: hidden; position: absolute;" />
</label>
