<div class="future-date-input">
  <div class="control-group">
    <label>{{displayLabel}}</label>
    {{future-date-input-selector
      minimumResultsForSearch=-1
      statusType=statusType
      value=(readonly selection)
      input=(readonly input)
      includeDateTime=includeDateTime
      includeWeekend=includeWeekend
      includeFarFuture=includeFarFuture
      includeMidFuture=includeMidFuture
      clearable=clearable
      none="topic.auto_update_input.none"
      onChangeInput=onChangeInput
      onChange=(action (mut selection))
    }}
  </div>

  {{#if displayDateAndTimePicker}}
    <div class="control-group">
      {{d-icon "calendar-alt"}}
      {{date-picker-future
        value=date
        defaultDate=date
        onSelect=(action (mut date))
      }}
    </div>

    <div class="control-group">
      {{d-icon "far-clock"}}
      {{input placeholder="--:--" type="time" value=time disabled=timeInputDisabled}}
    </div>
  {{/if}}

  {{#if isBasedOnLastPost}}
    <div class="control-group">
      <label>
        {{i18n 'topic.topic_status_update.num_of_hours'}}
        {{text-field value=input type="number"}}
      </label>
    </div>

    {{#if willCloseImmediately}}
      <div class="warning">
        {{d-icon "exclamation-triangle"}}
        {{willCloseI18n}}
      </div>
    {{/if}}
  {{/if}}

  {{#if showTopicStatusInfo}}
    <div class="alert alert-info">
      {{topic-timer-info
        statusType=statusType
        executeAt=executeAt
        basedOnLastPost=basedOnLastPost
        duration=duration
        categoryId=categoryId
      }}
    </div>
  {{/if}}
</div>
