<div class='group-post-header'>
  <div class='group-post-avatar'>
    <a href="{{unbound post.user.userUrl}}" data-user-card="{{unbound post.user.username}}" class='avatar-link'>
      {{avatar post.user imageSize="large" extraClasses="actor" ignoreTitle="true"}}
    </a>
  </div>
  <div class='group-post-info'>
    <div class="group-post-topic">
      <div class='group-post-title'>
        <a href={{postUrl}}>{{{post.topic.fancyTitle}}}</a>
      </div>
      <div class="group-post-category">{{category-link post.category}}</div>
      {{#if post.user.name}}
        <div class="group-member-info">
          <span class="name">{{post.user.name}}</span>
          {{#if post.user.title}}<span class="title">, {{post.user.title}}</span>{{/if}}
        </div>
      {{/if}}
    </div>
    <div class='group-post-controls'>
      {{expand-post item=post}}
      <span class='time'>{{format-date post.created_at leaveAgo="true"}}</span>
    </div>
  </div>
</div>
<div class='group-post-excerpt'>
  {{#if post.expandedExcerpt}}
    {{{post.expandedExcerpt}}}
  {{else}}
    {{{post.excerpt}}}
  {{/if}}
</div>
