<tr class="group-manage-logs-row">
  <td>
    {{#d-button class="btn-default" action=(action "filter") actionParam=(hash value=log.action key="action")}}
      {{log.actionTitle}}
    {{/d-button}}
  </td>

  <td>
    <span>{{avatar log.acting_user imageSize='tiny'}}</span>

    {{#d-button class="btn-default" action=(action "filter") actionParam=(hash value=log.acting_user.username key="acting_user")}}
      {{log.acting_user.username}}
    {{/d-button}}
  </td>

  <td>
    {{#if log.target_user}}
      <span>{{avatar log.target_user imageSize='tiny'}}</span>

      {{#d-button class="btn-default" action=(action "filter") actionParam=(hash value=log.target_user.username key="target_user")}}
        {{log.target_user.username}}
      {{/d-button}}
    {{/if}}
  </td>

  <td>
    {{#if log.subject}}
      {{#d-button class="btn-default" action=(action "filter") actionParam=(hash value=log.subject key="subject")}}
        {{log.subject}}
      {{/d-button}}
    {{/if}}
  </td>

  <td>{{bound-date log.created_at}}</td>

  <td {{action "toggleDetails"}} class="group-manage-logs-expand-details">
    {{#if log.prev_value}}
      {{#if expandDetails}}
        {{d-icon 'ellipsis-v'}}
      {{else}}
        {{d-icon 'ellipsis-h'}}
      {{/if}}
    {{/if}}
  </td>
</tr>

{{#if expandDetails}}
  <tr>
    <td colspan='6'>
      <p>
        <strong>{{i18n 'groups.manage.logs.from'}}</strong>: <code>{{log.prev_value}}</code>
      </p>

      <p>
        <strong>{{i18n 'groups.manage.logs.to'}}</strong>: <code>{{log.new_value}}</code>
      </p>
    </td>
  </tr>
{{/if}}
