<div class="extra-info-wrapper">
  <div {{bind-attr class=":extra-info needsSecondRow:two-rows"}}>
    <div class="title-wrapper">
      <h1>
        {{#if showPrivateMessageGlyph}}
          <span class="private-message-glyph">{{fa-icon "envelope"}}</span>
        {{/if}}

        {{#if topic.details.loaded}}
          {{topic-status topic=topic}}
          <a class='topic-link' href='{{unbound topic.url}}' {{action "jumpToTopPost"}}>{{{topic.fancyTitle}}}</a>
        {{/if}}
      </h1>
      {{#if topic.details.loaded}}
        {{topic-category topic=topic}}
      {{/if}}
    </div>
  </div>
</div>
