<a {{action "toggle"}} class='icon' href={{href}} title={{i18n title}} aria-label={{i18n title}} id={{iconId}}> 
  {{#if showUser}}
    {{bound-avatar currentUser "medium"}}
  {{else}}
    {{fa-icon icon}}
  {{/if}}
</a>

{{yield}}
