<label class="btn" disabled={{uploading}} title="{{i18n "admin.site_settings.uploaded_image_list.upload.title"}}">
  {{d-icon "picture-o"}}&nbsp;{{uploadButtonText}}
  <input class="hidden-upload-field" disabled={{uploading}} type="file" accept="image/*" multiple />
</label>
{{#if uploading}}
  <span>{{i18n 'upload_selector.uploading'}} {{uploadProgress}}%</span>
{{/if}}
