<div class='table-heading'>
  {{i18n "filters.latest.title"}}
</div>

{{#if topics}}
  {{latest-topic-list-contents topics=topics tagName=""}}
  <div class="more-topics">
    <a href="/latest" class="btn pull-right">{{i18n "more"}}</a>
  </div>
{{else}}
  <div class='no-topics'>
    <h3>{{i18n "topics.none.latest"}}</h3>
  </div>
{{/if}}
