<h3><i class='fa fa-envelope'></i> {{i18n 'private_message_info.title'}}</h3>
<div class='participants clearfix'>
  {{#each ag in details.allowed_groups}}
    <div class='user group'>
      #{{unbound ag.name}}
    </div>
  {{/each}}
  {{#each au in details.allowed_users}}
    <div class='user'>
      {{#link-to 'user' au}}
        {{avatar au imageSize="small"}}
      {{/link-to}}
      {{#link-to 'user' au}}
        {{unbound au.username}}
      {{/link-to}}
      {{#if au.details.can_remove_allowed_users}}
        <a class='remove-invited' {{action "removeAllowedUser" au}}><i class="fa fa-times"></i></a>
      {{/if}}
    </div>
  {{/each}}
</div>
{{#if details.can_invite_to}}
  <div class='controls'>
    <button class='btn' {{action "showPrivateInvite"}}>{{i18n 'private_message_info.invite'}}</button>
  </div>
{{/if}}
