<h3>{{fa-icon "envelope"}} {{i18n 'private_message_info.title'}}</h3>
<div class='participants clearfix'>
  {{#each details.allowed_groups as |ag|}}
    <div class='user group'>
      #{{unbound ag.name}}
    </div>
  {{/each}}
  {{#each details.allowed_users as |au|}}
    <div class='user'>
      {{#user-link user=au}}
        {{avatar au imageSize="small"}}
      {{/user-link}}
      {{#user-link user=au}}
        {{unbound au.username}}
      {{/user-link}}
      {{#if details.can_remove_allowed_users}}
        <a href class='remove-invited' {{action "removeAllowedUser" au}}>{{fa-icon "times"}}</a>
      {{/if}}
    </div>
  {{/each}}
</div>
{{#if details.can_invite_to}}
  <div class='controls'>
    <button class='btn' {{action "showPrivateInvite"}}>{{i18n 'private_message_info.invite'}}</button>
  </div>
{{/if}}
