{{#if showPWAInstallBanner}}
  <div class="row">
    <div class="pwa-install-banner alert alert-info">
      <div class="close" {{action "dismiss"}}>
        {{d-icon 'times'}}
      </div>
      {{i18n 'pwa.install_banner.question'}} <a {{action "turnon"}}>{{i18n 'pwa.install_banner.link' title=siteSettings.title}}</a>.
    </div>
  </div>
{{/if}}
