{{#if showPWAInstallBanner}}
  <div class="row">
    <div class="pwa-install-banner alert alert-info">
      <div class="close" {{action "dismiss"}}>
        {{d-icon 'times'}}
      </div>
      <span>
        {{i18n 'pwa.install_banner.question'}} <a {{action "turnOn"}}>{{i18n 'pwa.install_banner.link' title=siteSettings.title}}</a>
      </span>
    </div>
  </div>
{{/if}}
