<div class='queued-post'>
  <div class='poster'>
    {{#user-link user=post.user}}
      {{avatar post.user imageSize="large"}}
    {{/user-link}}
  </div>
  <div class='cooked'>
    <div class='names'>
      <span class="username">
        {{#user-link user=post.user}}
          {{post.user.username}}
        {{/user-link}}
        {{#if post.user.silenced}}
          {{d-icon "ban" title="user.silenced_tooltip"}}
        {{/if}}
      </span>
    </div>
    <div class='post-info'>
      <span class='post-date'>{{age-with-tooltip post.created_at}}</span>
    </div>
    <div class='clearfix'></div>

    {{#if editTitleAndCategory}}
      <span class="edit-title">
        {{text-field value=buffered.title maxlength=siteSettings.max_topic_title_length}}
      </span>
      {{category-chooser value=buffered.category_id}}
    {{else}}
      <span class='post-title'>
        {{i18n "queue.topic"}}
        {{#if post.topic}}
          {{topic-link post.topic}}
        {{else}}
          {{editables.title}}
        {{/if}}
        {{category-badge editables.category}}
      </span>
    {{/if}}

    <div class='body'>
      {{#if editing}}
        {{d-editor value=buffered.raw}}
      {{else}}
        {{cook-text editables.raw}}
      {{/if}}
    </div>

    {{#if showTags}}
      <div class="list-tags">
        {{#each tags as |t|}}
          {{discourse-tag t}}
        {{/each}}
      </div>
    {{else if editTags}}
      {{tag-chooser tags=buffered.tags categoryId=buffered.category_id}}
    {{/if}}

    <div class='queue-controls'>
      {{#if editing}}
        {{d-button action=(action "confirmEdit")
                   label="queue.confirm"
                   disabled=post.isSaving
                   class="btn-primary confirm"}}
        {{d-button action=(action "cancelEdit")
                   label="queue.cancel"
                   icon="times"
                   disabled=post.isSaving
                   class="btn-danger cancel"}}
      {{else}}
        {{d-button action=(action "approve")
                   disabled=post.isSaving
                   label="queue.approve"
                   icon="check"
                   class="btn-primary approve"}}
        {{d-button action=(action "reject")
                   disabled=post.isSaving
                   label="queue.reject"
                   icon="times"
                   class="btn-danger reject"}}
        {{#if post.can_delete_user}}
          {{d-button action=(action "deleteUser")
                     disabled=post.isSaving
                     label="queue.delete_user"
                     icon="trash-alt"
                     class="btn-danger delete-user"}}
        {{/if}}
        {{d-button action=(action "edit")
                   disabled=post.isSaving
                   label="queue.edit"
                   icon="pencil-alt"
                   class="edit"}}
      {{/if}}
    </div>
  </div>
  <div class='clearfix'></div>
</div>
