{{reviewable-created-by user=reviewable.created_by tagName=''}}

<div class='post-contents'>
  {{reviewable-created-by-name user=reviewable.created_by tagName=''}}

  {{#reviewable-topic-link topic=reviewable.topic}}
    {{i18n "review.new_topic"}}
    {{reviewable.payload.title}}
  {{/reviewable-topic-link}}

  <div class='post-body'>
    {{cook-text reviewable.payload.raw}}
  </div>

  {{#if reviewable.payload.tags}}
    <div class="list-tags">
      {{#each reviewable.payload.tags as |t|}}
        {{discourse-tag t}}
      {{/each}}
    </div>
  {{/if}}

  {{yield}}
</div>
