{{reviewable-topic-link reviewable=reviewable tagName=''}}

<div class='post-contents-wrapper'>
  {{reviewable-created-by user=reviewable.target_created_by tagName=''}}
  <div class='post-contents'>
    {{reviewable-created-by-name user=reviewable.target_created_by tagName=''}}
    <div class='post-body'>
      {{#if reviewable.blank_post}}
        <p>{{i18n "review.deleted_post"}}</p>
      {{else}}
        {{{reviewable.cooked}}}
      {{/if}}
    </div>
    {{yield}}
  </div>
</div>
