<div class='reviewable-user-info'>
  <div class='reviewable-user-fields'>
    <div class='reviewable-user-details username'>
      <div class='name'>{{i18n "review.user.username"}}</div>
      <div class='value'>
        {{#if reviewable.link_admin}}
          <a href={{get-url (concat "/admin/users/" reviewable.user_id "/" reviewable.payload.username)}}>
            {{reviewable.payload.username}}
          </a>
        {{else}}
          {{reviewable.payload.username}}
        {{/if}}
      </div>
    </div>
    
    {{reviewable-field classes='reviewable-user-details name'
                       name=(i18n 'review.user.name')
                       value=reviewable.payload.name}}
    
    {{reviewable-field classes='reviewable-user-details email'
                       name=(i18n 'review.user.email')
                       value=reviewable.payload.email}}
    
    {{reviewable-field classes='reviewable-user-details bio'
                       name=(i18n 'review.user.bio')
                       value=reviewable.payload.bio}}
    
    {{reviewable-field classes='reviewable-user-details bio'
                       name=(i18n 'review.user.website')
                       value=reviewable.payload.website}}
    
    {{#each userFields as |f|}}
      {{reviewable-field classes='reviewable-user-details user-field'
                         name=f.name
                         value=f.value}}
    {{/each}}
  </div>

  {{yield}}
</div>
