<div class='reviewable-item {{customClass}}' data-reviewable-id={{reviewable.id}}>
  <div class='reviewable-meta-data'>
    <div class='reviewable-type'>{{reviewable.humanType}}</div>
    <div class='reviewable-category'>
      {{category-badge reviewable.category}}
    </div>

    <div class='created-at'>
      {{#link-to 'review.show' reviewable.id}}{{age-with-tooltip reviewable.created_at}}{{/link-to}}
    </div>
    <div class='score' title={{i18n "review.scores.score"}}>{{format-score reviewable.score}}</div>

    <div class='status'>
      {{#if reviewable.approved}}
        {{d-icon "check"}} {{i18n "review.statuses.approved.title"}}
      {{else if reviewable.rejected}}
        {{d-icon "times"}} {{i18n "review.statuses.rejected.title"}}
      {{else if reviewable.ignored}}
        {{d-icon "external-link-alt"}} {{i18n "review.statuses.ignored.title"}}
      {{/if}}
    </div>
  </div>

  <div class='reviewable-contents'>
    {{#if editing}}
      <div class='editable-fields'>
        {{#each reviewable.editable_fields as |f|}}
          <div class='editable-field {{dasherize f.id}}'>
            {{component
              (concat "reviewable-field-" f.type)
              tagName=''
              value=(editable-value reviewable f.id)
              tagCategoryId=reviewable.category.id
              valueChanged=(action "valueChanged" f.id)
              categoryChanged=(action "categoryChanged")}}
          </div>
        {{/each}}
      </div>
    {{else}}
      {{#component reviewableComponent reviewable=reviewable tagName=''}}
        {{reviewable-scores scores=reviewable.reviewable_scores}}
        {{reviewable-histories histories=reviewable.reviewable_histories}}
      {{/component}}
    {{/if}}
  </div>
  <div class='reviewable-actions'>
    {{#if editing}}
      {{d-button
        class="btn-primary reviewable-action save-edit"
        disabled=updating
        icon="check"
        action=(action "saveEdit")
        label="review.save"}}
      {{d-button
        class="btn-danger reviewable-action cancel-edit"
        disabled=updating
        icon="times"
        action=(action "cancelEdit")
        label="review.cancel"}}
    {{else}}
      {{#each reviewable.bundled_actions as |bundle|}}
        {{reviewable-bundled-action
          bundle=bundle
          performAction=(action "perform")
          reviewableUpdating=updating}}
      {{/each}}

      {{#if reviewable.can_edit}}
        {{d-button
          class="reviewable-action edit"
          disabled=updating
          icon="pencil-alt"
          action=(action "edit")
          label="review.edit"}}
      {{/if}}
    {{/if}}
  </div>

</div>
