<div class='post-topic'>
  {{#if reviewable.topic}}
    {{topic-status topic=reviewable.topic}}
    <a href={{reviewable.topic_url}} class='title-text'>{{reviewable.topic.title}}</a>
    {{category-badge reviewable.category}}
    {{reviewable-tags tags=reviewable.topic_tags tagName=''}}
  {{else if (has-block)}}
    {{yield}}
  {{else}}
    <span class="title-text">
      {{i18n "review.topics.deleted"}}
      <a href={{get-url (concat '/t/' reviewable.removed_topic_id)}}>{{i18n "review.topics.original"}}</a>
    </span>
  {{/if}}
</div>
