{{reviewable-created-by user=reviewable.target_created_by tagName=''}}

<div class='post-contents'>
  {{reviewable-created-by-name user=reviewable.target_created_by tagName=''}}
  {{reviewable-topic-link reviewable=reviewable}}

  <div class='post-body'>
    {{{reviewable.cooked}}}
  </div>

  {{yield}}
</div>
