{{#if reviewable.reviewable_scores}}
  <table class='reviewable-scores'>
    <thead>
      <tr>
        <th>{{i18n "review.scores.date"}}</th>
        <th>{{i18n "review.scores.type"}}</th>
        <th>{{i18n "review.scores.submitted_by"}}</th>
        <th>{{i18n "review.scores.status"}}</th>
        <th>{{i18n "review.scores.reviewed_by"}}</th>
      </tr>
    </thead>
    <tbody>
    {{#each reviewable.reviewable_scores as |rs|}}
      {{reviewable-score rs=rs reviewable=reviewable}}
    {{/each}}
  </tbody>
  </table>
{{/if}}
