<div class='reviewable-user-info'>
  <div class='reviewable-user-details username'>
    <div class='name'>{{i18n "review.user.username"}}</div>
    <div class='value'>
      {{#if reviewable.link_admin}}
        <a href={{get-url (concat "/admin/users/" reviewable.user_id "/" reviewable.payload.username)}}>
          {{reviewable.payload.username}}
        </a>
      {{else}}
        {{reviewable.payload.username}}
      {{/if}}
    </div>
  </div>
  {{#if reviewable.payload.name}}
    <div class='reviewable-user-details name'>
      <div class='name'>{{i18n "review.user.name"}}</div>
      <div class='value'>{{reviewable.payload.name}}</div>
    </div>
  {{/if}}
  <div class='reviewable-user-details email'>
    <div class='name'>{{i18n "review.user.email"}}</div>
    <div class='value'>{{reviewable.payload.email}}</div>
  </div>

  {{yield}}
</div>
