<input
  class="select-box-offscreen"
  type="text"
  aria-haspopup="true"
  role="button"
  aria-labelledby="select-box-input-{{componentId}}"
  tabindex={{tabindex}}
/>

{{component selectBoxHeaderComponent
  text=generatedHeadertext
  focused=focused
  caretUpIcon=caretUpIcon
  caretDownIcon=caretDownIcon
  onToggle=(action "onToggle")
  onClearSelection=(action "onClearSelection")
  icon=icon
  clearable=clearable
  expanded=expanded
  value=value
}}

<div class="select-box-body">
  {{#if renderBody}}
    {{#if filterable}}
      {{component selectBoxFilterComponent
        onFilterChange=(action "onFilterChange")
        icon=filterIcon
        focused=filterFocused
        placeholder=filterPlaceholder
      }}
    {{/if}}

    {{component selectBoxCollectionComponent
      filteredContent=filteredContent
      selectBoxRowComponent=selectBoxRowComponent
      templateForRow=templateForRow
      shouldHighlightRow=shouldHighlightRow
      titleForRow=titleForRow
      lastHovered=lastHovered
      onSelectRow=(action "onSelectRow")
      onHoverRow=(action "onHoverRow")
      noContentText=noContentText
      value=value
    }}
  {{/if}}
</div>

{{#if wrapper}}
  <div class="select-box-wrapper"></div>
{{/if}}
