<a href {{action "share" source}} title="{{unbound source.title}}" aria-label="{{unbound source.title}}" >
  {{#if source.icon}}
    {{d-icon source.icon}}
  {{else}}
    {{{source.htmlIcon}}}
  {{/if}}
</a>
