<a
  href
  title="{{unbound source.title}}"
  aria-label="{{unbound source.title}}"
  {{action "share" source}}
>
  {{#if source.icon}}
    {{d-icon source.icon}}
  {{else}}
    {{{source.htmlIcon}}}
  {{/if}}
</a>