<a href {{action "share" source}} title="{{unbound source.title}}" aria-label="{{unbound source.title}}" >
  {{#if source.faIcon}}
    <i class="fa {{source.faIcon}}"></i>
  {{else}}
    {{{source.htmlIcon}}}
  {{/if}}
</a>
