<h3 class="suggested-topics-title">
  {{i18n suggestedTitleLabel}}
</h3>

<div class="topics">
  {{#if topic.isPrivateMessage}}
    {{basic-topic-list
      hideCategory="true"
      showPosters="true"
      topics=topic.suggestedTopics}}
  {{else}}
    {{basic-topic-list topics=topic.suggestedTopics}}
  {{/if}}
</div>

<h3 class="suggested-topics-message">{{{browseMoreMessage}}}</h3>
