{{#if postStream.summary}}
  <p>{{{i18n 'summary.enabled_description'}}}</p>
  <button class='btn btn-primary' {{action "toggleSummary"}}>{{i18n 'summary.disable'}}</button>
{{else}}
  {{#if topic.estimatedReadingTime}}
    <p>{{{i18n 'summary.description_time' replyCount=topic.replyCount readingTime=topic.estimatedReadingTime}}}</p>
  {{else}}
    <p>{{{i18n 'summary.description' replyCount=topic.replyCount}}}</p>
  {{/if}}

  <button class='btn btn-primary' {{action "toggleSummary"}}>{{i18n 'summary.enable'}}</button>
{{/if}}
