<nav class='buttons'>
  {{d-button action="toggleMap" title="topic.toggle_information" icon=toggleMapClass}}
</nav>

<section class="map {{if mapCollapsed 'map-collapsed'}}">
  <ul class="clearfix">
    <li>
      <a href='{{unbound topic.url}}'>
      <h4>{{i18n 'created_lowercase'}}</h4>
      {{avatar details.created_by imageSize="tiny"}}
      {{format-date topic.created_at}}
      </a>
    </li>
    <li>
      <a href={{topic.lastPostUrl}}>
      <h4>{{i18n 'last_reply_lowercase'}}</h4>
      {{avatar details.last_poster imageSize="tiny"}}
      {{format-date topic.last_posted_at}}
      </a>
    </li>
    <li>
      {{number topic.replyCount}}
      <h4>{{i18n 'replies_lowercase' count=topic.replyCount}}</h4>
    </li>
    <li class='secondary'>
      {{number topic.views class=topic.viewsHeat}}
      <h4>{{i18n 'views_lowercase' count=topic.views}}</h4>
    </li>
    <li class='secondary'>
      {{number topic.participant_count}}
      <h4>{{i18n 'users_lowercase' count=topic.participant_count}}</h4>
    </li>
    {{#if topic.like_count}}
      <li class='secondary'>
        {{number topic.like_count}}
        <h4>{{i18n 'likes_lowercase' count=topic.like_count}}</h4>
      </li>
    {{/if}}
    {{#if details.links.length}}
      <li class='secondary'>
        {{number details.links.length}}
        <h4>{{i18n 'links_lowercase' count=details.links.length}}</h4>
      </li>
    {{/if}}
    {{#if showPosterAvatar}}
      <li class="avatars {{unless mapCollapsed 'hidden'}}">
        {{#each details.fewParticipants as |p|}}
          {{topic-participant participant=p}}
        {{/each}}
      </li>
    {{/if}}
  </ul>
</section>

{{#unless mapCollapsed}}
  <section class='avatars clearfix'>
    <h3>{{i18n 'topic_map.participants_title'}}</h3>
    {{#each details.participants as |p|}}
      {{topic-participant participant=p}}
    {{/each}}
  </section>

  {{#if infoLinks}}
    <section class='links'>
      <h3>{{i18n 'topic_map.links_title'}}</h3>
      <table class='topic-links'>
        {{#each infoLinks as |link|}}
          <tr>
          <td>
            <span class='badge badge-notification clicks' title='{{i18n 'topic_map.clicks' count=link.clicks}}'>{{link.clicks}}</span>
          </td>
          <td>
            <a href="{{unbound link.url}}" target="_blank" class='topic-link track-link {{if link.attachment "attachment"}}' data-user-id="{{unbound link.user_id}}" data-ignore-post-id="true" title="{{unbound link.url}}">
              {{#if link.title}}{{link.title}}{{else}}{{shorten-url link.url}}{{/if}}
            </a>
            {{link-domain link}}
          </td>
          </tr>
        {{/each}}
      </table>

      {{#if showAllLinksControls}}
        <div class='link-summary'>
          <a href {{action "showAllLinks"}}>{{i18n 'topic_map.links_shown' totalLinks=details.links.length}}</a>
        </div>
      {{/if}}

    </section>
  {{/if}}
{{/unless}}
