<a href='#' {{bind-attr class=":poster toggled"}} {{action toggle}} title="{{unbound participant.username}}">
  <span class='post-count'>{{unbound participant.post_count}}</span>
  {{avatar participant imageSize="medium"}}
</a>
