{{#if currentUser}}
  <th class='star'>
  {{#if canBulkSelect}}
    <button class='btn bulk-select' title='{{i18n "topics.bulk.toggle"}}'><i class='fa fa-list'></i></button>
  {{/if}}
  </th>
{{/if}}
{{raw "components/topic-list-header-column" order='default' name='topic.title'}}
{{#unless hideCategory}}
  {{raw "components/topic-list-header-column" sortable='true' order='category' name='category_title'}}
{{/unless}}
{{raw "components/topic-list-header-column" order='posters' name='users'}}
{{raw "components/topic-list-header-column" sortable='true' number='true' order='posts' name='posts'}}
{{raw "components/topic-list-header-column" sortable='true' number='true' order='views' name='views'}}
{{raw "components/topic-list-header-column" sortable='true' number='true' order='activity' name='activity'}}
