<nav class='buttons'>
  <button class='btn' {{action "toggleMap"}} title="{{i18n 'topic.toggle_information'}}">
    <i {{bind-attr class=":fa toggleMapClass"}}></i>
  </button>
</nav>

<section {{bind-attr class=":map mapCollapsed"}}>
  <ul class="clearfix">
    <li>
      <a href='{{unbound topic.url}}'>
      <h4>{{i18n 'created_lowercase'}}</h4>
      {{avatar details.created_by imageSize="tiny"}}
      {{format-date topic.created_at}}
      </a>
    </li>
    <li>
      <a {{bind-attr href="topic.lastPostUrl"}}>
      <h4>{{i18n 'last_post_lowercase'}}</h4>
      {{avatar details.last_poster imageSize="tiny"}}
      {{format-date topic.last_posted_at}}
      </a>
    </li>
    <li>
      {{posts-count-column topic=topic tagName="span"}}
      <h4>{{i18n 'posts_lowercase'}}</h4>
    </li>
    <li class='secondary'>
      {{number topic.views class=topic.viewsHeat}}
      <h4>{{i18n 'views_lowercase'}}</h4>
    </li>
    <li class='secondary'>
      {{number topic.participant_count}}
      <h4>{{i18n 'users_lowercase'}}</h4>
    </li>
    {{#if topic.like_count}}
      <li class='secondary'>
        {{number topic.like_count}}
        <h4>{{i18n 'likes_lowercase'}}</h4>
      </li>
    {{/if}}
    {{#if details.links.length}}
      <li class='secondary'>
        {{number details.links.length}}
        <h4>{{i18n 'links_lowercase'}}</h4>
      </li>
    {{/if}}
    {{#if showPosterAvatar}}
      <li {{bind-attr class=":avatars mapCollapsed::hidden"}}>
        {{#each details.fewParticipants}}
          {{topic-participant participant=this}}
        {{/each}}
      </li>
    {{/if}}
  </ul>
</section>

{{#unless mapCollapsed}}
  <section class='avatars clearfix'>
    {{#each details.participants}}
      {{topic-participant participant=this}}
    {{/each}}
  </section>

  {{#if infoLinks}}
    <section class='links'>

        <table class='topic-links'>
          {{#each infoLinks}}
            <tr>
            <td>
              <span class='badge badge-notification clicks' title='{{i18n 'topic_map.clicks' count=clicks}}'>{{clicks}}</span>
            </td>
            <td>
              <a href="{{unbound url}}" target="_blank" class='topic-link track-link' data-user-id="{{unbound user_id}}" data-ignore-post-id="true" title="{{unbound url}}">
                {{#if title}}{{title}}{{else}}{{shorten-url url}}{{/if}}
              </a>
              {{link-domain this}}
            </td>
            </tr>
          {{/each}}
        </table>

        {{#if showAllLinksControls}}
          <div class='link-summary'>
            <a href='#' {{action "showAllLinks"}}>{{i18n 'topic_map.links_shown' totalLinks="details.links.length"}}</a>
          </div>
        {{/if}}

    </section>
  {{/if}}
{{/unless}}
