<a href {{bind-attr class=":poster toggled"}} {{action "toggle"}} title={{unbound participant.username}}>
  {{#if showPostCount}}
    <span class='post-count'>{{unbound participant.post_count}}</span>
  {{/if}}
  {{avatar participant imageSize="medium"}}
</a>
