{{#if bulkSelectEnabled}}
<th class='star'>
  <button class='btn bulk-select' title='{{i18n "topics.bulk.toggle"}}'><i class='fa fa-list'></i></button>
</th>
{{/if}}
{{raw "components/topic-list-header-column" order='default' name='topic.title' showBulkToggle=toggleInTitle}}
{{#unless hideCategory}}
  {{raw "components/topic-list-header-column" sortable=sortable order='category' name='category_title'}}
{{/unless}}
{{#if showPosters}}
  {{raw "components/topic-list-header-column" order='posters' name='users'}}
{{/if}}
{{raw "components/topic-list-header-column" sortable=sortable number='true' order='posts' name='posts'}}
{{#if showParticipants}}
  {{raw "components/topic-list-header-column" order='participants' name='users'}}
{{/if}}
{{#if showLikes}}
  {{raw "components/topic-list-header-column" sortable=sortable number='true' order='likes' name='likes'}}
{{/if}}
{{raw "components/topic-list-header-column" sortable=sortable number='true' order='views' name='views'}}
{{raw "components/topic-list-header-column" sortable=sortable number='true' order='activity' name='activity'}}
