{{#menu-panel visible=visible}}
  <ul class='menu-links'>
    <li>{{#link-to 'user' currentUser class="user-activity-link" }}{{i18n 'user.profile'}}{{/link-to}}</li>
    <li>{{#link-to 'userActivity.bookmarks' currentUser}}{{i18n 'user.bookmarks'}}{{/link-to}}</li>
    {{#if allowAnon}}
      <li><a href {{action 'toggleAnon'}}>{{#if isAnon}}{{i18n 'switch_from_anon'}}{{else}}{{i18n 'switch_to_anon'}}{{/if}}</a></li>
    {{/if}}
  </ul>

  <div class='notifications'>
    {{#conditional-loading-spinner condition=loadingNotifications containerClass="spinner-container"}}
      <hr style="margin:3px 0" />
      {{#if notifications}}
        <ul>
          {{#each notifications as |n|}}
            {{notification-item notification=n}}
          {{/each}}
          <li class="read last">
            <a href={{myNotificationsUrl}}>{{i18n 'notifications.more'}}&hellip;</a>
          </li>
        </ul>
      {{/if}}
    {{/conditional-loading-spinner}}
  </div>
{{/menu-panel}}
