<div class="group-card-avatar">
  <a href={{groupPath}} {{action "showGroup"}} class="card-huge-avatar">
  {{avatar-flair
    flairURL=group.flair_url
    flairBgColor=group.flair_bg_color
    flairColor=group.flair_color
    groupName=group.name}}
  </a>
</div>

<div class="names">
  <span>
    <h1 class="{{ group.name }}">
      <a href={{groupPath}} {{action "showGroup"}}>{{ group.name }}</a>
    </h1>
    {{#if group.full_name}}
      <h2 class='full-name'>{{group.full_name}}</h2>
    {{else}}
      <h2 class='username'>{{group.name}}</h2>
    {{/if}}
  </span>
</div>

<div class="usercard-controls group-details-button">
  {{group-membership-button
    model=group
    showLogin='showLogin'}}

  {{#if group.messageable}}
    {{d-button
      action="messageGroup"
      class="btn-primary group-message-button inline"
      icon="envelope"
      label="groups.message"}}
  {{/if}}
</div>

<div class="metadata">
  <h3><a href={{groupPath}} {{action "showGroup"}}>{{ group.user_count }} {{i18n 'groups.user_count'}}</a></h3>
</div>
<div class="members metadata">
  <span>
    {{#each group.members as |user|}}
      <a href={{user.path}} {{action "showUser" user}} class="card-tiny-avatar">{{bound-avatar user "tiny"}}</a>
    {{/each}}
    {{#if showMoreMembers}}
      <a href={{groupPath}} {{action "showGroup"}}>+{{ moreMembersCount }} {{i18n "more"}}</a>
    {{/if}}
  </span>
</div>
