<span class='topic-info'>
  {{format-date createdAt format="tiny" noTitle="true"}}
  {{#if likes}}
    &middot;
    {{d-icon 'heart'}}&nbsp;<span class='like-count'>{{number likes}}</span>
  {{/if}}
</span>
<br>
<a href="{{unbound url}}">{{{topic.fancyTitle}}}</a>
