<span class='value'>
  {{#if isNumber}}
    {{number value}}
  {{else if isDuration}}
    {{format-duration value}}
  {{else}}
    {{value}}
  {{/if}}
</span>
<span class='label'>
  {{#if icon}}{{d-icon icon}}{{/if}}
  {{{i18n label count=value}}}
</span>
