{{#if postNumbers}}
<div class='post-actions {{className}}'>
  {{d-icon icon}}
  {{#each postNumbers as |postNumber|}}
    <a href='{{topic.url}}/{{postNumber}}'>#{{postNumber}}</a>
  {{/each}}
</div>
{{/if}}
