{{#if postNumbers}}
<div class='post-actions {{className}}'>
  <i class='fa fa-{{icon}}'></i>
  {{#each postNumbers as |postNumber|}}
    <a href='{{topic.url}}/{{postNumber}}'>#{{postNumber}}</a>
  {{/each}}
</div>
{{/if}}
