<{{view.tagName}} class='num posts-map posts {{view.likesHeat}}' title='{{view.title}}'>
  <a href class='posts-map badge-posts {{view.likesHeat}}'>{{number topic.replyCount}}</a>
</{{view.tagName}}>
