{{#if bulkSelectEnabled}}
  <td class='star'>
    {{input type="checkbox" checked=checked}}
  </td>
{{else}}
  {{#if canStar}}
    <td class='star'>
      <a {{bind-attr class=":star :fa :fa-star starred:starred"}} {{action "toggleStar"}} href='#' {{bind-attr title="starTooltip"}}></a>
    </td>
  {{/if}}
{{/if}}

<td class='main-link clearfix' colspan="{{unbound titleColSpan}}">
  {{topic-status topic=this.model}}
  {{topic-link this}}
  {{#if showTopicPostBadges}}
    {{topic-post-badges unread=unread newPosts=displayNewPosts unseen=unseen url=lastUnreadUrl}}
  {{/if}}

  {{raw "list/topic-excerpt" topic=model}}
</td>

{{raw "list/category-column" hideCategory=hideCategory category=category}}
{{raw "list/posters-column" posters=posters}}

{{posts-count-column topic=model class="num" action="showTopicEntrance"}}
<td class="num views {{unbound viewsHeat}}">{{number views numberKey="views_long"}}</td>

{{raw "list/activity-column" topic=model class="num" tagName="td"}}
