{{#if controller.currentUser.id}}
  <td class='star'>
    <a {{bindAttr class=":star :icon-star starred:starred"}} {{action toggleStar this}} href='#' {{bindAttr title="favoriteTooltip"}}></a>
  </td>
{{/if}}

<td class='main-link clearfix'>

  {{#if controller.rankDetailsVisible}}
    <div class='rank-details'>
      <p>{{rank_details.hot_topic_type}}</p>
      <p>
        ({{float rank_details.random_bias}} * {{float rank_details.random_multiplier}}) + ({{float rank_details.days_ago_bias}} * {{float rank_details.days_ago_multiplier}}) = <b>{{float rank_details.ranking_score}}</b>
        <i class='icon icon-beaker score' {{action showRankDetails this}} title='{{i18n rank_details.show}}'></i>
      </p>
    </div>
  {{/if}}

  {{topicStatus topic=this}}
  {{{topicLink this}}}
  {{#if unread}}
    <a href="{{lastUnreadUrl}}" class='badge unread badge-notification' title='{{i18n topic.unread_posts count="unread"}}'>{{unread}}</a>
  {{/if}}
  {{#if displayNewPosts}}
    <a href="{{lastUnreadUrl}}" class='badge new-posts badge-notification' title='{{i18n topic.new_posts count="displayNewPosts"}}'>{{displayNewPosts}}</a>
  {{/if}}
  {{#if unseen}}
    <a href="{{lastUnreadUrl}}" class='badge new-posts badge-notification' title='{{i18n topic.new}}'><i class='icon icon-asterisk'></i></a>
  {{/if}}

  {{#if hasExcerpt}}
    <div class="topic-excerpt">
      {{excerpt}}
      {{#if excerptTruncated}}
        {{#unless canClearPin}}<a href="{{lastUnreadUrl}}">{{i18n read_more}}</a>{{/unless}}
      {{/if}}
      {{#if canClearPin}}
        <a href="#" {{action clearPin this}} title="{{i18n topic.clear_pin.help}}">{{i18n topic.clear_pin.title}}</a>
      {{/if}}
    </div>
  {{/if}}
</td>

{{#unless controller.category}}
<td class='category'>
  {{categoryLink category}}
</td>
{{/unless}}

<td class='posters'>
  {{#each posters}}
    <a href="{{user.path}}" class="{{extras}}">{{avatar this usernamePath="user.username" imageSize="small"}}</a>
  {{/each}}
</td>

<td class='num posts'><a href="{{lastUnreadUrl}}" class='badge-posts'>{{number posts_count numberKey="posts_long"}}</a></td>

<td class='num likes'>
  {{#if like_count}}
    <a href='{{url}}{{#if has_best_of}}?filter=best_of{{/if}}' title='{{i18n topic.likes count="like_count"}}'>{{number like_count numberKey="likes_long"}} <i class='icon-heart'></i></a>
  {{/if}}
</td>

<td {{bindAttr class=":num :views viewsHeat"}}>{{number views numberKey="views_long"}}</td>

{{#if bumped}}
  <td class='num activity'>
    <a href="{{url}}" {{{bindAttr class=":age ageCold"}}} title='{{i18n first_post}}: {{{unboundDate created_at}}}' >{{unboundAge created_at}}</a>
  </td>
  <td class='num activity last'>
    <a href="{{lastPostUrl}}" class='age' title='{{i18n last_post}}: {{{unboundDate bumped_at}}}'>{{unboundAge bumped_at}}</a>
  </td>
{{else}}
  <td class='num activity'>
    <a href="{{url}}" class='age' title='{{i18n first_post}}: {{{unboundDate created_at}}}'>{{unboundAge created_at}}</a>
  </td>
  <td class='activity'></td>
{{/if}}
