{{#if controller.bulkSelectEnabled}}
<td class='star'>
  <input type="checkbox" class="bulk-select">
</td>
{{/if}}

<td class='main-link clearfix' colspan="{{titleColSpan}}">
  {{raw "topic-status" topic=topic}}
  {{topic-link topic}}
  {{#if controller.showTopicPostBadges}}
    {{raw "topic-post-badges" unread=topic.unread newPosts=topic.displayNewPosts unseen=topic.unseen url=topic.lastUnreadUrl}}
  {{/if}}
  {{plugin-outlet "topic-list-tags"}}
  {{#if expandPinned}}
    {{raw "list/topic-excerpt" topic=topic}}
  {{/if}}
  {{raw "list/action-list" topic=topic postNumbers=topic.liked_post_numbers className="likes" icon="heart"}}
</td>

{{#unless controller.hideCategory}}
  {{#unless topic.isPinnedUncategorized}}
    {{raw "list/category-column" category=topic.category}}
  {{/unless}}
{{/unless}}

{{#if controller.showPosters}}
  {{raw "list/posters-column" posters=topic.posters}}
{{/if}}

{{raw "list/posts-count-column" topic=topic}}

{{#if controller.showParticipants}}
  {{raw "list/posters-column" posters=topic.participants}}
{{/if}}

{{#if controller.showLikes}}
<td class="num likes">
  {{#if hasLikes}}
  <a href='{{topic.summaryUrl}}'>
    {{number topic.like_count}} <i class='fa fa-heart'></i></td>
  </a>
  {{/if}}
{{/if}}

{{#if controller.showOpLikes}}
<td class="num likes">
  {{#if hasOpLikes}}
  <a href='{{topic.summaryUrl}}'>
    {{number topic.op_like_count}} <i class='fa fa-heart'></i></td>
  </a>
  {{/if}}
{{/if}}

<td class="num views {{topic.viewsHeat}}">{{number topic.views numberKey="views_long"}}</td>

{{raw "list/activity-column" topic=topic class="num" tagName="td"}}
