<div class='contents'>

  <table id='topic-list' class='categories'>
    <thead>
    <tr>
      <th class='category'>{{i18n categories.category}}</th>
      <th class='posters'>{{i18n categories.participants}}</th>
      <th class='num topics'>{{i18n categories.topics}}</th>
      <th class='num posts'>{{i18n categories.posts}}</th>
      <th class='latest'>{{i18n categories.latest}}</th>
    </tr>
    </thead>
    <tbody>
      {{#each model.categories}}
      <tr>
        <td class='category'>{{categoryLink this}}
          {{#if description_excerpt}}
            <div class="category-description">
              {{{description_excerpt}}}
            </div>
          {{/if}}
        </td>
        <td>{{#each featured_users}}
            <a href="/users/{{unbound username_lower}}">{{avatar this imageSize="small"}}</a>
          {{/each}}
        </td>
        <td>{{number topics_total}}</td>
        <td>{{number posts_total}}</td>
        <td><a href="#">this is a link to a post</a> <span class="age" data-bindattr-177="177" title="October 11, 2013 8:37am"><span class="relative-date" data-time="1381441065000" data-format="tiny">4d</span></span></td>
      </tr>
      {{/each}}
    </tbody>

  </table>
</div>

<footer id='topic-list-bottom'>
</footer>

