<div class='contents'>

  <table id='topic-list' class='categories'>
    <thead>
    <tr>
      <th class='category'>{{i18n categories.category}}</th>
      <th class='posters'>{{i18n categories.participants}}</th>
      <th class='num topics'>{{i18n categories.topics}}</th>
      <th class='num posts'>{{i18n categories.posts}}</th>
      <th class='latest'>{{i18n categories.latest}}</th>
    </tr>
    </thead>
    <tbody>
      {{#each model.categories}}
      <tr>
        <td class='category'>{{categoryLink this}}
          {{#if unreadTopics}}
            <a href={{unbound url}} class='badge new-posts badge-notification' title='{{i18n topic.unread_topics count="unreadTopics"}}'>{{unbound unreadTopics}}</a>
          {{/if}}
          {{#if newTopics}}
            <a href={{unbound url}} class='badge new-posts badge-notification' title='{{i18n topic.new_topics count="newTopics"}}'>{{unbound newTopics}} <i class='icon icon-asterisk'></i></a>
          {{/if}}
          {{#if description_excerpt}}
            <div class="category-description">
              {{{description_excerpt}}}
            </div>
          {{/if}}
        </td>
        <td>{{#each featured_users}}
            <a href="/users/{{unbound username_lower}}">{{avatar this imageSize="small"}}</a>
          {{/each}}
        </td>
        <td>{{number topic_count}}</td>
        <td>{{number post_count}}</td>
        {{#with latestTopic}}
          <td {{bindAttr class="archived"}}>
            {{topicStatus topic=this}}
            {{{topicLink this}}}
            <div class='lastUserInfo'>
              {{i18n categories.by}} <a href="{{{unbound lastPosterUrl}}}">{{unbound last_poster.username}}</a>
              {{unboundAge last_posted_at}}
            </div>
          </td>
        {{/with}}
      </tr>
      {{/each}}
    </tbody>

  </table>
</div>

<footer id='topic-list-bottom'>
</footer>

