{{#d-section tagName="" pageClass="tags" bodyClass=(concat "tag-" tag.id (if category.slug (concat " category-" category.slug)) ""  (if additionalTags " tags-intersection"))}}
  <div class="container">
    {{discourse-banner user=currentUser banner=site.banner}}
  </div>

  {{plugin-outlet name="discovery-list-controls-above" tagName="span" connectorTagName="div"}}

  <div class="list-controls">
    {{plugin-outlet name="discovery-navigation-bar-above" connectorTagName="div"}}
    <div class="container">
      <section class="navigation-container tag-navigation">
        {{d-navigation
          filterMode=filterMode
          canCreateTopic=canCreateTopic
          hasDraft=currentUser.has_topic_draft
          createTopic=(route-action "createTopic")
          category=category
          tag=tag
          noSubcategories=noSubcategories
          tagNotification=tagNotification
          additionalTags=additionalTags
          showInfo=showInfo
          canCreateTopicOnTag=canCreateTopicOnTag
          changeTagNotificationLevel=(action "changeTagNotificationLevel")
          toggleInfo=(action "toggleInfo")
        }}

        {{plugin-outlet
          name="tag-navigation"
          connectorTagName="div"
          args=(hash category=category tag=tag)
        }}
      </section>
    </div>
  </div>

  {{#if showInfo}}
    {{tag-info tag=tag list=list deleteAction=(action "deleteTag")}}
  {{/if}}

  {{plugin-outlet name="discovery-list-container-top" tagName="span" connectorTagName="div" args=(hash category=category)}}

  {{topic-dismiss-buttons position="top" selectedTopics=selected
    model=model showResetNew=showResetNew showDismissRead=showDismissRead resetNew=(action "resetNew")}}

  {{plugin-outlet name="discovery-above" tagName="span" connectorTagName="div"}}

  <div class="container list-container">
    <div class="row">
      <div class="full-width">
        <div id="list-area">
          {{#unless loading}}
            {{#discovery-topics-list
              model=list
              refresh=(action "refresh")
              autoAddTopicsToBulkSelect=autoAddTopicsToBulkSelect
              bulkSelectEnabled=bulkSelectEnabled
              addTopicsToBulkSelect=(action "addTopicsToBulkSelect")
              as |discoveryTopicList|
            }}
              {{#if top}}
                <div class="top-lists">
                  {{period-chooser period=period action=(action "changePeriod") fullDay=false}}
                </div>
              {{else}}
                {{#if topicTrackingState.hasIncoming}}
                  <div class="show-more {{if hasTopics "has-topics"}}">
                    <a tabindex="0" href {{action "showInserted"}} class="alert alert-info clickable">
                      {{count-i18n key="topic_count_" suffix=topicTrackingState.filter count=topicTrackingState.incomingCount}}
                    </a>
                  </div>
                {{/if}}
              {{/if}}

              {{#if list.topics}}
                {{topic-list
                  topics=list.topics
                  canBulkSelect=canBulkSelect
                  toggleBulkSelect=(action "toggleBulkSelect")
                  bulkSelectEnabled=bulkSelectEnabled
                  bulkSelectAction=(action "refresh")
                  updateAutoAddTopicsToBulkSelect=(action "updateAutoAddTopicsToBulkSelect")
                  selected=selected
                  category=category
                  showPosters=true
                  order=order
                  ascending=ascending
                  changeSort=(action "changeSort")
                  onScroll=discoveryTopicList.saveScrollPosition
                  scrollOnLoad=true
                }}
              {{/if}}
            {{/discovery-topics-list}}

            <footer class="topic-list-bottom">
              {{topic-dismiss-buttons position="bottom" selectedTopics=selected
              model=model showResetNew=showResetNew showDismissRead=showDismissRead resetNew=(action "resetNew")}}

              {{#footer-message education=footerEducation message=footerMessage}}
                {{#link-to "tags"}} {{i18n "topic.browse_all_tags"}}{{/link-to}} {{i18n "or"}} {{#link-to "discovery.latest"}}{{i18n "topic.view_latest_topics"}}{{/link-to}}.
              {{/footer-message}}
            </footer>
          {{/unless}}

          {{conditional-loading-spinner condition=list.loadingMore}}
        </div>
      </div>
    </div>
  </div>

  {{plugin-outlet name="discovery-below" tagName="span" connectorTagName="div"}}
{{/d-section}}
