<DSection @pageClass="groups-new">
  <h1>{{i18n "admin.groups.new.title"}}</h1>

  <hr>

  <form class="groups-form form-vertical">
    <GroupsFormProfileFields @model={{model}} @disableSave={{saving}}>
      <div class="control-group">
        <label class="control-label" for="owner-selector">{{i18n "admin.groups.add_owners"}}</label>

        <EmailGroupUserChooser @class="input-xxlarge" @id="owner-selector" @value={{splitOwnerUsernames}} @onChange={{action "updateOwnerUsernames"}} @options={{hash
            filterPlaceholder="groups.selector_placeholder"
          }} />
      </div>

      <div class="control-group">
        <label class="control-label" for="member-selector">{{i18n "groups.members.title"}}</label>

        <EmailGroupUserChooser @class="input-xxlarge" @id="member-selector" @value={{splitUsernames}} @onChange={{action "updateUsernames"}} @options={{hash
            filterPlaceholder="groups.selector_placeholder"
          }} />
      </div>
    </GroupsFormProfileFields>

    <GroupsFormMembershipFields @model={{model}} />
    <GroupsFormInteractionFields @model={{model}} />

    <div class="control-group buttons">
      <DButton @action={{action "save"}} @type="submit" @disabled={{saving}} @class="btn btn-primary group-form-save" @label="admin.groups.new.create" />

      <LinkTo @route="groups">
        {{i18n "cancel"}}
      </LinkTo>
    </div>
  </form>
</DSection>
