<div
  class="chat-message-actions-outlet-container"
  style="z-index:5999;"
  {{did-update this.positionContainer this.chat.activeMessage}}
  {{did-update this.setMessageActionsMobileAnchor this.chat.activeMessage}}
>
  {{#if (and this.chat.activeMessage this.siteService.desktopView)}}
    <ChatMessageActionsDesktop
      @message={{this.chat.activeMessage.model}}
      @context={{this.chat.activeMessage.context}}
    />
  {{/if}}
  {{#if
    (and
      this.chat.activeMessage
      this.siteService.mobileView
      this.messageActionsMobileAnchor
    )
  }}
    {{#in-element this.messageActionsMobileAnchor}}
      <ChatMessageActionsMobile
        @message={{this.chat.activeMessage.model}}
        @context={{this.chat.activeMessage.context}}
      />
    {{/in-element}}
  {{/if}}
</div>