<LoadMore @selector=".directory .user" @action={{action "loadMore"}}>
  <div class="container">
    <div class="users-directory directory">
      <span>
        <PluginOutlet
          @name="users-top"
          @connectorTagName="div"
          @outletArgs={{hash model=this.model}}
        />
      </span>

      <div class="directory-controls">
        <PeriodChooser
          @period={{this.period}}
          @onChange={{action (mut this.period)}}
          @fullDay={{false}}
        />
        {{#if this.lastUpdatedAt}}
          <div class="directory-last-updated">
            {{i18n "directory.last_updated"}}
            {{this.lastUpdatedAt}}
          </div>
        {{/if}}
        <div class="inline-form full-width">
          <Input
            @value={{readonly this.nameInput}}
            placeholder={{i18n "directory.filter_name"}}
            class="filter-name no-blur"
            {{on
              "input"
              (action "onUsernameFilterChanged" value="target.value")
            }}
          />
          <ComboBox
            @class="directory-group-selector"
            @value={{this.group}}
            @content={{this.groupOptions}}
            @onChange={{action this.groupChanged}}
            @options={{hash none="directory.group.all"}}
          />
          {{#if this.currentUser.staff}}
            <DButton
              @icon="wrench"
              @action={{action "showEditColumnsModal"}}
              @class="btn-default open-edit-columns-btn"
            />
          {{/if}}
        </div>
        <PluginOutlet
          @name="users-directory-controls"
          @outletArgs={{hash model=this.model}}
        />
      </div>

      <ConditionalLoadingSpinner @condition={{this.isLoading}}>
        {{#if this.model.length}}
          <div class="total-rows">{{i18n
              "directory.total_rows"
              count=this.model.totalRows
            }}</div>
          {{#each this.model as |item|}}
            <DirectoryItem
              @tagName="div"
              @class="user"
              @item={{item}}
              @columns={{this.columns}}
              @showTimeRead={{this.showTimeRead}}
            />
          {{/each}}

          <ConditionalLoadingSpinner @condition={{this.model.loadingMore}} />
        {{else}}
          <div class="clearfix"></div>
          <p>{{i18n "directory.no_results"}}</p>
        {{/if}}
      </ConditionalLoadingSpinner>

    </div>
  </div>
</LoadMore>