<div class="flagged-post-header">
  <LinkTo @route="chat.channel" @models={{array this.reviewable.chat_channel.id this.reviewable.chat_channel.title}} @query={{hash messageId=this.reviewable.target_id}}>
    <ChatChannelTitle @channel={{this.reviewable.chat_channel}} />
  </LinkTo>
</div>

<div class="post-contents-wrapper">
  <ReviewableCreatedBy @user={{this.reviewable.target_created_by}} @tagName="" />
  <div class="post-contents">
    <ReviewablePostHeader @reviewable={{this.reviewable}} @createdBy={{this.reviewable.target_created_by}} @tagName="" />

    <div class="post-body">
      {{html-safe (or this.reviewable.payload.message_cooked this.reviewable.cooked)}}
    </div>

    {{#if this.reviewable.payload.transcript_topic_id}}
      <div class="transcript">
        <LinkTo @route="topic" @models={{array "-" this.reviewable.payload.transcript_topic_id}} class="btn btn-small">
          {{i18n "review.transcript.view"}}
        </LinkTo>
      </div>
    {{/if}}

    {{yield}}
  </div>
</div>
