<div class="discourse-automation modal create-workflow">
  {{#d-modal-body title="discourse_automation.workflows.form.create_workflow"}}
    {{input enter=(action "saveWorkflow") value=name}}

    {{#conditional-loading-spinner condition=isLoadingTriggerables}}
      {{#if trigger}}
        <h3>Trigger</h3>
        <h4>{{i18n (concat "discourse_automation.trigger." trigger.identifier ".title")}}</h4>

        {{#if triggerable.providing.length}}
          <h5>Provided</h5>
          {{#each triggerable.providing as |provided|}}
            <b>[{{provided.type}}] {{provided.identifier}}</b>
          {{/each}}
        {{/if}}

        {{#if triggerable.fields}}
          <h5>Options</h5>
          {{#each-in triggerable.fields as |fieldName fieldSpecification|}}
            {{workflow-field
              fieldName=fieldName
              fieldSpecification=fieldSpecification
              object=trigger
              workflow=workflow
              onChange=(action "onChangeField")
            }}
          {{/each-in}}
        {{/if}}
      {{/if}}
    {{/conditional-loading-spinner}}

    {{#conditional-loading-spinner condition=isLoadinPlannables}}
      {{#if plans.length}}
        <h3>Plans</h3>
        {{#each plans as |plan|}}
          {{plan-form
            plannable=plan.plannable
            plan=plan.plan
            workflow=workflow
            onChangeField=(action "onChangeField")
          }}
        {{/each}}
      {{/if}}
    {{/conditional-loading-spinner}}
  {{/d-modal-body}}

  <div class="modal-footer">
    {{d-button
      action=(action "saveWorkflow")
      class="btn-primary"
      label="save"
    }}

    {{d-modal-cancel close=(route-action "closeModal")}}
  </div>
</div>
