{{#unless this.siteSettings.disable_mailing_list_mode}}
  {{~#if this.model.user_option.mailing_list_mode}}
    <div class="warning-wrap">
      <div class="warning">{{i18n "user.mailing_list_mode.warning"}}</div>
    </div>
  {{/if}}
{{/unless}}
<div class="control-group pref-email-settings">
  <label class="control-label">{{i18n "user.email_settings"}}</label>

  <div
    class="controls controls-dropdown"
    data-setting-name="user-email-messages-level"
  >
    <label for="user-email-messages-level">{{i18n
        "user.email_messages_level"
      }}</label>
    <ComboBox
      @valueProperty="value"
      @content={{this.emailLevelOptions}}
      @value={{this.model.user_option.email_messages_level}}
      @id="user-email-messages-level"
      @onChange={{action (mut this.model.user_option.email_messages_level)}}
    />
    {{#if this.emailMessagesLevelAway}}
      <div class="instructions">{{this.emailFrequencyInstructions}}</div>
    {{/if}}
  </div>

  <div class="controls controls-dropdown" data-setting-name="user-email-level">
    <label for="user-email-level">{{i18n "user.email_level.title"}}</label>
    <ComboBox
      @valueProperty="value"
      @content={{this.emailLevelOptions}}
      @value={{this.model.user_option.email_level}}
      @id="user-email-level"
      @onChange={{action (mut this.model.user_option.email_level)}}
    />
    {{#if this.emailLevelAway}}
      <div class="instructions">{{this.emailFrequencyInstructions}}</div>
    {{/if}}
  </div>

  <div
    class="controls controls-dropdown"
    data-setting-name="user-email-previous-replies"
  >
    <label>{{i18n "user.email_previous_replies.title"}}</label>
    <ComboBox
      @valueProperty="value"
      @content={{this.previousRepliesOptions}}
      @value={{this.model.user_option.email_previous_replies}}
      @onChange={{action (mut this.model.user_option.email_previous_replies)}}
    />
  </div>
  <PreferenceCheckbox
    data-setting-name="user-email-in-reply-to"
    @labelKey="user.email_in_reply_to"
    @checked={{this.model.user_option.email_in_reply_to}}
  />

  <span>
    <PluginOutlet
      @name="user-preferences-emails-pref-email-settings"
      @connectorTagName="div"
      @outletArgs={{hash model=this.model save=(action "save")}}
    />
  </span>
</div>

{{#unless this.siteSettings.disable_digest_emails}}
  <div class="control-group pref-activity-summary">
    <label class="control-label">{{i18n "user.email_activity_summary"}}</label>
    <PreferenceCheckbox
      data-setting-name="user-email-digests"
      @labelKey="user.email_digests.title"
      @disabled={{this.model.user_option.mailing_list_mode}}
      @checked={{this.model.user_option.email_digests}}
    />
    {{#if this.model.user_option.email_digests}}
      <div
        class="controls controls-dropdown"
        data-setting-name="user-email-digests-frequency"
      >
        <ComboBox
          @valueProperty="value"
          @content={{this.digestFrequencies}}
          @value={{this.model.user_option.digest_after_minutes}}
          @onChange={{action (mut this.model.user_option.digest_after_minutes)}}
          @options={{hash filterable=true}}
        />
      </div>
      <PreferenceCheckbox
        data-setting-name="user-include-tl0-in-digests"
        @labelKey="user.include_tl0_in_digests"
        @disabled={{this.model.user_option.mailing_list_mode}}
        @checked={{this.model.user_option.include_tl0_in_digests}}
      />
    {{/if}}
  </div>
{{/unless}}

{{#unless this.siteSettings.disable_mailing_list_mode}}
  <div class="control-group pref-mailing-list-mode">
    <label class="control-label">{{i18n "user.mailing_list_mode.label"}}</label>
    <PreferenceCheckbox
      data-setting-name="user-mailing-list-mode-enabled"
      @labelKey="user.mailing_list_mode.enabled"
      @checked={{this.model.user_option.mailing_list_mode}}
    />
    <div class="instructions">
      {{html-safe (i18n "user.mailing_list_mode.instructions")}}
    </div>
    {{#if this.model.user_option.mailing_list_mode}}
      <div
        class="controls controls-dropdown"
        data-setting-name="user-mailing-list-mode-options"
      >
        <ComboBox
          @valueProperty="value"
          @content={{this.mailingListModeOptions}}
          @value={{this.model.user_option.mailing_list_mode_frequency}}
          @onChange={{action
            (mut this.model.user_option.mailing_list_mode_frequency)
          }}
        />
      </div>
    {{/if}}
  </div>
{{/unless}}

<span>
  <PluginOutlet
    @name="user-preferences-emails"
    @connectorTagName="div"
    @outletArgs={{hash model=this.model save=(action "save")}}
  />
</span>

<br />

<span>
  <PluginOutlet
    @name="user-custom-controls"
    @connectorTagName="div"
    @outletArgs={{hash model=this.model}}
  />
</span>

<SaveControls
  @model={{this.model}}
  @action={{action "save"}}
  @saved={{this.saved}}
/>