<div class="control-group notifications">
  <label class="control-label">{{i18n "user.notifications"}}</label>

  {{#unless this.currentUser.redesigned_user_page_nav_enabled}}
    <UserPreferences::TopicTracking
      @considerNewTopicOptions={{this.considerNewTopicOptions}}
      @model={{this.model}}
      @autoTrackDurations={{this.autoTrackDurations}}
      @notificationLevelsForReplying={{this.notificationLevelsForReplying}}
    />
  {{/unless}}

  <div class="controls controls-dropdown">
    <label>{{i18n "user.like_notification_frequency.title"}}</label>
    <ComboBox
      @valueProperty="value"
      @content={{this.likeNotificationFrequencies}}
      @value={{this.model.user_option.like_notification_frequency}}
      @onChange={{action
        (mut this.model.user_option.like_notification_frequency)
      }}
    />
  </div>
</div>

<div class="control-group desktop-notifications">
  <label class="control-label">{{i18n
      "user.desktop_notifications.label"
    }}</label>
  <DesktopNotificationConfig />
  <div class="instructions">{{i18n
      "user.desktop_notifications.each_browser_note"
    }}</div>
  <span>
    <PluginOutlet
      @name="user-preferences-desktop-notifications"
      @connectorTagName="div"
      @outletArgs={{hash model=this.model save=(action "save")}}
    />
  </span>
</div>

<UserNotificationSchedule @model={{this.model}} />

{{#if this.showMessageSettings}}
  {{#unless this.currentUser.redesigned_user_page_nav_enabled}}
    <UserPreferences::AllowPrivateMessages @model={{this.model}} />
  {{/unless}}
{{/if}}

<span>
  <PluginOutlet
    @name="user-preferences-notifications"
    @connectorTagName="div"
    @outletArgs={{hash model=this.model save=(action "save")}}
  />
</span>

<br />

<span>
  <PluginOutlet
    @name="user-custom-controls"
    @connectorTagName="div"
    @outletArgs={{hash model=this.model}}
  />
</span>

<SaveControls
  @model={{this.model}}
  @action={{action "save"}}
  @saved={{this.saved}}
/>