{{#if this.canChangePassword}}
  <div class="control-group pref-password">
    <label class="control-label">{{i18n "user.password.title"}}</label>
    <div class="controls">
      <a href {{on "click" this.changePassword}} class="btn btn-default">
        {{d-icon "envelope"}}
        {{#if this.model.no_password}}
          {{i18n "user.change_password.set_password"}}
        {{else}}
          {{i18n "user.change_password.action"}}
        {{/if}}
      </a>

      {{this.passwordProgress}}
    </div>
  </div>

  <div class="control-group pref-second-factor">
    <label class="control-label">{{i18n "user.second_factor.title"}}</label>
    {{#unless this.model.second_factor_enabled}}
      <label>
        {{i18n "user.second_factor.short_description"}}
      </label>
    {{/unless}}
    <div class="controls pref-second-factor">
      {{#if this.isCurrentUser}}
        <LinkTo @route="preferences.second-factor" class="btn btn-default">
          {{d-icon "lock"}}
          <span>{{i18n "user.second_factor.enable"}}</span>
        </LinkTo>
      {{/if}}
    </div>
  </div>
{{/if}}

{{#if this.canCheckEmails}}
  <div class="control-group pref-auth-tokens">
    <label class="control-label">{{i18n "user.auth_tokens.title"}}</label>

    <div class="auth-tokens">
      {{#each this.authTokens as |token|}}
        <div class="row auth-token">
          <div class="auth-token-icon">{{d-icon token.icon}}</div>
          {{#unless token.is_active}}
            <AuthTokenDropdown
              @token={{token}}
              @revokeAuthToken={{action "revokeAuthToken"}}
              @showToken={{action "showToken"}}
            />
          {{/unless}}
          <div class="auth-token-first">
            {{html-safe
              (i18n
                "user.auth_tokens.device_location"
                device=token.device
                ip=token.client_ip
                location=token.location
              )
            }}
          </div>
          <div class="auth-token-second">
            {{#if token.is_active}}
              {{html-safe
                (i18n "user.auth_tokens.browser_active" browser=token.browser)
              }}
            {{else}}
              {{html-safe
                (i18n
                  "user.auth_tokens.browser_last_seen"
                  browser=token.browser
                  date=(format-date token.seen_at)
                )
              }}
            {{/if}}
          </div>
        </div>
      {{/each}}
    </div>

    {{#if this.canShowAllAuthTokens}}
      <a href {{on "click" this.toggleShowAllAuthTokens}}>
        {{#if this.showAllAuthTokens}}
          {{d-icon "caret-up"}}
          {{i18n "user.auth_tokens.show_few"}}
        {{else}}
          {{d-icon "caret-down"}}
          {{i18n
            "user.auth_tokens.show_all"
            count=this.model.user_auth_tokens.length
          }}
        {{/if}}
      </a>
    {{/if}}

    <a
      href
      {{on "click" (fn this.revokeAuthToken null)}}
      class="pull-right text-danger"
    >{{d-icon "sign-out-alt"}} {{i18n "user.auth_tokens.log_out_all"}}</a>
  </div>
{{/if}}

{{#if this.currentUser.redesigned_user_page_nav_enabled}}
  <UserPreferences::UserApiKeys @model={{@model}} />
{{/if}}

<span>
  <PluginOutlet
    @name="user-preferences-security"
    @connectorTagName="div"
    @outletArgs={{hash model=this.model save=(action "save")}}
  />
</span>

<br />

<span>
  <PluginOutlet
    @name="user-custom-controls"
    @connectorTagName="div"
    @outletArgs={{hash model=this.model}}
  />
</span>