{{body-class "user-preferences-tracking-page"}}

<div class="user-preferences__tracking-topics-wrapper">
  <label class="control-label">{{i18n "user.topics_settings"}}</label>

  <div class="user-preferences_tracking-topics-controls">
    <div
      class="controls controls-dropdown"
      data-setting-name="user-new-topic-duration"
    >
      <label>{{i18n "user.new_topic_duration.label"}}</label>
      <ComboBox
        @valueProperty="value"
        @content={{this.considerNewTopicOptions}}
        @value={{this.model.user_option.new_topic_duration_minutes}}
        @onChange={{action
          (mut this.model.user_option.new_topic_duration_minutes)
        }}
        class="duration"
      />
    </div>

    <div
      class="controls controls-dropdown"
      data-setting-name="user-auto-track-topics"
    >
      <label>{{i18n "user.auto_track_topics"}}</label>
      <ComboBox
        @valueProperty="value"
        @content={{this.autoTrackDurations}}
        @value={{this.model.user_option.auto_track_topics_after_msecs}}
        @onChange={{action
          (mut this.model.user_option.auto_track_topics_after_msecs)
        }}
      />
    </div>

    <div
      class="controls controls-dropdown"
      data-setting-name="user-notification-level-when-replying"
    >
      <label>{{i18n "user.notification_level_when_replying"}}</label>
      <ComboBox
        @valueProperty="value"
        @content={{this.notificationLevelsForReplying}}
        @value={{this.model.user_option.notification_level_when_replying}}
        @onChange={{action
          (mut this.model.user_option.notification_level_when_replying)
        }}
      />
    </div>

    <PreferenceCheckbox
      @labelKey="user.topics_unread_when_closed"
      @checked={{this.model.user_option.topics_unread_when_closed}}
    />
  </div>
</div>

<div class="user-preferences__tracking-categories-tags-wrapper">
  <div>
    <UserPreferences::Categories
      @canSee={{this.canSee}}
      @model={{this.model}}
      @selectedCategories={{this.selectedCategories}}
      @hideMutedTags={{this.hideMutedTags}}
      @siteSettings={{this.siteSettings}}
    />
  </div>

  <div>
    <UserPreferences::Tags
      @model={{this.model}}
      @selectedTags={{this.selectedTags}}
      @save={{this.save}}
      @siteSettings={{this.siteSettings}}
    />
  </div>
</div>
{{#if this.showMutePrecedenceSetting}}
  <div class="control-group user-preferences__watched-precedence-over-muted">
    <PreferenceCheckbox
      data-setting-name="watched-precedence-over-muted"
      @labelKey="user.watched_precedence_over_muted"
      @checked={{this.model.user_option.watched_precedence_over_muted}}
    />
  </div>
{{/if}}

{{#if this.canSave}}
  <SaveControls
    @model={{this.model}}
    @action={{this.save}}
    @saved={{this.saved}}
  />
{{/if}}