<DSection @pageClass="user-preferences-tracking" />

<div class="user-preferences__tracking-topics-wrapper">
  <label class="control-label">{{i18n "user.topics_settings"}}</label>
  <UserPreferences::TopicTracking
    @considerNewTopicOptions={{this.considerNewTopicOptions}}
    @model={{this.model}}
    @autoTrackDurations={{this.autoTrackDurations}}
    @notificationLevelsForReplying={{this.notificationLevelsForReplying}}
  />
</div>

<div class="user-preferences__tracking-categories-tags-wrapper">
  <UserPreferences::Categories
    @canSee={{this.canSee}}
    @model={{this.model}}
    @selectedCategories={{this.selectedCategories}}
    @hideMutedTags={{this.hideMutedTags}}
    @siteSettings={{this.siteSettings}}
  />

  <UserPreferences::Tags
    @model={{this.model}}
    @selectedTags={{this.selectedTags}}
    @save={{this.save}}
    @siteSettings={{this.siteSettings}}
  />
</div>

{{#if this.canSave}}
  <SaveControls
    @model={{this.model}}
    @action={{this.save}}
    @saved={{this.saved}}
  />
{{/if}}