<DSection @pageClass="user-preferences-tracking" />

<div class="user-preferences__tracking-topics-wrapper">
  <label class="control-label">{{i18n "user.topics_settings"}}</label>

  <div class="user-preferences_tracking-topics-controls">
    <div class="controls controls-dropdown">
      <label>{{i18n "user.new_topic_duration.label"}}</label>
      <ComboBox
        @class="duration"
        @valueProperty="value"
        @content={{this.considerNewTopicOptions}}
        @value={{this.model.user_option.new_topic_duration_minutes}}
        @onChange={{action
          (mut this.model.user_option.new_topic_duration_minutes)
        }}
      />
    </div>

    <div class="controls controls-dropdown">
      <label>{{i18n "user.auto_track_topics"}}</label>
      <ComboBox
        @valueProperty="value"
        @content={{this.autoTrackDurations}}
        @value={{this.model.user_option.auto_track_topics_after_msecs}}
        @onChange={{action
          (mut this.model.user_option.auto_track_topics_after_msecs)
        }}
      />
    </div>

    <div class="controls controls-dropdown">
      <label>{{i18n "user.notification_level_when_replying"}}</label>
      <ComboBox
        @valueProperty="value"
        @content={{this.notificationLevelsForReplying}}
        @value={{this.model.user_option.notification_level_when_replying}}
        @onChange={{action
          (mut this.model.user_option.notification_level_when_replying)
        }}
      />
    </div>
  </div>
</div>

<div class="user-preferences__tracking-categories-tags-wrapper">
  <div>
    <UserPreferences::Categories
      @canSee={{this.canSee}}
      @model={{this.model}}
      @selectedCategories={{this.selectedCategories}}
      @hideMutedTags={{this.hideMutedTags}}
      @siteSettings={{this.siteSettings}}
    />
  </div>

  <div>
    <UserPreferences::Tags
      @model={{this.model}}
      @selectedTags={{this.selectedTags}}
      @save={{this.save}}
      @siteSettings={{this.siteSettings}}
    />
  </div>
</div>

{{#if this.canSave}}
  <SaveControls
    @model={{this.model}}
    @action={{this.save}}
    @saved={{this.saved}}
  />
{{/if}}