<Sidebar::Section
  @sectionName="categories"
  @headerLinkText={{i18n "sidebar.sections.categories.header_link_text"}}
  @collapsable={{@collapsable}}
>

  {{#each this.sectionLinks as |sectionLink|}}
    <Sidebar::SectionLink
      @route={{sectionLink.route}}
      @title={{sectionLink.title}}
      @content={{sectionLink.text}}
      @currentWhen={{sectionLink.currentWhen}}
      @model={{sectionLink.model}}
      @prefixType={{sectionLink.prefixType}}
      @prefixValue={{sectionLink.prefixValue}}
      @prefixColor={{sectionLink.prefixColor}}
      @prefixElementColors={{sectionLink.prefixElementColors}}
      data-category-id={{sectionLink.category.id}}
    />
  {{/each}}

  <Sidebar::Common::AllCategoriesSectionLink />
</Sidebar::Section>
<div>
  <div class="sidebar-section-header-wrapper sidebar-row">PCC</div>
  <li class="sidebar-section-link-wrapper">
    <a
      id="ember895"
      class="ember-view sidebar-section-link sidebar-row sidebar-section-link-everything"
      title="Github"
      href="https://github.com/PluralCC/discourse"
    >
      <span class="sidebar-section-link-prefix icon">
        <svg
          class="fa d-icon d-icon-user svg-icon prefix-icon svg-string"
          xmlns="http://www.w3.org/2000/svg"
        ><use href="#user"></use></svg>
      </span>
      <span class="sidebar-section-link-content-text">
        Github
      </span>
    </a>
  </li>
</div>