{{#styleguide-example title="h1"}}
  <h1>{{i18n "styleguide.sections.typography.example"}}</h1>
{{/styleguide-example}}

{{#styleguide-example title="h2"}}
  <h2>{{i18n "styleguide.sections.typography.example"}}</h2>
{{/styleguide-example}}

{{#styleguide-example title="h3"}}
  <h3>{{i18n "styleguide.sections.typography.example"}}</h3>
{{/styleguide-example}}

{{#styleguide-example title="h4"}}
  <h4>{{i18n "styleguide.sections.typography.example"}}</h4>
{{/styleguide-example}}

{{#styleguide-example title="h5"}}
  <h5>{{i18n "styleguide.sections.typography.example"}}</h5>
{{/styleguide-example}}

{{#styleguide-example title="h6"}}
  <h6>{{i18n "styleguide.sections.typography.example"}}</h6>
{{/styleguide-example}}

{{#styleguide-example title="p"}}
  <p>{{i18n "styleguide.sections.typography.paragraph"}}</p>
{{/styleguide-example}}
