{{#styleguide-example title="primary"}}
  <section class="color-row">
    {{color-example color="primary-very-low"}}
    {{color-example color="primary-low"}}
    {{color-example color="primary-low-mid"}}
  </section>
  <section class="color-row">
    {{color-example color="primary-medium"}}
    {{color-example color="primary-high"}}
    {{color-example color="primary"}}
  </section>
{{/styleguide-example}}

{{#styleguide-example title="secondary"}}
  <section class="color-row">
    {{color-example color="secondary-low"}}
    {{color-example color="secondary-medium"}}
    {{color-example color="secondary-high"}}
    {{color-example color="secondary"}}
  </section>
{{/styleguide-example}}

{{#styleguide-example title="tertiary"}}
  <section class="color-row">
    {{color-example color="tertiary-low"}}
    {{color-example color="tertiary-medium"}}
    {{color-example color="tertiary-high"}}
    {{color-example color="tertiary"}}
  </section>
{{/styleguide-example}}

{{#styleguide-example title="quaternary"}}
  <section class="color-row">
    {{color-example color="quaternary-low"}}
    {{color-example color="quaternary"}}
  </section>
{{/styleguide-example}}

{{#styleguide-example title="highlight"}}
  <section class="color-row">
    {{color-example color="highlight-low"}}
    {{color-example color="highlight-medium"}}
    {{color-example color="highlight"}}
    {{color-example color="highlight-high"}}
  </section>
{{/styleguide-example}}

{{#styleguide-example title="danger"}}
  <section class="color-row">
    {{color-example color="danger-low"}}
    {{color-example color="danger-low-mid"}}
    {{color-example color="danger-medium"}}
    {{color-example color="danger"}}
  </section>
{{/styleguide-example}}

{{#styleguide-example title="success"}}
  <section class="color-row">
    {{color-example color="success-low"}}
    {{color-example color="success-medium"}}
    {{color-example color="success"}}
  </section>
{{/styleguide-example}}

{{#styleguide-example title="love"}}
  <section class="color-row">
    {{color-example color="love-low"}}
    {{color-example color="love"}}
  </section>
{{/styleguide-example}}

{{#styleguide-example title="header"}}
  <section class="color-row">
    {{color-example color="header_background"}}
  </section>
  <section class="color-row">
    {{color-example color="header_primary"}}
    {{color-example color="header_primary-very-high"}}
    {{color-example color="header_primary-high"}}
  </section>
  <section class="color-row">
    {{color-example color="header_primary-medium"}}
    {{color-example color="header_primary-low-mid"}}
    {{color-example color="header_primary-low"}}
  </section>
{{/styleguide-example}}
