<StyleguideExample @title="text-field">
  <TextField @placeholder="Placeholder" />
</StyleguideExample>

<StyleguideExample @title="password">
  <PasswordField @type="password" @placeholder="Placeholder" />
</StyleguideExample>

<StyleguideExample @title="textarea">
  <Textarea placeholder="Placeholder" />
</StyleguideExample>

<StyleguideExample @title="inline-form">
  <div class="inline-form">
    <TextField @placeholder="Placeholder" />
    <DButton
      @class="btn-primary"
      @icon="search"
      @type="submit"
      @translatedLabel="Submit"
    />
  </div>
</StyleguideExample>

<StyleguideExample @title="inline-form with icon button">
  <div class="inline-form">
    <TextField @placeholder="Placeholder" />
    <DButton @class="btn-primary" @icon="search" @type="submit" />
  </div>
</StyleguideExample>

<StyleguideExample @title="full-width inline-form with single input">
  <div class="inline-form full-width">
    <TextField @placeholder="Placeholder" />
  </div>
</StyleguideExample>

<StyleguideExample @title="full-width inline-form with input and icon button">
  <div class="inline-form full-width">
    <TextField @placeholder="Placeholder" />
    <DButton @class="btn-primary" @icon="search" @type="submit" />
  </div>
</StyleguideExample>

<StyleguideExample
  @title="inline-form with <ComboBox>"
  @initialValue={{this.dummy.options.0.name}}
  as |value|
>
  <div class="inline-form">
    <TextField @placeholder="Placeholder" />
    <ComboBox
      @content={{this.dummy.options}}
      @value={{value}}
      @onChange={{fn (mut value)}}
    />
    <DButton
      @class="btn-primary"
      @icon="search"
      @type="submit"
      @translatedLabel="Submit"
    />
  </div>
</StyleguideExample>

<StyleguideExample @title="inline-form with <MultiSelect>">
  <div class="inline-form">
    <TextField />
    <MultiSelect @content={{this.dummy.options}} @onChange={{action "dummy"}} />
    <DButton
      @class="btn-primary"
      @icon="search"
      @type="submit"
      @translatedLabel="Submit"
    />
  </div>
</StyleguideExample>

<StyleguideExample @title="inline-form with <MultiSelect> and label">
  <div class="inline-form">
    <label>Text:</label>
    <TextField />
    <MultiSelect @content={{this.dummy.options}} @onChange={{action "dummy"}} />
    <DButton
      @class="btn-primary"
      @icon="search"
      @type="submit"
      @translatedLabel="Submit"
    />
  </div>
</StyleguideExample>

<StyleguideExample @title="full-width inline-form with search type input">
  <div class="inline-form full-width">
    <Input placeholder="Search type input" @type="search" />
  </div>
</StyleguideExample>

<StyleguideExample @title="<CategoryNotificationsButton> and regular button">
  <div class="inline-form">
    <CategoryNotificationsButton
      @category={{get this.dummy.categories 0}}
      @value={{1}}
      @onChange={{action "dummy"}}
    />
    <DButton @icon="reply" @type="submit" @translatedLabel="Button" />
  </div>
</StyleguideExample>