{{#styleguide-example title="combo-box"}}
  {{combo-box content=dummy.options}}
{{/styleguide-example}}

{{#styleguide-example title="filterable combo-box"}}
  {{combo-box content=dummy.categoryNames options=(hash filterable=true)}}
{{/styleguide-example}}

{{#styleguide-example title="combo-box with a default state"}}
  {{combo-box content=dummy.options options=(hash none="category.none")}}
{{/styleguide-example}}

{{#styleguide-example title="combo-box clearable"}}
  {{combo-box content=dummy.options clearable=true options=(hash none="category.none")}}
{{/styleguide-example}}

{{#styleguide-example title="topic-notifications-options"}}
  {{topic-notifications-options topic=dummy.topic}}
{{/styleguide-example}}

{{#styleguide-example title="topic-notifications-button"}}
  <div id="#topic-footer-buttons">
    {{topic-notifications-button topic=dummy.topic}}
  </div>
{{/styleguide-example}}

{{#styleguide-example title="topic-footer-mobile-dropdown"}}
  {{topic-footer-mobile-dropdown topic=dummy.topic}}
{{/styleguide-example}}

{{#styleguide-example title="category-chooser"}}
  {{category-chooser}}
{{/styleguide-example}}

{{#styleguide-example title="pinned-button"}}
  {{pinned-button topic=dummy.pinnedTopic}}
{{/styleguide-example}}

{{#styleguide-example title="pinned-options"}}
  {{pinned-options topic=dummy.pinnedTopic}}
{{/styleguide-example}}

{{#styleguide-example title="categories-admin-dropdown"}}
  {{categories-admin-dropdown}}
{{/styleguide-example}}

{{#styleguide-example title="category-notifications-button"}}
  {{category-notifications-button category=dummy.categories.[0]}}
{{/styleguide-example}}

{{#styleguide-example title="notifications-button"}}
  {{notifications-button options=(hash i18nPrefix="groups.notifications") value=1}}
{{/styleguide-example}}

{{#styleguide-example title="dropdown-select-box"}}
  {{dropdown-select-box content=dummy.options}}
{{/styleguide-example}}

{{#styleguide-example title="future-date-input-selector"}}
  {{future-date-input-selector
    minimumResultsForSearch=-1
    statusType="open"
    input=dummy.topicTimerUpdateDate
    includeWeekend=true
    includeForever=true
    options=(hash none="topic.auto_update_input.none")
  }}
{{/styleguide-example}}

{{#styleguide-example title="multi-select"}}
  {{multi-select content=dummy.options options=(hash none="test.none")}}
{{/styleguide-example}}

{{#styleguide-example title="admin-group-selector"}}
  {{admin-group-selector selected=dummy.selectedGroups content=dummy.groups}}
{{/styleguide-example}}

{{#styleguide-example title="list-setting"}}
  {{list-setting settingValue=dummy.settings}}
{{/styleguide-example}}

{{#styleguide-example title="list-setting with colors"}}
  {{list-setting settingValue=dummy.colors nameProperty="color"}}
{{/styleguide-example}}
