<div class='container safe-mode'>
  <h2><%= t 'safe_mode.title'%></h2>
  <%= form_tag(safe_mode_enter_path) do %>
    <p>
      <%= t 'safe_mode.description' %>
    </p>
    <p>
    <label>
    <%= check_box_tag 'no_customizations', true, !flash[:must_select]%>
    <%= t 'safe_mode.no_customizations' %>
    </label>
    </p>
    <p>
    <label>
    <%= check_box_tag 'only_official', true, !flash[:must_select] %>
    <%= t 'safe_mode.only_official' %>
    </label>
    </p>
    <p>
    <label>
    <%= check_box_tag 'no_plugins', true, !flash[:must_select] %>
    <%= t 'safe_mode.no_plugins' %>
    </label>
    </p>
    <p>
      <%= submit_tag t('safe_mode.enter'), class: 'btn btn-danger' %>
      <%- if flash[:must_select] %>
        <span class='safe-mode-warning'>
          <svg xmlns="http://www.w3.org/2000/svg" width="14px" height="14px" viewBox="0 0 192 512">
            <path d="M176 432c0 44.112-35.888 80-80 80s-80-35.888-80-80 35.888-80 80-80 80 35.888 80 80zM25.26 25.199l13.6 272C39.499 309.972 50.041 320 62.83 320h66.34c12.789 0 23.331-10.028 23.97-22.801l13.6-272C167.425 11.49 156.496 0 142.77 0H49.23C35.504 0 24.575 11.49 25.26 25.199z"></path>
          </svg>
          <%= t 'safe_mode.must_select' %>
        </span>
      <%- end %>
    </p>
  <% end %>
</div>
