{{#d-section tagName="" pageClass="tags" bodyClass=(concat "tag-" tag.id (if category.slug (concat " category-" category.slug)) ""  (if additionalTags " tags-intersection"))}}
  <div class="container">
    {{discourse-banner user=currentUser banner=site.banner}}
  </div>

  {{plugin-outlet name="discovery-list-controls-above" tagName="span" connectorTagName="div"}}

  <div class="list-controls">
    {{plugin-outlet name="discovery-navigation-bar-above" connectorTagName="div"}}
    <div class="container">
      {{outlet "navigation-bar" }}
    </div>
  </div>

  {{#if showInfo}}
    {{tag-info tag=tag list=list deleteAction=(action "deleteTag")}}
  {{/if}}

  {{plugin-outlet name="discovery-list-container-top" tagName="span" connectorTagName="div" args=(hash category=category)}}

  {{topic-dismiss-buttons position="top" selectedTopics=selected
    model=model showResetNew=showResetNew showDismissRead=showDismissRead resetNew=(action "resetNew")}}

  {{plugin-outlet name="discovery-above" tagName="span" connectorTagName="div"}}

  <div class="container list-container {{if loading "hidden"}}">
    <div class="row">
      <div class="full-width">
        <div id="header-list-area">
          {{outlet "header-list-container"}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="full-width">
        <div id="list-area">
          {{plugin-outlet name="discovery-list-container-top" tagName="" connectorTagName="span"
                          args=(hash category=category listLoading=loading)}}
          {{outlet "list-container"}}
        </div>
      </div>
    </div>
  </div>

  {{plugin-outlet name="discovery-below" tagName="span" connectorTagName="div"}}
{{/d-section}}
