<h2>
  <%= render_topic_title(@topic_view.topic) %>

</h2>
<% (@post ? [@post] : @topic_view.posts).each do |post| %>
  <div class='creator'>
    #<%=post.post_number%> By: <b><%= post.user.name %></b>, <%= post.created_at.to_formatted_s(:long_ordinal) %>
  </div>
  <div class='post'>
    <%= post.cooked.html_safe %>
  </div>
<% end %>

<% if @next_page%>
  <p>
  <b><%= render_topic_next_page_link(@topic_view.topic, @next_page) %></b>
  </p>
<% end %>

<%- content_for :canonical do %><%= @canonical %><%- end %>
