<div class="admin-backups">
  <div class="admin-controls">
    <nav>
      <ul class="nav nav-pills">
        <NavItem
          @route="admin.backups.index"
          @label="admin.backups.menu.backups"
        />
        <NavItem @route="admin.backups.logs" @label="admin.backups.menu.logs" />
        <PluginOutlet @name="downloader" @connectorTagName="div" />
        <div class="admin-actions">
          {{#if this.model.canRollback}}
            <DButton
              @action={{route-action "rollback"}}
              @class="btn-default btn-rollback"
              @label="admin.backups.operations.rollback.label"
              @title="admin.backups.operations.rollback.title"
              @icon="ambulance"
              @disabled={{this.rollbackDisabled}}
            />
          {{/if}}
          {{#if this.model.isOperationRunning}}
            <DButton
              @action={{route-action "cancelOperation"}}
              @class="btn-danger"
              @title="admin.backups.operations.cancel.title"
              @label="admin.backups.operations.cancel.label"
              @icon="times"
            />
          {{else}}
            <DButton
              @action={{route-action "showStartBackupModal"}}
              @class="btn-primary"
              @title="admin.backups.operations.backup.title"
              @label="admin.backups.operations.backup.label"
              @icon="rocket"
            />
          {{/if}}
        </div>
      </ul>
    </nav>
  </div>

  <PluginOutlet @name="before-backup-list" @connectorTagName="div" />

  <div class="admin-container">
    {{outlet}}
  </div>
</div>