<EmailStylesEditor
  @styles={{this.model}}
  @fieldName={{this.fieldName}}
  @save={{action "save"}}
/>

<div class="admin-footer">
  <div class="buttons">
    <DButton
      @action={{action "save"}}
      @disabled={{this.saveDisabled}}
      @class="btn-primary"
      @translatedLabel={{this.saveButtonText}}
    />
  </div>
</div>