<section class="ai-persona-tool-editor__current admin-detail pull-left">
  <AiToolEditor
    @tools={{this.allTools}}
    @model={{this.model}}
    @presets={{this.presets}}
    @llms={{this.llms}}
    @settings={{this.settings}}
    @selectedPreset={{this.selectedPreset}}
  />
</section>