{{#if loaded}}
  {{#if topics}}
    <table class="topic-list">
      {{#grouped-each topic in topics}}
        <tr {{bind-attr class="archived"}}>
          <td>
            <div class='main-link clearfix'>
              {{topic-status topic=this}}
              {{topic-link this}}
              {{topic-post-badges unread=unread
                                  newPosts=topic.new_posts
                                  unseen=topic.unseen
                                  url=topic.lastUnreadUrl}}

              {{#if hasExcerpt}}
                <div class="topic-excerpt">
                  {{excerpt}}
                  {{#if excerptTruncated}}
                    {{#unless canClearPin}}<a href="{{url}}">{{i18n read_more}}</a>{{/unless}}
                  {{/if}}
                  {{#if canClearPin}}
                    <a href="#" {{action "clearPin" this}} title="{{i18n topic.clear_pin.help}}">{{i18n topic.clear_pin.title}}</a>
                  {{/if}}
                </div>
            {{/if}}
            </div>
            <div class="topic-item-stats clearfix">
              <div class="pull-right">
                {{posts-count-column topic=topic tagName="div" class="num posts" action="clickedPosts"}}
                {{raw "list/activity-column" topic=topic tagName="div" class="num activity last"}}
              </div>
              {{#unless controller.hideCategory}}
                <div class='category'>
                  {{category-link category showParent=true}}
                </div>
              {{/unless}}
              {{#if controller.showParticipants}}
                <div class='participants'>
                  {{#each topic.participants}}
                    <a href="{{user.path}}" class="{{extras}}">{{avatar this usernamePath="user.username" imageSize="small"}}</a>
                  {{/each}}
                </div>
              {{/if}}
              <div class="clearfix"></div>
            </div>
          </td>
        </tr>
      {{/grouped-each}}
    </table>
  {{else}}
    <div class='alert alert-info'>
      {{i18n choose_topic.none_found}}
    </div>
  {{/if}}
{{else}}
  <div class='spinner'></div>
{{/if}}
