{{#if selectedHtml}}
  <li><a class='expander' {{action 'toggleExpanded'}}>{{{selectedHtml}}}
      {{d-icon "caret-down"}}
    </a></li>
{{/if}}
<ul class='drop {{if expanded 'expanded'}}'>
{{yield}}
</ul>
