<li class='navigation-toggle'>
  <a {{action "toggleDrop"}} class='toggle-link'>
    {{selectedNavItem.displayName}}
    {{d-icon "caret-down"}}
  </a>
</li>
{{#if expanded}}
<ul class='drop'>
  {{#each navItems as |navItem|}}
    {{navigation-item content=navItem filterMode=filterMode category=category}}
  {{/each}}
  {{#each connectors as |c|}}
  {{plugin-connector connector=c class=c.classNames tagName="li" args=(hash category=category filterMode=filterMode)}}
  {{/each}}
</ul>
{{/if}}
