{{#if shouldDisplay}}
  <div class="presence-users">
    <div class="presence-avatars">
      {{#each presenceUsers as |user|}}
        {{avatar user imageSize="small"}}
      {{/each}}
    </div>
    <span class="presence-text">
      <span class="description">
        {{#if isReply ~}}
          {{i18n "presence.replying" count=presenceUsers.length}}
        {{~else~}}
          {{i18n "presence.editing" count=presenceUsers.length}}
        {{~/if}}
        {{~""~}}
      </span>
      {{~""~}}
      <span class="wave">
        {{~""~}}
        <span class="dot">.</span><span class="dot">.</span><span class="dot">.</span>
        {{~""~}}
      </span>
    </span>
  </div>
{{/if}}
