<form class="form-horizontal">

  <div class="control-group">
    <div class="controls">
      <h3>{{i18n user.change_about.title}}</h3>
    </div>
  </div>

  {{#if error}}
    <div class="control-group">
      <div class="instructions">
        <div class='alert error'>{{i18n user.change_about.error}}</div>
      </div>
    </div>
  {{/if}}

  <div class="control-group">
    <label class="control-label">{{i18n user.bio}}</label>
    <div class="controls">
      {{pagedown value=bio_raw}}
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
        <button {{action changeAbout}} {{bindAttr disabled="saveDisabled"}} class="btn btn-primary">{{saveButtonText}}</button>
        {{#if saved}}{{i18n saved}}{{/if}}
    </div>
  </div>

</form>
