{{#d-section pageClass="user-notifications" class="user-secondary-navigation"}}
  {{#mobile-nav class='notifications-nav' desktopClass='notification-list action-list nav-stacked' currentPath=currentPath}}
    <li>
      {{#link-to 'userNotifications.index'}}
        {{i18n 'user.filters.all'}}
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'userNotifications.responses'}}
        {{i18n 'user_action_groups.6'}}
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'userNotifications.likesReceived'}}
        {{i18n 'user_action_groups.2'}}
      {{/link-to}}
    </li>
    {{#if siteSettings.enable_mentions}}
      <li>
        {{#link-to 'userNotifications.mentions'}}
          {{i18n 'user_action_groups.7'}}
        {{/link-to}}
      </li>
    {{/if}}
    <li>
      {{#link-to 'userNotifications.edits'}}
        {{i18n 'user_action_groups.11'}}
      {{/link-to}}
    </li>
  {{/mobile-nav}}

{{/d-section}}

{{#if model}}
<section class="user-additional-controls">
    {{d-button title='user.dismiss_notifications_tooltip'
               class='btn btn-default dismiss-notifications'
               action=(action "resetNew")
               label='user.dismiss_notifications'
               icon='check'
               disabled=allNotificationsRead}}
               </section>
  {{/if}}

<section class='user-content'>
  {{#load-more class="notification-history user-stream" selector=".user-stream .notification" action=(action "loadMore")}}
    {{outlet}}
    {{conditional-loading-spinner condition=model.loadingMore}}
  {{/load-more}}
</section>
