{{#if model.error}}
  <div class="item error">
    {{#if model.forbidden}}
      {{i18n 'errors.reasons.forbidden'}}
    {{else}}
      {{i18n 'errors.desc.unknown'}}
    {{/if}}
  </div>
{{/if}}

<div class='notification-buttons'>
  <button title="{{i18n 'user.dismiss_notifications_tooltip'}}" id='dismiss-notifications-top' class='btn notifications-read' {{action "resetNew"}}>{{i18n 'user.dismiss_notifications'}}</button>
</div>

{{user-notifications-large notifications=model}}

{{#conditional-loading-spinner condition=loading}}
  {{#unless model.canLoadMore}}
    <div class='notification-buttons'>
      <button title="{{i18n 'user.dismiss_notifications_tooltip'}}" id='dismiss-notifications' class='btn notifications-read' {{action "resetNew"}}>{{i18n 'user.dismiss_notifications'}}</button>
    </div>
  {{/unless}}
{{/conditional-loading-spinner}}
