{{#if model.error}}
  <div class="item error">
    {{#if model.forbidden}}
      {{i18n errors.reasons.forbidden}}
    {{else}}
      {{i18n errors.desc.unknown}}
    {{/if}}
  </div>
{{/if}}
{{#if showDismissButton}}
  <div class='notification-buttons'>
    <button title="{{i18n user.dismiss_notifications_tooltip}}" id='dismiss-notifications-top' class='btn notifications-read' {{action "resetNew"}}>{{i18n user.dismiss_notifications}}</button>
  </div>
{{/if}}

{{#each itemController="notification"}}
  <div {{bind-attr class=":item :notification read::unread"}}>
    {{notification-item notification=this scope=scope}}
    <span class="time">
      {{format-date path="created_at" leaveAgo="true"}}
    </span>
  </div>
{{/each}}

{{#if loading}}
  <div class='spinner'></div>
{{/if}}
{{#unless canLoadMore}}
  <div class='end-of-stream'></div>
  {{#if showDismissButton}}
    <div class='notification-buttons'>
      <button title="{{i18n user.dismiss_notifications_tooltip}}" id='dismiss-notifications' class='btn notifications-read' {{action "resetNew"}}>{{i18n user.dismiss_notifications}}</button>
    </div>
  {{/if}}
{{/unless}}
