{{#each model.content}}
  <div {{bind-attr class=":item hidden deleted moderator_action"}}>
    <div class="clearfix info">
      <a href="{{unbound usernameUrl}}" class="avatar-link">
        <div class="avatar-wrapper">
          {{avatar this imageSize="large" extraClasses="actor" ignoreTitle="true"}}
        </div>
      </a>
      <span class="time">
        {{format-date path="created_at" leaveAgo="true"}}
      </span>
      <span class="title">
        <a href="{{unbound url}}">{{unbound topic_title}}</a>
      </span>
      <span class="category">
        {{category-link category}}
      </span>
      {{#if deleted}}
        <span class="delete-info">
          <i class="fa fa-trash-o"></i> {{avatar deleted_by imageSize="tiny" extraClasses="actor" ignoreTitle="true"}} {{format-date path="deleted_at" leaveAgo="true"}}
        </span>
      {{/if}}
    </div>
    <p class="excerpt">
      {{{excerpt}}}
    </p>
  </div>
{{/each}}
