<div id='user-info'>
  {{#with user}}
    <nav class='buttons'>
      {{#if can_edit}}
        {{#linkTo "preferences" class="btn"}}{{i18n user.edit}}{{/linkTo}}
      {{/if}}
      <br/>
      {{#if can_send_private_message_to_user}}
      <button class='btn create' {{action composePrivateMessage}}>
        <i class='icon icon-plus'></i>
        {{i18n user.private_message}}
      </button>
      {{/if}}
    </nav>
    <div class='clearfix'></div>

    <ul class='action-list nav-stacked side-nav'>
      {{#each statsPmsOnly}}
        {{activityFilter content=this}}
      {{/each}}
    </ul>
  {{/with}}
</div>
{{userStream stream=model}}

