<div id='user-stream'>
  {{#collection contentBinding="stream" itemClass="item"}}
    {{#with view.content}}
      <div class='clearfix info'>
        <a href="{{unbound userUrl}}" class='avatar-link'><div class='avatar-wrapper'>{{avatar this imageSize="large" extraClasses="actor" ignoreTitle="true"}}</div></a>
        <span class='time'>{{date path="created_at" leaveAgo="true"}}</span>
        <span class="title">
          <a href="{{unbound postUrl}}">{{unbound title}}</a>
        </span>
        <span class="type">{{unbound descriptionHtml}}</span>
      </div>
      <p class='excerpt'>
      {{{unbound excerpt}}}
      </p>
      {{#each children}}
        <div class='child-actions'>
          <i class="icon {{unbound icon}}"></i>
        {{#each items}}
        <a href="{{unbound userUrl}}" class='avatar-link'><div class='avatar-wrapper'>{{avatar this imageSize="tiny" extraClasses="actor" ignoreTitle="true"}}</div></a>
        {{/each}}
        </div>
      {{/each}}
    {{/with}}
  {{/collection}}
</div>
<div id="user-stream-bottom"></div>
