{{#grouped-each model.content}}
  <div {{bind-attr class=":item hidden deleted moderator_action"}}>
    <div class='clearfix info'>
      <a href="{{unbound userUrl}}" data-user-card="{{unbound username}}" class='avatar-link'><div class='avatar-wrapper'>{{avatar this imageSize="large" extraClasses="actor" ignoreTitle="true"}}</div></a>
      <span class='time'>{{format-date path="created_at" leaveAgo="true"}}</span>
      <span class="title">
        <a href="{{unbound postUrl}}">{{unbound title}}</a>
      </span>
      <span class="category">{{category-link category}}</span>
    </div>
    <p class='excerpt'>{{{unbound excerpt}}}</p>
    {{#grouped-each children}}
      <div class='child-actions'>
        <i class="icon {{unbound icon}}"></i>
        {{#grouped-each items}}
          {{#if removableBookmark}}
            <button class="btn btn-default remove-bookmark" {{action "removeBookmark" this}}>
              {{fa-icon 'times'}} {{i18n "bookmarks.remove"}}
            </button>
          {{/if}}
          <a href="{{unbound userUrl}}" data-user-card="{{unbound username}}" class='avatar-link'><div class='avatar-wrapper'>{{avatar this imageSize="tiny" extraClasses="actor" ignoreTitle="true"}}</div></a>
          {{#if edit_reason}} &mdash; <span class="edit-reason">{{unbound edit_reason}}</span>{{/if}}
        {{/grouped-each}}
      </div>
    {{/grouped-each}}
  </div>
{{/grouped-each}}
{{#if loading}}
  <div class='spinner'></div>
{{/if}}
