{{#groupedEach model.content}}
  <div {{bindAttr class=":item hidden deleted moderator_action"}}>
    <div class='clearfix info'>
      <a href="{{unbound userUrl}}" class='avatar-link'><div class='avatar-wrapper'>{{avatar this imageSize="large" extraClasses="actor" ignoreTitle="true"}}</div></a>
      <span class='time'>{{date path="created_at" leaveAgo="true"}}</span>
      <span class="title">
        <a href="{{unbound postUrl}}">{{unbound title}}</a>
      </span>
      <span class="type">{{unbound descriptionHtml}}</span>
    </div>
    <p class='excerpt'>
    {{{unbound excerpt}}}
    </p>
    {{#groupedEach children}}
      <div class='child-actions'>
        <i class="icon {{unbound icon}}"></i>
      {{#groupedEach items}}
        <a href="{{unbound userUrl}}" class='avatar-link'><div class='avatar-wrapper'>{{avatar this imageSize="tiny" extraClasses="actor" ignoreTitle="true"}}</div></a>
      {{/groupedEach}}
      </div>
    {{/groupedEach}}
  </div>
{{/groupedEach}}
