{{#unless loading}}
  <div class="user-heading">
    <div class="container">
      <div class="full-width" id='user-menu'>
        <h1>{{name}}<span>{{username}}{{{statusIcon}}}</span></h1>

        {{#if viewingSelf}}
          <button {{action "logout" target="Discourse"}} class='btn'>{{i18n user.log_out}}</button>
        {{/if}}
        {{#if currentUser.staff}}
          <a {{bindAttr href="adminPath"}} class='btn'><i class="icon-wrench"></i>&nbsp;{{i18n admin.user.show_admin_profile}}</a>
        {{/if}}
        <ul class="nav nav-pills">
          <li>
            {{#link-to 'userActivity'}}{{i18n user.activity_stream}}{{/link-to}}
          </li>
          {{#if canSeePrivateMessages}}
            <li>
              {{#link-to 'userPrivateMessages'}}{{i18n user.private_messages}}{{/link-to}}
            </li>
          {{/if}}
          <li>
            {{#link-to 'user.invited'}}{{i18n user.invited.title}}{{/link-to}}
          </li>
          {{#if can_edit}}
            <li>
              {{#link-to 'preferences'}}{{i18n user.preferences}}{{/link-to}}
            </li>
          {{/if}}
        </ul>
        <div class='avatar-wrapper'>
          {{boundAvatar model imageSize="huge"}}
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class='user-info clearfix'>
      <div class='about-me'>
        {{{bio_excerpt}}}
      </div>
    </div>
  </div>
  <div class="container">
    {{outlet userOutlet}}
  </div>
{{/unless}}
