<ComboBox
  @content={{this.setting.validValues}}
  @value={{this.value}}
  @onChange={{action (mut this.value)}}
  @valueProperty={{this.setting.computedValueProperty}}
  @nameProperty={{this.setting.computedNameProperty}}
  @options={{hash castInteger=true allowAny=this.setting.allowsNone}}
/>

{{this.preview}}

<SettingValidationMessage @message={{this.validationMessage}} />

<div class="desc">
  {{html-safe this.setting.description}}
</div>