<ListSetting
  @value={{this.settingValue}}
  @settingName={{this.setting.setting}}
  @choices={{this.settingValue}}
  @onChange={{action "onChange"}}
  @options={{hash allowAny=this.allowAny}}
/>

<SettingValidationMessage @message={{this.validationMessage}} />
<div class="desc">{{html-safe this.setting.description}}</div>