<ListSetting
  @value={{this.settingValue}}
  @settingName={{this.setting.setting}}
  @choices={{this.settingChoices}}
  @nameProperty="name"
  @valueProperty="value"
  @onChange={{action "onChangeListSetting"}}
  @options={{hash allowAny=this.allowAny}}
/>

<SettingValidationMessage @message={{this.validationMessage}} />
<div class="desc">{{html-safe this.setting.description}}</div>