<ListSetting @value={{settingValue}} @settingName={{setting.setting}} @choices={{settingChoices}} @nameProperty="name" @valueProperty="value" @onChange={{action "onChangeListSetting"}} @options={{hash
    allowAny=allowAny
  }} />

<SettingValidationMessage @message={{validationMessage}} />
<div class="desc">{{html-safe setting.description}}</div>
