<SecretValueList
  @setting={{this.setting}}
  @values={{this.value}}
  @isSecret={{this.isSecret}}
/>
<SettingValidationMessage @message={{this.validationMessage}} />
<div class="desc">{{html-safe this.setting.description}}</div>