<div class='field'>{{i18n name}}</div>
<div class='value'>
  {{#if editing}}
    {{text-field value=buffer autofocus="autofocus"}}
  {{else}}
    <span {{action "edit"}}>{{value}}</span>
  {{/if}}
</div>
<div class='controls'>
  {{#if editing}}
    {{d-button class="btn-default" action=(action "save") label="admin.user_fields.save"}}
    <a href {{action "edit"}}>{{i18n 'cancel'}}</a>
  {{else}}
    {{d-button class="btn-default" action=(action "edit") icon="pencil"}}
  {{/if}}
</div>
