<div class='form-element label-area'>
  {{#if label}}
    <label>{{i18n label}}</label>
  {{else}}
    &nbsp;
  {{/if}}
</div>
<div class='form-element input-area'>
  {{#if wrapLabel}}
    <label>{{yield}}</label>
  {{else}}
    {{yield}}
  {{/if}}
</div>
