<td class="title"><a href={{report.reportUrl}}>{{report.title}}</a></td>
<td class="value">{{report.todayCount}}</td>
<td class="value">{{report.yesterdayCount}}</td>
<td class="value">{{report.sevenDaysAgoCount}}</td>
<td class="value">{{report.thirtyDaysAgoCount}}</td>
<td class="value"></td>
