<td class="title">
  {{#if report.icon}}
    {{d-icon report.icon}}
  {{/if}}
  <a href="{{report.reportUrl}}">{{report.title}}</a>
</td>

<td class="value">{{number report.todayCount}}</td>

<td class="value {{report.yesterdayTrend}}" title={{report.yesterdayCountTitle}}>
  {{number report.yesterdayCount}} {{d-icon report.yesterdayTrendIcon}}
</td>

<td class="value {{report.sevenDaysTrend}}" title={{report.sevenDaysCountTitle}}>
  {{number report.lastSevenDaysCount}} {{d-icon report.sevenDaysTrendIcon}}
</td>

<td class="value {{report.thirtyDaysTrend}}" title={{report.thirtyDaysCountTitle}}>
  {{number report.lastThirtyDaysCount}} {{d-icon report.thirtyDaysTrendIcon}}
</td>

{{#if allTime}}
  <td class="value">{{number report.total}}</td>
{{/if}}
