{{#conditional-loading-section isLoading=isLoading title=report.title}}
  <div class="table-title">
    <h3>{{report.title}}</h3>

    {{#if help}}
      <a href="{{helpPage}}">{{i18n help}}</a>
    {{/if}}
  </div>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          {{#each labels as |label|}}
            <th>{{label}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        <tr>
          {{#each values as |value|}}
            <td>{{number value}}</td>
          {{/each}}
        </tr>
      </tbody>
    </table>
  </div>
{{/conditional-loading-section}}
