{{#conditional-loading-section isLoading=isLoading title=report.title}}
  <div class="chart-title">
    <h3 title={{report.description}}>
      <a href="{{report.reportUrl}}">
        {{report.title}}
      </a>
    </h3>

    <div class="chart-trend {{trend}}">
      {{#if average}}
        <span title="{{report.trendTitle}}">
          {{report.currentAverage}}%
        </span>
      {{else}}
        <span title="{{report.trendTitle}}">
          {{number report.currentTotal noTitle="true"}}
        </span>
      {{/if}}

      {{#if trendIcon}}
        {{d-icon trendIcon}}
      {{/if}}
    </div>
  </div>

  <div class="chart-container">
    {{#if oneDataPoint}}
      <span class="data-point">
        {{number values.lastObject.y}}
      </span>
    {{else}}
      <canvas class="chart-canvas"></canvas>
    {{/if}}
  </div>
{{/conditional-loading-section}}
