{{#conditional-loading-spinner condition=isLoading}}
  <div class="chart-title">
    <h3>{{title}}</h3>

    {{#if help}}
      {{d-icon "question-circle" title=help}}
    {{/if}}
  </div>

  <div class="chart-container">
    {{#if oneDataPoint}}
      <span class="data-point">
        {{chartData.lastObject.y}}
      </span>
    {{else}}
      <div class="chart-trend {{trend}}">
        <span>{{number total}}</span>

        {{#if trendIcon}}
          {{d-icon trendIcon}}
        {{/if}}
      </div>
      <canvas class="chart-canvas"></canvas>
    {{/if}}
  </div>
{{/conditional-loading-spinner}}
