{{#conditional-loading-section isLoading=isLoading title=report.title}}
  <div class="chart-title">
    <h3 title={{report.description}}>
      {{report.title}}

      {{#if report.description}}
        {{d-icon "question-circle"}}
      {{/if}}
    </h3>

    <div class="chart-trend {{trend}}">
      <span title="{{report.thirtyDayCountTitle}}">
        {{number report.lastThirtyDaysCount}}
      </span>

      {{#if trendIcon}}
        {{d-icon trendIcon}}
      {{/if}}
    </div>
  </div>

  <div class="chart-container">
    {{#if oneDataPoint}}
      <span class="data-point">
        {{number values.lastObject.y}}
      </span>
    {{else}}
      <canvas class="chart-canvas"></canvas>
    {{/if}}
  </div>
{{/conditional-loading-section}}
