<div class='flagged-post-details'>
  <div class="flagged-post-avatar">
    {{#if flaggedPost.postAuthorFlagged}}
      {{#if flaggedPost.user}}
        {{#link-to 'adminUser' flaggedPost.user.id flaggedPost.user.username}}
          {{avatar flaggedPost.user imageSize="large"}}
        {{/link-to}}
        {{#if flaggedPost.wasEdited}}
          <div class='edited-after'>
            {{d-icon "pencil" title="admin.flags.was_edited"}}
          </div>
        {{/if}}
      {{/if}}
    {{/if}}
    {{#if canAct}}
      {{#if flaggedPost.previous_flags_count}}
        <span title="{{i18n 'admin.flags.previous_flags_count' count=flaggedPost.previous_flags_count}}" class="badge-notification previous-flagged-posts">{{flaggedPost.previous_flags_count}}</span>
      {{/if}}
    {{/if}}
  </div>

  <div class="flagged-post-contents">
    <div class='flagged-post-excerpt'>
      {{#unless hideTitle}}
        <h3>
          {{#if flaggedPost.topic.isPrivateMessage}}
            <span class="private-message-glyph">{{d-icon "envelope"}}</span>
          {{/if}}
          {{topic-status topic=flaggedPost.topic}}
          <a href='{{unbound flaggedPost.url}}'>{{{unbound flaggedPost.topic.fancyTitle}}}</a>
        </h3>
      {{/unless}}
      {{#if flaggedPost.postAuthorFlagged}}
        {{#if expanded}}
          {{{flaggedPost.cooked}}}
        {{else}}
          <p>
            {{{flaggedPost.excerpt}}}
            <a href {{action "expand"}}>{{i18n "admin.flags.show_full"}}</a>
          </p>
        {{/if}}
      {{/if}}
    </div>

    {{#if flaggedPost.topicFlagged}}
      <div class='flagged-post-message'>
        <span class='text'>{{{i18n 'admin.flags.topic_flagged'}}}</span>
        <a href={{flaggedPost.url}} class="btn">{{i18n 'admin.flags.visit_topic'}}</a>
      </div>
    {{/if}}

    {{#each flaggedPost.conversations as |c|}}
      <div class='flag-conversation'>
        {{#if c.response}}
          {{flagged-post-response response=c.response}}
          {{#if c.reply}}
            {{flagged-post-response response=c.reply hasMore=c.hasMore permalink=c.permalink}}
          {{/if}}
          <a href={{c.permalink}} class="btn reply-conversation btn-small">
            {{d-icon "reply"}}
            {{i18n "admin.flags.reply_message"}}
          </a>
        {{/if}}
      </div>
    {{/each}}

    <div class='flag-user-lists'>
      <div class='flagged-by'>
        <div class='user-list-title'>
          {{i18n "admin.flags.flagged_by"}}
        </div>
        <div class='flag-users'>
          {{#each flaggedPost.post_actions as |postAction|}}
            {{#flag-user user=postAction.user date=postAction.created_at}}
              <div class='flagger-flag-type'>
                {{post-action-title postAction.post_action_type_id postAction.name_key}}
              </div>
            {{/flag-user}}
          {{/each}}
        </div>
      </div>

      {{#if showResolvedBy}}
        <div class='flagged-post-resolved-by'>
          <div class='user-list-title'>
            {{i18n "admin.flags.resolved_by"}}
          </div>
          <div class='flag-users'>
            {{#each flaggedPost.post_actions as |postAction|}}
              {{#flag-user user=postAction.disposed_by date=postAction.disposed_at}}
                {{disposition-icon postAction.disposition}}
                {{#if postAction.staff_took_action}}
                  {{d-icon "gavel" title="admin.flags.took_action"}}
                {{/if}}
              {{/flag-user}}
            {{/each}}
          </div>
        </div>
      {{/if}}
    </div>

    {{#if suspended}}
      <div class='suspended-message'>
        The user was suspended for this post.
      </div>
    {{/if}}

    {{#if canAct}}
      <div class='flagged-post-controls'>
        {{d-button
          title="admin.flags.agree_title"
          class="agree-flag"
          label="admin.flags.agree"
          icon="thumbs-o-up"
          action="showAgreeFlagModal"
          ellipsis=true}}

        {{#if flaggedPost.postHidden}}
          {{d-button
            title="admin.flags.disagree_flag_unhide_post_title"
            class="disagree-flag"
            action="disagree"
            icon="thumbs-o-down"
            label="admin.flags.disagree_flag_unhide_post"}}
        {{else}}
          {{d-button
            title="admin.flags.disagree_flag_title"
            class="disagree-flag"
            action="disagree"
            icon="thumbs-o-down"
            label="admin.flags.disagree_flag"}}
        {{/if}}

        {{d-button
          class="defer-flag"
          title="admin.flags.defer_flag_title"
          action="defer"
          icon="external-link"
          label="admin.flags.defer_flag"}}

        {{d-button
          class="btn-danger delete-flag"
          title="admin.flags.delete_title"
          action="showDeleteFlagModal"
          icon="trash-o"
          label="admin.flags.delete"}}

        {{#unless suspended}}
          {{d-button
            class="btn-danger suspend-user"
            icon="ban"
            label="admin.flags.suspend_user"
            title="admin.flags.suspend_user_title"
            action=(action "showSuspendModal")}}
        {{/unless}}
      </div>
    {{/if}}
    {{plugin-outlet
      name="flagged-post-below-controls"
      tagName=""
      args=(hash flaggedPost=flaggedPost canAct=canAct)}}
  </div>
</div>
