{{radio-button name="install-items" id=value value=value selection=selection}}
<label class="radio" for="{{value}}">
  {{#if showIcon}}
    {{d-icon 'plus'}}
  {{/if}}
  {{i18n label}}
</label>
{{d-icon 'caret-right'}}
