<b>{{i18n 'admin.permalink.form.label'}}</b>
{{text-field value=url disabled=formSubmitted class="permalink-url" placeholderKey="admin.permalink.url" autocorrect="off" autocapitalize="off"}}
{{combo-box content=permalinkTypes value=permalinkType}}
{{text-field value=permalink_type_value disabled=formSubmitted class="external-url" placeholderKey=permalinkTypePlaceholder autocorrect="off" autocapitalize="off"}}
<button class="btn" {{action "submit" target="view"}} disabled={{formSubmitted}}>{{i18n 'admin.permalink.form.add'}}</button>
