{{#if collection}}
  <div class="values">
    {{#each collection as |value index|}}
      <div class="value" data-index={{index}}>
        {{d-button action=(action "removeValue")
                   actionParam=value
                   icon="times"
                   class="remove-value-btn btn-small"}}
        {{input value=value.key class="value-input" focus-out=(action "changeKey" index)}}
        {{input value=value.secret class="value-input" focus-out=(action "changeSecret" index) type=(if isSecret "password" "text")}}
      </div>
    {{/each}}
  </div>
{{/if}}

<div class="value">
  {{text-field value=newKey class="new-value-input key" placeholder=setting.placeholder.key}}
  {{input type="password" value=newSecret class="new-value-input secret" placeholder=setting.placeholder.value}}
  {{d-button action=(action "addValue")
             icon="plus"
             class="add-value-btn btn-small"}}
</div>

{{setting-validation-message message=validationMessage}}
