<div class='setting-label'>
   <h3>{{unbound settingName}}</h3>
</div>
<div class="setting-value">
  {{component componentName setting=setting value=buffered.value validationMessage=validationMessage preview=preview isSecret=isSecret}}
</div>
{{#if dirty}}
  <div class='setting-controls'>
    {{d-button class="ok" action=(action "save") icon="check"}}
    {{d-button class="cancel" action=(action "cancel") icon="times"}}
  </div>
{{else if setting.overridden}}
  {{#if setting.secret}}
    {{d-button action=(action "toggleSecret") icon="eye-slash"}}
  {{/if}}
  {{d-button class="btn-default undo" action=(action "resetDefault") icon="undo" label="admin.settings.reset"}}
{{/if}}
