<section class="field">
  <b>{{i18n 'admin.customize.enabled'}}</b>: {{change.enabled}}
</section>

{{site-customization-change-field field=change.stylesheet name="admin.customize.css"}}
{{site-customization-change-field icon="mobile" field=change.mobile_stylesheet name="admin.customize.css"}}

{{site-customization-change-field field=change.header name="admin.customize.header"}}
{{site-customization-change-field icon="mobile" field=change.mobile_header name="admin.customize.header"}}

{{site-customization-change-field field=change.top name="admin.customize.top"}}
{{site-customization-change-field icon="mobile" field=change.mobile_top name="admin.customize.top"}}

{{site-customization-change-field field=change.footer name="admin.customize.footer"}}
{{site-customization-change-field icon="mobile" field=change.mobile_footer name="admin.customize.footer"}}

{{site-customization-change-field icon="file-text-o" field=change.head_tag name="admin.customize.head_tag.text"}}
{{site-customization-change-field icon="file-text-o" field=change.body_tag name="admin.customize.body_tag.text"}}
