<div class='setting-label'>
   <h3>{{unbound settingName}}</h3>
</div>
<div class="setting-value">
  {{component componentName setting=setting value=buffered.value validationMessage=validationMessage}}
</div>
{{#if dirty}}
  <div class='setting-controls'>
    {{d-button class="ok" action="save" icon="check"}}
    {{d-button class="cancel" action="cancel" icon="times"}}
  </div>
{{else if setting.overridden}}
  {{d-button action="resetDefault" icon="undo" label="admin.site_settings.reset"}}
{{/if}}
