<label class="btn {{if addDisabled 'disabled'}}">
  {{d-icon "upload"}}
  {{i18n 'admin.watched_words.form.upload'}}
  <input class="hidden-upload-field" disabled={{addDisabled}} type="file" accept="text/plain,text/csv">
</label>
<span class="instructions">{{i18n 'tagging.upload_instructions'}}</span>
