{{#if collection}}
  <div class='values'>
    {{#each collection as |value index|}}
      <div class='value' draggable='true' data-index={{index}}>
        {{d-button action="removeValue"
                   actionParam=value
                   icon="times"
                   class="btn-small"}}
        {{value}}
      </div>
    {{/each}}
  </div>
{{/if}}

<div class='input'>
  {{text-field value=newValue placeholderKey=addKey}}
  {{d-button action="addValue" icon="plus" class="btn-primary btn-small" disabled=inputInvalid}}
</div>
