<label class="btn btn-default {{if addDisabled 'disabled'}}">
  {{d-icon "upload"}}
  {{i18n 'admin.watched_words.form.upload'}}
  <input class="hidden-upload-field" disabled={{addDisabled}} type="file" accept="text/plain">
</label>
<span class="instructions">{{i18n 'admin.watched_words.one_word_per_line'}}</span>
