<DModalBody @title="chat.channel_edit_description_modal.title" @class={{if this.wordCount.exceeded "exceeded-word-count"}}>
  <span class="chat-channel-edit-description-modal__description">
    {{i18n "chat.channel_edit_description_modal.description"}}
  </span>
  <textarea
    class="chat-channel-edit-description-modal__description-input"
    placeholder={{i18n "chat.channel_edit_description_modal.input_placeholder"}}
    {{on
      "input"
      (action "onChangeChatChannelDescription" value="target.value")
    }}
  >{{this.model.description}}</textarea>
  <small class="chat-channel-edit-description-modal__description-word-count">
    {{this.wordCount.label}}
  </small>

</DModalBody>

<div class="modal-footer">
  <DButton @class="btn-primary create" @action={{action "onSaveChatChannelDescription"}} @label="save" @disabled={{this.isSaveDisabled}} />
  <DModalCancel @close={{route-action "closeModal"}} />
</div>
