<DModalBody @title="chat.channel_edit_title_modal.title">
  <textarea
    class="chat-channel-edit-title-modal__title-input"
    placeholder={{i18n "chat.channel_edit_title_modal.input_placeholder"}}
    {{on "input" (action "onChangeChatChannelTitle" value="target.value")}}
  >{{this.model.title}}</textarea>
  <span class="chat-channel-edit-title-modal__description">
    {{i18n "chat.channel_edit_title_modal.description"}}
  </span>
</DModalBody>

<div class="modal-footer">
  <DButton @class="btn-primary create" @action={{action "onSaveChatChannelTitle"}} @label="save" @disabled={{this.isSaveDisabled}} />
  <DModalCancel @close={{route-action "closeModal"}} />
</div>
