<DModalBody @title="chat.channel_edit_name_modal.title">
  <input
    class="chat-channel-edit-name-modal__name-input"
    placeholder={{i18n "chat.channel_edit_name_modal.input_placeholder"}}
    {{on "input" (action "onChangeChatChannelName" value="target.value")}}
    type="text"
    value={{this.model.title}}
  />
  <span class="chat-channel-edit-name-modal__description">
    {{i18n "chat.channel_edit_name_modal.description"}}
  </span>
</DModalBody>

<div class="modal-footer">
  <DButton
    @class="btn-primary create"
    @action={{action "onSaveChatChannelName"}}
    @label="save"
    @disabled={{this.isSaveDisabled}}
  />
  <DModalCancel @close={{route-action "closeModal"}} />
</div>