<DModalBody @title="chat.create_channel.title">
  <label class="create-channel-label">
    {{i18n "chat.create_channel.choose_category.label"}}
  </label>
  <CategoryChooser @value={{this.categoryId}} @onChange={{action "onCategoryChange"}} @options={{hash none="chat.create_channel.choose_category.none"}} />

  {{#if this.categoryPermissionsHint}}
    <div class="create-channel-hint">
      {{this.categoryPermissionsHint}}
    </div>
  {{/if}}

  {{#if this.autoJoinAvailable}}
    <label class="create-channel-label">
      <Input @type="checkbox" @checked={{this.autoJoinUsers}} />
      <span>{{i18n "chat.settings.enable_auto_join_users"}}</span>
    </label>
  {{/if}}

  <label class="create-channel-label">
    {{i18n "chat.create_channel.name"}}
  </label>
  <Input class="create-channel-name-input" @type="text" @value={{this.name}} />

  <label class="create-channel-label">
    {{i18n "chat.create_channel.description"}}
  </label>
  <Input class="create-channel-description-input" @type="textarea" @value={{this.description}} />
</DModalBody>

<div class="modal-footer">
  <DButton @class="btn-primary create" @action={{action "create"}} @label="chat.create_channel.create" @disabled={{this.createDisabled}} />
</div>
