{{#if this.item.isUser}}
  {{avatar this.item imageSize="tiny"}}
  <span class="identifier">{{format-username this.item.id}}</span>
  <span class="name">{{this.item.name}}</span>
  {{decorate-username-selector this.item.id}}
{{else if this.item.isGroup}}
  {{d-icon "users"}}
  <span class="identifier">{{this.item.id}}</span>
  <span class="name">{{this.item.full_name}}</span>
{{else}}
  {{d-icon "envelope"}}
  <span class="identifier">{{this.item.id}}</span>
{{/if}}
