{{#if this.category}}
  <div class="category-status" aria-hidden="true">
    {{#if this.hasParentCategory}}
      {{#unless this.hideParentCategory}}
        {{this.badgeForParentCategory}}
      {{/unless}}
    {{/if}}
    {{this.badgeForCategory}}
  </div>

  {{#if this.shouldDisplayDescription}}
    <div class="category-desc" aria-hidden="true">{{dir-span
        this.descriptionText
        htmlSafe="true"
      }}</div>
  {{/if}}
{{else}}
  {{html-safe this.label}}
{{/if}}