{{#if this.appendReason}}
  <p class="reason">
    <PinnedOptions @value={{this.pinned}} @topic={{this.topic}} />
    <span class="text">{{html-safe this.reasonText}}</span>
  </p>
{{else}}
  <PinnedOptions @value={{this.pinned}} @topic={{this.topic}} />
{{/if}}