{{#if this.selectKit.options.showFullTitle}}
  <div
    lang={{this.lang}}
    title={{this.title}}
    data-value={{this.value}}
    data-name={{this.name}}
    class="select-kit-selected-name selected-name choice"
  >
    {{#if this.selectKit.options.formName}}
      <input
        type="hidden"
        name={{this.selectKit.options.formName}}
        value={{this.value}}
      />
    {{/if}}

    {{#if this.item.icon}}
      {{d-icon this.item.icon}}
    {{/if}}

    <span class="name">
      {{this.label}}
    </span>

    {{#if this.shouldDisplayClearableButton}}
      <DButton
        @class="btn-clear"
        @icon="times"
        @action={{this.selectKit.deselect}}
        @actionParam={{this.item}}
        @ariaLabel="clear_input"
      />
    {{/if}}
  </div>
{{else}}
  {{#if this.item.icon}}
    <div
      lang={{this.lang}}
      class="select-kit-selected-name selected-name choice"
    >
      {{d-icon this.item.icon}}
    </div>
  {{/if}}
{{/if}}