{{#if this.item.url}}
  <AvatarFlair
    @flairName={{this.item.name}}
    @flairUrl={{this.item.url}}
    @flairBgColor={{this.item.bgColor}}
    @flairColor={{this.item.color}}
  />
{{/if}}

<span>{{this.label}}</span>
