<div class='container body-page'>
  <section class='about'>
    <h2>{{i18n about.title title=title}}</h2>
    <p>{{description}}</p>
  </section>

  {{#if admins}}
    <section class='about admins'>
      <h3>{{i18n about.our_admins}}</h3>

      {{#each admins}}
        {{user-small user=this}}
      {{/each}}
      <div class='clearfix'></div>

    </section>
  {{/if}}

  {{#if moderators}}
    <section class='about moderators'>
      <h3>{{i18n about.our_moderators}}</h3>

      <div class='users'>
        {{#each moderators}}
          {{user-small user=this}}
        {{/each}}
      </div>
      <div class='clearfix'></div>
    </section>
  {{/if}}

  <section class='about stats'>
    <h3>{{i18n about.stats}}</h3>

    <table class='table'>
      <tr>
        <th>&nbsp;</th>
        <th>{{i18n about.stat.all_time}}</th>
        <th>{{i18n about.stat.last_7_days}}</th>
      <tr>
        <td class='title'>{{i18n about.topic_count}}</td>
        <td>{{number stats.topic_count}}</td>
        <td>{{number stats.topics_7_days}}</td>
      </tr>
      <tr>
        <td>{{i18n about.post_count}}</td>
        <td>{{number stats.post_count}}</td>
        <td>{{number stats.posts_7_days}}</td>
      </tr>
      <tr>
        <td>{{i18n about.user_count}}</td>
        <td>{{number stats.user_count}}</td>
        <td>{{number stats.users_7_days}}</td>
      </tr>
      <tr>
        <td>{{i18n about.like_count}}</td>
        <td>{{number stats.like_count}}</td>
        <td>{{number stats.likes_7_days}}</td>
      </tr>
    </table>
    </table>
  </section>

</div>
