{{#d-section pageClass="about"}}
  <div class='container'>
    <div class='contents clearfix body-page'>

      <ul class="nav-pills">
        <li class="nav-item-about">{{#link-to 'about' class="active"}}{{i18n 'about.simple_title'}}{{/link-to}}</li>
        {{#if faqOverriden}}
          <li class="nav-item-guidelines">{{#link-to 'guidelines'}}{{i18n 'guidelines'}}{{/link-to}}</li>
          <li class="nav-item-faq">{{#link-to 'faq'}}{{i18n 'faq'}}{{/link-to}}</li>
        {{else}}
          <li class="nav-item-faq">{{#link-to 'faq'}}{{i18n 'faq'}}{{/link-to}}</li>
        {{/if}}
        <li class="nav-item-tos">{{#link-to 'tos'}}{{i18n 'tos'}}{{/link-to}}</li>
        <li class="nav-item-privacy">{{#link-to 'privacy'}}{{i18n 'privacy'}}{{/link-to}}</li>
      </ul>

      <section class='about description'>
        <h2>{{i18n 'about.title' title=model.title}}</h2>
        <p>{{model.description}}</p>
      </section>

      {{plugin-outlet name="about-after-description"
              connectorTagName='section'
              tagName=''
              args=(hash model=model)}}

      {{#if model.admins}}
        <section class='about admins'>
          <h3>{{d-icon "users"}} {{i18n 'about.our_admins'}}</h3>

          {{about-page-users users=model.admins}}
          <div class='clearfix'></div>

        </section>
      {{/if}}

      {{plugin-outlet name="about-after-admins"
                    connectorTagName='section'
                    args=(hash model=model)}}

      {{#if model.moderators}}
        <section class='about moderators'>
          <h3>{{d-icon "users"}} {{i18n 'about.our_moderators'}}</h3>

          <div class='users'>
            {{about-page-users users=model.moderators}}
          </div>
          <div class='clearfix'></div>
        </section>
      {{/if}}

      {{plugin-outlet name="about-after-moderators"
                    connectorTagName='section'
                    args=(hash model=model)}}

      {{#if model.category_moderators.length}}
        {{#each model.category_moderators as |cm|}}
          <section class='about category-moderators moderators-{{cm.category.slug}}'>
            <h3>{{category-link cm.category}}{{i18n "about.moderators"}}</h3>
            <div class='users'>
              {{about-page-users users=cm.moderators}}
            </div>
            <div class='clearfix'></div>
          </section>
        {{/each}}
      {{/if}}
      <section class='about stats'>
        <h3>{{d-icon "far-chart-bar"}}  {{i18n 'about.stats'}}</h3>

        <table class='table'>
          <tbody>
            <tr>
              <th>&nbsp;</th>
              <th>{{i18n 'about.stat.last_7_days'}}</th>
              <th>{{i18n 'about.stat.last_30_days'}}</th>
              <th>{{i18n 'about.stat.all_time'}}</th>
            </tr>
            <tr>
              <td class='title'>{{i18n 'about.topic_count'}}</td>
              <td>{{number model.stats.topics_7_days}}</td>
              <td>{{number model.stats.topics_30_days}}</td>
              <td>{{number model.stats.topic_count}}</td>
            </tr>
            <tr>
              <td>{{i18n 'about.post_count'}}</td>
              <td>{{number model.stats.posts_7_days}}</td>
              <td>{{number model.stats.posts_30_days}}</td>
              <td>{{number model.stats.post_count}}</td>
            </tr>
            <tr>
              <td>{{i18n 'about.user_count'}}</td>
              <td>{{number model.stats.users_7_days}}</td>
              <td>{{number model.stats.users_30_days}}</td>
              <td>{{number model.stats.user_count}}</td>
            </tr>
            <tr>
              <td>{{i18n 'about.active_user_count'}}</td>
              <td>{{number model.stats.active_users_7_days}}</td>
              <td>{{number model.stats.active_users_30_days}}</td>
              <td>&mdash;</td>
            </tr>
            <tr>
              <td>{{i18n 'about.like_count'}}</td>
              <td>{{number model.stats.likes_7_days}}</td>
              <td>{{number model.stats.likes_30_days}}</td>
              <td>{{number model.stats.like_count}}</td>
            </tr>
          </tbody>
        </table>
      </section>

      {{#if contactInfo}}
        <section class='about contact'>
            <h3>{{d-icon "far-envelope"}} {{i18n 'about.contact'}}</h3>
            <p>{{{contactInfo}}}</p>
        </section>
      {{/if}}

    </div>
  </div>
{{/d-section}}
