{{render "header"}}

<div id='main-outlet' {{bind-attr class=backgroundClass}}>
  {{outlet}}
  {{render "user-expansion"}}
</div>

{{render "modal"}}
{{render "topic-entrance"}}
{{render "composer"}}
