
{{site-header canSignUp=canSignUp
              showCreateAccount="showCreateAccount"
              showLogin="showLogin"
              showKeyboard="showKeyboardShortcutsHelp"
              toggleMobileView="toggleMobileView"
              toggleAnonymous="toggleAnonymous"
              logout="logout"
              showSearchHelp="showSearchHelp"}}

<div id="main-outlet" class="wrap">
  <div class="container">
    {{#if showTop}}
      {{custom-html "top"}}
    {{/if}}
    {{global-notice}}
    {{create-topics-notice}}
  </div>
  {{outlet}}
  {{render "user-card"}}
</div>

{{plugin-outlet "above-footer"}}
{{#if showFooter}}
  {{custom-html "footer"}}
{{/if}}
{{plugin-outlet "below-footer"}}

{{render "modal"}}
{{render "topic-entrance"}}
{{render "composer"}}
