{{plugin-outlet "above-site-header"}}
{{site-header canSignUp=canSignUp
              showCreateAccount="showCreateAccount"
              showLogin="showLogin"
              showKeyboard="showKeyboardShortcutsHelp"
              toggleMobileView="toggleMobileView"
              toggleAnonymous="toggleAnonymous"
              logout="logout"}}
{{plugin-outlet "below-site-header"}}

<div id="main-outlet" class="wrap">
  <div class="container">
    {{#if showTop}}
      {{custom-html "top"}}
    {{/if}}
    {{global-notice}}
    {{create-topics-notice}}
  </div>
  {{outlet}}
  {{outlet "user-card"}}
</div>

{{plugin-outlet "above-footer"}}
{{#if showFooter}}
  {{custom-html "footer"}}
{{/if}}
{{plugin-outlet "below-footer"}}

{{outlet "modal"}}
{{topic-entrance}}
{{outlet "composer"}}
