{{plugin-outlet name="above-site-header"}}
{{site-header canSignUp=canSignUp
              showCreateAccount=(route-action "showCreateAccount")
              showLogin=(route-action "showLogin")
              showKeyboard=(route-action "showKeyboardShortcutsHelp")
              toggleMobileView=(route-action "toggleMobileView")
              toggleAnonymous=(route-action "toggleAnonymous")
              logout=(route-action "logout")}}

{{plugin-outlet name="below-site-header" args=(hash currentPath=currentPath)}}

<div id="main-outlet" class="wrap">
  <div class="container">
    {{#if showTop}}
      {{custom-html name="top"}}
    {{/if}}
    {{notification-consent-banner}}
    {{global-notice}}
    {{create-topics-notice}}
  </div>
  {{outlet}}
  {{outlet "user-card"}}
</div>

{{plugin-outlet name="above-footer" args=(hash showFooter=showFooter)}}
{{#if showFooter}}
  {{custom-html name="footer" triggerAppEvent="true"}}
{{/if}}
{{plugin-outlet name="below-footer" args=(hash showFooter=showFooter)}}

{{outlet "modal"}}
{{topic-entrance}}
{{outlet "composer"}}
