{{plugin-outlet "above-site-header"}}
{{site-header canSignUp=canSignUp
              showCreateAccount=(action "appRouteAction" "showCreateAccount")
              showLogin=(action "appRouteAction" "showLogin")
              showKeyboard=(action "appRouteAction" "showKeyboardShortcutsHelp")
              toggleMobileView=(action "appRouteAction" "toggleMobileView")
              toggleAnonymous=(action "appRouteAction" "toggleAnonymous")
              logout=(action "appRouteAction" "logout")}}
{{plugin-outlet "below-site-header"}}

<div id="main-outlet" class="wrap">
  <div class="container">
    {{#if showTop}}
      {{custom-html "top"}}
    {{/if}}
    {{global-notice}}
    {{create-topics-notice}}
  </div>
  {{outlet}}
  {{outlet "user-card"}}
</div>

{{plugin-outlet "above-footer"}}
{{#if showFooter}}
  {{custom-html "footer"}}
{{/if}}
{{plugin-outlet "below-footer"}}

{{outlet "modal"}}
{{topic-entrance}}
{{outlet "composer"}}
