<div>
<button class='btn standard dropdown-toggle' data-toggle='dropdown'>
  <i {{bind-attr class=view.icon}}"></i>&nbsp;{{view.text}}
  <span class='caret'></span>
</button>


<ul class='notification-dropdown-menu'>
  {{#each level in view.dropDownContent}}
    <li data-id="{{level.id}}">
      <a {{action setNotification level.id}} href="#">
        <span class='title'>{{level.title}}</span><span>{{level.description}}</span>
      </a>
    </li>
  {{/each}}
</ul>
</div>