<div class="container">
  {{discourse-banner user=currentUser banner=site.banner}}
</div>

<div class="list-controls">
  <div class="container">
    {{outlet "navigation-bar"}}
  </div>
</div>

{{conditional-loading-spinner condition=loading}}

<div class="container list-container {{if loading "hidden"}}">
  <div class="row">
    <div class="full-width">
      <div id="header-list-area">
        {{outlet "header-list-container"}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="full-width">
      <div id="list-area">
        {{plugin-outlet "discovery-list-container-top"}}
        {{outlet "list-container"}}
      </div>
    </div>
  </div>
</div>

{{plugin-outlet "discovery-below"}}
