<div class='container'>
  {{custom-html "top"}}
  {{Discourse.globalNotice}}
  {{discourse-banner user=currentUser banner=Discourse.banner}}
</div>

<div class='list-controls'>
  <div class="container">
    {{outlet navigation-bar}}
  </div>
</div>

<div {{bind-attr class="loadingSpinner::hidden"}}>
  <div class='spinner'>{{i18n loading}}</div>
</div>


<div {{bind-attr class=":container :list-container loadingSpinner:hidden"}}>
  <div class="row">
    <div class="full-width">
      <div id='header-list-area'>
        {{outlet header-list-container}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="full-width">
      <div id='list-area'>
        {{outlet list-container}}
      </div>
    </div>
  </div>
</div>
