<div class='row'>
  <div class='topic-avatar'>
    {{raw "post/poster-avatar" post=this classNames="main-avatar"}}
  </div>
  <div class='topic-body'>
    <div class="topic-meta-data">
      {{poster-name post=this}}
      {{#if view.parentView.previousPost}}<a href='{{unbound url}}' class="post-info arrow" title="{{i18n 'topic.jump_reply_up'}}"><i class='fa fa-arrow-up'></i></a>{{/if}}
      {{#unless view.parentView.previousPost}}<a href='{{unbound url}}' class="post-info arrow" title="{{i18n 'topic.jump_reply_down'}}"><i class='fa fa-arrow-down'></i></a>{{/unless}}
      <a href='{{unbound url}}'><div class='post-info post-date'>{{age-with-tooltip created_at}}</div></a>
    </div>
    <div class='cooked'>
      {{{unbound cooked}}}
    </div>
  </div>
</div>
