{{#with view.content}}
  <div class='row'>
    <div class='topic-meta-data span2'>
      <div class='contents'>
        <div>
          <a href='/users/{{unbound username}}'>{{avatar this imageSize="small"}}</a>
        </div>
        <h5 {{bindAttr class="staff new_user"}}><a href='{{unbound usernameUrl}}'>{{breakUp username}}</a></h5>
        <span class='post-date'>{{date created_at}}</span>
      </div>

    </div>
    <div class='span11 topic-body'>
      {{#if view.previousPost}}<a href='{{unbound url}}' class="arrow" title="{{i18n topic.jump_reply_up}}"><i class='icon icon-arrow-up'></i></a>{{/if}}
      {{{unbound cooked}}}
      {{#unless view.previousPost}}<a href='{{unbound url}}' class="arrow" title="{{i18n topic.jump_reply_down}}"><i class='icon icon-arrow-down'></i></a>{{/unless}}
    </div>
  </div>
{{/with}}
