<div class='emoji-modal'>
  <ul class='toolbar'>
    {{#each toolbarItems as |item|}}<li><a title='{{item.title}}' {{#if item.selected}}class='selected'{{/if}} data-group-id='{{item.groupId}}'><img src='{{item.src}}' class='emoji'></a></li>{{/each}}
  </ul>
  <div class='emoji-table-wrapper'>
  <table class='emoji-page'>
    {{#each rows as |row|}}
      <tr>
        {{#each row as |item|}}
          <td><a title='{{item.title}}'><img src='{{item.src}}' class='emoji'></a></td>
        {{/each}}
      </tr>
    {{/each}}
  </table>
  </div>

  <div class='info'></div>
  <div class='nav'>
    <span class='prev'>
      {{#if prevDisabled}}
        {{fa-icon "fast-backward"}}
      {{else}}
        <a>{{fa-icon "fast-backward"}}</a>
      {{/if}}
    </span>
    <span class='next'>
      {{#if nextDisabled}}
        {{fa-icon "fast-forward"}}
      {{else}}
        <a>{{fa-icon "fast-forward"}}</a>
      {{/if}}
    </span>
  </div>
  <div class='clearfix'></div>
</div>
