<div class="container">
  <div class="error-page">
    <div class="face">:(</div>
    <div class="reason">{{reason}}</div>
    <div class="url">
      {{i18n 'errors.prev_page'}} <a href={{requestUrl}} data-auto-route="true">{{requestUrl}}</a>
    </div>
    <div class="desc">
      {{#if networkFixed}}
        <i class="fa fa-check-circle"></i>
      {{/if}}

      {{desc}}
    </div>
    <div class="buttons">
      {{#each enabledButtons as |buttonData|}}
        {{d-button icon=buttonData.icon action=buttonData.action label=buttonData.key class=buttonData.classes}}
      {{/each}}
      {{conditional-loading-spinner condition=loading}}
    </div>
  </div>
</div>
