<div class="container">
  <div class="error-page">
    <div class="face">:(</div>
    <div class="reason">{{reason}}</div>
    <div class="url">
      {{i18n 'errors.prev_page'}} <a {{bind-attr href=requestUrl}} data-auto-route="true">{{requestUrl}}</a>
    </div>
    <div class="desc">
      {{#if networkFixed}}
        <i class="fa fa-check-circle"></i>
      {{/if}}

      {{desc}}
    </div>
    <div class="buttons">
      {{#each buttonData in enabledButtons}}
        <button class="btn {{unbound buttonData.classes}}" {{action buttonData.action}}>{{boundI18n buttonData.key}}</button>
      {{/each}}
      {{conditional-loading-spinner condition=loading}}
    </div>
  </div>
</div>
