  <div class="modal-body flag-modal">
    {{#if view.post.flagsAvailable}}
      <form>
        {{#each view.boundFlags}}
          <div class='controls'>
            <label class='radio'>
              <input type='radio' id="radio_{{unbound name_key}}" {{action changePostActionType this target="view"}} name='post_action_type_index'> <strong>{{formattedName}}</strong>
              {{#if is_custom_flag}}
                {{#unless selected}}
                  <div class='description'>{{{description}}}</div>
                {{/unless}}
              {{else}}
                {{#if description}}
                  <div class='description'>{{{description}}}</div>
                {{/if}}
              {{/if}}
            </label>
            {{#if is_custom_flag}}
                {{#if selected}}
                  {{textarea name="message" class="flag-message" placeholder=customPlaceholder value=message}}
                  <div {{bindAttr class="customMessageLengthClasses"}}>{{customMessageLength}}</div>
                {{/if}}
            {{/if}}
          </div>
        {{/each}}
      </form>
    {{else}}
      {{i18n flagging.cant}}
    {{/if}}
  </div>

  {{#if view.showSubmit}}
    <div class="modal-footer">
      <button class='btn btn-primary' {{action createFlag target="view"}}>{{view.submitText}}</button>
    </div>
  {{/if}}
