<div class="search row">
  {{input type="text" value=searchTerm class="input-xxlarge search no-blur" action="search"}}
  <button {{action "search"}} class="btn btn-primary"><i class='fa fa-search'></i></button>
</div>

{{#conditional-loading-spinner condition=loading}}

{{#unless model.posts}}
<h3>{{i18n "search.no_results"}} <a href class="show-help" {{action "showSearchHelp" bubbles=false}}>{{i18n "search.search_help"}}</a>
</h3>
{{/unless}}

{{#each model.posts as |result|}}
  <div class='fps-result'>
      <div class='topic'>
        {{avatar result imageSize="tiny"}}
        <a class='search-link' href='{{unbound result.url}}'>
          {{topic-status topic=result.topic disableActions=true}}<span class='topic-title'>{{unbound result.topic.title}}</span>
        </a>{{category-link result.topic.category}}
      </div>
      <div class='blurb container'>
        {{format-age result.created_at}}{{#if result.blurb}}
        &ndash;
        {{{unbound result.blurb}}}
        {{/if}}
      </div>
  </div>
{{/each}}

{{#if model.posts}}
<h3 class="search-footer">
  {{i18n "search.no_more_results"}}
  <a href class="show-help" {{action "showSearchHelp" bubbles=false}}>{{i18n "search.search_help"}}</a>
</h3>
{{/if}}

{{/conditional-loading-spinner}}

