{{#if model}}
  {{#if isOwner}}
    <form id='add-user-to-group' autocomplete="off">
      {{user-selector usernames=usernames placeholderKey="groups.selector_placeholder" id="user-search-selector" name="usernames"}}
      {{d-button action="addMembers" class="add" icon="plus" label="groups.add"}}
    </form>
  {{/if}}

  {{#load-more selector=".group-members tr" action="loadMore"}}
    <table class='group-members'>
      <thead>
        <th></th>
        <th>{{i18n 'last_post'}}</th>
        <th>{{i18n 'last_seen'}}</th>
        <th></th>
      </thead>

      <tbody>
        {{#each model.members as |m|}}
          <tr>
            <td class='avatar'>
              {{#user-info user=m skipName=skipName}}
                {{#if m.owner}}<strong class="group-owner-label">{{i18n "groups.owner"}}</strong>{{/if}}
              {{/user-info}}
            </td>
            <td>
              <span class="text">{{bound-date m.last_posted_at}}</span>
            </td>
            <td>
              <span class="text">{{bound-date m.last_seen_at}}</span>
            </td>
            <td class='remove-user'>
              {{#if isOwner}}
                {{#unless m.owner}}
                  <a class="remove-link" {{action "removeMember" m}}><i class="fa fa-times"></i></a>
                {{/unless}}
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/load-more}}

  {{conditional-loading-spinner condition=loading}}
{{else}}
  <div>{{i18n "groups.empty.users"}}</div>
{{/if}}
