<div class="container group">
  {{#link-to "groups" class='group-breadcrumb'}}{{fa-icon 'arrow-left'}} {{i18n 'groups.index.title'}}{{/link-to}}

  <div class='group-details-container'>
    <div class='group-info'>
      {{#if model.flair_url}}
        <span class='group-avatar-flair'>
          {{avatar-flair
            flairURL=model.flair_url
            flairBgColor=model.flair_bg_color
            flairColor=model.flair_color
            groupName=model.name}}
        </span>
      {{/if}}

      <span>
        <span class='group-info-name'>{{groupName}}</span>

        <div>
          {{#if model.full_name}}<span class='group-info-full-name'>{{model.name}}</span>{{/if}}
        </div>
      </span>
    </div>

    {{#if model.bio_cooked}}
      <hr/>

      <div class='group-bio'>
        <p>{{{model.bio_cooked}}}</p>
      </div>
    {{/if}}
  </div>

  {{#mobile-nav class='group-nav' desktopClass="pull-left nav nav-stacked" currentPath=application.currentPath}}
    {{#each getTabs as |tab|}}
      <li class="{{if tab.active 'active'}}">
        {{#link-to tab.location model title=tab.message}}
          {{tab.message}}
          {{#if tab.count}}<span class='count'>({{tab.count}})</span>{{/if}}
        {{/link-to}}
      </li>
    {{/each}}
  {{/mobile-nav}}

  <div class='pull-left group-outlet'>
    <div class='user-main'>
      {{outlet}}
    </div>
  </div>
</div>
