<div class="container user-table">
  <div class="wrapper">
  <section class='user-navigation'>
    <ul class='action-list nav-stacked'>
      {{#each tabs as |tab|}}
        <li class="{{if tab.active 'active'}}">
          {{#link-to tab.location model title=tab.message}}
            {{tab.message}}
            {{#if tab.count}}<span class='count'>({{tab.count}})</span>{{/if}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </section>

  <section class='user-main'>
    <section class='user-right groups'>
      <section class='about group'>
        <div class='details'>
          <h1>{{model.name}}</h1>
        </div>
      </section>
      {{outlet}}
    </section>
  </section>
  </div>
</div>
