<div class="container user-table">
  <div class="wrapper">
  <section class='user-navigation'>
    <ul class='action-list nav-stacked'>
      {{#each getTabs as |tab|}}
        <li class="{{if tab.active 'active'}}">
          {{#link-to tab.location model title=tab.message}}
            {{tab.message}}
            {{#if tab.count}}<span class='count'>({{tab.count}})</span>{{/if}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </section>

  <section class='user-main'>
    <section class='user-right groups'>
      <section class='about group'>
        <div class='details group-details'>
          <span>
            <h1 class='group-header'>
              {{#if model.flair_url}}
                <span class='group-avatar-flair'>
                  {{avatar-flair
                    flairURL=model.flair_url
                    flairBgColor=model.flair_bg_color
                    flairColor=model.flair_color
                    groupName=model.name}}
                </span>
              {{/if}}
              <span class='group-name'>{{groupName}}</span>
            </h1>
          </span>

          {{#if canEditGroup}}
            <span>
              {{d-button action="showGroupEditor" class="group-edit-btn btn-small" icon="pencil"}}
            </span>
          {{/if}}
        </div>
      </section>
      {{outlet}}
    </section>
  </section>
  </div>
</div>
