<div class="container group">
  <div class='pull-left group-nav'>
    <ul class='nav-stacked'>
      {{#each getTabs as |tab|}}
        <li class="{{if tab.active 'active'}}">
          {{#link-to tab.location model title=tab.message}}
            {{tab.message}}
            {{#if tab.count}}<span class='count'>({{tab.count}})</span>{{/if}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>

  <div class='pull-left group-outlet'>
    <div class='group-details-container'>
      <div class='group-details'>
        <span>
          <h1 class='group-header'>
            {{#if model.flair_url}}
              <span class='group-avatar-flair'>
                {{avatar-flair
                  flairURL=model.flair_url
                  flairBgColor=model.flair_bg_color
                  flairColor=model.flair_color
                  groupName=model.name}}
              </span>
            {{/if}}
            <span class='group-name'>{{groupName}}</span>
          </h1>
        </span>

        {{#if canEditGroup}}
          <span>
            {{d-button action="showGroupEditor" class="group-edit-btn btn-small" icon="pencil"}}
          </span>
        {{/if}}
      </div>

      {{#if model.bio_cooked}}
        <div class='group-bio'>
          <p>{{{model.bio_cooked}}}</p>
        </div>
      {{/if}}
    </div>

    <div class='user-main'>
      {{outlet}}
    </div>
  </div>
</div>
