<div class='group-edit'>
  <form class="form-horizontal">
    <div class="control-group">
      <label for='full_name'>{{i18n 'groups.edit.full_name'}}</label>
      {{input type='text' name='full_name' value=model.full_name class='group-edit-full-name'}}
    </div>

    <div class="control-group">
      <label for='bio'>{{i18n 'groups.bio'}}</label>
      {{d-editor value=model.bio_raw class="group-edit-bio"}}
    </div>

    <div class="control-group">
      {{group-members-input model=model}}
    </div>

    <div class="control-group">
      {{group-flair-inputs model=model}}
    </div>

    <div class="control-group">
      <label>
        {{input type='checkbox'
            checked=model.public_admission
            class="group-edit-public-admission"
            disabled=model.allow_membership_requests}}

        {{i18n 'groups.public_admission'}}
      </label>
    </div>

    <div class="control-group">
      <label>
        {{input type='checkbox'
            checked=model.public_exit
            class="group-edit-public-exit"}}

        {{i18n 'groups.public_exit'}}
      </label>
    </div>

    <div class="control-group">
      <label>
        {{input type='checkbox'
            checked=model.allow_membership_requests
            class="group-edit-allow-membership-requests"
            disabled=model.public_admission}}

        {{i18n 'groups.allow_membership_requests'}}
      </label>
    </div>

    {{#if model.allow_membership_requests}}
      <div>
        <label for="membership-request-template">
          {{i18n 'groups.membership_request_template'}}
        </label>

        {{expanding-text-area name="membership-request-template"
            value=model.membership_request_template
            class="group-edit-membership-request-template"}}
      </div>
    {{/if}}

    {{plugin-outlet name="group-edit" args=(hash group=model)}}

    {{d-button action="save" class="btn-primary" disabled=saving label="save"}}
    {{savingText}}
  </form>
</div>
