<div class="container group">
  <div class='group-details-container'>
    <div class='group-details'>
      {{#if model.flair_url}}
        <span class='group-avatar-flair'>
          {{avatar-flair
            flairURL=model.flair_url
            flairBgColor=model.flair_bg_color
            flairColor=model.flair_color
            groupName=model.name}}
        </span>
      {{/if}}

      <span>
        <h1 class='group-header'>
          <span class='group-title'>{{groupName}}</span>
        </h1>

        {{#if model.full_name}}
          <h3 class='group-name'>@{{model.name}}</h3>
        {{/if}}
      </span>
    </div>

    {{#if model.bio_cooked}}
      <hr/>

      <div class='group-bio'>
        <p>{{{model.bio_cooked}}}</p>
      </div>
    {{/if}}
  </div>

  {{#mobile-nav class='group-nav' desktopClass="pull-left nav nav-stacked" currentPath=currentPath}}
    {{#each getTabs as |tab|}}
      <li class="{{if tab.active 'active'}}">
        {{#link-to tab.location model title=tab.message}}
          {{tab.message}}
          {{#if tab.count}}<span class='count'>({{tab.count}})</span>{{/if}}
        {{/link-to}}
      </li>
    {{/each}}
  {{/mobile-nav}}

  <div class='pull-left group-outlet'>
    <div class='user-main'>
      {{outlet}}
    </div>
  </div>
</div>
