<div class='container'>
  <div class='contents clearfix'>

    {{home-logo minimized=showExtraInfo}}

    {{#if showExtraInfo}}
      <div class="extra-info-wrapper">
        <div class="extra-info">
          {{#if showStarButton}}
            <a {{bind-attr class=":star topic.starred:starred"}} {{action toggleStar}} href='#' {{bind-attr title="topic.starTooltip"}}></a>
          {{/if}}
          <h1>
            {{#if topic.isPrivateMessage}}
              <span class="private-message-glyph">{{icon envelope}}</span>
            {{/if}}
          {{#if topic.category.parentCategory}}
            {{bound-category-link topic.category.parentCategory}}
          {{/if}}
          {{bound-category-link topic.category}}
          {{#if topic.details.loaded}}
            {{topic-status topic=topic}}
            <a class='topic-link' href='{{unbound topic.url}}' {{action jumpToTopPost}}>{{{topic.fancy_title}}}</a>
          {{else}}
            {{#if topic.errorLoading}}
              {{topic.errorTitle}}
            {{else}}
              {{i18n topic.loading}}
            {{/if}}
          {{/if}}
          </h1>
        </div>
      </div>
    {{/if}}

    <div class='panel clearfix'>
      {{#unless showExtraInfo}}
        <div class='current-username'>
          {{#if currentUser}}
            <span class='username'><a {{bind-attr href="currentUser.path"}}>{{currentUser.displayName}}</a></span>
          {{/if}}
        </div>
      {{/unless}}
      {{#unless currentUser}}
        <button {{action showLogin}} class='btn btn-primary btn-small login-button'>
          {{icon user}} {{i18n log_in}}
        </button>
      {{/unless}}
      <ul class='icons clearfix' role='navigation'>
        {{#if currentUser}}
          <li class='notifications'>
            <a class='icon' href="#" {{action showNotifications target="view"}} data-notifications="notifications-dropdown" id='user-notifications' title='{{i18n notifications.title}}'>
              {{icon comment label="notifications.title"}}
            </a>
            {{#if currentUser.unread_notifications}}
              <a href='#' class='badge-notification unread-notifications'>{{currentUser.unread_notifications}}</a>
            {{/if}}
            {{#if currentUser.unread_private_messages}}
              <a href='#' class='badge-notification unread-private-messages'>{{currentUser.unread_private_messages}}</a>
            {{/if}}
          </li>
        {{/if}}
        <li>
          {{#if Discourse.loginRequired}}
            <a id='search-button' class='icon expand' href='#' aria-hidden="true" {{action showLogin}}>
              {{icon search}}
            </a>
          {{else}}
            <a id='search-button'
               class='icon expand'
               href='#'
               data-dropdown="search-dropdown"
               title='{{i18n search.title}}'>
               {{icon search label="search.title"}}
            </a>
          {{/if}}
        </li>
        <li class='categories dropdown'>
          {{#if Discourse.loginRequired}}
            <a class='icon'
               href="#"
               aria-hidden="true"
               {{action showLogin}}>
               {{icon bars}}
            </a>
          {{else}}
            <a class='icon'
               data-dropdown="site-map-dropdown"
               data-render="renderSiteMap"
               href="#"
               title='{{i18n site_map}}'
               id="site-map">
               {{icon bars label="site_map"}}
            </a>
          {{/if}}
          {{#if currentUser.site_flagged_posts_count}}
            <a href='/admin/flags/active' title='{{i18n notifications.total_flagged}}' class='badge-notification flagged-posts'>{{currentUser.site_flagged_posts_count}}</a>
          {{/if}}
        </li>
        {{#if currentUser}}
          <li class='current-user dropdown'>
            <a class='icon'
               data-dropdown="user-dropdown"
               data-render="renderUserDropdown"
               href="#"
               title='{{i18n user.avatar.title}}'
               id="current-user">
                 {{bound-avatar currentUser "medium"}}
            </a>
          </li>
        {{/if}}
      </ul>

      {{render "search"}}

      {{render "notifications" notifications}}

      {{#if view.renderSiteMap}}
        {{render "siteMap"}}
      {{/if}}

      {{render "userDropdown"}}

    </div>
  </div>
</div>


