<ul class="nav nav-pills image-options">
  <li title="{{i18n image_selector.local_title}}" {{bindAttr class="view.localSelected:active"}}>
  <a href="#" {{action selectLocal target="view"}}>{{i18n image_selector.from_my_computer}}</a>
  </li>
  <li title="{{i18n image_selector.remote_title}}" {{bindAttr class="view.remoteSelected:active"}}>
  <a href="#" {{action selectRemote target="view"}}>{{i18n image_selector.from_the_web}}</a>
  </li>
</ul>

{{#if view.localSelected}}
<div class='modal-body'>
  <form>
    <input type="file" name="file" id="filename-input" value="browse" accept="image/*"><br>
    <span class='description'>{{i18n image_selector.local_tip}}</span> <br>
  </form>
</div>
<div class='modal-footer'>
  <button class='btn btn-large btn-primary' {{action "upload" target="view"}}>
    <span class='add-picture'><i class='icon-picture'></i><i class='icon-plus'></i></span>
    {{i18n image_selector.upload}}
  </button>
</div>
{{else}}
<div class='modal-body'>
  <form>
    <input type="text" name="text" id="fileurl-input" autofocus><br>
    <span class='description'>{{i18n image_selector.remote_tip}}</span> <br>
  </form>
</div>
<div class='modal-footer'>
  <button class='btn btn-large btn-primary' {{action "add" target="view"}}>
    <span class='add-picture'><i class='icon-picture'></i><i class='icon-plus'></i></span>
    {{i18n image_selector.add_image}}
  </button>
</div>
{{/if}}
