<div class='list-controls'>
  <div class="container">

    {{discourse-breadcrumbs category=category categories=categories}}

    <ul class="nav nav-pills" id='category-filter'>
      {{each availableNavItems itemViewClass="Discourse.NavItemView"}}
    </ul>

    {{#if canCreateTopic}}
      <button class='btn btn-default' {{action createTopic}}><i class='icon icon-plus'></i>{{i18n topic.create}}</button>
    {{/if}}

    {{#if canEditCategory}}
      <button class='btn btn-default' {{action editCategory category}}><i class="icon icon-wrench"></i> {{i18n category.edit_long}}</button>
    {{/if}}

    {{#if canCreateCategory}}
      <button class='btn btn-default' {{action createCategory}}><i class='icon icon-plus'></i>{{i18n category.create}}</button>
    {{/if}}

  </div>
</div>

<div class="container list-container">
  <div class="row">
    <div class="full-width">
      <div id='list-area'>
        {{#if loading}}
          <div class='contents loading'>
            <table id='topic-list'>
              <tr>
                <td colspan='8'>
                  <div class='spinner'>{{i18n loading}}</div>
                </td>
              </tr>
            </table>
          </div>
        {{/if}}

        {{outlet listView}}
      </div>
    </div>
  </div>
</div>


