<section class="d-dropdown" id="notifications-dropdown">
  {{#conditional-loading-spinner condition=loadingNotifications}}
    {{#if content}}
      <ul>
        {{#each n in model}}
          {{notification-item notification=n}}
        {{/each}}
        <li class="read last">
          <a href="{{unbound myNotificationsUrl}}">{{i18n 'notifications.more'}}&hellip;</a>
        </li>
      </ul>
    {{else}}
      <div class="none">{{i18n 'notifications.none'}}</div>
    {{/if}}
  {{/conditional-loading-spinner}}
</section>
