<section class="d-dropdown" id="notifications-dropdown">
  {{#unless controllers.header.loading_notifications}}
    {{#if content}}
      <ul>
        {{#each}}
          {{notification-item notification=this scope=scope}}
        {{/each}}
        <li class="read last">
          <a {{bind-attr href="currentUser.path"}}>{{i18n notifications.more}} &hellip;</a>
        </li>
      </ul>
    {{else}}
      <div class="none">{{i18n notifications.none}}</div>
    {{/if}}
  {{else}}
    <div class='loading'><i class='fa fa-spinner fa-spin'></i></div>
  {{/unless}}
</section>
