<a href='#' {{bindAttr class=":poster view.toggled:toggled"}} {{action toggleParticipant this}} title="{{unbound username}}">
  <span class='post-count'>{{unbound post_count}}</span>
  {{avatar this imageSize="medium"}}
</a>
