{{#if model}}
  {{#linkTo 'user' user}}{{boundAvatar model imageSize="huge"}}{{/linkTo}}

  <h1 {{bindAttr class="staff new_user"}}><a {{bindAttr href="usernameUrl"}}>{{username}}</a></h1>
  {{#if showName}}
    <h2><a {{bindAttr href="usernameUrl"}}>{{name}}</a></h2>
  {{/if}}

  {{#if user}}
    <h3>{{i18n last_post}} {{date path="user.last_posted_at" leaveAgo="true"}}</h3>
    <h3>{{i18n joined}} {{date path="user.created_at" leaveAgo="true"}}</h3>

    <div class='bottom'>
      {{#if user.bio_cooked}}<div class='bio'>{{{user.bio_cooked}}}</div>{{/if}}

      {{#if user.can_send_private_message_to_user}}
        <button class='btn' {{action composePrivateMessage user}}><i class='icon icon-envelope'></i>{{i18n user.private_message}}</button>
      {{/if}}

      {{#link-to 'user' user class="btn"}}<i class='icon icon-user'></i>{{i18n user.show_profile}}{{/link-to}}

      {{#if showFilter}}
        <button class='btn' {{action togglePosts user}}><i class='icon icon-filter'></i>{{i18n topic.filter_to username="username" post_count="participant.post_count"}}</button>
      {{/if}}

      {{#if hasUserFilters}}
        <button class='btn' {{action cancelFilter}}><i class='icon icon-remove'></i>{{i18n topic.filters.cancel}}</button>
      {{/if}}

    </div>
  {{else}}
    <p class='loading'>{{i18n loading}}</p>
  {{/if}}

{{/if}}
