{{#d-section pageClass="user-preferences" class="user-secondary-navigation"}}
  {{#mobile-nav class='preferences-nav' desktopClass='preferences-list action-list nav-stacked' currentPath=router._router.currentPath}}
    <li class='nav-account'>
      {{#link-to 'preferences.account'}}
        {{i18n 'user.preferences_nav.account'}}
      {{/link-to}}
    </li>
    <li class='nav-profile'>
      {{#link-to 'preferences.profile'}}
        {{i18n 'user.preferences_nav.profile'}}
      {{/link-to}}
    </li>
    <li class='nav-emails'>
      {{#link-to 'preferences.emails'}}
        {{i18n 'user.preferences_nav.emails'}}
      {{/link-to}}
    </li>
    <li class='nav-notifications'>
      {{#link-to 'preferences.notifications'}}
        {{i18n 'user.preferences_nav.notifications'}}
      {{/link-to}}
    </li>
    <li class='indent nav-categories'>
      {{#link-to 'preferences.categories'}}
        {{i18n 'user.preferences_nav.categories'}}
      {{/link-to}}
    </li>
    <li class='indent nav-users'>
      {{#link-to 'preferences.users'}}
        {{i18n 'user.preferences_nav.users'}}
      {{/link-to}}
    </li>
    {{#if siteSettings.tagging_enabled}}
      <li class='indent nav-tags'>
        {{#link-to 'preferences.tags'}}
          {{i18n 'user.preferences_nav.tags'}}
        {{/link-to}}
      </li>
    {{/if}}
    <li class='nav-interface'>
      {{#link-to 'preferences.interface'}}
        {{i18n 'user.preferences_nav.interface'}}
      {{/link-to}}
    </li>
    {{#if model.userApiKeys}}
      <li class='nav-apps'>
        {{#link-to 'preferences.apps'}}
          {{i18n 'user.preferences_nav.apps'}}
        {{/link-to}}
      </li>
    {{/if}}
    {{plugin-outlet name="user-preferences-nav" connectorTagName="li" args=(hash model=model)}}
  {{/mobile-nav}}
{{/d-section}}

<section class='user-content user-preferences'>
  {{plugin-outlet name="above-user-preferences" args=(hash model=model)}}

  <form class="form-vertical">
    {{outlet}}
  </form>
</section>
