<section class="user-content user-preferences second-factor-backup-preferences">
  <form class="form-horizontal">
    <h2>{{i18n "user.second_factor_backup.title"}}</h2>

    {{#if successMessage}}
      <div class="alert alert-success">
        {{successMessage}}
      </div>
    {{/if}}

    {{#if errorMessage}}
      <div class="alert alert-error">
        {{errorMessage}}
      </div>
    {{/if}}

    <div class="second-factor-form">
      {{second-factor-input
        value=secondFactorToken
        maxlength=6
        inputId="second-factor-token"}}

      <div class="actions">
          {{d-button
            action="generateSecondFactorCodes"
            class="btn btn-primary"
            disabled=isDisabledGenerateBackupCodeBtn
            label=generateBackupCodeBtnLabel}}
        {{#if backupEnabled}}
          {{d-button
            action="disableSecondFactorBackup"
            class="btn btn-danger"
            disabled=isDisabledDisableBackupCodeBtn
            label="user.second_factor_backup.disable"}}
        {{/if}}
      </div>
    </div>

    <div class="instructions">
      {{i18n "user.second_factor.disable_description"}}
    </div>

    {{#conditional-loading-section isLoading=loading}}
      {{#if backupCodes}}
        <h3>{{i18n "user.second_factor_backup.codes.title"}}</h3>

        <p>
          {{i18n "user.second_factor_backup.codes.description"}}
        </p>

        {{backup-codes
          copyBackupCode=(action "copyBackupCode")
          backupCodes=backupCodes}}
      {{/if}}
    {{/conditional-loading-section}}

    {{cancel-link
      route="preferences.account"
      args=model.username}}
  </form>
</section>
