<div class='container'>
  <div class='queued-posts'>
    {{#each post in model}}
      <div class='queued-post'>
        <div class='poster'>
          {{avatar post.user imageSize="large"}}
        </div>
        <div class='cooked'>
          <div class='names'>
            <span class='username'>{{post.user.username}}</span>
          </div>
          <div class='clearfix'></div>

          <span class='post-title'>
            {{i18n "queue.topic"}}
            {{#if post.topic}}
              {{topic-link post.topic}}
            {{else}}
              {{post.post_options.title}}
            {{/if}}
            {{category-badge post.category}}
          </span>

          {{{cook-text post.raw}}}

          <div class='queue-controls'>
            {{d-button action="approve"
                       actionParam=post
                       disabled=post.isSaving
                       label="queue.approve"
                       icon="check"
                       class="btn-primary approve"}}
            {{d-button action="reject"
                       actionParam=post
                       disabled=post.isSaving
                       label="queue.reject"
                       icon="times"
                       class="btn-warning reject"}}
          </div>
        </div>
        <div class='clearfix'></div>
      </div>
    {{else}}
      <p>{{i18n "queue.none"}}</p>
    {{/each}}
  </div>
</div>
