<div class='reviewable-settings'>
  <h4>{{i18n "review.settings.priorities.title"}}</h4>

  {{#each settings.reviewable_score_types as |rst|}}
    <div class='reviewable-score-type'>
      <div class='title'>{{rst.title}}</div>
      <div class='field'>
        {{combo-box
          value=rst.reviewable_priority
          content=settings.reviewable_priorities
          onChange=(action (mut rst.reviewable_priority))
        }}
      </div>
    </div>
  {{/each}}

  <div class='reviewable-score-type'>
    <div class='title'></div>
    <div class='field'>
      {{d-button
        icon="check"
        label="review.settings.save_changes"
        class="btn-primary save-settings"
        action=(action "save")
        disabled=saving}}

      {{#if saved}}
        <span class='saved'>{{i18n "review.settings.saved"}}</span>
      {{/if}}
    </div>
  </div>
</div>
