{{search-text-field value=term searchContextEnabled=searchContextEnabled id="search-term"}}

<div class="search-context">
  {{#if searchContext}}
    <label>
      {{input type="checkbox" name="searchContext" checked=searchContextEnabled}} {{searchContextDescription}}
    </label>
  {{/if}}
  <a href class="show-help" {{action "showSearchHelp" bubbles=false}}>{{i18n "show_help"}}</a>
</div>
{{#if loading}}
  <div class="searching">{{loading-spinner}}</div>
{{else}}
  <div class="results">
  {{#if noResults}}
    <div class="no-results">
      {{i18n "search.no_results"}}
    </div>
  {{else}}
    {{#each content.resultTypes as |resultType|}}
      <ul>
        <li class="heading row">{{resultType.name}}</li>
        {{component resultType.componentName results=resultType.results term=term}}
      </ul>
      <div class="no-results">
        {{#if resultType.more}}
          <a href class="filter" {{action "moreOfType" resultType.type bubbles=false}}>{{i18n "show_more"}} {{fa-icon "chevron-down"}}</a>
        {{/if}}
      </div>
    {{/each}}
  {{/if}}
  </div>
{{/if}}
