<p>{{countI18n topic.multi_select.description countBinding="selectedPostsCount"}}</p>

{{#if canSelectAll}}
  <p><a href='#' {{action selectAll}}>{{i18n topic.multi_select.select_all}}</a></p>
{{/if}}

{{#if canDeselectAll}}
  <p><a href='#' {{action deselectAll}}>{{i18n topic.multi_select.deselect_all}}</a></p>
{{/if}}

{{#if canDeleteSelected}}
  <button class='btn' {{action deleteSelected}}><i class='fa fa-trash-o'></i> {{i18n topic.multi_select.delete}}</button>
{{/if}}

{{#if canSplitTopic}}
  <button class='btn' {{action splitTopic}}><i class='fa fa-sign-out'></i> {{i18n topic.split_topic.action}}</button>
{{/if}}
{{#if canMergeTopic}}
  <button class='btn' {{action mergeTopic}}><i class='fa fa-sign-out'></i> {{i18n topic.merge_topic.action}}</button>
{{/if}}
{{#if canChangeOwner}}
  <button class='btn' {{action changeOwner}}><i class='fa fa-user'></i> {{i18n topic.change_owner.action}}</button>
{{/if}}

<p class='cancel'><a href='#' {{action toggleMultiSelect}}>{{i18n topic.multi_select.cancel}}</a></p>
