<p>{{count-i18n key="topic.multi_select.description" count=selectedPostsCount}}</p>

{{#if canSelectAll}}
  <p><a class="select-all" href {{action "selectAll"}}>{{i18n 'topic.multi_select.select_all'}}</a></p>
{{/if}}

{{#if canDeselectAll}}
  <p><a href {{action "deselectAll"}}>{{i18n 'topic.multi_select.deselect_all'}}</a></p>
{{/if}}

{{#if canDeleteSelected}}
  {{d-button action=(action "deleteSelected") icon="far-trash-alt" label="topic.multi_select.delete" class="btn-danger"}}
{{/if}}

{{#if canMergeTopic}}
  {{d-button action=(route-action "moveToTopic") icon="sign-out-alt" label="topic.move_to.action" class="move-to-topic"}}
{{/if}}

{{#if canChangeOwner}}
  {{d-button action=(route-action "changeOwner") icon="user" label="topic.change_owner.action"}}
{{/if}}

{{#if canMergePosts}}
  {{d-button action=(action "mergePosts") icon="arrows-v" label="topic.merge_posts.action"}}
{{/if}}

<p class='cancel'><a href {{action "toggleMultiSelect"}}>{{i18n 'topic.multi_select.cancel'}}</a></p>
