{{#if link}}
  <h3>{{shareTitle}}</h3>

  {{#if date}}
    <span class="date">{{displayDate}}</span>
  {{/if}}

  <div>
    <input type='text'>
    <div class="share-for-touch"><div class="overflow-ellipsis"><a></a></div></div>
  </div>

  {{#each sources as |s|}}
    {{share-source source=s title=title action="share"}}
  {{/each}}

  {{#if canReplyAsNewTopic}}
    <div class='reply-as-new-topic'>
      <a href {{action "replyAsNewTopic"}} aria-label='{{i18n 'post.reply_as_new_topic'}}' title='{{i18n 'post.reply_as_new_topic'}}'>{{fa-icon "plus"}}{{i18n 'topic.create'}}</a>
    </div>
  {{/if}}

  <div class='link'>
    <a href {{action "close"}} aria-label='{{i18n 'share.close'}}' title='{{i18n 'share.close'}}'>{{fa-icon "close"}}</a>
  </div>
{{/if}}
