{{#if s.openInPopup}}
  <a href {{action "sharePopup" s.target s.href}} {{bind-attr title="title"}}>{{{s.serviceIcon}}}</a>
{{else}}
  <a {{bind-attr href="s.href"}} {{bind-attr title="s.title"}} {{bind-attr class="s.target"}} target="_blank">{{{s.serviceIcon}}}</a>
{{/if}}
