{{#if controller.link}}
<h3>{{view.title}}</h3>

{{#if date}}
  <span class="date">{{displayDate}}</span>
{{/if}}

<div>
  <input type='text' />
  <div class="share-for-touch"><div class="overflow-ellipsis"><a></a></div></div>
</div>

{{each shareLinks itemView='share-link'}}

<div class='link'>
  <a href='#' {{action "close"}} title='{{i18n 'share.close'}}'><i class="fa fa-times-circle"></i></a>
</div>
{{/if}}
