<section class="d-dropdown" id="site-map-dropdown">
  <ul class="location-links">
    {{#if showAdminLinks}}
      <li>
        <a href="/admin" class="admin-link"><i class='fa fa-wrench'></i> {{i18n 'admin_title'}}</a>
      </li>
      <li>
        <a href="/admin/flags/active" class="flagged-posts-link">
          {{fa-icon "flag"}} {{i18n 'flags_title'}}
          {{#if currentUser.site_flagged_posts_count}}
            <span title='{{i18n 'notifications.total_flagged'}}' class='badge-notification flagged-posts'>{{currentUser.site_flagged_posts_count}}</span>
          {{/if}}
        </a>
      </li>
    {{/if}}
    <li>
      <a href="/latest" title="{{i18n 'filters.latest.help'}}" class="latest-topics-link">{{i18n 'filters.latest.title'}}</a>
    </li>
    {{#if showBadgesLink}}
      <li>
        <a href="{{unbound badgesUrl}}" class="badge-link">{{i18n 'badges.title'}}</a>
      </li>
    {{/if}}

    <li>{{#link-to 'users'}}{{i18n "directory.title"}}{{/link-to}}</li>

    {{plugin-outlet "site-map-links"}}

    {{#if showKeyboardShortcuts}}
      <li><a href {{action "keyboardShortcuts"}} class="keyboard-shortcuts-link">{{i18n 'keyboard_shortcuts_help.title'}}</a></li>
    {{/if}}
    <li>
      <a href="{{unbound faqUrl}}" class="faq-link">{{i18n 'faq'}}</a>
    </li>
    <li>
      {{#link-to 'about'}}{{i18n 'about.simple_title'}}{{/link-to}}
    </li>
    {{#if showMobileToggle}}
      <li><a href class="mobile-toggle-link" {{action "toggleMobileView"}}>{{boundI18n mobileViewLinkTextKey}}</a></li>
    {{/if}}
  </ul>

  {{#if categories}}
    <ul class="category-links">
      <li class="heading" title="{{i18n 'filters.categories.help'}}">
        {{#link-to "discovery.categories"}}{{i18n 'filters.categories.title'}}{{/link-to}}
      </li>

      {{#each c in categories itemController='site-map-category'}}
        <li class="category">
          {{category-link c allowUncategorized="true"}}

          {{#if c.unreadTotal}}
            <a href={{unbound c.url}} class='badge badge-notification'>{{c.unreadTotal}}</a>
          {{/if}}

          {{#if c.showTopicCount}}
            <b class="topics-count">{{unbound c.topic_count}}</b>
          {{/if}}
        </li>
      {{/each}}
    </ul>
  {{/if}}
</section>
