<div class='container'>
  <div class='contents clearfix body-page'>
    {{#if content}}
      {{{content}}}

      {{#if showLoginButton}}
        <button class="btn btn-primary" {{action showLogin}}>{{i18n log_in}}</button>
      {{/if}}
    {{else}}
      <div class='spinner'>{{i18n loading}}</div>
    {{/if}}
  </div>
</div>