<div class="container tag-groups-container">
  <h2>{{i18n "tagging.groups.title"}}</h2>

  <div class='content-list'>
    <ul>
      {{#each model as |tagGroup|}}
        <li>
          {{#link-to "tagGroups.edit" tagGroup}}
            {{tagGroup.name}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>

    {{#if this.siteSettings.tagging_enabled}}
      <button {{action "newTagGroup"}} class='btn btn-default'>{{d-icon "plus"}}{{i18n 'tagging.groups.new'}}</button>
    {{/if}}
  </div>

  {{outlet}}

  <div class="clearfix" />
</div>
