<div class="tag-group-content">
  <h1>{{text-field value=model.name}}</h1>
  <br/>
  <section class="group-tags-list">
    <label>{{i18n 'tagging.groups.tags_label'}}</label><br/>
    {{tag-chooser
      tags=model.tag_names
      everyTag=true
      allowCreate=true
      unlimitedTagCount=true}}
  </section>

  <section class="parent-tag-section">
    <label>{{i18n 'tagging.groups.parent_tag_label'}}</label>
    {{tag-chooser
      tags=model.parent_tag_name
      everyTag=true
      maximum=1
      allowCreate=true
      filterPlaceholder="tagging.groups.parent_tag_placeholder"}}
    <span class="description">{{i18n 'tagging.groups.parent_tag_description'}}</span>
  </section>

  <section class="group-one-per-topic">
    <label>
      {{input type="checkbox" checked=model.one_per_topic name="onepertopic"}}
      {{i18n 'tagging.groups.one_per_topic_label'}}
    </label>
  </section>

  <section class="group-visibility">
    <div>
      {{radio-button class="tag-permissions-choice" name="tag-permissions-choice" value="public" id="public-permission" selection=model.permissionName onChange="changed"}}
      <label class="radio" for="public-permission">{{i18n 'tagging.groups.everyone_can_use'}}</label>
    </div>
    <div>
      {{radio-button class="tag-permissions-choice" name="tag-permissions-choice" value="visible" id="visible-permission" selection=model.permissionName onChange="changed"}}
      <label class="radio" for="visible-permission">{{i18n 'tagging.groups.usable_only_by_staff'}}</label>
    </div>
    <div>
      {{radio-button class="tag-permissions-choice" name="tag-permissions-choice" value="private" id="private-permission" selection=model.permissionName onChange="changed"}}
      <label class="radio" for="private-permission">{{i18n 'tagging.groups.visible_only_to_staff'}}</label>
    </div>
  </section>

  <button {{action "save"}} disabled={{model.disableSave}} class='btn'>{{i18n 'tagging.groups.save'}}</button>
  <button {{action "destroy"}} disabled={{model.disableSave}} class='btn btn-danger'>{{d-icon "trash-o"}} {{i18n 'tagging.groups.delete'}}</button>
  <span class="saving {{unless model.savingStatus 'hidden'}}">{{model.savingStatus}}</span>
</div>
