<span class='topic-post-badges'>
  {{#if unread ~}}
    <a href='{{url}}' class='badge badge-notification unread' title='{{i18n "topic.unread_posts" count=unread}}'>{{unread}}</a>
  {{/if }}
  {{#if newPosts ~}}
    <a href='{{url}}' class='badge badge-notification new-posts' title='{{i18n "topic.total_unread_posts" count=newPosts}}'>{{newPosts}}</a>
  {{/if}}
  {{#if unseen ~}}
    <a href='{{url}}' class='badge badge-notification new-topic' title='{{i18n "topic.new"}}'>{{i18n 'filters.new.lower_title'}}</a>
  {{/if}}
</span>
