<th data-sort-order='{{order}}' class='{{view.className}}'>
  {{~#if canBulkSelect}}
    {{~#if showBulkToggle}}
      {{raw "flat-button" class="bulk-select" icon="list" title="topics.bulk.toggle"}}
    {{/if ~}}
    {{~#if bulkSelectEnabled}}
      <span class='bulk-select-topics'>
        {{d-button
          class="btn-default bulk-select-all"
          label="topics.bulk.select_all"}}
        {{d-button
          class="btn-default bulk-clear-all"
          label="topics.bulk.clear_all"}}
      </span>
    {{/if ~}}
  {{/if ~}}
  {{view.localizedName}}
  {{~#if view.isSorting}}
    {{d-icon view.sortIcon}}
  {{/if ~}}
</th>
