{{#if view.showFavoriteButton}}
  <a {{bindAttr class=":star view.topic.starred:starred"}} {{action toggleStar}} href='#' {{bindAttr title="view.topic.favoriteTooltip"}}></a>
{{/if}}

<h1>
{{#if view.topic.fancy_title}}
  {{topicStatus topic=view.topic}}
  <a class='topic-link' href='{{unbound view.topic.url}}'>{{{view.topic.fancy_title}}}</a>
{{else}}
  {{#if view.topic.errorLoading}}
    {{topic.errorTitle}}
  {{else}}
    {{i18n topic.loading}}
  {{/if}}
{{/if}}
{{#if view.topic.category}}
  {{categoryLink view.topic.category}}
{{/if}}
</h1>
