{{#if expanded}}
  <nav id='topic-progress-expanded'>
    <button {{action jumpTop}} {{bind-attr disabled=jumpTopDisabled}} class='btn full no-text'>
      <i class="fa fa-caret-up"></i>
      {{i18n topic.progress.go_top}}
    </button>
    <div class='jump-form'>
      {{input value=toPostNumber}} <button {{action jumpPost}} class='btn'>{{i18n topic.progress.go}}</button>
    </div>
    <button {{action jumpBottom}} {{bind-attr disabled=jumpBottomDisabled}} class='btn full no-text jump-bottom'>
      {{i18n topic.progress.go_bottom}}
      <i class="fa fa-caret-down"></i>
    </button>
  </nav>
{{/if}}
<nav id='topic-progress' title="{{i18n topic.progress.title}}" {{bind-attr class="hideProgress:hidden"}}>
  <div class='nums'>
    <h4>{{progressPosition}}</h4><span {{bind-attr class="hugeNumberOfPosts:hidden"}}> <span>/</span> <h4>{{postStream.filteredPostsCount}}</h4></span>
  </div>
  <i {{bind-attr class=":fa expanded::fa-sort"}}></i>
  <div class='bg'>&nbsp;</div>
</nav>
