<div class='autocomplete'>
  <ul>
    {{#each options.users}}
      <li>
        <a href='#'>{{avatar this imageSize="tiny"}}
          <span class='username'>{{this.username}}</span>
          <span class='name'>{{this.name}}</span>
        </a>
      </li>
    {{/each}}
    {{#if options.groups}}
      {{#if options.users}}<hr>{{/if}}
      {{#each options.groups}}
        <li>
          <a href=''>
            <i class='icon-group'></i>
            <span class='username'>{{this.name}}</span>
            <span class='name'>{{max-usernames usernames max="3"}}</span>
          </a>
        </li>
      {{/each}}
    {{/if}}
  </ul>
</div>
