<div class='autocomplete'>
  <ul>
    {{#each options.users as |user|}}
      <li>
        <a href title="{{user.name}}">
          {{avatar user imageSize="tiny"}}
          <span class='username'>{{user.username}}</span>
          <span class='name'>{{user.name}}</span>
        </a>
      </li>
    {{/each}}
    {{#if options.groups}}
      {{#each options.groups as |group|}}
        <li>
          <a href title="{{group.full_name}}">
            <i class='fa fa-users'></i>
            <span class='username'>{{group.name}}</span>
            <span class='name'>{{group.full_name}}</span>
          </a>
        </li>
      {{/each}}
    {{/if}}
  </ul>
</div>
