{{#if username}}

  <div class="card-content">

  {{#link-to 'user' user}}{{bound-avatar avatar "huge"}}{{/link-to}}

  <div class="names">
    <span>
    <h1 {{bind-attr class="staff new_user"}}>
      {{#link-to 'user' user}}{{username}}{{/link-to}}
    </h1>
    {{#if showName}}
      <h2>{{#link-to 'user' user}}{{name}}{{/link-to}}</h2>
    {{/if}}
  </span>
  </div>

  {{#if user}}

      {{#if isSuspended}}
        <div class='suspended'>
          {{fa-icon "ban"}}
          <b>{{i18n user.suspended_notice date="user.suspendedTillDate"}}</b><br/>
          <b>{{i18n user.suspended_reason}}</b> {{user.suspend_reason}}
        </div>
      {{else}}
        {{#if user.bio_cooked}}<div class='bio'>{{{user.bio_cooked}}}</div>{{/if}}
      {{/if}}

{{#if showBadges}}
  <div class="badge-section">
    {{#each user.featured_user_badges}}
      {{user-badge badge=badge}}
    {{/each}}
    {{#if showMoreBadges}}
      {{#link-to 'user.badges' user class="btn more-user-badges"}}
        {{i18n badges.more_badges count=moreBadgesCount}}
      {{/link-to}}
    {{/if}}
  </div>
{{/if}}

      <ul class="usercard-controls">
        {{#if user.can_send_private_message_to_user}}
          <li><a class='btn btn-primary' {{action "composePrivateMessage" user}}>{{fa-icon "envelope"}}{{i18n user.private_message}}</a></li>
        {{/if}}

        <li>{{#link-to 'user' user class="btn"}}{{fa-icon "user"}}{{i18n user.profile}}{{/link-to}}</li>

        {{#if showFilter}}
        <li><a class='btn' {{action "togglePosts" user}}>{{fa-icon "filter"}}{{i18n topic.filter_to username="username" post_count="participant.post_count"}}</a></li>
        {{/if}}

        {{#if hasUserFilters}}
        <li><a class='btn' {{action "cancelFilter"}}>{{fa-icon "times"}}{{i18n topic.filters.cancel}}</a></li>
        {{/if}}
      </ul>

      {{#if user.card_badge}}
        {{#link-to 'badges.show' user.card_badge class="card-badge"}}
          {{icon-or-image user.card_badge.image}}
        {{/link-to}}
      {{/if}}

  </div>
  {{else}}
    <p class='loading'>{{i18n loading}}</p>
  {{/if}}
{{/if}}
