<div class="modal-footer">
  {{#if @canLoginLocal}}
    {{#unless @showSecurityKey}}
      <DButton
        @action={{@login}}
        id="login-button"
        form="login-form"
        @icon="unlock"
        @label={{@loginButtonLabel}}
        @disabled={{@loginDisabled}}
        class="btn btn-large btn-primary"
        tabindex={{unless @showSecondFactor "2"}}
      />
    {{/unless}}

    {{#if @showSignupLink}}
      <DButton
        class="btn-large"
        id="new-account-link"
        @action={{@createAccount}}
        @label="create_account.title"
        tabindex="3"
      />
    {{/if}}
  {{/if}}
  <ConditionalLoadingSpinner @condition={{@loggingIn}} @size="small" />
  <PluginOutlet @name="login-after-modal-footer" @connectorTagName="div" />
</div>