<td>
<div class='main-link clearfix'>
  {{raw "topic-status" topic=content}}
  {{topic-link content}}
  {{#if controller.showTopicPostBadges}}
    {{raw "topic-post-badges" unread=content.unread newPosts=content.displayNewPosts unseen=content.unseen url=content.lastUnreadUrl}}
  {{/if}}
  {{raw "list/topic-excerpt" topic=content}}
</div>

<div class="topic-item-stats clearfix">
  {{#unless controller.hideCategory}}
    <div class='category'>
      {{category-link content.category}}
    </div>
  {{/unless}}
  {{plugin-outlet "topic-list-tags"}}

  <div class="pull-right">
    {{raw "list/posts-count-column" topic=content tagName="div"}}
    <div class='num activity last'>
      <a href="{{content.lastPostUrl}}" title='{{i18n 'last_post'}}: {{{raw-date content.bumped_at}}}'>{{content.last_poster_username}}</a>
      {{raw "list/activity-column" topic=content tagName="span" class="age"}}
    </div>
  </div>
  <div class="clearfix"></div>
</div>
</td>
