<td>
<div class='main-link'>
  {{raw "topic-status" topic=content}}
  {{topic-link content}}
  {{raw "list/topic-excerpt" topic=content}}
</div>
<div class='pull-right'>
  {{raw "list/post-count-or-badges" topic=content postBadgesEnabled=controller.showTopicPostBadges}}
</div>
<div class="clearfix"></div>

<div class="topic-item-stats clearfix">
  {{#unless controller.hideCategory}}
    <div class='category'>
      {{category-link content.category}}
    </div>
  {{/unless}}
  {{plugin-outlet "topic-list-tags"}}

  <div class="pull-right">
    <div class='num activity last'>
      {{raw "list/activity-column" topic=content tagName="span" class="age"}}
      <a href="{{content.lastPostUrl}}" title='{{i18n 'last_post'}}: {{{raw-date content.bumped_at}}}'>{{content.last_poster_username}}</a>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
</td>
