<section class="user-secondary-navigation">
  <MobileNav @class="messages-nav" @desktopClass="nav-stacked action-list">
    <li>
      <LinkTo @route="group.messages.inbox" @model={{this.model.name}}>
        {{i18n "user.messages.inbox"}}
      </LinkTo>
    </li>
    <li>
      <LinkTo @route="group.messages.archive" @model={{this.model.name}}>
        {{i18n "user.messages.archive"}}
      </LinkTo>
    </li>
  </MobileNav>
</section>
<section class="user-content" id="user-content">
  {{outlet}}
</section>