<ul class="search-menu-initial-options">
  {{#if this.termMatch}}
    <SearchMenu::Results::AssistantItem
      @slug={{this.search.activeGlobalSearchTerm}}
      @extraHint={{I18n "search.enter_hint"}}
      @withLabel={{false}}
    />
  {{else}}
    {{#if (or this.search.activeGlobalSearchTerm this.search.searchContext)}}
      {{#if this.search.activeGlobalSearchTerm}}
        {{! <span class="keyword"> }}
        {{!-- {{@slug}} --}}
        {{!-- {{#if @withLabel}} --}}
        {{! <span class="label-suffix"> }}
        {{!-- {{i18n "search.in_topics_posts"}} --}}
        {{! </span> }}
        {{!-- {{/if}} --}}
        {{! </span> }}
        <SearchMenu::Results::AssistantItem
          @slug={{this.search.activeGlobalSearchTerm}}
          @withLabel={{true}}
        />
      {{/if}}

      {{#if this.search.searchContext}}
        {{log this.slugOrGlobalTerm}}
        <this.contextTypeComponent
          @contextTypeSlug={{this.slugOrGlobalTerm}}
          @suggestionKeyword={{this.contextTypeKeyword}}
          @results={{this.initialResults}}
          @withInLabel={{this.withInLabel}}
          @label={{this.label}}
          @setTopicContext={{this.setTopicContext}}
        />
      {{/if}}
    {{else}}
      <SearchMenu::Results::RandomQuickTip
        @focusSearchInput={{@focusSearchInput}}
      />

      {{#if (and this.currentUser this.siteSettings.log_search_queries)}}
        recent searches
        {{! search-menu-recent-searches }}
      {{/if}}
    {{/if}}
  {{/if}}
</ul>