{{#each this.filteredResultTypes as |resultType|}}
  <div class={{resultType.componentName}}>
    <ul
      class="list"
      aria-label={{concat (I18n "search.results") " " resultType.type}}
    >
      {{#each resultType.results as |result|}}
        <li class="item" {{on "keydown" this.onKeydown}} role="presentation">
          <a href={{(or result.url result.path)}} class="search-link">
            <resultType.component @result={{result}} />
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
{{/each}}