<ul class="collection">
  {{#if clearSelectionLabel}}
    <li {{action "onClearSelection" on="click"}} class="select-box-row clear-selection">
      {{i18n clearSelectionLabel}}
    </li>
  {{/if}}

  {{#each filteredContent as |content|}}
    {{component selectBoxRowComponent
      content=content
      templateForRow=templateForRow
      idForRow=idForRow
      titleForRow=titleForRow
      shouldHighlightRow=shouldHighlightRow
      shouldSelectRow=shouldSelectRow
      highlightedValue=highlightedValue
      onSelect=onSelectRow
      onHover=onHoverRow
      value=value
    }}
  {{else}}
    {{#if noContentLabel}}
      <li class="select-box-row no-content">
        {{noContentLabel}}
      </li>
    {{/if}}
  {{/each}}
</ul>
