{{i18n "user.second_factor.delete_confirm_header"}}

<ul>
  {{#each @model.totps as |totp|}}
    <li>{{totp.name}}</li>
  {{/each}}

  {{#each @model.security_keys as |sk|}}
    <li>{{sk.name}}</li>
  {{/each}}

  {{#if this.currentUser.second_factor_backup_enabled}}
    <li>{{i18n "user.second_factor_backup.title"}}</li>
  {{/if}}
</ul>

<p>
  {{html-safe
    (i18n
      "user.second_factor.delete_confirm_instruction"
      confirm=this.disabledString
    )
  }}
</p>

<TextField
  @value={{this.confirmPhraseInput}}
  {{on "input" this.onConfirmPhraseInput}}
  @id="confirm-phrase"
  @autocorrect="off"
  @autocapitalize="off"
/>