<button
  class="btn {{if options.showFullTitle 'btn-icon-text' 'no-text btn-icon'}}"
  aria-label="{{name}}"
  type="button"
  tabindex="-1"
  title="{{name}}">

  {{#each icons as |icon|}}
    {{{icon}}}
  {{/each}}

  {{#if options.showFullTitle}}
    <span class="d-button-label selected-name">
      {{name}}
    </span>
  {{/if}}

</button>
