<div id='request-access'>
  <h1><%= t :'request_access.code' %></h1>

  <p><%= t :'request_access.instructions' %></p>

  <%- if flash[:error].present? %>
    <div class="alert alert-error">
      <%= flash[:error] %>
    </div>
  <% end %>

  <%= form_tag do |f| %>
    <%= hidden_field_tag :return_path, @return_path %>
    <%= password_field_tag :password, @password %>
    <%= submit_tag t(:'request_access.enter'), class: 'btn' %>
  <% end %>
</div>

<script type="text/javascript">
  document.getElementById('password').focus()
</script>
