<div id="dialog-holder" class="dialog-container" aria-labelledby={{this.dialog.titleElementId}} aria-hidden="true">
  <div class="dialog-overlay" data-a11y-dialog-hide></div>

  {{#if this.dialog.type}}
    <div class="dialog-content" role="document">
      {{#if this.dialog.title}}
        <div class="dialog-header">
          <h3 id="dialog-title">{{this.dialog.title}}</h3>
          <DButton @icon="times" @action={{action this.dialog.didCancelWrapped}} @class="btn-flat dialog-close close" @title="modal.close" />
        </div>
      {{/if}}

      {{#if this.dialog.message}}
        <div class="dialog-body">
          {{html-safe this.dialog.message}}
        </div>
      {{/if}}

      <div class="dialog-footer">
        <DButton @class="btn-primary" @action={{this.dialog.didConfirmWrapped}} @icon={{this.dialog.iconConfirm}} @label={{this.dialog.labelConfirm}} />
        {{#if this.dialog.cancelVisible}}
          <DButton @class="btn-default" @action={{this.dialog.didCancelWrapped}} @label={{this.dialog.labelCancel}} />
        {{/if}}
      </div>
    </div>
  {{/if}}
</div>
