<div
  class={{concat-class
    "chat-thread-list-item"
    (if (gt @thread.tracking.unreadCount 0) "-is-unread")
  }}
  data-thread-id={{@thread.id}}
  ...attributes
>
  <div class="chat-thread-list-item__main">
    <div
      title={{i18n "chat.thread.view_thread"}}
      role="button"
      class="chat-thread-list-item__open-button"
      {{on "click" (fn this.openThread @thread) passive=true}}
    >
      <div class="chat-thread-list-item__header">
        <div class="chat-thread-list-item__title">
          {{#if this.title}}
            {{replace-emoji this.title}}
          {{else}}
            {{replace-emoji @thread.originalMessage.excerpt}}
          {{/if}}
        </div>
        <div class="chat-thread-list-item__unread-indicator">
          <Chat::ThreadList::Item::UnreadIndicator @thread={{@thread}} />
        </div>
      </div>

      <div class="chat-thread-list-item__body">
        <span class="chat-thread-list-item__last-reply-author">
          @{{@thread.preview.lastReplyUser.username}}:
        </span>
        <span class="chat-thread-list-item__last-reply-excerpt">
          {{replace-emoji (html-safe @thread.preview.lastReplyExcerpt)}}
        </span>
      </div>

      <div class="chat-thread-list-item__metadata">

        <div class="chat-thread-list-item__last-reply-timestamp">
          {{#if @thread.preview.lastReplyCreatedAt}}
            <span>{{i18n "chat.thread.last_reply"}}</span>
            {{format-date @thread.preview.lastReplyCreatedAt leaveAgo="true"}}
          {{/if}}
        </div>

        <Chat::UserAvatar
          @user={{@thread.originalMessage.user}}
          @showPresence={{false}}
        />
        <Chat::Thread::Participants
          @thread={{@thread}}
          @includeOriginalMessageUser={{false}}
          class="chat-thread-list-item__participants"
        />
      </div>
    </div>
  </div>
</div>