<div id="simple-container">
  <%if @error%>
    <div class='invite-error'>
      <div class="error-image">
        <img src="<%= Discourse.base_path + '/images/sweat-smile-face.svg' %>" alt="sweat-smile-face emoji">
      </div>
      <div class="error-info">
        <%= @error.html_safe %>

        <% if @user.present? and @user.errors.present? %>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        <% end %>
      </div>
    </div>
  <%end%>
</div>

<% content_for :title do %><%=t "password_reset.title" %> - <%= SiteSetting.title %><% end %>

<%- content_for(:no_ember_head) do %>
  <meta name="referrer" content="never">
  <%= render_google_universal_analytics_code %>
<%- end %>

<%- content_for(:head) do %>
  <meta name="referrer" content="never">
<%- end %>
