<div id='simple-container'>

  <%if flash[:error]%>
    <div class='alert alert-error'>
      <%=flash[:error]%>
    </div>
  <%else%>
    <h2><%= t 'activation.welcome_to', site_name: SiteSetting.title %></h2>
    <br>

    <% if @needs_approval %>
      <p><%= t 'activation.approval_required' %></p>
    <% else %>
      <p><%= t('activation.please_continue') %></p>
      <p><a class="btn" href="<%= path "/" %>"><%= t('activation.continue_button', site_name: SiteSetting.title) -%></a></p>
      <%= render partial: 'auto_redirect_home' %>
    <% end %>
  <%end%>
</div>
