{{#if template}}
  {{{template}}}
{{else}}
  {{#each icons as |icon|}} {{d-icon icon}} {{/each}}
  <span class="name">
    {{#if forceEscape}}
      {{label}}
    {{else}}
      {{{label}}}
    {{/if}}
  </span>
{{/if}}
