{{#if collectionHeader}}
  <div class="collection-header">
    {{{collectionHeader}}}
  </div>
{{/if}}

{{#if hasSelection}}
  {{#if noneRowComputedContent}}
    {{component noneRowComponent
      computedContent=noneRowComputedContent
      templateForRow=templateForNoneRow
      highlightedValue=highlightedValue
      clearSelection=clearSelection
      highlight=highlight
      computedValue=computedValue
      options=rowComponentOptions
    }}
  {{/if}}
{{/if}}

{{#if createRowComputedContent}}
  {{component createRowComponent
    computedContent=createRowComputedContent
    highlightedValue=highlightedValue
    computedValue=computedValue
    templateForRow=templateForCreateRow
    highlight=highlight
    select=create
    options=rowComponentOptions
  }}
{{/if}}

{{#each filteredComputedContent as |computedContent|}}
  {{component rowComponent
    computedContent=computedContent
    highlightedValue=highlightedValue
    computedValue=computedValue
    templateForRow=templateForRow
    select=select
    highlight=highlight
    options=rowComponentOptions
  }}
{{/each}}

{{#if shouldDisplayNoContentRow}}
  {{#if noContentLabel}}
    <li class="select-kit-row no-content">
      {{i18n noContentLabel}}
    </li>
  {{/if}}
{{/if}}
