{{#if collectionHeaderComputedContent}}
  <div class="collection-header">
    {{{collectionHeaderComputedContent}}}
  </div>
{{/if}}

{{#if hasSelection}}
  {{#if noneRowComputedContent}}
    {{component noneRowComponent
      computedContent=noneRowComputedContent
      templateForRow=templateForNoneRow
      highlightedValue=highlightedValue
      clearSelection=clearSelection
      highlight=highlight
      computedValue=computedValue
      options=rowComponentOptions
    }}
  {{/if}}
{{/if}}

{{#if createRowComputedContent}}
  {{component createRowComponent
    computedContent=createRowComputedContent
    highlightedValue=highlightedValue
    computedValue=computedValue
    templateForRow=templateForCreateRow
    highlight=highlight
    select=create
    options=rowComponentOptions
  }}
{{/if}}

{{#if maxContentRow}}
  <li class="select-kit-row max-content">
    {{maxContentRow}}
  </li>
{{else}}
  {{#if noContentRow}}
    <li class="select-kit-row no-content">
      {{noContentRow}}
    </li>
  {{else}}
    {{#each collectionComputedContent as |computedContent|}}
      {{component rowComponent
        computedContent=computedContent
        highlightedValue=highlightedValue
        computedValue=computedValue
        templateForRow=templateForRow
        select=select
        highlight=highlight
        options=rowComponentOptions
      }}
    {{/each}}
  {{/if}}
{{/if}}
