<div class="timeline-scrollarea-wrapper">
  <TopicTimeline::Date
    @topic={{@topic}}
    @class="start-date"
    @onClick={{@jumpTop}}
  />
  <div class="timeline-scrollarea">
    <div class="timeline-padding" style={{this.beforePadding}}></div>
    <TopicTimeline::Scroller
      @current={{this.current}}
      @total={{this.total}}
      @goBack={{this.goBack}}
      @fullscreen={{@fullscreen}}
      @showDockedButton={{this.showDockedButton}}
      @date={{this.date}}
    />
    <div class="timeline-padding" style={{this.afterPadding}}></div>

    {{#if this.hasBackPosition}}
      <div class="timeline-last-read" style={{this.lastReadStyle}}>
        {{d-icon "minus" class="progress"}}
        {{#if this.showButton}}
          <TopicTimeline::BackButton @onClick={{this.goBack}}/>
        {{/if}}
      </div>
    {{/if}}
  </div>

  <TopicTimeline::Date
    @topic={{@topic}}
    @class="now-date"
    @onClick={{@jumpBottom}}
  />
</div>
