{{#if this.displayTimeLineScrollArea}}
  <div class="timeline-scrollarea-wrapper">
    <div class="timeline-date-wrapper">
      <a class="start-date" onClick={{this.jumpTopAndScroll}} title={{this.startDate}}>
        <span>
          {{this.startDate}}
        </span>
      </a>
    </div>
    <div class="timeline-scrollarea">
      <div class="timeline-padding" style={{this.beforePadding}} onClick={{this.updatePercentage}}></div>
      <TopicTimeline::Scroller
        @current={{this.current}}
        @total={{this.total}}
        @goBack={{this.goBack}}
        @fullscreen={{@fullscreen}}
        @showDockedButton={{this.showDockedButton}}
        @date={{this.date}}
      />
      <div class="timeline-padding" style={{this.afterPadding}} onClick={{this.updatePercentage}}></div>

      {{#if this.hasBackPosition}}
        <div class="timeline-last-read" style={{this.lastReadStyle}}>
          {{d-icon "minus" class="progress"}}
          {{#if this.showButton}}
            <TopicTimeline::BackButton @onClick={{this.goBack}}/>
          {{/if}}
        </div>
      {{/if}}
    </div>

    <div class="timeline-date-wrapper">
      <a class="now-date" onClick={{this.jumpBottomAndScroll}} title={{this.nowDate}}>
        <span>
          {{this.nowDate}}
        </span>
      </a>
    </div>
  </div>
{{/if}}
