<div id='simple-container'>
  <h2><%= t('login.omniauth_secondary_authorization_title', provider:(t "js.login.#{params[:provider]}.name", default: params[:provider])) %></h2>
  <p><%= t("login.omniauth_secondary_authorization_description.#{params[:provider]}", domain: @auth_result.extra_data[:provider_domain]) %></p>
  <br/>

  <form action="<%= @auth_result.secondary_authorization_url %>" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= button_tag(type: "submit", class: "btn btn-primary") do %>
      <%= t 'login.omniauth_confirm_button' %>
    <% end %>
  </form>
</div>