{{#if this.activeSectionLink}}
  <Sidebar::MoreSectionLink @sectionLink={{this.activeSectionLink}} />
{{/if}}

<li class="sidebar-section-link-wrapper">
  <DButton
    @icon="ellipsis-v"
    @action={{action this.toggleSectionLinks}}
    @class="btn-flat sidebar-more-section-links-details-summary"
    @label="sidebar.more"
  />
</li>

{{#if this.open}}
  <div class="sidebar-more-section-links-details">
    <div
      class="sidebar-more-section-links-details-content-wrapper"
      {{did-insert this.registerClickListener}}
      {{will-destroy this.unregisterClickListener}}
    >

      <div class="sidebar-more-section-links-details-content">
        <ul class="sidebar-more-section-links-details-content-main">
          {{#each this.sectionLinks as |sectionLink|}}
            <Sidebar::MoreSectionLink @sectionLink={{sectionLink}} />
          {{/each}}
        </ul>

        {{#if @moreButtonAction}}
          <div class="sidebar-more-section-links-details-content-footer">
            <Sidebar::SectionLinkButton
              @action={{@moreButtonAction}}
              @icon={{@moreButtonIcon}}
              @text={{@moreButtonText}}
            />
          </div>
        {{/if}}
      </div>
    </div>
  </div>
{{/if}}