{{#if this.activeSectionLink}}
  <Sidebar::MoreSectionLink @sectionLink={{this.activeSectionLink}} />
{{/if}}

<li class="sidebar-section-link-wrapper">
  <button
    class="sidebar-section-link sidebar-row sidebar-more-section-links-details-summary --link-button"
    aria-expanded={{if this.open "true" "false"}}
    {{on "click" this.toggleSectionLinks}}
  >
    <span class="sidebar-section-link-prefix icon">
      {{d-icon "ellipsis-v"}}
    </span>
    <span class="sidebar-section-link-content-text">
      {{i18n "sidebar.more"}}
    </span>
  </button>
</li>

{{#if this.open}}
  <div class="sidebar-more-section-links-details">
    <div
      class="sidebar-more-section-links-details-content-wrapper"
      {{did-insert this.registerClickListener}}
      {{will-destroy this.unregisterClickListener}}
    >

      <div class="sidebar-more-section-links-details-content">
        <ul class="sidebar-more-section-links-details-content-main">
          {{#each this.sectionLinks as |sectionLink|}}
            <Sidebar::MoreSectionLink @sectionLink={{sectionLink}} />
          {{/each}}
        </ul>

        {{#if @moreButtonAction}}
          <div class="sidebar-more-section-links-details-content-footer">
            <Sidebar::SectionLinkButton
              @action={{@moreButtonAction}}
              @icon={{@moreButtonIcon}}
              @text={{@moreButtonText}}
              @name="customize"
            />
          </div>
        {{/if}}
      </div>
    </div>
  </div>
{{/if}}