{{#if @prefixType}}
  <span
    class={{concat-class
      "sidebar-section-link-prefix"
      @prefixType
      @prefixCSSClass
    }}
    style={{if @prefixColor (html-safe (concat "color: " @prefixColor))}}
  >

    {{#if (eq @prefixType "image")}}
      <img src={{this.prefixValue}} class="prefix-image" />
    {{else if (eq @prefixType "text")}}
      <span class="prefix-text">
        {{this.prefixValue}}
      </span>
    {{else if (eq @prefixType "icon")}}
      {{d-icon this.prefixValue class="prefix-icon"}}
    {{else if (eq @prefixType "span")}}
      <span
        style={{html-safe
          (concat "background: linear-gradient(90deg, " this.prefixValue ")")
        }}
        class="prefix-span"
      ></span>
    {{/if}}

    {{#if @prefixBadge}}
      {{d-icon @prefixBadge class="prefix-badge"}}
    {{/if}}
  </span>
{{/if}}