{{#if @prefixType}}
  <span
    class={{concat-class
      "sidebar-section-link-prefix"
      @prefixType
      @prefixCSSClass
    }}
    style={{if @prefixColor (html-safe (concat "color: " @prefixColor))}}
  >
    {{#if (eq @prefixType "image")}}
      <img src={{@prefixValue}} class="prefix-image" />
    {{/if}}

    {{#if (eq @prefixType "text")}}
      <span class="prefix-text">
        {{@prefixValue}}
      </span>
    {{/if}}

    {{#if (eq @prefixType "icon")}}
      {{d-icon @prefixValue class="prefix-icon"}}
    {{/if}}

    {{#if (eq @prefixType "span")}}
      <span
        style={{html-safe
          (concat
            "background: linear-gradient(90deg, " @prefixElementColors ")"
          )
        }}
        class="prefix-span"
      ></span>
    {{/if}}
    {{#if @prefixBadge}}
      {{d-icon @prefixBadge class="prefix-badge"}}
    {{/if}}
  </span>
{{/if}}