{{#if this.shouldDisplay}}
  <li
    class="sidebar-section-link-wrapper"
    {{did-insert this.didInsert this.args}}
  >
    {{#if @href}}
      <a
        href={{@href}}
        rel="noopener noreferrer"
        target={{or @target "_blank"}}
        class={{this.classNames}}
        title={{@title}}
      >
        <Sidebar::SectionLinkPrefix
          @prefixType={{@prefixType}}
          @prefixValue={{@prefixValue}}
          @prefixCSSClass={{@prefixCSSClass}}
          @prefixColor={{this.prefixColor}}
          @prefixElementColors={{this.prefixElementColors}}
          @prefixBadge={{@prefixBadge}}
        />

        <span class="sidebar-section-link-content-text">
          {{@content}}
        </span>
      </a>
    {{else}}
      <Sidebar::SectionLinkTo
        @class={{this.classNames}}
        @route={{@route}}
        @query={{@query}}
        @models={{this.models}}
        @current-when={{@currentWhen}}
        @title={{@title}}
      >

        <Sidebar::SectionLinkPrefix
          @prefixType={{@prefixType}}
          @prefixValue={{@prefixValue}}
          @prefixCSSClass={{@prefixCSSClass}}
          @prefixColor={{this.prefixColor}}
          @prefixElementColors={{this.prefixElementColors}}
          @prefixBadge={{@prefixBadge}}
        />

        <span
          class={{concat-class
            "sidebar-section-link-content-text"
            @contentCSSClass
          }}
        >
          {{@content}}
        </span>

        {{#if @badgeText}}
          <span class="sidebar-section-link-content-badge">
            {{@badgeText}}
          </span>
        {{/if}}

        {{#if @suffixValue}}
          <span
            class={{concat-class
              "sidebar-section-link-suffix"
              @suffixType
              @suffixCSSClass
            }}
          >
            {{#if (eq @suffixType "icon")}}
              {{d-icon @suffixValue}}
            {{/if}}
          </span>
        {{/if}}

        {{#if @hoverValue}}
          <span class="sidebar-section-link-hover">
            <button
              type="button"
              title={{@hoverTitle}}
              class="sidebar-section-hover-button"
              {{on "click" @hoverAction}}
            >
              {{#if (eq @hoverType "icon")}}
                {{d-icon @hoverValue class="hover-icon"}}
              {{/if}}
            </button>
          </span>
        {{/if}}
      </Sidebar::SectionLinkTo>
    {{/if}}
  </li>
{{/if}}