<div class="sidebar-section-link-wrapper" data-list-item-name={{@name}}>
  <DButton
    class="sidebar-section-link sidebar-row --link-button"
    @noAutoClass={{true}}
    data-link-name={{@name}}
    {{on "click" @action}}
  >
    <span class="sidebar-section-link-prefix icon">
      {{d-icon @icon}}
    </span>
    <span class="sidebar-section-link-content-text">
      {{@text}}
    </span>
  </DButton>
</div>