<%#
# Index

This view is the template for the index page.
It is responsible for rendering the search bar, header and pagination.
It renders the `_table` partial to display details about the resources.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Collection][1].
  Contains helper methods to help display a table,
  and knows which attributes should be displayed in the resource's table.
- `resources`:
  An instance of `ActiveRecord::Relation` containing the resources
  that match the user's search criteria.
  By default, these resources are passed to the table partial to be displayed.
- `search_term`:
  A string containing the term the user has searched for, if any.
- `show_search_bar`:
  A boolean that determines if the search bar should be shown.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Collection
%>

<% content_for(:title) do %>
  Annotations
  <% if params[:code_id].present? %>
    > <%= AnnotatorStore::Tag.find_by(id: params[:code_id]).name %>
  <% end %>
<% end %>


<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title" id="page-title">
    <%= content_for(:title) %>
  </h1>

  <% if show_search_bar %>
    <%= render(
          'search',
          search_term: search_term,
          resource_name: 'Annotations'
        ) %>
  <% end %>
</header>

<section class="main-content__body main-content__body--flush">
  <% if params[:search].present? %>
    <%= render("collection", collection_presenter: page, resources: resources, table_title: "page-title") %>
  <% else %>
    <style type="text/css">
      .filter-nav {
        margin: 0 0 20px 40px;
      }

      .filter-nav a {
        margin-right: 10px;
        font-size: 80%;
      }

      .filter-nav a.active {
        color: #333;
        text-decoration: none;
      }
    </style>

    <div class="filter-nav">
      <%= link_to 'Any Creator', params.except(:page).deep_merge(creator_id: nil), class: (params[:creator_id].present? ? '' : 'active') %>
      <% User.where(id: AnnotatorStore::Annotation.select(:creator_id).uniq.pluck(:creator_id)).order(:name).each do |model| %>
        <%= link_to "by #{model.username}", params.except(:page).deep_merge(creator_id: model.id), class: (params[:creator_id] == model.id.to_s ? 'active' : '') %>
      <% end %>
    </div>

    <%= render("collection", collection_presenter: page, resources: resources, table_title: "page-title") %>
  <% end %>
  <%= paginate resources %>
</section>
