<span
  role="button"
  onclick={{this.deleteWord}}
  class="delete-word-record"
>{{d-icon "times"}}</span>
{{this.word.word}}
{{#if (or this.isReplace this.isLink)}}
  &rarr;
  <span class="replacement">{{this.word.replacement}}</span>
{{else if this.isTag}}
  &rarr;
  {{#each this.tags as |tag|}}
    <span class="tag">{{tag}}</span>
  {{/each}}
{{/if}}
{{#if this.isCaseSensitive}}
  <span class="case-sensitive">{{i18n
      "admin.watched_words.case_sensitive"
    }}</span>
{{/if}}
{{#if this.isHtml}}
  <span class="html">{{i18n "admin.watched_words.html"}}</span>
{{/if}}