<td class="title">{{this.report.title}}</td>
<td class="value">
  <LinkTo @route="adminUsersList.show" @model="newuser">
    {{number (value-at-tl this.report.data level="0")}}
  </LinkTo>
</td>
<td class="value">
  <LinkTo @route="adminUsersList.show" @model="basic">
    {{number (value-at-tl this.report.data level="1")}}
  </LinkTo>
</td>
<td class="value">
  <LinkTo @route="adminUsersList.show" @model="member">
    {{number (value-at-tl this.report.data level="2")}}
  </LinkTo>
</td>
<td class="value">
  <LinkTo @route="adminUsersList.show" @model="regular">
    {{number (value-at-tl this.report.data level="3")}}
  </LinkTo>
</td>
<td class="value">
  <LinkTo @route="adminUsersList.show" @model="leader">
    {{number (value-at-tl this.report.data level="4")}}
  </LinkTo>
</td>