{{#if this.onlyHex}}<span class="add-on">#</span>{{/if}}<TextField
  @value={{this.hexValue}}
  @maxlength={{this.maxlength}}
  @input={{this.onHexInput}}
  class="hex-input"
  aria-labelledby={{this.ariaLabelledby}}
/>
<input
  class="picker"
  type="color"
  value={{this.normalizedHexValue}}
  {{on "input" this.onPickerInput}}
  aria-labelledby={{this.ariaLabelledby}}
/>