{{#if this.newFeatures}}
  <div class="section-title">
    <h2>{{replace-emoji (i18n "admin.dashboard.new_features.title")}}</h2>
  </div>

  <div class="section-body {{this.columnCountClass}}">
    {{#each this.newFeatures as |feature|}}
      <DashboardNewFeatureItem @item={{feature}} @tagName="" />
    {{/each}}
  </div>
  <div class="section-footer">
    {{#if this.releaseNotesLink}}
      <a
        rel="noopener noreferrer"
        target="_blank"
        href={{this.releaseNotesLink}}
        class="btn btn-primary new-features-release-notes"
      >
        {{i18n "admin.dashboard.new_features.learn_more"}}
      </a>
    {{/if}}
    <DButton
      @label="admin.dashboard.new_features.dismiss"
      @class="btn-default new-features-dismiss"
      @action={{this.dismissNewFeatures}}
    />
  </div>
{{/if}}