<div class="admin-new-feature-item">
  <div class="new-feature-emoji">{{this.item.emoji}}</div>
  <div class="new-feature-content">
    <div class="header">
      {{#if this.item.link}}
        <a
          href={{this.item.link}}
          target="_blank"
          rel="noopener noreferrer"
        >{{this.item.title}}</a>
      {{else}}
        {{this.item.title}}
      {{/if}}
    </div>
    <div class="feature-description">{{this.item.description}}</div>
  </div>
</div>