<AceEditor
  @content={{this.editorContents}}
  @onChange={{fn (mut this.editorContents)}}
  @mode={{this.currentEditorMode}}
  @editorId={{this.editorId}}
  @save={{@save}}
/>

<div class="admin-footer">
  <div class="buttons">
    <DButton
      @action={{this.reset}}
      @disabled={{this.resetDisabled}}
      @label="admin.customize.email_style.reset"
      class="btn-default"
    />
  </div>
</div>