{{#if this.isCheckbox}}
  <label for={{this.inputId}}>
    <Input @checked={{this.checked}} id={{this.inputId}} @type="checkbox" />
    {{i18n this.translationKey}}
  </label>
{{else}}
  <label for={{this.inputId}}>{{i18n this.translationKey}}</label>
  <Input
    @value={{this.value}}
    id={{this.inputId}}
    placeholder={{this.placeholder}}
  />
{{/if}}

<div class="clearfix"></div>