{{#if this.editing}}
  <td class="editing-input">
    <div class="label">{{i18n "admin.embedding.host"}}</div>
    <Input
      @value={{this.buffered.host}}
      placeholder="example.com"
      @enter={{this.save}}
      class="host-name"
      autofocus={{true}}
    />
  </td>
  <td class="editing-input">
    <div class="label">{{i18n "admin.embedding.allowed_paths"}}</div>
    <Input
      @value={{this.buffered.allowed_paths}}
      placeholder="/blog/.*"
      @enter={{this.save}}
      class="path-allowlist"
    />
  </td>
  <td class="editing-input">
    <div class="label">{{i18n "admin.embedding.category"}}</div>
    <CategoryChooser
      @value={{this.category.id}}
      @onChangeCategory={{fn (mut this.category)}}
      class="small"
    />
  </td>
  <td class="editing-input">
    <div class="label">{{i18n "admin.embedding.tags"}}</div>
    <TagChooser
      @tags={{this.tags}}
      @everyTag={{true}}
      @excludeSynonyms={{true}}
      @unlimitedTagCount={{true}}
      @onChange={{fn (mut this.tags)}}
      @options={{hash filterPlaceholder="category.tags_placeholder"}}
    />
  </td>
  <td class="editing-input">
    <div class="label">{{i18n "admin.embedding.user"}}</div>
    <UserChooser
      @value={{this.user}}
      @onChange={{action "onUserChange"}}
      @options={{hash maximum=1 excludeCurrentUser=false}}
    />
  </td>
  <td class="editing-controls">
    <DButton
      @icon="check"
      @action={{this.save}}
      @disabled={{this.cantSave}}
      class="btn-primary"
    />
    <DButton
      @icon="times"
      @action={{this.cancel}}
      @disabled={{this.host.isSaving}}
      class="btn-danger"
    />
  </td>
{{else}}
  <td>
    <div class="label">{{i18n "admin.embedding.host"}}</div>
    {{this.host.host}}
  </td>
  <td>
    <div class="label">
      {{i18n "admin.embedding.allowed_paths"}}
    </div>
    {{this.host.allowed_paths}}
  </td>
  <td>
    <div class="label">{{i18n "admin.embedding.category"}}</div>
    {{category-badge this.category allowUncategorized=true}}
  </td>
  <td>
    {{this.tags}}
  </td>
  <td>
    {{this.user}}
  </td>
  <td class="controls">
    <DButton @icon="pencil-alt" @action={{this.edit}} />
    <DButton @icon="far-trash-alt" @action={{this.delete}} class="btn-danger" />
  </td>
{{/if}}