<td class="d-admin-row__detail">
  {{this.host.host}}
</td>
<td class="d-admin-row__detail">
  {{this.host.allowed_paths}}
</td>
<td class="d-admin-row__detail">
  {{category-badge this.category allowUncategorized=true}}
</td>
<td class="d-admin-row__detail">
  {{this.tags}}
</td>
<td class="d-admin-row__detail">
  {{this.user}}
</td>

<td class="d-admin-row__controls">
  <div class="d-admin-row__controls-options">
    <DButton
      class="btn-small admin-embeddable-host-item__edit"
      @route="adminEmbedding.edit"
      @routeModels={{this.host}}
      @label="admin.embedding.edit"
    />

    <DMenu
      @identifier="embedding-host-menu"
      @title={{i18n "admin.embedding.more_options"}}
      @icon="ellipsis-vertical"
    >
      <:content>
        <DropdownMenu as |dropdown|>
          <dropdown.item>
            <DButton
              @action={{this.delete}}
              @icon="trash-can"
              class="btn-transparent admin-embeddable-host-item__delete"
              @label="admin.embedding.delete"
            />
          </dropdown.item>
        </DropdownMenu>
      </:content>
    </DMenu>
  </div>
</td>