<div class="admin-config-page__main-area">
  <Form
    @data={{this.formData}}
    @onSubmit={{this.save}}
    as |form|
  >
    <form.Field
      @name="name"
      @title={{i18n "admin.emoji.name"}}
      @format="medium"
      as |field|>
      <field.Input />
    </form.Field>

    <form.Field
      @name="group"
      @title={{i18n "admin.emoji.group"}}
      as |field|>
      <field.Custom>
        <ComboBox
          @name="group"
          @id="emoji-group-selector"
          @value={{this.group}}
          @content={{this.newEmojiGroups}}
          @onChange={{action "createEmojiGroup"}}
          @valueProperty={{null}}
          @nameProperty={{null}}
          @options={{hash allowAny=true}}
        />
      </field.Custom>
    </form.Field>

    <form.Field
      @name="image"
      @title="Image"
      @format="medium"
      @validation="required"
      as |field|>
      <field.Image @type="emoji" />
    </form.Field>

    <form.Submit @label="admin.emoji.add" />
  </Form>
</div>