{{#if this.collection}}
  <ul class="values emoji-value-list">
    {{#each this.collection as |data index|}}
      <li class="value" data-index={{index}}>
        <DButton
          @action={{fn this.removeValue data}}
          @icon="xmark"
          @disabled={{not data.isEditable}}
          class="remove-value-btn btn-small"
        />

        <div
          class="value-input emoji-details
            {{if data.isEditable 'can-edit'}}
            {{if data.isEditing 'd-editor-textarea-wrapper'}}"
          {{on "click" (fn this.editValue index)}}
          role="button"
        >
          <img
            height="15px"
            width="15px"
            src={{data.emojiUrl}}
            class="emoji-list-emoji"
          />
          <span class="emoji-name">{{data.value}}</span>
        </div>

        {{#if this.showUpDownButtons}}
          <DButton
            @action={{fn this.shift -1 index}}
            @icon="arrow-up"
            class="shift-up-value-btn btn-small"
          />
          <DButton
            @action={{fn this.shift 1 index}}
            @icon="arrow-down"
            class="shift-down-value-btn btn-small"
          />
        {{/if}}
      </li>
    {{/each}}
  </ul>
{{/if}}

<div class="value">
  <EmojiPicker
    @label={{i18n "admin.site_settings.emoji_list.add_emoji_button.label"}}
    @didSelectEmoji={{this.emojiSelected}}
  />
</div>