<RadioButton
  @name="install-items"
  @id={{this.value}}
  @value={{this.value}}
  @selection={{this.selection}}
/>
<label class="radio" for={{this.value}}>
  {{#if this.showIcon}}
    {{d-icon "plus"}}
  {{/if}}
  {{i18n this.label}}
</label>
{{d-icon "caret-right"}}