<div class="settings-editor settings">
  <div class="setting">
    <AceEditor
      @mode="html"
      @content={{this.editorContents}}
    />

    {{#each this.errors as |error|}}
      <div class="validation-error">
        {{d-icon "times"}}
        <b>{{error.setting}}</b>: {{error.errorMessage}}
      </div>
    {{/each}}
  </div>

  <div class="buttons">
    <DButton
      @action={{action "save"}}
      @class="btn-primary"
      @disabled={{this.saveButtonDisabled}}
      @translatedLabel="Save"
    />
  </div>
</div>
