<DModal
  class="add-upload-modal"
  @title={{i18n "admin.customize.theme.add_upload"}}
  @closeModal={{@closeModal}}
  @flash={{this.flash}}
>
  <:body>
    <div class="inputs">
      <section class="field">
        <input
          {{on "change" this.updateName}}
          type="file"
          id="file-input"
          accept="*"
        />
        <label for="file-input">
          {{i18n "admin.customize.theme.upload_file_tip"}}
        </label>
      </section>
      <section class="field">
        <label for="theme-variable-name">
          {{i18n "admin.customize.theme.variable_name"}}
        </label>
        <Input id="theme-variable-name" @value={{this.name}} />
      </section>
      {{#if this.fileSelected}}
        {{#if this.errorMessage}}
          <span class="alert alert-error">{{this.errorMessage}}</span>
        {{/if}}
      {{/if}}
    </div>
  </:body>
  <:footer>
    <DButton
      @action={{this.upload}}
      @disabled={{this.disabled}}
      @icon="upload"
      @label="admin.customize.theme.upload"
      class="btn-primary"
    />
    <DButton
      @action={{@closeModal}}
      @label="cancel"
      class="btn-transparent d-modal-cancel"
    />
  </:footer>
</DModal>