<label class="btn btn-default {{if this.addDisabled 'disabled'}}">
  {{d-icon "upload"}}
  {{i18n "admin.watched_words.form.upload"}}
  <input
    {{did-insert this.uppyUpload.setup}}
    class="hidden-upload-field"
    disabled={{this.addDisabled}}
    type="file"
  />
</label>