<div {{action "onSelectedNameClick"}} tabindex="0" title={{title}} data-value={{value}} data-name={{name}} class="select-kit-selected-name selected-name choice">
  <div class="body">
    {{badge}}
    {{d-icon "times"}}
  </div>
</div>
