<div class="search-input">
  {{#if @inTopicContext}}
    <DButton
      @icon="times"
      @label="search.in_this_topic"
      @title="search.in_this_topic_tooltip"
      @className="btn btn-small search-context"
      @action={{@clearTopicContext}}
      @iconRight={{true}}
    />
  {{else if @inPMInboxContext}}
    <DButton
      @icon="times"
      @label="search.in_messages"
      @title="search.in_messages_tooltip"
      @className="btn btn-small search-context"
      @action={{@clearPMInboxContext}}
      @iconRight={{true}}
    />
  {{/if}}

  <SearchMenu::SearchTerm
    @searchTermChanged={{@searchTermChanged}}
    @focusSearchInput={{@focusSearchInput}}
    @typeFilter={{@typeFilter}}
    @updateTypeFilter={{@updateTypeFilter}}
    @triggerSearch={{@triggerSearch}}
    @fullSearch={{@fullSearch}}
    @clearPMInboxContext={{@clearPMInboxContext}}
    @clearTopicContext={{@clearTopicContext}}
    @closeSearchMenu={{@closeSearchMenu}}
  />

  {{#if @loading}}
    <div class="searching">
      <div class="spinner">
      </div>
    </div>
  {{else}}
    <div class="searching">
      {{#if this.search.activeGlobalSearchTerm}}
        <SearchMenu::ClearButton
          @clearSearch={{@clearSearch}}
          @title={{i18n "search.clear_search"}}
        />
      {{/if}}
      <SearchMenu::AdvancedButton
        @href={{this.advancedSearchButtonHref}}
        @title={{i18n "search.open_advanced"}}
      />
    </div>
  {{/if}}
</div>

{{#if (and @inTopicContext @includesTopics)}}
  <SearchMenu::BrowserSearchTip />
{{else}}
  {{#unless @loading}}
    <SearchMenu::Results
      @noResults={{@noResults}}
      @results={{@results}}
      @invalidTerm={{@invalidTerm}}
      @suggestionKeyword={{@suggestionKeyword}}
      @suggestionResults={{@suggestionResults}}
      @searchTopics={{@includesTopics}}
      @inPMInboxContext={{@inPMInboxContext}}
      @focusSearchInput={{@focusSearchInput}}
      @triggerSearch={{@triggerSearch}}
      @updateTypeFilter={{@updateTypeFilter}}
      @closeSearchMenu={{@closeSearchMenu}}
      @setTopicContext={{@setTopicContext}}
      @searchTermChanged={{@searchTermChanged}}
    />
  {{/unless}}
{{/if}}