<div class="results">
  {{#if @suggestionKeyword}}
    <SearchMenu::Results::Assistant
      @term={{@term}}
      @suggestionKeyword={{@suggestionKeyword}}
      @results={{@suggestionResults}}
    />
  {{else if (and @searchTopics @invalidTerm)}}
    <div class="no-results">
      {{I18n "search.too_short"}}
    </div>
  {{else if (and @searchTopics @noResults)}}
    <div class="no-results">
      {{I18n "search.no_results"}}
    </div>
  {{else if (not (and @term @inPMInboxContext))}}
    <div class="no-results">
      <SearchMenu::Results::InitialOptions @term={{@term}} />
    </div>
  {{else}}
    {{#if @mainResultsContent.length}}
      THIS IS WHERE CONTENT GOES
    {{else}}
      <div class="no-results">
        {{I18n "search.no_results"}}
      </div>
    {{/if}}
  {{/if}}
</div>
