<div class="results">
  {{#if @suggestionKeyword}}
    <SearchMenu::Results::Assistant
      @suggestionKeyword={{@suggestionKeyword}}
      @results={{@suggestionResults}}
    />
  {{else if this.renderTooShort}}
    <div class="no-results">{{I18n "search.too_short"}}</div>
  {{else if this.renderNoResults}}
    <div class="no-results">{{I18n "search.no_results"}}</div>
  {{else if this.renderInitialOptions}}
    <SearchMenu::Results::InitialOptions
      @focusSearchInput={{@focusSearchInput}}
    />
  {{else}}
    {{! THIS IS REALLY NOT RIGHT }}
    {{#if @searchTopics}}
      {{#if this.resultTypes}}
        {{#each this.resultTypes as |resultType|}}
          <div class={{concat "search-result-" resultType.type}}>
            <ul
              class="list"
              aria-label={{concat (I18n "search.results") " " resultType.type}}
            >
              {{#each resultType.results as |result|}}
                <li class="item">
                  <a href={{(or result.url result.path)}} class="search-link">
                    <resultType.component @result={{result}} />
                  </a>
                </li>
              {{/each}}
            </ul>
          </div>
        {{/each}}
      {{else}}
        <div class="no-results">{{I18n "search.no_results"}}</div>
      {{/if}}
    {{else}}
      {{#unless @inPMInboxContext}}
        <SearchMenu::Results::InitialOptions />
      {{/unless}}
    {{/if}}
  {{/if}}
</div>
