<div class="results">
  {{#if @suggestionKeyword}}
    <SearchMenu::Results::Assistant
      @suggestionKeyword={{@suggestionKeyword}}
      @results={{@suggestionResults}}
    />
  {{else if this.termTooShort}}
    <div class="no-results">{{I18n "search.too_short"}}</div>
  {{else if this.noTopicResults}}
    <div class="no-results">{{I18n "search.no_results"}}</div>
  {{else if this.renderInitialOptions}}
    <SearchMenu::Results::InitialOptions />
  {{else}}
    {{#if (not @searchTopics)}}
      {{#unless @inPMInboxContext}}
        <SearchMenu::Results::InitialOptions />
        {{#if this.resultTypes}}
          <SearchMenu::Results::Types @resultTypes={{this.resultTypes}} />
        {{/if}}
      {{/unless}}
    {{else}}
      {{#if this.resultTypes}}
        <SearchMenu::Results::Types @resultTypes={{this.resultTypes}} />
      {{/if}}
    {{/if}}
  {{/if}}
</div>