{{#d-section class="navigation-container"}}
  {{add-category-class category=category}}

  <section class='category-heading'>
    {{#if category.uploaded_logo.url}}
      {{cdn-img src=category.uploaded_logo.url class="category-logo"}}
      {{#if category.description}}
        <p>{{{dir-span category.description}}}</p>
      {{/if}}
    {{/if}}
  </section>

  <div class='category-navigation'>
    {{d-navigation
      category=category
      filterMode=filterMode
      noSubcategories=noSubcategories
      canCreateTopic=canCreateTopic
      createTopic=(route-action "createTopic")
      createTopicDisabled=cannotCreateTopicOnCategory
      hasDraft=draft
      editCategory=(route-action "editCategory" category)}}

    {{plugin-outlet name="category-navigation" args=(hash category=category)}}
  </div>
{{/d-section}}
