{{bread-crumbs categories=categories}}

{{navigation-bar navItems=navItems filterMode=filterMode}}

{{#if canCreateCategory}}
  <button class='btn btn-default' {{action "createCategory"}}><i class='fa fa-plus'></i>{{i18n 'category.create'}}</button>
{{/if}}
{{#if canCreateTopic}}
  <button id="create-topic" class='btn btn-default' {{action "createTopic"}}><i class='fa fa-plus'></i>{{i18n 'topic.create'}}</button>
{{/if}}
