{{bread-crumbs categories=categories
               category=category
               noSubcategories=noSubcategories
               hideSubcategories=showingSubcategoryList}}

<ul class="nav nav-pills" id='navigation-bar'>
  {{#each navItem in navItems}}
    {{navigation-item content=navItem filterMode=filterMode}}
  {{/each}}
  {{custom-html "extraNavItem"}}
</ul>

{{#if canChangeCategoryNotificationLevel}}
  {{view 'category-notifications-button' category=category}}
{{/if}}

{{#if canCreateTopic}}
  <button id="create-topic" class='btn btn-default' {{action createTopic}}><i class='fa fa-plus'></i>{{i18n topic.create}}</button>
{{/if}}

{{#if canEditCategory}}
  <button class='btn btn-default' {{action editCategory category}}><i class="fa fa-wrench"></i> {{i18n category.edit_long}}</button>
{{/if}}

<section class='category-heading'>
  {{#if category.logo_url}}
    <img {{bind-attr src=category.logo_url}} class="category-logo">
    {{#if category.description}}
      <p>{{category.description}}</p>
    {{/if}}
  {{/if}}
</section>
