{{#d-section bodyClass="navigation-topics" scrollTop="false"}}
  {{bread-crumbs categories=categories}}

  {{navigation-bar navItems=navItems filterMode=filterMode}}

  {{#if canCreateTopic}}
    <button id="create-topic" class='btn btn-default' {{action "createTopic"}}>
      {{d-icon "plus"}} <span>{{i18n 'topic.create'}}</span></button>
  {{/if}}
{{/d-section}}
