{{#if isSearch}}
<div class="search row">
  {{input type="text" value=searchTerm class="input-xxlarge search" action="search"}}
  <button {{action "search"}} class="btn btn-primary"><i class='fa fa-search'></i></button>
</div>
{{else}}
{{bread-crumbs categories=categories}}

{{navigation-bar navItems=navItems filterMode=filterMode}}

{{#if canCreateTopic}}
  <button id="create-topic" class='btn btn-default' {{action "createTopic"}}><i class='fa fa-plus'></i>{{i18n 'topic.create'}}</button>
{{/if}}
{{/if}}
