{{#if isLocked}}
  <span class="delete-icon">
    {{d-icon "lock"}}
  </span>
{{else}}
  <span class="locked-icon" {{action deselect computedContent bubbles=false}}>
    {{d-icon "times"}}
  </span>
{{/if}}

<span class="name">
  {{{label}}}
</span>
