{{#if headerContent}}<div class="header">{{headerContent}}</div>{{/if}}

<div class="body">
  <span class="name">
    {{#if forceEscape}}
      {{label}}
    {{else}}
      {{{label}}}
    {{/if}}
  </span>
  {{d-icon 'times'}}
</div>

{{#if footerContent}}<div class="footer">{{footerContent}}</div>{{/if}}
