{{#if this.field.name}}

  <label class="control-label">
    <PluginOutlet
      @name="confirm-title-wrapper"
      @outletArgs={{hash field=this.field}}
    >
      {{this.field.name}}
      {{~#unless this.field.required}}
        {{i18n "user_fields.optional"}}{{/unless~}}
    </PluginOutlet>

  </label>
{{/if}}

<div class="controls">
  <label class="control-label checkbox-label">
    <Input
      id={{concat "user-" this.elementId}}
      @checked={{this.value}}
      @type="checkbox"
    />

    <PluginOutlet
      @name="confirm-checkbox-label-wrapper"
      @outletArgs={{hash field=this.field}}
    >
      <span>
        {{html-safe this.field.description}}
        {{#unless this.field.name}}{{#if this.field.required}}<span
              class="required"
            >*</span>{{/if}}{{/unless}}
      </span>
    </PluginOutlet>

  </label>
  <InputTip
    @validation={{@validation}}
    class={{unless @validation.reason "hidden"}}
  />
</div>