<label
  class="control-label alt-placeholder"
  for={{concat "user-" this.elementId}}
>
  <PluginOutlet
    @name="dropdown-control-label-wrapper"
    @outletArgs={{hash field=this.field}}
  >
    {{this.field.name}}
    {{~#unless this.field.required}} {{i18n "user_fields.optional"}}{{/unless~}}
  </PluginOutlet>
</label>

<div class="controls">

  <PluginOutlet
    @name="dropdown-instructions-wrapper"
    @outletArgs={{hash
      field=this.field
      value=this.value
      fullElementId=this.fullElementId
      noneLabel=this.noneLabel
      updateValue=this.updateValue
    }}
  >
    <ComboBox
      @id={{concat "user-" this.elementId}}
      @content={{this.field.options}}
      @valueProperty={{null}}
      @nameProperty={{null}}
      @value={{this.value}}
      @onChange={{fn (mut this.value)}}
      @options={{hash none=this.noneLabel}}
    />

    <div class="instructions">{{html-safe this.field.description}}</div>
  </PluginOutlet>
</div>