<h3><i class='icon icon-envelope-alt'></i> {{i18n private_message_info.title}}</h3>
<div class='participants clearfix'>
  {{#each allowed_groups}}
  <div class='user group'>
    #{{unbound name}}
  </div>
  {{/each}}
  {{#each allowed_users}}
  <div class='user'>
    <a href='/users/{{lower username}}'>
      {{avatar this imageSize="small"}}
    </a>
    <a href='/users/{{lower username}}'>
      {{unbound username}}
    </a>
  </div>
  {{/each}}
</div>
{{#if can_invite_to}}
  <div class='controls'>
    <button class='btn' {{action showPrivateInvite}}>{{i18n private_message_info.invite}}</button>
  </div>
{{/if}}
