<h3><i class='icon icon-envelope'></i> {{i18n private_message_info.title}}</h3>
<div class='participants clearfix'>
  {{#groupedEach details.allowed_groups}}
  <div class='user group'>
    #{{unbound name}}
  </div>
  {{/groupedEach}}
  {{#groupedEach details.allowed_users}}
  <div class='user'>
    <a href='/users/{{lower username}}'>
      {{avatar this imageSize="small"}}
    </a>
    <a href='/users/{{lower username}}'>
      {{unbound username}}
    </a>
    {{#if controller.model.details.can_remove_allowed_users}}
    <a class='remove-invited' {{action removeAllowedUser username}}><i class="icon-remove"></i></a>
    {{/if}}
  </div>
  {{/groupedEach}}
</div>
{{#if details.can_invite_to}}
  <div class='controls'>
    <button class='btn' {{action showPrivateInvite}}>{{i18n private_message_info.invite}}</button>
  </div>
{{/if}}
