<DSection @pageClass="user-activity" />

<div class="user-navigation user-navigation-secondary">
  <HorizontalOverflowNav @ariaLabel="User secondary - activity">
    <DNavigationItem
      @route="userActivity.index"
      @class="user-nav__activity-all"
      @ariaCurrentContext="subNav"
    >
      {{d-icon "stream"}}
      <span>{{i18n "user.filters.all"}}</span>
    </DNavigationItem>

    <DNavigationItem
      @route="userActivity.topics"
      @class="user-nav__activity-topics"
      @ariaCurrentContext="subNav"
    >
      {{d-icon "list-ul"}}
      <span>{{i18n "user_action_groups.4"}}</span>
    </DNavigationItem>
    <DNavigationItem
      @route="userActivity.replies"
      @class="user-nav__activity-replies"
      @ariaCurrentContext="subNav"
    >
      {{d-icon "reply"}}
      <span>{{i18n "user_action_groups.5"}}</span>
    </DNavigationItem>

    {{#if this.user.showRead}}
      <DNavigationItem
        @route="userActivity.read"
        @class="user-nav__activity-read"
        @title={{i18n "user.read_help"}}
        @ariaCurrentContext="subNav"
      >
        {{d-icon "history"}}
        <span>{{i18n "user.read"}}</span>
      </DNavigationItem>
    {{/if}}

    {{#if this.user.showDrafts}}
      <DNavigationItem
        @route="userActivity.drafts"
        @class="user-nav__activity-drafts"
        @ariaCurrentContext="subNav"
      >
        {{d-icon "pencil-alt"}}
        <span>{{this.draftLabel}}</span>
      </DNavigationItem>
    {{/if}}

    {{#if (gt this.model.pending_posts_count 0)}}
      <DNavigationItem
        @route="userActivity.pending"
        @class="user-nav__activity-pending"
        @ariaCurrentContext="subNav"
      >
        {{d-icon "clock"}}
        <span>{{this.pendingLabel}}</span>
      </DNavigationItem>
    {{/if}}

    <DNavigationItem
      @route="userActivity.likesGiven"
      @class="user-nav__activity-likes"
      @ariaCurrentContext="subNav"
    >
      {{d-icon "heart"}}
      <span>{{i18n "user_action_groups.1"}}</span>
    </DNavigationItem>

    {{#if this.user.showBookmarks}}
      <DNavigationItem
        @route="userActivity.bookmarks"
        @class="user-nav__activity-bookmarks"
        @ariaCurrentContext="subNav"
      >
        {{d-icon "bookmark"}}
        <span>{{i18n "user_action_groups.3"}}</span>
      </DNavigationItem>
    {{/if}}

    <PluginOutlet
      @name="user-activity-bottom"
      @connectorTagName="li"
      @outletArgs={{hash model=this.model}}
    />
  </HorizontalOverflowNav>
</div>

<section class="user-content" id="user-content">
  {{outlet}}
</section>