<DSection @pageClass="user-notifications" />

<div class="user-navigation user-navigation-secondary">
  <HorizontalOverflowNav @ariaLabel="User secondary - notifications">
    <DNavigationItem
      @route="userNotifications.index"
      @class="user-nav__notifications-all"
      @ariaCurrentContext="subNav"
    >
      {{d-icon "bell"}}
      <span>{{i18n "user.filters.all"}}</span>
    </DNavigationItem>

    <DNavigationItem
      @route="userNotifications.responses"
      @class="user-nav__notifications-responses"
      @ariaCurrentContext="subNav"
    >
      {{d-icon "reply"}}
      <span>{{i18n "user_action_groups.6"}}</span>
    </DNavigationItem>

    <DNavigationItem
      @route="userNotifications.likesReceived"
      @class="user-nav__notifications-likes"
      @ariaCurrentContext="subNav"
    >
      {{d-icon "heart"}}
      <span>{{i18n "user_action_groups.2"}}</span>
    </DNavigationItem>

    {{#if this.siteSettings.enable_mentions}}
      <DNavigationItem
        @route="userNotifications.mentions"
        @class="user-nav__notifications-mentions"
        @ariaCurrentContext="subNav"
      >
        {{d-icon "at"}}
        <span>{{i18n "user_action_groups.7"}}</span>
      </DNavigationItem>
    {{/if}}

    <DNavigationItem
      @route="userNotifications.edits"
      @class="user-nav__notifications-edits"
      @ariaCurrentContext="subNav"
    >
      {{d-icon "pencil-alt"}}
      <span>{{i18n "user_action_groups.11"}}</span>
    </DNavigationItem>

    <PluginOutlet
      @name="user-notifications-bottom"
      @connectorTagName="li"
      @outletArgs={{hash model=this.model}}
    />

  </HorizontalOverflowNav>

  {{#if this.model}}
    <div class="navigation-controls">
      <DButton
        @title="user.dismiss_notifications_tooltip"
        @class="btn btn-default dismiss-notifications"
        @action={{action "resetNew"}}
        @label="user.dismiss_notifications"
        @icon="check"
        @disabled={{this.allNotificationsRead}}
      />
    </div>
  {{/if}}
</div>

<section class="user-content" id="user-content">
  <LoadMore
    @class="notification-history user-stream"
    @selector=".user-stream .notification"
    @action={{action "loadMore"}}
  >
    {{outlet}}
    <ConditionalLoadingSpinner @condition={{this.model.loadingMore}} />
  </LoadMore>
</section>