<div class='container badges'>
  <h1>{{i18n 'badges.title'}}</h1>

  <table class='badges-listing'>
    <tbody>
      {{#each badgeGroups}}
        <tr class='title'>
          <td colspan=4><h3>{{this.badgeGrouping.displayName}}</h3></td>
        </tr>
        {{#each this.badges}}
          <tr>
            <td class='granted'>{{#if this.has_badge}}<i class='fa fa-check'></i>{{/if}}</td>
            <td class='badge'>{{user-badge badge=this}}</td>
            <td class='description'>{{{displayDescriptionHtml}}}</td>
            <td class='grant-count'><span title="{{i18n 'badges.granted' count=grant_count}}">{{grant_count}}</span></td>
          </tr>
        {{/each}}
      {{/each}}
    </tbody>
  </table>
</div>
