<div id='main' class=<%= @classes %>>
  <% if SiteSetting.private_email? %>
    <p><%= t('system_messages.contents_hidden') %></p>
  <% else %>
    <%= render partial: 'email/post', locals: { post: @post, use_excerpt: SiteSetting.post_excerpts_in_emails } %>
  <% end %>

  <hr>
  <div class='footer undecorated-link-footer <%= @first_footer_classes %>'>
    <p>
      <%= raw(t 'user_notifications.policy_email.visit_link_to_respond',
        visit_topic_link: link_to(t('user_notifications.policy_email.visit_topic'), "#{Discourse.base_url}#{@post.url(without_slug: SiteSetting.private_email?)}")) %>
    </p>
  </div>
  <div class='footer'>
    <p>
      <%= raw(t 'user_notifications.policy_email.unsubscribe',
        email_preferences_link: link_to(t('user_notifications.policy_email.your_policy_email_settings'), @preferences_path),
        unsubscribe_link: link_to(t('user_notifications.digest.click_here'), @unsubscribe_link)) %>
    </p>
  </div>
</div>

<div itemscope itemtype="http://schema.org/EmailMessage" style="display:none">
  <div itemprop="action" itemscope itemtype="http://schema.org/ViewAction">
    <link itemprop="url" href="<%= Discourse.base_url %><%= @post.url(without_slug: SiteSetting.private_email?) %>" />
    <meta itemprop="name" content="<%= t 'read_full_topic' %>"/>
  </div>
</div>
