<DNavigationItem @route="userActivity.index">
  {{d-icon "stream"}}
  <span>{{i18n "user.filters.all"}}</span>
</DNavigationItem>
<DNavigationItem @route="userActivity.topics">
  {{d-icon "list-ul"}}
  <span>{{i18n "user_action_groups.4"}}</span>
</DNavigationItem>
<DNavigationItem @route="userActivity.replies">
  {{d-icon "reply"}}
  <span>{{i18n "user_action_groups.5"}}</span>
</DNavigationItem>

{{#if @user.showRead}}
  <DNavigationItem @route="userActivity.read" @title={{i18n "user.read_help"}}>
    {{d-icon "history"}}
    <span>{{i18n "user.read"}}</span>
  </DNavigationItem>
{{/if}}

{{#if @user.showDrafts}}
  <DNavigationItem @route="userActivity.drafts">
    {{d-icon "pencil-alt"}}
    <span>{{@draftLabel}}</span>
  </DNavigationItem>
{{/if}}

{{#if (gt @model.pending_posts_count 0)}}
  <DNavigationItem @route="userActivity.pending">
    {{d-icon "clock"}}
    <span>{{@pendingLabel}}</span>
  </DNavigationItem>
{{/if}}

<DNavigationItem @route="userActivity.likesGiven">
  {{d-icon "heart"}}
  <span>{{i18n "user_action_groups.1"}}</span>
</DNavigationItem>

{{#if @user.showBookmarks}}
  <DNavigationItem @route="userActivity.bookmarks">
    {{d-icon "bookmark"}}
    <span>{{i18n "user_action_groups.3"}}</span>
  </DNavigationItem>
{{/if}}

<PluginOutlet
  @name="user-activity-bottom"
  @connectorTagName="li"
  @args={{hash model=@model}}
/>