<li class={{concat @class " user-nav-dropdown-list-item"}}>
  <button
    type="button"
    class={{this.buttonClass}}
    {{on "click" this.toggleList}}
  >
    {{d-icon @icon}}
    <span>{{@text}}</span>
    {{d-icon this.chevron class="user-nav-dropdown-chevron"}}
  </button>

  {{#if (and (has-block "submenu") this.displayList)}}
    <div
      class="user-nav-dropdown-submenu-wrapper"
      {{did-insert this.registerClickListener}}
      {{will-destroy this.deregisterClickListener}}
    >

      <ul class={{concat @submenuClass " user-nav-dropdown-submenu"}}>
        {{yield to="submenu"}}
      </ul>
    </div>
  {{/if}}
</li>