<div class="user-navigation user-navigation-secondary">
  {{#if (gt @user.groupsWithMessages.length 0)}}
    <ol class="category-breadcrumb">
      <li>
        <UserNav::MessagesGroupsDropdown @user={{@user}} @pmTaggingEnabled={{@pmTaggingEnabled}} @value={{this.messagesDropdownvalue}} />
      </li>
    </ol>
  {{/if}}

  <HorizontalOverflowNav @className="messages-nav" id="user-navigation-secondary__horizontal-nav" />

  {{#if this.site.desktopView}}
    <div class="navigation-controls">
      {{#if @isGroup}}
        <GroupNotificationsButton @value={{@group.group_user.notification_level}} @onChange={{action @changeGroupNotificationLevel}} />
      {{/if}}

      {{#if @showNewPM}}
        <DButton @class="btn-primary new-private-message" @action={{route-action "composePrivateMessage"}} @icon="envelope" @label="user.new_private_message" />
      {{/if}}
    </div>
  {{/if}}
</div>
