<li>
  <LinkTo @route="userNotifications.index">
    {{d-icon "bell"}}
    <span>{{i18n "user.filters.all"}}</span>
  </LinkTo>
</li>

<li>
  <LinkTo @route="userNotifications.responses">
    {{d-icon "reply"}}
    <span>{{i18n "user_action_groups.6"}}</span>
  </LinkTo>
</li>

<li>
  <LinkTo @route="userNotifications.likesReceived">
    {{d-icon "heart"}}
    <span>{{i18n "user_action_groups.2"}}</span>
  </LinkTo>
</li>

{{#if this.siteSettings.enable_mentions}}
  <li>
    <LinkTo @route="userNotifications.mentions">
      {{d-icon "at"}}
      <span>{{i18n "user_action_groups.7"}}</span>
    </LinkTo>
  </li>
{{/if}}

<li>
  <LinkTo @route="userNotifications.edits">
    {{d-icon "pencil-alt"}}
    <span>{{i18n "user_action_groups.11"}}</span>
  </LinkTo>
</li>

<PluginOutlet @name="user-notifications-bottom" @connectorTagName="li" @args={{hash model=@model}} />
