<DNavigationItem
  @route="userNotifications.index"
  @class="user-nav__notifications-all"
  @ariaCurrentContext={{@ariaCurrentContext}}
>
  {{d-icon "bell"}}
  <span>{{i18n "user.filters.all"}}</span>
</DNavigationItem>

<DNavigationItem
  @route="userNotifications.responses"
  @class="user-nav__notifications-responses"
  @ariaCurrentContext={{@ariaCurrentContext}}
>
  {{d-icon "reply"}}
  <span>{{i18n "user_action_groups.6"}}</span>
</DNavigationItem>

<DNavigationItem
  @route="userNotifications.likesReceived"
  @class="user-nav__notifications-likes"
  @ariaCurrentContext={{@ariaCurrentContext}}
>
  {{d-icon "heart"}}
  <span>{{i18n "user_action_groups.2"}}</span>
</DNavigationItem>

{{#if @siteSettings.enable_mentions}}
  <DNavigationItem
    @route="userNotifications.mentions"
    @class="user-nav__notifications-mentions"
    @ariaCurrentContext={{@ariaCurrentContext}}
  >
    {{d-icon "at"}}
    <span>{{i18n "user_action_groups.7"}}</span>
  </DNavigationItem>
{{/if}}

<DNavigationItem
  @route="userNotifications.edits"
  @class="user-nav__notifications-edits"
  @ariaCurrentContext={{@ariaCurrentContext}}
>
  {{d-icon "pencil-alt"}}
  <span>{{i18n "user_action_groups.11"}}</span>
</DNavigationItem>

<PluginOutlet
  @name="user-notifications-bottom"
  @connectorTagName="li"
  @outletArgs={{hash model=@model}}
/>