<li class="nav-account">
  <LinkTo @route="preferences.account">
    {{d-icon "user"}}
    <span>{{i18n "user.preferences_nav.account"}}</span>
  </LinkTo>
</li>

<li class="nav-security">
  <LinkTo @route="preferences.security">
    {{d-icon "lock"}}
    <span>{{i18n "user.preferences_nav.security"}}</span>
  </LinkTo>
</li>

<li class="nav-profile">
  <LinkTo @route="preferences.profile">
    {{d-icon "user"}}
    <span>{{i18n "user.preferences_nav.profile"}}</span>
  </LinkTo>
</li>

<li class="nav-emails">
  <LinkTo @route="preferences.emails">
    {{d-icon "envelope"}}
    <span>{{i18n "user.preferences_nav.emails"}}</span>
  </LinkTo>
</li>

<li class="nav-notifications">
  <LinkTo @route="preferences.notifications">
    {{d-icon "bell"}}
    <span>{{i18n "user.preferences_nav.notifications"}}</span>
  </LinkTo>
</li>

{{#if @model.can_change_tracking_preferences}}
  <li class="nav-tracking">
    <LinkTo @route="preferences.tracking">
      {{d-icon "plus"}}
      <span>{{i18n "user.preferences_nav.tracking"}}</span>
    </LinkTo>
  </li>
{{/if}}

<li class="indent nav-users">
  <LinkTo @route="preferences.users">
    {{d-icon "users"}}
    <span>{{i18n "user.preferences_nav.users"}}</span>
  </LinkTo>
</li>

<li class="nav-interface">
  <LinkTo @route="preferences.interface">
    {{d-icon "desktop"}}
    <span>{{i18n "user.preferences_nav.interface"}}</span>
  </LinkTo>
</li>

{{#if (not (eq @siteSettings.navigation_menu "legacy"))}}
  <li class="indent nav-sidebar">
    <LinkTo @route="preferences.sidebar">
      {{d-icon "bars"}}
      <span>{{i18n "user.preferences_nav.sidebar"}}</span>
    </LinkTo>
  </li>
{{/if}}

<PluginOutlet @name="user-preferences-nav-under-interface" @connectorTagName="div" @args={{hash model=@model}} />
<PluginOutlet @name="user-preferences-nav" @connectorTagName="li" @args={{hash model=@model}} />
