{{!-- template-lint-disable no-down-event-binding --}}

<div class="user-navigation user-navigation-secondary {{if this.hasScroll "has-scroll"}}">
  {{#if this.hasScroll}}
    <a
      role="button"
      {{on "mousedown" this.horizScroll}}
      data-direction="left"
      class="nav-overflow__scroll-left btn-flat {{if this.hideLeftScroll "transparent"}}"
    >
      {{d-icon "chevron-left"}}
    </a>
  {{/if}}

  <ul
    {{did-insert this.scrollToActive}}
    {{on-resize this.checkScroll}}
    {{on "scroll" this.watchScroll}}
    class="nav-pills action-list"
  >
    <li class="nav-account">
      <LinkTo @route="preferences.account">
        {{d-icon "user"}}
        <span>{{i18n "user.preferences_nav.account"}}</span>
      </LinkTo>
    </li>
    <li class="nav-security">
      <LinkTo @route="preferences.security">
        {{d-icon "lock"}}
        <span>{{i18n "user.preferences_nav.security"}}</span>
      </LinkTo>
    </li>
    <li class="nav-profile">
      <LinkTo @route="preferences.profile">
        {{d-icon "user"}}
        <span>{{i18n "user.preferences_nav.profile"}}</span>
      </LinkTo>
    </li>
    <li class="nav-emails">
      <LinkTo @route="preferences.emails">
        {{d-icon "envelope"}}
        <span>{{i18n "user.preferences_nav.emails"}}</span>
      </LinkTo>
    </li>
    <li class="nav-notifications">
      <LinkTo @route="preferences.notifications">
        {{d-icon "bell"}}
        <span>{{i18n "user.preferences_nav.notifications"}}</span>
      </LinkTo>
    </li>
    {{#if @model.can_change_tracking_preferences}}
      <li class="indent nav-categories">
        <LinkTo @route="preferences.categories">
          {{d-icon "folder"}}
          <span>{{i18n "user.preferences_nav.categories"}}</span>
        </LinkTo>
      </li>
    {{/if}}
    <li class="indent nav-users">
      <LinkTo @route="preferences.users">
        {{d-icon "users"}}
        <span>{{i18n "user.preferences_nav.users"}}</span>
      </LinkTo>
    </li>
    {{#if (and @model.can_change_tracking_preferences @siteSettings.tagging_enabled)}}
      <li class="indent nav-tags">
        <LinkTo @route="preferences.tags">
          {{d-icon "tag"}}
          <span>{{i18n "user.preferences_nav.tags"}}</span>
        </LinkTo>
      </li>
    {{/if}}
    <li class="nav-interface">
      <LinkTo @route="preferences.interface">
        {{d-icon "desktop"}}
        <span>{{i18n "user.preferences_nav.interface"}}</span>
      </LinkTo>
    </li>
    {{#if @siteSettings.enable_experimental_sidebar_hamburger}}
      <li class="indent nav-sidebar">
        <LinkTo @route="preferences.sidebar">
          {{d-icon "bars"}}
          <span>{{i18n "user.preferences_nav.sidebar"}}</span>
        </LinkTo>
      </li>
    {{/if}}
    <PluginOutlet @name="user-preferences-nav-under-interface" @connectorTagName="div" @args={{hash model=@model}} />
    <li class="nav-apps">
      <LinkTo @route="preferences.apps">
        {{d-icon "mobile-alt"}}
        <span>{{i18n "user.preferences_nav.apps"}}</span>
      </LinkTo>
    </li>
    <PluginOutlet @name="user-preferences-nav" @connectorTagName="li" @args={{hash model=@model}} />
  </ul>

  {{#if this.hasScroll}}
    <a
      role="button"
      {{on "mousedown" this.horizScroll}}
      class="nav-overflow__scroll-right btn-flat {{if this.hideRightScroll "transparent"}}"
    >
      {{d-icon "chevron-right"}}
    </a>
  {{/if}}
</div>
