<DNavigationItem
  @route="preferences.account"
  @class="user-nav__preferences-account"
  @ariaCurrentContext={{@ariaCurrentContext}}
>
  {{d-icon "user"}}
  <span>{{i18n "user.preferences_nav.account"}}</span>
</DNavigationItem>

<DNavigationItem
  @route="preferences.security"
  @class="user-nav__preferences-security"
  @ariaCurrentContext={{@ariaCurrentContext}}
>
  {{d-icon "lock"}}
  <span>{{i18n "user.preferences_nav.security"}}</span>
</DNavigationItem>

<DNavigationItem
  @route="preferences.profile"
  @class="user-nav__preferences-profile"
  @ariaCurrentContext={{@ariaCurrentContext}}
>
  {{d-icon "user"}}
  <span>{{i18n "user.preferences_nav.profile"}}</span>
</DNavigationItem>

<DNavigationItem
  @route="preferences.emails"
  @class="user-nav__preferences-emails"
  @ariaCurrentContext={{@ariaCurrentContext}}
>
  {{d-icon "envelope"}}
  <span>{{i18n "user.preferences_nav.emails"}}</span>
</DNavigationItem>

<DNavigationItem
  @route="preferences.notifications"
  @class="user-nav__preferences-notifications"
  @ariaCurrentContext={{@ariaCurrentContext}}
>
  {{d-icon "bell"}}
  <span>{{i18n "user.preferences_nav.notifications"}}</span>
</DNavigationItem>

{{#if @model.can_change_tracking_preferences}}
  <DNavigationItem
    @route="preferences.tracking"
    @class="user-nav__preferences-tracking"
    @ariaCurrentContext={{@ariaCurrentContext}}
  >
    {{d-icon "plus"}}
    <span>{{i18n "user.preferences_nav.tracking"}}</span>
  </DNavigationItem>
{{/if}}

<DNavigationItem
  @route="preferences.users"
  @class="user-nav__preferences-users"
  @ariaCurrentContext={{@ariaCurrentContext}}
>
  {{d-icon "users"}}
  <span>{{i18n "user.preferences_nav.users"}}</span>
</DNavigationItem>

<DNavigationItem
  @route="preferences.interface"
  @class="user-nav__preferences-interface"
  @ariaCurrentContext={{@ariaCurrentContext}}
>
  {{d-icon "desktop"}}
  <span>{{i18n "user.preferences_nav.interface"}}</span>
</DNavigationItem>

{{#if (not (eq @siteSettings.navigation_menu "legacy"))}}
  <DNavigationItem
    @route="preferences.sidebar"
    @class="user-nav__preferences-sidebar"
    @ariaCurrentContext={{@ariaCurrentContext}}
  >
    {{d-icon "bars"}}
    <span>{{i18n "user.preferences_nav.sidebar"}}</span>
  </DNavigationItem>
{{/if}}

<PluginOutlet
  @name="user-preferences-nav-under-interface"
  @connectorTagName="div"
  @outletArgs={{hash model=@model}}
/>
<PluginOutlet
  @name="user-preferences-nav"
  @connectorTagName="li"
  @outletArgs={{hash model=@model}}
/>