<div class="modal-body">
  <form>
    {{autoCloseForm autoCloseDays=auto_close_days}}
  </form>
</div>
<div class="modal-footer">
  <button class='btn btn-primary' {{action saveAutoClose}}>{{i18n topic.auto_close_save}}</button>
  <a {{action closeModal}}>{{i18n cancel}}</a>
  <button class='btn pull-right' {{action removeAutoClose}}>{{i18n topic.auto_close_remove}}</button>
</div>
