<div class="modal-body">
  <div>
    <div>
      <input type="radio" id="system-avatar" name="avatar" value="system" {{action "useSystem"}}>
      <label class="radio" for="system-avatar">{{bound-avatar-template system_avatar_template "large"}} {{{i18n 'user.change_avatar.letter_based'}}}</label>
    </div>
    <div>
      <input type="radio" id="gravatar" name="avatar" value="gravatar" {{action "useGravatar"}}>
      <label class="radio" for="gravatar">{{bound-avatar-template gravatar_avatar_template "large"}} {{{i18n 'user.change_avatar.gravatar'}}} {{email}}</label>
      {{d-button action="refreshGravatar" title="user.change_avatar.refresh_gravatar_title" disabled=gravatarRefreshDisabled icon="refresh"}}
    </div>
    {{#if allowImageUpload}}
      <div>
        <input type="radio" id="uploaded_avatar" name="avatar" value="uploaded" {{action "useUploadedAvatar"}}>
        <label class="radio" for="uploaded_avatar">
          {{#if custom_avatar_template}}
            {{bound-avatar-template custom_avatar_template "large"}}
            {{i18n 'user.change_avatar.uploaded_avatar'}}
          {{else}}
            {{i18n 'user.change_avatar.uploaded_avatar_empty'}}
          {{/if}}
        </label>
        {{avatar-uploader user_id=id
                          uploadedAvatarTemplate=custom_avatar_template
                          uploadedAvatarId=custom_avatar_upload_id
                          uploading=uploading
                          done="useUploadedAvatar"}}
      </div>
    {{/if}}
  </div>
</div>

<div class="modal-footer">
  {{d-button action="saveAvatarSelection" class="btn-primary" disabled=uploading label="save"}}
  <a {{action "closeModal"}}>{{i18n 'cancel'}}</a>
</div>
