<p>
  <button class='btn' {{action "showChangeCategory"}}>{{i18n 'topics.bulk.change_category'}}</button>
  <button class='btn' {{action "deleteTopics"}}>{{i18n 'topics.bulk.delete'}}</button>
  <button class='btn' {{action "closeTopics"}}>{{i18n 'topics.bulk.close_topics'}}</button>
  <button class='btn' {{action "archiveTopics"}}>{{i18n 'topics.bulk.archive_topics'}}</button>
</p>
<p>
  <button class='btn' {{action "showNotificationLevel"}}>{{i18n 'topics.bulk.notification_level'}}</button>
  <button class='btn' {{action "resetRead"}}>{{i18n 'topics.bulk.reset_read'}}</button>
</p>
