{{#d-modal-body}}
  {{{i18n 'topic.change_owner.instructions' count=selectedPostsCount old_user=selectedPostsUsername}}}
  <p>
      {{{i18n 'topic.change_owner.instructions_warn'}}}
  </p>

  <form>
    <label>{{i18n 'topic.change_owner.label'}}</label>
    {{user-selector single="true"
                    usernames=new_user
                    placeholderKey="topic.change_owner.placeholder"
                    autocomplete="off"}}
  </form>
{{/d-modal-body}}

<div class="modal-footer">
  <button class='btn btn-primary' disabled={{buttonDisabled}} {{action "changeOwnershipOfPosts"}}>{{buttonTitle}}</button>
</div>
