{{#unless complete}}
  <div class="modal-body">
    <div>
      <form>
      <table>
      <tr>
          <td style="width:80px"><label for='new-account-name'>{{i18n user.name.title}}</label></td>
          <td style="width:496px">
          {{textField value=accountName id="new-account-name" autofocus="autofocus"}}
          &nbsp;{{inputTip validation=nameValidation}}
          </td>
      </tr>
      <tr>
        <td></td>
        <td><label>{{i18n user.name.instructions}}</label></td>
      </tr>

      <tr>
            <td><label for='new-account-email'>{{i18n user.email.title}}</label></td>
            <td>
            {{input value=accountEmail id="new-account-email"}}
            &nbsp;{{inputTip validation=emailValidation}}
            </td>
      </tr>
      <tr>
        <td></td>
        <td><label>{{i18n user.email.instructions}}</label></td>
      </tr>

      <tr>
            <td><label for='new-account-username'>{{i18n user.username.title}}</label></td>
            <td>
            {{input value=accountUsername id="new-account-username" maxlength="15"}}
            &nbsp;{{inputTip validation=usernameValidation}}
            </td>
      </tr>
      <tr>
        <td></td>
        <td><label>{{i18n user.username.instructions}}</label></td>
      </tr>

      {{#if passwordRequired}}
      <tr>
          <td><label for='new-account-password'>{{i18n user.password.title}}</label></td>
          <td>
          {{input type="password" value=accountPassword id="new-account-password"}}
          &nbsp;{{inputTip validation=passwordValidation}}
          </td>
      </tr>
      {{/if}}

      <tr class="password-confirmation">
          <td><label for='new-account-password-confirmation'>{{i18n user.password_confirmation.title}}</label></td>
          <td>
          {{input type="password" value=accountPasswordConfirm id="new-account-confirmation"}}
          {{input value=accountChallenge id="new-account-challenge"}}
          </td>
      </tr>

      </table>
      </form>
    </div>
  </div>

  <div class="modal-footer">
    <button class='btn btn-large btn-primary' {{bindAttr disabled="submitDisabled"}} {{action createAccount}}>{{i18n create_account.title}}</button>
  </div>
{{/unless}}