{{#d-modal-body title="topic.topic_status_update.title" autoFocus="false"}}
  <div class="radios">
    <label for="public-topic-timer">
      {{radio-button id='public-topic-timer' name="topic-timer" value="true" selection=isPublic}}
      <b>{{i18n 'topic.topic_status_update.public_timer_types'}}</b>
    </label>

    <label for="private-topic-timer">
      {{radio-button id='private-topic-timer' name="topic-timer" value="false" selection=isPublic}}
      <b>{{i18n 'topic.topic_status_update.private_timer_types'}}</b>
    </label>
  </div>

  {{edit-topic-timer-form
    topic=model
    topicTimer=topicTimer
    timerTypes=selections
    updateTime=updateTime
    onChangeStatusType=(action "onChangeStatusType")
    onChangeUpdateTime=(action "onChangeUpdateTime")
  }}
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button class="btn-primary"
      disabled=saveDisabled
      label="topic.topic_status_update.save"
      action=(action "saveTimer")}}

  {{conditional-loading-spinner size="small" condition=loading}}

  {{#if topicTimer.execute_at}}
    {{d-button class="pull-right btn-danger"
        action=(action "removeTimer")
        label='topic.topic_status_update.remove'}}
  {{/if}}
</div>
