<div {{bind-attr class="loading:invisible"}}>
  <ul class="nav nav-pills">
    <li {{bind-attr class="generalSelected:active"}}>
      <a href="#" {{action selectGeneral}}>{{i18n category.general}}</a>
    </li>
    {{#unless isUncategorized}}
      <li {{bind-attr class="securitySelected:active"}}>
        <a href="#" {{action selectSecurity}}>{{i18n category.security}}</a>
      </li>
      <li {{bind-attr class="settingsSelected:active"}}>
        <a href="#" {{action selectSettings}}>{{i18n category.settings}}</a>
      </li>
    {{/unless}}
  </ul>

  <div class="modal-body">
    <div {{bind-attr class=":modal-tab :general-tab generalSelected::invisible"}}>
      <form>
        <section class='field'>
          <label>{{i18n category.name}}</label>
          {{text-field value=name placeholderKey="category.name_placeholder" maxlength="50"}}
        </section>

        <section class='field'>
          {{#if subCategories}}
            <label>{{i18n categories.subcategories}}</label>
            {{#each subCategories}}
              {{category-badge this}}
            {{/each}}
          {{else}}
            <label>{{i18n category.parent}}</label>
            {{category-chooser valueAttribute="id" value=parent_category_id categories=parentCategories rootNone=true}}
          {{/if}}
        </section>

        {{#if showDescription}}
          <section class='field'>
            <label>{{i18n category.description}}</label>

            {{#if description}}
              {{description}}
            {{else}}
              {{i18n category.no_description}}
            {{/if}}
            {{#if topic_url}}
              <br/>
              <button class="btn btn-small" {{action showCategoryTopic}}><i class="fa fa-pencil"></i>{{i18n category.change_in_category_topic}}</button>
            {{/if}}
          </section>
        {{/if}}

        <section class='field'>
          <label>{{i18n category.badge_colors}}</label>
          <div class="category-color-editor">
            {{{categoryBadgePreview}}}

            <div class='input-prepend input-append' style="margin-top: 10px;">
              <span class='color-title'>{{i18n category.background_color}}:</span>
              <span class='add-on'>#</span>{{text-field value=color placeholderKey="category.color_placeholder" maxlength="6"}}
              {{colorPicker colors=backgroundColors usedColors=usedBackgroundColors value=color}}
            </div>

            <div class='input-prepend input-append'>
              <span class='color-title'>{{i18n category.foreground_color}}:</span>
              <span class='add-on'>#</span>{{text-field value=text_color placeholderKey="category.color_placeholder" maxlength="6"}}
              {{colorPicker colors=foregroundColors value=text_color}}
            </div>
          </div>
        </section>
      </form>
    </div>
    {{#unless isUncategorized}}
      <div {{bind-attr class=":modal-tab :options-tab securitySelected::invisible"}}>
        <section class='field'>
          <ul class='permission-list'>
            {{#each permissions}}
              <li>
                <span class="name"><span class="badge-group">{{group_name}}</span></span>
                {{{i18n "category.can"}}}
                <span class="permission">{{permission.description}}</span>
                {{#if controller.editingPermissions}}
                  <a {{action removePermission this}}><i class="fa fa-times-circle"></i></a>
                {{/if}}
              </li>
            {{/each}}
          </ul>
          {{#if controller.editingPermissions}}
            {{view Ember.Select contentBinding="availableGroups" valueBinding="selectedGroup"}}
            {{view Ember.Select class="permission-selector" optionValuePath="content.id" optionLabelPath="content.description" contentBinding="availablePermissions" valueBinding="selectedPermission"}}
            <button {{action addPermission selectedGroup selectedPermission}} class="btn btn-small">{{i18n category.add_permission}}</button>
          {{else}}
            <button {{action editPermissions}} class="btn btn-small">{{i18n category.edit_permissions}}</button>
          {{/if}}
        </section>
      </div>
      <div {{bind-attr class=":modal-tab :options-tab settingsSelected::invisible"}}>
        <section class='field'>
          <div class="auto-close-fields">
            <div>
              <i class="fa fa-clock-o"></i>
              {{i18n category.auto_close_label}}
              {{text-field value=auto_close_hours}}
              {{i18n category.auto_close_units}}
            </div>
          </div>
        </section>

        {{#if controller.emailInEnabled}}
          <section class='field'>
            <div class="email-in-fields">
              <div>
                <i class="fa fa-envelope-o"></i>
                {{i18n category.email_in}}
                {{text-field value=email_in}}
              </div>
              <div>
                <label class="checkbox-label">
                  {{view Ember.Checkbox checkedBinding="email_in_allow_strangers"}}
                  {{i18n category.email_in_allow_strangers}}
                </label>
              </div>
            </div>
          </section>
        {{/if}}

        {{#if showPositionInput}}
          <section class='field'>
            <label>{{i18n category.position}}</label>
            {{text-field value=position class="position-input"}}
          </section>
        {{else}}
          <p>{{i18n category.position_disabled}}</p>
        {{/if}}
      </div>
    {{/unless}}
  </div>
  <div class="modal-footer">
    <button class='btn btn-primary' {{bind-attr disabled="disabled"}} {{action saveCategory}}>{{buttonTitle}}</button>
    {{#if can_delete}}
      <button class='btn btn-danger pull-right' {{bind-attr disabled="deleteDisabled"}} {{action deleteCategory}}><i class="fa fa-trash-o"></i>{{deleteButtonTitle}}</button>
    {{/if}}
  </div>
</div>
