<div {{bind-attr class="loading:invisible"}}>
  <ul class="nav nav-pills">
    {{edit-category-tab selectedTab=selectedTab tab="general"}}
    {{#unless isUncategorizedCategory}}
      {{edit-category-tab selectedTab=selectedTab tab="security"}}
    {{/unless}}
    {{edit-category-tab selectedTab=selectedTab tab="settings"}}
    {{edit-category-tab selectedTab=selectedTab tab="images"}}
  </ul>

  <div class="modal-body">
    {{#each tab in view.panels}}
      {{view 'edit-category-panel' tab=tab}}
    {{/each}}
  </div>

  <div class="modal-footer">
    <button class='btn btn-primary' {{bind-attr disabled="disabled"}} {{action "saveCategory"}}>{{buttonTitle}}</button>
    {{#if can_delete}}
      <button class='btn btn-danger pull-right' {{bind-attr disabled="deleteDisabled"}} {{action "deleteCategory"}}><i class="fa fa-trash-o"></i>{{deleteButtonTitle}}</button>
    {{else}}
      <div class="cannot_delete_reason">
        {{{cannot_delete_reason}}}
      </div>
    {{/if}}
  </div>
</div>
