{{#with view.category}}

<div {{bindAttr class="view.loading:invisible"}}>
  <ul class="nav nav-pills">
    <li {{bindAttr class="view.generalSelected:active"}}>
      <a href="#" {{action selectGeneral target="view"}}>{{i18n category.general}}</a>
    </li>
    {{#unless isUncategorized}}
      <li {{bindAttr class="view.securitySelected:active"}}>
        <a href="#" {{action selectSecurity target="view"}}>{{i18n category.security}}</a>
      </li>
      <li {{bindAttr class="view.settingsSelected:active"}}>
        <a href="#" {{action selectSettings target="view"}}>{{i18n category.settings}}</a>
      </li>
    {{/unless}}
  </ul>

  <div class="modal-body">
    <div {{bindAttr class=":modal-tab :general-tab view.generalSelected::invisible"}}>
      <form>
        <section class='field'>
          <label>{{i18n category.name}}</label>
          {{textField value=name placeholderKey="category.name_placeholder" maxlength="50"}}
        </section>

        {{#unless isUncategorized}}
          <section class='field'>
            <label>{{i18n category.description}}</label>

            {{#if description}}
              {{description}}
            {{else}}
              {{i18n category.no_description}}
            {{/if}}
            {{#if topic_url}}
              <br/>
              <button class="btn btn-small" {{action showCategoryTopic target="view"}}>{{i18n category.change_in_category_topic}}</button>
            {{/if}}
          </section>
        {{/unless}}

        <section class='field'>
          <label>{{i18n category.badge_colors}}</label>
          <div class="category-color-editor">
            <span class='badge-category' {{bindAttr style="view.colorStyle"}}>{{view.categoryName}}</span>

            <div class='input-prepend input-append' style="margin-top: 10px;">
              <span class='color-title'>{{i18n category.background_color}}:</span>
              <span class='add-on'>#</span>{{textField value=color placeholderKey="category.color_placeholder" maxlength="6"}}
              {{colorPicker colors=view.backgroundColors usedColors=view.usedBackgroundColors value=color}}
            </div>

            <div class='input-prepend input-append'>
              <span class='color-title'>{{i18n category.foreground_color}}:</span>
              <span class='add-on'>#</span>{{textField value=text_color placeholderKey="category.color_placeholder" maxlength="6"}}
              {{colorPicker colors=view.foregroundColors value=text_color}}
            </div>
          </div>
        </section>
      </form>
    </div>
    {{#unless isUncategorized}}
      <div {{bindAttr class=":modal-tab :options-tab view.securitySelected::invisible"}}>
        <section class='field'>
          <label>
            {{input type="checkbox" checked=secure}}
            {{i18n category.is_secure}}
          </label>
          {{#if secure}}
            <div class="secure-category-options">
              <label>{{i18n category.allowed_groups}}</label>
              <ul class="badge-list">
                {{#each groups}}
                  <li class="badge-group">
                    {{this}}
                    <a {{action removeGroup this target="view"}}><i class="icon icon-remove-sign"></i></a>
                  </li>
                {{/each}}
              </ul>
              {{view Ember.Select contentBinding="availableGroups" valueBinding="view.selectedGroup"}}
              <button {{action addGroup target="view"}} class="btn btn-small">{{i18n category.add_group}}</button>
            </div>
          {{/if}}
        </section>
      </div>
      <div {{bindAttr class=":modal-tab :options-tab view.settingsSelected::invisible"}}>
        <section class='field'>
          {{autoCloseForm autoCloseDays=auto_close_days labelKey="category.auto_close_label"}}
        </section>

        <section class='field'>
          <label>{{i18n category.hotness}}</label>
          {{view Discourse.HotnessView hotnessBinding="hotness"}}
        </section>
      </div>
    {{/unless}}
  </div>
  <div class="modal-footer">
    <button class='btn btn-primary' {{bindAttr disabled="view.disabled"}} {{action saveCategory target="view"}}>{{view.buttonTitle}}</button>
    {{#if view.deleteVisible}}
      <button class='btn btn-danger pull-right' {{bindAttr disabled="view.deleteDisabled"}} {{action deleteCategory target="view"}}><i class="icon icon-trash"></i>{{view.deleteButtonTitle}}</button>
    {{/if}}
  </div>
</div>

{{/with}}
