<div class="modal-body">
  <form>
    <label>{{i18n category.name}}</label>
    {{view Discourse.TextField valueBinding="view.category.name" placeholderKey="category.name_placeholder" maxlength="50"}}

    <div class='description-controls' style="margin-bottom: 20px">
      <label>{{i18n category.description}}</label>

      {{#if view.category.description}}
        {{view.category.description}}
        {{#if view.category.topic_url}}
          <a href="#" {{action showCategoryTopic target="view"}}>{{i18n category.change_in_category_topic}}</a>
        {{/if}}
      {{else}}
        {{i18n category.no_description}}
          {{#if view.category.topic_url}}
          <a {{action showCategoryTopic target="view"}} href="#">{{i18n category.change_in_category_topic}}</a>
          {{/if}}}
      {{/if}}

    </div>

    <label>{{i18n category.badge_colors}}</label>

    <div class="category-color-editor">
        <span class='badge-category' {{bindAttr style="view.colorStyle"}}>{{view.categoryName}}</span>

        <div class='input-prepend input-append' style="margin-top: 10px;">
          <span class='color-title'>{{i18n category.background_color}}:</span>
          <span class='add-on'>#</span>{{view Discourse.TextField valueBinding="view.category.color" placeholderKey="category.color_placeholder" maxlength="6"}}
          {{view Discourse.ColorsView colorsBinding="view.backgroundColors" valueBinding="view.category.color"}}
        </div>

        <div class='input-prepend input-append'>
          <span class='color-title'>{{i18n category.foreground_color}}:</span>
          <span class='add-on'>#</span>{{view Discourse.TextField valueBinding="view.category.text_color" placeholderKey="category.color_placeholder" maxlength="6"}}
          {{view Discourse.ColorsView colorsBinding="view.foregroundColors" valueBinding="view.category.text_color"}}
        </div>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button class='btn btn-primary' {{bindAttr disabled="view.disabled"}} {{action saveCategory target="view"}}>{{view.buttonTitle}}</button>
</div>