{{#d-modal-body title="group.edit.title" class="edit-group groups"}}
  <form class="form-horizontal">
    <label for='title'>{{i18n 'group.title'}}</label>
    {{input type='text' name='title' value=model.title class='edit-group-title'}}

    <label for='bio'>{{i18n 'group.bio'}}</label>
    {{d-editor value=model.bio_raw class="edit-group-bio"}}

    {{group-flair-inputs model=model}}
  </form>
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button action="save" class="btn-primary" disabled=saving label="save"}}
  <a {{action "closeModal"}}>{{i18n 'cancel'}}</a>
</div>
