<div class="modal-body flag-modal">

  <form>
    {{#each flagsAvailable as |f|}}
      {{flag-action-type flag=f
                         message=message
                         isWarning=isWarning
                         selectedFlag=selected
                         username=model.username
                         staffFlagsAvailable=staffFlagsAvailable
                         changePostActionType="changePostActionType"}}
    {{else}}
      {{i18n 'flagging.cant'}}
    {{/each}}
  </form>

</div>
<div class="modal-footer">
  <button class='btn btn-primary' {{action "createFlag"}} disabled={{submitDisabled}} title="{{i18n 'flagging.submit_tooltip'}}">{{{submitText}}}</button>

  {{#if canSendWarning}}
    <button class="btn btn-danger" {{action "createFlagAsWarning" }} disabled={{submitDisabled}} title="{{i18n 'flagging.official_warning'}}"><i class="fa fa-exclamation-triangle"></i> {{i18n 'flagging.official_warning'}}</button>
  {{/if}}

  {{#if canTakeAction}}
    <button class='btn btn-danger' {{action "takeAction"}} disabled={{submitDisabled}} title="{{i18n 'flagging.take_action_tooltip'}}"><i class="fa fa-gavel"></i>{{i18n 'flagging.take_action'}}</button>
  {{/if}}

  {{#if canDeleteSpammer}}
    <button class="btn btn-danger" {{action "deleteSpammer" userDetails}} disabled={{submitDisabled}} title="{{i18n 'flagging.delete_spammer'}}"><i class="fa fa-exclamation-triangle"></i> {{i18n 'flagging.delete_spammer'}}</button>
  {{/if}}
</div>
