<div class="modal-body">
    <form>
      <label for='username-or-email'>{{i18n forgot_password.invite}}</label>
      {{textField value=view.accountEmailOrUsername placeholderKey="login.email_placeholder" id="username-or-email" autocorrect="off" autocapitalize="off"}}
    </form>
</div>
<div class="modal-footer">
  <button class='btn btn-large btn-primary' {{bindAttr disabled="view.submitDisabled"}} {{action submit target="view"}}>{{i18n forgot_password.reset}}</button>
</div>
