<form>
  {{#d-modal-body class="forgot-password-modal"}}
    {{#unless offerHelp}}
      <label for='username-or-email'>{{i18n 'forgot_password.invite'}}</label>
      {{text-field value=accountEmailOrUsername placeholderKey="login.email_placeholder" id="username-or-email" autocorrect="off" autocapitalize="off"}}
    {{else}}
      {{{offerHelp}}}
    {{/unless}}
  {{/d-modal-body}}
  <div class="modal-footer">
    {{#unless offerHelp}}
      {{d-button action=(action "resetPassword")
                 label="forgot_password.reset"
                 disabled=submitDisabled
                 class="btn-primary forgot-password-reset"}}
    {{else}}
      {{d-button class="btn-large btn-primary"
                 label="forgot_password.button_ok"
                 action=(action "ok")}}
      {{#unless helpSeen}}
        {{d-button class="btn-large"
                   label="forgot_password.button_help"
                   action=(action "help")}}
      {{/unless}}
    {{/unless}}
  </div>
</form>
