<form>
    <div class="modal-body">
      <label for='username-or-email'>{{i18n 'forgot_password.invite'}}</label>
      {{text-field value=accountEmailOrUsername placeholderKey="login.email_placeholder" id="username-or-email" autocorrect="off" autocapitalize="off"}}
    </div>
    <div class="modal-footer">
      <button class='btn btn-large btn-primary' disabled={{submitDisabled}} {{action "submit"}}>{{i18n 'forgot_password.reset'}}</button>
    </div>
</form>
