{{#d-modal-body class='grant-badge'}}
  {{#conditional-loading-spinner condition=loading}}
    {{#if noGrantableBadges}}
      <p>{{i18n 'admin.badges.no_badges'}}</p>
    {{else}}
      <p>{{combo-box filterable=true value=selectedBadgeId content=grantableBadges none="badges.none"}}</p>
    {{/if}}
  {{/conditional-loading-spinner}}
{{/d-modal-body}}

<div class="modal-footer">
  <button class='btn btn-primary' disabled={{buttonDisabled}} {{action "grantBadge"}}>
    {{i18n 'admin.badges.grant'}}
  </button>
</div>
