{{#d-modal-body class='group-membership' title="groups.add_members.title"}}
  <div class="control-group">
    <label>{{i18n "groups.add_members.usernames"}}</label>

    {{user-selector
        usernames=model.usernames
        placeholderKey="groups.selector_placeholder"
        id="group-membership-user-selector"}}
  </div>

  {{#if this.currentUser.admin}}
    <div class="control-group group-membership-make-owner">
      <label class="inline">{{i18n "groups.add_members.as_owner"}}</label>
      {{input type="checkbox" class="inline" checked=setAsOwner}}
    </div>
  {{/if}}
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button action="addMembers"
      class="add btn-primary"
      icon="plus"
      disabled=disableAddButton
      label="groups.add"}}
</div>
