<div class="modal-body invite-modal">
  {{#if model.error}}
    <div class="alert alert-error">
      <button class="close" data-dismiss="alert">×</button>
      {{errorMessage}}
    </div>
  {{/if}}
  {{#if model.finished}}
    {{{successMessage}}}
  {{else}}
    <label>{{inviteInstructions}}</label>
    {{#if allowExistingMembers}}
      {{#if isPrivateTopic}}
        {{user-selector single="true" allowAny=true excludeCurrentUser="true" usernames=emailOrUsername allowedUsers="true" topicId=topicId placeholderKey=placeholderKey}}
      {{else}}
        {{user-selector single="true" allowAny=true excludeCurrentUser="true" usernames=emailOrUsername placeholderKey=placeholderKey}}
      {{/if}}
    {{else}}
      {{text-field value=emailOrUsername placeholderKey="topic.invite_reply.email_placeholder"}}
    {{/if}}
    {{#if showGroups}}
      <label>{{{groupInstructions}}}</label>
      {{group-selector groupFinder=groupFinder groupNames=model.groupNames placeholderKey="topic.invite_private.group_name"}}
    {{/if}}
  {{/if}}
</div>
<div class="modal-footer">
  {{#if model.finished}}
    {{d-button class="btn-primary" action="closeModal" label="close"}}
  {{else}}
    <button class='btn btn-primary' {{bind-attr disabled="disabled"}} {{action "createInvite"}}>{{fa-icon "user-plus"}}{{buttonTitle}}</button>
  {{/if}}
</div>
