{{#d-modal-body id="invite-modal" title=title}}
  {{#if model.error}}
    <div class="alert alert-error">
      <button class="close" data-dismiss="alert">×</button>
      {{{errorMessage}}}
    </div>
  {{/if}}
  {{#if model.finished}}
    {{#if model.inviteLink}}
      {{generated-invite-link link=model.inviteLink email=emailOrUsername}}
    {{else}}
      {{{successMessage}}}
    {{/if}}
  {{else}}
    <label>{{inviteInstructions}}</label>
    {{#if allowExistingMembers}}
      {{user-selector
          single=true
          allowAny=true
          excludeCurrentUser=true
          includeMentionableGroups=includeMentionableGroups
          includeMessageableGroups=isMessage
          hasGroups=hasGroups
          usernames=emailOrUsername
          placeholderKey=placeholderKey
          autocomplete="off"}}
    {{else}}
      {{text-field value=emailOrUsername placeholderKey="topic.invite_reply.email_placeholder"}}
    {{/if}}

    {{#if showGroups}}
      <label><span class={{showGroupsClass}}>{{i18n 'topic.automatically_add_to_groups'}}</span></label>
      {{group-selector groupFinder=groupFinder groupNames=model.groupNames placeholderKey="topic.invite_private.group_name"}}
    {{/if}}

    {{#if showCustomMessage}}
      <label><span class='optional'>{{i18n 'invite.custom_message'}}</span> <a {{action "showCustomMessageBox"}}>{{i18n 'invite.custom_message_link'}}</a>.</label>
      {{#if hasCustomMessage}}{{textarea value=customMessage placeholder=customMessagePlaceholder}}{{/if}}
    {{/if}}

  {{/if}}
{{/d-modal-body}}

<div class="modal-footer">
  {{#if model.finished}}
    {{d-button class="btn-primary" action="closeModal" label="close"}}
  {{else}}
    {{d-button icon=inviteIcon action="createInvite" class="btn-primary" disabled=disabled label=buttonTitle}}
    {{#if showCopyInviteButton}}
      {{d-button icon="link" action="generateInvitelink" class="btn-primary" disabled=disabledCopyLink label='user.invited.generate_link'}}
    {{/if}}
  {{/if}}
</div>
