<div class="modal-body">
  {{#if view.error}}
    <div class="alert alert-error">
      <button class="close" data-dismiss="alert">×</button>
      {{i18n topic.invite_reply.error}}
    </div>
  {{/if}}

  {{#if view.finished}}
    {{{view.successMessage}}}
  {{else}}
    <form>
      <label>{{i18n topic.invite_reply.email}}</label>
      {{textField value=view.email placeholderKey="topic.invite_reply.email_placeholder"}}
    </form>
  {{/if}}
</div>
<div class="modal-footer">
  {{#if view.finished}}
    <button class='btn btn-primary' data-dismiss="modal">{{i18n close}}</button>
  {{else}}
    <button class='btn btn-primary' {{bindAttr disabled="view.disabled"}} {{action createInvite target="view"}}>{{view.buttonTitle}}</button>
  {{/if}}

</div>