{{#d-modal-body title="topic.progress.jump_prompt_long"}}

  <div class="jumpt-to-post-form">
    <div class="jump-to-post-control">
      <span class="index">#</span>
      {{input id="post-jump" type="number" value=postNumber insert-newline=(action "jump")}}
      <span class='input-hint-text post-number'>
        {{i18n "topic.progress.jump_prompt_of" count=filteredPostsCount}}
      </span>
    </div>

    <div class="separator">
      <hr class="left" />
      <span class="text">
        {{i18n "topic.progress.jump_prompt_or"}}
      </span>
      <hr class="right" />
    </div>

    <div class="jump-to-date-control">
      <span class='input-hint-text post-date'>
        {{i18n "topic.progress.jump_prompt_to_date"}}
      </span>
      {{date-picker id="post-date" class="date-input" value=postDate defaultDate="YYYY-MM-DD"}}
    </div>
  </div>
{{/d-modal-body}}

<div class='modal-footer'>
  {{d-button class="btn-primary" action=(action "jump") label="composer.modal_ok"}}
  {{d-modal-cancel close=(route-action "closeModal")}}
</div>
