{{#d-modal-body id="keyboard-shortcuts-help"}}
  <div class="row">
    <div>
      <h4>{{i18n 'keyboard_shortcuts_help.jump_to.title'}}</h4>
      <ul>
        <li>{{{shortcuts.jump_to.home}}}</li>
        <li>{{{shortcuts.jump_to.latest}}}</li>
        <li>{{{shortcuts.jump_to.new}}}</li>
        <li>{{{shortcuts.jump_to.unread}}}</li>
        <li>{{{shortcuts.jump_to.categories}}}</li>
        <li>{{{shortcuts.jump_to.top}}}</li>
        <li>{{{shortcuts.jump_to.bookmarks}}}</li>
        <li>{{{shortcuts.jump_to.profile}}}</li>
        {{#if siteSettings.enable_personal_messages}}
          <li>{{{shortcuts.jump_to.messages}}}</li>
        {{/if}}
        <li>{{{shortcuts.jump_to.drafts}}}</li>
      </ul>
      <h4>{{i18n 'keyboard_shortcuts_help.navigation.title'}}</h4>
      <ul>
        <li>{{{shortcuts.navigation.back}}}</li>
        <li>{{{shortcuts.navigation.jump}}}</li>
        <li>{{{shortcuts.navigation.up_down}}}</li>
        <li>{{{shortcuts.navigation.open}}}</li>
        <li>{{{shortcuts.navigation.next_prev}}}</li>
        <li>{{{shortcuts.navigation.go_to_unread_post}}}</li>
      </ul>
    </div>
    <div>
      <h4>{{i18n 'keyboard_shortcuts_help.application.title'}}</h4>
      <ul>
        <li>{{{shortcuts.application.hamburger_menu}}}</li>
        <li>{{{shortcuts.application.user_profile_menu}}}</li>
        <li>{{{shortcuts.application.show_incoming_updated_topics}}}</li>
        <li>{{{shortcuts.application.search}}}</li>
        <li>{{{shortcuts.application.help}}}</li>
        <li>{{{shortcuts.application.dismiss_new_posts}}}</li>
        <li>{{{shortcuts.application.dismiss_topics}}}</li>
        <li>{{{shortcuts.application.log_out}}}</li>
      </ul>
      <h4>{{i18n 'keyboard_shortcuts_help.composing.title'}}</h4>
      <ul>
        <li>{{{shortcuts.composing.return}}}</li>
        <li>{{{shortcuts.composing.fullscreen}}}</li>
        <li>{{{shortcuts.application.create}}}</li>
        <li>{{{shortcuts.actions.reply_as_new_topic}}}</li>
        <li>{{{shortcuts.actions.reply_topic}}}</li>
        <li>{{{shortcuts.actions.reply_post}}}</li>
        <li>{{{shortcuts.actions.quote_post}}}</li>
      </ul>
    </div>
    <div>
      <h4>{{i18n 'keyboard_shortcuts_help.actions.title'}}</h4>
      <ul>
        <li>{{{shortcuts.actions.bookmark_topic}}}</li>
        <li>{{{shortcuts.actions.pin_unpin_topic}}}</li>
        <li>{{{shortcuts.actions.share_topic}}}</li>
        <li>{{{shortcuts.actions.share_post}}}</li>
        <li>{{{shortcuts.actions.like}}}</li>
        <li>{{{shortcuts.actions.flag}}}</li>
        <li>{{{shortcuts.actions.bookmark}}}</li>
        <li>{{{shortcuts.actions.edit}}}</li>
        <li>{{{shortcuts.actions.delete}}}</li>
        <li>{{{shortcuts.actions.mark_muted}}}</li>
        <li>{{{shortcuts.actions.mark_regular}}}</li>
        <li>{{{shortcuts.actions.mark_tracking}}}</li>
        <li>{{{shortcuts.actions.mark_watching}}}</li>
        <li>{{{shortcuts.actions.defer}}}</li>
        <li>{{{shortcuts.actions.print}}}</li>
        <li>{{{shortcuts.actions.topic_admin_actions}}}</li>
      </ul>
    </div>
  </div>
{{/d-modal-body}}
