{{#d-modal-body id="keyboard-shortcuts-help"}}
  <div class="row">
    <div>
      <h4>{{i18n 'keyboard_shortcuts_help.jump_to.title'}}</h4>
      <ul>
        <li>{{{i18n 'keyboard_shortcuts_help.jump_to.home'}}}</li>
        <li>{{{i18n 'keyboard_shortcuts_help.jump_to.latest'}}}</li>
        <li>{{{i18n 'keyboard_shortcuts_help.jump_to.new'}}}</li>
        <li>{{{i18n 'keyboard_shortcuts_help.jump_to.unread'}}}</li>
        <li>{{{i18n 'keyboard_shortcuts_help.jump_to.categories'}}}</li>
        <li>{{{i18n 'keyboard_shortcuts_help.jump_to.top'}}}</li>
        <li>{{{i18n 'keyboard_shortcuts_help.jump_to.bookmarks'}}}</li>
        <li>{{{i18n 'keyboard_shortcuts_help.jump_to.profile'}}}</li>
        {{#if siteSettings.enable_personal_messages}}
          <li>{{{i18n 'keyboard_shortcuts_help.jump_to.messages'}}}</li>
        {{/if}}
        <li>{{{i18n 'keyboard_shortcuts_help.jump_to.drafts'}}}</li>
      </ul>
      <h4>{{i18n 'keyboard_shortcuts_help.navigation.title'}}</h4>
      <ul>
        <li>{{{i18n 'keyboard_shortcuts_help.navigation.back'}}}</li>
        <li>{{{i18n 'keyboard_shortcuts_help.navigation.jump'}}}</li>
        <li>{{{i18n 'keyboard_shortcuts_help.navigation.up_down'}}}</li>
        <li>{{{i18n 'keyboard_shortcuts_help.navigation.open'}}}</li>
        <li>{{{i18n 'keyboard_shortcuts_help.navigation.next_prev'}}}</li>
      </ul>
    </div>
    <div>
      <h4>{{i18n 'keyboard_shortcuts_help.application.title'}}</h4>
      <ul>
        <li>{{{i18n 'keyboard_shortcuts_help.application.hamburger_menu'}}}</li>
        <li>{{{i18n 'keyboard_shortcuts_help.application.user_profile_menu'}}}</li>
        <li>{{{i18n 'keyboard_shortcuts_help.application.show_incoming_updated_topics'}}}</li>
        <li>{{{i18n 'keyboard_shortcuts_help.application.search'}}}</li>
        <li>{{{i18n 'keyboard_shortcuts_help.application.help'}}}</li>
        <li>{{{i18n 'keyboard_shortcuts_help.application.dismiss_new_posts'}}}</li>
        <li>{{{i18n 'keyboard_shortcuts_help.application.dismiss_topics'}}}</li>
        <li>{{{i18n 'keyboard_shortcuts_help.application.log_out'}}}</li>
      </ul>
      <h4>{{i18n 'keyboard_shortcuts_help.composing.title'}}</h4>
      <ul>
        <li>{{{i18n 'keyboard_shortcuts_help.composing.return'}}}</li>
        <li>{{{i18n 'keyboard_shortcuts_help.composing.fullscreen'}}}</li>
        <li>{{{i18n 'keyboard_shortcuts_help.application.create'}}}</li>
        <li>{{{i18n 'keyboard_shortcuts_help.actions.reply_as_new_topic'}}}</li>
        <li>{{{i18n 'keyboard_shortcuts_help.actions.reply_topic'}}}</li>
        <li>{{{i18n 'keyboard_shortcuts_help.actions.reply_post'}}}</li>
        <li>{{{i18n 'keyboard_shortcuts_help.actions.quote_post'}}}</li>
      </ul>
    </div>
    <div>
      <h4>{{i18n 'keyboard_shortcuts_help.actions.title'}}</h4>
      <ul>
        <li>{{{i18n 'keyboard_shortcuts_help.actions.bookmark_topic'}}}</li>
        <li>{{{i18n 'keyboard_shortcuts_help.actions.pin_unpin_topic'}}}</li>
        <li>{{{i18n 'keyboard_shortcuts_help.actions.share_topic'}}}</li>
        <li>{{{i18n 'keyboard_shortcuts_help.actions.share_post'}}}</li>
        <li>{{{i18n 'keyboard_shortcuts_help.actions.like'}}}</li>
        <li>{{{i18n 'keyboard_shortcuts_help.actions.flag'}}}</li>
        <li>{{{i18n 'keyboard_shortcuts_help.actions.bookmark'}}}</li>
        <li>{{{i18n 'keyboard_shortcuts_help.actions.edit'}}}</li>
        <li>{{{i18n 'keyboard_shortcuts_help.actions.delete'}}}</li>
        <li>{{{i18n 'keyboard_shortcuts_help.actions.mark_muted'}}}</li>
        <li>{{{i18n 'keyboard_shortcuts_help.actions.mark_regular'}}}</li>
        <li>{{{i18n 'keyboard_shortcuts_help.actions.mark_tracking'}}}</li>
        <li>{{{i18n 'keyboard_shortcuts_help.actions.mark_watching'}}}</li>
        <li>{{{i18n 'keyboard_shortcuts_help.actions.print'}}}</li>
      </ul>
    </div>
  </div>
{{/d-modal-body}}
