<div class="modal-body">
  {{#if hasAtLeastOneLoginButton}}
    <div id="login-buttons">
      {{#if Discourse.SiteSettings.enable_google_logins}}
        <button class="btn btn-social google" title="{{i18n login.google.title}}" {{action openidLogin "google"}}>{{i18n login.google.title}}</button>
      {{/if}}
      {{#if Discourse.SiteSettings.enable_facebook_logins}}
        <button class="btn btn-social facebook" title="{{i18n login.facebook.title}}" {{action "facebookLogin"}}>{{i18n login.facebook.title}}</button>
      {{/if}}
      {{#if Discourse.SiteSettings.enable_cas_logins}}
        <button class="btn btn-social cas" title="{{i18n login.cas.title}}" {{action "casLogin"}}>{{i18n login.cas.title}}</button>
      {{/if}}
      {{#if Discourse.SiteSettings.enable_twitter_logins}}
        <button class="btn btn-social twitter" title="{{i18n login.twitter.title}}" {{action "twitterLogin"}}>{{i18n login.twitter.title}}</button>
      {{/if}}
      {{#if Discourse.SiteSettings.enable_yahoo_logins}}
        <button class="btn btn-social yahoo" title="{{i18n login.yahoo.title}}" {{action openidLogin "yahoo"}}>{{i18n login.yahoo.title}}</button>
      {{/if}}
      {{#if Discourse.SiteSettings.enable_github_logins}}
        <button class="btn btn-social github" title="{{i18n login.github.title}}" {{action "githubLogin"}}>{{i18n login.github.title}}</button>
      {{/if}}
      {{#if Discourse.SiteSettings.enable_persona_logins}}
        <button class="btn btn-social persona" title="{{i18n login.persona.title}}" {{action "personaLogin"}}>{{i18n login.persona.title}}</button>
      {{/if}}
    </div>
  {{/if}}
  {{#if Discourse.SiteSettings.enable_local_logins}}
    {{#if hasAtLeastOneLoginButton}}
      <h3 style="text-align:center; margin-bottom:10px;">{{i18n login.or}}</h3>
    {{/if}}
    <form id='login-form'>
      <div>
        <table>
        <tr>
        <td>
          <label for='login-account-name'>{{i18n login.username}}&nbsp;</label>
        </td>
        <td>
          {{textField value=loginName placeholderKey="login.email_placeholder" id="login-account-name" autocorrect="off" autocapitalize="off" autofocus="autofocus"}}
        </td>
        <tr>
        <td>
            <label for='login-account-password'>{{i18n login.password}}&nbsp;</label>
        </td>
        <td>
            {{textField value=loginPassword type="password" id="login-account-password"}} &nbsp;
            <a id="forgot-password-link" {{action showForgotPassword}}>{{i18n forgot_password.action}}</a>
        </td>
        </tr>
        </table>
      </div>
    </form>
  {{/if}}
  {{authMessage}}
  <div id='login-alert' {{bindAttr class="alertClass"}}>{{alert}}</div>
</div>
<div class="modal-footer">
  {{#if authenticate}}
    {{i18n login.authenticating}}
  {{/if}}
  {{#if Discourse.SiteSettings.enable_local_logins}}
    <button class='btn btn-large btn-primary'
      {{bindAttr disabled="loginDisabled"}}
      {{action login}}>
        <i class="icon-unlock"></i>&nbsp;{{loginButtonText}}
    </button>

    {{#unless Discourse.SiteSettings.invite_only}}
      &nbsp; {{i18n create_account.invite}}
      <a id="new-account-link" {{action showCreateAccount}}>
        {{i18n create_account.action}}
      </a>
    {{/unless}}
  {{/if}}
</div>
