<div id='move-selected' class="modal-body">
  {{#if error}}
    <div class="alert alert-error">
      <button class="close" data-dismiss="alert">×</button>
    </div>
  {{/if}}

  <p>{{{i18n topic.merge_topic.instructions count="selectedPostsCount"}}}</p>

  <form>
    {{chooseTopic selectedTopicId=selectedTopicId}}
  </form>
</div>

<div class="modal-footer">
  <button class='btn btn-primary' {{bindAttr disabled="buttonDisabled"}} {{action movePostsToExistingTopic}}>{{buttonTitle}}</button>
</div>