<div id='move-selected' class="modal-body">

  <p>{{{i18n topic.move_selected.instructions count="view.selectedPostsCount"}}}</p>

  <button {{action showMoveNewTopic target="view"}} class="btn">{{i18n topic.move_selected.new_topic.title}}</button>
  <button {{action showMoveExistingTopic target="view"}} class="btn">{{i18n topic.move_selected.existing_topic.title}}</button>

</div>
