<div class="modal-body">
  {{#if view.emailSent}}
    {{{i18n login.sent_activation_email_again currentEmail="view.currentEmail"}}}
  {{else}}
    {{{i18n login.not_activated sentTo="view.sentTo"}}}
    <a href="#" {{action "sendActivationEmail" target="view"}}>{{i18n login.resend_activation_email}}</a>
  {{/if}}
</div>
<div class="modal-footer">
  <button class='btn btn-primary' data-dismiss="modal">{{i18n close}}</button>
</div>