{{#d-modal-body class="reorder-categories full-height-modal" title="categories.reorder.title"}}
  <div id="rc-scroll-anchor"></div>
  <table>
    <thead>
    <th class="th-pos">{{i18n "categories.reorder.position"}}</th>
    <th class="th-cat">{{i18n "categories.category"}}</th>
    </thead>
    {{#each categoriesOrdered as |cat|}}
      <tr data-category-id="{{cat.id}}">
        <td>
          {{#if cat.parent_category_id}}
            &nbsp;&nbsp;&nbsp;&nbsp;
          {{/if}}
          {{number-field number=(readonly cat.position) change=(action 'change' cat)}}
          {{d-button class="btn-default no-text" action=(action "moveUp") actionParam=cat icon="arrow-up"}}
          {{d-button class="btn-default no-text" action=(action "moveDown") actionParam=cat icon="arrow-down"}}
          {{#if cat.hasBufferedChanges}}
            {{d-button class="no-text ok" action=(action "commit") icon="check"}}
          {{/if}}
        </td>
        <td>{{category-badge cat allowUncategorized="true"}}</td>
      </tr>
    {{/each}}
  </table>
  <div id="rc-scroll-bottom"></div>
{{/d-modal-body}}

<div class="modal-footer">
  {{#if showApplyAll}}
    {{d-button action=(action "commit") icon="check" label="categories.reorder.apply_all"}}
  {{else}}
    {{d-button class="btn-primary" action=(action "saveOrder") label="categories.reorder.save"}}
  {{/if}}
</div>
