{{#d-modal-body id="move-selected" title="topic.split_topic.title"}}
  {{{i18n 'topic.split_topic.instructions' count=selectedPostsCount}}}

  <form>
    <label>{{i18n 'topic.split_topic.topic_name'}}</label>
    {{text-field value=topicName placeholderKey="composer.title_placeholder" elementId='split-topic-name'}}

    <label>{{i18n 'categories.category'}}</label>
    {{category-chooser value=categoryId class="small"}}
    {{#if canAddTags}}
      <label>{{i18n 'tagging.tags'}}</label>
      {{tag-chooser tags=tags filterable=true categoryId=categoryId}}
    {{/if}}
  </form>
{{/d-modal-body}}

<div class="modal-footer">
  {{#d-button class="btn-primary" disabled=buttonDisabled action="movePostsToNewTopic"}}
    {{d-icon 'sign-out'}} {{buttonTitle}}
  {{/d-button}}
</div>
