<div id='move-selected' class="modal-body">
  {{#if view.error}}
    <div class="alert alert-error">
      <button class="close" data-dismiss="alert">×</button>
    </div>
  {{/if}}

  {{{i18n topic.split_topic.instructions count="view.selectedPostsCount"}}}

  <form>
    <label>{{i18n topic.split_topic.topic_name}}</label>
    {{textField value=view.topicName placeholderKey="composer.title_placeholder"}}
  </form>

</div>

<div class="modal-footer">
  <button class='btn btn-primary' {{bindAttr disabled="view.buttonDisabled"}} {{action movePostsToNewTopic target="view"}}>{{view.buttonTitle}}</button>
</div>