<div id='move-selected' class="modal-body">
  {{#if error}}
    <div class="alert alert-error">
      <button class="close" data-dismiss="alert">×</button>
    </div>
  {{/if}}

  {{{i18n topic.split_topic.instructions count="selectedPostsCount"}}}

  <form>
    <label>{{i18n topic.split_topic.topic_name}}</label>
    {{textField value=topicName placeholderKey="composer.title_placeholder" elementId='split-topic-name'}}

    <label>{{i18n categories.category}}</label>
    {{categoryChooser value=categoryId}}
  </form>

</div>

<div class="modal-footer">
  <button class='btn btn-primary' {{bindAttr disabled="buttonDisabled"}} {{action movePostsToNewTopic}}>{{buttonTitle}}</button>
</div>