{{#with view.topic.rank_details}}
  <div class="modal-body">

    <!-- Note this isn't translated because it's a debugging tool for a feature
         that is not complete yet. We will probably rip this out altogether -->

    <table class='table'>
      <tr>
        <td>hot topic type</td>
        <td>
          {{hot_topic_type}}
        </td>
      </tr>
      <tr>
        <td>random bias</td>
        <td>{{float random_bias}}</td>
      </tr>
      <tr>
        <td>random multiplier</td>
        <td>{{float random_multiplier}}</td>
      </tr>
      <tr>
        <td>days ago bias</td>
        <td>{{float days_ago_bias}}</td>
      </tr>
      <tr>
        <td>days ago multiplier</td>
        <td>{{float days_ago_multiplier}}</td>
      </tr>
      <tr>
        <td>ranking formula</td>
        <td>
          <p>= (random_bias * random_multiplier) +<br/>
             (days_ago_bias * days_ago_multiplier)</p>
          <p>= ({{float random_bias}} * {{float random_multiplier}}) + ({{float days_ago_bias}} * {{float days_ago_multiplier}})</p>
        </td>
      </tr>
      <tr>
        <td>ranking score</td>
        <td><b>{{float ranking_score}}</b></td>
      </tr>

    </table>

  </div>
{{/with}}