<div class="modal-body">
  <div class="radios">
    <input type="radio" id="local" value="local" name="upload" {{action useLocal}}>
    <label class="radio" for="local">{{i18n upload_selector.from_my_computer}}</label>
    {{#if controller.local}}
      <div class="inputs">
        <input type="file" id="filename-input"><br>
        <span class="description">{{unbound view.tip}}</span>
      </div>
    {{/if}}
  </div>
  <div class="radios">
    <input type="radio" id="remote" value="remote" name="upload" {{action useRemote}}>
    <label class="radio" for="remote">{{i18n upload_selector.from_the_web}}</label>
    {{#if controller.remote}}
      <div class="inputs">
        <input type="text" id="fileurl-input"><br>
        <span class="description">{{unbound view.tip}}</span>
      </div>
    {{/if}}
  </div>
  <div class="radios">
    <div class="inputs">
      <p class="hint">{{unbound view.hint}}</p>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" {{action upload target="view"}}>
    <span class='add-upload'><i {{bindAttr class="view.uploadIcon"}}></i><i class='icon-plus'></i></span>
    {{i18n upload}}
  </button>
  <a {{action closeModal}}>{{i18n cancel}}</a>
</div>
