<div class="modal-body">
  <div class="radios">
    <input type="radio" id="local" value="local" name="upload" {{action "useLocal"}}>
    <label class="radio" for="local">{{i18n 'upload_selector.from_my_computer'}}</label>
    {{#if local}}
      <div class="inputs">
        <input type="file" id="filename-input" multiple><br>
        <span class="description">{{unbound view.tip}}</span>
      </div>
    {{/if}}
  </div>
  <div class="radios">
    <input type="radio" id="remote" value="remote" name="upload" {{action "useRemote"}}>
    <label class="radio" for="remote">{{i18n 'upload_selector.from_the_web'}}</label>
    {{#if remote}}
      <div class="inputs">
        <input type="text" id="fileurl-input" placeholder="http://example.com/image.png"><br>
        <span class="description">{{unbound view.tip}}</span>
      </div>
    {{/if}}
  </div>
  {{#if showMore}}
    <div class="radios">
      <div class="inputs">
        <input type="text" id="link-input" placeholder="http://example.com"><br>
        <span class="description">{{i18n 'upload_selector.image_link'}}</span>
      </div>
    </div>
  {{/if}}
  <div class="radios">
    <div class="inputs">
      <p class="hint">{{unbound view.hint}}</p>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" {{action "upload" target="view"}}>
    <span class='add-upload'><i {{bind-attr class=":fa view.uploadIcon"}}></i></span>
    {{i18n 'upload'}}
  </button>
  <a {{action "closeModal"}}>{{i18n 'cancel'}}</a>
  {{#if remote}}<a {{action "toggleShowMore"}} class="pull-right">{{i18n 'show_more'}}</a>{{/if}}
</div>
