<div class="modal-body">
  <input type="radio" id="local" value="local" name="upload" {{action useLocal}}>
  <label class="radio" for="local">{{i18n upload_selector.from_my_computer}}</label>
  <div class="inputs">
    {{#if controller.local}}
      <input type="file" id="filename-input">
    {{else}}
      <input type="text" id="fileurl-input">
    {{/if}}
    <br>
    <span class="description">{{view.tip}}</span>
  </div>
  <br>
  <input type="radio" id="remote" value="remote" name="upload" {{action useRemote}}>
  <label class="radio" for="remote">{{i18n upload_selector.from_the_web}}</label>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" data-dismiss="modal" {{action upload target="view"}}>
    <span class='add-upload'><i {{bindAttr class="view.uploadIcon"}}></i><i class='icon-plus'></i></span>
    {{i18n upload}}
  </button>
  <a data-dismiss="modal">{{i18n cancel}}</a>
</div>
