<div class='contents'>
  <span class='badge-category' style='background-color: #{{unbound view.color}}'>{{unbound view.name}}</span>

  {{#if view.excerpt}}
  <div class='description'>
    {{{view.excerpt}}}
    <a href="{{unbound view.topic_url}}">{{i18n learn_more}}</a>
  </div>
  {{/if}}

  <div class='figs'>
    <figure>{{view.topics_year}} <figcaption>{{i18n year}}</figcaption></figure>
    <figure>{{view.topics_month}} <figcaption>{{i18n month}}</figcaption></figure>
    <figure>{{view.topics_week}} <figcaption>{{i18n week}}</figcaption></figure>
  </div>

</div>
<footer class='button-row'>
  {{#if view.can_delete}}
    <a href='#' {{action deleteCategory target="view"}} class='btn btn-small'>{{i18n category.delete}}</a>
  {{/if}}    
  {{#if view.can_edit}}
    <a href='#' {{action editCategory target="view"}} class='btn btn-small'>{{i18n category.edit}}</a>
  {{/if}}
  <a href="/category/{{unbound view.slug}}" class='btn btn-small'>{{i18n category.view}}</a>
</footer>
