<div class='image'>
  {{avatar view imageSize="large"}}
</div>
<div class='contents'>
  {{{unbound view.excerpt}}}        
  <div class='info'>{{unbound view.created_at}}</div>
</div>
<footer class='button-row'>
  {{#if view.muted}}
    <a href='#' {{action unmute target="view"}} class='btn btn-small'>{{i18n unmute}}</a>
  {{else}}
    <a href='#' {{action mute target="view"}} class='btn btn-small'>{{i18n mute}}</a>
  {{/if}}
  {{#if view.has_multiple_posts}}
      {{#if view.last_post_url}}
        <a href='{{unbound view.last_post_url}}' class='btn btn-small'>{{i18n last_post}}</a>
      {{else}}
        <a href='{{unbound view.first_post_url}}' class='btn btn-small'>{{i18n first_post}}</a>
      {{/if}}
  {{/if}}
</footer>
