<h1>{{view.name}}</h1>
{{avatar view imageSize="large"}}
<div class='contents'>
  {{unbound view.excerpt}}        
</div>
<footer class='button-row'>
<a {{action privateMessage target="view"}} href="#" class='btn btn-small'>{{i18n user.private_message}}</a>
  <a href='{{unbound view.url}}' class='btn btn-small'>{{i18n user.profile}}</a>
  <a href='#' class='btn btn-small' data-not-implemented="true">{{i18n user.mute}}</a>
</footer>
