<p id="<%= local_assigns.fetch(:hint_id) %>"><%= t("user_api_key.device.enter_code") %></p>

<%= hidden_field_tag local_assigns.fetch(:field_name, "code"), nil, id: local_assigns.fetch(:field_id), autocomplete: "off", data: { user_api_key_code_value: true } %>

<fieldset class="authorize-api-key__code-fieldset" aria-describedby="<%= local_assigns.fetch(:hint_id) %>">
  <legend><%= t("user_api_key.device.code") %></legend>

  <div class="authorize-api-key__code-boxes" data-user-api-key-code-input>
    <% 2.times do |group_index| %>
      <% if group_index.positive? %>
        <span class="authorize-api-key__code-separator" aria-hidden="true">-</span>
      <% end %>

      <div class="authorize-api-key__code-group">
        <% 4.times do |character_index| %>
          <% position = group_index * 4 + character_index + 1 %>
          <input
            type="text"
            class="authorize-api-key__code-character"
            maxlength="1"
            inputmode="text"
            autocomplete="off"
            autocorrect="off"
            autocapitalize="characters"
            spellcheck="false"
            pattern="[A-Za-z0-9]"
            aria-label="<%= t("user_api_key.device.code_character", position: position) %>"
            <% if position == 1 %>autofocus<% end %>
            data-code-character
            data-1p-ignore="true"
            data-lpignore="true"
            data-bwignore="true"
            data-form-type="other"
          >
        <% end %>
      </div>
    <% end %>
  </div>
</fieldset>

<p
  class="authorize-api-key__code-error error-message"
  hidden
  data-user-api-key-code-error
><%= t("user_api_key.device.enter_full_code") %></p>

<noscript>
  <div class="input-group authorize-api-key__code-noscript">
    <%= label_tag "#{local_assigns.fetch(:field_id)}_no_script", t("user_api_key.device.code") %>
    <%= text_field_tag local_assigns.fetch(:field_name, "code"), nil, id: "#{local_assigns.fetch(:field_id)}_no_script", autocomplete: "off", autocorrect: "off", autocapitalize: "characters", spellcheck: false %>
  </div>
</noscript>
