<div
  {{on "click" this.onSelectedNameClick}}
  tabindex="0"
  title={{this.title}}
  data-value={{this.value}}
  data-name={{this.name}}
  class="select-kit-selected-name selected-name choice"
>
  <div class="body">
    {{this.badge}}
    {{d-icon "times"}}
  </div>
</div>