<DModalBody @title="admin.backups.operations.backup.confirm">
  {{#if this.warningMessage}}
    <div class="alert alert-warning">{{html-safe this.warningMessage}}</div>
  {{/if}}
  <DButton
    @class="btn-primary backup-with-uploads"
    @action={{action "startBackupWithUploads"}}
    @label={{this.yesLabel}}
  />
  <DButton
    @class="backup-no-uploads"
    @action={{action "startBackupWithoutUploads"}}
    @label="admin.backups.operations.backup.without_uploads"
  />
  <DButton @class="btn-default" @action={{action "cancel"}} @label="no_value" />
</DModalBody>