<DModalBody @class="uploaded-image-list">
  <div class="selectable-avatars">
    {{#each this.images as |image|}}
      <a href class="selectable-avatar" {{on "click" (fn this.remove image)}}>
        {{bound-avatar-template image "huge"}}
      </a>
    {{else}}
      <p>{{i18n "admin.site_settings.uploaded_image_list.empty"}}</p>
    {{/each}}
  </div>
</DModalBody>
<div class="modal-footer">
  <DButton @action={{action "close"}} @label="close" />
  <ImagesUploader
    @uploading={{this.uploading}}
    @done={{action "uploadDone"}}
    @class="pull-right"
  />
</div>