<div>
  <DModalBody
    @rawTitle={{i18n
      "admin.user.delete_posts.confirmation.title"
      username=this.username
    }}
  >
    <p>{{html-safe
        (i18n
          "admin.user.delete_posts.confirmation.description"
          username=this.username
          post_count=this.postCount
          text=this.text
        )
      }}</p>
    <Input @type="text" @value={{this.value}} />
  </DModalBody>

  <div class="modal-footer">
    <DButton
      @class="btn-danger"
      @action={{action "confirm"}}
      @icon="trash-alt"
      @disabled={{this.deleteDisabled}}
      @translatedLabel={{this.deleteButtonText}}
    />
    <DButton
      @action={{action "close"}}
      @label="admin.user.delete_posts.confirmation.cancel"
    />
  </div>
</div>