<DModalBody @title="admin.user.silence_modal_title">
  <ConditionalLoadingSpinner @condition={{loadingUser}}>

    {{#if errorMessage}}
      <div class="alert alert-error">{{errorMessage}}</div>
    {{/if}}

    <AdminPenaltyHistory @user={{user}} />

    <div class="until-controls">
      <label>
        <FutureDateInput @class="silence-until" @label="admin.user.silence_duration" @clearable={{false}} @input={{silenceUntil}} @onChangeInput={{action (mut silenceUntil)}} />
      </label>
    </div>

    <SilenceDetails @reason={{reason}} @message={{message}} />
    {{#if postId}}
      <PenaltyPostAction @postId={{postId}} @postAction={{postAction}} @postEdit={{postEdit}} />
    {{/if}}

  </ConditionalLoadingSpinner>

</DModalBody>

<div class="modal-footer">
  <DButton @class="btn-danger perform-silence" @action={{action "silence"}} @disabled={{submitDisabled}} @icon="microphone-slash" @label="admin.user.silence" />
  <DModalCancel @close={{route-action "closeModal"}} />
  <ConditionalLoadingSpinner @condition={{loading}} @size="small" />
</div>
