<%# Displays a single new topic in the "more new" section in the digest email %>

<tr style="vertical-align:top;">
  <td class="digest-new-topic-title with-dir" style="padding:8px;">
    <a href="<%= Discourse.base_url_no_prefix + topic.relative_url %>" style="font-weight:400;line-height:1.3;margin:0;padding:0;text-decoration:none;">
      <strong><%= gsub_emoji_to_unicode(topic.title.truncate(100, separator: /\s/)) -%></strong>
    </a>
    <%- if SiteSetting.show_topic_featured_link_in_digest && topic.featured_link %>
      <a class='topic-featured-link' href='<%= topic.featured_link %>'><%= raw topic_featured_link_domain(topic.featured_link) %></a>
    <%- end %>
    <p class="digest-new-topic-category" style="color:#0a0a0a;line-height:1.3;margin:0 0 10px 0;padding:0;">
      <%= category_badge(topic.category, inline_style: true, absolute_url: true) %>
    </p>
  </td>
  <td class="digest-new-topic-stat with-dir" style="padding:8px;">
    <img class="digest-icon" src="<%= email_image_url 'heart_lightdark.png' -%>" style="clear:both;display:inline-block;float:<%= rtl? ? 'right' : 'left' %>;height:20px;width:20px;margin:0;max-width:100%;outline:0;text-decoration:none;" alt="likes">
    <p style="color:#8f8f8f;float:<%= rtl? ? 'right' : 'left' %>;line-height:1.3;margin:0 5px 10px 5px;padding:0;font-weight:400;"><%= topic.like_count -%></p>
  </td>
  <td class="digest-new-topic-stat digest-replies with-dir" style="padding:8px;">
    <img class="digest-icon" src="<%= email_image_url 'comment_lightdark.png' -%>" style="clear:none;display:inline-block;float:<%= rtl? ? 'right' : 'left' %>;height:20px;width:20px;margin:0;max-width:100%;outline:0;text-decoration:none;" alt="replies">
    <p style="color:#8f8f8f;float:<%= rtl? ? 'right' : 'left' %>;line-height:1.3;margin:0 5px 10px 5px;padding:0;font-weight:400;"><%= topic.posts_count - 1 -%></p>
  </td>
</tr>

<tr class="digest-new-topic-spacer"><td colspan="6" height="10px" style="border-collapse:collapse!important;line-height:10px;margin:0;mso-line-height-rule:exactly;padding:0;">&#xA0;</td></tr>