<div class="summary-email">
  <span class="preheader" style="display:none!important;color:#f3f3f3;font-size:1px;line-height:1px;max-height:0;max-width:0;mso-hide:all!important;opacity:0;overflow:hidden;visibility:hidden">
    <%= @preheader_text %>
  </span>
  <table border="0" cellspacing="0" width="100%">
    <tr>
      <td>
        <%= render_digest_header %>
        <table width="100%" class="body digest-content with-dir" style="background:#f3f3f3;padding:0;border-spacing:0;font-family:Arial,sans-serif;font-size:14px;font-weight:200;line-height:1.3;vertical-align:top;">
          <tr>
            <td class="side-spacer" style="vertical-align:top;padding:0;">
              <div class="with-accent-colors">
                <table class="spacer with-accent-colors" style="border-spacing:0;padding:0;width:100%">
                  <tbody>
                    <tr>
                      <td height="400px" style="height:400px;border-collapse:collapse!important;margin:0;mso-line-height-rule:exactly;padding:0;">&nbsp;</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
            <td  width="650" style="vertical-align:top;padding:0;font-family:Arial,sans-serif;">
              <%= render partial: "user_notifications/digest/stats" %>
              <%= render partial: "user_notifications/digest/popular_topics" %>
            </td>
            <td class="side-spacer" style="vertical-align:top;padding:0;">
              <!-- Background that goes down part-way behind content -->
              <div class="with-accent-colors">
                <table class="spacer with-dir with-accent-colors" style="border-spacing:0;padding:0;width:100%">
                  <tbody>
                    <tr>
                      <td height="400px" style="height:400px;border-collapse:collapse!important;margin:0;mso-line-height-rule:exactly;padding:0;">&nbsp;</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </table>

        <%= render partial: "user_notifications/digest/popular_posts" %>

        <%= render partial: "user_notifications/digest/new_topics" %>

        <%= render partial: "user_notifications/digest/styles" %>

        <%= digest_custom_html("above_footer") %>
        <%= render partial: "user_notifications/digest/footer" %>
        <%= digest_custom_html("below_footer") %>
      </td>
      <!-- Empty cells pad either side of the email content -->
      <td></td>
    </tr>
  </table>
</div>
