{{#discovery-topics-list model=model refresh=(action "refresh") incomingCount=topicTrackingState.incomingCount}}
  {{#if top}}
    <div class='top-lists'>
      {{period-chooser period=period action=(action "changePeriod")}}
    </div>
  {{else}}
    {{#if topicTrackingState.hasIncoming}}
      <div class='alert alert-info clickable' {{action "showInserted"}}>
        {{count-i18n key="topic_count_" suffix=topicTrackingState.filter count=topicTrackingState.incomingCount}}
      </div>
    {{/if}}
  {{/if}}

  {{#if hasTopics}}
    {{topic-list
        highlightLastVisited=true
        showPosters=true
        hideCategory=model.hideCategory
        order=order
        ascending=ascending
        topics=model.topics
        expandGloballyPinned=expandGloballyPinned
        expandAllPinned=expandAllPinned
        category=category
        }}
  {{/if}}
{{/discovery-topics-list}}

<footer class='topic-list-bottom'>
  {{conditional-loading-spinner condition=model.loadingMore}}
  {{#if allLoaded}}
    {{#if showDismissRead}}
      <button title="{{i18n 'topics.bulk.dismiss_tooltip'}}" id='dismiss-topics' class='btn btn-default dismiss-read' {{action "dismissReadPosts"}}>{{i18n 'topics.bulk.dismiss_button'}}</button>
    {{/if}}
    {{#if showResetNew}}
      <button id='dismiss-new' class='btn btn-default dismiss-read' {{action "resetNew"}}>
        {{d-icon "check"}}
        {{i18n 'topics.bulk.dismiss_new'}}</button>
    {{/if}}

    {{#footer-message education=footerEducation message=footerMessage}}
      {{#if latest}}
        {{#if canCreateTopicOnCategory}}<a href {{action "createTopic"}}>{{i18n 'topic.suggest_create_topic'}}</a>.{{/if}}
      {{else if top}}
        {{#link-to "discovery.categories"}}{{i18n 'topic.browse_all_categories'}}{{/link-to}}, {{#link-to 'discovery.latest'}}{{i18n 'topic.view_latest_topics'}}{{/link-to}} {{i18n 'or'}} {{i18n 'filters.top.other_periods'}}.
        {{top-period-buttons period=period action=(action "changePeriod")}}
      {{else}}
        {{#link-to "discovery.categories"}} {{i18n 'topic.browse_all_categories'}}{{/link-to}} {{i18n 'or'}} {{#link-to 'discovery.latest'}}{{i18n 'topic.view_latest_topics'}}{{/link-to}}.
      {{/if}}
    {{/footer-message}}
  {{/if}}
</footer>
