<div class="modal-body">
  <div>
    <ul class='badge-groupings'>
    {{#each workingCopy as |wc|}}
      <li>
        {{#if wc.editing}}
          {{input value=wc.name}}
          <button {{action "save" wc}} class="btn no-text">{{fa-icon 'check'}}</button>
        {{else}}
          {{wc.displayName}}
        {{/if}}
        <div class='actions'>
          <button {{action "edit" wc}} class="btn no-text" disabled={{wc.system}}>{{fa-icon 'pencil'}}</button>
          <button {{action "up" wc}} class="btn no-text">{{fa-icon 'toggle-up'}}</button>
          <button {{action "down" wc}} class="btn no-text">{{fa-icon 'toggle-down'}}</button>
          <button {{action "delete" wc}} class="btn no-text btn-danger" disabled={{wc.system}}>{{fa-icon 'times'}}</button>
        </div>
      </li>
    {{/each}}
    </ul>
  </div>
  <button class='btn' {{action "add"}}>{{i18n 'admin.badges.new'}}</button>
</div>
<div class="modal-footer">
  <button class='btn btn-primary' {{action "saveAll"}} disabled={{submitDisabled}}>{{i18n 'admin.badges.save'}}</button>
  <a {{action "cancel"}}>{{i18n 'cancel'}}</a>
</div>
