{{#d-modal-body class='add-upload-modal' title="admin.customize.theme.add_upload"}}
    <div class="inputs">
      <input onchange={{action "updateName"}} type="file" id="file-input" accept='*'><br>
      <span class="description">{{i18n 'admin.customize.theme.upload_file_tip'}}</span><br>
      <label>{{i18n 'admin.customize.theme.variable_name'}}
        {{input id="name" value=name}}<br>
      </label>
      {{#if fileSelected}}
        {{#if errorMessage}}
          <span class="alert alert-error">{{errorMessage}}</span>
        {{/if}}
      {{/if}}
    </div>
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button action="upload" disabled=disabled class='btn btn-primary' icon='upload' label='admin.customize.theme.upload'}}
  {{d-modal-cancel close=(action "closeModal")}}
</div>
