{{#d-modal-body title="admin.backups.operations.backup.confirm"}}
  {{#if withoutUploadsButtonFirst}}
    {{d-button
      action=(action "startBackupWithoutUploads")
      class="btn-primary"
      label=withoutUploadsButtonLabel}}
    {{d-button
      class=(if adminBackupsLogs.status.strictBackup "btn-danger" "btn-default")
      action=(action "startBackupWithUploads")
      disabled=withUploadsButtonDisabled
      label=withUploadsButtonLabel}}
  {{else}}
    {{d-button
      class="btn-primary"
      action=(action "startBackupWithUploads")
      label=withUploadsButtonLabel}}
    {{d-button
      action=(action "startBackupWithoutUploads")
      label=withoutUploadsButtonLabel}}
  {{/if}}
  {{d-button
    action=(action "cancel")
    label="no_value"}}
  {{#if adminBackupsLogs.status.strictBackup}}
    <div class="final-backup-warning">
      {{input type="checkbox" checked=confirmFinalBackup class="final-backup-checkbox"}}
      {{i18n "admin.backups.operations.backup.final_backup_checkbox"}}
    </div>
    ⚠️ {{{i18n "admin.backups.operations.backup.final_backup_warning"}}}
  {{/if}}
{{/d-modal-body}}
