{{#d-modal-body class="create-theme-modal" title="admin.customize.theme.create"}}
  <div class="input">
    <span class="label">
      {{I18n "admin.customize.theme.create_name"}}
    </span>
    <span class="control">
      {{input value=name placeholder=placeholder}}
    </span>
  </div>

  <div class="input">
    <span class="label">
      {{I18n "admin.customize.theme.create_type"}}
    </span>
    <span class="control">
      {{combo-box valueAttribute="value" content=types value=selectedType}}
    </span>
  </div>
  {{#if showError}}
    <div class="error">
      {{d-icon "warning"}}
      {{I18n "admin.customize.theme.name_too_short"}}
    </div>
  {{/if}}
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button class="btn btn-primary" label="admin.customize.theme.create" action=(action "createTheme") disabled=saving}}
  {{d-modal-cancel close=(route-action "closeModal")}}
</div>
