{{#d-modal-body title="admin.user.suspend_modal_title"}}
  {{#conditional-loading-spinner condition=loadingUser}}

    {{#if user.canSuspend}}
      <div class='until-controls'>
        <label>
          {{future-date-input
            class="suspend-until"
            label="admin.user.suspend_duration"
            includeFarFuture=true
            clearable=false
            input=suspendUntil}}
        </label>
      </div>
      {{suspension-details reason=reason message=message}}

      {{#if post}}
        {{penalty-post-action
          post=post
          postAction=postAction
          postEdit=postEdit}}
      {{/if}}

    {{else}}
      <div class='cant-suspend'>
        {{i18n "admin.user.cant_suspend"}}
      </div>
    {{/if}}

  {{/conditional-loading-spinner}}

{{/d-modal-body}}

<div class="modal-footer">
  {{d-button
    class="btn-danger perform-suspend"
    action=(action "suspend")
    disabled=submitDisabled
    icon="ban"
    label="admin.user.suspend"}}
  {{d-modal-cancel close=(route-action "closeModal")}}
  {{conditional-loading-spinner condition=loading size="small"}}
</div>
