{{#d-modal-body title="admin.user.suspend_modal_title"}}
  {{#conditional-loading-spinner condition=loadingUser}}

    {{#if user.canSuspend}}
      <div class='until-controls'>
        <label>
          {{future-date-input
            class="suspend-until"
            label="admin.user.suspend_duration"
            includeForever=true
            input=suspendUntil}}
        </label>
      </div>

      <div class='reason-controls'>
        <label>
          <div class='suspend-reason-label'>
            {{#if siteSettings.hide_suspension_reasons}}
              {{{i18n 'admin.user.suspend_reason_hidden_label'}}}
            {{else}}
              {{{i18n 'admin.user.suspend_reason_label'}}}
            {{/if}}
          </div>

          {{text-field
            value=reason
            class="suspend-reason"
            placeholderKey="admin.user.suspend_reason_placeholder"}}
        </label>
      </div>

      <label>
        <div class='suspend-message-label'>
          {{i18n "admin.user.suspend_message"}}
        </div>
        {{textarea
          value=message
          class="suspend-message"
          placeholder=(i18n "admin.user.suspend_message_placeholder")}}
      </label>
    {{else}}
      <div class='cant-suspend'>
        {{i18n "admin.user.cant_suspend"}}
      </div>
    {{/if}}

  {{/conditional-loading-spinner}}

{{/d-modal-body}}

<div class="modal-footer">
  {{d-button
    class="btn-danger perform-suspend"
    action="suspend"
    disabled=submitDisabled
    icon="ban"
    label="admin.user.suspend"}}
  {{d-modal-cancel close=(action "closeModal")}}
  {{conditional-loading-spinner condition=loading size="small"}}
</div>
