<div class="modal-body">
  <form>
    {{i18n 'admin.user.suspend_duration'}}
    {{text-field value=duration maxlength="5" autofocus="autofocus"}}
    {{i18n 'admin.user.suspend_duration_units'}}<br/>
    <br/>
    {{{i18n 'admin.user.suspend_reason_label'}}}<br/>
    <br/>
    {{text-field value=reason class="span8"}}
  </form>
</div>
<div class="modal-footer">
  <button class='btn btn-danger' {{action "suspend"}} disabled={{submitDisabled}}><i class='fa fa-ban'></i>{{i18n 'admin.user.suspend'}}</button>
  <a {{action "closeModal"}}>{{i18n 'cancel'}}</a>
</div>
