{{#d-modal-body title="admin.backups.operations.backup.confirm"}}
  <button class="btn btn-primary" {{action "startBackupWithUploads"}}>
    {{i18n "yes_value"}}
  </button>
  <button class="btn" {{action "startBackupWithoutUploads"}}>
    {{i18n "admin.backups.operations.backup.without_uploads"}}
  </button>
  <button class="btn" {{action "cancel"}}>
    {{i18n "no_value"}}
  </button>
{{/d-modal-body}}