{{#d-modal-body title="admin.user.silence_modal_title"}}
  {{#conditional-loading-spinner condition=loadingUser}}

    <div class='until-controls'>
      <label>
        {{future-date-input
          class="silence-until"
          label="admin.user.silence_duration"
          includeFarFuture=true
          input=silenceUntil}}
      </label>
    </div>

    <div class='reason-controls'>
      <label>
        <div class='silence-reason-label'>
          {{{i18n 'admin.user.silence_reason_label'}}}
        </div>

        {{text-field
          value=reason
          class="silence-reason"
          placeholderKey="admin.user.silence_reason_placeholder"}}
      </label>
    </div>

    <label>
      <div class='silence-message-label'>
        {{i18n "admin.user.silence_message"}}
      </div>
      {{textarea
        value=message
        class="silence-message"
        placeholder=(i18n "admin.user.silence_message_placeholder")}}
    </label>

  {{/conditional-loading-spinner}}

{{/d-modal-body}}

<div class="modal-footer">
  {{d-button
    class="btn-danger perform-silence"
    action="silence"
    disabled=submitDisabled
    icon="microphone-slash"
    label="admin.user.silence"}}
  {{d-modal-cancel close=(action "closeModal")}}
  {{conditional-loading-spinner condition=loading size="small"}}
</div>
