{{#d-modal-body title="admin.user.silence_modal_title"}}
  {{#conditional-loading-spinner condition=loadingUser}}

    <div class='until-controls'>
      <label>
        {{future-date-input
          class="silence-until"
          label="admin.user.silence_duration"
          includeFarFuture=true
          clearable=false
          input=silenceUntil
          onChangeInput=(action (mut silenceUntil))
        }}
      </label>
    </div>

    {{silence-details reason=reason message=message}}
    {{#if postId}}
      {{penalty-post-action
        postId=postId
        postAction=postAction
        postEdit=postEdit}}
    {{/if}}

  {{/conditional-loading-spinner}}

{{/d-modal-body}}

<div class="modal-footer">
  {{d-button
    class="btn-danger perform-silence"
    action=(action "silence")
    disabled=submitDisabled
    icon="microphone-slash"
    label="admin.user.silence"}}
  {{d-modal-cancel close=(route-action "closeModal")}}
  {{conditional-loading-spinner condition=loading size="small"}}
</div>
