{{#d-modal-body title="admin.user.suspend_modal_title"}}
  <form>
    {{i18n 'admin.user.suspend_duration'}}
    {{text-field value=duration maxlength="5" autofocus="autofocus" class="suspend-duration"}}
    {{i18n 'admin.user.suspend_duration_units'}}<br/>
    <br/>
    {{#if siteSettings.hide_suspension_reasons}}
      {{{i18n 'admin.user.suspend_reason_hidden_label'}}}<br/>
    {{else}}
      {{{i18n 'admin.user.suspend_reason_label'}}}<br/>
    {{/if}}

    <br/>
    {{text-field value=reason class="suspend-reason"}}
  </form>
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button
    class="btn-danger perform-suspend"
    action="suspend"
    disabled=submitDisabled
    icon="ban"
    label="admin.user.suspend"}}
  <a {{action "closeModal"}} class="cancel-suspend">{{i18n 'cancel'}}</a>
</div>
