
<div class="modal-body">
  <div>
    <ul class='badge-groupings'>
    {{#each workingCopy}}
    <li>
    {{#if editing}}
      {{input value=this.name}}
      <button {{action "save" this}}><i class="fa fa-check"></i></button>
    {{else}}
      {{this.name}}
    {{/if}}
    <div class='actions'>
    <button {{action "edit" this}}><i class="fa fa-pencil"></i></button>
    <button {{action "up" this}}><i class="fa fa-toggle-up"></i></button>
    <button {{action "down" this}}><i class="fa fa-toggle-down"></i></button>
    <button {{action "delete" this}}><i class="fa fa-times"></i></button>
    </div>
    </li>
    {{/each}}
    </ul>
  </div>
  <button class='btn' {{action "add"}}>{{i18n 'admin.badges.new'}}</button>
</div>
<div class="modal-footer">
  <button class='btn btn-primary' {{action "saveAll"}} {{bind-attr disabled="submitDisabled"}}>{{i18n 'admin.badges.save'}}</button>
  <a {{action "cancel"}}>{{i18n 'cancel'}}</a>
</div>
