{{#if category}}
  <div class="category-status" aria-hidden="true">
    {{#if hasParentCategory}}
      {{#unless hideParentCategory}}
        {{badgeForParentCategory}}
      {{/unless}}
    {{/if}}
    {{badgeForCategory}}
  </div>

  {{#if shouldDisplayDescription}}
    <div class="category-desc" aria-hidden="true">{{dir-span description htmlSafe="true"}}</div>
  {{/if}}
{{else}}
  {{html-safe label}}
{{/if}}
