{{#if appendReason}}
  <p class="reason">
    <TopicNotificationsOptions @value={{notificationLevel}} @topic={{topic}} @onChange={{action "changeTopicNotificationLevel"}} @options={{hash
        icon=icon
        showFullTitle=showFullTitle
        showCaret=showCaret
        headerAriaLabel=(i18n "topic.notifications.title")
      }} />
    <span class="text">{{html-safe notificationReasonText}}</span>
  </p>
{{else}}
  <TopicNotificationsOptions @value={{notificationLevel}} @topic={{topic}} @onChange={{action "changeTopicNotificationLevel"}} @options={{hash
      icon=icon
      showFullTitle=showFullTitle
      showCaret=showCaret
      headerAriaLabel=(i18n "topic.notifications.title")
    }} />
{{/if}}
