{{#with view.content}}
  {{#if Discourse.loginRequired}}
    <a href='#' {{action showLogin}}>
      {{unbound title}}
    </a>
  {{else}}
    <a href='{{unbound url}}'>
      {{unbound title}}
    </a>
  {{/if}}
{{/with}}

