<a class='search-link' href='{{unbound url}}'>
  <span class='topic'>
  {{topic-status topic=topic disableActions=true}}{{unbound topic.title}}{{category-badge topic.category}}
  </span>
  {{#unless Discourse.Mobile.mobileView}}
  <span class='blurb'>
  {{{unbound blurb}}}
  </span>
  {{/unless}}
</a>
