<a class='search-link' href='{{unbound url}}'>
  <span class='topic'>
    {{topic-status topic=topic disableActions=true}}<span class='topic-title'>{{unbound topic.title}}</span>{{category-badge topic.category}}
  </span>
  {{#unless controller.site.mobileView}}
    <span class='blurb'>
    {{format-age created_at}} - {{{unbound blurb}}}
    </span>
  {{/unless}}
</a>
