<td class="title">
  {{#if this.report.icon}}
    {{d-icon this.report.icon}}
  {{/if}}
  <a href={{this.report.reportUrl}}>{{this.report.title}}</a>
</td>

<td class="value">{{number this.report.todayCount}}</td>

<td
  class="value {{this.report.yesterdayTrend}}"
  title={{this.report.yesterdayCountTitle}}
>
  {{number this.report.yesterdayCount}}
  {{d-icon this.report.yesterdayTrendIcon}}
</td>

<td
  class="value {{this.report.sevenDaysTrend}}"
  title={{this.report.sevenDaysCountTitle}}
>
  {{number this.report.lastSevenDaysCount}}
  {{d-icon this.report.sevenDaysTrendIcon}}
</td>

<td
  class="value {{this.report.thirtyDaysTrend}}"
  title={{this.report.thirtyDaysCountTitle}}
>
  {{number this.report.lastThirtyDaysCount}}
  {{d-icon this.report.thirtyDaysTrendIcon}}
</td>

{{#if this.allTime}}
  <td class="value">{{number this.report.total}}</td>
{{/if}}