{{d-icon "times"}} {{word.word}}
{{#if isReplace}}
  &rarr; <span class="replacement">{{word.replacement}}</span>
{{else if isTag}}
  &rarr;
  {{#each tags as |tag|}}
    <span class="tag">{{tag}}</span>
  {{/each}}
{{/if}}
