<div class="suspended-count {{suspendedCountClass}}" title={{i18n "admin.user.last_six_months"}}>
  <label>{{i18n "admin.user.suspended_count"}}</label>
  <span>{{user.penalty_counts.suspended}}</span>
</div>
<div class="silenced-count {{silencedCountClass}}" title={{i18n "admin.user.last_six_months"}}>
  <label>{{i18n "admin.user.silenced_count"}}</label>
  <span>{{user.penalty_counts.silenced}}</span>
</div>
