<div class="user-field">
  {{#if (or isEditing (not userField.id))}}
    <AdminFormRow @label="admin.user_fields.type">
      <ComboBox @content={{fieldTypes}} @value={{buffered.field_type}} @onChange={{action (mut buffered.field_type)}} />
    </AdminFormRow>

    <AdminFormRow @label="admin.user_fields.name">
      <Input @value={{buffered.name}} class="user-field-name" @maxlength="255" />
    </AdminFormRow>

    <AdminFormRow @label="admin.user_fields.description">
      <Input @value={{buffered.description}} class="user-field-desc" @maxlength="255" />
    </AdminFormRow>

    {{#if bufferedFieldType.hasOptions}}
      <AdminFormRow @label="admin.user_fields.options">
        <ValueList @values={{buffered.options}} @inputType="array" />
      </AdminFormRow>
    {{/if}}

    <AdminFormRow @wrapLabel="true">
      <Input @type="checkbox" @checked={{buffered.editable}} /> <span>{{i18n "admin.user_fields.editable.title"}}</span>
    </AdminFormRow>

    <AdminFormRow @wrapLabel="true">
      <Input @type="checkbox" @checked={{buffered.required}} /> <span>{{i18n "admin.user_fields.required.title"}}</span>
    </AdminFormRow>

    <AdminFormRow @wrapLabel="true">
      <Input @type="checkbox" @checked={{buffered.show_on_profile}} /> <span>{{i18n "admin.user_fields.show_on_profile.title"}}</span>
    </AdminFormRow>

    <AdminFormRow @wrapLabel="true">
      <Input @type="checkbox" @checked={{buffered.show_on_user_card}} /> <span>{{i18n "admin.user_fields.show_on_user_card.title"}}</span>
    </AdminFormRow>

    <AdminFormRow @wrapLabel="true">
      <Input @type="checkbox" @checked={{buffered.searchable}} /> <span>{{i18n "admin.user_fields.searchable.title"}}</span>
    </AdminFormRow>

    <AdminFormRow>
      <DButton @action={{action "save"}} @class="btn-primary save" @icon="check" @label="admin.user_fields.save" />
      <DButton @action={{action "cancel"}} @class="btn-danger cancel" @icon="times" @label="admin.user_fields.cancel" />
    </AdminFormRow>
  {{else}}
    <div class="row">
      <div class="form-display">
        <b class="name">{{userField.name}}</b>
        <br>
        <span class="description">{{html-safe userField.description}}</span>
      </div>
      <div class="form-display field-type">{{fieldName}}</div>
      <div class="form-element controls">
        <DButton @action={{action "edit"}} @class="btn-default edit" @icon="pencil-alt" @label="admin.user_fields.edit" />
        <DButton @action={{destroyAction}} @actionParam={{userField}} @class="btn-danger cancel" @icon="far-trash-alt" @label="admin.user_fields.delete" />
        <DButton @action={{moveUpAction}} @actionParam={{userField}} @class="btn-default" @icon="arrow-up" @disabled={{cantMoveUp}} />
        <DButton @action={{moveDownAction}} @actionParam={{userField}} @class="btn-default" @icon="arrow-down" @disabled={{cantMoveDown}} />
      </div>
    </div>
    <div class="row">{{flags}}</div>
  {{/if}}
</div>
