<div class="field">{{i18n this.name}}</div>
<div class="value">
  {{#if this.editing}}
    <TextField
      @value={{this.buffer}}
      @autofocus="autofocus"
      @autocomplete="off"
    />
  {{else}}
    <a href {{on "click" this.edit}} class="inline-editable-field">
      <span>{{this.value}}</span>
    </a>
  {{/if}}
</div>
<div class="controls">
  {{#if this.editing}}
    <DButton
      @class="btn-default"
      @action={{action "save"}}
      @label="admin.user_fields.save"
    />
    <a href {{on "click" this.edit}}>{{i18n "cancel"}}</a>
  {{else}}
    <DButton
      @class="btn-default"
      @action={{action "edit"}}
      @icon="pencil-alt"
    />
  {{/if}}
</div>