{{#if foundProblems}}
  <div class="section dashboard-problems">
    <div class="section-title">
      <h2>
        {{d-icon "heart"}}
        {{i18n "admin.dashboard.problems_found"}}
      </h2>
    </div>

    <div class="section-body">
      {{#conditional-loading-section isLoading=loadingProblems}}
        {{#if highPriorityProblems.length}}
          <div class="problem-messages priority-high">
            <ul>
              {{#each highPriorityProblems as |problem|}}
                <li class={{concat "dashboard-problem " "priority-" problem.priority}}>
                  {{d-icon "exclamation-triangle"}} {{html-safe problem.message}}
                </li>
              {{/each}}
            </ul>
          </div>
        {{/if}}

        <div class="problem-messages priority-low">
          <ul>
            {{#each lowPriorityProblems as |problem|}}
              <li class={{concat "dashboard-problem " "priority-" problem.priority}}>{{html-safe problem.message}}</li>
            {{/each}}
          </ul>
        </div>

        <p class="actions">
          {{d-button action=refreshProblems class="btn-default" icon="sync" label="admin.dashboard.refresh_problems"}}
          {{i18n "admin.dashboard.last_checked"}}: {{problemsTimestamp}}
        </p>
      {{/conditional-loading-section}}
    </div>
  </div>
{{/if}}
