{{#if isCheckbox}}
  <label for={{inputId}}>
    <Input @checked={{checked}} @id={{inputId}} @type="checkbox" />
    {{i18n translationKey}}
  </label>
{{else}}
  <label for={{inputId}}>{{i18n translationKey}}</label>
  <Input @value={{value}} @id={{inputId}} placeholder={{placeholder}} />
{{/if}}

<div class="clearfix"></div>
