<label class="checkbox-label">
  <Input @type="checkbox" @disabled={{disabled}} @checked={{buffer}} />
  {{i18n labelKey}}
</label>
{{#if changed}}
  <DButton @action={{action "apply"}} @class="btn-primary btn-small submit-edit" @icon="check" />
  <DButton @action={{action "cancel"}} @class="btn-small cancel-edit" @icon="times" />
{{/if}}
