<label class="checkbox-label">
  <Input @type="checkbox" disabled={{this.disabled}} @checked={{this.buffer}} />
  {{i18n this.labelKey}}
</label>
{{#if this.changed}}
  <DButton
    @action={{action "apply"}}
    @class="btn-primary btn-small submit-edit"
    @icon="check"
  />
  <DButton
    @action={{action "cancel"}}
    @class="btn-small cancel-edit"
    @icon="times"
  />
{{/if}}