<label>{{i18n "admin.logs.screened_ips.form.label"}}</label>
<TextField
  @value={{this.ip_address}}
  @disabled={{this.formSubmitted}}
  @class="ip-address-input"
  @placeholderKey="admin.logs.screened_ips.form.ip_address"
  @autocorrect="off"
  @autocapitalize="off"
/>

<ComboBox
  @content={{this.actionNames}}
  @value={{this.actionName}}
  @onChange={{action (mut this.actionName)}}
/>

<DButton
  @type="submit"
  @class="btn-default"
  @action={{action "submit"}}
  @disabled={{this.formSubmitted}}
  @label="admin.logs.screened_ips.form.add"
/>