{{#if collection}}
  <div class="values">
    {{#each collection as |value index|}}
      <div class="value" data-index={{index}}>
        <DButton @action={{action "removeValue"}} @actionParam={{value}} @icon="times" @class="remove-value-btn btn-small" />
        <Input @value={{value.key}} class="value-input" @focus-out={{action "changeKey" index}} />
        <Input @value={{value.secret}} class="value-input" @focus-out={{action "changeSecret" index}} @type={{if isSecret "password" "text"}} />
      </div>
    {{/each}}
  </div>
{{/if}}

<div class="value">
  <TextField @value={{newKey}} @class="new-value-input key" @placeholder={{setting.placeholder.key}} />
  <Input @type="password" @value={{newSecret}} class="new-value-input secret" placeholder={{setting.placeholder.value}} />
  <DButton @action={{action "addValue"}} @icon="plus" @class="add-value-btn btn-small" />
</div>

<SettingValidationMessage @message={{validationMessage}} />
