{{#if @fullscreen}}
  <div class="title">
    <h2>
      <a
        {{on "click" @jumpTop}}
        href={{@model.firstPostUrl}}
        class="fancy-title"
      >{{this.topicTitle}}</a>
    </h2>
    {{#if (or this.siteSettings.topic_featured_link_enabled this.showTags)}}
      <div class="topic-header-extra">
        {{#if this.showTags}}
          <div class="list-tags">
            {{discourse-tags @model mode="list" tags=@model.tags}}
          </div>
        {{/if}}
        {{#if this.siteSettings.topic_featured_link_enabled}}
          {{topic-featured-link @model}}
        {{/if}}
      </div>
    {{/if}}

    {{#if (and (not @model.isPrivateMessage) @model.category)}}
      <div class="topic-category">
        {{#if @model.category.parentCategory}}
          {{category-link @model.category.parentCategory}}
        {{/if}}
        {{category-link @model.category}}
      </div>
    {{/if}}
    {{#if this.excerpt}}
      <div class="post-excerpt">{{html-safe this.excerpt}}</div>
    {{/if}}
  </div>
{{/if}}

{{#if (and (not @fullscreen) this.currentUser)}}
  <div class="timeline-controls">
    <PluginOutlet
      @name="timeline-controls-before"
      @outletArgs={{hash model=@model}}
    />
    <TopicAdminMenu
      @topic={{@model}}
      @toggleMultiSelect={{@toggleMultiSelect}}
      @showTopicSlowModeUpdate={{@showTopicSlowModeUpdate}}
      @deleteTopic={{@deleteTopic}}
      @recoverTopic={{@recoverTopic}}
      @toggleClosed={{@toggleClosed}}
      @toggleArchived={{@toggleArchived}}
      @toggleVisibility={{@toggleVisibility}}
      @showTopicTimerModal={{@showTopicTimerModal}}
      @showFeatureTopic={{@showFeatureTopic}}
      @showChangeTimestamp={{@showChangeTimestamp}}
      @resetBumpDate={{@resetBumpDate}}
      @convertToPublicTopic={{@convertToPublicTopic}}
      @convertToPrivateMessage={{@convertToPrivateMessage}}
    />
  </div>
{{/if}}

{{#if this.displayTimeLineScrollArea}}
  <UserTip
    @id="topic_timeline"
    @titleText={{i18n "user_tips.topic_timeline.title"}}
    @contentText={{i18n "user_tips.topic_timeline.content"}}
    @placement="left"
    @triggerSelector=".timeline-scrollarea-wrapper"
    @priority={{900}}
  />

  <div class="timeline-scrollarea-wrapper">
    <div class="timeline-date-wrapper">
      <a
        {{on "click" this.updatePercentage}}
        href={{@model.firstPostUrl}}
        title={{i18n "topic_entrance.jump_top_button_title"}}
        class="start-date"
      >
        <span>
          {{this.startDate}}
        </span>
      </a>
    </div>
    <div
      class="timeline-scrollarea"
      style={{this.timelineScrollareaStyle}}
      {{did-insert this.registerScrollarea}}
    >
      <div
        {{! template-lint-disable no-invalid-interactive }}
        {{on "click" this.updatePercentage}}
        style={{this.beforePadding}}
        class="timeline-padding"
      ></div>
      <TopicTimeline::Scroller
        @current={{this.current}}
        @total={{this.total}}
        @onGoBack={{this.onGoBack}}
        @fullscreen={{@fullscreen}}
        @showDockedButton={{this.showDockedButton}}
        @date={{this.date}}
        @didStartDrag={{this.didStartDrag}}
        @dragMove={{this.dragMove}}
        @didEndDrag={{this.didEndDrag}}
        {{did-insert this.registerScroller}}
      />
      <div
        {{! template-lint-disable no-invalid-interactive }}
        {{on "click" this.updatePercentage}}
        style={{this.afterPadding}}
        class="timeline-padding"
      ></div>

      {{#if (and this.hasBackPosition this.showButton)}}
        <div class="timeline-last-read" style={{this.lastReadStyle}}>
          {{d-icon "minus" class="progress"}}
          <TopicTimeline::BackButton @onGoBack={{this.goBack}} />
        </div>
      {{/if}}
    </div>

    <div class="timeline-date-wrapper">
      <a
        {{on "click" this.updatePercentage}}
        href={{@model.lastPostUrl}}
        class="now-date"
      >
        <span>
          {{age-with-tooltip this.nowDate this.nowDateOptions}}
        </span>
      </a>
    </div>
  </div>

  <div class="timeline-footer-controls">
    {{#if this.displaySummary}}
      <button
        type="button"
        class="show-summary btn btn-small"
        title={{i18n "summary.short_title"}}
        {{on "click" @showTopReplies}}
      >
        {{d-icon "layer-group"}}
        {{i18n "summary.short_label"}}
      </button>
    {{/if}}

    {{#if (and this.currentUser (not @fullscreen))}}
      {{#if this.canCreatePost}}
        <button
          type="button"
          class="btn btn-default create reply-to-post no-text btn-icon"
          title={{i18n "topic.reply.help"}}
          {{on "click" (fn @replyToPost null)}}
        >
          {{d-icon "reply"}}
        </button>
      {{/if}}
    {{/if}}

    {{#if @fullscreen}}
      <button
        type="button"
        class="timeline-open-jump-to-post-prompt-btn btn btn-text jump-to-post"
        title={{i18n "topic.progress.jump_prompt_long"}}
        {{on "click" @jumpToPostPrompt}}
      >
        <span class="d-button-label">
          {{i18n "topic.progress.jump_prompt"}}
        </span>
      </button>
    {{/if}}

    {{#if this.currentUser}}
      <TopicNotificationsButton
        @topic={{@model}}
        @showFullTitle={{false}}
        @appendReason={{false}}
        @showCaret={{false}}
      />
    {{/if}}

    <PluginOutlet
      @name="timeline-footer-controls-after"
      @outletArgs={{hash model=@model fullscreen=@fullscreen}}
    />
  </div>
{{/if}}