<ul class="nav-pills">
  <li><a class="active" href="<%=faq_path%>">FAQ</a></li>
  <li><a href="<%=tos_path%>">Условия предоставления услуг</a></li>
  <li><a href="<%=privacy_path%>">Конфиденциальность</a></li>
</ul>

<%= markdown_content(:faq) do %>

<div id="civilized"></div>
<h2><a href="#civilized">Это цивилизованное место для открытого общения</a></h2>
<p>
  Пожалуйста, относитесь с уважением к участникам форума.  Мы предлагаем вам место, где вы можете делиться опытом, знаниями и увлечениями в живом общении.
</p>
<div class="more">
  <p>
    Руководствуйтесь принципами, изложенными в этом руководстве, чтобы создать на нашем форуме приятную атмосферу для общения. Это не жесткие правила, а лишь помощь в принятии решений модераторами и сообществом в целом.
</p>
</div>

<div id="improve"></div>
<h2><a href="#improve">Как сделать общение лучше?</a></h2>
<p>
  Помогите нам сделать этот форум приятным местом для досуга, стараясь придерживаться принятых норм общения. Если вы не уверены, что ваше сообщение относится к теме или внесет вклад в обсуждение, подумайте еще раз о том, что именно вы хотите сказать, и попробуйте опубликовать свою мысль позже.
</p>
<div class="more">
  <p>
  Темы, обсуждаемые здесь, имеют большое значение для нас, и мы хотим, чтобы они были важны и для вас тоже. Уважайте темы обсуждений и людей, участвующих в них, даже если вы не согласны с чем-то, о чём идёт речь.
</p>
  <p>
  Один из способов улучшить общение &mdash;  это проверить, что уже происходило на форуме. Пожалуйста, потратьте немного времени на просмотр существующего списка тем до того, как отвечать или начинать новую тему, и у вас будет больше возможностей встретить тех, кто разделяет ваши интересы.
</p>
</div>

<div id="agreeable"></div>
<h2><a href="#agreeable">Идите на уступки, даже если вы с чем-то не согласны</a></h2>
<p>
  Возможно, вы хотите ответить кому-то, не согласившись с его мнением. Это нормально. Но помните: <em>критикуйте идеи, а не людей. </em>Пожалуйста, избегайте:
<ul>
    <li>Оскорблений.</li>
    <li>Предубеждений.</li>
    <li>Ответов, основанных на общей эмоциональной окраске сообщения, а не на его содержании.</li>
    <li>Поспешных противоречий.</li>
  </ul>
<div class="more">
  <p>
  Вместо этого приведите обоснованные контраргументы, которые могут помочь обсуждению в целом.
</p>
</div>

<div id="participate"></div>
<h2><a href="#participate">Нам важно ваше участие</a></h2>
<p>
  Беседы, которые мы тут ведем, задают тон для всего последующего общения. Помогите нам влиять на будущее форума, участвуя в обсуждениях, которые делают наш форум привлекательным местом пребывания, и избегайте тех тем, которые здесь нежелательны.
</p>
<div class="more">
  <p>
  Discourse («Дискурс») предлагает инструменты, позволяющие пользователям форума помечать лучшие (и худшие) сообщения: списки избранного, закладки, «лайки», ответы, изменения и т. д. Используйте эти инструменты, чтобы сделать свое пребывание на форуме удобнее, а также сделать его более приятным для других пользователей.
</p>
  <p>
  Чисто не там, где убирают, а где не сорят.
</p>
</div>

<div id="flag-problems"></div>
<h2><a href="#flag-problems">Если вы увидели проблему &mdash;  пожалуйтесь на нее</a></h2>
<p>
  У модераторов есть специальные полномочия, они отвечают за этот форум. Но и вы тоже. С вашей помощью модераторы могут быть посредниками в общении, а не только «дворниками» или «полицейскими».
</p>
<div class="more">
  <p>
  Если вы заметили плохое поведение участника, не отвечайте на него. Вы лишь вызовете новый всплеск активности, обратив на это своё внимание. Что затратит не только вашу энергию, но и будет потерей времени для всех. Просто отправьте «<i>Жалобу</i>» на сообщение. Если поступит достаточное количество жалоб, будут приняты меры – либо автоматически, либо с вмешательством модераторов.
</p>
  <p>
  В целях поддержания нашего сообщества модераторы имеют право удалить любую информацию и любую учетную запись по любой причине в любое время. Модераторы не проверяют сообщения до их публикации; модераторы и операторы форума не несут никакой ответственности за любую информацию, размещенную сообществом на страницах форума.
</p>
</div>

<div id="be-civil"></div>
<h2><a href="#be-civil">Всегда будьте вежливыми</a></h2>
<p>
  Ничто не вредит здоровому общению более грубости:
<ul>
    <li>Будьте культурными. Не пишите ничего, что разумный человек посчитает грубым, оскорбительным или отвратительным.</li>
    <li>Не пишите ничего непристойного или откровенно сексуального.</li>
    <li>Уважайте друг друга.  Не беспокойте и не огорчайте никого, не выдавайте себя за другое лицо, не публикуйте личную информацию других людей без их согласия.</li>
    <li>Уважайте наш форум. Не размещайте СПАМ и не хулиганьте на форуме.</li>
  </ul>
</p>
<div class="more">
  <p>
  Это не исчерпывающий список определений &mdash; избегайте всего того, что могло бы даже <i>косвенно</i> спровоцировать другого пользователя. Если вы в чем-то неуверенны &ndash; спросите себя, как бы вы себя почувствовали, если бы ваше сообщение было напечатано на первой полосе уважаемой газеты вашего города.
</p>
  <p>
  Это &mdash;  публичный форум, поисковые машины индексируют все сообщения. Следите за тем, чтобы размещаемые вами ссылки, изображения, фотографии и ваш стиль общения в целом не противоречили законодательству и были одобрены обществом.
</p>
</div>

<div id="keep-tidy"></div>
<h2><a href="#keep-tidy">Будьте аккуратны</a></h2>
<p>
  Старайтесь размещать сообщения в подходящих по смыслу темах, чтобы мы могли использовать больше времени на общение, а не на «уборку» форума. Итак:
<ul>
    <li>Не начинайте новую тему в неподходящей категории.</li>
    <li>Не размещайте однотипные сообщения в нескольких темах одновременно.</li>
    <li>Избегайте бессмысленных сообщений.</li>
    <li>Не уходите от темы.</li>
    <li>Не подписывайте свои сообщения &mdash;  у каждого сообщения указана информация об авторе.</li>
  </ul>
</p>
<div class="more">
  <p>
  Не пишите «+1» или «Согласен», используйте кнопку «Мне нравится».
Вместо того чтобы радикально менять тему разговора, используйте кнопку «Ответить в новой теме».
</p>
</div>

<div id="stealing"></div>
<h2><a href="#stealing">Размещайте только свои собственные материалы</a></h2>
<p>
  Вы не можете размещать цифровые материалы (изображения, видео, программы, звуковые файлы и т.д.), принадлежащие другим лицам, без их согласия. Запрещается публиковать описание или ссылки на описание методов кражи чьей-то интеллектуальной собственности, или нарушать какие-либо другие законы.
</p>
<div class="more">
</div>

<div id="tos"></div>
<h2><a href="tos">Условия предоставления услуг</a></h2>
<p>
  Да, юридическая сторона скучна, но мы должны защитить себя &mdash; и, соответственно, вас и вашу информацию &mdash;  от недружелюбных людей. У нас есть свои «<a href="<%=tos_path%>">Условия предоставления услуг</a>», описывающие ваши (и наши) права и обязанности относительно содержания форума, конфиденциальности и законов. Для использования данного сервиса вы должны согласиться соблюдать <a href="<%=tos_path%>">эти условия</a>..
</p>
<div class="more">
</div>

<% end %>
