<ul class="nav-pills">
  <li><a class="active" href="<%=faq_path%>">Часті запитання</a></li>
  <li><a href="<%=tos_path%>">Умови Використання</a></li>
  <li><a href="<%=privacy_path%>">Приватність</a></li>
</ul>

<%= markdown_content(:faq) do %>

<div id="civilized"></div>
<h2><a href="#civilized">Це - цивілізоване місце для публічних обговорень</a></h2>
<p>
  Будь ласка, ставтесь до форуму обговорень з такою ж повагою, як і до публічного парку. Ми також є спільним громадським ресурсом &mdash; місцем для того, щоб ділитись вміннями, знаннями та зацікавленнями в ході безперервного спілкування.
</p>
<div class="more">
  <p>
    Це &mdash; нескладні та зрозумілі правила, що допомагають сформувати власне враження про нашу спільноту. Слідкуйте цим настановам, щоб підтримувати чистоту та об'єктивність у цьому цивілізованому місці для публічних диспутів.
</p>
</div>

<div id="improve"></div>
<h2><a href="#improve">Вдосконалюйте обговорення</a></h2>
<p>
  Допоможіть нам створити тут чудове місце для дискусій, проявляйте бажання зробити власний, нехай навіть не значний, внесок у вдосконалення обговорення. Якщо Ви не впевнені, що Ваше повідомлення додасть користі, або якщо воно може відволікти користувачів від основної теми, спробуйте переосмислити його та написати щось пізніше.
</p>
<div class="more">
  <p>
  Теми, що тут обговорюються, є важливими для нас, і ми будемо вдячні, якщо вони будуть такими ж і для Вас. Ставтесь із повагою до тем і до людей, що їх обговорюють, навіть якщо Ви не погоджуєтесь зі всім, що вони пишуть.
</p>
  <p>
  Один із способів принести користь обговоренню &mdash; дізнатися, що саме зараз обговорюється. Будь ласка, витратьте трішки власного часу на перегляд наявних тут тем перед тим, як писати власні повідомлення або розпочинати власне обговорення &mdash; і у Вас з'явиться шанс швидше знайти людей, що поділяють Ваші погляди.  
</p>
</div>

<div id="agreeable"></div>
<h2><a href="#agreeable">Будьте ввічливими, навіть якщо із чимось не погоджуєтеся</a></h2>
<p>
  У Вас може виникнути бажання зреагувати на те, із чим Ви не погоджуєтесь. Це нормально. Але пам'ятайте, що потрібно <em>критикувати ідеї, а не людей</em>. 

Будь ласка, утримуйтесь від:  
<ul>
    <li>Образ користувачів.</li>
    <li>Провокацій.</li>
    <li>Реагування на манеру допису, а не на його зміст.</li>
    <li>Передчасних висновків, без аналізу слів дописувача.</li>
  </ul>
<div class="more">
  <p>
  Натомість пропонуйте зважені контраргументи, які зроблять розмову ґрунтовнішою.
</p>
</div>

<div id="participate"></div>
<h2><a href="#participate">Ваша участь важлива</a></h2>
<p>
  Обговорення, що тут відбуваються, створюють клімат для всіх. Допоможіть нам вплинути на майбутнє нашої спільноти, беріть участь в обговореннях, що роблять цей форум цікавим &mdash; та уникайте тих, що цьому перешкоджають.
</p>
<div class="more">
  <p>
  Discourse має свої засоби, що допомагають спільноті колективно визначити найкращі (та найгірші) напрацювання: можливість додавати до улюбленого, лишати закладки, вподобувати, скаржитися, відповідати, редагувати тощо. Використовуйте ці інструменти, щоб поліпшити свій власний досвід користування форумом, а також досвід інших людей.
  </p>
  <p>
  Намагаймося залишати наш парк у кращому стані, ніж коли ми сюди прийшли!
  </p>
</div>

<div id="flag-problems"></div>
<h2><a href="#flag-problems">Якщо Ви помітили проблему, позначте її прапорцем</a></h2>
<p>
  Модератори мають спеціальні повноваження; вони відповідальні за цей форум. Але Ви &mdash; теж. З Вашою допомогою модератори можуть бути ефективними посередниками у спільноті, а не лише прибиральниками чи поліцаями.
</p>
<div class="more">
  <p>
  Коли Ви бачите порушення правил, не відповідайте на нього. Це заохочуватиме погану поведінку через те, що на неї звертають увагу, а також забиратиме Вашу енергію та час. <i>Просто позначте порушення прапорцем</i>. Якщо поскаржиться достатня кількість осіб, реакція не забариться. Все відбудеться автоматично або за втручання модератора.
  </p>
  <p>
  Заради підтримки нашої спільноти модератори залишають за собою право видаляти будь-який матеріал або профіль користувача на власний розсуд у будь-який час. Модератори не здійснюють попередньої модерації нових дописів; тому вони та адміністрація сайту не несуть відповідальності за матеріали, розміщені на сторінках спільноти.
  </p>
</div>

<div id="be-civil"></div>
<h2><a href="#be-civil">Завжди будьте чемними</a></h2>
<p>
  Ніщо так не шкодить здоровому спілкуванню, як грубість:
<ul>
    <li>Будьте цивілізованими. Не публікуйте матеріалів, котрі вихована людина буде вважати образливими, лайливими, такими, що розпалюють ворожнечу.</li>
    <li>Зберігайте чистоту. Не публікуйте матеріали непристойного та сексуально відвертого характеру.</li>
    <li>Поважайте співрозмовників. Не дратуйте людей, не висміюйте їхні біди, не видавайте себе за тих, ким Ви не є, та не розголошуйте чужу особисту інформацію.</li>
    <li>Поважайте наш форум. Не лишайте тут спам та інший непотріб.</li>
  </ul>
</p>
<div class="more">
  <p>
  Ці вимоги &mdash; не конкретні правила з чіткими формулюваннями. Просто уникайте <i>будь яких проявів</i> цих явищ. Якщо Ви не впевнені, запитайте себе, які відчуття викликало б у Вас Ваше повідомлення, якби його розмістили на першій шпальті Нью-Йорк Таймс.  
</p>
  <p>
  Це &mdash; публічний форум, і пошукові системи його індексують. Пишіть і публікуйте посилання та зображення, які не соромно було б показати друзям та родині.  
</p>
</div>

<div id="keep-tidy"></div>
<h2><a href="#keep-tidy">Зберігайте охайність</a></h2>
<p>
  Докладіть зусиль, розставивши все на правильні місця, щоб ми могли витратити більше часу на обговорення, а не на підтримку чистоти. Отже:
  <ul>
    <li>Не розпочинайте тему в неправильній категорії форуму.</li>
    <li>Не повторюйте одне й те ж в різних темах.</li>
    <li>Не публікуйте порожніх відповідей.</li>
    <li>Не відхиляйтесь від теми обговорення.</li>
    <li>Не підписуйте Ваші дописи &mdash; інформація з Вашого профілю прикріплюється до них автоматично.</li>
  </ul>
</p>
<div class="more">
  <p>
  Замість того, щоб писати "+1" або "Згоден", використовуйте кнопку "Вподобати". Замість того, щоб різко змінювати напрямок обговорення в поточній темі, використовуйте опцію "Відповісти у новій темі".  
</p>
</div>

<div id="stealing"></div>
<h2><a href="#stealing">Публікуйте лише власний матеріал</a></h2>
<p>
  Не можна публікувати цифрові матеріали, які можуть належати іншим людям, без їх дозволу. Не можна публікувати описи, посилання або методики крадіжки чужої інтелектуальної власності (програм, відео- та аудіо-матеріалів, зображень), а також будь-які інші матеріали, що порушують чинне законодавство.
</p>
<div class="more">
</div>

<div id="tos"></div>
<h2><a href="#tos">Умови використання</a></h2>
<p>
  Так, юридичні терміни $ndash; це нудно, але ми мусимо захистити себе, а також і Вас та Ваші дані, від недружелюбних хлопців. У нас є <a href="<%=tos_path%>>Умови Використання</a>, що описують Вашу (і нашу) поведінку та права стосовно матеріалів форуму, приватності та законів. Для того, щоб користуватися цим сервісом, Ви маєте погодитись із <a href=">Умовами Використання</a>.
</p>
<div class="more">
</div>

<% end %>
