<ul class="nav-pills">
  <li><a class="active" href="<%=faq_path%>">FAQ</a></li>
  <li><a href="<%=tos_path%>">Termos de Serviço</a></li>
  <li><a href="<%=privacy_path%>">Privacidade</a></li>
</ul>

<%= markdown_content(:faq) do %>

<div id="civilized"></div>
<h2><a href="#civilized">Este é um Lugar Civilizado para Discussão Pública</a></h2>
<p>
  Por favor trate este fórum de discussão com o mesmo respeito que você trataria um parque público. Nós, também, somos um recurso comunitário compartilhado - um lugar para compartilhar talentos, conhecimento e interesses através de contínua conversação.
</p>
<div class="more">
  <p>
    Estas não são regras curtas e grossas; apenas ajudam na avaliação humana da nossa comunidade. Use estas diretrizes para manter um lugar limpo e bem iluminado para discussões públicas civilizadas.
  </p>
</div>

<div id="improve"></div>
<h2><a href="#improve">Melhore a Discussão</a></h2>
<p>
  Ajude-nos a fazer daqui um ótimo lugar para discussões agindo sempre no sentido de melhorar a discussão de alguma maneira, por menor que seja. Se você não tiver certeza se o seu post contribui para a discussão ou diminui a sua utilidade, pense bem sobre o que você quer dizer e tente novamente mais tarde.
</p>
<div class="more">
  <p>
  Os tópicos discutidos aqui são importantes para nós, e nós queremos que você aja como se eles fossem importantes para você, também. Seja respeitoso com os assuntos e as pessoas discutindo-os, mesmo que você discorde com algo que esteja sendo dito.
  </p>
  <p>
  Uma maneira de melhorar a discussão é descobrindo aquelas que já estão em andamento. Faça a gentileza de dispender algum tempo lendo e navegando pelos tópicos já existentes antes de responder ou começar o seu próprio tópico, e você certamente terá uma chance melhor de encontrar outros que compartilham dos seus interesses.
  </p>
</div>

<div id="agreeable"></div>
<h2><a href="#agreeable">Seja Agradável, Mesmo Quando Você Discorda</a></h2>
<p>
  Você pode querer responder a algo discordando com aquilo. Tudo bem. Mas, lembre-se de <em>criticar ideias, não pessoas</em>.
  Por favor evite:
  <ul>
    <li>Xingamentos.</li>
    <li>Ataques pessoais.</li>
    <li>Responder ao tom de um post ao invés de seu conteúdo de fato.</li>
    <li>Contradizer instintivamente.</li>
  </ul>
<div class="more">
  <p>
  Ao invés disso, seja bem disposto e providencie contra-argumentos que melhorem a conversação.
  </p>
</div>

<div id="participate"></div>
<h2><a href="#participate">A Sua Participação Conta</a></h2>
<p>
  As conversações que temos aqui regem o tom para todos. Ajude-nos a influenciar o futuro desta comunidade escolhendo engajar-se em discussões que façam deste fórum um lugar interessante para se estar - e evitando aquelas que não façam.
</p>
<div class="more">
  <p>
  Este fórum disponibiliza ferramentas que viabilizam à comunidade identificar coletivamente as melhores (e piores) contribuições: favoritos, marcadores, curtidas, respostas, edições, e assim por diante. Use essas ferramentas para melhorar a sua própria experiência, assim como a de todos os outros.
  </p>
  <p>
  Vamos tentar deixar o nosso parque melhor do que quando o encontramos.
  </p>
</div>

<div id="flag-problems"></div>
<h2><a href="#flag-problems">Se Você Vir um Problema, Sinalize-o</a></h2>
<p>
  Moderadores têm autoridade especial; eles são responsáveis por este fórum. Mas você também é. Com a sua ajuda, os moderadores podem ser facilitadores para a comunidade, e não apenas zeladores ou policiais.
</p>
<div class="more">
  <p>
  Quando você vir um mau comportamento, não responda. Isso encoraja o mau comportamento por lhe dar atenção, consome a sua energia, e faz com que todos percam tempo. <i>Apenas sinalize.</i> Se várias sinalizações acumularem, providências serão tomadas, seja automaticamente ou por intervenção de um moderador.
  </p>
  <p>
  A fim de manter a nossa comunidade, os moderadores têm o direito reservado de remover qualquer conteúdo e qualquer conta de usuário por qualquer motivo e a qualquer momento. Os moderadores não visualização novos posts antecipadamente de maneira alguma; os moderadores e operadores do site não têm nenhuma responsabilidade por nenhum conteúdo publicado pela comunidade.
  </p>
</div>

<div id="be-civil"></div>
<h2><a href="#be-civil">Seja Sempre Civilizado</a></h2>
<p>
  Nada sabota uma conversa saudável como uma grosseria:
  <ul>
    <li>Seja civilizado. Não publique nada que uma pessoa sensata possa considerar ofensivo, abusivo, ou odioso.</li>
    <li>Mantenha a limpeza. Não publique nada obsceno ou sexualmente explícito.</li>
    <li>Respeite cada um. Não perturbe ou ataque ninguém,
      não finja ser outra pessoa, e nunca exponha informações privadas.</li>
    <li>Respeite o nosso fórum. Não publique spam e de nenhuma outra maneira vandalize o fórum.</li>
  </ul>
</p>
<div class="more">
  <p>
  Estes não são termos concretos com definições precisas &mdash; evite
    até mesmo a <i>aparência</i> de qualquer uma dessas coisas. Se você está em dúvida, pergunte a si mesmo como você se sentiria se a sua publicação aparecesse na primeira página do New York Times.
  </p>
  <p>
  Este é um fórum público, e os sistemas de busca registram estas discussões. Mantenha a linguagem, link, e imagens seguros para família e amigos.
  </p>
</div>

<div id="keep-tidy"></div>
<h2><a href="#keep-tidy">Mantenha Arrumado</a></h2>
<p>
  Faça o esforço de colocar as coisas nos lugares certos, de modo que possamos usar mais tempo debatendo e menos tempo fazendo arrumação. Portanto:
  <ul>
    <li>Não abra um tópico numa categoria errada.</li>
    <li>Não publique a mesma coisa em múltiplos tópicos.</li>
    <li>Não envie respostas sem conteúdo.</li>
    <li>Não desvie um tópico, alterando-o no meio do caminho.</li>
    <li>Não assine os seus posts &mdash; cada post tem informações do seu perfil anexadas a ele.</li>
  </ul>
</p>
<div class="more">
  <p>
  Ao invés de postar “+1” ou “Concordo”, use o botão Curtir. Ao invés de levar um tópico existente numa direção completamente diferente, use Responder num Novo Tópico.
  </p>
</div>

<div id="stealing"></div>
<h2><a href="#stealing">Publique Apenas Suas Próprias Coisas</a></h2>
<p>
  Você não deve publicar qualquer coisa digital que pertença a outra pessoa sem permissão. Você não deve publicar descrições de, ou links para, ou métodos de como se apropriar da propriedade intelectual de outrem (software, vídeo, áudio, imagens), ou de como infringir qualquer outra lei.
</p>
<div class="more">
</div>

<div id="tos"></div>
<h2><a href="tos">Termos de Serviço</a></h2>
<p>
  Sim, linguagem técnica jurídica é entediante, mas nós temos que nos proteger &ndash; e de acréscimo, a você e seus dados &ndash; contra pessoas hostis. Nós temos os <a href="<%=tos_path%>">Termos de Serviço</a> descrevendo o seu (e o nosso) comportamento e direitos relacionados ao conteúdo, privacidade, e leis. Para utilizar este serviço, você precisa concordar em cumprir os nossos <a href="<%=tos_path%>">Termos</a>
</p>
<div class="more">
</div>

<% end %>
