<ul class="nav-pills">
  <li><a class="active" href="<%=faq_path%>">자주하는 질문</a></li>
  <li><a href="<%=tos_path%>">서비스 이용약관</a></li>
  <li><a href="<%=privacy_path%>">개인정보 취급방침</a></li>
</ul>

<%= markdown_content(:faq) do %>

<div id="civilized"></div>
<h2><a href="#civilized">이곳은 예의를 지켜가며 공개적인 토론을 하는 곳입니다</a></h2>
<p>
  공공장소에서 예의를 지키듯이 이 포럼에서도 예의를 지켜주세요. 이 포럼도 대화를 통해 여러분의 기술, 지식, 관심사를 공유하는 공공장소입니다.
</p>
<div class="more">
  <p>
    이 가이드라인은 반드시 지켜야만 하는 엄격한 규칙은 아닙니다. 여러분의 판단을 돕기 위해서 그리고 이곳을 깨끗하고 밝은, 교양이 넘치는 토론장으로 유지하기 위해서 존재합니다.
  </p>
</div>

<div id="improve"></div>
<h2><a href="#improve">토론을 개선해 주세요</a></h2>
<p>
  항상 토론을 개선하는 방향으로 노력해 주시면 멋진 토론장을 만드는 데 큰 도움이 됩니다. 만약 이 토론에 도움이 될까 아니면 해가 될까 고민되신다면 한 번 더 생각하시고 나중에 대화에 참여하시는 것도 좋은 방법입니다.
</p>
<div class="more">
  <p>
    우리는 이곳에서 토론되는 토픽들을 정말 소중하게 생각합니다. 여러분들도 똑같이 소중하게 생각해 주시면 좋겠습니다. 다른 사용자들의 의견이 당신과 다를 때에도 그들의 의견을 존중해 주세요.
  </p>
  <p>
  현재 진행 중인 토론을 미리 살펴보시는 보시는 것이 토론을 개선하는 데 많은 도움이 됩니다. 새 토픽을 작성하시거나 기존 토픽에 댓글을 달기 전에 여러 토픽을 꼼꼼히 읽어 보신다면 여러분과 관심사를 공유하는 다른 좋은 분들을 만날 기회가 더 많이 생길 것입니다.
  </p>
</div>

<div id="agreeable"></div>
<h2><a href="#agreeable">동의하지 않는 경우에도 기분 좋게 의견을 제시해 주세요.</a></h2>
<p>
  당연히 동의하지 않는다는 의견을 제기하고 싶을 때도 있을 것입니다. 그럴 때에는 아이디어를 비판하시고 사람을 비판하지는 말아주세요.
  아래와 같은 행위는 자제해 주세요.
  <ul>
    <li>무례하게 이름을 부르는 행위</li>
    <li>인신공격성의 행위</li>
    <li>내용이 아니라 말투에 대해 반응하는 행위</li>
    <li>반사적으로 트집 잡는 행위</li>
  </ul>
<div class="more">
  <p>
    위와 같은 행위 대신에 대화를 개선할 수 있도록 합리적인 반론을 제기해주세요.
  </p>
</div>

<div id="participate"></div>
<h2><a href="#participate">여러분의 참여가 중요합니다</a></h2>
<p>
  여기에서 이루어지는 대화는 참여하는 모든 이들에게 영향을 줍니다. 이 포럼을 더 흥미로운 대화의 장으로 만드는 데 도움이 될만한 토론을 골라서 참여하시면 이 커뮤니티가 더욱 발전할 수 있습니다. 그렇지않은 토론에는 참여하시지 않는 게 좋습니다.
</p>
<div class="more">
  <p>
  이 포럼은 최고의 글(또는 최악의 글)을 판별할 수 있도록 즐겨찾기, 관심토픽, 좋아요, 신고하기, 댓글달기, 편집하기 등의 여러 가지 도구를 제공하고 있습니다.  이러한 도구를 잘 이용하셔서 여러분과 다른 분들이 만족할 수 있는 멋진 토론장으로 만들어주세요.
  </p>
  <p>
  수준이 낮은 토론을 할 것이라면 여기를 떠나 주세요.
  </p>
</div>

<div id="flag-problems"></div>
<h2><a href="#flag-problems">문제를 발견하면 신고해주세요</a></h2>
<p>
  운영자들은 특별한 권한을 가지고 있습니다. 그들은 이 포럼을 책임지고 있습니다. 여러분도 그런 책임을 지고 있습니다. 여러분의 도움이 있어야 운영자들이 청소부나 경찰과 같은 역할이 아니라 커뮤니티를 활성화하는 조력자의 역할을 제대로 할 수 있습니다.
</p>
<div class="more">
  <p>
  나쁜 행동을 발견한다고 해서 댓글로 반응할 필요가 없습니다. 댓글을 달게 되면 그 나쁜 행동을 부추길 뿐이고 결국 여러분의 에너지만 소비시키고 다른 이들의 시간만 낭비하게 됩니다. <i>그냥 신고하세요</i>. 신고가 쌓이게 되면, 자동으로든 운영자에 의해서든 적절한 조치가 취해집니다.
  </p>
  <p>
  우리 커뮤니티를 유지하기 위해서, 운영자들은 언제 어떤 이유에서건 어떤 콘텐츠건 어떤 사용자 계정이건 간에 삭제할 권리를 가지고 있습니다. 운영자라고 하여 새로운 게시글을 남보다 먼저 볼 방법은 없습니다. 운영자나 사이트 관리자는 이 커뮤니티에 올려진 어떤 콘텐츠에 대해서도 책임을 지지 않습니다.
  </p>
</div>

<div id="be-civil"></div>
<h2><a href="#be-civil">항상 예의를 지켜주세요</a></h2>
<p>
  건전한 대화를 방해하는 가장 큰 적은 무례함입니다.
  <ul>
    <li>예의를 지켜주세요. 사리를 아는 일반 사람 기준에서 공격적이거나, 모욕적이거나, 편파적인 내용으로 생각될 수 있는 내용은 올리지 마세요.</li>
    <li>깨끗하게 유지해 주세요. 외설적이거나 성적인 내용은 올리지 마세요.</li>
    <li>서로서로 존중해 주세요. 다른 사람을 괴롭히거나 곤란하게 만들거나 사칭하지 마세요
        또한, 다른 사람의 사생활을 노출하지 마세요.</li>
    <li>우리의 포럼을 존중해주세요. 스팸이나 상업적인 글은 올리지 마세요.</li>
  </ul>
</p>
<div class="more">
  <p>
  이 가이드라인은 정확하게 정의된 사용조건을 얘기하고 있지는 않습니다.
  오히려 일부러 그런 표현들을 자제했습니다. 아직도 불확실하시면, 여러분이 여기에 작성한 글이 뉴욕타임스 첫 페이지에 실린다면 어떻게 느끼실지를 생각해 보세요.
  </p>
  <p>
  이곳은 공개된 포럼입니다. 검색엔진이 여기에 실린 토론 내용을 긁어 갑니다.  가족이나 친구들이 볼 수도 있으니 사용하시는 언어나 링크, 이미지등에 주의를 기울여 주세요.
  </p>
</div>

<div id="keep-tidy"></div>
<h2><a href="#keep-tidy">정리정돈을 잘 해주세요.</a></h2>
<p>
  글을 적절한 곳에 올려주세요. 그래야 우리가 잘못된 것 고치는 데 시간을 낭비하지 않고 토론을 활성화하는 데 더 많은 시간을 쓸 수 있습니다.
  <ul>
    <li>잘못된 카테고리에 토픽을 작성하지 마세요.</li>
    <li>여러 토픽에 같은 내용의 글을 반복해서 올리지 말아 주세요. </li>
    <li>내용이 없는 댓글을 올리지 말아 주세요.</li>
    <li>토론 내용을 중간에 다른 방향으로 틀지 말아 주세요.</li>
    <li>글에 여러분이 누군지 밝히실 필요가 없습니다. 글마다 자동으로 글쓴이의 프로필 정보가 따라 붙습니다.</li>
  </ul>
</p>
<div class="more">
  <p>
  "+1", "동의함"등의 글을 올리시는 것 대신에 "좋아요" 버튼을 사용해 주세요. 기존의 토픽을 전혀 다른 방향으로 흘러가도록 중간에 방향을 틀지 마시고, "새로운 토픽으로 댓글달기" 기능을 활용해 주세요.
  </p>
</div>

<div id="stealing"></div>
<h2><a href="#stealing">여러분 자신이 직접 작성한 내용만 올려주세요.</a></h2>
<p>
  다른 사람이 소유한 디지털 자산을 허락 없이 올리실 수 없습니다. 다른 사람의 지적 재산권(소프트웨어, 비디오, 오디오, 이미지 등)을 침해하는 설명이나 링크 혹은 침해 방법, 위법한 내용 등을 올리실 수 없습니다.
</p>
<div class="more">
</div>

<div id="tos"></div>
<h2><a href="#tos">서비스 이용약관</a></h2>
<p>
  맞습니다. 법률용어는 난해하고 지루합니다. 하지만 우리는 우리 자신, 혹은 더 나아가서 여러분과 여러분의 데이터를 나쁜 사람들로부터 보호해야만 합니다. 그래서 서비스 이용약관이 따로 있습니다. <a href="<%=tos_path%>">서비스 이용약관</a>에서는 콘텐츠, 개인정보보호, 법률 등과 관련된 여러분과 우리의 역할과 권리에 대해 자세히 기술하고 있습니다. 이 서비스를 사용하시려면, 여러분은 우리의 <a href="<%=tos_path%>">이용약관</a>에 동의하시고 따라주셔야 합니다.
</p>
<div class="more">
</div>

<% end %>
