<ul class="nav-pills">
  <li><a class="active" href="<%=faq_path%>">FAQ</a></li>
  <li><a href="<%=tos_path%>">Conditions générales d'utilisation</a></li>
  <li><a href="<%=privacy_path%>">Protection des données</a></li>
</ul>

<%= markdown_content(:faq) do %>

<div id="civilized"></div>
<h2><a href="#civilized">C'est une endroit civilisé pour un discussion publique</a></h2>
<p>Merci de traiter ce forum de discussion avec le même respect que vous pourriez avoir dans un parc public. Nous, aussi, sommes une ressource partagé par la communauté — un endroit pour partager des compétences, savoir et intérêts au travers de conversation.</p>
<div class="more">
  <p>Il ne s'agit pas de règles absolues, uniquement des aides au bon sens de notre communauté. Suivez ces instructions pour garder cet endroit propre et bien éclairé pour le débat public civilisé.</p>
</div>

<div id="improve"></div>
<h2><a href="#improve">Améliorer la discussion</a></h2>
<p>Aidez nous à faire de cette endroit un endroit idéal pour la discussion en améliorant constamment le débat d'une certaine façon, même minime. Si vous n'êtes pas sûr que votre message soit utile à la discussion ou pourrait nuire à son utilité, pensez à ce que vous voulez dire et essayer de nouveau plus tard.</p>
<div class="more">
  <p>Les sujets abordés ici sont importantes pour nous, et nous voulons que vous agissez comme si ils comptent pour vous, aussi. Soyez respectueux des sujets et des gens d'en discuter, même si vous êtes en désaccord avec une partie de ce qui est dit.</p>
  <p>Une façon d'améliorer la discussion est de découvrir celles qui sont déjà en cours. S'il vous plaît passer un peu de temps à parcourir les sujets ici avant de répondre ou démarrer votre propre discussion, et vous aurez une meilleure chance de rencontrer d'autres personnes qui partagent vos intérêts.</p>
</div>

<div id="agreeable"></div>
<h2><a href="#agreeable">Être agréable, même si vous n'êtes pas d'accord</a></h2>
<p>Vous pouvez répondre à quelque chose en étant en désaccord avec elle. C'est très bien. Mais, n'oubliez pas de critiquer <em> les idées, pas les gens &lt;/ em&gt;. 
S'il vous plaît éviter:</em></p>
<ul>
<li>Injures.</li>
    <li>Attaques ad hominem.</li>
    <li>Répondre à la tonalité d'un poste plutôt qu'à son contenu réel.</li>
    <li>Contradiction réflexe.</li>
  </ul>
<div class="more">
  <p>Au lieu de cela, fournir des contre-arguments motivés qui améliorent la conversation.</p>
</div>

<div id="participate"></div>
<h2><a href="#participate">Votre participation compte</a></h2>
<p>Les conversations que nous avons ici donnent le ton pour tout le monde. Aidez-nous à influencer l'avenir de cette communauté en choisissant de s'engager dans des discussions qui font de ce forum un lieu intéressant - et en évitant celles qui n'en ont pas.</p>
<div class="more">
  <p>Discourse fournit des outils qui permettent à la communauté d'identifier collectivement le meilleur (et le pire) des contributions: favoris, signets, des goûts, des signalements, des réponses, des vérifications, et ainsi de suite. Utilisez ces outils pour améliorer votre propre expérience, et celle de tous les autres aussi.</p>
  <p>Essayons de laisser notre parc mieux que nous l'avons trouvé.</p>
</div>

<div id="flag-problems"></div>
<h2><a href="#flag-problems">Si vous voyez un problème, Signaler le&lt;/ a&gt;</a></h2>
<p>
Modérateurs ont une rôle spécial; ils sont responsables de ce forum. Mais si vous aussi. Avec votre aide, les modérateurs peuvent être des facilitateurs de la communauté, et pas seulement les concierges ou les policiers.</p>
<div class="more">
  <p>Quand vous voyez un mauvais comportement, ne répondez pas. Votre reconnaissance encourage le mauvais comportement, il consomme votre énergie et fait perdre du temps à chacun. <i>signalez le&lt;/ i&gt;. Si suffisamment de signalements s'accumulent, des mesures seront prises, automatiquement ou par l'intervention d'un modérateur.</i></p>
  <p>Afin de maintenir notre communauté, les modérateurs se réservent le droit de supprimer tout contenu et n'importe quel compte d'utilisateur pour une raison quelconque, et ce à n'importe quel moment. Les modérateurs ne disposent pas d'un aperçu de nouveaux messages avant leur publication, les modérateurs et opérateurs du site n'assument aucune responsabilité pour tout contenu affiché par la communauté.</p>
</div>

<div id="be-civil"></div>
<h2><a href="#be-civil">Soyez toujours Civilisé</a></h2>
<p>Rien ne sabote une conversation saine mieux que la grossièreté:</p>
<ul>
<li>Soyez civilisé. Ne postez pas ce qu'une personne raisonnable jugerait offensive, discours violent ou haineux.</li>
    <li>Gardez-le forum propre. Ne publiez rien obscène ou sexuellement explicite.</li>
    <li>Se respecter mutuellement. Ne pas harceler ou chagriner quelqu'un,
usurper l'identité ou exposer leurs informations privées de quelqu'un.</li>
    <li>Respecter notre forum. Ne postez pas de spam ou tout autre forme de vandalisme sur le forum.</li>
  </ul>
<div class="more">
  <p>Ceux-ci ne sont pas des clauses concrètes avec des définitions précises - éviter ⏎
même de prendre <i>l'apparence &lt;/ i&gt; de l'une de ces choses. Si vous n'êtes pas sûr, demandez-vous comment vous vous sentiriez si votre poste était sélectionnée sur la première page du New York Times.</i></p>
  <p>Il s'agit d'un forum public, et les moteurs de recherche indexent ces discussions. Utilisez un langage, des liens et des images sans danger pour votre famille et vos amis.</p>
</div>

<div id="keep-tidy"></div>
<h2><a href="#keep-tidy">Le garder propre</a></h2>
<p>Faites l'effort de mettre les choses au bon endroit, afin que nous puissions passer plus de temps à discuter et moins à nettoyer. Ainsi :</p>
<ul>
<li>Ne commencer pas un sujet dans la mauvaise catégorie.</li>
    <li>Ne posez pas la même chose dans plusieurs discussions</li>
    <li>Ne postez pas de contenu sans réponse.</li>
    <li>Ne pas détourner un sujet en le changeant en cours de route.</li>
    <li>Ne signez vos messages - chaque poste dispose d'informations sur le profil qui s'y rattachent.</li>
  </ul>
<div class="more">
  <p>Plutôt que de poster "+1" ou "d'accord", utilisez le bouton 'J'aime'. Plutôt que de prendre une discussion existante dans une direction radicalement différente, utilisez Répondre comme un nouvelle discussion.</p>
</div>

<div id="stealing"></div>
<h2><a href="#stealing">Poster seulement vos propres trucs</a></h2>
<p>Vous ne pouvez pas poster n'importe quel contenu numérique s'il appartient à quelqu'un d'autre sans son autorisation. Vous ne pouvez pas poster des descriptions, des liens ou des méthodes pour voler la propriété intellectuelle de quelqu'un (logiciels, vidéo, audio, images), ou pour transgresser toute autre loi.</p>
<div class="more">
</div>

<div id="tos"></div>
<h2><a href="tos">Conditions générales d'utilisation</a></h2>
<p>Oui, le jargon juridique est ennuyeux, mais nous devons nous protéger - et par extension, vous et vos données - contre des gens hostiles. Nous avons des<a href="<%=tos_path%>">Conditions générales d'utilisation</a> décrivant votre (et notre) comportement et les droits liés au contenu, la confidentialité et les lois. Pour utiliser ce service, vous devez accepter de respecter nos<a href="<%=tos_path%>">CGU</a></p>
<div class="more">
</div>

<% end %>
