<ul class="nav-pills">
  <li><a class="active" href="<%=faq_path%>">FAQ</a></li>
  <li><a href="<%=tos_path%>">Podmínky používání</a></li>
  <li><a href="<%=privacy_path%>">Ochrana soukromí</a></li>
</ul>

<%= markdown_content(:faq) do %>

<div id="civilized"></div>
<h2><a href="#civilized">Toto je 'Civilizované místo pro veřejnou diskuzi'</a></h2>
<p>
  Prosíme chovejte se na tomto fóru se stejným respektem jako byste byli ve veřejném parku. Toto fórum je také věc, kterou sdíleně užívá komunita. Je to místo pro sdílení schopností, znalostí a zájmů skrze probíhající konverzace.
</p>
<div class="more">
  <p>
    Toto nejsou striktní a přesná pravidla, ale pouze snaha o zachování lidského rozumu v naší komunitě. Používejte tyto návody, aby zdejší fórum zůstalo čistým a pěkným místem pro civilizovanou veřejnou diskuzi.
  </p>
</div>

<div id="improve"></div>
<h2><a href="#improve">Zlepšujte diskuzi</a></h2>
<p>
  Pomozte nám z tohoto fóra vytvořit skvělé místo pro diskuzi tím, že se budete snažit diskuzi vždy vylepšit, i třeba jen malým dílem. Pokud si nejste jisti, že váš příspěvek přidává diskuzi na hodnotě nebo že byl nemusel být užitečný, zamyslete se znovu, co chcete říct a zkuste to později znovu.
</p>
<div class="more">
  <p>
    Témata, která se zde diskutují, jsou pro nás důležitá a chceme, abyste se chovali tak, jako by byla důležitá i pro vás. Respektujte témata a lidi, které o nich diskutují, i v případě, že nesouhlasí s tím, co někdo říká.
  </p>
  <p>
    Jeden ze způsobů, jak vylepšit diskuzi, je objevování již existujících. Prosím věnujte svůj čas procházení témat, která zde již existují, než se rozhodnete založit nové téma. Tím budete mít větší šanci potkat se s lidmi, kteří mají stejné zájmy.
  </p>
</div>

<div id="agreeable"></div>
<h2><a href="#agreeable">Buďte milí, i když nesouhlasíte</a></h2>
<p>
  Můžete chtít odpovídat na něčo, s čím nesouhlasíte. A je to v pořádku. Pamatujte však, že byste měli <em>kritizovat myšlenky a ne lidi</em>.
  Prosím vyvarujte se:
<ul>
  <li>Nadávkám.</li>
  <li>Osobním útokům.</li>
  <li>Vyjadřování vůči tónu příspěvky namísto jeho skutečného obsahu.</li>
  <li>Tvrdohlavému oponování.</li>
</ul>
<div class="more">
  <p>
    Místo toho se snažte poskytnout rozumné protiargumenty, které vždy vylepší probíhající konverzaci.
  </p>
</div>

<div id="participate"></div>
<h2><a href="#participate">Vaše účast nás zajímá</a></h2>
<p>
  Konverzace, které zde probíhají, jsou pro všechny. Pomozte nám ovlivnit budoucnost této komunity tím, že se zapojíte do diskuzí, které dělají toto místo zajímavým &mdash; a vyhněte se diskuzím, které jsou pro komunitu nevhodné.
</p>
<div class="more">
  <p>
    Systém Discourse nabízí nástroje, kterými může komunita společně určit příspěvky, které jsou vynikající (a nebo naopak velmi špatné): oblíbená témata, záložky, 'líbí se', hlášení závadných příspěvků, odpovědi, editace, atd. Používejte tyto nástroje pro zlepšení svého vlastního zážitku z tohoto fóra, a tím zároveň zlepšíte i zážitek ostatním.
  </p>
  <p>
    Snažme se opustit náš veřejný park v lepším stavu, než v jakém jsme ho našli.
  </p>
</div>

<div id="flag-problems"></div>
<h2><a href="#flag-problems">Pokud najdete problém, nahlašte ho</a></h2>
<p>
  Moderátoři mají speciál autoritu; jsou zodpovědní za toto fórum. Ale stejně tak i vy. S vaší pomocí mohou moderátoři fungovat jako pomocníci komunity, ne jenom jako údržbáři nebo policie.
</p>
<div class="more">
  <p>
    Pokud vidíte nevhodné chování, neodpovídejte. Jednak tím budete toto chování podporovat, jednak tím plýtváte svojí energií a časem všech účastníků. <i>Jednoduše to nahlašte</i>. Pokud se sejde dostatečné množství hlášení, postaráme se o nápravu, ať už automaticky nebo moderátorským zásahem.
  </p>
  <p>
    V zájmu zachování komunity si moderátoři vyhrazují právo odstranit jakýkoliv obsah nebo uživatelský účet kdykoliv a bez udání důvodu. Moderátoři nesledují nové příspěvky žádným způsobem; moderátoři a provozovalé webu nemají žádnou zodpovědnost za žádný obsah zaslaný komunitou.
  </p>
</div>

<div id="be-civil"></div>
<h2><a href="#be-civil">Vždy buďte civilizovaní</a></h2>
<p>
  Nic nezničí fungující debatu tak jako nezdvořilost:
<ul>
  <li>Buďte civilizovaní. Nezasílejte nic, co by rozumný člověk považoval za urážlivé, hanlivé nebo nenávistné.</li>
  <li>Udržujte čistotu. Nezasílejte nic obscéního, pornografického nebo jinak sexuálně explicitního.</li>
  <li>Respektujte jeden druhého. Nenavážejte se do nikoho, nepomlouvejte,
    nevydávejte se za jiné a nezveřejňute soukromé informace ostatních.</li>
  <li>Respektujte toto fórum. Nezasílejte spam ani nevandalizujte fórum žádným jiným způsobem.</li>
</ul>
</p>
<div class="more">
  <p>
    Toto nejsou přesná pravidla s precizními definicemi &mdash; vyvarujte se
    těchto věcí *v jakékoliv podobě*. Pokud si nejste jistí, zeptejte se sami sebe, jak byste se cítili, kdyby váš příspěvek byl publikován na první straně New York Times.
  </p>
  <p>
    Fórum je veřejné a vyhledávače indexují obsah zde přítomných diskuzí. Používejte jazyk, odkazy a obrázky tak, aby byl obsah bezpečný pro vaši rodinu a přátele.
  </p>
</div>

<div id="keep-tidy"></div>
<h2><a href="#keep-tidy">Udržujte pořádek</a></h2>
<p>
  Dejte si práci a dávejte věci na správná místa, abychom mohli strávit více času diskuzování a méně času uklízením. Čili:
<ul>
  <li>Nezakládejte téma v nesprávné kategorii.</li>
  <li>Nezasílejte stejnou věc do více témat.</li>
  <li>Nezasílejte odpovědi bez skutečného obsahu</li>
  <li>Neodklánějte hlavní téma diskuze.</li>
  <li>Nepodepisujte své příspěvky &mdash; každý příspěvek již má připojeny informace o vašem profilu.</li>
</ul>
</p>
<div class="more">
  <p>
    Neposílejte příspěvky typu '+1' nebo 'souhlasím', místo toho použijte tlačítko 'To se mi líbí'. Pokud chcete výrazněji změnit téma již existující diskuze, použijte tlačítko 'Odpovědět jako nové téma'.
  </p>
</div>

<div id="stealing"></div>
<h2><a href="#stealing">Zasílejte pouze svůj vlastní obsah</a></h2>
<p>
  Nesmíte zasílat žádný digitální obsah, který patří někomu jinému, bez jeho svolení. Nesmíte zasílat návody, popisy, odkazy nebo metody, jak ukrást cizí duševní vlastnictví (ať už se jedná o software, video, audio nebo obrázky), nebo jak porušovat libovolný jiný zákon.
</p>
<div class="more">
</div>

<div id="tos"></div>
<h2><a href="tos">Podmínky používání</a></h2>
<p>
  Ano, právničina je nudná, ale musíme se sami právně chránit &ndash; a také vás a vaše data &ndash; proti nepřátelským právníckám fíglům. Máme svoje <a href="<%=tos_path%>">Podmínky používání</a> popisující vaše (a naše) chování a práva ve vztahu k obsahu, soukromí a zákonům. Pokud chcete používat toto fórum, musíte souhlasit s tím, že budete dodržovat <a href="<%=tos_path%>">tyto podmínky</a>.
</p>
<div class="more">
</div>

<% end %>