<ul class="nav-pills">
  <li><a class="active" href="<%=faq_path%>">FAQ</a></li>
  <li><a href="<%=tos_path%>">Terms of Service</a></li>
  <li><a href="<%=privacy_path%>">Privacy</a></li>
</ul>

<%= markdown_content(:faq) do %>

<div id="civilized"></div>
<h2><a href="#civilized">This is a Civilized Place for Public Discussion</a></h2>
<p>
  Please treat this discussion forum with the same respect you would a public park.  We, too, are a shared community resource &mdash; a place to share skills, knowledge and interests through ongoing conversation.
</p>
<div class="more">
  <p>
    These are not hard and fast rules, merely aids to the human judgment of our community. Use these guidelines to keep this a clean, well-lighted place for civilized public discourse.
  </p>
</div>

<div id="improve"></div>
<h2><a href="#improve">Improve the Discussion</a></h2>
<p>
  Help us make this a great place for discussion by always working to improve the discussion in some way, however small. If you are not sure your post adds to the discussion or might detract from its usefulness, think over what you want to say and try again later.
</p>
<div class="more">
  <p>
  The topics discussed here matter to us, and we want you to act as if they matter to you, too. Be respectful of the topics and the people discussing them, even if you disagree with some of what is being said.
  </p>
  <p>
  One way to improve the discussion is by discovering ones that are already happening. Please spend some time browsing the topics here before replying or starting your own, and you’ll have a better chance of meeting others who share your interests.
  </p>
</div>

<div id="agreeable"></div>
<h2><a href="#agreeable">Be Agreeable, Even When You Disagree</a></h2>
<p>
  You may wish to respond to something by disagreeing with it. That’s fine. But, remember to <em>criticize ideas, not people</em>.
  Please avoid:
  <ul>
    <li>Name-calling.</li>
    <li>Ad hominem attacks.</li>
    <li>Responding to a post’s tone instead of its actual content.</li>
    <li>Knee-jerk contradiction.</li>
  </ul>
<div class="more">
  <p>
  Instead, provide reasoned counter-arguments that improve the conversation.
  </p>
</div>

<div id="participate"></div>
<h2><a href="#participate">Your Participation Counts</a></h2>
<p>
  The conversations we have here set the tone for everyone. Help us influence the future of this community by choosing to engage in discussions that make this forum an interesting place to be &mdash; and avoiding those that do not.
</p>
<div class="more">
  <p>
  Discourse provides tools that enable the community to collectively identify the best (and worst) contributions: favorites, bookmarks, likes, flags, replies, edits, and so forth. Use these tools to improve your own experience, and everyone else’s, too.
  </p>
  <p>
  Let’s try to leave our park better than we found it.
  </p>
</div>

<div id="flag-problems"></div>
<h2><a href="#flag-problems">If You See a Problem, Flag It</a></h2>
<p>
  Moderators have special authority; they are responsible for this forum. But so are you. With your help, moderators can be community facilitators, not just janitors or police.
</p>
<div class="more">
  <p>
  When you see bad behavior, don’t reply. It encourages the bad behavior by acknowledging it, consumes your energy, and wastes everyone’s time. <i>Just flag it</i>. If enough flags accrue, action will be taken, either automatically or by moderator intervention.
  </p>
  <p>
  In order to maintain our community, moderators reserve the right to remove any content and any user account for any reason at any time. Moderators do not preview new posts in any way; the moderators and site operators take no responsibility for any content posted by the community.
  </p>
</div>

<div id="be-civil"></div>
<h2><a href="#be-civil">Always Be Civil</a></h2>
<p>
  Nothing sabotages a healthy conversation like rudeness:
  <ul>
    <li>Be civil. Don’t post anything that a reasonable person would consider offensive, abusive, or hate speech.</li>
    <li>Keep it clean. Don’t post anything obscene or sexually explicit.</li>
    <li>Respect each other. Don’t harass or grief anyone,
      impersonate people, or expose their private information.</li>
    <li>Respect our forum. Don’t post spam or otherwise vandalize the forum.</li>
  </ul>
</p>
<div class="more">
  <p>
  These are not concrete terms with precise definitions &mdash; avoid
    even the <i>appearance</i> of any of these things. If you’re unsure, ask yourself how you would feel if your post was featured on the front page of the New York Times.
  </p>
  <p>
  This is a public forum, and search engines index these discussions. Keep the language, links, and images safe for family and friends.
  </p>
</div>

<div id="keep-tidy"></div>
<h2><a href="#keep-tidy">Keep It Tidy</a></h2>
<p>
  Make the effort to put things in the right place, so that we can spend more time discussing and less cleaning up. So:
  <ul>
    <li>Don’t start a topic in the wrong category.</li>
    <li>Don’t cross-post the same thing in multiple topics.</li>
    <li>Don’t post no-content replies.</li>
    <li>Don’t divert a topic by changing it midstream.</li>
    <li>Don’t sign your posts &mdash; every post has your profile information attached to it.</li>
  </ul>
</p>
<div class="more">
  <p>
  Rather than posting “+1” or “Agreed”, use the Like button. Rather than taking an existing topic in a radically different direction, use Reply as a New Topic.
  </p>
</div>

<div id="stealing"></div>
<h2><a href="#stealing">Post Only Your Own Stuff</a></h2>
<p>
  You may not post anything digital that belongs to someone else without permission. You may not post descriptions of, links to, or methods for stealing someone’s intellectual property (software, video, audio, images), or for breaking any other law.
</p>
<div class="more">
</div>

<div id="tos"></div>
<h2><a href="#tos">Terms of Service</a></h2>
<p>
  Yes, legalese is boring, but we must protect ourselves &ndash; and by extension, you and your data &ndash; against unfriendly folks. We have a <a href="<%=tos_path%>">Terms of Service</a> describing your (and our) behavior and rights related to content, privacy, and laws. To use this service, you must agree to abide by our <a href="<%=tos_path%>">TOS</a>.
</p>
<div class="more">
</div>

<% end %>
