<ul class="nav-pills">
  <li><a href="<%=faq_path%>">Часті Питання</a></li>
  <li><a class="active" href="<%=tos_path%>">Умови використання</a></li>
  <li><a href="<%=privacy_path%>">Приватність</a></li>
</ul>

<p>
  Дані умови та настанови регулюють використання сайту <%= SiteSetting.company_domain %> та всіх матеріалів, сервісів і продуктів, що безпосередньо або опосередковано доступні на ньому, в тому числі програмного забезпечення форуму <%= SiteSetting.company_domain %>, форумів технічної підтримки <%= SiteSetting.company_domain %> та хостингу <%= SiteSetting.company_domain %> (надалі &bdquo;сайт&rdquo;). Даний сайт керується і є власністю <%= SiteSetting.company_full_name %> (&bdquo;<%= SiteSetting.company_short_name %>&rdquo;). Відвідуючи даний сайт, Ви погоджуєтеся на всі викладені тут умови та настанови, а також будь-які інші визначені правила, політики (включно із <a href="<%=privacy_path%>">Політикою конфіденційності</a> <%= SiteSetting.company_domain %> та <a href="<%=faq_path%>">Загальними правилами спільноти</a>), а також будь-які додаткові процедури, що <%= SiteSetting.company_short_name %> може час від часу публікувати на сайті (надалі - &bdquo;Договір про використання сайту&rdquo;).
</p>

<p>
  Будь ласка, уважно прочитайте цей Договір перед входом на сайт або його використанням. Відвідуючи даний сайт або використовуючи будь-яку його частину, Ви берете на себе зобов’язання виконувати настанови на умови даного Договору. Якщо Ви не згідні з настановами та умовами даного Договору в повній мірі, Ви не маєте права відвідувати цей сайт та використовувати жоден з його сервісів. Якщо ці умови та настанови <%= SiteSetting.company_short_name %> вважає офертою, її прийняття явно обмежується цими умовами. Цей сайт дозволений для користування лише тим особам, котрим виповнилось 13 років.
</p>

<div id="1"></div>
<h2><a href="#1">1. Ваш обліковий запис на <%= SiteSetting.company_domain %></a></h2>
<p>
  Якщо Ви створюєте обліковий запис на даному сайті, Ви несете відповідальність за його безпеку, а також повну відповідальність за будь-яку діяльність, що здійснюється цим обліковим записом. У випадку несанкційованого доступу третіх сторін до Вашого профілю або виявлення інших прогалин у безпеці сайту Ви повинні негайно повідомити у <%= SiteSetting.company_short_name %>. <%= SiteSetting.company_short_name %> не несе відповідальності за Ваші дії або бездіяльність, в тому числі, у випадку заподіяння шкоди, що мала місце внаслідок Вашої дії або бездіяльності.
</p>

<div id="2"></div>
<h2><a href="#2">2. Відповідальність учасників спільноти</a></h2>
<p>Якщо Ви публікуєте матеріали чи посилання на даному Сайті, або в будь-який інший спосіб робите їх доступними (або надаєте таку можливість третім особам) за допомогою Сайту (всі такі матеріали, надалі - &bdquo;Контент&rdquo;), Ви несете повну відповідальність за вміст та за всю шкоду, що виникла внаслідок таких публікацій.  В дану категорію входять всі види Контенту, незалежно від того, чи це текст, зображення, аудіозапис або комп’ютерна програма. Публікуючи Контент, Ви заявляєте і гарантуєте наступне:
</p>
<ul>
  <li>звантажування, копіювання та використання даного Контенту не порушить майнових прав третіх сторін, в тому числі авторських прав, патентів, торгових марок чи комерційної таємниці;</li>
  <li>якщо Ваш роботодавець має право інтелектуальної власності на результати Вашої праці, то або (i) Ви отримали згоду Вашого роботодавця на публікацію Контенту, в тому числі будь-якого програмного забезпечення, або (ii) публікація даного Контенту застережена відмовою роботодавця пред’являти права на Контент;</li>
  <li>Ви повністю дотримались ліцензійних умов третіх сторін щодо даного Контенту та успішно виконали всі необхідні дії, щоб повноцінно донести всі необхідні умови до кінцевого користувача;</li>
  <li>Контент не містить і не встановлює комп’ютерних вірусів, черв’яків, шкідливих програм, троянських програм або будь-якого іншого шкідливого чи небезпечного програмного забезпечення;</li>
  <li>Контент не є спамом, не є автоматично чи випадково програмно згенерованим, і не містить неетичних чи небажаних комерційних матеріалів, створених спеціально для того, щоб підвищувати відвідуваність ресурсів третіх сторін, підвищувати рейтинг сайтів третіх сторін у пошукових системах, вчиняти будь-які інші незаконні дії в мережі (наприклад, привласнювати чужу особисту інформацію), вводити кінцевих користувачів Контенту в оману щодо джерела даного Контенту;</li>
  <li>Контент не містить порнографії, погроз або закликів до насильства, не порушує приватність чи громадянські права третіх сторін;</li>
  <li>Ваш Контент не рекламується за допомогою небажаних електронних повідомлень, таких як спам щодо груп новин, списків з адресами електронних скриньок, блогів та сайтів третіх сторін і подібних неприпустимих рекламних методів;</li>
  <li>розміщений Вами матеріал не названо таким чином, щоб навмисно ввести в оману кінцевого користувача щодо Вашої особи або компанії, яку Ви представляєте; а також</li>
  <li>у випадку, якщо Ваш Контент містить програмний код, представники  <%= SiteSetting.company_short_name %> залишають за собою право вимагати у Вас систематизувати його за категоріями, описати тип, походження, способи та результати його використання.</li>
</ul>

<div id="3"></div>
<h2><a href="#3">3. Ліцензія користувацького Контенту</a></h2>
<%= markdown_content(:tos_user_content_license) %>

<div id="4"></div>
<h2><a href="#4">4. Умови оплати та підписки</a></h2>
<h3>Загальні умови</h3>
<p>
  На сайті можуть бути доступні додаткові платні послуги та вдосконалення. При використанні додаткової платної послуги чи вдосконалення, Ви погоджуєтесь сплачувати <%= SiteSetting.company_short_name %> щомісячний або щорічний обов’язковий платіж, визначений для користувачів таких платних послуг. Платежі здійснюються на авансовій основі в той день, коли Ви починаєте використовувати такі послуги чи вдосконалення, і забезпечують  користування цими послугам чи вдосконаленнями протягом обраного періоду – місяця або року. Ці кошти не підлягають поверненню.
</p>
<h3>Автоматичне поновлення</h3>
<p>У випадку, якщо Ви не повідомите <%= SiteSetting.company_short_name %> до закінчення періоду підписки про те, що хочете скасувати додаткові платні послуги або вдосконалення, Ваша підписка буде автоматично продовжена, і Ви уповноважите нас стягнути платіж за використання додаткових платних послуг або вдосконалень згідно обраного Вами періоду підписки – місяця або року, використовуючи Вашу кредитну картку або інші платіжні механізми, закріплені за Вами. Підписка може бути скасована у будь- який момент.
</p>

<div id="5"></div>
<h2><a href="#5">5. Послуги</a></h2>
<h3>Хостинг та технічна підтримка</h3>
<p>Додаткові послуги хостингу та технічної підтримки можуть надаватись <%= SiteSetting.company_short_name %> згідно настанов та умов використання, визначених для таких послуг. Реєструючи обліковий запис для хостингу/підтримки або підтримки, Ви погоджуєтесь дотримуватись таких настанов та умов використання.
</p>

<div id="6"></div>
<h2><a href="#6">6. Відповідальність відвідувачів сайту</a></h2>
<p>
  <%= SiteSetting.company_short_name %> не переглядає і не може переглядати весь обсяг розміщених матеріалів, в тому числі комп’ютерних програм, розміщених на сайті, а тому не може нести відповідальності за зміст таких матеріалів, їх використання або наслідки. Той факт, що представники  <%= SiteSetting.company_short_name %> керують роботою сайту, не означає, що вони погоджуються зі всіма матеріалами, що на ньому розміщені, або вважають ці матеріали правдивими, корисними і не шкідливими. Ви несете відповідальність за власну інформаційну безпеку, захист персональної інформації та Вашого комп’ютера від вірусів, черв’яків, троянських програм, будь-якого іншого шкідливого програмного забезпечення. На сайті може розміщуватись Контент, що є образливим, непристойним, або небажаним для перегляду, а також Контент, що містить технічні неточності, орфографічні помилки та інші недоліки. Також на сайті можуть публікуватися матеріали, що порушують приватні або громадянські права, права інтелектуальної власності або інші майнові права третіх сторін, а також звантажування, копіювання чи використання яких регулюється додатковими настановами та умовами використання, оголошеними або неоголшеними. <%= SiteSetting.company_short_name %> не несе відповідальності за будь-які шкідливі наслідки, що виникли внаслідок використання даного сайту користувачами або внаслідок звантаження і використання Контенту, розміщеного на даному сайті.
</p>

<div id="7"></div>
<h2><a href="#7">7. Контент, що розміщений на інших сайтах</a></h2>
<p>Ми не маємо змоги попередньо переглядати і не можемо переглянути весь об’єм матеріалів, в тому числі програмного забезпечення, розміщених на сайтах, на які Ви можете потрапити з <%= SiteSetting.company_domain %>, а також на сайтах, де розміщене посилання на <%= SiteSetting.company_domain %>. <%= SiteSetting.company_short_name %> не контролює сайти та веб-сторінки, що не підпорядковуються <%= SiteSetting.company_domain %>, і не несе відповідальності за матеріали, що там розміщені, а також за результати їх використання. Розміщення посилань на сайти та веб-сторінки, що не підпорядковуються <%= SiteSetting.company_domain %> не означає, що <%= SiteSetting.company_short_name %> схвалює зміст таких сайтів чи веб-сторінок. Ви несете повну відповідальність щодо здійснення всіх необхідних заходів безпеки, щоб гарантувати захист особистої інформації та власного комп’ютера від вірусів, черв’яків, троянських програм, будь-якого іншого шкідливого програмного забезпечення чи Контенту. <%= SiteSetting.company_short_name %> не несе жодної відповідальності за шкоду, що має місце в результаті відвідування сайтів та веб-сторінок, що не підпорядковуються <%= SiteSetting.company_domain %> .
</p>

<div id="8"></div>
<h2><a href="#8">8. Порушення авторського права та Закон про авторське право в цифрову епоху</a></h2>
<p>
  Окрім того, що <%= SiteSetting.company_short_name %> закликає користувачів поважати свої права інтелектуальної власності, <%= SiteSetting.company_short_name %> також поважає аналогічні права інших. Якщо Ви вважаєте, що матеріали або посилання, розміщені на <%= SiteSetting.company_domain %>, порушують Ваше авторське право, і якщо даний сайт розміщений на території США, закликаємо Вас сповістити про це <%= SiteSetting.company_short_name %> згідно з положеннями <a href="http://uk.wikipedia.org/wiki/Digital_Millennium_Copyright_Act">Закону про захист авторського права в цифрову епоху</a> та настановами даного розділу. <%= SiteSetting.company_short_name %> відреагує на всі такі звернення, в тому числі шляхом видалення матеріалів, що порушують авторське право, або відключення посилань, що ведуть до таких матеріалів. <%= SiteSetting.company_short_name %> буде обмежувати доступ відвідувачів до ресурсів сайту, якщо за відповідних обставин такі відвідувачі визнаватимуться систематичними порушниками авторського права або будь-яких інших прав інтелектуальної власності <%= SiteSetting.company_short_name %> або третіх сторін. У випадку такого обмеження <%= SiteSetting.company_short_name %> не визнає жодних зобов’язань щодо повернення попередньо сплачених <%= SiteSetting.company_short_name %> коштів.
</p>

<div id="9"></div>
<h2><a href="#9">9. Інтелектуальна власність</a></h2>
<p>
  Цей Договір не передає Вам жодних інтелектуальних прав власності, що належать <%= SiteSetting.company_short_name %> або третім сторонам, і всі права, власні назви та вигоди від їх використання залишаються (як між сторонами) власністю виключно <%= SiteSetting.company_short_name %>. <%= SiteSetting.company_short_name %>, <%= SiteSetting.company_domain %>, логотип <%= SiteSetting.company_domain %> та всі інші торгові знаки, технічні позначення, графіка та логотипи, що використовуються у зв'язку із <%= SiteSetting.company_domain %> та даним сайтом, є торговими знаками або зареєстрованими торговими знаками <%= SiteSetting.company_short_name %> або ліцензіарів <%= SiteSetting.company_short_name %>. Інші торгові знаки, технічні позначення, графіка та логотипи, використані на даному сайті, можуть бути торговими знаками третіх сторін. Ваше використання даного сайту не дає Вам права відтворювати чи будь-яким іншим чином використовувати жоден із торгових знаків <%=SiteSetting.company_short_name %> або третіх сторін.
</p>

<div id="10"></div>
<h2><a href="#10">10. Реклама</a></h2>
<p><%= SiteSetting.company_short_name %> залишає за собою право розміщувати рекламу поряд із Вашим Контентом, якщо Ви не придбали відключення реклами або відповідний обліковий запис.</p>

<div id="11"></div>
<h2><a href="#11">11. Посилання на джерела</a></h2>
<p><%= SiteSetting.company_short_name %> залишає за собою право відображати посилання на джерела на кшталт &bdquo;Створено за підтримки <%= SiteSetting.company_domain %>&rdquo;, посилання на автора теми, а також інші текстові позначення джерел у Вашому нижньому колонтитулі або бічній панелі. Текстові позначення у нижньому колонтитулі та панель інструментів <%= SiteSetting.company_domain %> не можна приховати навіть після придбання вдосконалень для Вашого облікового запису.</p>

<div id="12"></div>
<h2><a href="#12">12. Зміни</a></h2>
<p>
<%= SiteSetting.company_short_name %> залишає за собою право на власний розсуд змінювати або заміщувати будь-які частини даного Договору. Ви відповідаєте ща те, щоб періодично перевіряти текст Договору на предмет змін. Відвідування та користування даним сайтом після змін в даному Договорі розцінюється як Ваша згода з цими змінами. <%= SiteSetting.company_short_name %> може також у майбутньому пропонувати нові послуги та/або функції на даному сайті (в тому числі, нові інструменти або ресурси). Використання таких функцій або послуг буде підпорядковуватись настановам та умовам даного Договору.
</p>

<div id="13"></div>
<h2><a href="#13">13. Припинення дії Договору</a></h2>
<p>
<%= SiteSetting.company_short_name %> може обмежити Ваш доступ до всіх або до частини ресурсів даного сайту в будь-який час, із зазначенням або без зазначення причини, зі сповіщенням або без нього. Таке обмеження набуває чинності відразу. Якщо Ви хочете припинити дію даного Договору або Вашого облікового запису на <%= SiteSetting.company_domain %> (у разі наявності), Ви можете просто припинити користування даним сайтом. Всі положення даного Договору, що за своєю природою мають залишатись в силі навіть після припинення його дії, залишатимуться в силі, в тому числі, права власності, відмова від гарантій, відшкодування та обмеження відповідальності.
</p>

<div id="14"></div>
<h2><a href="#14">14. Відмова від гарантійних зобов’язань</a></h2>
<p>
Сайт подається відвідувачам у вигляді &bdquo;as is&rdquo;. <%= SiteSetting.company_short_name %>, її партнери та ліцензіари не дають жодних гарантій, явних або неявних, в тому числі, щодо справності, придатності для конкретних цілей і непорушення прав. Ані <%= SiteSetting.company_short_name %>, ані її партнери чи ліцензіари не дають жодних гарантій, що Сайт буде працювати без помилок, а доступ до нього буде постійним і безперервним. Якщо Ви дійсно це читаєте, ось Вам невеликий <a href="http://www.newyorker.com/online/blogs/shouts/2012/12/the-hundred-best-lists-of-all-time.html">подарунок</a>. Ви розумієте, що звантажуєте або будь-яким іншим чином споживаєте Контент або послуги, що розміщені на сайті, на власний розсуд і ризик.
</p>

<div id="15"></div>
<h2><a href="#15">15. Обмеження відповідальності</a></h2>
<p>
<%= SiteSetting.company_short_name %>, її партнери та ліцензіари в жодному разі не несуть відповідальності за положеннями даного Договору, в рамках будь-яких домовленостей, недбалості, прямої матеріальної відповідальності, юридичних чи інших намірів, що призвели до: (i) будь-яких умисних, випадкових або непрямих збитків; (ii) здійснення додаткових витрат, пов’язаних із придбанням товарів-замінників або повторної оплати послуг; (iii) переривання використання, втрати чи пошкодження даних; (iv) будь-які суми, що перевищують розмір винагороди, виплаченої Вами на користь <%= SiteSetting.company_short_name %> в рамках даного Договору протягом 12 (дванадцяти) місяців до дати прецеденту. <%= SiteSetting.company_short_name %> не нестиме відповідальності за невиконання зобов’язань або затримку у зв’язку із обставинами, що знаходяться поза розумними межами її впливу. Вищесказане застосовується в межах, що не суперечать чинному законодавству.
</p>

<div id="16"></div>
<h2><a href="#16">16. Загальні положення та гарантія</a></h2>
<p>
Ви заявляєте і гарантуєте, що: (i) під час користування Сайтом Ви будете чітко дотримуватись положень <a href="<%=privacy_path%>">Політики конфіденційності</a> та <a href="<%=faq_path%>">Загальних правил спільноти</a> <%= SiteSetting.company_short_name %>, даного Договору, а також всіх законів та підзаконних актів (в тому числі, всіх місцевих законів у Вашій країні, штаті, області, місті чи іншій адміністративній одиниці, що стосуються поведінки в Інтернеті та прийнятного Контенту, а також всіх законів та підзаконних актів, що стосуються передачі технічних даних із країни, де знаходиться Сайт, до країни, в якій знаходитесь Ви), і (ii) Ваше використання даного сайту не порушить права інтелектуальної власності третіх сторін.
</p>

<div id="17"></div>
<h2><a href="#17">17. Компенсація</a></h2>
<p>
Ви погоджуєтесь відшкодовувати збитки і захищати <%= SiteSetting.company_short_name %>, її партнерів, ліцензіарів, директорів, посадових осіб, співробітників та агентів від будь-яких претензій та витрат, в тому числі судових, що можуть наставати внаслідок використання Вами Сайту, а також внаслідок порушення Вами даного Договору.
</p>

<div id="18"></div>
<h2><a href="#18">18. Різне</a></h2>
<%= markdown_content(:tos_miscellaneous) %>

<p>
  Цей документ розповсюджується на умовах ліцензії CC-BY-SA. Останнє оновлення було здійснено 31 травня 2013 року.<br/>  Адаптовано з оригінальної версії <a href="http://en.wordpress.com/tos/">Умов використання WordPress</a>.
</p>
