<ul class="nav-pills">
  <li><a href="<%=faq_path%>">자주하는 질문</a></li>
  <li><a class="active" href="<%=tos_path%>">서비스 이용약관</a></li>
  <li><a href="<%=privacy_path%>">개인정보 취급방침</a></li>
</ul>

<p>
  아래의 이용약관은 <%= SiteSetting.company_domain %> 웹사이트와 이 웹사이트를 통해 제공되는 모든 콘텐츠, 서비스, 제품 등을 모두 포함하여 그 대상으로 합니다.  <%= SiteSetting.company_domain %> 포럼 소프트웨어, <%= SiteSetting.company_domain %> 지원 포럼, <%= SiteSetting.company_domain %> 호스팅 서비스를 통칭하여 웹사이트라고 부르며 이 약관의 대상입니다. 이 웹사이트는 <%= SiteSetting.company_full_name %> (“<%= SiteSetting.company_short_name %>”)의 소유이며 <%= SiteSetting.company_full_name %> (“<%= SiteSetting.company_short_name %>”)에 의해 운영되고 있습니다. 이 웹사이트는 여러분이 여기에 기술된 이용약관과 기타 운영 규칙 및 정책(<a href="<%=privacy_path%>">개인정보 취급방침</a> 및 <a href="<%=faq_path%>">커뮤니티 이용 규칙</a></a> 포함하며 이에 국한되지도 않음)에 대한 변경이 없는 상태로 모든 것에  동의하신다는 것을 전제로 제공됩니다. 이 모든 것을 통칭하여 이용약관이라고 하며 이는  <%= SiteSetting.company_short_name %>에 의해 종종 변경될 수 있습니다.
</p>

<p>
    이 웹사이트에 올라온 이용약관을 주의깊게 읽어주세요. 여러분이 이 웹사이트의 어떤 부분이라도 접근 또는 이용할 때에는 이 이용약관에 동의하는 것입니다. 여러분이 이 이용약관에 동의하지 않는 부분이 하나라도 있다면, 이 웹사이트에 접근하실 수 없으며 또한 이 웹사이트에서 제공하는 어떤 서비스도 사용하실 수 없습니다. 이 이용약관을 <%= SiteSetting.company_short_name %>에서 제공하는 서비스 관점에서 본다면, 이 약관에 명시적으로 기술된 것들만 인정됩니다. 이 웹사이트를 사용하시려면 적어도 13세 이상이어야 합니다.
</p>

<div id="1"></div>
<h2><a href="#1">1. <%= SiteSetting.company_domain %> 사용자 계정</a></h2>
<p>
  여러분이 만약 이 사이트에 계정을 만드셨다면 본인 계정에 대한 보안을 유지할 책임이 있으며 해당 계정을 사용하여 이루어지는 모든 활동에 대한 책임도 전적으로 여러분에게 있습니다. 여러분의 계정이 승인되지 않은 방법으로 사용된 것을 발견하였거나 보안적인 헛점을 발견하였을 때는 즉시 <%= SiteSetting.company_short_name %>에 알려주셔야 합니다. 여러분이 그러한 조치를 취했거나 취하지 않았다는 사실에 대해서 또한 그러한 조치 취했거나  취하지 않았기 때문에 발생한 어떠한 손해에 대해서도 <%= SiteSetting.company_short_name %>에는 책임이 없습니다.
</p>

<div id="2"></div>
<h2><a href="#2">2. 참여자의 책임</a></h2>
<p> 여러분이 이 웹사이트에 저작물을 올리시거나 링크를 올리시거나 이 웹사이트를 사용하여 저작물에 접근할 수 있게 하신다면 (이러한 모든 저작물을 "콘텐츠"라 함), 해당 콘텐츠의 내용과 해당 콘텐츠로 인해 발생하는 어떤 종류의 나쁜 결과에 대해서는 여러분이 전적으로 책임을 지셔야 합니다. 이는 해당 콘텐츠가 테스트, 그래픽, 오디오, 컴퓨터 소프트웨어 등등 무엇으로 구성되어 있는가와 관계없이 적용됩니다. 여러분이 콘텐츠를 올리실 때는 아래와 같은 내용에 대한 의사를 표현하고 그 내용을 보장하는 것입니다:
</p>
<ul>
  <li>해당 콘텐츠를 내려받거나 복사하거나 사용하는 것이 제3자의 저작권, 특허권, 상표권, 영업비밀, 이와 유사한 다른 권리 등을 포함한 재산권을 훼손하지 않습니다.</li>
  <li>여러분의 고용주가 여러분이 작성한  콘텐츠에 대한 지적 재산권을 가지고 있다면, 여러분은 고용주로부터 글이나 콘텐츠(소프트웨어도 포함됨)를 올릴 수 있는 허가를 받았거나 혹은 해당 콘텐츠에 대한 권리 포기를 확인받았어야 합니다.</li>
  <li>해당 콘텐츠에 대해 관련된 모든 제3자가 가지고 있는 사용권 내용을 완벽하게 준수해야 하며 최종 사용자에게 전달하기까지 필요한 모든 사용조건을 성공적으로 만족시켜야 합니다.</li>
  <li>해당 콘텐츠는 바이러스, 웜, 맬웨어, 트로이 목마 혹은 유사한 해롭거나 파괴적인 내용을 포함하거나 설치하면 안 됩니다.</li>
  <li>해당 콘텐츠는 스팸이 아니어야 하며, 기계적으로 혹은 무작위로 생성하지 않았어야 합니다. 또한, 해당 콘텐츠는 비윤리적이거나 제3의 사이트로의 트랙픽을 유도할 목적,  검색엔진 검색 순위를 올릴 목적, 불법적으로 사용자의 행동을 유도할(피싱 같은) 목적, 엉뚱한 곳에서 온 것으로 수신자를 오인하게 만들(스푸핑 같은) 목적 등으로 설계된 내용을 포함하지 않아야 합니다.</li>
  <li>해당 콘텐츠는 성적이거나, 위협적이거나, 폭력을 조장하거나, 제3자의 프라이버시 혹은 초상권을 침해하는 내용을 포함하면 안 됩니다.</li>
  <li>여러분의 콘텐츠는 뉴스그룹, 메일링 리스트, 블로그, 웹사이트 등에 올려진 스팸 링크같은 바람직하지 않은 전자메시지 혹은 이와 유사한 홍보 방법을 사용하여 홍보되어서는 안 됩니다.</li>
  <li>여러분의 콘텐츠는 읽는 사람이 당신을 다른 사람이나 회사로 오해하도록 만드는 이름을 가져서는 안 됩니다.</li>
  <li>여러분의 콘텐츠가 컴퓨터 코드를 포함할 때는 해당 저작물의 유형, 성격, 사용법, 효과 등을 정확하게 분류하고 설명해야 합니다. 이점은 <%= SiteSetting.company_short_name %>에 의해 그렇게 하라고 요구를 받았건 받지 않았건 간에 상관없이 그렇게 하셔야 합니다.</li>
</ul>

<div id="3"></div>
<h2><a href="#3">3. 사용자 생성 콘텐츠의 사용권</a></h2>
<%= markdown_content(:tos_user_content_license) %>

<div id="4"></div>
<h2><a href="#4">4. 유료 서비스 이용 요금과 가입 기간 갱신</a></h2>
<h3>일반적인 사용조건</h3>
<p>
  이 웹사이트는 사용자가 선택 가능한 유료 서비스 혹은 업그레이드를 제공할 수도 있습니다. 선택적인 유료서비스나 업그레이드를 사용하실 때는, 따로 명시된 월간 혹은 연간 서비스 가입 요금을 <%= SiteSetting.company_short_name %>에 내는 것에 동의하셔야 합니다. 가입 요금 지불은 서비스나 업그레이드를 사용하기 시작한 날에 선불제 기반으로 청구되며 요금을 지불하신 후에 지정된 월간 혹은 연간 동안 서비스나 업그레이드를 사용하실 수 있습니다. 이 이용요금은 환급해 드리지 않습니다.
</p>
<h3>가입 기간 자동 연장</h3>
<p>신청하신 유료 가입 기간이 만료되기 전에 <%= SiteSetting.company_short_name %>에 가입하신 서비스 혹은 업그레이드 해지를 통보하시지 않으면, 유료 가입 기간을 자동으로 연장 것과 재신청 되는 월간 혹은 연간 가입 요금을 이전에 남겨주신 신용카드 혹은 기타 지불 방법을 사용하여 자동 결제하는 것에 대해 승인하신 것입니다. 구독은 언제든지 취소 가능합니다.
</p>

<div id="5"></div>
<h2><a href="#5">5. 추가 서비스</a></h2>
<h3>호스팅, 기술 지원 서비스</h3>
<p>선택적으로 사용 가능한 호스팅 혹은 기술지원 서비스는 각각의 해당 서비스 자체의 이용약관과 사용조건을 가지고 <%= SiteSetting.company_short_name %>에 의해 제공될 수도 있습니다. 호스팅 혹은 기술지원서비스에 가입하시면 해당 서비스 자체의 이용약관과 사용조건에 동의하시는 것입니다.
</p>

<div id="6"></div>
<h2><a href="#6">6. 웹사이트 방문자의 책임</a></h2>
<p>
  우리(<%= SiteSetting.company_short_name %>)는 이 웹사이트에 게시된 컴퓨터 소프트웨어를 포함한 모든 저작물을 검증하지 않으며 검증할 수도 없습니다. 따라서 해당 저작물 내용이나 그것의 사용 혹은 사용 결과에 대해 책임을 지지 않습니다. 우리(<%= SiteSetting.company_short_name %>)가 이 사이트를 운영한다고 하여, 게시된 저작물에 대해 보증한다거나 그러한 저작물이 정확하다거나 유용하다거나 해가 없다고 생각하는 것은 아닙니다. 바이러스, 웜, 트로이 목마 또는 다른 종류의 해롭거나 파괴적인 내용으로부터 여러분이나 여러분의 컴퓨터를 안전하게 보호하기 위한 주의를 기울이는 것은 여러분의 책임입니다. 이 웹사이트는 기술적으로 불완전하거나 오타가 있거나 그 외의 다른 오류가 있는 내용뿐만 아니라 공격적이거나 무례하거나 불쾌한 내용을 포함하고 있을 수 있습니다. 또한, 이 웹사이트는 프라이버시 혹은 초상권을 위반하는 저작물, 제3자의 지적 재산권과 다른 종류의 재산권을 침해하는 저작물, 또는 내려받거나 복사하거나 사용려면 명시적으로 언급되었건 언급되지 않았건 간에 추가적인 이용약관과 사용조건을 준수해야 하는 저작물 등을 포함하고 있을 수 있습니다. 우리(<%= SiteSetting.company_short_name %>)는 방문자들이 웹사이트를 사용하는 동안 발생한 혹은 게시된 내용을 내려받는 동안 발생한 어떠한 손해에 대해서도 책임을 지지 않습니다.
</p>

<div id="7"></div>
<h2><a href="#7">7. 다른 웹사이트에 게시된 콘텐츠</a></h2>
<p>우리(<%= SiteSetting.company_short_name %>)는 <%= SiteSetting.company_domain %> 사이트 내에 링크되었거나 <%= SiteSetting.company_domain %> 사이트로의 링크를 가지고 있는 웹사이트나 웹페이지를 통해 접근 가능한 컴퓨터 소프트웨어를 포함한 모든 저작물에 대해서 검증하지 않으며, 검증할 수도 없습니다. 우리(<%= SiteSetting.company_short_name %>)는 <%= SiteSetting.company_domain %>의 웹사이트나 웹페이지가 아닌 것에 대해서는 통제할 방법이 없으며, 그러한 사이트의 내용이나 사이트 사용에 대해 책임을 지지 않습니다. <%= SiteSetting.company_domain %>의 웹사이트나 웹페이지가 아닌 곳으로의 링크가 있다고 하여, 우리(<%= SiteSetting.company_short_name %>)가 그러한 사이트나 웹페이지에 대해 보증을 한다는 것은 아닙니다. 바이러스, 웜, 트로이 목마 또는 다른 종류의 해롭거나 파괴적인 내용으로부터 여러분이나 여러분의 컴퓨터를 안전하게 보호하기 위한 주의를 기울이는 것은 여러분의 책임입니다. 우리(<%= SiteSetting.company_short_name %>)는 <%= SiteSetting.company_domain %> 외부의 웹사이트를 사용하는 동안 발생한 어떠한 손해에 대해서도 책임을 지지 않습니다.
</p>

<div id="8"></div>
<h2><a href="#8">8. 저작권 침해 및 DMCA 정책 </a></h2>
<p>
  우리(<%= SiteSetting.company_short_name %>)가 다른 이들에게 우리의 지적 재산권을 존중해 달라고 요구하듯이 우리도 다른 이들의 지적 재산권을 존중합니다. <%= SiteSetting.company_domain %>  사이트에 존재하거나 <%= SiteSetting.company_domain %>  사이트에 의해 링크된 저작물이 당신의 저작권을 침해한다고 생각되며 이 웹사이트가 미국 영토 내에 존재하는 것이라면, 여러분은 <%= SiteSetting.company_short_name %>의 <a href="http://en.wikipedia.org/wiki/Digital_Millennium_Copyright_Act">Digital Millennium Copyright Act</a> (“DMCA”) 정책에 따라 <%= SiteSetting.company_short_name %>에 해당 내용을 알려 주십시오. 우리는 침해한 저작물을 제거하거나 침해한 저작물로의 모든 링크를 제거하는 등의 작업을 포함하여 알려주신 내용에 대해 필요한 조치 혹은 적절한 조치를 취하고 응대해 드릴 것입니다. 우리는 판단하기에 적절한 상황에서 어떤 방문자가 반복적으로 <%= SiteSetting.company_short_name %> 혹은 다른 이의 저작권이나 기타 지적 재산권을 반복적으로 침해하는 것으로 밝혀지면, 그 방문자가 이 웹사이트에 접근하거나 이 사이트를 사용하는 것을 막을 것입니다. 이렇게 접근이나 사용이 금지된 경우, 그 사용자가 <%= SiteSetting.company_short_name %>에 이전에 지불한 금액의 규모가 어떠할지라도 우리는 환급해줄 의무가 없습니다.
</p>

<div id="9"></div>
<h2><a href="#9">9. 지적 재산</a></h2>
<p>
  이 약관은 여러분에게 <%= SiteSetting.company_short_name %> 혹은 제3자의 지적 재산권을 이전하지 않으며, 그러한 재산에서 발생하는 혹은 그러한 재산으로 추가되는 모든 권리, 지위, 이익 등은 모두 <%= SiteSetting.company_short_name %>에 귀속됩니다. <%= SiteSetting.company_short_name %>, <%= SiteSetting.company_domain %>, <%= SiteSetting.company_domain %> 로고, 그리고 <%= SiteSetting.company_domain %> 혹은 이 웹사이트 관련하여 사용된 모든 상표, 서비스마크, 그래픽 및 로고는 <%= SiteSetting.company_short_name %> 혹은 <%= SiteSetting.company_short_name %>의 권리 사용권자의 상표 혹은 등록 상표입니다. 이 웹사이트 관련하여 사용된 그 외의 상표나, 서비스마크, 그래픽 및 로고는 다른 제3자의 상표일 수도 있습니다. 여러분이 이 웹사이트 사용할 수 있다고 하여, <%= SiteSetting.company_short_name %> 혹은 제3자의 상표를 재사용하거나 다른 방법으로 사용할 수 있는 권리나 사용권을 허가받은 것은 아닙니다.
</p>

<div id="10"></div>
<h2><a href="#10">10. 광고</a></h2>
<p>우리(<%= SiteSetting.company_short_name %>)는 여러분이 광고가 없는 것이 보장된 업그레이드 혹은 서비스 계정을 따로 구매한 경우가 아니라면, 여러분이 게시한 콘텐츠 내에 광고를 표시할 권리를 갖고 있습니다.</p>

<div id="11"></div>
<h2><a href="#11">11. 저작자 표시</a></h2>
<p>우리(<%= SiteSetting.company_short_name %>)는 여러분의 콘텐츠 내의 바닥글 혹은 툴바에 ‘Powered by <%= SiteSetting.company_domain %>', 테마 저작자, 폰트 저작자 등과 같은 저작자 표시를 보여줄 권리를 보유하고 있습니다. 바닥글에 보여주는 저작자 표시 문구 혹은 <%= SiteSetting.company_domain %> 툴바는 업그레이드 서비스를 구매한 경우에도 제거되지 않을 수 있습니다.</p>

<div id="12"></div>
<h2><a href="#12">12. 변경</a></h2>
<p>
  우리(<%= SiteSetting.company_short_name %>)는 우리만의 독자적인 판단만으로 이 약관의 어떤 부분이든 수정하거나 바꿀 권리를 가지고 있습니다. 이 약관에 변경사항이 있는지 주기적으로 체크하는 것은 여러분의 책임입니다. 이 약관이 변경된 이후에 여러분이 이 웹사이트를 계속해서 접근하시거나 사용하시면, 여러분이 변경된 내용을 승인한 것으로 간주합니다. 또한, 우리는 미래에 이 웹사이트를 통하여 새로운 서비스나 기능을 제공할 수도 있습니다. 이렇게 새로 추가되는 기능이나 서비스도 이 약관에 기술된 내용과 조건을 따르게 됩니다.
</p>

<div id="13"></div>
<h2><a href="#13">13. 계약 종료 및 해지</a></h2>
<p>
  우리(<%= SiteSetting.company_short_name %>)는 언제든지, 사유가 있든 없든 관계없이, 사전 공지를 했든 하지 않았든 관계없이, 원하는 즉시, 여러분이 더 이상 이 사이트의 전부 혹은 일부에 접근할 수 없도록 제한할 수 있습니다. 여러분이 이 약관에 대한 계약 혹은 <%= SiteSetting.company_short_name %> 계정을 해지(계정이 있는 경우)하고자 하시면 이 사이트 더 이상 사용하지 않으시면 됩니다. 이 약관의 모든 규정은 그 속성상 소유권 규정, 보증면책 조항, 손해배상 및 책임의 제한(이것들 만에 한하는 것은 아님) 등을 포함하여 계약의 종료 이후에도 유효합니다.
</p>

<div id="14"></div>
<h2><a href="#14">14. 보증면책 조항</a></h2>
<p>
이 웹사이트는 있는 그대로 제공됩니다. <%= SiteSetting.company_short_name %> 그리고 <%= SiteSetting.company_short_name %> 관련 서비스 공급자 및 권리 사용권자는 상품성에 대한 보증, 특정 목적에 대한 적합성 및 권리 미침해 등을 포함하여(이것만으로 제한되는 것은 아님) 어떠한 종류의 명시적 혹은 암시적인 보증에 대한 책임을 지지 않습니다. <%= SiteSetting.company_short_name %> 그리고 <%= SiteSetting.company_short_name %> 관련 서비스 공급자 및 권리 사용권자 그 누구도 이 웹사이트가 오류가 없을 것이라든지, 접속이 연속적이며 중단이 없을 것이라는 등에 대해 보증을 하지 않습니다. 여러분이 정말로 이 약관을 읽고 계신다면, 여기에 그런 상황에서 <a href="http://www.newyorker.com/online/blogs/shouts/2012/12/the-hundred-best-lists-of-all-time.html">읽을거리</a>가 있으니 참고해 주세요. 여러분이 이 웹사이트에서 내려받기하실 때 혹은 이 웹사이트에 있는 콘텐츠나 서비스를 사용하실 때에 자신의 의사로 위험을 감수하셔야 한다는 점을 이해해주세요.
</p>

<div id="15"></div>
<h2><a href="#15">15. 책임의 제한</a></h2>
<p>
어떤 상황에서도 우리(<%= SiteSetting.company_short_name %>), 우리의 서비스 공급자, 우리의 권리 사용권자는 어떠한 계약 사항, 직무 태만, 엄격한 책임 주의 혹은 그 외 다른 법적 이론 또는 형평 이론 등의 어떤 이유를 들건 간에 이 약관에 기술된 어떠한 사안과 관련해서도 아래 기술된 (i)(ii)(iii)(iv) 등에 대해 배상 책임을 지지 않습니다. (i) 어떤 특별하거나 우연적이거나, 결과론적인 피해 (ii) 대체 제품 또는 서비스의 조달 비용 (iii) 사용중단 또는 자료에 대한 손실 혹은 손상 (iv) 원인 발생으로부터 12개월의 기간에 이 약관에 의해 여러분이 <%= SiteSetting.company_short_name %>에 지불한 이용 요금을 초과한 금액. 우리(<%= SiteSetting.company_short_name %>)는 합리적인 통제 범위를 넘어서는 이유로 발생된 어떤한 실패나 지연에 대한 책임을 지지 않습니다. 이 내용은 관련 법률이 금지하고 있는 범위를 넘어서서 적용되지는 않습니다.
</p>

<div id="16"></div>
<h2><a href="#16">16. 일반적인 의사 표시 및 보증</a></h2>
<p>
여러분이 이 사이트를 사용하시는 것은 아래와 같은 의사를 표하고 보증하시는 것입니다. (i) 여러분이 이 웹사이트를 사용하시는 동안 <%= SiteSetting.company_short_name %> <a href="<%=privacy_path%>">개인정보 보호정책</a>, <a href="<%=faq_path%>">커뮤니티 이용가이드</a>, 이 이용약관 그리고 모든 적용 가능한 법 및 규제 사항(여러분의 국가, 주, 도시, 혹은 정부가 지정한 기타 구역 안에서의 온라인 활동 및 허용되는 콘텐츠에 대한 것을 포함, 이 웹사이트가 존재하는 국가 혹은 여러분이 살고 있는 국가로부터 수출되는 기술자료의 전송과 관련된 모든 적용 가능한 법과 규제를 포함 - 이것만으로 제한되는 것은 아님)을 엄격히 준수합니다. (ii) 여러분이 이 웹사이트를 사용하시는 동안 제3자의 지적 재산권을 침해하거나 유용하지 않습니다.
</p>

<div id="17"></div>
<h2><a href="#17">17. 손해배상</a></h2>
<p>
여러분이 이 약관에 대한 위반을 포함하여(이것 만에 제한되는 것은 아님), 이 사이트를 사용하는 것으로 인해 발생하게 된 모든 소송에 대한 보상금 및 변호사 선임 비용을 포함한 관련 비용을 우리(<%= SiteSetting.company_short_name %>), 우리와 계약관계에 있는 자, 우리의 권리 사용권자 그리고 그들 각각의 경영진, 이사, 임직원, 대리인에게는 배상해야 할 책임이 없으며, 여러분은 반대로 배상을 해야 할 책임이 있음에 동의하셔야 합니다.
</p>

<div id="18"></div>
<h2><a href="#18">18. 기타</a></h2>
<%= markdown_content(:tos_miscellaneous) %>

<p>
  이 문서는 CC-BY-SA를 따릅니다. 이 문서는 2013년 5월 31일에 최종 업데이트 되었습니다.<br/>
  이 문서는 <a href="http://en.wordpress.com/tos/">WordPress 서비스 이용약관</a>을 근간으로 하여 개정되었습니다.
</p>
