<ul class="nav-pills">
  <li><a href="<%=faq_path%>">FAQ</a></li>
  <li><a class="active" href="<%=tos_path%>">Conditions générales d'utilisation</a></li>
  <li><a href="<%=privacy_path%>">Protection des données</a></li>
</ul>

<p>
Les termes et conditions suivants régissent toute utilisation du site Web <%= SiteSetting.company_domain %> et son contenu, les produits et services disponibles sur ou via le site Web, y compris, mais sans s'y limiter, le logiciel du Forum <%= SiteSetting.company_domain %> , les forums du support <%= SiteSetting.company_domain %> et le service d'hébergement <%= SiteSetting.company_domain %> («Hébergement»), (pris ensemble , le site Web). Le site est détenu et exploité par <%= SiteSetting.company_full_name %> ("<%= SiteSetting.company_short_name %>"). Le site est offert sous réserve de votre acceptation sans modification de l'ensemble des termes et conditions du présent Contrat et toutes les autres règles de fonctionnement, les politiques (y compris, sans limitation, la <a href="<%=privacy_path%>">Politique de Confidentialité</a> et les <a href="<%=faq_path%>">Régles de Communauté</a> de <%= SiteSetting.company_domain %>) et des procédures qui peuvent être publiées de temps à autre sur ce site par (communément nommé, le« Contrat »).
</p>

<p>S'il vous plaît lisez attentivement cet accord avant d'accéder ou d'utiliser le Site. En accédant ou en utilisant n'importe quelle partie du site, vous acceptez d'être lié par les termes et conditions de cet accord. Si vous n'acceptez pas tous les termes et conditions de cet accord, alors vous ne pouvez pas accéder au site Web ou utiliser ses services. Si ces conditions sont considérées comme une offre de <%= SiteSetting.company_short_name %>, l'acceptation est expressément limitée à ces termes. Le site Web est disponible uniquement aux personnes qui ont au moins 13 ans.</p>

<div id="1"></div>
<h2><a href="#1">1. Votre  Compte <%= SiteSetting.company_domain %></a></h2>
<p>Si vous créez un compte sur le site, vous êtes responsable du maintien de la sécurité de votre compte et vous êtes entièrement responsable de toutes les activités qui se produisent sous votre compte. Vous devez informer immédiatement <%= SiteSetting.company_short_name %> de toute utilisation non autorisée de votre compte ou de toute autre atteinte à la sûreté. <%= SiteSetting.company_short_name %> notre site ne sera pas responsable des actes ou omissions de votre part, y compris des dommages de toute nature engagés à la suite de tels actes ou omissions.</p>

<div id="2"></div>
<h2><a href="#2">2. Responsabilité des Contributeurs</a></h2>
<p>Si vous soumettez du contenu sur le Site, des liens sur le Site, ou que vous rendez (ou permettez à un tiers de rendre) du contenu disponible grâce aux moyens du Site ("Contenu"), Vous êtes entièrement responsable dudit contenu, et de tout dommage résultant de ce Contenu. C'est indifféremment le cas, que le Contenu en question soit de type texte, image, audio ou logiciel. En rendant ce Contenu disponible, vous déclarez et garantissez que : </p>
<ul>
<li>le téléchargement, la copie et l'utilisation du contenu ne porte pas atteinte aux droits de propriété, y compris, mais sans s'y limiter les droits d'auteur, brevets, marques de commerce ou les secrets commerciaux, d'un tiers;</li>
  <li>si votre employeur a des droits de propriété intellectuelle sur ce que vous créez, vous devez soit (i) avoir reçu la permission de votre employeur pour poster ou rendre disponible le contenu, y compris mais non limité à tout logiciel, ou (ii) avoir obtenu de votre employeur une renonciation à tous les droits ou au contenu;</li>
  <li>vous vous êtes entièrement conformée aux licences tierces relatives au contenu, et que vous avez fait toutes les choses nécessaires pour vous conformer aux termes des conditions d'utilisateurs finaux;</li>
  <li>le contenu ne contient pas ou ni installe des virus, vers, logiciels malveillants, chevaux de Troie ou tout autre contenu nuisible ou destructeur;</li>
  <li>le contenu n'est pas du spam, n'est pas généré aléatoirement ou par une machine, et ne contient pas de contenu commercial contraire à l'éthique ou non désirés conçu pour générer du trafic vers des sites tiers ou de stimuler les classements des moteurs de recherche de sites de tiers, ou des actes à caractères illégaux (par exemple comme le phishing) ou induire en erreur les destinataires quant à la source du matériel (comme l'usurpation d'identité);</li>
  <li>le contenu n'est pas pornographique, ne contient pas de menaces ou n'incite pas à la violence, et ne viole pas la vie privée ou les droits d'un tiers;</li>
  <li>votre contenu n'est pas publié via des messages électroniques indésirables tels que les liens de spam sur les groupes de discussion, listes de courriel, des blogs et des sites Web, et les méthodes de promotion similaires non sollicitées;</li>
  <li>votre contenu n'est pas nommé d'une manière qui induit en erreur vos lecteurs en pensant que vous êtes une autre personne ou de la société, et</li>
  <li>vous avez, dans le cas de contenu qui inclut du code informatique, classé avec précision et/ou décrit le type, la nature, les usages et les effets de ce code, si <%= SiteSetting.company_short_name %> vous le demande ou si la justice le demande.</li>
</ul>
<div id="3"></div>
<h2><a href="#3">3. Licence du contenu utilisateur</a></h2>
<%= markdown_content(:tos_user_content_license) %>

<div id="4"></div>
<h2><a href="#4">4. Paiement et Renouvellement</a></h2>
<h3>Conditions générales</h3>
<p>Des services ou mises à jour payantes en option peuvent être disponibles sur le site Web. Lors de l'utilisation d'un service payant en option ou de mise à niveau, vous acceptez de payer à <%= SiteSetting.company_short_name %> les frais de souscription mensuels ou annuels indiqués. Les paiements seront facturés sur une base pré-payé le jour où vous commencer à utiliser le service ou la mise à niveau et couvrira l'utilisation de ce service ou de mise à niveau pour une période mensuelle ou annuelle de souscription comme indiqué. Ces frais ne sont pas remboursables.</p>
<h3>Renouvellement automatique</h3>
<p>Sauf si vous informez <%= SiteSetting.company_short_name %> avant la fin de la période de souscription applicable que vous souhaitez annuler un service ou une mise à niveau, votre abonnement sera renouvelé automatiquement et vous nous autorisez à recueillir les frais d'abonnement annuel ou mensuel, alors en vigueur (ainsi que toutes les taxes) en utilisant n'importe quel carte de crédit ou autre moyen de paiement que nous avons conservé pour vous. Les abonnements peuvent être annulés à tout moment.</p>

<div id="5"></div>
<h2><a href="#5">5. Services</a></h2>
<h3>Hébergement, Support</h3>
<p>Des services d'hébergement et de support optionnels peuvent être fournis par <%= SiteSetting.company_short_name %> selon les termes et conditions pour chacun de ces services. En vous inscrivant à un compte de services d'hébergement / de support, vous vous engagez à respecter les termes et conditions.</p>

<div id="6"></div>
<h2><a href="#6">6. Responsabilité des visiteurs du site Web</a></h2>
<p><%= SiteSetting.company_short_name %> n'a pas révisé et ne peut examiner, tout le contenu, y compris les logiciels, posté sur le site Web , et ne peut donc pas être tenu responsable du contenu, de l'utilisation ou des effets de ce contenu. En opérant le site <%= SiteSetting.company_short_name %>, ne représente pas ou n'implique pas qu'il approuve le contenu diffusé, ou qu'il croit que ce contenu est précis, utile ou non nuisible. Vous êtes responsable de prendre les précautions nécessaires pour que vous et vos systèmes informatiques soit protégés contre les virus, vers, chevaux de Troie et d'autres contenus nuisibles ou destructeurs . Le Site peut contenir du contenu qui est offensant, indécent , ou autrement répréhensible , ainsi que du contenu contenant des inexactitudes techniques, erreurs typographiques et d'autres erreurs. Le Site peut également contenir du matériel qui viole la vie privée ou aux droits de publicité, ou porte atteinte à la propriété intellectuelle et autres droits de propriété de tiers, ou le téléchargement, la copie ou l'utilisation sont soumis à des termes et conditions supplémentaires, déclaré ou non déclaré. <%= SiteSetting.company_short_name %> décline toute responsabilité pour tout dommage résultant de l'utilisation par les visiteurs du site Web, ou de tout téléchargement par les visiteurs du contenu posté ici.</p>

<div id="7"></div>
<h2><a href="#7">7. Contenu publié sur d'autres sites</a></h2>
<p>Nous n'avons pas examiné, et ne pouvons pas examiner, tout le contenu, y compris les logiciels, mises à disposition par des sites et des pages Web vers lesquels <%= SiteSetting.company_domain %> pointe et qui pointe vers <%= SiteSetting.company_domain %>, <%= SiteSetting.company_short_name %> n'a pas le contrôle sur ces sites Web et ces sites Web "non-<%= SiteSetting.company_domain %>", et ne sommes pas responsable de leur contenu ou de leur utilisation. En vous connectant à un site "non-<%= SiteSetting.company_domain %>" ou page web, <%= SiteSetting.company_short_name %> ne représentent pas ou n'implique pas qu'il approuve tel site ou tel page Web. Vous êtes responsable de prendre les précautions nécessaires pour que vous et vos systèmes informatiques soit protégé contre les virus, vers, chevaux de Troie et d'autres contenus nuisibles ou destructeurs. <%= SiteSetting.company_short_name %> décline toute responsabilité pour tout dommage résultant de votre utilisation de site "non-<%= SiteSetting.company_domain %>" et autres pages Web.</p>

<div id="8"></div>
<h2><a href="#8">8. Violation du droit d'auteur et de la politique DADVSI</a></h2>
<p> <%= SiteSetting.company_short_name %> demande aux autres de respecter ses droits de propriété intellectuelle, il respecte les droits de propriété intellectuelle d'autrui. Si vous croyez que le contenu situé sur ou lié par <%= SiteSetting.company_domain %> viole vos droits d'auteur, et si ce site réside aux Etats-Unis, vous êtes encouragés à le signaler à <%= SiteSetting.company_short_name %>, conformément au '<a href="http://en.wikipedia.org/wiki/Digital_Millennium_Copyright_Act"> digital Millennium Copyright Act</a> (« DMCA »). <%= SiteSetting.company_short_name %> répondra à toutes les notifications, y compris si nécessaire ou approprié par enlèvement du contenu contrefait ou de désactiver tous les liens vers les documents de contrefaçon. <%= SiteSetting.company_short_name %> mettra fin à l'accès d'un visiteur et l'utilisation du site Web si, dans des circonstances appropriées, le visiteur est déterminé à être un récidiviste violation des droits d'auteur ou autres droits de propriété intellectuelle de <%= SiteSetting.company_short_name %> ou autres. Dans le cas d'une telle résiliation, <%= SiteSetting.company_short_name %> n'aura aucune obligation de fournir un remboursement des sommes déjà versées à <%= SiteSetting.company_short_name %>.</p>

<div id="9"></div>
<h2><a href="#9">9. Propriété Intellectuelle</a></h2>
<p>Le présent accord ne transfère pas de <%= SiteSetting.company_short_name %> à vous aucune propriété intellectuelle de <%= SiteSetting.company_short_name %> ou d'un tiers, et tout droit, titre et intérêt dans et pour ces biens restera (entre les parties) uniquement <%= SiteSetting.company_short_name %>. <%= SiteSetting.company_short_name %>, <%= SiteSetting.company_domain %>, le logo <%= SiteSetting.company_domain %>, et toutes les autres marques commerciales, marques de services, graphismes et logos utilisés dans le cadre de <%= SiteSetting.company_domain %>, ou le site Web sont des marques commerciales ou des marques déposées de <%= SiteSetting.company_short_name %> ou des concédants de <%= SiteSetting.company_short_name %>. D'autres marques commerciales, marques de services, graphismes et logos utilisés dans le cadre du site Web peuvent être des marques de commerce de tierces parties. Votre utilisation du Site ne vous accorde aucun droit ou licence pour reproduire ou utiliser tout ou partie des marques de <%= SiteSetting.company_short_name %> ou celles des tiers.</p>

<div id="10"></div>
<h2><a href="#10">10. Annonces</a></h2>
<p><%= SiteSetting.company_short_name %> se réserve le droit d'afficher des publicités sur votre contenu, sauf si vous avez acheté une mise à niveau sans publicité ou un compte des services.</p>

<div id="11"></div>
<h2><a href="#11">11. Attribution</a></h2>
<p><%= SiteSetting.company_short_name %> se réserve le droit d'afficher les liens d'attribution tels que «Powered by <%= SiteSetting.company_domain %>,' auteur du thème, et la police attribution dans votre contenu en pied de page ou en barre d'outils. Le crédits de pied de page et de la barre d'outils <%= SiteSetting.company_domain %> ne peuvent pas être retirés quelques soient les mises à niveau achetées.</p>

<div id="12"></div>
<h2><a href="#12">12. Changements</a></h2>
<p><%= SiteSetting.company_short_name %> se réserve le droit, à sa seule discrétion, de modifier ou de remplacer une partie de cet accord. Il est de votre responsabilité de vérifier périodiquement la présente convention pour les modifications. Votre utilisation continue ou l'accès au site Web après l'affichage de toute modification au présent accord constitue une acceptation implicite de ces changements. <%= SiteSetting.company_short_name %> peut également, à l'avenir, offrir de nouveaux services et / ou fonctionnalités sur le site Web (y compris, la sortie de nouveaux outils et de ressources). Ces nouvelles fonctionnalités et / ou services sont soumis aux termes et conditions du présent Accord.</p>

<div id="13"></div>
<h2><a href="#13">13. Résiliation</a></h2>
<p><%= SiteSetting.company_short_name %> peut résilier votre accès à tout ou partie du Site à tout moment, avec ou sans motif, avec ou sans préavis, avec effet immédiat. Si vous souhaitez résilier le présent Contrat ou votre compte <%= SiteSetting.company_domain %> (si vous en avez un), vous pouvez tout simplement cesser d'utiliser le Site. Toutes les dispositions du présent Accord qui, par leur nature, doivent survivre à la résiliation survivront à la résiliation, y compris, sans limitation, les dispositions de propriété, exclusions de garantie, indemnité et limitations de responsabilité.</p>

<div id="14"></div>
<h2><a href="#14">14. Exclusion de garanties</a></h2>
<p>Le Site est fourni "tel quel". <%= SiteSetting.company_short_name %> et ses fournisseurs et concédants de licence déclinent toute garantie de toute nature, expresse ou implicite, y compris, sans limitation, les garanties de qualité marchande, d'adéquation à un usage particulier et de non-contrefaçon. Ni <%= SiteSetting.company_short_name %> ni ses fournisseurs et concédants de licence, ne donnent aucune garantie que le site sera exempt d'erreurs ou que le service y sera continue ou ininterrompue. Si vous êtes en train de lire ceci, voici  <a href="http://www.newyorker.com/online/blogs/shouts/2012/12/the-hundred-best-lists-of-all-time.html">un peu de lecture</a>. Vous comprenez que vous téléchargez à partir de, ou autrement obtenir contenus ou services par le biais, le site Internet à vos propres risques et périls.</a></p>

<div id="15"></div>
<h2><a href="#15">15. Limitation de responsabilité</a></h2>
<p>En aucun cas <%= SiteSetting.company_short_name %>, ses fournisseurs ou ses concédants ne seront responsables à l'égard de tout objet de la présente entente en vertu de tout contrat, négligence, responsabilité stricte ou autre théorie juridique ou équitable pour: (i) des dommages spéciaux, indirects ou consécutifs; (ii) le coût des achats de produits ou de services de substitution, (iii) pour l'interruption de l'utilisation ou de la perte ou la corruption des données; ou (iv) pour des montants qui dépassent les frais payés par vous à <%= SiteSetting.company_short_name %> en vertu du présent accord au cours de la période de douze (12) mois précédents la cause du litige. <%= SiteSetting.company_short_name %> n'assume aucune responsabilité pour toute panne ou retard en raison de questions qui échappent à leur contrôle raisonnable. Ce qui précède ne se substitue pas à ce qu'interdit la loi en vigueur.</p>

<div id="16"></div>
<h2><a href="#16">16. Représentation générale et Garantie</a></h2>
<p>Vous déclarez et garantissez que (i) votre utilisation du site Web  sera en stricte conformité avec la <a href="<%=privacy_path%>">Politique de Confidentialité</a> et les <a href="<%=faq_path%>">Régles de Communauté</a> de <%= SiteSetting.company_domain %>, avec le présent accord et avec tous lois et règlements applicables (y compris, sans s'y limiter, les lois ou réglementations locales dans votre pays, état, ville, ou une autre zone gouvernementale, en ce qui concerne la conduite en ligne et le contenu acceptable et notamment toutes les lois applicables concernant la transmission de données techniques exportées du pays dans lequel ce site réside ou le pays dans lequel vous résidez) et (ii) votre utilisation du site ne sera pas de contrefaire ou détourner les droits de propriété intellectuelle d'un tiers.</a></p>

<div id="17"></div>
<h2><a href="#17">17. Dédommagement</a></h2>
<p>Vous acceptez d'indemniser et de dégager de toute responsabilité <%= SiteSetting.company_short_name %>, ses sous-traitants, et ses concédants de licence, et leurs administrateurs, dirigeants, employés et agents contre toute réclamation et de tous les frais, y compris les frais d'avocat, découlant de votre utilisation du site Web, y compris mais non limité à la violation du présent Accord.</p>

<div id="18"></div>
<h2><a href="#18">18. Divers</a></h2>
<%= markdown_content(:tos_miscellaneous) %>

<p>Ce document est soumis à la licence creative commons CC-BY-SA. Elle a été mise à jour le 31 mai 2013.<br>A l'origine adapté des <a href="http://en.wordpress.com/tos/">Conditions d'utilisation de WordPress</a>.</p>
