<ul class="nav-pills">
  <li><a href="<%=faq_path%>">FAQ</a></li>
  <li><a class="active" href="<%=tos_path%>">Terms of Service</a></li>
  <li><a href="<%=privacy_path%>">Privacy</a></li>
</ul>

<p>
  Os seguintes termos e condições regem toda a utilização do website <%= SiteSetting.company_domain %> e todos os conteúdos, serviços e produtos disponíveis no website ou através do mesmo, incluindo, porém não limitado a, o Software de Fórum em <%= SiteSetting.company_domain %>, os Fóruns de Suporte de <%= SiteSetting.company_domain %> e o serviço de Hospedagem (“Hosting”), (tomados em conjunto: o Website). O Website é propriedade de e operado por <%= SiteSetting.company_full_name %> (“<%= SiteSetting.company_short_name %>”). O Website é oferecido sujeito à sua aceitação, sem modificação, de todos os termos e condições contidos aqui e em todos as outras regras de utilização, políticas (incluindo mas não limitado à <a href="<%=privacy_path%>">Política de Privacidade</a> de <%= SiteSetting.company_domain %> e <a href="<%=faq_path%>">Diretrizes da Comunidade</a>) e procedimentos que possam ser publicados esporadicamente neste Site por <%= SiteSetting.company_short_name %> (tomado em conjunto, o “Acordo”).
</p>

<p>
  Por favor leia este Acordo cuidadosamente antes de acessar ou utilizar este Website. Por acessar ou utilizar qualquer parte deste Website, você concorda em ficar sujeito aos termos e condições deste acordo. Se você não concorda com os termos e condições deste acordo, então você não deve acessar este Website ou utilizar quaisquer dos seus serviços. Se estes termos e condições forem considerados uma proposta de acordo por <%= SiteSetting.company_short_name %>, sua aceitação será expressamente limitada a estes termos. O Website é disponibilizado somente para indivíduos com pelo menos 13 anos de idade.
</p>

<div id="1"></div>
<h2><a href="#1">1. Sua Conta de Usuário em <%= SiteSetting.company_domain %></h2>
<p>
  Se você criar uma conta de usuário neste Website, você é responsável por manter a segurança da sua conta e você é totalmente responsável por todas as atividades que ocorrerem através da sua conta. Você deve notificar <%= SiteSetting.company_short_name %> imediatamente sobre qualquer uso não autorizado da sua conta ou qualquer outra brecha de segurança. <%= SiteSetting.company_short_name %> não será responsável por nenhum ato ou omissão de sua parte, incluindo quaisquer danos de qualquer tipo ocorridos como consequência de tais atos ou omissões.
</p>

<div id="2"></div>
<h2><a href="#2">2. Responsabilidade dos Contribuidores</a></h2>
<p>Se você enviar qualquer material a este Website, postar links neste Website, ou ainda tornar (ou permitir que terceiros o façam) material disponível por meio deste Website (qualquer material, entendido como "Conteúdo"), você é inteiramente responsável pelo conteúdo, e qualquer dano resultante desse Conteúdo. Isto se aplica independentemente de se o Conteúdo em questão é constituído por textos, gráficos, um arquivo de áudio ou software de computador. Ao disponibilizar Conteúdo, você declara e garante que:
</p>
<ul>
  <li>o download, cópia e uso do Conteúdo não violará os direitos de propriedade, incluindo mas não se limitando aos direitos autorais, patentes, marcas ou direitos de segredo comercial, de qualquer terceiro;</li>
  <li>se o seu empregador tem direitos de propriedade intelectual sobre o que você cria, você tem que ter (i) uma permissão do seu empregador para publicar ou tornar disponível o Conteúdo, incluindo mas não limitado a qualquer software, ou (ii) uma garantia que seu empregador renunciou a todos os direitos relacionados ao Conteúdo;</li>
  <li>ter cumprido plenamente quaisquer licenças de terceiros relativas ao Conteúdo, e ter atendido todas as condições necessárias para disponibilizar o Conteúdo para os usuários finais com sucesso;</li>
  <li>o Conteúdo não contém ou instala qualquer vírus, worms, cavalos de tróia, malware ou quaisquer outros conteúdos prejudiciais ou destrutivos;</li>
  <li>o Conteúdo não é spam, não é gerado por máquina ou gerado aleatoriamente, e não contém conteúdo comercial antiético ou indesejado projetados para direcionar o tráfego para sites de terceiros ou impulsionar os rankings de mecanismos de busca para sites de terceiros, ou a outros atos ilícitos (como phishing) ou enganar os destinatários quanto à fonte do material (falsificação);</li>
  <li>o Conteúdo não é pornográfico, não contém ameaças ou incita violência, e não viola a privacidade ou direitos publicitários de terceiros;</li>
  <li>seu conteúdo não está sendo anunciado através de mensagens eletrônicas indesejadas como links de spam em newsgroups, listas de e-mail, blogs e sites, e similares métodos promocionais não solicitados;</li>
  <li>seu conteúdo não é assinado de forma que engane os seus leitores, levando-os a pensar que você é outra pessoa ou empresa; e</li>
  <li>no caso de Conteúdo que inclua código de computador, você tenha categorizado com precisão e/ou descrito o tipo, a natureza, os usos e os efeitos dos materiais, tenha sido solicitado a fazê-lo por <%= SiteSetting.company_short_name %> ou não.</li>
</ul>

<div id="3"></div>
<h2><a href="#3">3. Licença de Conteúdo do Usuário</a></h2>
<%= markdown_content(:tos_user_content_license) %>

<div id="4"></div>
<h2><a href="#4">4. Pagamento e Renovação</a></h2>
<h3>Termos Gerais</h3>
<p>
  Serviços ou atualizações pagas opcionais podem estar disponíveis no site. Ao utilizar um serviço ou atualização pagos opcionais, você concorda em pagar a <%= SiteSetting.company_short_name %> as taxas mensais ou anuais de assinatura indicados. Os pagamentos serão cobrados em uma base pré-paga no dia em que começar a utilizar o serviço ou atualização e cobrirá o uso desse serviço ou atualização para um período de subscrição mensal ou anual, conforme indicado. Estas taxas não são reembolsáveis.
</p>
<h3>Renovação Automática</h3>
<p>A menos que você informe <%= SiteSetting.company_short_name %> antes do final do período de subscrição aplicável que você deseja cancelar um serviço ou atualização, sua assinatura será renovada automaticamente e você autoriza a cobrança de taxa de assinatura anual ou mensal então aplicável (bem como todos os impostos), utilizando qualquer cartão de crédito ou outro mecanismo de pagamento que você nos tenha fornecido. As subscrições podem ser canceladas a qualquer momento.
</p>

<div id="5"></div>
<h2><a href="#5">5. Serviços</a></h2>
<h3>Da Hospedagem e Serviços de Suporte</h3>
<p>Hospedagem Opcional e Serviços de Suporte podem ser fornecidos de acordo com os termos e condições para cada um desses serviços. Ao subscrever-se numa conta de serviços de Hospedagem/Suporte ou de Suporte, você concorda em cumprir estes termos e condições.
</p>

<div id="6"></div>
<h2><a href="#6">6. Responsabilidade dos Visitantes do Website</a></h2>
<p>
  <%= SiteSetting.company_short_name %> não revisou e não pode revisar todo o material, incluindo programas de computador, postado neste Website, e não pode, portanto, ser responsável pelo conteúdo, uso ou efeitos desse material. Por operar o Website, isso não significa nem implica que <%= SiteSetting.company_short_name %> concorda com o material publicado, ou que acredita que tal material possa ser exato, útil ou não prejudicial. Você é responsável por tomar as precauções necessárias para proteger a si e seus sistemas de computador contra vírus, worms, cavalos de tróia e outros conteúdos prejudiciais ou destrutivos. O Website pode conter conteúdo que é ofensivo, indecente, ou de alguma maneira repreensível, bem como conteúdo contendo imprecisões técnicas, erros tipográficos e outros erros. O Website também pode conter material que viole os direitos de privacidade ou publicidade, ou infrinja a propriedade intelectual e outros direitos de propriedade, de terceiros, ou o download, cópia ou uso destes, que estão sujeitos a termos e condições adicionais, declarados ou não. <%= SiteSetting.company_short_name %> exime-se de qualquer responsabilidade por qualquer dano resultante do uso pelos visitantes do Website, ou de qualquer download feito pelos visitantes do conteúdo publicado no mesmo.
</p>

<div id="7"></div>
<h2><a href="#7">7. Conteúdo Postado em Outros Websites</a></h2>
<p>Nós não revisamos, e não podemos revisar, todo o material, incluindo programas de computador, disponibilizados através dos sites e das páginas da web para as quais existam links em <%= SiteSetting.company_domain %>, e nas quais existam links para <%= SiteSetting.company_domain %>. <%= SiteSetting.company_short_name %> não tem qualquer controle sobre as páginas da web ou sites externos, e não é responsável por seu conteúdo ou sua utilização. Por conter links para páginas da web ou sites externos, isso não significa nem implica que <%= SiteSetting.company_short_name %> aprova tais sites ou páginas da web. Você é responsável por tomar as precauções necessárias para proteger a si e seus sistemas de computador contra vírus, worms, cavalos de tróia e outros conteúdos prejudiciais ou destrutivos. <%= SiteSetting.company_short_name %> exime-se de qualquer responsabilidade por qualquer dano resultante do uso de quaisquer páginas da web ou sites externos.
</p>

<div id="8"></div>
<h2><a href="#8">8. Violação de Direitos Autorais e DMCA</a></h2>
<p>
  Assim como <%= SiteSetting.company_short_name %> solicita aos outros que respeitem os seus direitos de propriedade intelectual, <%= SiteSetting.company_short_name %> respeita os direitos de propriedade intelectual de terceiros. Se você acredita que há algum material em ou linkado por <%= SiteSetting.company_domain %> que viola seus direitos autorais, e se este site reside nos EUA, você é encorajado a notificar <%= SiteSetting.company_short_name %> em conformidade com a política de <a href="http://en.wikipedia.org/wiki/Digital_Millennium_Copyright_Act">Digital Millennium Copyright Act</a> (“DMCA“) de <%= SiteSetting.company_short_name %>. <%= SiteSetting.company_short_name %> irá responder a todas estas notificações, incluindo, se for solicitado ou apropriado, através da remoção do material ilícito ou desativando todos os links para o material ilícito. <%= SiteSetting.company_short_name %> cancelará o acesso do visitante e o uso do Website se, sob circunstâncias apropriadas, o visitante for identificado como um reincidente infrator de direitos autorais, ou de outros direitos de propriedade intelectual, de ou outros direitos. No caso de tal cancelamento, <%= SiteSetting.company_short_name %> não terá obrigação de fazer reembolso de quaisquer montantes pagos para <%= SiteSetting.company_short_name %>.
</p>

<div id="9"></div>
<h2><a href="#9">9. Propriedade Intelectual</a></h2>
<p>
  Este Acordo não transfere de <%= SiteSetting.company_short_name %> para você qualquer propriedade intelectual de <%= SiteSetting.company_short_name %> ou de terceiros, e todos os direitos, títulos e interesses relativos a essa propriedade permanecerão (entre as partes) apenas com <%= SiteSetting.company_short_name %>. <%= SiteSetting.company_short_name %>, <%= SiteSetting.company_domain %>, o logotipo de <%= SiteSetting.company_domain %>, e todas as demais marcas, marcas de serviço, gráficos e logotipos utilizados em conexão com <%= SiteSetting.company_domain %>, ou com este Website são marcas registradas de <%= SiteSetting.company_short_name %> ou de seus licenciadores. Outras marcas, marcas de serviço, gráficos e logotipos utilizados em conexão com este Website podem ser marcar registradas de outros terceiros. A sua utilização deste Website não lhe concede qualquer direito ou licença para reproduzir ou utilizar de qualquer outra forma quaisquer marcas registradas de <%= SiteSetting.company_short_name %> ou de terceiros.
</p>

<div id="10"></div>
<h2><a href="#10">10. Anúncios</a></h2>
<p><%= SiteSetting.company_short_name %> reserva-se o direito de exibir anúncios em seu conteúdo, a menos que você tenha comprado uma atualização Livre de Anúncios ou uma conta de Serviços.</p>

<div id="11"></div>
<h2><a href="#11">11. Autoria</a></h2>
<p><%= SiteSetting.company_short_name %> reserva-se o direito de exibir links de autoria como 'Desenvolvido por <%= SiteSetting.company_domain %>', autor do tema, e autoria da fonte no rodapé de seu conteúdo ou barra de ferramentas. Os créditos de rodapé e a barra de ferramentas de <%= SiteSetting.company_domain %> não podem ser removidos independentemente das atualizações adquiridas.</p>

<div id="12"></div>
<h2><a href="#12">12. Alterações</a></h2>
<p>
  <%= SiteSetting.company_short_name %> se reserva o direito de, a seu exclusivo critério, modificar ou substituir qualquer parte do presente Acordo. É sua responsabilidade verificar este Acordo periodicamente por mudanças. Seu uso continuado ou acesso a este Website após a publicação de quaisquer alterações ao presente Acordo constitui sua aceitação dessas alterações. <%= SiteSetting.company_short_name %> também pode, no futuro, oferecer novos serviços e/ou recursos por meio deste Website (incluindo o lançamento de novas ferramentas e recursos). Tais novas funcionalidades e/ou serviços estarão sujeitas aos termos e condições deste Contrato.
</p>

<div id="13"></div>
<h2><a href="#13">13. Cancelamento</a></h2>
<p>
  <%= SiteSetting.company_short_name %> poderá cancelar seu acesso a todo ou a qualquer parte do Website, a qualquer momento, com ou sem motivo, com ou sem aviso prévio, imediatamente. Se você quiser rescindir este Acordo ou cancelar a sua conta em <%= SiteSetting.company_domain %> (se você tiver uma), você pode simplesmente interromper o uso deste Website. Todas as disposições do presente Acordo, que por sua natureza devem sobreviver à rescisão, irão sobreviver à rescisão, incluindo, sem limitação, as disposições de propriedade, isenções de garantia, indenização e limitações de responsabilidade.
</p>

<div id="14"></div>
<h2><a href="#14">14. Isenção de Garantias</a></h2>
<p>
  O Website é fornecido “como está“. <%= SiteSetting.company_short_name %> e seus fornecedores e licenciadores por este meio renunciam todas as garantias de qualquer tipo, expressas ou implícitas, incluindo, sem limitação, as garantias de comercialização, adequação a uma finalidade específica e não-violação. Nem  <%= SiteSetting.company_short_name %> nem os seus fornecedores e licenciadores, dão qualquer garantia de que este Website será livre de erros ou de que o acesso ao mesmo será contínuo ou ininterrupto. Se você está lendo isso, aqui está <a href="http://www.newyorker.com/online/blogs/shouts/2012/12/the-hundred-best-lists-of-all-time.html">uma surpresa</a>. Você compreende que você faz download, ou obtém conteúdo de qualquer outra maneira através deste Website, por sua própria conta e risco.
</p>

<div id="15"></div>
<h2><a href="#15">15. Limitação de Responsabilidade</a></h2>
<p>
<%= SiteSetting.company_short_name %> ou seus fornecedores ou licenciadores, em relação a qualquer assunto deste Acordo, sob qualquer contrato, negligência, responsabilidade estrita ou outra teoria legal ou equitativa, em nenhuma circunstância serão responsáveis por: (i) quaisquer danos especiais, incidentais ou consequentes, (ii) o custo de aquisição de produtos ou serviços substitutos; (iii) a interrupção do uso ou a perda ou corrupção de dados; ou (iv) por quaisquer valores que excedam as taxas pagas por você para <%= SiteSetting.company_short_name %> no âmbito deste acordo durante os doze (12) meses anteriores à causa da ação. <%= SiteSetting.company_short_name %> não assumirá nenhuma responsabilidade por qualquer falha ou atraso devido a questões que estiverem razoavelmente fora do seu controle. O disposto neste artigo não se aplica no âmbito proibido pela lei aplicável.
</p>

<div id="16"></div>
<h2><a href="#16">16. Representação Geral e Garantia</a></h2>
<p>
Você declara e garante que: (i) seu uso deste Website será em estrita conformidade com a <a href="<%=privacy_path%>">Política de Privacidade</a> de <%= SiteSetting.company_short_name %>,  <a href="<%=faq_path%>">Diretrizes da Comunidade</a>, com este Acordo e com todas as leis e regulamentos (incluindo, sem restrição, quaisquer leis ou regulamentos locais em seu país, estado, cidade, ou outra área governamental, em relação à conduta on-line e conteúdo aceitável, incluindo todas as leis aplicáveis ​​com relação à transmissão de dados exportados do país ​​no qual este site reside ou do país em que você reside) e (ii) seu uso deste Website não infringe ou desvia os direitos de propriedade intelectual de terceiros.
</p>

<div id="17"></div>
<h2><a href="#17">17. Indenização</a></h2>
<p>
Você concorda em indenizar e isentar <%= SiteSetting.company_short_name %>, seus contratados, e seus licenciadores, e seus respectivos conselheiros, diretores, empregados e agentes de e contra todas e quaisquer reivindicações e despesas, incluindo honorários advocatícios, decorrentes de sua utilização do Website, incluindo mas não se limitando à sua violação deste Acordo.
</p>

<div id="18"></div>
<h2><a href="#18">18. Diversos</a></h2>
<%= markdown_content(:tos_miscellaneous) %>

<p>
  A licença deste documento é <a href="http://creativecommons.org/licenses/by-sa/3.0/br/">CC-BY-SA</a>. Foi atualizado pela última vez em 31 de maio de 2013.<br/>
  Originalmente adaptado dos <a href="http://en.wordpress.com/tos/">Termos de Serviço do Wordpress</a>.
</p>
