<ul class="nav-pills">
  <li><a href="/faq">常见问答（FAQ）</a></li>
  <li><a class="active" href="/tos">服务条款</a></li>
  <li><a href="/privacy">隐私条款</a></li>
</ul>

<p>
  The following terms and conditions govern all use of the <%= SiteSetting.company_domain %> website and all content, services and products available at or through the website, including, but not limited to, <%= SiteSetting.company_domain %> Forum Software, <%= SiteSetting.company_domain %> Support Forums and the <%= SiteSetting.company_domain %> Hosting service (“Hosting”), (taken together, the Website). The Website is owned and operated by <%= SiteSetting.company_full_name %> (“<%= SiteSetting.company_short_name %>”). The Website is offered subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies (including, without limitation, <%= SiteSetting.company_domain %>’s <a href="/privacy">Privacy Policy</a> and <a href="/faq">Community Guidelines</a>) and procedures that may be published from time to time on this Site by <%= SiteSetting.company_short_name %> (collectively, the “Agreement”).
</p>

<p>
  Please read this Agreement carefully before accessing or using the Website. By accessing or using any part of the web site, you agree to become bound by the terms and conditions of this agreement. If you do not agree to all the terms and conditions of this agreement, then you may not access the Website or use any services. If these terms and conditions are considered an offer by <%= SiteSetting.company_short_name %>, acceptance is expressly limited to these terms. The Website is available only to individuals who are at least 13 years old.
</p>

<div id="1"></div>
<h2><a href="#1">1. Your <%= SiteSetting.company_domain %> Account</a></h2>
<p>
  If you create an account on the Website, you are responsible for maintaining the security of your account and you are fully responsible for all activities that occur under the account. You must immediately notify <%= SiteSetting.company_short_name %> of any unauthorized uses of your account or any other breaches of security. <%= SiteSetting.company_short_name %> will not be liable for any acts or omissions by you, including any damages of any kind incurred as a result of such acts or omissions.
</p>

<div id="2"></div>
<h2><a href="#2">2. Responsibility of Contributors</a></h2>
<p>If you post material to the Website, post links on the Website, or otherwise make (or allow any third party to make) material available by means of the Website (any such material, “Content”), You are entirely responsible for the content of, and any harm resulting from, that Content. That is the case regardless of whether the Content in question constitutes text, graphics, an audio file, or computer software. By making Content available, you represent and warrant that:
</p>
<ul>
  <li>the downloading, copying and use of the Content will not infringe the proprietary rights, including but not limited to the copyright, patent, trademark or trade secret rights, of any third party;</li>
  <li>if your employer has rights to intellectual property you create, you have either (i) received permission from your employer to post or make available the Content, including but not limited to any software, or (ii) secured from your employer a waiver as to all rights in or to the Content;</li>
  <li>you have fully complied with any third-party licenses relating to the Content, and have done all things necessary to successfully pass through to end users any required terms;</li>
  <li>the Content does not contain or install any viruses, worms, malware, Trojan horses or other harmful or destructive content;</li>
  <li>the Content is not spam, is not machine- or randomly-generated, and does not contain unethical or unwanted commercial content designed to drive traffic to third party sites or boost the search engine rankings of third party sites, or to further unlawful acts (such as phishing) or mislead recipients as to the source of the material (such as spoofing);</li>
  <li>the Content is not pornographic, does not contain threats or incite violence, and does not violate the privacy or publicity rights of any third party;</li>
  <li>your content is not getting advertised via unwanted electronic messages such as spam links on newsgroups, email lists, blogs and web sites, and similar unsolicited promotional methods;</li>
  <li>your content is not named in a manner that misleads your readers into thinking that you are another person or company; and</li>
  <li>you have, in the case of Content that includes computer code, accurately categorized and/or described the type, nature, uses and effects of the materials, whether requested to do so by <%= SiteSetting.company_short_name %> or otherwise.</li>
</ul>

<div id="3"></div>
<h2><a href="#3">3. User Content License</a></h2>
<%= markdown_content(:tos_user_content_license) %>

<div id="4"></div>
<h2><a href="#4">4. Payment and Renewal</a></h2>
<h3>General Terms</h3>
<p>
  Optional paid services such as extra storage, or domain purchases are available on the Website (any such services, an “Upgrade”). By selecting an Upgrade you agree to pay <%= SiteSetting.company_short_name %> the monthly or annual subscription fees indicated for that service. Payments will be charged on a pre-pay basis on the day you sign up for an Upgrade and will cover the use of that service for a monthly or annual subscription period as indicated. Upgrade fees are not refundable.
</p>
<h3>Automatic Renewal</h3>
<p>Unless you notify <%= SiteSetting.company_short_name %> before the end of the applicable subscription period that you want to cancel an Upgrade, your Upgrade subscription will automatically renew and you authorize us to collect the then-applicable annual or monthly subscription fee for such Upgrade (as well as any taxes) using any credit card or other payment mechanism we have on record for you. Upgrades can be canceled at any time in the Upgrades section of your site’s dashboard.
</p>

<div id="5"></div>
<h2><a href="#5">5. Services</a></h2>
<h3>Hosting, Support Services</h3>
<p>Hosting and Support services are provided by <%= SiteSetting.company_short_name %> under the terms and conditions for each such service, which are located at /hosting-tos and /support-tos, respectively. By signing up for a Hosting/Support or Support services account, you agree to abide by such terms and conditions.
</p>

<div id="6"></div>
<h2><a href="#6">6. Responsibility of Website Visitors</a></h2>
<p>
  <%= SiteSetting.company_short_name %> has not reviewed, and cannot review, all of the material, including computer software, posted to the Website, and cannot therefore be responsible for that material’s content, use or effects. By operating the Website, <%= SiteSetting.company_short_name %> does not represent or imply that it endorses the material there posted, or that it believes such material to be accurate, useful or non-harmful. You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content. The Website may contain content that is offensive, indecent, or otherwise objectionable, as well as content containing technical inaccuracies, typographical mistakes, and other errors. The Website may also contain material that violates the privacy or publicity rights, or infringes the intellectual property and other proprietary rights, of third parties, or the downloading, copying or use of which is subject to additional terms and conditions, stated or unstated. <%= SiteSetting.company_short_name %> disclaims any responsibility for any harm resulting from the use by visitors of the Website, or from any downloading by those visitors of content there posted.
</p>

<div id="7"></div>
<h2><a href="#7">7. Content Posted on Other Websites</a></h2>
<p>We have not reviewed, and cannot review, all of the material, including computer software, made available through the websites and webpages to which <%= SiteSetting.company_domain %> links, and that link to <%= SiteSetting.company_domain %>. <%= SiteSetting.company_short_name %> does not have any control over those non-<%= SiteSetting.company_domain %> websites and webpages, and is not responsible for their contents or their use. By linking to a non-<%= SiteSetting.company_domain %> website or webpage, <%= SiteSetting.company_short_name %> does not represent or imply that it endorses such website or webpage. You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content. <%= SiteSetting.company_short_name %> disclaims any responsibility for any harm resulting from your use of non-WordPress websites and webpages.
</p>

<div id="8"></div>
<h2><a href="#8">8. Copyright Infringement and DMCA Policy</a></h2>
<p>
  As <%= SiteSetting.company_short_name %> asks others to respect its intellectual property rights, it respects the intellectual property rights of others. If you believe that material located on or linked to by <%= SiteSetting.company_domain %> violates your copyright, and if this website resides in the USA, you are encouraged to notify <%= SiteSetting.company_short_name %> in accordance with <%= SiteSetting.company_short_name %>’s <a href="http://en.wikipedia.org/wiki/Digital_Millennium_Copyright_Act">Digital Millennium Copyright Act</a> (“DMCA”) Policy. <%= SiteSetting.company_short_name %> will respond to all such notices, including as required or appropriate by removing the infringing material or disabling all links to the infringing material. <%= SiteSetting.company_short_name %> will terminate a visitor’s access to and use of the Website if, under appropriate circumstances, the visitor is determined to be a repeat infringer of the copyrights or other intellectual property rights of <%= SiteSetting.company_short_name %> or others. In the case of such termination, <%= SiteSetting.company_short_name %> will have no obligation to provide a refund of any amounts previously paid to <%= SiteSetting.company_short_name %>.
</p>

<div id="9"></div>
<h2><a href="#9">9. Intellectual Property</a></h2>
<p>
  This Agreement does not transfer from <%= SiteSetting.company_short_name %> to you any <%= SiteSetting.company_short_name %> or third party intellectual property, and all right, title and interest in and to such property will remain (as between the parties) solely with <%= SiteSetting.company_short_name %>. <%= SiteSetting.company_short_name %>, <%= SiteSetting.company_domain %>, the <%= SiteSetting.company_domain %> logo, and all other trademarks, service marks, graphics and logos used in connection with <%= SiteSetting.company_domain %>, or the Website are trademarks or registered trademarks of <%= SiteSetting.company_short_name %> or <%= SiteSetting.company_short_name %>’s licensors. Other trademarks, service marks, graphics and logos used in connection with the Website may be the trademarks of other third parties. Your use of the Website grants you no right or license to reproduce or otherwise use any <%= SiteSetting.company_short_name %> or third-party trademarks.
</p>

<div id="10"></div>
<h2><a href="#10">10. Advertisements</a></h2>
<p><%= SiteSetting.company_short_name %> reserves the right to display advertisements on your content unless you have purchased an Ad-free Upgrade or a Services account.</p>

<div id="11"></div>
<h2><a href="#11">11. Attribution</a></h2>
<p><%= SiteSetting.company_short_name %> reserves the right to display attribution links such as ‘Powered by <%= SiteSetting.company_domain %>,’ theme author, and font attribution in your content footer or toolbar. Footer credits and the <%= SiteSetting.company_domain %> toolbar may not be removed regardless of upgrades purchased.</p>

<div id="12"></div>
<h2><a href="#12">12. Changes</a></h2>
<p>
<%= SiteSetting.company_short_name %> reserves the right, at its sole discretion, to modify or replace any part of this Agreement. It is your responsibility to check this Agreement periodically for changes. Your continued use of or access to the Website following the posting of any changes to this Agreement constitutes acceptance of those changes. <%= SiteSetting.company_short_name %> may also, in the future, offer new services and/or features through the Website (including, the release of new tools and resources). Such new features and/or services shall be subject to the terms and conditions of this Agreement.
</p>

<div id="13"></div>
<h2><a href="#13">13. Termination</a></h2>
<p>
<%= SiteSetting.company_short_name %> may terminate your access to all or any part of the Website at any time, with or without cause, with or without notice, effective immediately. If you wish to terminate this Agreement or your <%= SiteSetting.company_domain %> account (if you have one), you may simply discontinue using the Website. All provisions of this Agreement which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
</p>

<div id="14"></div>
<h2><a href="#14">14. Disclaimer of Warranties</a></h2>
<p>
The Website is provided “as is”. <%= SiteSetting.company_short_name %> and its suppliers and licensors hereby disclaim all warranties of any kind, express or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement. Neither <%= SiteSetting.company_short_name %> nor its suppliers and licensors, makes any warranty that the Website will be error free or that cess thereto will be continuous or uninterrupted. If you’re actually reading this, here’s <a href="http://www.newyorker.com/online/blogs/shouts/2012/12/the-hundred-best-lists-of-all-time.html">a treat</a>. You understand that you download from, or otherwise obtain content or services through, the Website at your own discretion and risk.
</p>

<div id="15"></div>
<h2><a href="#15">15. Limitation of Liability</a></h2>
<p>
In no event will <%= SiteSetting.company_short_name %>, or its suppliers or licensors, be liable with respect to any subject matter of this agreement under any contract, negligence, strict liability or other legal or equitable theory for: (i) any special, incidental or consequential damages; (ii) the cost of procurement for substitute products or services; (iii) for interruption of use or loss or corruption of data; or (iv) for any amounts that exceed the fees paid by you to <%= SiteSetting.company_short_name %> under this agreement during the twelve (12) month period prior to the cause of action. <%= SiteSetting.company_short_name %> shall have no liability for any failure or delay due to matters beyond their reasonable control. The foregoing shall not apply to the extent prohibited by applicable law.
</p>

<div id="16"></div>
<h2><a href="#16">16. General Representation and Warranty</a></h2>
<p>
You represent and warrant that (i) your use of the Website will be in strict accordance with the <%= SiteSetting.company_short_name %> <a href="/privacy">Privacy Policy</a>, <a href="/faq">Community Guidelines</a>, with this Agreement and with all applicable laws and regulations (including without limitation any local laws or regulations in your country, state, city, or other governmental area, regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from the country in which this website resides or the country in which you reside) and (ii) your use of the Website will not infringe or misappropriate the intellectual property rights of any third party.
</p>

<div id="17"></div>
<h2><a href="#17">17. Indemnification</a></h2>
<p>
You agree to indemnify and hold harmless <%= SiteSetting.company_short_name %>, its contractors, and its licensors, and their respective directors, officers, employees and agents from and against any and all claims and expenses, including attorneys’ fees, arising out of your use of the Website, including but not limited to your violation of this Agreement.
</p>

<div id="18"></div>
<h2><a href="#18">18. Miscellaneous</a></h2>
<%= markdown_content(:tos_miscellaneous) %>
