<ul class="nav-pills">
  <li><a href="<%=faq_path%>">FAQ</a></li>
  <li><a class="active" href="<%=tos_path%>">Условия предоставления услуг</a></li>
  <li><a href="<%=privacy_path%>">Конфиденциальность</a></li>
</ul>

<p>
  Следующие условия регулируют использование  <%= SiteSetting.company_domain %> сайта и его содержимого, сервисов и продуктов, доступных на сайте или посредством сайта, включая, но не ограничиваясь программным обеспечением форума <%= SiteSetting.company_domain %>, вспомогательных форумов <%= SiteSetting.company_domain %> и хостинга <%= SiteSetting.company_domain %> (“Хостинг”), (в дальнейшем - Сайт). Сайт принадлежит и обслуживается <%= SiteSetting.company_full_name %> (“<%= SiteSetting.company_short_name %>”). Используя данный Сайт, вы соглашаетесь со всеми условиями, представленными в данном документе, и другими правилами и политикой  (включая, без ограничений, <a href="<%=privacy_path%>">политику конфиденциальности</a> и <a href="<%=faq_path%>">правила сообщества сайта</a> <%= SiteSetting.company_domain %>), и процедурами, которые могут быть размещены  <%= SiteSetting.company_short_name %> на данном Сайте (обобщенно, "Соглашение").
</p>

<p>
  Пожалуйста, прежде чем посетить и воспользоваться Сайтом, внимательно ознакомьтесь с данным Соглашением. Посещая и используя любую часть Сайта, вы соглашаетесь с тем, что вы приняли условия данного Соглашения. Если вы не согласны с условиями этого Соглашения, то вам не следует посещать данный Сайт и пользоваться его услугами. Если эти условия - это то, что предлагает <%= SiteSetting.company_short_name %>, значит ваше согласие явно ограничивается этими условиями.  Сайтом можно пользоваться только по достижении 13 лет.
</p>

<div id="1"></div>
<h2><a href="#1">1. Ваша учётная запись на сайте <%= SiteSetting.company_domain %></a></h2>
<p>
  Создавая учетную запись на Сайте, вы соглашаетесь, что будете полностью отвечать за её безопасность и за все действия, происходящие от имени вашей учетной записи. Немедленно сообщите <%= SiteSetting.company_short_name %> о любом незаконном использовании вашей учетной записи или других нарушениях безопасности. <%= SiteSetting.company_short_name %> не несет ответственности за ваши действия или отсутствие действий, включая любые убытки, понесенные в результате этих действий или бездействия.
</p>

<div id="2"></div>
<h2><a href="#2">2. Ответственность участников</a></h2>
<p>Размещая на Сайте информацию, файлы, ссылки на другие сайты, предоставляя доступ к подобной информации или позволяя сторонним лицам размещать информацию (далее - "Информация") , вы становитесь полностью ответственными за эту Информацию и за любой вред, нанесенный ей,  независимо от того, текст это, изображение, аудио файл или программное обеспечение. Размещая Информацию, вы понимаете и гарантируете то, что:
</p>
<ul>
  <li>загрузка, копирование и использование Информации не нарушит право собственности, включая, но не ограничиваясь, авторским правом, патентом, торговой маркой или правом на коммерческую тайну любых третьих лиц;</li>
  <li>если ваш работодатель имеет право на интеллектуальную собственность, которую вы создаете, вы должны либо (I) получить разрешение от вашего работодателя на размещение Информации, или право доступа к Информации, включая, но не ограничиваясь, любым программным обеспечением, или (II) получить от вашего работодателя отказ от всех прав на использование Информации;</li>
  <li>вы полностью соблюдаете все сторонние лицензии, относящиеся к Информации, и сделали все необходимое, чтобы донести до конечных пользователей все необходимые условия по использованию Информации;</li>
  <li>Информация не содержит и не устанавливает никаких вирусов, червей, вредоносных программ, троянов и другого вредоносного и разрушительного ПО;</li>
  <li>Информация не является СПАМом, не сгенерирована случайным образом или  вычислительной машиной, не содержит нежелательного коммерческого содержания, предназначенного для передачи траффика третьим лицам, или повышения рейтинга сайтов сторонних лиц поисковыми агентами, или для других незаконных действий (например, фишинг), и не вводит в заблуждение получателей материала (спуфинг);</li>
  <li>данная Информация не имеет порнографического характера, не содержит угрозу или призыв к насилию и не нарушает частных и публичных прав любых третьих лиц;</li>
  <li>Ваша информация не рекламируется через нежелательные электронные сообщения, такие как спам-ссылки на группы новостей, списки адресов электронной почты, блогов и веб-сайтов, и аналогичные нежелательные рекламные методы;</li>
  <li>ваша Информация не вводит читателя в заблуждение относительно вашей личности; и</li>
  <li>если Информация включает в себя программный код, вы должны аккуратно описать тип, характер, использование и эффекты применения материала, если это будет запрошено <%= SiteSetting.company_short_name %> или в любых других случаях.</li>
</ul>

<div id="3"></div>
<h2><a href="#3">3. Лицензированная Информация</a></h2>
<%= markdown_content(:tos_user_content_license) %>

<div id="4"></div>
<h2><a href="#4">4. Оплата и Обновление</a></h2>
<h3>Общие условия</h3>
<p>
  Необязательные оплачиваемые услуги и улучшения могут быть доступны на Сайте. Используя необязательную услугу или улучшение, вы соглашаетесь платить <%= SiteSetting.company_short_name %> установленную месячную или годовую стоимость подписки. Оплата будет взята в день начала пользования услугой или улучшением, и покроет их использование на период подписки (месяц или год). Оплаченные средства не возвращаются.
</p>
<h3>Автоматическое обновление</h3>
<p>Если вы не сообщили <%= SiteSetting.company_short_name %> до конца периода оплаты о желании отменить подписку на пользование Дополнительной услугой, ежемесячная или ежегодная подписка будет продлена автоматически на действующий срок, а оплата за подписку (включая налог) будет произведена с кредитной карты или другим методом, которым вы пользовались ранее. Подписка может быть прекращена в любое время.
</p>

<div id="5"></div>
<h2><a href="#5">5. Услуги</a></h2>
<h3>Хостинг, Сервисы поддержки</h3>
<p>Компания <%= SiteSetting.company_short_name %> может предоставлять дополнительные услуги в соответствии с дополнительными условиями для каждого вида услуг. Создавая учетную запись для Хостинга/Поддержки или Службы поддержки, вы соглашаетесь соблюдать условия использования.
</p>

<div id="6"></div>
<h2><a href="#6">6. Ответственность посетителей Сайта</a></h2>
<p>
  <%= SiteSetting.company_short_name %> не проверяет, и не может проверять весь материал, включая компьютерные программы, размещаемые на Сайте, и не может, поэтому, быть ответственным за содержание этого материала, его использование и последствия использования. Оперируя Сайтом, <%= SiteSetting.company_short_name %> не заявляет, что одобряет размещённый на нём материал, или что считает, что такие материалы безопасны, полезны и точны. Вы должны самостоятельно принимать все меры для обеспечения безопасности себя и ваших компьютерных систем от вирусов, червей, Троянов и другого опасного и разрушительного материала.  Сайт может содержать Информацию, которая является оскорбительной, непристойной, а также материалы, содержащие технические неточности, опечатки и другие ошибки. Сайт может содержать материалы, которые нарушают неприкосновенность личной жизни и права на публикацию, или интеллектуальную собственность и другие права собственности третьих лиц, или загрузка, копирование или использование которых является предметом дополнительных условий, заявленных и не заявленных. <%= SiteSetting.company_short_name %> не несет никакой ответственности за любой ущерб, возникший в результате использования Сайта, или за любую загрузку размещенного там материала.
</p>

<div id="7"></div>
<h2><a href="#7">7. Материалы, размещенные на других сайтах</a></h2>
<p>Мы не проверяем и не можем проверять все материалы, включая компьютерные программы, которые доступны на сайтах или  страницах, куда ссылается <%= SiteSetting.company_domain %> , и которые ссылаются на <%= SiteSetting.company_domain %>. <%= SiteSetting.company_short_name %> не контролирует эти не-<%= SiteSetting.company_domain %> сайты и страницы, и не несет ответственности за размещенную на них информацию или их использование. Ссылаясь на не-<%= SiteSetting.company_domain %> сайт и страницу, <%= SiteSetting.company_short_name %> не заявляет, что поддерживает такие веб-сайт или веб-страницы.  Вы должны самостоятельно принимать все меры для обеспечения безопасности себя и ваших компьютерных систем от вирусов, червей, Троянов и другого опасного и разрушительного материала. <%= SiteSetting.company_short_name %> не несет ответственности за любой ущерб, явившийся следствием использования не-<%= SiteSetting.company_domain %> сайтов и страниц.
</p>

<div id="8"></div>
<h2><a href="#8">8. Нарушение авторского права и Закон об авторском праве </a></h2>
<p>
  <%= SiteSetting.company_short_name %> просит других уважать свои права на интеллектуальную собственность, и уважает права интеллектуальной собственности других лиц. Если вы уверены, что материал, размещенный на или связанный с <%= SiteSetting.company_domain %> нарушает ваше авторское право, и если этот веб-сайт расположен в США, мы просим вас сообщить об этом <%= SiteSetting.company_short_name %> в соответствии с политикой<%= SiteSetting.company_short_name %> <a href="http://en.wikipedia.org/wiki/Digital_Millennium_Copyright_Act">Digital Millennium Copyright Act</a> (“DMCA”). <%= SiteSetting.company_short_name %> отреагирует на все подобные сообщения, удалив, по требованию и возможности, нарушающие материалы, либо убрав все ссылки на нарушающее материалы. В том случае, если действия посетителя могут привести к нарушению или неоднократному нарушению авторских прав <%= SiteSetting.company_short_name %> или нарушению любых других прав интеллектуальной собственности, <%= SiteSetting.company_short_name %> может по своему усмотрению прекратить или запретить доступ к Сайту.  В таком случае, <%= SiteSetting.company_short_name %> не имеет никаких обязательств по предоставлению возмещения каких-либо сумм, ранее оплаченных <%= SiteSetting.company_short_name %>. <%= SiteSetting.company_short_name %>.
</p>

<div id="9"></div>
<h2><a href="#9">9. Интеллектуальная собственность</a></h2>
<p>
  Согласно этому Соглашению, <%= SiteSetting.company_short_name %> не передаёт вам никакой интеллектуальной собственности <%= SiteSetting.company_short_name %> или интеллектуальной собственности третьих лиц; все права, права собственности и доли в этой собственности полностью (как оговорено сторонами) принадлежат <%= SiteSetting.company_short_name %>. <%= SiteSetting.company_short_name %>, <%= SiteSetting.company_domain %>, логотип <%= SiteSetting.company_domain %>, и все остальные товарные знаки, знаки обслуживания, графика и логотипы, используемые в связи с <%= SiteSetting.company_domain %> или Сайтом, являются товарными знаками или зарегистрированными товарными знаками лицензиаров <%= SiteSetting.company_short_name %> или <%= SiteSetting.company_short_name %>. Другие товарные знаки, знаки обслуживания, графика и логотипы, используемые в связи с Сайтом, могут принадлежать третьим лицам. То, что вы используете Сайт, не дает вам прав или лицензии на копирование или использование в других целях товарных знаков <%= SiteSetting.company_short_name %> или товарных знаков третьих лиц.
</p>

<div id="10"></div>
<h2><a href="#10">10. Реклама</a></h2>
<p><%= SiteSetting.company_short_name %> оставляет за собой право размещать рекламу где угодно на сайте, если только вы не подключили модернизацию "Без рекламы" или не приобрели Сервисную учетную запись.</p>

<div id="11"></div>
<h2><a href="#11">11. Дополнения</a></h2>
<p><%= SiteSetting.company_short_name %> оставляет за собой право отображать дополнительные ссылки, такие как "Обслуживается <%= SiteSetting.company_domain %>",  автора темы, дополнительные шрифты, в размещаемый вами текст или на панель настроек. Нижняя панель и панель инструментов <%= SiteSetting.company_domain %> не могут быть удалены, независимо от купленных Дополнительных услуг.</p>

<div id="12"></div>
<h2><a href="#12">12. Изменения</a></h2>
<p>
<%= SiteSetting.company_short_name %> оставляет за собой право, по своему усмотрению изменять или заменять любую часть этого Соглашения. Вы должны самостоятельно следить за изменениями в данном Соглашении. Ваше дальнейшее использование или доступ к Сайту после внесения любых изменений в настоящем Соглашении означает принятие этих изменений. <%= SiteSetting.company_short_name %> также может в будущем предоставить новые услуги и / или возможности через Сайт (в том числе, выпуск новых инструментов и ресурсов). Такие услуги и/или улучшения подлежат условиям настоящего Соглашения.
</p>

<div id="13"></div>
<h2><a href="#13">13. Прекращение действия</a></h2>
<p>
<%= SiteSetting.company_short_name %> может отказать вам в доступе ко всем или к любой части сайта в любое время, с или без причины, с уведомлением или без него, отказ вступает в силу немедленно. Если вы хотите расторгнуть данное Соглашение или не хотите более пользоваться вашей учетной записью на <%= SiteSetting.company_domain %> (если она у вас есть), вы можете просто прекратить пользоваться Сайтом. Все положения настоящего Соглашения, которые по своей природе действуют и после отказа от использования Сайта, остаются в силе, в том числе, без ограничения, права собственности, отказ от гарантий, возмещения и ограничения ответственности.
</p>

<div id="14"></div>
<h2><a href="#14">14. Отказ от гарантийных обязательств</a></h2>
<p>
Сайт предоставляется "как есть". <%= SiteSetting.company_short_name %> и его поставщики и лицензиары отказываются от всех гарантий, явных или подразумеваемых, включая, без ограничения, гарантии товарного состояния, пригодности для конкретной цели и не нарушения прав. Ни <%= SiteSetting.company_short_name %>, ни ее поставщики и лизензиары не дают никаких гарантий, что Сайт будет работать без ошибок и что доступ к нему будет всегда непрерывен. Если вы читаете данный текст, вот вам небольшое <a href="http://www.newyorker.com/online/blogs/shouts/2012/12/the-hundred-best-lists-of-all-time.html">развлечение</a>. Вы понимаете, что вы загружаете данные с Сайта, а также пользуетесь услугами Сайта на свой страх и риск.
</p>

<div id="15"></div>
<h2><a href="#15">15. Ограничение ответственности</a></h2>
<p>
Ни при каких обстоятельствах <%= SiteSetting.company_short_name %>, или его сотрудники или лицензиары не несут ответственности по любому из пунктов настоящего Соглашения касательно договорённости, небрежности,  возмещения ущерба или любых других юридических или косвенных намерений, повлекших за собой: (1) любые побочные или косвенные убытки; (2) расходы, связанные с приобретением или заменой любых товаров и услуг; (3) прекращение пользования, потери или повреждения данных; или (4) любые суммы, которые превышают оплаченные Вами в <%= SiteSetting.company_short_name %>  в рамках этого соглашения в течение двенадцати (12) месяцев до даты основания иска.  <%= SiteSetting.company_short_name %> не несет ответственности за невыполнение или задержку в связи со случаями, выходящими за рамки разумного. Вышесказанное не запрещено действующим законодательством.
</p>

<div id="16"></div>
<h2><a href="#16">16. Представительство и Гарантии</a></h2>
<p>
Вы заявляете и гарантируете, что (I) будете использовать Сайт в строгом соответствии с  <a href="<%=privacy_path%>">Политикой конфиденциальности</a>, <a href="<%=faq_path%>">Правилами сообщества</a> <%= SiteSetting.company_short_name %>, с настоящим Соглашением и всеми применимыми законами и правилами (включая, без ограничений, любые местные законы или правила вашей страны, штата, города , или другой правительственной области, касающиеся поведения в Интернете и приемлемого содержания, и включая все применимые законы о передаче технических данных страны, где размещён Сайт или где вы проживаете) и (II) ваше использование Сайта не будет нарушать права на интеллектуальную собственность третьих лиц.
</p>

<div id="17"></div>
<h2><a href="#17">17. Возмещение ущерба</a></h2>
<p>
Принимая настоящее Соглашение, Пользователь отказывается от любых претензий в сторону <%= SiteSetting.company_short_name %>, его подрядчиков и лицензиаров, а также  директоров, должностных лиц, сотрудников и агентов, а также возмещения расходов, включая судебные издержки, возникающие в результате вашего использования Сайта, включая, но не ограничиваясь, возникшими в результате нарушения данного Соглашения.
</p>

<div id="18"></div>
<h2><a href="#18">18. Прочее</a></h2>
<%= markdown_content(:tos_miscellaneous) %>

<p>
  Данный документ распространяется под лицензией CC-BY-SA. Дата последнего обновления - 31 мая 2013 года.<br/> Исходной версией документа является документ <a href="http://en.wordpress.com/tos/">WordPress Terms of Service</a>.
</p>
