<p>
  <%= t 'flags_reminder.flags_were_submitted', count: @hours %>
  <a href="<%= Discourse.base_url + '/admin/flags' %>"><%= t 'flags_reminder.please_review' %></a>
</p>

<table style="border-collapse: collapse; border-spacing: 0;">
  <% @posts.each do |post| %>
    <tr style="border-top: 1px solid #e9e9e9;">
      <td style="width: 25px; padding: 8px 0 0 0; text-align: center; vertical-align: top;">
        <a href='<%= Discourse.base_url + "/admin/users/#{post[:user].username.downcase}" %>'>
          <img width="25" height="25" src="<%= Discourse.base_url + post[:user].avatar_template.gsub("{size}", "45") %>" title="<%= post[:user].username %>">
        </a>
      </td>
      <td style="padding: 8px; word-wrap: break-word; vertical-align: top;">
        <h3 style="margin: 0 !important;"><%= link_to post[:title], post[:url] %></h3>
        <p style="margin: 0 2px;"><%= raw post[:excerpt] %></p>
      </td>
    </tr>
    <tr style="border-bottom: 1px solid #e9e9e9;">
      <td colspan=2 style="padding: 0px 0px 5px 33px; vertical-align: top;"><%= raw post[:html_reason_counts] %></td>
    </tr>
  <% end %>
</table>

<div class='footer'>
<p>
  <%= t 'flags_reminder.how_to_disable' %>
</p>
</div>
