<PluginOutlet
  @name="before-panel-body"
  @outletArgs={{hash closeUserMenu=@closeUserMenu}}
/>
{{#if this.loading}}
  <div class="spinner-container">
    <div class="spinner"></div>
  </div>
{{else if this.items.length}}
  <ul aria-labelledby={{@ariaLabelledby}}>
    {{#each this.items as |item|}}
      <UserMenu::MenuItem @item={{item}} @closeUserMenu={{@closeUserMenu}} />
    {{/each}}
  </ul>
  <div class="panel-body-bottom">
    {{#if this.showAllHref}}
      <DButton
        class="show-all"
        @action={{this.showAll}}
        @translatedAriaLabel={{this.showAllTitle}}
        @translatedTitle={{this.showAllTitle}}
      >
        {{d-icon "chevron-down" aria-label=this.showAllTitle}}
      </DButton>
    {{/if}}
    {{#if this.showDismiss}}
      <button
        type="button"
        class="btn btn-default notifications-dismiss btn-icon-text"
        title={{this.dismissTitle}}
        {{on "click" this.dismissButtonClick}}
      >
        {{d-icon "check"}}
        {{i18n "user.dismiss"}}
      </button>
    {{/if}}
    <PluginOutlet
      @name="panel-body-bottom"
      @outletArgs={{hash
        itemsCacheKey=this.itemsCacheKey
        closeUserMenu=@closeUserMenu
        showDismiss=this.showDismiss
        dismissButtonClick=this.dismissButtonClick
      }}
    />
  </div>
{{else}}
  <PluginOutlet
    @name="user-menu-items-list-empty-state"
    @outletArgs={{hash model=this}}
  >
    {{component this.emptyStateComponent}}
  </PluginOutlet>
{{/if}}
<PluginOutlet
  @name="after-panel-body"
  @outletArgs={{hash closeUserMenu=@closeUserMenu}}
/>