{{#if this.renderAsLink}}
  <a
    class={{this.classNames}}
    id={{this.id}}
    tabindex={{this.tabIndex}}
    aria-selected={{if this.isActive "true" "false"}}
    aria-controls={{this.ariaControls}}
    data-tab-number={{@tab.position}}
    href={{@tab.linkWhenActive}}
    {{did-insert this.focusLink}}
  >
    {{d-icon @tab.icon}}
    {{yield}}
  </a>
{{else}}
  <button
    type="button"
    role="tab"
    class={{this.classNames}}
    id={{this.id}}
    tabindex={{this.tabIndex}}
    aria-selected={{if this.isActive "true" "false"}}
    aria-controls={{this.ariaControls}}
    data-tab-number={{@tab.position}}
    {{on "click" @changeTabFunction}}
    {{!-- template-lint-disable require-context-role --}}
  >
    {{d-icon @tab.icon}}
    {{yield}}
  </button>
{{/if}}
