<li class={{this.className}}>
  <a
    href={{this.linkHref}}
    title={{this.linkTitle}}
    {{on "click" this.onClick}}
  >
    {{#if this.iconComponent}}
      <this.iconComponent @data={{this.iconComponentArgs}} />
    {{else}}
      {{d-icon this.icon}}
    {{/if}}
    <div>
      {{#if this.label}}
        <span class={{concat "item-label " this.labelClass}}>
          {{this.label}}
        </span>
      {{/if}}
      {{#if this.description}}
        <span
          class={{concat "item-description " this.descriptionClass}}
          data-topic-id={{this.topicId}}
        >
          {{this.description}}
        </span>
      {{/if}}
    </div>

    {{#if this.endComponent}}
      <this.endComponent />
    {{/if}}
  </a>
  <PluginOutlet @name="menu-item-end" @outletArgs={{this.endOutletArgs}} />
</li>