<button
  type="button"
  role="tab"
  class={{this.classNames}}
  id={{this.id}}
  tabindex={{this.tabIndex}}
  title={{@tab.title}}
  aria-selected={{if this.isActive "true" "false"}}
  aria-controls={{this.ariaControls}}
  data-tab-number={{@tab.position}}
  {{on "click" @onTabClick}}
  {{!-- template-lint-disable require-context-role --}}
>
  {{d-icon @tab.icon}}
  {{#if @tab.count}}
    <span aria-hidden="true" class="badge-notification">{{@tab.count}}</span>
  {{/if}}
  {{yield}}
</button>
