<li class={{this.className}}>
  <a
    href={{this.linkHref}}
    title={{this.linkTitle}}
    {{on "click" this.onClick}}
  >
    {{d-icon this.icon}}
    <div>
      {{#if this.label}}
        {{#if this.wrapLabel}}
          <span class={{concat "notification-label " this.labelWrapperClasses}}>
            {{this.label}}
          </span>
        {{else}}
          <span>{{this.label}}</span>
        {{/if}}
      {{/if}}
      {{#if this.description}}
        <span
          class={{concat "notification-description " this.descriptionElementClasses}}
          data-topic-id={{this.topicId}}
        >
          {{this.description}}
        </span>
      {{/if}}
    </div>
  </a>
</li>
