<ul aria-labelledby={{@ariaLabelledby}}>
  {{#if this.siteSettings.enable_user_status}}
    <li class="set-user-status">
      <DButton
        @action={{this.setUserStatusClick}}
        class="btn-flat profile-tab-btn"
      >
        {{#if this.currentUser.status}}
          {{emoji this.currentUser.status.emoji}}
          <span class="item-label">
            {{this.currentUser.status.description}}
            {{#if this.currentUser.status.ends_at}}
              {{format-age this.currentUser.status.ends_at}}
            {{/if}}
          </span>
        {{else}}
          {{d-icon "circle-plus"}}
          <span class="item-label">
            {{i18n "user_status.set_custom_status"}}
          </span>
        {{/if}}
      </DButton>
    </li>
  {{/if}}

  <li class="online" title={{i18n "presence_toggle.title"}}>
    <DButton @action={{this.togglePresence}} class="btn-flat profile-tab-btn">
      {{d-icon (if this.isPresenceHidden "toggle-on" "toggle-off")}}
      <span class="item-label">
        {{i18n "presence_toggle.label"}}
      </span>
    </DButton>
  </li>

  <li class="do-not-disturb">
    <DButton
      @action={{this.doNotDisturbClick}}
      class="btn-flat profile-tab-btn"
    >
      {{d-icon (if this.isInDoNotDisturb "toggle-on" "toggle-off")}}
      <span class="item-label">
        {{#if this.isInDoNotDisturb}}
          <span>{{i18n "pause_notifications.label"}}</span>
          {{#if this.showDoNotDisturbEndDate}}
            {{format-age this.doNotDisturbDateTime}}
          {{/if}}
        {{else}}
          {{i18n "pause_notifications.label"}}
        {{/if}}
      </span>
    </DButton>
  </li>

  <hr />

  <li class="summary">
    <LinkTo @route="user.summary" @model={{this.currentUser}}>
      {{d-icon "user"}}
      <span class="item-label">
        {{i18n "user.summary.title"}}
      </span>
    </LinkTo>
  </li>

  <li class="activity">
    <LinkTo @route="userActivity" @model={{this.currentUser}}>
      {{d-icon "bars-staggered"}}
      <span class="item-label">
        {{i18n "user.activity_stream"}}
      </span>
    </LinkTo>
  </li>

  {{#if this.currentUser.can_invite_to_forum}}
    <li class="invites">
      <LinkTo @route="userInvited" @model={{this.currentUser}}>
        {{d-icon "user-plus"}}
        <span class="item-label">
          {{i18n "user.invited.title"}}
        </span>
      </LinkTo>
    </li>
  {{/if}}

  <li class="drafts">
    <LinkTo @route="userActivity.drafts" @model={{this.currentUser}}>
      {{d-icon "user_menu.drafts"}}
      <span class="item-label">
        {{#if this.currentUser.draft_count}}
          {{i18n "drafts.label_with_count" count=this.currentUser.draft_count}}
        {{else}}
          {{i18n "drafts.label"}}
        {{/if}}
      </span>
    </LinkTo>
  </li>

  <li class="preferences">
    <LinkTo @route="preferences" @model={{this.currentUser}}>
      {{d-icon "gear"}}
      <span class="item-label">
        {{i18n "user.preferences.title"}}
      </span>
    </LinkTo>
  </li>

  {{#if this.showToggleAnonymousButton}}
    <li
      class={{if
        this.currentUser.is_anonymous
        "disable-anonymous"
        "enable-anonymous"
      }}
    >
      <DButton
        @action={{this.toggleAnonymous}}
        class="btn-flat profile-tab-btn"
      >
        {{#if this.currentUser.is_anonymous}}
          {{d-icon "ban"}}
          <span class="item-label">
            {{i18n "switch_from_anon"}}
          </span>
        {{else}}
          {{d-icon "user-secret"}}
          <span class="item-label">
            {{i18n "switch_to_anon"}}
          </span>
        {{/if}}
      </DButton>
    </li>
  {{/if}}

  {{#each this.extraItems as |item|}}
    <li class={{item.className}}>
      <a href={{item.href}}>
        {{#if item.icon}}
          {{d-icon item.icon}}
        {{/if}}
        <span class="item-label">
          {{item.content}}
        </span>
      </a>
    </li>
  {{/each}}

  <li class="logout">
    <DButton @action={{route-action "logout"}} class="btn-flat profile-tab-btn">
      {{d-icon "right-from-bracket"}}
      <span class="item-label">
        {{i18n "user.log_out"}}
      </span>
    </DButton>
  </li>
</ul>