{{hide-application-footer}}
{{html-class "admin-area"}}
{{body-class "admin-interface"}}

<div class="row">
  <div class="full-width">
    <div class="boxed white admin-content">
      <div class="admin-contents {{this.adminContentsClassName}}">
        {{outlet}}
      </div>
    </div>
  </div>
</div>