{{hide-application-footer}}
{{html-class "admin-area"}}
{{body-class "admin-interface"}}

<div class="row">
  <div class="full-width">
    {{#unless this.showAdminSidebar}}
      <div class="admin-main-nav">
        <ul class="nav nav-pills">
          <NavItem @route="admin.dashboard" @label="admin.dashboard.title" />
          {{#if this.currentUser.admin}}
            <NavItem
              @route="adminSiteSettings"
              @label="admin.site_settings.nav_title"
            />
          {{/if}}
          <NavItem @route="adminUsers" @label="admin.users.title" />
          {{#if this.showGroups}}
            <NavItem @route="groups" @label="admin.groups.title" />
          {{/if}}
          {{#if this.showBadges}}
            <NavItem @route="adminBadges" @label="admin.badges.title" />
          {{/if}}
          {{#if this.currentUser.admin}}
            <NavItem @route="adminEmail" @label="admin.email.title" />
          {{/if}}
          <NavItem @route="adminLogs" @label="admin.logs.nav_title" />
          <NavItem
            @route="adminCustomizeThemes"
            @routeParam="themes"
            @label="admin.customize.title"
          />
          {{#if this.currentUser.admin}}
            <NavItem @route="adminApiKeys" @label="admin.api_keys.title" />
            <NavItem @route="adminWebHooks" @label="admin.web_hooks.title" />
            {{#if this.siteSettings.enable_backups}}
              <NavItem @route="admin.backups" @label="admin.backups.title" />
            {{/if}}
            <NavItem @route="adminPlugins" @label="admin.plugins.title" />
          {{/if}}
          <PluginOutlet @name="admin-menu" />
        </ul>
      </div>
    {{/unless}}

    <div class="boxed white admin-content">
      <div class="admin-contents {{this.adminContentsClassName}}">
        {{outlet}}
      </div>
    </div>
  </div>
</div>