<div class="admin-backups">

  <AdminPageHeader
    @titleLabel="admin.backups.title"
    @descriptionLabel="admin.backups.description"
    @learnMoreUrl="https://meta.discourse.org/t/create-download-and-restore-a-backup-of-your-discourse-database/122710"
  >
    <:breadcrumbs>
      <DBreadcrumbsItem
        @path="/admin/backups"
        @label={{i18n "admin.backups.title"}}
      />
    </:breadcrumbs>
    <:actions as |actions|>
      {{#if this.model.canRollback}}
        <actions.Default
          @action={{route-action "rollback"}}
          @label="admin.backups.operations.rollback.label"
          @title="admin.backups.operations.rollback.title"
          @icon="ambulance"
          @disabled={{this.rollbackDisabled}}
          @defaultClass="btn-rollback admin-backups__rollback"
        />
      {{/if}}
      {{#if this.model.isOperationRunning}}
        <actions.Danger
          @action={{route-action "cancelOperation"}}
          @title="admin.backups.operations.cancel.title"
          @label="admin.backups.operations.cancel.label"
          @icon="times"
          @dangerClass="admin-backups__cancel"
        />
      {{else}}
        <actions.Primary
          @action={{route-action "showStartBackupModal"}}
          @title="admin.backups.operations.backup.title"
          @label="admin.backups.operations.backup.label"
          @icon="rocket"
          @primaryClass="admin-backups__start"
        />
      {{/if}}
    </:actions>
    <:tabs>
      <NavItem
        @route="admin.backups.index"
        @label="admin.backups.menu.backups"
      />
      <NavItem @route="admin.backups.logs" @label="admin.backups.menu.logs" />
      <PluginOutlet @name="downloader" @connectorTagName="div" />
    </:tabs>
  </AdminPageHeader>

  <PluginOutlet @name="before-backup-list" @connectorTagName="div" />

  <div class="admin-container">
    {{outlet}}
  </div>
</div>