<DPageHeader
  @titleLabel={{i18n "admin.config.group_permissions.title"}}
  @descriptionLabel={{i18n "admin.config.group_permissions.header_description"}}
>
  <:breadcrumbs>
    <DBreadcrumbsItem @path="/admin" @label={{i18n "admin_title"}} />
    <DBreadcrumbsItem
      @path="/admin/config/group-permissions"
      @label={{i18n "admin.config.group_permissions.title"}}
    />
  </:breadcrumbs>
</DPageHeader>

<div class="admin-config-page__main-area">
  <AdminAreaSettings
    @area="group_permissions"
    @path="/admin/config/group-permissions"
    @filter={{this.filter}}
    @adminSettingsFilterChangedCallback={{this.adminSettingsFilterChangedCallback}}
  />
</div>