<DPageHeader
  @titleLabel={{i18n "admin.config.search.title"}}
  @descriptionLabel={{i18n "admin.config.search.header_description"}}
>
  <:breadcrumbs>
    <DBreadcrumbsItem @path="/admin" @label={{i18n "admin_title"}} />
    <DBreadcrumbsItem
      @path="/admin/config/search"
      @label={{i18n "admin.config.search.title"}}
    />
  </:breadcrumbs>
</DPageHeader>

<div class="admin-config-page__main-area">
  <AdminAreaSettings
    @categories="search"
    @path="/admin/config/search"
    @filter={{this.filter}}
    @adminSettingsFilterChangedCallback={{this.adminSettingsFilterChangedCallback}}
  />
</div>