<DPageHeader
  @titleLabel={{i18n "admin.config.login_and_authentication.title"}}
  @descriptionLabel={{i18n
    "admin.config.login_and_authentication.header_description"
  }}
>
  <:breadcrumbs>
    <DBreadcrumbsItem @path="/admin" @label={{i18n "admin_title"}} />
    <DBreadcrumbsItem
      @path="/admin/config/login-and-authentication"
      @label={{i18n "admin.config.login_and_authentication.title"}}
    />
  </:breadcrumbs>
</DPageHeader>

<div class="admin-config-page__main-area">
  <AdminAreaSettings
    @categories="login"
    @path="/admin/config/login-and-authentication"
    @filter={{this.filter}}
    @adminSettingsFilterChangedCallback={{this.adminSettingsFilterChangedCallback}}
  />
</div>