<DPageHeader
  @titleLabel={{i18n "admin.config.trust_levels.title"}}
  @descriptionLabel={{i18n "admin.config.trust_levels.header_description"}}
  @learnMoreUrl="https://blog.discourse.org/2018/06/understanding-discourse-trust-levels/"
>
  <:breadcrumbs>
    <DBreadcrumbsItem @path="/admin" @label={{i18n "admin_title"}} />
    <DBreadcrumbsItem
      @path="/admin/config/trust-levels"
      @label={{i18n "admin.config.trust_levels.title"}}
    />
  </:breadcrumbs>
</DPageHeader>

<div class="admin-config-page__main-area">
  <AdminAreaSettings
    @categories="trust"
    @path="/admin/config/trust-levels"
    @filter={{this.filter}}
    @adminSettingsFilterChangedCallback={{this.adminSettingsFilterChangedCallback}}
  />
</div>