<DPageHeader
  @titleLabel={{i18n "admin.config_areas.themes_and_components.title"}}
  @descriptionLabel={{i18n
    "admin.config_areas.themes_and_components.description"
  }}
  @learnMoreUrl="https://meta.discourse.org/t/beginners-guide-to-using-discourse-themes/91966"
>
  <:breadcrumbs>
    <DBreadcrumbsItem @path="/admin" @label={{i18n "admin_title"}} />
    <DBreadcrumbsItem
      @path="/admin/config/customize"
      @label={{i18n
        "admin.config_areas.themes_and_components.breadcrumb_title"
      }}
    />
  </:breadcrumbs>

  <:tabs>
    <NavItem
      @route="adminConfig.customize.themes"
      @label="admin.config_areas.themes_and_components.themes.title"
    />
    <NavItem
      @route="adminConfig.customize.components"
      @label="admin.config_areas.themes_and_components.components.title"
    />
  </:tabs>

  <:actions as |actions|>
    <actions.Primary
      @label="admin.customize.install"
      @icon="upload"
      class="admin-themes-and-components__install-theme"
    />
  </:actions>
</DPageHeader>

<div class="admin-container admin-config-page__main-area">
  {{outlet}}
</div>