<div class="current-style {{if this.maximized 'maximized'}}">
  <div class="wrapper">
    <div class="editor-information">
      <DButton
        @title="go_back"
        @action={{action "goBack"}}
        @icon="chevron-left"
        @class="btn-small editor-back-button"
      />

      <span class="editor-theme-name-wrapper">
        {{i18n "admin.customize.theme.edit_css_html"}}
        <LinkTo
          @route={{this.showRouteName}}
          @model={{this.model.id}}
          @replace={{true}}
          class="editor-theme-name"
        >
          {{this.model.name}}
        </LinkTo>
      </span>
    </div>

    <AdminThemeEditor
      @theme={{this.model}}
      @editRouteName={{this.editRouteName}}
      @currentTargetName={{this.currentTargetName}}
      @fieldName={{this.fieldName}}
      @fieldAdded={{action "fieldAdded"}}
      @maximized={{this.maximized}}
      @onlyOverriddenChanged={{action "onlyOverriddenChanged"}}
      @save={{action "save"}}
    />

    <div class="admin-footer">
      <div class="status-actions">
        {{#unless this.model.changed}}
          <a
            href={{this.previewUrl}}
            rel="noopener noreferrer"
            title={{i18n "admin.customize.explain_preview"}}
            class="preview-link"
            target="_blank"
          >
            {{i18n "admin.customize.preview"}}
          </a>
        {{/unless}}
      </div>

      <div class="buttons">
        <DButton
          @action={{action "save"}}
          @disabled={{this.saveDisabled}}
          @class="btn-primary"
          @translatedLabel={{this.saveButtonText}}
        />
      </div>
    </div>
  </div>
</div>