<div class="color-scheme show-current-style">
  <div class="admin-container">
    <h1>{{#if this.model.theme_id}}{{this.model.name}}{{else}}<TextField
          @value={{this.model.name}}
          class="style-name"
        />{{/if}}</h1>
    <div class="controls">
      {{#unless this.model.theme_id}}
        <DButton
          @action={{this.save}}
          @disabled={{this.model.disableSave}}
          @label="admin.customize.save"
          class="btn-primary"
        />
      {{/unless}}
      <DButton
        @action={{fn this.copy this.model}}
        @icon="copy"
        @label="admin.customize.copy"
        class="btn-default"
      />
      <DButton
        @action={{fn this.copyToClipboard this.model}}
        @icon="far-clipboard"
        @label="admin.customize.copy_to_clipboard"
        class="btn-default copy-to-clipboard"
      />
      <span
        class="saving {{unless this.model.savingStatus 'hidden'}}"
      >{{this.model.savingStatus}}</span>
      {{#if this.model.theme_id}}
        <span class="not-editable">
          {{i18n "admin.customize.theme_owner"}}
          <LinkTo
            @route="adminCustomizeThemes.show"
            @models={{array "themes" this.model.theme_id}}
          >{{this.model.theme_name}}</LinkTo>
        </span>
      {{else}}
        <DButton
          @action={{this.destroy}}
          @icon="far-trash-alt"
          @label="admin.customize.delete"
          class="btn-danger"
        />
      {{/if}}
    </div>

    <div class="admin-controls">
      <div class="pull-left">
        {{#if this.model.theme_id}}
          <InlineEditCheckbox
            @action={{action "applyUserSelectable"}}
            @labelKey="admin.customize.theme.color_scheme_user_selectable"
            @checked={{this.model.user_selectable}}
            @modelId={{this.model.id}}
          />
        {{else}}
          <label class="checkbox-label">
            <Input @type="checkbox" @checked={{this.model.user_selectable}} />
            {{i18n "admin.customize.theme.color_scheme_user_selectable"}}
          </label>
        {{/if}}
      </div>

      {{#unless this.model.theme_id}}
        <div class="pull-right">
          <label class="checkbox-label">
            <Input @type="checkbox" @checked={{this.onlyOverridden}} />
            {{i18n "admin.settings.show_overriden"}}
          </label>
        </div>
      {{/unless}}
    </div>

    {{#if this.colors.length}}
      <table class="table colors">
        <thead>
          <tr>
            <th></th>
            <th class="hex">{{i18n "admin.customize.color"}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each this.colors as |c|}}
            <tr
              class="{{if c.changed 'changed'}}
                {{if c.valid 'valid' 'invalid'}}"
            >
              <td class="name" title={{c.name}}>
                <h3>{{c.translatedName}}</h3>
                <p class="description">{{c.description}}</p>
              </td>
              <td class="hex"><ColorInput
                  @hexValue={{c.hex}}
                  @brightnessValue={{c.brightness}}
                  @valid={{c.valid}}
                /></td>
              <td class="actions">
                {{#unless this.model.theme_id}}
                  <DButton
                    @action={{fn this.revert c}}
                    @title="admin.customize.colors.revert_title"
                    @label="admin.customize.colors.revert"
                    class={{concat-class
                      "btn-default"
                      "revert"
                      (unless c.savedIsOverriden "invisible")
                    }}
                  />
                  <DButton
                    @action={{fn this.undo c}}
                    @title="admin.customize.colors.undo_title"
                    @label="admin.customize.colors.undo"
                    class={{concat-class
                      "btn-default"
                      "undo"
                      (unless c.changed "invisible")
                    }}
                  />
                {{/unless}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <p>{{i18n "search.no_results"}}</p>
    {{/if}}
  </div>
</div>