<div class="robots-txt-edit">
  <h3>{{i18n "admin.customize.robots.title"}}</h3>
  <p>{{i18n "admin.customize.robots.warning"}}</p>
  {{#if model.overridden}}
    <div class="overridden">
      {{i18n "admin.customize.robots.overridden"}}
    </div>
  {{/if}}
  <Textarea @value={{buffered.robots_txt}} class="robots-txt-input" />
  <SaveControls @model={{this}} @action={{action "save"}} @saved={{saved}} @saveDisabled={{saveDisabled}}>
    <DButton @class="btn-default" @disabled={{resetDisabled}} @icon="undo" @action={{action "reset"}} @label="admin.settings.reset" />
  </SaveControls>
</div>
