<ComboBox @value={{emailTemplate.id}} @content={{adminCustomizeEmailTemplates.sortedTemplates}} @onChange={{adminCustomizeEmailTemplates.onSelectTemplate}} @nameProperty="title" />

<div class="email-template">
  <label>{{i18n "admin.customize.email_templates.subject"}}</label>
  {{#if hasMultipleSubjects}}
    <h3><LinkTo @route="adminSiteText" @query={{hash q=hasMultipleSubjects}}>{{i18n "admin.customize.email_templates.multiple_subjects"}}</LinkTo></h3>
  {{else}}
    <Input @value={{buffered.subject}} />
  {{/if}}
  <br>

  <label>{{i18n "admin.customize.email_templates.body"}}</label>
  <DEditor @value={{buffered.body}} />

  <SaveControls @model={{emailTemplate}} @action={{action "saveChanges"}} @saved={{saved}} @saveDisabled={{saveDisabled}}>
    {{#if emailTemplate.can_revert}}
      <DButton @action={{action "revertChanges"}} @label="admin.customize.email_templates.revert" />
    {{/if}}
  </SaveControls>
</div>
