<EmailStylesEditor @styles={{model}} @fieldName={{fieldName}} @save={{action "save"}} />

<div class="admin-footer">
  <div class="buttons">
    <DButton @action={{action "save"}} @disabled={{saveDisabled}} @class="btn-primary" @translatedLabel={{saveButtonText}} />
  </div>
</div>
