<ConditionalLoadingSpinner @condition={{this.isLoading}}>
  <div class="reports-index section">
    <div class="section-title">
      <h2>{{i18n "admin.reports.title"}}</h2>
      <Input
        class="filter-reports-input"
        placeholder={{i18n "admin.dashboard.filter_reports"}}
        autofocus={{true}}
        {{on "input" (action "filterReports" value="target.value")}}
      />
    </div>

    <ul class="reports-list">
      {{#each this.filteredReports as |report|}}
        <li class="report">
          <LinkTo @route="adminReports.show" @model={{report.type}}>
            <h3 class="report-title">{{report.title}}</h3>
            {{#if report.description}}
              <p class="report-description">
                {{report.description}}
              </p>
            {{/if}}
          </LinkTo>
        </li>
      {{/each}}
    </ul>
  </div>
</ConditionalLoadingSpinner>