<PluginOutlet @name="admin-dashboard-top" @tagName="span" @connectorTagName="div" />

{{#if showVersionChecks}}
  <div class="section-top">
    <div class="version-checks">
      <VersionChecks @versionCheck={{versionCheck}} @tagName="" />
    </div>
  </div>
{{/if}}

<DashboardProblems @loadingProblems={{loadingProblems}} @foundProblems={{foundProblems}} @lowPriorityProblems={{lowPriorityProblems}} @highPriorityProblems={{highPriorityProblems}} @problemsTimestamp={{problemsTimestamp}} @refreshProblems={{action "refreshProblems"}} />

<ul class="navigation">
  <li class="navigation-item general">
    <LinkTo @route="admin.dashboard.general" class="navigation-link">
      {{i18n "admin.dashboard.general_tab"}}
    </LinkTo>
  </li>

  {{#if isModerationTabVisible}}
    <li class="navigation-item moderation">
      <LinkTo @route="admin.dashboardModeration" class="navigation-link">
        {{i18n "admin.dashboard.moderation_tab"}}
      </LinkTo>
    </li>
  {{/if}}

  {{#if isSecurityTabVisible}}
    <li class="navigation-item security">
      <LinkTo @route="admin.dashboardSecurity" class="navigation-link">
        {{i18n "admin.dashboard.security_tab"}}
      </LinkTo>
    </li>
  {{/if}}

  {{#if isReportsTabVisible}}
    <li class="navigation-item reports">
      <LinkTo @route="admin.dashboardReports" class="navigation-link">
        {{i18n "admin.dashboard.reports_tab"}}
      </LinkTo>
    </li>
  {{/if}}
</ul>

{{outlet}}

<DashboardNewFeatures @tagName="div" />

<PluginOutlet @name="admin-dashboard-bottom" @tagName="span" @connectorTagName="div" />
