<div class="sections">
  <PluginOutlet @name="admin-dashboard-moderation-top" @tagName="span" @connectorTagName="div" />

  {{#if isModeratorsActivityVisible}}
    <div class="moderators-activity section">
      <div class="section-title">
        <h2>
          <a href={{get-url "/admin/reports/moderators_activity"}}>
            {{i18n "admin.dashboard.moderators_activity"}}
          </a>
        </h2>
        <PeriodChooser @period={{period}} @action={{action "changePeriod"}} @content={{availablePeriods}} @fullDay={{false}} />
      </div>

      <div class="section-body">
        <AdminReport @filters={{filters}} @showHeader={{false}} @dataSourceName="moderators_activity" />
      </div>
    </div>
  {{/if}}

  <div class="main-section">
    <AdminReport @dataSourceName="flags_status" @reportOptions={{flagsStatusOptions}} @filters={{lastWeekfilters}} />

    <AdminReport @dataSourceName="post_edits" @filters={{lastWeekfilters}} />

    <AdminReport @dataSourceName="user_flagging_ratio" @filters={{lastWeekfilters}} @reportOptions={{userFlaggingRatioOptions}} />

    <PluginOutlet @name="admin-dashboard-moderation-bottom" @tagName="span" @connectorTagName="div" />
  </div>
</div>
