<table class="table">
  <tbody>
    <tr>
      <th>{{i18n "admin.email.delivery_method"}}</th>
      <td>{{this.delivery_method}}</td>
    </tr>

    {{#each this.model.settings as |s|}}
      <tr>
        <th style="width: 25%">{{s.name}}</th>
        <td>{{s.value}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<form>
  <div class="admin-controls">
    <div class="controls">
      <div class="inline-form">
        {{#if this.sendingEmail}}
          {{i18n "admin.email.sending_test"}}
        {{else}}
          <TextField
            @value={{this.testEmailAddress}}
            @placeholderKey="admin.email.test_email_address"
          />
          <DButton
            @class="btn-primary"
            @action={{action "sendTestEmail"}}
            @disabled={{this.sendTestEmailDisabled}}
            @label="admin.email.send_test"
            @type="submit"
          />
          {{#if this.sentTestEmailMessage}}
            <span class="result-message">{{this.sentTestEmailMessage}}</span>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
</form>