<div class="admin-emojis">
  <h1>{{i18n "admin.emoji.title"}}</h1>

  <p class="desc">{{i18n "admin.emoji.help"}}</p>

  <EmojiUploader
    @emojiGroups={{this.emojiGroups}}
    @done={{action "emojiUploaded"}}
    @id="emoji-uploader"
  />

  <hr />

  {{#if this.sortedEmojis}}
    <table id="custom_emoji">
      <thead>
        <tr>
          <th>{{i18n "admin.emoji.image"}}</th>
          <th>{{i18n "admin.emoji.name"}}</th>
          <th colspan="2">
            <ComboBox
              @value={{this.filter}}
              @content={{this.sortingGroups}}
              @nameProperty={{null}}
              @valueProperty={{null}}
              @onChange={{action "filterGroups"}}
            />
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each this.sortedEmojis as |e|}}
          <tr>
            <td><img
                class="emoji emoji-custom"
                src={{e.url}}
                title={{e.name}}
                alt={{i18n "admin.emoji.alt"}}
              /></td>
            <td>:{{e.name}}:</td>
            <td>{{e.group}}</td>
            <td class="action">
              <DButton
                @action={{fn this.destroyEmoji e}}
                @icon="far-trash-alt"
                class="btn-danger"
              />
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
</div>