<div class="admin-emojis admin-config-page">
  <DPageHeader
    @titleLabel={{i18n "admin.emoji.title"}}
    @descriptionLabel={{i18n "admin.emoji.description"}}
    @hideTabs={{this.hideTabs}}
  >
    <:breadcrumbs>
      <DBreadcrumbsItem @path="/admin" @label={{i18n "admin_title"}} />
      <DBreadcrumbsItem
        @path="/admin/customize/emojis"
        @label={{i18n "admin.emoji.title"}}
      />
    </:breadcrumbs>
    <:actions as |actions|>
      <actions.Primary @route="adminEmojis.new" @label="admin.emoji.add" />
    </:actions>
    <:tabs>
      <NavItem
        @route="adminEmojis.settings"
        @label="settings"
        class="admin-emojis-tabs__settings"
      />
      <NavItem
        @route="adminEmojis.index"
        @label="admin.emoji.title"
        class="admin-emojis-tabs__emoji"
      />
    </:tabs>
  </DPageHeader>

  <div class="admin-container admin-config-page__main-area">
    {{outlet}}
  </div>
</div>