<DBreadcrumbsItem
  @route="adminPlugins.show.settings"
  @model={{@model.plugin}}
  @label={{i18n "admin.plugins.change_settings_short"}}
/>

<div
  class="content-body admin-plugin-config-area__settings admin-detail pull-left"
>
  <AdminPluginFilteredSiteSettings
    @initialFilter={{@model.initialFilter}}
    @plugin={{@model.plugin}}
    @settings={{@model.settings}}
    @onFilterChanged={{this.filterChanged}}
  />
</div>