{{#if this.showTopNav}}
  <div class="admin-controls">
    <HorizontalOverflowNav class="main-nav nav plugin-nav">
      <NavItem @route="adminPlugins.index" @label="admin.plugins.title" />
      {{#each this.adminRoutes as |route|}}
        {{#if route.use_new_show_route}}
          <NavItem
            @route={{route.full_location}}
            @label={{route.label}}
            @routeParam={{route.location}}
          />
        {{else}}
          <NavItem @route={{route.full_location}} @label={{route.label}} />
        {{/if}}
      {{/each}}
    </HorizontalOverflowNav>
  </div>
{{/if}}

<div class="admin-container">
  {{#each this.brokenAdminRoutes as |route|}}
    <div class="alert alert-error">
      {{i18n "admin.plugins.broken_route" name=(i18n route.label)}}
    </div>
  {{/each}}

  {{outlet}}
</div>