<div class="admin-controls">
  <div class="controls">
    <DButton @action={{action "toggleMenu"}} @class="menu-toggle" @icon="bars" />

    {{#if this.currentUser.admin}}
      <DButton @label="admin.plugins.change_settings" @icon="cog" @class="btn-default settings-button" @action={{route-action "showSettings"}} />
    {{/if}}
  </div>
</div>

<div class="admin-nav pull-left">
  <ul class="nav nav-stacked">
    <NavItem @route="adminPlugins.index" @label="admin.plugins.title" />

    {{#each this.adminRoutes as |route|}}
      <NavItem @route={{route.full_location}} @label={{route.label}} />
    {{/each}}
  </ul>
</div>

<div class="admin-detail pull-left mobile-closed">
  {{#each this.brokenAdminRoutes as |route|}}
    <div class="alert alert-error">
      {{i18n "admin.plugins.broken_route" name=(i18n route.label)}}
    </div>
  {{/each}}

  {{outlet}}
</div>
