<DPageHeader
  @titleLabel={{i18n "admin.reports.title"}}
  @descriptionLabel={{i18n "admin.reports.meta_doc"}}
  @learnMoreUrl="https://meta.discourse.org/t/-/240233"
  @hideTabs={{true}}
>
  <:breadcrumbs>
    <DBreadcrumbsItem @path="/admin" @label={{i18n "admin_title"}} />
    <DBreadcrumbsItem
      @path="/admin/reports"
      @label={{i18n "admin.reports.sidebar_title"}}
    />
    <DBreadcrumbsItem
      @path="/admin/reports/{{this.model.type}}"
      @label={{this.model.name}}
    />
  </:breadcrumbs>
</DPageHeader>
<div class="admin-container admin-config-page__main-area">
  <div class="admin-config-area">
    <AdminReport
      @showAllReportsLink={{true}}
      @dataSourceName={{this.model.type}}
      @filters={{this.model}}
      @reportOptions={{this.reportOptions}}
      @showFilteringUI={{true}}
      @onRefresh={{route-action "onParamsChange"}}
    />
  </div>
</div>