<BackButton @route="adminReports" @label="admin.reports.back" />
<div class="admin-container admin-config-page__main-area">
  <div class="admin-config-area">
    <AdminReport
      @dataSourceName={{this.model.type}}
      @filters={{this.model}}
      @reportOptions={{this.reportOptions}}
      @showFilteringUI={{true}}
      @onRefresh={{route-action "onParamsChange"}}
    />
  </div>
</div>