{{body-class this.adminBodyClass}}

<AdminSiteSettingsFilterControls
  @initialFilter={{this.filter}}
  @onChangeFilter={{this.filterChanged}}
  @showMenu={{true}}
  @onToggleMenu={{this.toggleMenu}}
/>

<div class="admin-nav admin-site-settings-category-nav pull-left">
  <ul class="nav nav-stacked">
    {{#each this.visibleSiteSettings as |category|}}
      <li
        class={{concat-class
          "admin-site-settings-category-nav__item"
          category.nameKey
        }}
      >
        <LinkTo
          @route="adminSiteSettingsCategory"
          @model={{category.nameKey}}
          class={{category.nameKey}}
          title={{category.name}}
        >
          {{category.name}}
          {{#if category.count}}
            <span class="count">({{category.count}})</span>
          {{/if}}
        </LinkTo>
      </li>
    {{/each}}
  </ul>
</div>

<div class="admin-detail pull-left mobile-closed">
  {{outlet}}
</div>

<div class="clearfix"></div>