<div class="admin-controls">

  <div class="controls">
    <div class="inline-form">
      <DButton
        @action={{action "toggleMenu"}}
        @class="menu-toggle"
        @icon="bars"
      />
      <TextField
        @id="setting-filter"
        @value={{this.filter}}
        @placeholderKey="type_to_filter"
        @class="no-blur"
      />
      <DButton
        @class="btn-default"
        @id="clear-filter"
        @action={{action "clearFilter"}}
        @label="admin.site_settings.clear_filter"
      />
    </div>
  </div>
  <div class="search controls">
    <label>
      <Input @type="checkbox" @checked={{this.onlyOverridden}} />
      {{i18n "admin.settings.show_overriden"}}
    </label>
  </div>
</div>

<div class="admin-nav pull-left">
  <ul class="nav nav-stacked">
    {{#each this.visibleSiteSettings as |category|}}
      <li class={{category.nameKey}}>
        <LinkTo
          @route="adminSiteSettingsCategory"
          @model={{category.nameKey}}
          class={{category.nameKey}}
        >
          {{category.name}}
          {{#if category.count}}
            <span class="count">({{category.count}})</span>
          {{/if}}
        </LinkTo>
      </li>
    {{/each}}
  </ul>
</div>

<div class="admin-detail pull-left mobile-closed">
  {{outlet}}
</div>

<div class="clearfix"></div>