{{#if this.filteredContent}}
  <DSection @class="form-horizontal settings">
    {{#each this.filteredContent as |setting|}}
      <SiteSetting
        @setting={{setting}}
        @afterSave={{route-action "refreshAll"}}
      />
    {{/each}}
    {{#if this.category.hasMore}}
      <p class="warning">{{i18n "admin.site_settings.more_than_30_results"}}</p>
    {{/if}}
  </DSection>
{{else}}
  <br />
  {{i18n "admin.site_settings.no_results"}}
{{/if}}