<div class="admin-controls">
  <nav>
    <ul class="nav nav-pills">
      {{nav-item route="adminUsersList.show" routeParam="active" label="admin.users.nav.active" class="active-users"}}
      {{nav-item route="adminUsersList.show" routeParam="new" label="admin.users.nav.new" class="new-users"}}
      {{nav-item route="adminUsersList.show" routeParam="staff" label="admin.users.nav.staff" class="staff-users"}}
      {{nav-item route="adminUsersList.show" routeParam="suspended" label="admin.users.nav.suspended" class="suspended-users"}}
      {{nav-item route="adminUsersList.show" routeParam="silenced" label="admin.users.nav.silenced" class="silenced-users"}}
      {{nav-item route="adminUsersList.show" routeParam="staged" label="admin.users.nav.staged" class="staged-users"}}
      {{nav-item route="groups" label="groups.index.title" class="groups"}}
      {{plugin-outlet name="admin-users-list-nav-after"}}

      <li class="admin-actions">
        {{#if currentUser.can_invite_to_forum}}
          {{d-button class="btn-default" action=(route-action "sendInvites") title="admin.invite.button_title" icon="user-plus" label="admin.invite.button_text"}}
        {{/if}}

        {{#if currentUser.admin}}
          {{d-button class="btn-default" action=(route-action "exportUsers") title="admin.export_csv.button_title.user" icon="download" label="admin.export_csv.button_text"}}
        {{/if}}
      </li>
    </ul>
  </nav>
</div>

<div class="admin-container">
  {{outlet}}
</div>
