<div class="user-fields">
  <h2>{{i18n "admin.user_fields.title"}}</h2>

  <p class="desc">{{i18n "admin.user_fields.help"}}</p>

  {{#if this.model}}
    {{#each this.sortedFields as |uf|}}
      <AdminUserFieldItem
        @userField={{uf}}
        @fieldTypes={{this.fieldTypes}}
        @firstField={{this.sortedFields.firstObject}}
        @lastField={{this.sortedFields.lastObject}}
        @destroyAction={{action "destroyField"}}
        @moveUpAction={{action "moveUp"}}
        @moveDownAction={{action "moveDown"}}
      />
    {{/each}}
  {{/if}}

  <DButton
    @disabled={{this.createDisabled}}
    @class="btn-primary"
    @action={{action "createField"}}
    @label="admin.user_fields.create"
    @icon="plus"
  />

</div>