<div class="admin-title">
  <h2>{{this.title}}</h2>
  {{#if this.canCheckEmails}}
    {{#if this.showEmails}}
      <DButton
        @action={{action "toggleEmailVisibility"}}
        @class="hide-emails btn-default"
        @label="admin.users.hide_emails"
      />
    {{else}}
      <DButton
        @action={{action "toggleEmailVisibility"}}
        @class="show-emails btn-default"
        @label="admin.users.show_emails"
      />
    {{/if}}
  {{/if}}
</div>

<div class="username controls">
  <TextField
    @value={{this.listFilter}}
    @placeholder={{this.searchHint}}
    @title={{this.searchHint}}
  />
</div>
<LoadMore
  @class="users-list-container"
  @selector=".users-list tr"
  @action={{action "loadMore"}}
>
  {{#if this.model}}
    <div
      class="directory-table users-list"
      role="table"
      aria-label={{this.title}}
      style={{html-safe
        (concat
          "grid-template-columns: minmax(min-content, 2fr) repeat("
          (html-safe this.columnCount)
          ", minmax(min-content, 1fr))"
        )
      }}
    >
      <div class="directory-table__header">
        <TableHeaderToggle
          @class="directory-table__column-header--username"
          @field="username"
          @labelKey="username"
          @order={{this.order}}
          @asc={{this.asc}}
          @automatic={{true}}
        />
        <TableHeaderToggle
          @class={{if
            this.showEmails
            "directory-table__column-header--email"
            "hidden"
          }}
          @field="email"
          @labelKey="email"
          @order={{this.order}}
          @asc={{this.asc}}
          @automatic={{true}}
        />
        <TableHeaderToggle
          @field="last_emailed"
          @labelKey="admin.users.last_emailed"
          @order={{this.order}}
          @asc={{this.asc}}
          @automatic={{true}}
        />
        <TableHeaderToggle
          @field="seen"
          @labelKey="last_seen"
          @order={{this.order}}
          @asc={{this.asc}}
          @automatic={{true}}
        />
        <TableHeaderToggle
          @field="topics_viewed"
          @labelKey="admin.user.topics_entered"
          @order={{this.order}}
          @asc={{this.asc}}
          @automatic={{true}}
        />
        <TableHeaderToggle
          @field="posts_read"
          @labelKey="admin.user.posts_read_count"
          @order={{this.order}}
          @asc={{this.asc}}
          @automatic={{true}}
        />
        <TableHeaderToggle
          @field="read_time"
          @labelKey="admin.user.time_read"
          @order={{this.order}}
          @asc={{this.asc}}
          @automatic={{true}}
        />
        <TableHeaderToggle
          @field="created"
          @labelKey="created"
          @order={{this.order}}
          @asc={{this.asc}}
          @automatic={{true}}
        />
        <PluginOutlet
          @name="admin-users-list-thead-after"
          @outletArgs={{hash order=this.order asc=this.asc}}
        />

        {{#if this.siteSettings.must_approve_users}}
          <div class="directory-table__column-header">{{i18n
              "admin.users.approved"
            }}</div>
        {{/if}}
        <div class="directory-table__column-header">&nbsp;</div>

      </div>
      <div class="directory-table__body">
        {{#each this.model as |user|}}
          <div
            class="user
              {{user.selected}}
              {{unless user.active 'not-activated'}}
              directory-table__row"
          >
            <div class="directory-table__cell username">
              <a
                class="avatar"
                href={{user.path}}
                data-user-card={{user.username}}
              >
                {{avatar user imageSize="small"}}
              </a>
              <LinkTo
                @route="adminUser"
                @model={{user}}
              >{{user.username}}</LinkTo>
              {{#if user.staged}}
                {{d-icon "far-envelope" title="user.staged"}}
              {{/if}}
            </div>
            <div
              class="directory-table__cell email
                {{if this.showEmails '' 'hidden'}}"
            >
              <span>{{~user.email~}}</span>
            </div>

            {{#if user.last_emailed_at}}
              <div
                class="directory-table__cell last-emailed"
                title={{raw-date user.last_emailed_at}}
              >
                <div class="directory-table__label">{{i18n
                    "admin.users.last_emailed"
                  }}</div>
                <div>{{format-duration user.last_emailed_age}}</div>
              </div>
            {{else}}
              <div class="directory-table__cell last-emailed">
                <div class="directory-table__label">{{i18n
                    "admin.users.last_emailed"
                  }}</div>
                <div>{{format-duration user.last_emailed_age}}</div>
              </div>
            {{/if}}

            <div
              class="directory-table__cell last-seen"
              title={{raw-date user.last_seen_at}}
            >
              <div class="directory-table__label">{{i18n "last_seen"}}</div>
              <div>{{format-duration user.last_seen_age}}</div>
            </div>
            <div class="directory-table__cell topics-entered">
              <div class="directory-table__label">{{i18n
                  "admin.user.topics_entered"
                }}</div>
              <div>{{number user.topics_entered}}</div>
            </div>
            <div class="directory-table__cell posts-read">
              <div class="directory-table__label">{{i18n
                  "admin.user.posts_read_count"
                }}</div>
              <div>{{number user.posts_read_count}}</div>
            </div>
            <div class="directory-table__cell time-read">
              <div class="directory-table__label">{{i18n
                  "admin.user.time_read"
                }}</div>
              <div>{{format-duration user.time_read}}</div>
            </div>

            <div
              class="directory-table__cell created"
              title={{raw-date user.created_at}}
            >
              <div class="directory-table__label">{{i18n "created"}}</div>
              <div>{{format-duration user.created_at_age}}</div>
            </div>

            <PluginOutlet
              @name="admin-users-list-td-after"
              @outletArgs={{hash user=user query=this.query}}
            />

            {{#if this.siteSettings.must_approve_users}}
              <div class="directory-table__cell">

                <div class="directory-table__label">{{i18n
                    "admin.users.approved"
                  }}</div>
                <div>{{i18n-yes-no user.approved}}</div>
              </div>
            {{/if}}

            <div class="directory-table__cell user-status">
              <span>
                {{#if user.admin}}
                  {{d-icon "shield-alt" title="admin.title"}}
                {{/if}}
                {{#if user.moderator}}
                  {{d-icon "shield-alt" title="admin.moderator"}}
                {{/if}}
                {{#if user.second_factor_enabled}}
                  {{d-icon "lock" title="admin.user.second_factor_enabled"}}
                {{/if}}
              </span>
              <PluginOutlet
                @name="admin-users-list-icon"
                @connectorTagName="div"
                @outletArgs={{hash user=user query=this.query}}
              />
            </div>
          </div>
        {{/each}}
      </div>
    </div>
    <ConditionalLoadingSpinner @condition={{this.refreshing}} />
  {{else}}
    <p>{{i18n "search.no_results"}}</p>
  {{/if}}
</LoadMore>