<div class="watched-word-controls">
  {{d-button
    class="btn-default download-link"
    href=downloadLink
    icon="download"
    label="admin.watched_words.download"}}

  {{watched-word-uploader uploading=uploading actionKey=actionNameKey done=(action "uploadComplete")}}

  {{d-button
    label="admin.watched_words.test.button_label"
    icon="far-eye"
    action=(action "test")}}

  {{d-button
    class="btn-danger clear-all"
    label="admin.watched_words.clear_all"
    icon="trash-alt"
    action=(action "clearAll")}}
</div>

<p class="about">{{actionDescription}}</p>

{{watched-word-form
  actionKey=actionNameKey
  action=(action "recordAdded")
  filteredContent=filteredContent
  regularExpressions=adminWatchedWords.regularExpressions}}

{{#if wordCount}}
  <label class="show-words-checkbox">
    {{input type="checkbox" checked=adminWatchedWords.showWords disabled=adminWatchedWords.disableShowWords}}
    {{i18n "admin.watched_words.show_words" count=wordCount}}
  </label>
{{/if}}

{{#if showWordsList}}
  <div class="watched-words-list">
    {{#each filteredContent as |word| }}
      <div class="watched-word-box">{{admin-watched-word word=word action=(action "recordRemoved")}}</div>
    {{/each}}
  </div>
{{/if}}
