<div class="admin-webhooks admin-config-page">
  <DPageHeader
    @titleLabel={{i18n "admin.web_hooks.title"}}
    @descriptionLabel={{i18n "admin.web_hooks.instruction"}}
    @hideTabs={{true}}
  >
    <:breadcrumbs>
      <DBreadcrumbsItem @path="/admin" @label={{i18n "admin_title"}} />
      <DBreadcrumbsItem
        @path="/admin/api/web_hooks"
        @label={{i18n "admin.web_hooks.title"}}
      />
    </:breadcrumbs>
    <:actions as |actions|>
      <actions.Primary
        @route="adminWebHooks.new"
        @label="admin.web_hooks.add"
      />
    </:actions>
  </DPageHeader>

  <div class="admin-container admin-config-page__main-area">
    <PluginOutlet @name="admin-web-hooks">
      {{outlet}}
    </PluginOutlet>
  </div>
</div>