<LinkTo @route="adminWebHooks" class="go-back">
  {{d-icon "arrow-left"}}
  {{i18n "admin.web_hooks.go_back"}}
</LinkTo>

<div class="admin-webhooks__summary">
  <h1>
    {{this.model.payload_url}}

    <LinkTo @route="adminWebHooks.edit" @model={{this.model}} class="btn no-text admin-webhooks__edit-button">
      {{d-icon "far-edit"}}
    </LinkTo>
  </h1>

  <div>
    <span class="admin-webhooks__description-label">
      {{i18n "admin.web_hooks.description_label"}}:
    </span>

    {{this.model.description}}
  </div>
</div>

<WebhookEvents @webhookId={{this.model.id}} />
