<div class="web-hook-direction">
  <LinkTo @route="adminWebHooks" @tagName="button" @classNames="btn">
    {{d-icon "list"}} {{i18n "admin.web_hooks.events.go_list"}}
  </LinkTo>
  <DButton @icon="paper-plane" @label="admin.web_hooks.events.ping" @action={{action "ping"}} @disabled={{this.pingDisabled}} />
  <LinkTo @route="adminWebHooks.show" @model={{this.model.extras.web_hook_id}} @tagName="button" @classNames="btn">
    {{d-icon "far-edit"}} {{i18n "admin.web_hooks.events.go_details"}}
  </LinkTo>
</div>

<div class="web-hook-events-listing">
  {{#if this.model}}
    <LoadMore @selector=".web-hook-events li" @action={{action "loadMore"}}>
      <div class="web-hook-events content-list">
        <div class="heading-container">
          <div class="col heading first status">{{i18n "admin.web_hooks.events.status"}}</div>
          <div class="col heading event-id">{{i18n "admin.web_hooks.events.event_id"}}</div>
          <div class="col heading timestamp">{{i18n "admin.web_hooks.events.timestamp"}}</div>
          <div class="col heading completion">{{i18n "admin.web_hooks.events.completion"}}</div>
          <div class="col heading actions">{{i18n "admin.web_hooks.events.actions"}}</div>
          <div class="clearfix"></div>
        </div>
        {{#if this.hasIncoming}}
          <a href tabindex="0" {{action "showInserted"}} class="alert alert-info clickable">
            <CountI18n @key="admin.web_hooks.events.incoming" @count={{this.incomingCount}} />
          </a>
        {{/if}}
        <ul>
          {{#each this.model as |webHookEvent|}}
            <AdminWebHookEvent @model={{webHookEvent}} />
          {{/each}}
        </ul>
      </div>
      <ConditionalLoadingSpinner @condition={{this.model.loadingMore}} />
    </LoadMore>
  {{else}}
    <p>{{i18n "admin.web_hooks.events.none"}}</p>
  {{/if}}
</div>
