<LinkTo @route="adminWebHooks" class="go-back">
  {{d-icon "arrow-left"}}
  {{i18n "admin.web_hooks.back"}}
</LinkTo>

<div class="admin-webhooks__summary">
  <h1>
    {{this.model.payload_url}}

    <DButton
      @action={{this.edit}}
      @icon="far-pen-to-square"
      @title={{i18n "admin.web_hooks.edit"}}
      class="no-text admin-webhooks__edit-button"
    />

    <DButton
      @action={{this.destroyWebhook}}
      @icon="xmark"
      @title="delete"
      class="destroy btn-danger admin-webhooks__delete-button"
    />
  </h1>

  <div>
    <span class="admin-webhooks__description-label">
      {{i18n "admin.web_hooks.description_label"}}:
    </span>

    {{this.model.description}}
  </div>
</div>

<WebhookEvents @webhookId={{this.model.id}} @status={{this.status}} />