<label for={{this.field.id}}>
  <span class="label-value">
    {{this.field.label}}

    {{#if this.field.required}}
      <span class="field-required">*</span>
    {{/if}}
  </span>

  {{#if this.field.description}}
    <div class="field-description">{{html-safe this.field.description}}</div>
  {{/if}}
</label>

<div class="input-area">
  {{component
    this.inputComponentName
    field=this.field
    step=this.step
    fieldClass=this.fieldClass
    wizard=this.wizard
  }}
</div>

{{#if this.field.errorDescription}}
  <div class="field-error-description">{{html-safe this.field.errorDescription}}</div>
{{/if}}

{{#if this.field.extra_description}}
  <div class="field-extra-description">{{html-safe this.field.extra_description}}</div>
{{/if}}
