<div
  class="presence-users"
  {{did-insert this.setupChannels}}
  {{did-update this.setupChannels @topic.id}}
>
  {{#if this.shouldDisplay}}

    <div class="presence-avatars">
      {{#each this.users as |user|}}
        <UserLink @user={{user}}>
          {{avatar user imageSize="small"}}
        </UserLink>
      {{/each}}
    </div>
    <span class="presence-text">
      <span class="description">
        {{i18n "presence.replying_to_topic" count=this.users.length}}
      </span>
      <span class="wave">
        <span class="dot">.</span>
        <span class="dot">.</span>
        <span class="dot">.</span>
      </span>
    </span>

  {{/if}}
</div>