<StyleguideExample @title="topic list item">
  <table class="topic-list">
    <tbody>
      <TopicListItem @topic={{this.dummy.topic}} @showPosters={{true}} />
    </tbody>
  </table>
</StyleguideExample>

<StyleguideExample @title="topic list item - hide category">
  <table class="topic-list">
    <tbody>
      <TopicListItem @topic={{this.dummy.topic}} @hideCategory={{true}} @showPosters={{true}} />
    </tbody>
  </table>
</StyleguideExample>

<StyleguideExample @title="topic list item - show likes">
  <table class="topic-list">
    <tbody>
      <TopicListItem @topic={{this.dummy.topic}} @showLikes={{true}} @showPosters={{true}} />
    </tbody>
  </table>
</StyleguideExample>

<StyleguideExample @title="topic list item - latest" class="half-size">
  <LatestTopicListItem @topic={{this.dummy.topic}} />
</StyleguideExample>
