<button
  class="btn {{if text 'btn-icon-text' 'no-text btn-icon'}}"
  aria-label="{{text}}"
  type="button"
  title="{{text}}">

  {{icon}}

  {{#if text}}
    <span class="d-button-label">{{text}}</span>
  {{/if}}
</button>
