<button
  class="btn {{if text 'btn-icon-text' 'no-text btn-icon'}}"
  aria-label="{{selectedTitle}}"
  type="button"
  title="{{selectedTitle}}">

  {{{icon}}}

  {{#if text}}
    <span class="d-button-label">{{{text}}}</span>
  {{/if}}
</button>
