{{#if this.categories}}
  {{#if this.filteredCategories}}
    <div class="category-list {{if this.showTopics 'with-topics'}}">
      <PluginOutlet
        @name="mobile-categories"
        @outletArgs={{hash categories=this.filteredCategories}}
      >
        {{#each this.filteredCategories as |c|}}
          <ParentCategoryRow @category={{c}} @showTopics={{this.showTopics}} />
        {{/each}}
      </PluginOutlet>
    </div>
  {{/if}}

  {{#if this.mutedCategories}}
    <div class="muted-categories">
      <a href class="muted-categories-link" {{on "click" this.toggleShowMuted}}>
        <h3 class="muted-categories-heading">{{i18n "categories.muted"}}</h3>
        {{#if this.mutedToggleIcon}}
          {{d-icon this.mutedToggleIcon}}
        {{/if}}
      </a>
      <div
        class="category-list
          {{if this.showTopics 'with-topics'}}
          {{unless this.showMutedCategories 'hidden'}}"
      >
        {{#each this.mutedCategories as |c|}}
          <ParentCategoryRow
            @category={{c}}
            @showTopics={{this.showTopics}}
            @listType="muted"
          />
        {{/each}}
      </div>
    </div>
  {{/if}}
{{/if}}