{{#if this.selectedHtml}}
  <li>
    <a href {{on "click" this.toggleExpanded}} class="expander">
      <span class="selection">{{html-safe this.selectedHtml}}</span>
      {{d-icon "caret-down"}}
    </a>
  </li>
{{/if}}
<ul class="drop {{if this.expanded 'expanded'}}">
  {{yield}}
</ul>