<li class="navigation-toggle">
  <a href {{action "toggleDrop"}} class="toggle-link">
    {{selectedNavItem.displayName}}
    {{d-icon "caret-down"}}
  </a>
</li>
{{#if expanded}}
  <ul class="drop">
    {{#each navItems as |navItem|}}
      <NavigationItem @content={{navItem}} @filterMode={{filterMode}} @category={{category}} @class={{concat "nav-item_" navItem.name}} />
    {{/each}}
    <PluginOutlet @name="extra-nav-item" @connectorTagName="li" @args={{hash category=category filterMode=filterMode}} />
  </ul>
{{/if}}
