<li class="navigation-toggle">
  <a href {{on "click" this.toggleDrop}} class="toggle-link">
    {{this.selectedNavItem.displayName}}
    {{d-icon "caret-down"}}
  </a>
</li>
{{#if this.expanded}}
  <ul class="drop">
    {{#each this.navItems as |navItem|}}
      <NavigationItem
        @content={{navItem}}
        @filterMode={{this.filterMode}}
        @category={{this.category}}
        @class={{concat "nav-item_" navItem.name}}
      />
    {{/each}}
    <PluginOutlet
      @name="extra-nav-item"
      @connectorTagName="li"
      @outletArgs={{hash category=this.category filterMode=this.filterMode}}
    />
  </ul>
{{/if}}

<PluginOutlet
  @name="inline-extra-nav-item"
  @connectorTagName="li"
  @outletArgs={{hash category=this.category filterMode=this.filterMode}}
/>