{{#unless this.isHidden}}
  <tr
    data-category-id={{this.category.id}}
    style={{border-color this.category.color}}
    class="subcategory-list-item category {{if this.isMuted 'muted'}}"
  >
    <td>
      <CategoryTitleLink @tagName="h4" @category={{this.category}} />
      <div class="subcategories-list">
        {{#if this.category.subcategories}}
          <div class="subcategories">
            {{#each this.category.subcategories as |subcategory|}}
              <SubCategoryItem
                @category={{subcategory}}
                @listType={{this.listType}}
              />
            {{/each}}
          </div>
        {{/if}}
      </div>
    </td>
  </tr>
{{/unless}}