{{#each this.categories as |category|}}
  <div class="category-list subcategory-list with-topics">
    <div class="parent-category">
      <CategoryTitleLink @category={{category}} />
      <span class="stat" title={{category.statTitle}}>{{html-safe
          category.stat
        }}</span>
    </div>
    <div class="subcategories">
      {{#each category.subcategories as |subCategory|}}
        <ParentCategoryRow @category={{subCategory}} @showTopics={{true}} />
      {{else}}
        {{! No subcategories... so just show the parent to avoid confusion }}
        <ParentCategoryRow @category={{category}} @showTopics={{true}} />
      {{/each}}
    </div>
  </div>
{{/each}}