<div id="revision">
  <div id="revision-details">
    {{d-icon "pencil-alt"}}
    <LinkTo
      @route="user"
      @model={{@model.username}}
      class="revision-details__user"
    >
      {{bound-avatar-template @model.avatar_template "small"}}
      {{@model.username}}
    </LinkTo>
    <PluginOutlet
      @name="revision-user-details-after"
      @outletArgs={{hash model=@model}}
    />
    <span class="date">{{bound-date @model.created_at}}</span>
    {{#if @model.edit_reason}}
      <span class="edit-reason">{{@model.edit_reason}}</span>
    {{/if}}

    {{#if this.site.desktopView}}
      <span>
        {{#if @model.user_changes}}
          {{bound-avatar-template
            @model.user_changes.previous.avatar_template
            "small"
          }}
          {{@model.user_changes.previous.username}}
          &rarr;
          {{bound-avatar-template
            @model.user_changes.current.avatar_template
            "small"
          }}
          {{@model.user_changes.current.username}}
        {{/if}}

        {{#if @model.wiki_changes}}
          {{d-icon
            "far-edit"
            class=(if @model.wiki_changes.current "diff-ins" "diff-del")
          }}
        {{/if}}

        {{#if @model.post_type_changes}}
          {{d-icon
            "shield-alt"
            class=(if
              (eq
                @model.post_type_changes.current
                @site.post_types.moderator_action
              )
              "diff-del"
              "diff-ins"
            )
          }}
        {{/if}}

        {{#if @model.archetype_changes}}
          {{d-icon
            (if
              (eq @model.archetype_changes.current "private_message")
              "envelope"
              "comment"
            )
          }}
        {{/if}}

        {{#if (and @model.category_id_changes (not @model.archetype_changes))}}
          {{#if @previousCategory}}
            {{html-safe @previousCategory}}
          {{else}}
            {{d-icon "far-eye-slash" class="diff-del"}}
          {{/if}}
          &rarr;
          {{#if @currentCategory}}
            {{html-safe @currentCategory}}
          {{else}}
            {{d-icon "far-eye-slash" class="diff-ins"}}
          {{/if}}
        {{/if}}
      </span>
    {{/if}}
  </div>

  {{#if this.site.desktopView}}
    <div id="display-modes">
      <ul class="nav nav-pills">
        <li>
          <a
            href
            class={{concat-class
              "inline-mode"
              (if (eq @viewMode "inline") "active")
            }}
            {{on "click" @displayInline}}
            title={{i18n "post.revisions.displays.inline.title"}}
            aria-label={{i18n "post.revisions.displays.inline.title"}}
          >
            {{d-icon "far-square"}}
            {{i18n "post.revisions.displays.inline.button"}}
          </a>
        </li>
        <li>
          <a
            href
            class={{concat-class
              "side-by-side-mode"
              (if (eq @viewMode "side_by_side") "active")
            }}
            {{on "click" @displaySideBySide}}
            title={{i18n "post.revisions.displays.side_by_side.title"}}
            aria-label={{i18n "post.revisions.displays.side_by_side.title"}}
          >
            {{d-icon "columns"}}
            {{i18n "post.revisions.displays.side_by_side.button"}}
          </a>
        </li>
        <li>
          <a
            href
            class={{concat-class
              "side-by-side-markdown-mode"
              (if (eq @viewMode "side_by_side_markdown") "active")
            }}
            {{on "click" @displaySideBySideMarkdown}}
            title={{i18n "post.revisions.displays.side_by_side_markdown.title"}}
            aria-label={{i18n
              "post.revisions.displays.side_by_side_markdown.title"
            }}
          >
            {{d-icon "columns"}}
            {{i18n "post.revisions.displays.side_by_side_markdown.button"}}
          </a>
        </li>
      </ul>
    </div>
  {{/if}}
</div>