<div id="revisions" data-post-id={{@model.post_id}} class={{@hiddenClasses}}>
  {{#if @model.title_changes}}
    <div class="row">
      <h2 class="revision__title">{{html-safe @titleDiff}}</h2>
    </div>
  {{/if}}
  {{#if @mobileView}}
    {{#if @userChanges}}
      <div class="row">
        {{bound-avatar-template
          @model.user_changes.previous.avatar_template
          "small"
        }}
        {{@model.user_changes.previous.username}}
        &rarr;
        {{bound-avatar-template
          @model.user_changes.current.avatar_template
          "small"
        }}
        {{@model.user_changes.current.username}}
      </div>
    {{/if}}
    {{#if @model.wiki_changes}}
      <div class="row">
        {{d-icon
          "far-edit"
          class=(if @model.wiki_changes.current "diff-ins" "diff-del")
        }}
      </div>
    {{/if}}
    {{#if @model.archetype_changes}}
      <div class="row">
        {{d-icon
          (if
            (eq @model.archetype_changes.current "private_message")
            "envelope"
            "comment"
          )
        }}
      </div>
    {{/if}}
    {{#if (and @model.category_id_changes (not @model.archetype_changes))}}
      <div class="row">
        {{#if @previousCategory}}
          {{html-safe @previousCategory}}
        {{else}}
          {{d-icon "far-eye-slash" class="diff-del"}}
        {{/if}}
        &rarr;
        {{#if @currentCategory}}
          {{html-safe @currentCategory}}
        {{else}}
          {{d-icon "far-eye-slash" class="diff-ins"}}
        {{/if}}
      </div>
    {{/if}}
  {{/if}}
  {{#if @model.tags_changes}}
    <div class="row -tag-revisions">
      <span class="discourse-tags">
        {{#each @previousTagChanges as |t|}}
          {{discourse-tag t.name extraClass=(if t.deleted "diff-del")}}
        {{/each}}
      </span>
      {{#if (or @mobileView (eq @viewMode "inline"))}}
        &rarr;&nbsp;
      {{/if}}
      <span class="discourse-tags">
        {{#each @currentTagChanges as |t|}}
          {{discourse-tag t.name extraClass=(if t.inserted "diff-ins")}}
        {{/each}}
      </span>
    </div>
  {{/if}}
  {{#if @model.featured_link_changes}}
    <div class="row">
      {{@model.featured_link_changes.previous}}
      &rarr;
      {{@model.featured_link_changes.current}}
    </div>
  {{/if}}

  <span>
    <PluginOutlet
      @name="post-revisions"
      @connectorTagName="div"
      @outletArgs={{hash model=@model}}
    />
  </span>

  <LinksRedirect
    {{did-insert @calculateBodyDiff @bodyDiffHTML}}
    {{did-update @calculateBodyDiff @bodyDiffHTML}}
    class="row body-diff"
  >
    {{html-safe @bodyDiff}}
  </LinksRedirect>
</div>