<DModalBody @class="change-timestamp">
  <p>
    {{i18n "topic.change_timestamp.instructions"}}
  </p>

  <p class="alert alert-error {{unless this.validTimestamp 'hidden'}}">
    {{i18n "topic.change_timestamp.invalid_timestamp"}}
  </p>

  <form>
    <DatePickerPast
      @value={{readonly this.date}}
      @containerId="date-container"
      @onSelect={{action (mut this.date)}}
    />

    <Input @type="time" @value={{this.time}} />
  </form>

  <div id="date-container"></div>
</DModalBody>

<div class="modal-footer change-timestamp-footer">
  <DButton
    @class="btn-primary"
    @disabled={{this.buttonDisabled}}
    @action={{action "changeTimestamp"}}
    @translatedLabel={{this.buttonTitle}}
  />
</div>