<input
  class="select-box-kit-offscreen"
  type="text"
  aria-haspopup="true"
  role="button"
  aria-labelledby="select-box-kit-input-{{elementId}}"
  tabindex={{tabindex}}
  name={{name}}
  value={{computedValue}}
/>

{{component headerComponent
  text=headerText
  icon=headerIcon
  caretUpIcon=headerCaretUpIcon
  caretDownIcon=headerCaretDownIcon
  isFocused=isFocused
  selectBoxIsExpanded=isExpanded
  selectedContents=selectedContents
  onDeselect=(action "onDeselect")
  onToggle=(action "onToggle")
}}

<div class="select-box-kit-body">
  {{#if renderBody}}
    {{#if filterable}}
      {{component filterComponent
        onFilterChange=(action "onFilterChange")
        icon=filterIcon
        filter=filter
        isFocused=filterFocused
        placeholder=filterPlaceholder
        tabindex=tabindex
      }}
    {{/if}}

    {{component collectionComponent
      none=computedNone
      selectedContents=selectedContents
      filteredContent=filteredContent
      rowComponent=rowComponent
      iconForRow=iconForRow
      templateForRow=templateForRow
      templateForNoneRow=templateForNoneRow
      shouldHighlightRow=shouldHighlightRow
      shouldSelectRow=shouldSelectRow
      titleForRow=titleForRow
      onClearSelection=(action "onClearSelection")
      onSelect=(action "onSelect")
      onHoverRow=(action "onHoverRow")
      noContentLabel=noContentLabel
      highlightedValue=highlightedValue
    }}
  {{/if}}
</div>

<div class="select-box-kit-wrapper"></div>
