<input
  class="select-box-kit-offscreen"
  type="text"
  aria-haspopup="true"
  role="button"
  aria-labelledby="select-box-kit-offscreen-{{elementId}}"
  tabindex={{tabindex}}
  name={{name}}
  value={{computedValue}}
  readonly=true
/>

{{component headerComponent
  isFocused=isFocused
  isExpanded=isExpanded
  computedContent=headerComputedContent
  onDeselect=(action "onDeselect")
  onToggle=(action "onToggle")
  onFilter=(action "onFilter")
  onClear=(action "onClear")
  options=headerComponentOptions
}}

<div class="select-box-kit-body">
  {{component filterComponent
    onFilter=(action "onFilter")
    icon=filterIcon
    shouldDisplayFilter=shouldDisplayFilter
    isFocused=isFocused
    placeholder=(i18n filterPlaceholder)
    filter=filter
  }}

  {{#if renderedBodyOnce}}
    {{component collectionComponent
      noneRowComputedContent=noneRowComputedContent
      createRowComputedContent=createRowComputedContent
      selectedComputedContent=selectedComputedContent
      filteredComputedContent=filteredComputedContent
      rowComponent=rowComponent
      noneRowComponent=noneRowComponent
      createRowComponent=createRowComponent
      templateForRow=templateForRow
      templateForNoneRow=templateForNoneRow
      templateForCreateRow=templateForCreateRow
      onClear=(action "onClear")
      onSelect=(action "onSelect")
      onHighlight=(action "onHighlight")
      onCreate=(action "onCreate")
      noContentLabel=noContentLabel
      highlightedValue=highlightedValue
      computedValue=computedValue
      rowComponentOptions=rowComponentOptions
    }}
  {{/if}}
</div>

<div class="select-box-kit-wrapper"></div>
