<div class="container">
  {{discourse-banner user=currentUser banner=site.banner}}
</div>

<h2>{{i18n "tagging.all_tags"}}</h2>

<div class='tag-sort-options'>
  {{i18n "tagging.sort_by"}}
  <a {{action "sortByCount"}}>{{i18n "tagging.sort_by_count"}}</a>
  <a {{action "sortById"}}>{{i18n "tagging.sort_by_name"}}</a>
</div>

<div class='tag-list'>
  {{#each sortedTags as |tag|}}
    <div class='tag-box'>
      {{discourse-tag tag.id}} <span class='tag-count'>x {{tag.count}}</span>
    </div>
  {{/each}}
</div>
