<div class="container">
  {{discourse-banner user=currentUser banner=site.banner}}
</div>

<h2>{{i18n "tagging.tags"}}</h2>

<div class='tag-sort-options'>
  {{i18n "tagging.sort_by"}}
  <a {{action "sortByCount"}}>{{i18n "tagging.sort_by_count"}}</a>
  <a {{action "sortById"}}>{{i18n "tagging.sort_by_name"}}</a>
</div>
<div class="clearfix" />

{{#each model.extras.categories as |category|}}
  {{tag-list tags=category.tags sortProperties=sortProperties categoryId=category.id}}
{{/each}}

{{tag-list tags=model sortProperties=sortProperties titleKey="tagging.all_tags"}}
