!!!
%html
  %head
    %title Onebox engine development
    %link(rel="stylesheet" href="#{root_path}stylesheets/normalize.css")
    %link(rel="stylesheet" href="#{root_path}stylesheets/style.css")
    %script(src="#{root_path}javascripts/jquery.js")
    %script(src="#{root_path}javascripts/main.js")
  %body
    .container
      = yield
