<a
  href
  {{on "click" (fn this.closeMessage this.message)}}
  class="close"
  aria-label={{i18n "composer.esc_label"}}
>
  {{i18n "composer.esc"}}
  {{d-icon "times"}}
</a>

{{#if this.message.title}}
  <h3>{{this.message.title}}</h3>
{{/if}}

{{html-safe this.message.body}}