<div class="control-group form-template-field" data-field-type="input">
  {{! TODO(@keegan): Make label required }}
  {{#if @attributes.label}}
    <label class="form-template-field__label">{{@attributes.label}}</label>
  {{/if}}

  <Input
    name={{@attributes.label}}
    class="form-template-field__input"
    @type={{if @validations.type @validations.type "text"}}
    placeholder={{@attributes.placeholder}}
    required={{if @validations.required "required" ""}}
    pattern={{@validations.pattern}}
    minLength={{@validations.min}}
    maxLength={{@validations.max}}
  />
</div>