<div class="control-group form-template-field" data-field-type="upload">
  {{#if @attributes.label}}
    <label class="form-template-field__label">
      {{@attributes.label}}
      {{#if @validations.required}}
        {{d-icon "asterisk" class="form-template-field__required-indicator"}}
      {{/if}}
    </label>
  {{/if}}

  <input type="hidden" name={{@attributes.label}} value={{this.uploadValue}} />

  <PickFilesButton
    @fileInputClass="form-template-field__upload"
    @fileInputId={{this.fileUploadElementId}}
    @allowMultiple={{@attributes.allow_multiple}}
    @showButton={{true}}
    @onFilesPicked={{true}}
    @icon="upload"
    @label={{this.uploadStatus}}
    @fileInputDisabled={{this.disabled}}
    @acceptedFormatsOverride={{@attributes.file_types}}
    @acceptedFileTypesString={{@attributes.file_types}}
  />

  {{#if this.uploadedFiles}}
    <ul class="form-template-field__uploaded-files">
      {{#each this.uploadedFiles as |file|}}
        <li>
          {{d-icon "file"}}
          <a
            href={{file.url}}
            target="_blank"
            rel="noopener noreferrer"
          >{{file.file_name}}</a>
          <span>{{file.human_filesize}}</span>
        </li>
      {{/each}}
    </ul>
  {{/if}}
</div>