<div
  class={{concat-class "chat-thread" (if this.loading "loading")}}
  data-id={{this.thread.id}}
  {{did-insert this.setUploadDropZone}}
  {{did-insert this.subscribeToUpdates}}
  {{did-insert this.loadMessages}}
  {{did-update this.subscribeToUpdates this.thread.id}}
  {{did-update this.loadMessages this.thread.id}}
  {{did-insert this.setupMessage}}
  {{will-destroy this.unsubscribeFromUpdates}}
>
  {{#if @includeHeader}}
    <div class="chat-thread__header">
      <span class="chat-thread__label">{{i18n "chat.thread.label"}}</span>
      <LinkTo
        class="chat-thread__close btn-flat btn btn-icon no-text"
        @route="chat.channel"
        @models={{this.channel.routeModels}}
        title={{i18n "chat.thread.close"}}
      >
        {{d-icon "times"}}
      </LinkTo>
    </div>
  {{/if}}

  <div
    class="chat-thread__body popper-viewport"
    {{did-insert this.setScrollable}}
  >
    <div
      class="chat-thread__messages chat-messages-container"
      {{chat/on-resize this.didResizePane (hash delay=10)}}
    >
      {{#each this.thread.messages key="id" as |message|}}
        <ChatMessage
          @message={{message}}
          @channel={{this.channel}}
          @resendStagedMessage={{this.resendStagedMessage}}
          @messageDidEnterViewport={{this.messageDidEnterViewport}}
          @messageDidLeaveViewport={{this.messageDidLeaveViewport}}
          @context="thread"
        />
      {{/each}}
      {{#if (or this.loading this.loadingMoreFuture)}}
        <ChatSkeleton />
      {{/if}}
    </div>
  </div>

  {{#if this.chatChannelThreadPane.selectingMessages}}
    <ChatSelectionManager
      @selectedMessageIds={{this.chatChannelThreadPane.selectedMessageIds}}
      @chatChannel={{this.channel}}
      @cancelSelecting={{action
        this.chatChannelThreadPane.cancelSelecting
        this.channel.selectedMessages
      }}
      @context="thread"
    />
  {{else}}
    <Chat::Composer::Thread
      @channel={{this.channel}}
      @onSendMessage={{this.onSendMessage}}
      @uploadDropZone={{this.uploadDropZone}}
    />
  {{/if}}

  <ChatUploadDropZone @model={{this.thread}} />
</div>