<div class="chat-message-collapser">
  {{#if this.hasUploads}}
    <DecoratedHtml
      @html={{html-safe @cooked}}
      @decorate={{@decorate}}
      @className="chat-cooked"
    />

    <Collapser @header={{this.uploadsHeader}} @onToggle={{@onToggleCollapse}}>
      <div class="chat-uploads" {{didInsert this.lightbox}}>
        {{#each @uploads as |upload|}}
          <ChatUpload @upload={{upload}} />
        {{/each}}
      </div>
    </Collapser>
  {{else}}
    {{#each this.cookedBodies as |cooked|}}
      {{#if cooked.needsCollapser}}
        <Collapser @header={{cooked.header}} @onToggle={{@onToggleCollapse}}>
          {{#if cooked.videoAttributes}}
            <div class="chat-message-collapser-lazy-video">
              <LazyVideo @videoAttributes={{cooked.videoAttributes}} />
            </div>
          {{else}}
            <DecoratedHtml
              @html={{html-safe cooked.body}}
              @decorate={{@decorate}}
              @className="chat-cooked"
            />
          {{/if}}
        </Collapser>
      {{else}}
        <DecoratedHtml
          @html={{html-safe cooked.body}}
          @decorate={{@decorate}}
          @className="chat-cooked"
        />
      {{/if}}
    {{/each}}
  {{/if}}
</div>