<div
  class="{{this.chatChannelClass}}
    chat-channel-settings-row chat-channel-settings-row-{{this.channel.id}}"
>
  <div class="chat-channel-info">
    <div class="channel-title-container">
      <LinkTo
        @route="chat.channel"
        @models={{array this.channel.id this.channel.title}}
        class="channel-title"
      >
        <ChatChannelTitle @channel={{this.channel}} />
      </LinkTo>
    </div>

    <div class="chat-channel-data">
      {{#if this.channel.isFollowing}}
        {{d-icon "check"}}
        <p class="channel-joined">
          {{i18n "chat.settings.followed"}}
        </p>
      {{/if}}

      {{#if (and this.channel.description this.categoryChannel)}}
        <div class="chat-channel-description">
          •
          {{this.channel.description}}
        </div>
      {{/if}}
      <ChatChannelStatus @channel={{this.channel}} @format="short" />
    </div>
  </div>

  <div class="btn-container">
    {{#unless this.channel.isFollowing}}
      <DButton
        @class="chat-channel-preview"
        @action={{action "previewChannel"}}
        @disabled={{this.loading}}
        @label="chat.settings.preview"
      />
    {{/unless}}
    <ToggleChannelMembershipButton
      @channel={{this.channel}}
      @options={{hash
        joinClass="btn-primary"
        leaveClass="btn-danger"
        labelType="short"
      }}
    />
  </div>
</div>