<LinkTo
  @route="chat.channel.thread"
  @models={{@message.thread.routeModels}}
  class="chat-message-thread-indicator"
>
  <div class="chat-message-thread-indicator__last-reply-avatar">
    <ChatUserAvatar
      @user={{@message.thread.preview.lastReplyUser}}
      @avatarSize="small"
    />
  </div>
  <div class="chat-message-thread-indicator__body">
    <div class="chat-message-thread-indicator__last-reply-metadata">
      <span class="chat-message-thread-indicator__last-reply-username">
        {{#if this.site.mobileView}}
          <div class="chat-message-thread-indicator__last-reply-avatar -mobile">
            <ChatUserAvatar
              @user={{@message.thread.preview.lastReplyUser}}
              @avatarSize="small"
            />
          </div>
        {{/if}}
        {{@message.thread.preview.lastReplyUser.username}}
      </span>
      <span>{{i18n "chat.thread.last_reply"}}</span>
      {{format-date @message.thread.preview.lastReplyCreatedAt leaveAgo="true"}}
      |
      <span class="chat-message-thread-indicator__replies-count">
        {{i18n "chat.thread.replies" count=@message.thread.preview.replyCount}}
      </span>

    </div>
    <div
      class="chat-message-thread-indicator__last-reply-excerpt overflow-ellipsis"
    >
      {{replace-emoji (html-safe @message.thread.preview.lastReplyExcerpt)}}
    </div>
  </div>

  <div class="chat-message-thread-indicator__participants">
    <Chat::Thread::Participants @thread={{@message.thread}} />
  </div>
</LinkTo>