<div class="chat-thread" data-id={{this.thread.id}}>
  <div class="chat-thread__header">
    <div class="chat-thread__info">
      <div class="chat-thread__title">
        <h2>{{this.title}}</h2>

        <LinkTo
          class="chat-thread__close"
          @route="chat.channel"
          @models={{this.chat.activeChannel.routeModels}}
        >
          {{d-icon "times"}}
        </LinkTo>
      </div>

      <p class="chat-thread__om">
        {{replace-emoji this.thread.original_message.excerpt}}
      </p>

      <div class="chat-thread__op">
        <span class="chat-thread__op-started-by">{{i18n
            "chat.threads.started_by"
          }}</span>
        <ChatMessageAvatar
          class="chat-thread__op-avatar"
          @message={{this.thread.original_message}}
        />
        <span
          class="chat-thread__op-username"
        >{{this.thread.original_message_user.username}}</span>
      </div>
    </div>
  </div>
  <div class="chat-thread__messages">
  </div>
</div>