<div class="chat-composer-message-details">
  <div class="chat-reply">
    {{d-icon @icon}}
    <ChatUserAvatar @user={{@message.user}} />
    <span class="chat-reply__username">{{@message.user.username}}</span>
    <span class="chat-reply__excerpt">
      {{replace-emoji @message.excerpt}}
    </span>
  </div>

  <DButton
    @action={{@cancelAction}}
    @class="btn-flat cancel-message-action"
    @icon="times-circle"
    @title="cancel"
  />
</div>