{{#if @buttons.length}}
  <DMenu
    class={{concat-class
      "chat-composer-dropdown__trigger-btn"
      "btn-flat"
      (if @hasActivePanel "has-active-panel")
    }}
    @title={{i18n "chat.composer.toggle_toolbar"}}
    @icon="plus"
    @disabled={{@isDisabled}}
    @arrow={{true}}
    @placements={{array "top" "bottom"}}
    ...attributes
    as |menu|
  >
    <ul class="chat-composer-dropdown__list">
      {{#each @buttons as |button|}}
        <li class={{concat-class "chat-composer-dropdown__item" button.id}}>
          <DButton
            @icon={{button.icon}}
            @action={{fn this.onButtonClick button menu.close}}
            @label={{button.label}}
            class={{concat-class
              "chat-composer-dropdown__action-btn"
              button.id
            }}
          />
        </li>
      {{/each}}
    </ul>
  </DMenu>
{{/if}}