{{#if (and this.reaction this.emojiUrl)}}
  <button
    id={{this.componentId}}
    type="button"
    {{on "click" (action "handleClick")}}
    tabindex="0"
    class={{concat-class
      this.class
      "chat-message-reaction"
      (if this.reaction.reacted "reacted")
      (if this.reaction.count "show")
    }}
    data-emoji-name={{this.reaction.emoji}}
    title={{this.emojiString}}
  >
    <img
      loading="lazy"
      class="emoji"
      width="20"
      height="20"
      alt={{this.emojiString}}
      src={{this.emojiUrl}}
    />

    {{#if this.reaction.count}}
      <span class="count">{{this.reaction.count}}</span>
    {{/if}}
  </button>
{{/if}}