<div
  class={{concat-class
    "chat-message-actions-backdrop"
    (if this.showFadeIn "fade-in")
  }}
  {{did-insert this.fadeAndVibrate}}
>
  <div
    role="button"
    class="collapse-area"
    {{on "touchstart" this.collapseMenu passive=true}}
  >
  </div>

  <div class="chat-message-actions">
    <div class="selected-message-container">
      <div class="selected-message">
        <ChatUserAvatar @user={{@message.user}} />
        <span
          {{on "touchstart" this.expandReply passive=true}}
          role="button"
          class={{concat-class
            "selected-message-reply"
            (if this.hasExpandedReply "is-expanded")
          }}
        >
          {{@message.message}}
        </span>
      </div>
    </div>

    <ul class="secondary-actions">
      {{#each @secondaryButtons as |button|}}
        <li class="chat-message-action-item" data-id={{button.id}}>
          <DButton
            @class="chat-message-action"
            @translatedLabel={{button.name}}
            @icon={{button.icon}}
            @actionParam={{button.id}}
            @action={{action this.actAndCloseMenu button.id}}
          />
        </li>
      {{/each}}
    </ul>

    {{#if (or @messageCapabilities.canReact @messageCapabilities.canReply)}}
      <div class="main-actions">
        {{#if @messageCapabilities.canReact}}
          {{#each @emojiReactions as |reaction|}}
            <ChatMessageReaction
              @reaction={{reaction}}
              @messageActionsHandler={{@messageActionsHandler}}
              @message={{@message}}
              @showCount={{false}}
            />
          {{/each}}

          <DButton
            @class="btn-flat react-btn"
            @action={{action
              this.actAndCloseMenu
              "startReactionForMessageActions"
            }}
            @icon="discourse-emojis"
            @title="chat.react"
          />
        {{/if}}

        {{#if @messageCapabilities.canBookmark}}
          <DButton
            @class="btn-flat bookmark-btn"
            @action={{action this.actAndCloseMenu "toggleBookmark"}}
          >
            <BookmarkIcon @bookmark={{@message.bookmark}} />
          </DButton>
        {{/if}}

        {{#if @messageCapabilities.canReply}}
          <DButton
            @class="chat-message-action reply-btn btn-flat"
            @action={{action this.actAndCloseMenu "reply"}}
            @icon="reply"
            @title="chat.reply"
          />
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>