{{#if @channel.isDirectMessageChannel}}
  <div class="chat-channel-title is-dm">
    {{#if @channel.chatable.users.length}}
      <div class="chat-channel-title__avatar">
        {{#if this.multiDm}}
          <span class="chat-channel-title__users-count">
            {{@channel.chatable.users.length}}
          </span>
        {{else}}
          <Chat::UserAvatar @user={{get @channel.chatable.users "0"}} />
        {{/if}}
      </div>
    {{/if}}

    <div class="chat-channel-title__user-info">
      <div class="chat-channel-title__usernames">
        {{#if @channel.chatable.users.length}}
          {{#if this.multiDm}}
            <span class="chat-channel-title__name">{{this.usernames}}</span>
          {{else}}
            {{#let (get @channel.chatable.users "0") as |user|}}
              <span class="chat-channel-title__name">{{user.username}}</span>
              {{#if this.showUserStatus}}
                <UserStatusMessage
                  @class="chat-channel-title__user-status-message"
                  @status={{get @channel.chatable.users "0.status"}}
                  @showDescription={{if this.site.mobileView "true"}}
                />
              {{/if}}
              <PluginOutlet
                @name="after-chat-channel-username"
                @outletArgs={{hash user=user}}
                @tagName=""
                @connectorTagName=""
              />
            {{/let}}
          {{/if}}
        {{else}}
          <span class="chat-channel-title__name">Add users</span>
        {{/if}}
      </div>
    </div>

    {{#if (has-block)}}
      {{yield}}
    {{/if}}
  </div>
{{else if @channel.isCategoryChannel}}
  <div class="chat-channel-title is-category">
    <span
      class="chat-channel-title__category-badge"
      style={{this.channelColorStyle}}
    >
      {{d-icon "d-chat"}}
      {{#if @channel.chatable.read_restricted}}
        {{d-icon "lock" class="chat-channel-title__restricted-category-icon"}}
      {{/if}}
    </span>
    <span class="chat-channel-title__name">
      {{replace-emoji @channel.title}}
    </span>

    {{#if (has-block)}}
      {{yield}}
    {{/if}}
  </div>
{{/if}}