<div class="chat-draft">
  {{#if this.site.mobileView}}
    <header class="chat-draft-header">
      <FlatButton
        @class="chat-draft-header__btn btn"
        @icon="chevron-left"
        @title="chat.draft_channel_screen.cancel"
        @action={{action "onCancelChatDraft"}}
      />
      <h2 class="chat-draft-header__title">
        {{d-icon "d-chat"}}
        {{i18n "chat.draft_channel_screen.header"}}
      </h2>
    </header>
  {{/if}}

  <DirectMessageCreator
    @onChangeSelectedUsers={{action "onChangeSelectedUsers"}}
  />

  {{#if this.previewedChannel}}
    <ChatChannel @channel={{this.previewedChannel}} @includeHeader={{false}} />
  {{/if}}
</div>