<div class="chat-channel-threads-index">
  <div class="chat-channel-threads-index__inner-container">
    {{#if @includeHeader}}
      <div class="chat-thread__header">
        <span class="chat-thread__label">{{i18n "chat.threads.index"}}</span>
        <LinkTo
          class="chat-thread__close btn-flat btn btn-icon no-text"
          @route="chat.channel"
          @models={{this.channel.routeModels}}
          title={{i18n "chat.thread.close"}}
        >
          {{d-icon "times"}}
        </LinkTo>
      </div>
    {{/if}}

    <div class="chat-channel-threads-index__original-messages">
      {{#each @threads as |thread|}}
        <Chat::Thread::OriginalMessage @message={{thread.originalMessage}} />
      {{/each}}
    </div>
  </div>
</div>