{{#if this.composerService.replyToMsg}}
  <ChatComposerMessageDetails
    @message={{this.composerService.replyToMsg}}
    @icon="reply"
    @action={{action "cancelReplyTo"}}
  />
{{/if}}

{{#if this.composerService.editingMessage}}
  <ChatComposerMessageDetails
    @message={{this.composerService.editingMessage}}
    @icon="pencil-alt"
    @action={{this.cancelEditing}}
  />
{{/if}}

<div
  role="region"
  aria-label={{i18n "chat.aria_roles.composer"}}
  class="chat-composer {{if this.disableComposer 'is-disabled'}}"
  {{did-update this.updateEditingMessage this.composerService.editingMessage}}
>

  <ChatComposerDropdown
    @buttons={{this.dropdownButtons}}
    @isDisabled={{this.disableComposer}}
    @hasActivePanel={{and
      this.chatEmojiPickerManager.picker
      (eq this.chatEmojiPickerManager.picker.context @context)
    }}
    @onCloseActivePanel={{this.chatEmojiPickerManager.close}}
  />

  <DTextarea
    @value={{readonly this.value}}
    @input={{action "onTextareaInput" value="target.value"}}
    @type="text"
    @class={{concat-class
      "chat-composer-input"
      (concat "chat-composer-input--" @context)
    }}
    @disabled={{this.disableComposer}}
    @autocorrect="on"
    @autocapitalize="sentences"
    @placeholder={{this.placeholder}}
    @focus-in={{action "onTextareaFocusIn" value="target"}}
    @rows={{1}}
  />

  {{#if this.isNetworkUnreliable}}
    <span
      class="chat-composer__unreliable-network"
      title={{i18n "chat.unreliable_network"}}
    >
      {{d-icon "exclamation-circle"}}
    </span>
  {{/if}}

  <FlatButton
    @action={{action "sendClicked"}}
    @icon="paper-plane"
    @class="icon-only send-btn chat-composer-inline-button"
    @title={{this.sendTitle}}
    @disabled={{this.sendDisabled}}
  />

  {{#unless this.disableComposer}}
    <ChatComposerInlineButtons @buttons={{this.inlineButtons}} />
  {{/unless}}
</div>

{{#if this.canAttachUploads}}
  <ChatComposerUploads
    @fileUploadElementId={{this.fileUploadElementId}}
    @onUploadChanged={{this.uploadsChanged}}
    @existingUploads={{or
      this.chatChannel.draft.uploads
      this.composerService.editingMessage.uploads
    }}
  />
{{/if}}

{{#unless this.chatChannel.isDraft}}
  <div class="chat-replying-indicator-container">
    <ChatReplyingIndicator @chatChannel={{this.chatChannel}} />
  </div>
{{/unless}}

<ChatEmojiPicker
  @context={{@context}}
  @didSelectEmoji={{this.didSelectEmoji}}
/>