<div
  class={{concat-class "chat-thread" (if this.loading "loading")}}
  data-id={{this.thread.id}}
  {{did-insert this.loadMessages}}
  {{did-update this.thread.id this.loadMessages}}
>
  <div class="chat-thread__header">
    <span class="chat-thread__label">{{i18n "chat.thread.label"}}</span>
    <LinkTo
      class="chat-thread__close"
      @route="chat.channel"
      @models={{this.chat.activeChannel.routeModels}}
    >
      {{d-icon "times"}}
    </LinkTo>
  </div>

  <div class="chat-thread__body">
    <div class="chat-thread__messages chat-messages-container">
      {{#each this.thread.messages key="id" as |message|}}
        <ChatMessage
          @message={{message}}
          @channel={{this.channel}}
          @resendStagedMessage={{this.resendStagedMessage}}
          @messageDidEnterViewport={{this.messageDidEnterViewport}}
          @messageDidLeaveViewport={{this.messageDidLeaveViewport}}
          @context="thread"
        />
      {{/each}}
      {{#if (or this.loading this.loadingMoreFuture)}}
        <ChatSkeleton />
      {{/if}}
    </div>
  </div>

  {{#if this.chatChannelThreadPane.selectingMessages}}
    <ChatSelectionManager
      @selectedMessageIds={{this.chatChannelThreadPane.selectedMessageIds}}
      @chatChannel={{this.chat.activeChannel}}
      @cancelSelecting={{action
        this.chatChannelThreadPane.cancelSelecting
        this.chat.activeChannel.selectedMessages
      }}
      @context="thread"
    />
  {{else}}

    <ChatComposer
      @sendMessage={{this.sendMessage}}
      @onCancelEditing={{this.cancelEditing}}
      @chatChannel={{this.channel}}
      @composerService={{this.chatChannelThreadComposer}}
      @paneService={{this.chatChannelThreadPane}}
      @context="thread"
    />
  {{/if}}
</div>