{{#if
  (and
    this.chatStateManager.isFullPageActive this.displayed (not @channel.isDraft)
  )
}}
  <div
    class={{concat-class
      "chat-full-page-header"
      (unless @channel.isFollowing "-not-following")
    }}
  >
    <div class="chat-channel-header-details">
      {{#if this.site.mobileView}}
        <div class="chat-full-page-header__left-actions">
          <LinkTo
            @route="chat"
            class="chat-full-page-header__back-btn no-text btn-flat"
          >
            {{d-icon "chevron-left"}}
          </LinkTo>
        </div>
      {{/if}}

      <LinkTo
        @route="chat.channel.info"
        @models={{@channel.routeModels}}
        class="chat-channel-title-wrapper"
      >
        <ChatChannelTitle @channel={{@channel}} />
      </LinkTo>

      {{#if this.site.desktopView}}
        <div class="chat-full-page-header__right-actions">
          <DButton
            @icon="discourse-compress"
            @title="chat.close_full_page"
            class="open-drawer-btn btn-flat no-text"
            @action={{@onCloseFullScreen}}
          />

          {{#if @channel.threadingEnabled}}
            <LinkTo
              @route="chat.channel.threads"
              @models={{@channel.routeModels}}
              title={{i18n "chat.threads.index"}}
              class="open-thread-index-btn btn btn-flat"
            >
              {{d-icon "stream"}}
            </LinkTo>
          {{/if}}
        </div>
      {{/if}}
    </div>
  </div>

  <ChatChannelStatus @channel={{@channel}} />
{{/if}}