{{#if @buttons.length}}
  <Chat::Composer::Button
    {{on "click" this.toggleExpand}}
    @icon="plus"
    title={{i18n "chat.composer.toggle_toolbar"}}
    disabled={{@isDisabled}}
    {{did-insert this.setupTrigger}}
    class={{concat-class
      "chat-composer-dropdown__trigger-btn"
      (if @hasActivePanel "has-active-panel")
    }}
    aria-expanded={{if this.isExpanded "true" "false"}}
    aria-controls={{this.ariaControls}}
    ...attributes
  />
  {{#if this.isExpanded}}
    <ul
      id="chat-composer-dropdown__list"
      class="chat-composer-dropdown__list"
      {{did-insert this.setupPanel}}
      {{will-destroy this.teardownPanel}}
    >
      {{#each @buttons as |button|}}
        <li class={{concat-class "chat-composer-dropdown__item" button.id}}>
          <DButton
            @class={{concat-class
              "chat-composer-dropdown__action-btn"
              button.id
            }}
            @icon={{button.icon}}
            @action={{fn this.onButtonClick button}}
            @label={{button.label}}
          />
        </li>
      {{/each}}
    </ul>
  {{/if}}
{{/if}}