{{#if @buttons.length}}
  <DButton
    @disabled={{@isDisabled}}
    @class="chat-composer-dropdown__trigger-btn btn-flat btn-icon"
    @title="chat.composer.toggle_toolbar"
    @icon={{if @hasActivePanel "times" "plus"}}
    @action={{this.toggleExpand}}
    {{did-insert this.setupTrigger}}
  />

  {{#if this.isExpanded}}
    <ul
      class="chat-composer-dropdown__list"
      {{did-insert this.setupPanel}}
      {{will-destroy this.teardownPanel}}
    >
      {{#each @buttons as |button|}}
        <li class={{concat-class "chat-composer-dropdown__item" button.id}}>
          <DButton
            @class={{concat-class
              "chat-composer-dropdown__action-btn"
              button.id
            }}
            @icon={{button.icon}}
            @action={{(fn this.onButtonClick button)}}
            @label={{button.label}}
          />
        </li>
      {{/each}}
    </ul>
  {{/if}}
{{/if}}