<div class="chat-form__section">
  <div class="chat-form__field -mute">
    <label class="chat-form__label">
      <span>{{i18n "chat.settings.mute"}}</span>
      <ChatChannelSettingsSavedIndicator
        @property={{@channel.currentUserMembership.muted}}
      />
    </label>
    <div class="chat-form__control">
      <ComboBox
        @content={{this.mutedOptions}}
        @value={{@channel.currentUserMembership.muted}}
        @valueProperty="value"
        @class="channel-settings-view__selector"
        @onChange={{fn this.saveNotificationSettings "muted" "muted"}}
      />
    </div>
  </div>

  {{#unless @channel.currentUserMembership.muted}}
    <div class="chat-form__field -desktop-notification-level">
      <label class="chat-form__label">
        <span>{{i18n "chat.settings.desktop_notification_level"}}</span>
        <ChatChannelSettingsSavedIndicator
          @property={{@channel.currentUserMembership.desktopNotificationLevel}}
        />
      </label>
      <div class="chat-form__control">
        <ComboBox
          @content={{this.notificationLevels}}
          @value={{@channel.currentUserMembership.desktopNotificationLevel}}
          @valueProperty="value"
          @class="channel-settings-view__selector"
          @onChange={{fn
            this.saveNotificationSettings
            "desktopNotificationLevel"
            "desktop_notification_level"
          }}
        />
      </div>
    </div>

    <div class="chat-form__field -mobile-notification-level">
      <label class="chat-form__label">
        <span>{{i18n "chat.settings.mobile_notification_level"}}</span>
        <ChatChannelSettingsSavedIndicator
          @property={{@channel.currentUserMembership.mobileNotificationLevel}}
        />
      </label>
      <div class="chat-form__control">
        <ComboBox
          @content={{this.notificationLevels}}
          @value={{@channel.currentUserMembership.mobileNotificationLevel}}
          @valueProperty="value"
          @class="channel-settings-view__selector"
          @onChange={{fn
            this.saveNotificationSettings
            "mobileNotificationLevel"
            "mobile_notification_level"
          }}
        />
      </div>
    </div>
  {{/unless}}
  <div class="chat-retention-info">
    {{d-icon "info-circle"}}
    <ChatRetentionReminderText @channel={{@channel}} />
  </div>
</div>

{{#if this.adminSectionAvailable}}
  <h3 class="chat-form__section-admin-title">
    {{i18n "chat.settings.admin_title"}}
  </h3>

  {{#if this.autoJoinAvailable}}
    <div class="chat-form__section -autojoin">
      <div class="chat-form__field">
        <label class="chat-form__label">
          <span>{{i18n "chat.settings.auto_join_users_label"}}</span>
          <ChatChannelSettingsSavedIndicator
            @property={{@channel.autoJoinUsers}}
          />
        </label>
        <ComboBox
          @content={{this.autoAddUsersOptions}}
          @value={{@channel.autoJoinUsers}}
          @valueProperty="value"
          @class="channel-settings-view__selector"
          @onChange={{action
            (fn this.onToggleAutoJoinUsers @channel.autoJoinUsers)
          }}
        />
        <p class="chat-form__description">
          {{i18n
            "chat.settings.auto_join_users_info"
            category=@channel.chatable.name
          }}
        </p>
      </div>
    </div>
  {{/if}}

  {{#if this.togglingChannelWideMentionsAvailable}}
    <div class="chat-form__section -channel-wide-mentions">
      <div class="chat-form__field">
        <label class="chat-form__label">
          <span>{{i18n "chat.settings.channel_wide_mentions_label"}}</span>
          <ChatChannelSettingsSavedIndicator
            @property={{@channel.allowChannelWideMentions}}
          />
        </label>
        <ComboBox
          @content={{this.channelWideMentionsOptions}}
          @value={{@channel.allowChannelWideMentions}}
          @valueProperty="value"
          @class="channel-settings-view__selector"
          @onChange={{this.onToggleChannelWideMentions}}
        />
        <p class="chat-form__description">
          {{i18n
            "chat.settings.channel_wide_mentions_description"
            channel=@channel.title
          }}
        </p>
      </div>
    </div>
  {{/if}}

  <div class="chat-form__section -threading">
    <div class="chat-form__field">
      <label class="chat-form__label">
        <span>{{i18n "chat.settings.channel_threading_label"}}</span>
        <span class="channel-settings-view__channel-threading-tooltip">
          {{d-icon "info-circle"}}
          <DTooltip>
            {{i18n "chat.settings.channel_threading_description"}}
          </DTooltip>
        </span>
        <ChatChannelSettingsSavedIndicator
          @property={{@channel.threadingEnabled}}
        />
      </label>
      <ComboBox
        @content={{this.threadingEnabledOptions}}
        @value={{@channel.threadingEnabled}}
        @valueProperty="value"
        @class="channel-settings-view__selector"
        @onChange={{this.onToggleThreadingEnabled}}
      />
    </div>
  </div>
{{/if}}

{{#unless @channel.isDirectMessageChannel}}
  <div class="chat-form__section">
    {{#if (chat-guardian "can-edit-chat-channel")}}
      {{#if (chat-guardian "can-archive-channel" @channel)}}
        <div class="chat-form__field">
          <DButton
            @action={{action "onArchiveChannel"}}
            @label="chat.channel_settings.archive_channel"
            @class="archive-btn chat-form__btn btn-flat"
            @icon="archive"
          />
        </div>
      {{/if}}

      {{#if @channel.isClosed}}
        <div class="chat-form__field">
          <DButton
            @action={{action "onToggleChannelState"}}
            @label="chat.channel_settings.open_channel"
            @class="open-btn chat-form__btn btn-flat"
            @icon="unlock"
          />
        </div>
      {{else}}
        <div class="chat-form__field">
          <DButton
            @action={{action "onToggleChannelState"}}
            @label="chat.channel_settings.close_channel"
            @class="close-btn chat-form__btn btn-flat"
            @icon="lock"
          />
        </div>
      {{/if}}

      <div class="chat-form__field">
        <DButton
          @action={{action "onDeleteChannel"}}
          @label="chat.channel_settings.delete_channel"
          @class="delete-btn chat-form__btn btn-flat"
          @icon="trash-alt"
        />
      </div>
    {{/if}}
  </div>
{{/unless}}