<div class="chat-message-text">
  {{#if this.isCollapsible}}
    <ChatMessageCollapser
      @cooked={{@cooked}}
      @uploads={{@uploads}}
      @onToggleCollapse={{@onToggleCollapse}}
      @isEdited={{this.isEdited}}
    />
  {{else}}
    {{html-safe @cooked}}
    {{#if this.isEdited}}
      <span class="chat-message-edited">({{i18n "chat.edited"}})</span>
    {{/if}}
  {{/if}}
  {{yield}}
</div>