<div class="chat-message-text">
  {{#if this.isCollapsible}}
    <ChatMessageCollapser @cooked={{this.cooked}} @uploads={{this.uploads}} />
  {{else}}
    {{html-safe this.cooked}}
  {{/if}}

  {{#if this.edited}}
    <span class="chat-message-edited">({{i18n "chat.edited"}})</span>
  {{/if}}

  {{yield}}
</div>