<div
  class={{concat-class
    "chat-live-pane"
    (if this.loading "loading")
    (if this.sendingLoading "sending-loading")
    (unless this.loadedOnce "not-loaded-once")
  }}
  {{did-insert this.setupListeners}}
  {{will-destroy this.teardownListeners}}
  {{did-insert this.updateChannel}}
  {{did-update this.loadMessages @targetMessageId}}
  {{did-update this.updateChannel @channel.id}}
  {{did-insert this.addAutoFocusEventListener}}
  {{will-destroy this.removeAutoFocusEventListener}}
>
  <ChatFullPageHeader
    @channel={{@channel}}
    @onCloseFullScreen={{this.onCloseFullScreen}}
    @displayed={{this.includeHeader}}
  />

  <ChatRetentionReminder @channel={{@channel}} />

  <ChatMentionWarnings />

  <div class="chat-message-actions-mobile-anchor"></div>

  <div
    class={{concat-class
      "chat-message-emoji-picker-anchor"
      (if
        (and
          this.chatEmojiPickerManager.opened
          (eq this.chatEmojiPickerManager.context "chat-message")
        )
        "-opened"
      )
    }}
  ></div>

  <div
    class="chat-messages-scroll chat-messages-container"
    {{on "scroll" this.computeScrollState passive=true}}
    {{chat/on-scroll this.resetIdle (hash delay=500)}}
    {{chat/on-scroll this.computeArrow (hash delay=150)}}
  >
    <div class="chat-message-actions-desktop-anchor"></div>
    <div class="chat-messages-container" {{chat/on-resize this.didResizePane}}>
      {{#if this.loadedOnce}}
        {{#each @channel.messages key="id" as |message|}}
          <ChatMessage
            @message={{message}}
            @channel={{@channel}}
            @selectingMessages={{this.livePanel.selectingMessages}}
            @isHovered={{eq message.id this.livePanel.hoveredMessageId}}
            @onHoverMessage={{this.livePanel.hoverMessage}}
            @resendStagedMessage={{this.resendStagedMessage}}
            @messageDidEnterViewport={{this.messageDidEnterViewport}}
            @messageDidLeaveViewport={{this.messageDidLeaveViewport}}
            @messageActions={{this.messageActions}}
            @messageActionsHandler={{this.messageActionsHandler}}
          />
        {{/each}}
      {{else}}
        <ChatSkeleton />
      {{/if}}
    </div>

    {{! at bottom even if shown at top due to column-reverse  }}
    {{#if (and this.loadedOnce (not @channel.messagesManager.canLoadMorePast))}}
      <div class="all-loaded-message">
        {{i18n "chat.all_loaded"}}
      </div>
    {{/if}}
  </div>

  <ChatScrollToBottomArrow
    @scrollToBottom={{this.scrollToLatestMessage}}
    @hasNewMessages={{this.hasNewMessages}}
    @show={{or this.needsArrow @channel.messagesManager.canLoadMoreFuture}}
    @channel={{@channel}}
  />

  {{#if this.livePanel.selectingMessages}}
    <ChatSelectionManager
      @selectedMessageIds={{this.livePanel.selectedMessageIds}}
      @chatChannel={{@channel}}
      @cancelSelecting={{action this.livePanel.cancelSelecting}}
    />
  {{else}}
    {{#if (or @channel.isDraft @channel.isFollowing)}}
      <ChatComposer
        @sendMessage={{this.sendMessage}}
        @editMessage={{this.editMessage}}
        @loading={{this.sendingLoading}}
        @onCancelEditing={{this.cancelEditing}}
        @onEditLastMessageRequested={{this.editLastMessageRequested}}
        @chatChannel={{@channel}}
        @messageActions={{this.messageActions}}
        @composerService={{this.chatChannelComposer}}
      />
    {{else}}
      <ChatChannelPreviewCard @channel={{@channel}} />
    {{/if}}
  {{/if}}
</div>