{{! template-lint-disable no-down-event-binding }}
<div class="chat-composer__wrapper">
  {{#if (or this.currentMessage.editing this.currentMessage.inReplyTo)}}
    <ChatComposerMessageDetails
      @message={{if
        this.currentMessage.editing
        this.currentMessage
        this.currentMessage.inReplyTo
      }}
      @icon="pencil-alt"
      @cancelAction={{this.onCancel}}
    />
  {{/if}}

  <div
    role="region"
    aria-label={{i18n "chat.aria_roles.composer"}}
    class={{concat-class
      "chat-composer"
      (if this.isFocused "chat-composer--focused")
      (if this.pane.sending "chat-composer--sending")
      (if
        this.isSendEnabled
        "chat-composer--send-enabled"
        "chat-composer--send-disabled"
      )
      (if this.composer.disabled "chat-composer--disabled")
    }}
    {{did-update this.didUpdateMessage this.currentMessage}}
    {{did-update this.didUpdateInReplyTo this.currentMessage.inReplyTo}}
    {{did-insert this.setupAppEvents}}
    {{will-destroy this.teardownAppEvents}}
  >
    <div class="chat-composer__outer-container">
      <div class="chat-composer__inner-container">
        <ChatComposerDropdown
          @buttons={{this.dropdownButtons}}
          @isDisabled={{this.composer.disabled}}
          @hasActivePanel={{eq
            this.chatEmojiPickerManager.picker.context
            @context
          }}
          @onCloseActivePanel={{this.chatEmojiPickerManager.close}}
        />

        <div class="chat-composer__input-container">
          <DTextarea
            value={{readonly this.currentMessage.message}}
            type="text"
            class="chat-composer__input"
            disabled={{this.composer.disabled}}
            autocorrect="on"
            autocapitalize="sentences"
            placeholder={{this.composer.placeholder}}
            rows={{1}}
            {{did-insert this.setupTextareaInteractor}}
            {{on "input" this.onInput}}
            {{on "keydown" this.onKeyDown}}
            {{on "focusin" this.onTextareaFocusIn}}
            {{on "focusin" (fn this.computeIsFocused true)}}
            {{on "focusout" (fn this.computeIsFocused false)}}
            {{did-insert this.setupAutocomplete}}
            data-chat-composer-context={{@context}}
          />
        </div>

        <DButton
          @action={{this.onSend}}
          @icon="paper-plane"
          class="chat-composer__send-btn icon-only"
          @title="chat.composer.send"
          @disabled={{or this.composer.disabled (not this.isSendEnabled)}}
          tabindex={{if this.isSendEnabled 0 -1}}
          {{on "focus" (fn this.computeIsFocused true)}}
          {{on "blur" (fn this.computeIsFocused false)}}
        />

        {{#unless this.composer.disabled}}
          <ChatComposerInlineButtons @buttons={{this.inlineButtons}} />
        {{/unless}}
      </div>

    </div>
  </div>

  {{#if this.canAttachUploads}}
    <ChatComposerUploads
      @fileUploadElementId={{this.fileUploadElementId}}
      @onUploadChanged={{this.onUploadChanged}}
      @existingUploads={{this.currentMessage.uploads}}
      @uploadDropZone={{@uploadDropZone}}
    />
  {{/if}}

  {{#unless @channel.isDraft}}
    <div class="chat-replying-indicator-container">
      <ChatReplyingIndicator @chatChannel={{@channel}} />
    </div>
  {{/unless}}

  <ChatEmojiPicker
    @context={{@context}}
    @didSelectEmoji={{this.onSelectEmoji}}
  />
</div>