<div
  class={{concat-class "chat-thread" (if this.loading "loading")}}
  data-id={{this.thread.id}}
  {{did-insert this.loadMessages}}
>
  <div class="chat-thread__header">
    <div class="chat-thread__info">
      <div class="chat-thread__title">
        <h2>{{this.title}}</h2>

        <LinkTo
          class="chat-thread__close"
          @route="chat.channel"
          @models={{this.chat.activeChannel.routeModels}}
        >
          {{d-icon "times"}}
        </LinkTo>
      </div>

      <p class="chat-thread__om">
        {{replace-emoji this.thread.originalMessage.excerpt}}
      </p>

      <div class="chat-thread__omu">
        <span class="chat-thread__started-by">{{i18n
            "chat.threads.started_by"
          }}</span>
        <ChatMessageAvatar
          class="chat-thread__omu-avatar"
          @message={{this.thread.originalMessage}}
        />
        <span
          class="chat-thread__omu-username"
        >{{this.thread.originalMessageUser.username}}</span>
      </div>
    </div>
  </div>
  <div class="chat-thread__messages chat-messages-container">
    {{#each this.thread.messages key="id" as |message|}}
      <ChatMessage
        @message={{message}}
        @channel={{this.channel}}
        @selectingMessages={{this.livePanel.selectingMessages}}
        @isHovered={{eq message.id this.livePanel.hoveredMessageId}}
        @onHoverMessage={{this.livePanel.hoverMessage}}
        @resendStagedMessage={{this.resendStagedMessage}}
        @messageDidEnterViewport={{this.messageDidEnterViewport}}
        @messageDidLeaveViewport={{this.messageDidLeaveViewport}}
        @messageActionsHandler={{this.messageActionsHandler}}
      />
    {{/each}}
    {{#if (or this.loading this.loadingMoreFuture)}}
      <ChatSkeleton />
    {{/if}}
  </div>

  <ChatComposer
    @sendMessage={{this.sendMessage}}
    @editMessage={{this.editMessage}}
    @loading={{this.sendingLoading}}
    @onCancelEditing={{this.cancelEditing}}
    @onEditLastMessageRequested={{this.editLastMessageRequested}}
    @chatChannel={{this.channel}}
    @composerService={{this.chatChannelThreadComposer}}
  />
</div>