<div
  class={{this.rowClassNames}}
  role="button"
  tabindex="0"
  {{on "click" this.handleClick}}
  data-id={{this.model.id}}
>
  {{#if this.model.user}}
    {{avatar this.model imageSize="tiny"}}
    <span class="username">
      {{this.model.username}}
    </span>
  {{else}}
    <ChatChannelTitle @channel={{this.model}} />
  {{/if}}
</div>