<div
  class={{concat-class
    "chat-composer-upload"
    (if (eq this.type this.IMAGE_TYPE) "chat-composer-upload--image")
    (unless this.isDone "chat-composer-upload--in-progress")
  }}
>
  <div class="preview">
    {{#if (eq this.type this.IMAGE_TYPE)}}
      {{#if this.isDone}}
        <img class="preview-img" src={{this.upload.short_path}} />
      {{else}}
        {{d-icon "far-image"}}
      {{/if}}
    {{else}}
      {{d-icon "file-alt"}}
    {{/if}}
  </div>

  <span class="data">
    {{#if (not (eq this.type this.IMAGE_TYPE))}}
      <div class="top-data">
        <span class="file-name">{{this.fileName}}</span>
      </div>
    {{/if}}

    <div class="bottom-data">
      {{#if this.isDone}}
        {{#if (not (eq this.type this.IMAGE_TYPE))}}
          <span class="extension-pill">{{this.upload.extension}}</span>
        {{/if}}
      {{else}}
        {{#if this.upload.processing}}
          <span class="processing">{{i18n "processing"}}</span>
        {{else}}
          <span class="uploading">{{i18n "uploading"}}</span>
        {{/if}}

        <progress
          class="upload-progress"
          id="file"
          max="100"
          value={{this.upload.progress}}
        ></progress>
      {{/if}}
    </div>
  </span>

  <DButton
    @class="btn-flat chat-composer-upload__remove-btn"
    @action={{this.onCancel}}
    @icon="times"
    @title="chat.remove_upload"
  />
</div>