<div
  class="chat-message-actions-container"
  data-id={{@message.id}}
  {{did-insert this.attachPopper}}
  {{will-destroy this.destroyPopper}}
>
  <div class="chat-message-actions">
    {{#if this.chatStateManager.isFullPageActive}}
      {{#each @emojiReactions key="emoji" as |reaction|}}
        <ChatMessageReaction
          @reaction={{reaction}}
          @messageActionsHandler={{@messageActionsHandler}}
          @message={{@message}}
          @showCount={{false}}
        />
      {{/each}}
    {{/if}}

    {{#if @messageCapabilities.canReact}}
      <DButton
        @class="btn-flat react-btn"
        @action={{@messageActions.startReactionForMessageActions}}
        @icon="discourse-emojis"
        @title="chat.react"
      />
    {{/if}}

    {{#if @messageCapabilities.canBookmark}}
      <DButton
        @class="btn-flat bookmark-btn"
        @action={{action @messageActionsHandler.toggleBookmark @message}}
      >
        <BookmarkIcon @bookmark={{@message.bookmark}} />
      </DButton>
    {{/if}}

    {{#if @messageCapabilities.canReply}}
      <DButton
        @class="btn-flat reply-btn"
        @action={{action @messageActionsHandler.reply @message}}
        @icon="reply"
        @title="chat.reply"
      />
    {{/if}}

    {{#if @messageCapabilities.hasThread}}
      <DButton
        @class="btn-flat chat-message-thread-btn"
        @action={{action @messageActionsHandler.openThread @message}}
        @icon="puzzle-piece"
        @title="chat.threads.open"
      />
    {{/if}}

    {{#if @secondaryButtons.length}}
      <DropdownSelectBox
        @class="more-buttons"
        @options={{hash icon="ellipsis-v" placement="left"}}
        @content={{@secondaryButtons}}
        @onChange={{action this.handleSecondaryButtons}}
      />
    {{/if}}
  </div>
</div>