<div class="chat-message-collapser-header">
  {{this.header}}

  {{#if this.collapsed}}
    <DButton
      @action={{action "open"}}
      @icon="caret-right"
      @class="chat-message-collapser-button chat-message-collapser-closed"
    />
  {{else}}
    <DButton
      @action={{action "close"}}
      @icon="caret-down"
      @class="chat-message-collapser-button chat-message-collapser-opened"
    />
  {{/if}}
</div>

<div class={{if this.collapsed "hidden" ""}}>
  {{yield}}
</div>