<div
  class={{concat
    @class
    " dc-filter-input-container"
    (if this.isFocused " is-focused")
  }}
>
  {{#if @icons.left}}
    {{d-icon @icons.left class="-left"}}
  {{/if}}

  <Input
    class="dc-filter-input"
    @value={{@value}}
    {{on "input" (if @filterAction @filterAction (noop))}}
    {{on "focusin" (action (mut this.isFocused) true)}}
    {{on "focusout" (action (mut this.isFocused) false)}}
    ...attributes
  />

  {{yield}}

  {{#if @icons.right}}
    {{d-icon @icons.right class="-right"}}
  {{/if}}
</div>
