{{#if this.show}}
  <div class="chat-mention-warnings">
    <div class="chat-mention-warning-icon">
      {{d-icon "exclamation-triangle"}}
    </div>
    <div class="chat-mention-warning-text">
      <div class="chat-mention-warning-header">
        {{this.warningHeaderText}}
      </div>
      <ul class={{this.listStyleClass}}>
        {{#if this.tooManyMentions}}
          <li>{{this.tooManyMentionsBody}}</li>
        {{else}}
          {{#if this.unnreachableBody}}
            <li>{{this.unnreachableBody}}</li>
          {{/if}}
          {{#if this.overMembersLimitBody}}
            <li>{{this.overMembersLimitBody}}</li>
          {{/if}}
        {{/if}}
      </ul>
    </div>
  </div>
{{/if}}
