<div class="flagged-post-header">
  <LinkTo
    @route="chat.channel"
    @models={{array
      this.chatChannel.slugifiedTitle
      this.chatChannel.id
      @reviewable.target_id
    }}
  >
    <ChatChannelTitle @channel={{this.chatChannel}} />
  </LinkTo>
</div>

<div class="post-contents-wrapper">
  <ReviewableCreatedBy @user={{@reviewable.target_created_by}} @tagName="" />
  <div class="post-contents">
    <ReviewablePostHeader
      @reviewable={{@reviewable}}
      @createdBy={{@reviewable.target_created_by}}
      @tagName=""
    />

    <div class="post-body">
      {{html-safe (or @reviewable.payload.message_cooked @reviewable.cooked)}}
    </div>

    {{#if @reviewable.payload.transcript_topic_id}}
      <div class="transcript">
        <LinkTo
          @route="topic"
          @models={{array "-" @reviewable.payload.transcript_topic_id}}
          class="btn btn-small"
        >
          {{i18n "review.transcript.view"}}
        </LinkTo>
      </div>
    {{/if}}

    {{yield}}
  </div>
</div>