
{{#if this.users}}
  <div class="users-list">
    {{#each this.users as |user|}}
      <InviteListUser @user={{user}} @roles={{this.roles}} @removeUser={{action "removeUser"}} />
    {{/each}}
  </div>
{{/if}}

<div class="new-user">
  <div class="text-field {{if this.invalid "invalid"}}">
    <Input class="invite-email wizard-focusable" @value={{this.inviteEmail}} placeholder="user@example.com" @tabindex="9" />
  </div>

  <ComboBox @value={{this.inviteRole}} @content={{this.roles}} @nameProperty="label" @onChange={{action (mut this.inviteRole)}} />

  <button type="button" class="wizard-btn small add-user" {{action "addUser"}}>
    {{d-icon "plus"}}{{i18n "wizard.invites.add_user"}}
  </button>
</div>
