<div class="previews {{if this.draggingActive "dragging"}}">
  <div class="preview-area topic-preview">
    <canvas width={{this.elementWidth}} height={{this.elementHeight}} style={{this.canvasStyle}}>
    </canvas>
  </div>
  <div class="preview-area homepage-preview">
    <HomepagePreview @wizard={{this.wizard}} @step={{this.step}} />
  </div>
</div>

<div class="preview-nav">
  <a href class="preview-nav-button {{if this.previewTopic "active"}}" {{action "setPreviewTopic"}}>
    {{i18n "wizard.previews.topic_preview"}}
  </a>
  <a href class="preview-nav-button {{unless this.previewTopic "active"}}" {{action "setPreviewHomepage"}}>
    {{i18n "wizard.previews.homepage_preview"}}
  </a>
</div>
