{{#each this.field.choices as |c|}}
  <div class="checkbox-field-choice {{this.fieldClass}}">
    <label id={{c.id}} value={{c.label}}>
      <Input
        @type="checkbox"
        class="wizard-container__checkbox"
        @checked={{c.checked}}
        {{on "click" (action "changed")}}
      />
      {{#if c.icon}}
        {{d-icon c.icon}}
      {{/if}}
      {{c.label}}
    </label>
  </div>
{{/each}}