{{#if field.label}}
  <label for={{field.id}}>
    <span class="wizard-container__lable">
      {{field.label}}
    </span>

    {{#if field.required}}
      <span class="wizard-container__lable required">*</span>
    {{/if}}

    {{#if field.description}}
      <div class="wizard-container__description">{{html-safe field.description}}</div>
    {{/if}}
  </label>
{{/if}}

<div class="wizard-container__input">
  {{component
    inputComponentName
    field=field
    step=step
    fieldClass=fieldClass
    wizard=wizard
  }}
</div>

{{#if field.errorDescription}}
  <div class="wizard-container__description">{{html-safe field.errorDescription}}</div>
{{/if}}

{{#if field.extra_description}}
  <div class="wizard-container__description extra">{{html-safe field.extra_description}}</div>
{{/if}}
