<div class="wizard-container__step-contents">
  {{#if step.title}}
    <h1 class="wizard-container__step-title">{{step.title}}</h1>
  {{/if}}

  <div class="wizard-container__step-flex">
    <WizardStepForm @step={{step}}>
      {{#if includeSidebar}}
        <div class="wizard-container__sidebar">
          {{#each step.fields as |field|}}
            {{#if field.show_in_sidebar}}
              <WizardField @field={{field}} @step={{step}} @wizard={{wizard}} />
            {{/if}}
          {{/each}}
        </div>
      {{/if}}
      <div class="wizard-container__fields">
        {{#each step.fields as |field|}}
          {{#unless field.show_in_sidebar}}
            <WizardField @field={{field}} @step={{step}} @wizard={{wizard}} />
          {{/unless}}
        {{/each}}
      </div>
    </WizardStepForm>
    {{#if (or bannerImage step.description)}}
      <div class={{bannerAndDescriptionClass}}>
        {{#if bannerImage}}
          <img src={{bannerImage}} class="wizard-container__step-banner-image">
        {{/if}}

        {{#if step.description}}
          <p class="wizard-container__step-description">{{html-safe step.description}}</p>
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>

<div class="wizard-container__step-footer">

  <div class="wizard-container__step-progress">
    <span>{{bound-i18n "wizard.step" current=step.displayIndex total=wizard.totalSteps}}</span>
  </div>

  <div class="wizard-container__buttons">
    {{#if showFinishButton}}
      <button {{action "exitEarly"}} disabled={{saving}} tabindex="10" type="button" class="wizard-container__button finish">
        {{i18n "wizard.finish"}}
      </button>
    {{/if}}

    {{#if showBackButton}}
      <a href {{action "backStep"}} tabindex="11" class="action-link back">{{i18n "wizard.back"}}</a>
    {{/if}}

    {{#if showNextButton}}
      <button {{action "nextStep"}} disabled={{saving}} tabindex="10" type="button" class="wizard-container__button primary {{nextButtonClass}}">
        {{i18n nextButtonLabel}}
      </button>
    {{/if}}

    {{#if showDoneButton}}
      <button {{action "quit"}} disabled={{saving}} tabindex="10" type="button" class="wizard-container__button done">
        {{i18n "wizard.done"}}
      </button>
    {{/if}}
  </div>

</div>
