<label class="wizard-container__label">
  <Input
    @type="checkbox"
    disabled={{this.field.disabled}}
    class="wizard-container__checkbox"
    @checked={{this.field.value}}
  />
  <span class="wizard-container__checkbox-slider"></span>
  {{#if this.field.icon}}
    {{d-icon this.field.icon}}
  {{/if}}
  <span class="wizard-container__checkbox-label">
    {{this.field.placeholder}}
  </span>
  <PluginOutlet
    @name="below-wizard-checkbox"
    @outletArgs={{hash disabled=this.field.disabled}}
  />
</label>