<div class="wizard-step-contents">
  {{#if this.step.title}}
    <h1 class="wizard-step-title">{{this.step.title}}</h1>
  {{/if}}

  <div class={{this.bannerAndDescriptionClass}}>
    {{#if this.bannerImage}}
      <img src={{this.bannerImage}} class="wizard-step-banner">
    {{/if}}

    {{#if this.step.description}}
      <p class="wizard-step-description">{{html-safe this.step.description}}</p>
    {{/if}}
  </div>

  <WizardStepForm @step={{this.step}}>
    {{#if this.includeSidebar}}
      <div class="wizard-fields-sidebar">
        {{#each this.step.fields as |field|}}
          {{#if field.show_in_sidebar}}
            <WizardField @field={{field}} @step={{this.step}} @wizard={{this.wizard}} />
          {{/if}}
        {{/each}}
      </div>
    {{/if}}
    <div class="wizard-fields-main">
      {{#each this.step.fields as |field|}}
        {{#unless field.show_in_sidebar}}
          <WizardField @field={{field}} @step={{this.step}} @wizard={{this.wizard}} />
        {{/unless}}
      {{/each}}
    </div>
  </WizardStepForm>
</div>

<div class="wizard-step-footer">

  <div class="wizard-progress">
    <div class="white"></div>
    <div style={{this.barStyle}} class="black"></div>
    <div class="screen"></div>
    <span>{{bound-i18n "wizard.step" current=this.step.displayIndex total=this.wizard.totalSteps}}</span>
  </div>

  <div class="wizard-buttons">
    {{#if this.showQuitButton}}
      <a href {{action "quit"}} tabindex="11" class="action-link quit">{{i18n "wizard.quit"}}</a>
    {{/if}}

    {{#if this.showFinishButton}}
      <button {{action "exitEarly"}} disabled={{this.saving}} tabindex="10" type="button" class="wizard-btn finish">
        {{i18n "wizard.finish"}}
      </button>
    {{/if}}

    {{#if this.showBackButton}}
      <a href {{action "backStep"}} tabindex="11" class="action-link back">{{i18n "wizard.back"}}</a>
    {{/if}}

    {{#if this.showNextButton}}
      <button {{action "nextStep"}} disabled={{this.saving}} tabindex="10" type="button" class="wizard-btn next primary">
        {{i18n "wizard.next"}}
        {{d-icon "chevron-right"}}
      </button>
    {{/if}}

    {{#if this.showDoneButton}}
      <button {{action "quit"}} disabled={{this.saving}} tabindex="10" type="button" class="wizard-btn done">
        {{i18n "wizard.done"}}
      </button>
    {{/if}}
  </div>

</div>
