<div id='simple-container'>
  <h2><%= t('login.omniauth_confirm_title', provider:(t "js.login.#{params[:provider]}.name", default: params[:provider])) %></h2>
  <br/>

  <form method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= button_tag(type: "submit", class: "btn btn-primary") do %>
        <%= SvgSprite.raw_svg('fa-plug') %><%= t 'login.omniauth_confirm_button' %>
    <% end %>
  </form>
</div>
