<div class="chat-thread-list-item" data-thread-id={{@thread.id}}>
  <div class="chat-thread-list-item__main">
    <div
      title={{i18n "chat.thread.view_thread"}}
      role="button"
      class="chat-thread-list-item__open-button"
      {{on "touchstart" (fn this.openThread @thread) passive=true}}
      {{on "click" (fn this.openThread @thread) passive=true}}
    >
      <div class="chat-thread-list-item__header">
        <div class="chat-thread-list-item__title">
          {{replace-emoji this.title}}
        </div>
        <div class="chat-thread-list-item__buttons">
          <DButton
            @action={{action this.openThreadSettings}}
            @class="btn-flat chat-thread-list-item__settings"
            @icon="cog"
            @title="chat.thread.settings"
            @disabled={{not this.canChangeThreadSettings}}
          />
        </div>
      </div>
      <Chat::Thread::OriginalMessage
        @thread={{@thread}}
        @message={{@thread.originalMessage}}
      />
    </div>
  </div>
</div>