<div class='user-stream'>
  {{#each model itemController="group/post"}}
    <div class='item'>
      <div class='clearfix info'>
        {{#link-to 'user' user class="avatar-link"}}<div class='avatar-wrapper'>{{avatar user imageSize="large" extraClasses="actor" ignoreTitle="true"}}</div>{{/link-to}}
        <span class='time'>{{date path="created_at" leaveAgo="true"}}</span>
        <span class="title">
          <a href="{{unbound url}}">{{unbound title}}</a>
        </span>
        {{#if byName}}
          <span class="name">
            {{unbound byName}}
          </span>
        {{/if}}
      </div>
      <p class='excerpt'>
      {{{unbound cooked}}}
      </p>
    </div>
  {{/each}}
</div>
