{{#if model}}
  <table class='group-members'>
    <tr>
      <th colspan="3" class="seen">{{i18n 'last_seen'}}</th>
    </tr>
  {{#each m in members}}
  <tr>
      <td class='avatar'>
        {{avatar m imageSize="large"}}
      </td>
      <td>
        <h3>{{#link-to 'user' m}}{{m.username}}{{/link-to}}</h3>
        <p>{{m.name}}</p>
      </td>
      <td>
        <span class='last-seen-at'>{{bound-date m.last_seen_at}}</span>
      </td>
    </tr>
    </div>
  {{/each}}
</table>
{{/if}}
