{{#if model}}
  <table class='group-members'>
    <tr>
      <th colspan="2">{{i18n 'last_post'}}</th>
      <th>{{i18n 'last_seen'}}</th>
    </tr>
  {{#each model.members as |m|}}
    <tr>
      <td class='avatar'>{{user-small user=m}}</td>
      <td>
        <span class="text">{{bound-date m.last_posted_at}}</span>
      </td>
      <td>
        <span class="text">{{bound-date m.last_seen_at}}</span>
      </td>
    </tr>
  {{/each}}
</table>
{{/if}}
