<div class="group-membership">
  {{#if canManageGroup}}
  <div class="clearfix">
    {{user-selector usernames=add_usernames tabindex="1"}}
    <button {{action "addMembers"}} {{bind-attr disabled="disableSave"}} class='btn' tabindex="2">{{i18n admin.groups.selector_placeholder}}</button>
  </div>
  {{/if}}

  <table class='group-members'>
    <thead>
      <tr>
        <th colspan=4></th>
        <th class="seen">
          {{i18n last_seen}}
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each model itemController="group/member"}}
      <tr class='group-member'>
        {{#if canManageGroup}}
          <td class='action'>
            <span class='remove' {{action "removeMe"}}><i class='fa fa-times'></i> {{i18n admin.groups.delete}}</span>
          </td>
        {{/if}}
        <td class='avatar'>
          {{! {{#link-to 'user' this class="avatar-link" data-user-card="{{unbound username}\}"}\}<div class='avatar-wrapper'>{{avatar this imageSize="medium" extraClasses="actor" ignoreTitle="true"}\}</div>{{/link-to}\} }}
          <a href="#" data-user-card="{{unbound username}}">{{avatar this imageSize="medium" extraClasses="actor" ignoreTitle="true"}}</a>
        </td>
        <td>
          <span class='username'>{{#link-to 'user' this}}{{unbound username}}{{/link-to}}</span>
        </td>
        <td>
          <span class='fullname'>{{unbound name}}</span>
        </td>
        <td>
          <span class='last-seen-at'>{{bound-date last_seen_at}}</span>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
