<DModal
  @title={{html-safe
    (i18n "admin.user.merge.confirmation.title" username=@model.username)
  }}
  @closeModal={{@closeModal}}
>
  <:body>
    <p>
      {{html-safe
        (i18n
          "admin.user.merge.confirmation.description"
          username=@model.username
          targetUsername=@model.targetUsername
          text=this.text
        )
      }}
    </p>
    <Input @type="text" @value={{this.value}} />
  </:body>
  <:footer>
    <DButton
      class="btn-danger"
      @action={{fn @model.merge @model.targetUsername}}
      @icon="trash-alt"
      @disabled={{this.mergeDisabled}}
      @translatedLabel={{i18n
        "admin.user.merge.confirmation.transfer_and_delete"
        username=@model.username
      }}
    />
    <DButton
      @action={{@closeModal}}
      @label="admin.user.merge.confirmation.cancel"
    />
  </:footer>
</DModal>