<DModal
  @closeModal={{@closeModal}}
  @title={{i18n "admin.reseed.modal.title"}}
  @subtitle={{i18n "admin.reseed.modal.subtitle"}}
  class="reseed-modal"
  @flash={{this.flash}}
>
  <:body>
    <ConditionalLoadingSpinner @condition={{this.loading}}>
      {{#if this.categories}}
        <fieldset>
          <legend class="options-group-title">
            {{i18n "admin.reseed.modal.categories"}}
          </legend>
          {{#each this.categories as |category|}}
            <label>
              <Input
                class="option"
                @type="checkbox"
                @checked={{category.selected}}
              />
              <span>{{category.name}}</span>
            </label>
          {{/each}}
        </fieldset>
      {{/if}}
      <br />
      {{#if this.topics}}
        <fieldset>
          <legend class="options-group-title">
            {{i18n "admin.reseed.modal.topics"}}
          </legend>
          {{#each this.topics as |topic|}}
            <label>
              <Input
                class="option"
                @type="checkbox"
                @checked={{topic.selected}}
              />
              <span>{{topic.name}}</span>
            </label>
          {{/each}}
        </fieldset>
      {{/if}}
    </ConditionalLoadingSpinner>
  </:body>
  <:footer>
    <DButton
      @action={{this.reseed}}
      @label="admin.reseed.modal.replace"
      @isLoading={{this.reseeding}}
      class="btn-danger"
    />

    {{#unless this.reseeding}}
      <DModalCancel @close={{@closeModal}} />
    {{/unless}}
  </:footer>
</DModal>