<DModal
  @title={{i18n "admin.backups.operations.backup.confirm"}}
  @closeModal={{@closeModal}}
  class="start-backup-modal"
>
  <:body>
    {{#if this.warningMessage}}
      <div class={{this.warningCssClasses}}>{{html-safe
          this.warningMessage
        }}</div>
    {{/if}}
    {{#if this.canManageUploadsInBackup}}
      <label class="checkbox-label">
        <Input @type="checkbox" @checked={{this.includeUploads}} />
        {{i18n "admin.backups.operations.backup.include_uploads"}}
      </label>
    {{/if}}
  </:body>
  <:footer>
    <DButton
      class="btn-primary"
      @action={{this.startBackup}}
      @label="yes_value"
    />
    <DButton class="btn-flat" @action={{@closeModal}} @label="cancel" />
  </:footer>
</DModal>