<DModal
  @title={{i18n "admin.backups.operations.backup.confirm"}}
  @closeModal={{@closeModal}}
>
  <:body>
    {{#if this.warningMessage}}
      <div class="alert alert-warning">{{html-safe this.warningMessage}}</div>
    {{/if}}
  </:body>
  <:footer>
    <DButton
      class="btn-primary backup-with-uploads"
      @action={{this.startBackupWithUploads}}
      @label={{or this.yesLabel "yes_value"}}
    />
    <DButton
      class="backup-no-uploads"
      @action={{this.startBackupWithoutUploads}}
      @label="admin.backups.operations.backup.without_uploads"
    />
    <DButton class="btn-default" @action={{@closeModal}} @label="no_value" />
  </:footer>
</DModal>