<div class='setting-label'>
   <h3>{{unbound settingName}}</h3>
</div>
<div class="setting-value">
  {{text-field value=value classNames="input-setting-string"}}
  <div {{bind-attr class=":validation-error validationMessage::hidden"}}><i class='fa fa-times'></i> {{validationMessage}}</div>
  <div class='desc'>{{unbound description}}</div>
</div>
{{#if dirty}}
  <div class='setting-controls'>
    <button class='btn ok no-text' {{action save this}}><i class='fa fa-check'></i></button>
    <button class='btn cancel no-text' {{action cancel this}}><i class='fa fa-times'></i></button>
  </div>
{{else}}
  {{#if overridden}}
    <button class='btn' href='#' {{action resetDefault this}}><i class="fa fa-undo"></i>{{i18n admin.site_settings.reset}}</button>
  {{/if}}
{{/if}}
