<DModal
  @closeModal={{this.closingModal}}
  @title={{this.modalTitle}}
  @flash={{this.flash}}
  @flashType="error"
  id="bookmark-reminder-modal"
  class="bookmark-reminder-modal"
  data-bookmark-id={{this.bookmark.id}}
  {{did-insert this.didInsert}}
>

  <:body>
    <div class="control-group bookmark-name-wrap">
      <Input
        id="bookmark-name"
        @value={{this.bookmark.name}}
        name="bookmark-name"
        class="bookmark-name"
        placeholder={{i18n "post.bookmarks.name_placeholder"}}
        aria-label={{i18n "post.bookmarks.name_input_label"}}
      />
      <DButton
        @icon="gear"
        @action={{this.toggleShowOptions}}
        @ariaLabel="post.bookmarks.options"
        @title="post.bookmarks.options"
        class="bookmark-options-button"
      />
    </div>

    {{#if this.showOptions}}
      <div class="bookmark-options-panel">
        <label
          class="control-label"
          for="bookmark_auto_delete_preference"
        >{{i18n "bookmarks.auto_delete_preference.label"}}</label>
        <ComboBox
          @content={{this.autoDeletePreferences}}
          @value={{this.bookmark.autoDeletePreference}}
          @id="bookmark-auto-delete-preference"
          @onChange={{fn (mut this.bookmark.autoDeletePreference)}}
          class="bookmark-option-selector"
        />
      </div>
    {{/if}}

    {{#if this.showExistingReminderAt}}
      <div class="alert alert-info existing-reminder-at-alert">
        {{d-icon "far-clock"}}
        <span>{{i18n
            "bookmarks.reminders.existing_reminder"
            at_date_time=this.existingReminderAtFormatted
          }}</span>
      </div>
    {{/if}}

    <div class="control-group">
      <label class="control-label">
        {{i18n "post.bookmarks.set_reminder"}}
      </label>

      {{#if this.userHasTimezoneSet}}
        <TimeShortcutPicker
          @timeShortcuts={{this.timeOptions}}
          @prefilledDatetime={{this.prefilledDatetime}}
          @onTimeSelected={{this.onTimeSelected}}
          @hiddenOptions={{this.hiddenTimeShortcutOptions}}
          @customLabels={{this.customTimeShortcutLabels}}
          @_itsatrap={{this._itsatrap}}
        />
      {{else}}
        <div class="alert alert-info">{{html-safe
            (i18n "bookmarks.no_timezone" basePath=(base-path))
          }}</div>
      {{/if}}
    </div>
  </:body>

  <:footer>
    <DButton
      @label="bookmarks.save"
      @action={{this.saveAndClose}}
      id="save-bookmark"
      class="btn-primary"
    />
    <DModalCancel @close={{this.closeWithoutSavingBookmark}} />
    {{#if this.showDelete}}
      <DButton
        @icon="trash-can"
        @action={{this.delete}}
        @ariaLabel="post.bookmarks.actions.delete_bookmark.name"
        @title="post.bookmarks.actions.delete_bookmark.name"
        id="delete-bookmark"
        class="delete-bookmark btn-danger"
      />
    {{/if}}
  </:footer>
</DModal>