<DModal
  @closeModal={{this.closingModal}}
  @title={{this.modalTitle}}
  @flash={{this.flash}}
  @flashType="error"
  id="bookmark-reminder-modal"
  class="bookmark-reminder-modal bookmark-with-reminder bookmark-redesigned-modal"
  data-bookmark-id={{this.bookmark.id}}
  {{did-insert this.didInsert}}
>
  <:body>
    <div class="bookmark-context">
      <div class="bookmark-context__user-avatar">
        <div
          role="button"
          class="clickable"
          data-user-card={{@model.context.user.username}}
        >
          {{avatar @model.context imageSize="small"}}
        </div>

        <span
          class="bookmark-context__username"
        >{{@model.context.user.username}}</span>

        {{#if @model.contextTitle}}
          <span class="bookmark-context__title">{{@model.contextTitle}}</span>
        {{/if}}
      </div>

      {{! TODO (martin) We need to decorate the #hashtags here so they get their colours }}
      <div class="bookmark-context__excerpt">{{html-safe this.excerpt}}</div>
    </div>

    <div class="control-group bookmark-name-wrap">
      <Input
        id="bookmark-name"
        @value={{this.bookmark.name}}
        name="bookmark-name"
        class="bookmark-name"
        @enter={{action "saveAndClose"}}
        placeholder={{i18n "post.bookmarks.name_placeholder"}}
        aria-label={{i18n "post.bookmarks.name_input_label"}}
      />
    </div>

    <CalendarDateTimeInput
      @datePickerId="bookmark"
      @date={{this.reminderDate}}
      @time={{this.reminderTime}}
      @minDate={{this.minDate}}
      @onChangeDate={{action this.changeSelectedDate}}
      @onChangeTime={{action this.changeSelectedTime}}
    />

    <div class="control-group bookmark-auto-delete-wrap">
      <label class="control-label" for="bookmark_auto_delete_preference">{{i18n
          "bookmarks.auto_delete_preference.after_reminder_label"
        }}</label>

      <ComboBox
        @valueProperty="value"
        @content={{this.bookmarkAfterNotificationModes}}
        @value={{this.bookmark.autoDeletePreference}}
        @id="bookmark-after-notification-mode"
        @onChange={{action (mut this.bookmark.autoDeletePreference)}}
      />

      <label>
        <Input
          @type="checkbox"
          @checked={{this.defaultFutureAutoDeletePreference}}
          class="toggle-overridden"
        />
        {{i18n "bookmarks.auto_delete_preference.after_reminder_checkbox"}}
      </label>
    </div>
  </:body>

  <:footer>
    <DButton
      id="save-bookmark"
      @label="bookmarked.title"
      class="btn-primary"
      @action={{this.saveAndClose}}
    />
    <DModalCancel @close={{action "closeWithoutSavingBookmark"}} />
  </:footer>
</DModal>