{{! template-lint-disable no-duplicate-id }}
<DModal
  class="create-account -large"
  {{on "keydown" this.actionOnEnter}}
  {{on "click" this.selectKitFocus}}
  @closeModal={{@closeModal}}
  @bodyClass={{this.modalBodyClasses}}
  @flash={{this.flash}}
  @flashType="error"
  aria-labelledby="create-account-title"
>
  <:body>
    <PluginOutlet
      @name="create-account-before-modal-body"
      @connectorTagName="div"
    />

    <div
      class={{concat-class
        (if this.site.desktopView "login-left-side")
        this.model.authOptions.auth_provider
      }}
    >
      <SignupProgressBar @step="signup" />
      <WelcomeHeader
        id="create-account-title"
        @header={{i18n "create_account.header_title"}}
      >
        <PluginOutlet
          @name="create-account-header-bottom"
          @outletArgs={{hash showLogin=(route-action "showLogin")}}
        />
      </WelcomeHeader>
      {{#if this.showCreateForm}}
        <form id="login-form">
          {{#if this.associateHtml}}
            <div class="input-group create-account-associate-link">
              <span>{{html-safe this.associateHtml}}</span>
            </div>
          {{/if}}
          <div class="input-group create-account-email">
            <Input
              {{on "focusout" this.checkEmailAvailability}}
              {{on "focusin" this.scrollInputIntoView}}
              @type="email"
              @value={{this.model.accountEmail}}
              disabled={{this.emailDisabled}}
              autofocus="autofocus"
              aria-describedby="account-email-validation account-email-validation-more-info"
              aria-invalid={{this.emailValidation.failed}}
              name="email"
              id="new-account-email"
              class={{value-entered this.model.accountEmail}}
            />
            <label class="alt-placeholder" for="new-account-email">
              {{i18n "user.email.title"}}
            </label>
            {{#if
              (or
                this.emailValidation.ok
                (and this.emailValidationVisible this.emailValidation.reason)
              )
            }}
              <InputTip
                @validation={{this.emailValidation}}
                id="account-email-validation"
              />
            {{else}}
              <span class="more-info" id="account-email-validation-more-info">
                {{i18n "user.email.instructions"}}
              </span>
            {{/if}}
          </div>

          <div class="input-group create-account__username">
            <Input
              {{on "focusin" this.scrollInputIntoView}}
              @value={{this.model.accountUsername}}
              disabled={{this.usernameDisabled}}
              maxlength={{this.maxUsernameLength}}
              aria-describedby="username-validation username-validation-more-info"
              aria-invalid={{this.usernameValidation.failed}}
              autocomplete="off"
              name="username"
              id="new-account-username"
              class={{value-entered this.model.accountUsername}}
            />
            <label class="alt-placeholder" for="new-account-username">
              {{i18n "user.username.title"}}
            </label>

            <InputTip
              @validation={{this.usernameValidation}}
              id="username-validation"
            />
          </div>

          {{#if (and this.showFullname this.fullnameRequired)}}
            <FullnameInput
              @nameValidation={{this.nameValidation}}
              @nameTitle={{this.nameTitle}}
              @accountName={{this.accountName}}
              @nameDisabled={{this.nameDisabled}}
              @onFocusIn={{this.scrollInputIntoView}}
              class={{concat-class
                "input-group"
                "create-account__fullname"
                (if this.siteSettings.full_name_required "required")
              }}
            />
          {{/if}}

          <PluginOutlet
            @name="create-account-before-password"
            @outletArgs={{hash
              accountName=this.model.accountName
              accountUsername=this.model.accountUsername
              accountPassword=this.accountPassword
              userFields=this.userFields
              authOptions=this.model.authOptions
            }}
          />

          <div class="input-group create-account__password">
            {{#if this.passwordRequired}}
              <PasswordField
                {{on "focusout" this.showPasswordValidation}}
                {{on "focusin" this.scrollInputIntoView}}
                @value={{this.accountPassword}}
                @capsLockOn={{this.capsLockOn}}
                type={{if this.maskPassword "password" "text"}}
                autocomplete="current-password"
                aria-describedby="password-validation password-validation-more-info"
                aria-invalid={{this.passwordValidation.failed}}
                id="new-account-password"
                class={{value-entered this.accountPassword}}
              />
              <label class="alt-placeholder" for="new-account-password">
                {{i18n "user.password.title"}}
              </label>

              <div class="create-account__password-info">
                <div class="create-account__password-tip-validation">
                  {{#if
                    (or
                      this.passwordValidation.ok
                      (and
                        this.passwordValidationVisible
                        this.passwordValidation.reason
                      )
                    )
                  }}
                    <InputTip
                      @validation={{this.passwordValidation}}
                      id="password-validation"
                    />
                  {{/if}}
                  <div
                    class={{concat-class
                      "caps-lock-warning"
                      (unless this.capsLockOn "hidden")
                    }}
                  >
                    {{d-icon "triangle-exclamation"}}
                    {{i18n "login.caps_lock_warning"}}
                  </div>
                </div>
                <TogglePasswordMask
                  @maskPassword={{this.maskPassword}}
                  @togglePasswordMask={{this.togglePasswordMask}}
                />
              </div>
            {{/if}}

            <div class="password-confirmation">
              <label for="new-account-password-confirmation">
                {{i18n "user.password_confirmation.title"}}
              </label>
              <HoneypotInput
                @id="new-account-confirmation"
                @autocomplete="new-password"
                @value={{this.accountHoneypot}}
              />
              <Input
                @value={{this.accountChallenge}}
                id="new-account-challenge"
              />
            </div>
          </div>

          {{#if this.requireInviteCode}}
            <div class="input-group create-account__invite-code">
              <Input
                {{on "focusin" this.scrollInputIntoView}}
                @value={{this.inviteCode}}
                id="inviteCode"
                class={{value-entered this.inviteCode}}
              />
              <label class="alt-placeholder" for="invite-code">
                {{i18n "user.invite_code.title"}}
              </label>
              <span class="more-info">
                {{i18n "user.invite_code.instructions"}}
              </span>
            </div>
          {{/if}}

          <PluginOutlet
            @name="create-account-after-password"
            @outletArgs={{hash
              accountName=this.model.accountName
              accountUsername=this.model.accountUsername
              accountPassword=this.accountPassword
              userFields=this.userFields
            }}
          />

          {{#if (and this.showFullname (not this.fullnameRequired))}}
            <FullnameInput
              @nameValidation={{this.nameValidation}}
              @nameTitle={{this.nameTitle}}
              @accountName={{this.accountName}}
              @nameDisabled={{this.nameDisabled}}
              @onFocusIn={{this.scrollInputIntoView}}
              class={{concat-class
                "input-group"
                "create-account__fullname"
                (if this.siteSettings.full_name_required "required")
              }}
            />
          {{/if}}

          {{#if this.userFields}}
            <div class="user-fields">
              {{#each this.userFields as |f|}}
                <div class="input-group">
                  <UserField
                    {{on "focusin" this.scrollInputIntoView}}
                    @field={{f.field}}
                    @value={{f.value}}
                    @validation={{f.validation}}
                    class={{value-entered f.value}}
                  />
                </div>
              {{/each}}
            </div>
          {{/if}}

          <PluginOutlet
            @name="create-account-after-user-fields"
            @outletArgs={{hash
              accountName=this.model.accountName
              accountUsername=this.model.accountUsername
              accountPassword=this.accountPassword
              userFields=this.userFields
            }}
          />
        </form>

        {{#if this.site.desktopView}}
          <div class="d-modal__footer">
            <SignupPageCta
              @formSubmitted={{this.formSubmitted}}
              @hasAuthOptions={{this.hasAuthOptions}}
              @createAccount={{this.createAccount}}
              @submitDisabled={{this.submitDisabled}}
              @disclaimerHtml={{this.disclaimerHtml}}
            />
          </div>

          <PluginOutlet
            @name="create-account-after-modal-footer"
            @connectorTagName="div"
          />
        {{/if}}
      {{/if}}

      {{#if this.model.skipConfirmation}}
        {{loading-spinner size="large"}}
      {{/if}}
    </div>

    {{#if this.hasAtLeastOneLoginButton}}
      {{#if this.site.mobileView}}
        <div class="login-or-separator"><span>
            {{i18n "login.or"}}</span></div>{{/if}}
      <div class="login-right-side">
        <LoginButtons
          @externalLogin={{this.externalLogin}}
          @context="create-account"
        />
      </div>
    {{/if}}
  </:body>

  <:footer>
    {{#if (and this.showCreateForm this.site.mobileView)}}
      <SignupPageCta
        @formSubmitted={{this.formSubmitted}}
        @hasAuthOptions={{this.hasAuthOptions}}
        @createAccount={{this.createAccount}}
        @submitDisabled={{this.submitDisabled}}
        @disclaimerHtml={{this.disclaimerHtml}}
      />
    {{/if}}
  </:footer>
</DModal>