<DModal
  @closeModal={{@closeModal}}
  @title={{i18n "topics.bulk.dismiss_new_modal.title"}}
>
  <:body>
    <p>
			{{#if this.showDismissNewTopics}}
      <PreferenceCheckbox
				@labelKey={{this.dismissNewTopicsLabel}}
				@labelCount={{this.countNewTopics}}
        @checked={{this.dismissTopics}}
        @class="dismiss-topics"
      />
			{{/if}}
			{{#if this.showDismissNewReplies}}
      <PreferenceCheckbox
				@labelKey={{this.dismissNewRepliesLabel}}
				@labelCount={{this.countNewReplies}}
        @checked={{this.dismissPosts}}
        @class="dismiss-posts"
      />
			{{/if}}
      <PreferenceCheckbox
        @labelKey="topics.bulk.dismiss_new_modal.untrack"
        @checked={{this.untrack}}
        @class="untrack"
      />
    </p>
  </:body>
  <:footer>
    <DButton
      id="dismiss-read-confirm"
      @action={{this.dismissed}}
      @icon="check"
      @label="topics.bulk.dismiss"
      class="btn-primary"
    />
  </:footer>
</DModal>