<DModal
  @title={{i18n "topic.slow_mode_update.title"}}
  class="edit-slow-mode-modal"
  @closeModal={{@closeModal}}
  @flash={{this.flash}}
>
  <:body>
    <div class="control-group">
      <label class="slow-mode-label">
        {{i18n "topic.slow_mode_update.description"}}
      </label>
    </div>
    <div class="control-group">
      <label class="slow-mode-label">
        {{i18n "topic.slow_mode_update.select"}}
      </label>
      <ComboBox
        class="slow-mode-type"
        @content={{this.slowModes}}
        @value={{this.selectedSlowMode}}
        @onChange={{this.setSlowModeDuration}}
      />
    </div>
    {{#if this.showCustomSelect}}
      <div class="control-group">
        <label class="slow-mode-label">
          {{i18n "topic.slow_mode_update.hours"}}
        </label>
        <Input @value={{this.hours}} @type="number" class="input-small" />
        <label class="slow-mode-label">
          {{i18n "topic.slow_mode_update.minutes"}}
        </label>
        <Input @value={{this.minutes}} @type="number" class="input-small" />
        <label class="slow-mode-label">
          {{i18n "topic.slow_mode_update.seconds"}}
        </label>
        <Input @value={{this.seconds}} @type="number" class="input-small" />
      </div>
    {{/if}}

    <div class="control-group">
      <FutureDateInput
        class="enabled-until"
        @label="topic.slow_mode_update.enabled_until"
        @labelClasses="slow-mode-label"
        @customShortcuts={{this.timeShortcuts}}
        @clearable={{true}}
        @input={{@model.topic.slow_mode_enabled_until}}
        @onChangeInput={{action (mut @model.topic.slow_mode_enabled_until)}}
      />
    </div>
  </:body>
  <:footer>
    <DButton
      class="btn-primary"
      @disabled={{this.submitDisabled}}
      @icon="hourglass-start"
      @label={{this.saveButtonLabel}}
      @action={{this.enableSlowMode}}
    />
    {{#if @model.topic.slow_mode_seconds}}
      <DButton
        class="btn-danger"
        @action={{this.disableSlowMode}}
        @disabled={{this.submitDisabled}}
        @label="topic.slow_mode_update.remove"
      />
    {{/if}}
  </:footer>
</DModal>