<DModal
  @title={{i18n "forgot_password.title"}}
  @closeModal={{@closeModal}}
  @flash={{this.flash}}
  @flashType="error"
  class="forgot-password-modal"
>
  <:body>
    {{#if this.offerHelp}}
      {{html-safe this.offerHelp}}
    {{else if this.siteSettings.hide_email_address_taken}}
      <label for="username-or-email">
        {{i18n "forgot_password.invite_no_username"}}
      </label>
      <input
        {{on "input" this.updateEmailOrUsername}}
        value={{this.emailOrUsername}}
        placeholder={{i18n "email"}}
        type="text"
        id="username-or-email"
        autocorrect="off"
        autocapitalize="off"
      />
    {{else}}
      <label for="username-or-email">
        {{i18n "forgot_password.invite"}}
      </label>
      <input
        {{on "input" this.updateEmailOrUsername}}
        value={{this.emailOrUsername}}
        placeholder={{i18n "login.email_placeholder"}}
        type="text"
        id="username-or-email"
        autocorrect="off"
        autocapitalize="off"
      />
    {{/if}}
  </:body>

  <:footer>
    {{#if this.offerHelp}}
      <DButton
        @action={{@closeModal}}
        @label="forgot_password.button_ok"
        type="submit"
        class="btn-large btn-primary"
      />
      {{#unless this.helpSeen}}
        <DButton
          @action={{this.help}}
          @label="forgot_password.button_help"
          @icon="question-circle"
          class="btn-large"
        />
      {{/unless}}
    {{else}}
      <DButton
        @action={{this.resetPassword}}
        @disabled={{this.submitDisabled}}
        @label="forgot_password.reset"
        type="submit"
        class="btn-primary forgot-password-reset"
      />
    {{/if}}
  </:footer>
</DModal>