<DModal
  @bodyClass="grant-badge"
  @closeModal={{@closeModal}}
  @flash={{this.flash}}
  @flashType={{this.flashType}}
  @title={{i18n "admin.badges.grant_badge"}}
  class="grant-badge-modal"
  {{did-insert this.loadBadges}}
>
  <:body>
    <ConditionalLoadingSpinner @condition={{this.loading}}>
      {{#if this.noAvailableBadges}}
        <p>{{i18n "admin.badges.no_badges"}}</p>
      {{else}}
        <p>
          <ComboBox
            @value={{this.selectedBadgeId}}
            @content={{this.availableBadges}}
            @onChange={{action (mut this.selectedBadgeId)}}
            @options={{hash filterable=true none="badges.none"}}
          />
        </p>
      {{/if}}
    </ConditionalLoadingSpinner>
  </:body>
  <:footer>
    <DButton
      @disabled={{this.buttonDisabled}}
      @action={{this.performGrantBadge}}
      @label="admin.badges.grant"
      class="btn-primary"
    />
  </:footer>
</DModal>