<DModal
  @flash={{this.flash}}
  @flashType={{this.flashType}}
  @closeModal={{@closeModal}}
  @title={{i18n
    "admin.site_settings.json_schema.modal_title"
    name=@model.settingName
  }}
  @inline={{@inline}}
  class="json-schema-editor-modal"
>
  <:body>
    <div
      id="json-editor-holder"
      {{did-insert this.buildJsonEditor}}
      {{will-destroy this.teardownJsonEditor}}
    ></div>
  </:body>

  <:footer>
    <DButton @action={{this.saveChanges}} @label="save" class="btn-primary" />
  </:footer>
</DModal>