<DModal
  @title={{i18n "keyboard_shortcuts_help.title"}}
  @closeModal={{@closeModal}}
  class="keyboard-shortcuts-modal"
>
  <:body>
    <div id="keyboard-shortcuts-help">
      <div class="keyboard-shortcuts-help__container">
        {{#each-in this.shortcuts as |category shortcutCategory|}}
          <section
            class="shortcut-category span-{{shortcutCategory.count}}
              shortcut-category-{{category}}"
          >
            <h4>{{i18n
                (concat "keyboard_shortcuts_help." category ".title")
              }}</h4>
            <ul>
              {{#each-in shortcutCategory.shortcuts as |name shortcut|}}
                <li>{{html-safe shortcut}}</li>
              {{/each-in}}
            </ul>
          </section>
        {{/each-in}}
      </div>
    </div>
  </:body>
</DModal>