<DModal
  @title={{i18n "raw_email.title"}}
  class="incoming-email-modal"
  @closeModal={{@closeModal}}
>
  <:body>
    <div class="incoming-email-tabs">
      <DButton
        @action={{this.displayRaw}}
        @label="post.raw_email.displays.raw.button"
        @title="post.raw_email.displays.raw.title"
        class={{if (eq this.tab "raw") "active"}}
      />

      {{#if this.textPart}}
        <DButton
          @action={{this.displayTextPart}}
          @label="post.raw_email.displays.text_part.button"
          @title="post.raw_email.displays.text_part.title"
          class={{if (eq this.tab "text_part") "active"}}
        />
      {{/if}}

      {{#if this.htmlPart}}
        <DButton
          @action={{this.displayHtmlPart}}
          @label="post.raw_email.displays.html_part.button"
          @title="post.raw_email.displays.html_part.title"
          class={{if (eq this.tab "html_part") "active"}}
        />
      {{/if}}
    </div>

    <div class="incoming-email-content">
      {{#if (eq this.tab "raw")}}
        {{#if this.rawEmail}}
          <Textarea @value={{this.rawEmail}} />
        {{else}}
          {{i18n "raw_email.not_available"}}
        {{/if}}
      {{/if}}
      {{#if (eq this.tab "text_part")}}
        <Textarea @value={{this.textPart}} />
      {{/if}}
      {{#if (eq this.tab "html_part")}}
        <IframedHtml
          @html={{this.htmlPart}}
          @className="incoming-email-html-part"
        />
      {{/if}}
    </div>
  </:body>
</DModal>