<DModal
  @title={{i18n "categories.reorder.title"}}
  @closeModal={{@closeModal}}
  class="reorder-categories full-height-modal"
>
  <:body>
    <table>
      <thead>
        <th class="th-cat">{{i18n "categories.category"}}</th>
        <th class="th-pos">{{i18n "categories.reorder.position"}}</th>
      </thead>
      <tbody>
        {{#each this.categoriesOrdered as |cat|}}
          <tr data-category-id={{cat.id}}>
            <td>
              <div class={{concat "reorder-categories-depth-" cat.depth}}>
                {{category-badge cat allowUncategorized="true"}}
              </div>
            </td>

            <td>
              <NumberField
                @number={{readonly cat.position}}
                @change={{fn this.change cat}}
                @min="0"
              />
              <DButton
                @action={{fn this.move cat -1}}
                @icon="arrow-up"
                class="btn-default no-text"
              />
              <DButton
                @action={{fn this.move cat 1}}
                @icon="arrow-down"
                class="btn-default no-text"
              />
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </:body>

  <:footer>
    <DButton
      @action={{this.save}}
      @label="categories.reorder.save"
      class="btn-primary"
    />
  </:footer>
</DModal>