<DModal
  @title={{i18n "user.second_factor.security_key.edit"}}
  @closeModal={{@closeModal}}
  @tagName="form"
>
  <:body>
    <div class="input-group">
      <label for="security-key-name">{{i18n
          "user.second_factor.security_key.edit_description"
        }}</label>
      <Input
        name="security-key-name"
        id="security-key-name"
        maxlength={{this.maxSecondFactorNameLength}}
        @type="text"
        @value={{@model.securityKey.name}}
      />
    </div>
  </:body>
  <:footer>
    <DButton
      @action={{this.editSecurityKey}}
      class="btn-primary"
      @label="user.second_factor.security_key.save"
      @type="submit"
    />
  </:footer>
</DModal>