<DModal
  @title={{i18n "user.second_factor.security_key.edit"}}
  @closeModal={{@closeModal}}
>
  <:body>
    <form class="form-horizontal">
      <div class="input-group">
        <label for="security-key-name">{{i18n
            "user.second_factor.security_key.edit_description"
          }}</label>
        <Input
          name="security-key-name"
          @type="text"
          @value={{@model.securityKey.name}}
        />
      </div>
    </form>
  </:body>
  <:footer>
    <DButton
      @action={{this.editSecurityKey}}
      class="btn-primary"
      @label="user.second_factor.security_key.save"
    />
  </:footer>
</DModal>