<DModal
  @title={{i18n "topics.bulk.actions"}}
  @closeModal={{@closeModal}}
  class="topic-bulk-actions-modal small"
>
  <p>
    {{html-safe (i18n "topics.bulk.selected" count=@model.topics.length)}}
  </p>

  {{#if this.showProgress}}
    <p>
      {{html-safe (i18n "topics.bulk.progress" count=this.processedTopicCount)}}
    </p>
  {{else if this.activeComponent}}
    <this.activeComponent
      @loading={{this.loading}}
      @topics={{@model.topics}}
      @category={{@model.category}}
      @setComponent={{this.setComponent}}
      @forEachPerformed={{this.forEachPerformed}}
      @performAndRefresh={{this.performAndRefresh}}
    />
  {{else}}
    <div class="bulk-buttons">
      {{#each this.buttons as |button|}}
        <DButton
          @action={{fn
            button.action
            (hash
              topics=@model.topics
              category=@model.category
              setComponent=this.setComponent
              performAndRefresh=this.performAndRefresh
              forEachPerformed=this.forEachPerformed
            )
          }}
          @label={{button.label}}
          @icon={{button.icon}}
          class={{button.class}}
        />
      {{/each}}
    </div>
  {{/if}}
</DModal>