<section class="discourse-automation-form new">
  <form class="form-horizontal">
    {{form-error error=error}}

    <div class="control-group">
      <label class="control-label">
        {{i18n "discourse_automation.models.automation.name.label"}}
      </label>

      <div class="controls">
        {{text-field
          value=form.name
          type="text"
          classNames="input-large"
          autofocus="autofocus"
        }}
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">
        {{i18n "discourse_automation.models.automation.script.label"}}
      </label>

      <div class="controls">
        {{dropdown-select-box
          class="scriptables"
          value=form.script
          content=model.scriptables.content
          onChange=(action (mut form.script))
          options=(hash
            filterable=true
            none="discourse_automation.select_script"
          )
        }}
      </div>
    </div>

    <div class="control-group">

      <div class="controls">
        {{d-button
          icon="plus"
          class="btn-primary"
          label="discourse_automation.create"
          action=(action "saveAutomation" model.automation)
        }}
      </div>
    </div>
  </form>
</section>
