<table>
  <thead>
    <tr>
      <th>{{i18n "discourse_automation.models.automation.name.label"}}</th>
      <th>{{i18n "discourse_automation.models.automation.script.label"}}</th>
      <th>{{i18n "discourse_automation.models.automation.version.label"}}</th>
      <th>{{i18n "discourse_automation.models.automation.enabled.label"}}</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |automation|}}
      <tr>
        <td>{{automation.name}}</td>
        <td>{{automation.script.name}}</td>
        <td>{{automation.script.version}}</td>
        <td>{{format-enabled-automation automation.enabled}}</td>
        <td>
          {{d-button
            icon="pencil-alt"
            action=(action "editAutomation" automation)
          }}
        </td>
        <td>
          {{d-button
            icon="trash-alt"
            class="btn-danger"
            action=(action "destroyAutomation" automation)
          }}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
