{{body-class "user-activity-page"}}

<PluginOutlet @name="user-activity-navigation-wrapper">

  <div class="user-navigation user-navigation-secondary">
    <HorizontalOverflowNav @ariaLabel="User secondary - activity">
      <DNavigationItem
        @route="userActivity.index"
        @ariaCurrentContext="subNav"
        class="user-nav__activity-all"
      >
        {{d-icon "bars-staggered"}}
        <span>{{i18n "user.filters.all"}}</span>
      </DNavigationItem>

      <DNavigationItem
        @route="userActivity.topics"
        @ariaCurrentContext="subNav"
        class="user-nav__activity-topics"
      >
        {{d-icon "list-ul"}}
        <span>{{i18n "user_action_groups.4"}}</span>
      </DNavigationItem>
      <DNavigationItem
        @route="userActivity.replies"
        @ariaCurrentContext="subNav"
        class="user-nav__activity-replies"
      >
        {{d-icon "reply"}}
        <span>{{i18n "user_action_groups.5"}}</span>
      </DNavigationItem>

      {{#if this.user.showRead}}
        <DNavigationItem
          @route="userActivity.read"
          @ariaCurrentContext="subNav"
          class="user-nav__activity-read"
          title={{i18n "user.read_help"}}
        >
          {{d-icon "clock-rotate-left"}}
          <span>{{i18n "user.read"}}</span>
        </DNavigationItem>
      {{/if}}

      {{#if this.user.showDrafts}}
        <DNavigationItem
          @route="userActivity.drafts"
          @ariaCurrentContext="subNav"
          class="user-nav__activity-drafts"
        >
          {{d-icon "pencil"}}
          <span>{{this.draftLabel}}</span>
        </DNavigationItem>
      {{/if}}

      {{#if (gt this.model.pending_posts_count 0)}}
        <DNavigationItem
          @route="userActivity.pending"
          @ariaCurrentContext="subNav"
          class="user-nav__activity-pending"
        >
          {{d-icon "clock"}}
          <span>{{this.pendingLabel}}</span>
        </DNavigationItem>
      {{/if}}

      <DNavigationItem
        @route="userActivity.likesGiven"
        @ariaCurrentContext="subNav"
        class="user-nav__activity-likes"
      >
        {{d-icon "heart"}}
        <span>{{i18n "user_action_groups.1"}}</span>
      </DNavigationItem>

      {{#if this.user.showBookmarks}}
        <DNavigationItem
          @route="userActivity.bookmarks"
          @ariaCurrentContext="subNav"
          class="user-nav__activity-bookmarks"
        >
          {{d-icon "bookmark"}}
          <span>{{i18n "user_action_groups.3"}}</span>
        </DNavigationItem>
      {{/if}}

      <PluginOutlet
        @name="user-activity-bottom"
        @connectorTagName="li"
        @outletArgs={{hash model=this.model}}
      />
    </HorizontalOverflowNav>
  </div>

</PluginOutlet>

<section class="user-content" id="user-content">
  {{outlet}}
</section>