<DSection @pageClass="user-activity" />

<div class="user-navigation user-navigation-secondary">
  <HorizontalOverflowNav @ariaLabel="User secondary - activity">
    <UserNav::ActivityNav
      @user={{this.user}}
      @viewingSelf={{this.viewingSelf}}
      @model={{this.model}}
      @siteSettings={{this.siteSettings}}
      @draftLabel={{this.draftLabel}}
      @pendingLabel={{this.pendingLabel}}
      @ariaCurrentContext="subNav"
    />
  </HorizontalOverflowNav>
</div>

<section class="user-content" id="user-content">
  {{outlet}}
</section>
