{{#d-section class="user-secondary-navigation" pageClass="user-messages"}}
  {{#unless site.mobileView}}
    {{#if showNewPM}}
      {{d-button class="btn-primary new-private-message" action=(route-action "composePrivateMessage") icon="envelope" label="user.new_private_message"}}
    {{/if}}
  {{/unless}}

  {{#if pmView}}
    {{combo-box
      content=inboxes
      value=selectedInbox
      onChange=(action "updateInbox")
      options=(hash
        filterable=true
      )
    }}

    {{#mobile-nav class="messages-nav" desktopClass="nav-stacked action-list"}}
      {{#if group}}
        <li class="noGlyph">
          {{#link-to "userPrivateMessages.group" group.name}}
            {{i18n "user.messages.latest"}}
          {{/link-to}}
        </li>
        <li class="noGlyph">
          {{#link-to "userPrivateMessages.groupArchive" group.name}}
            {{i18n "user.messages.archive"}}
          {{/link-to}}
        </li>
      {{else}}
        <li class="noGlyph">
          {{#link-to "userPrivateMessages.index" model}}
            {{i18n "user.messages.latest"}}
          {{/link-to}}
        </li>
        <li class="noGlyph">
          {{#link-to "userPrivateMessages.sent" model}}
            {{i18n "user.messages.sent"}}
          {{/link-to}}
        </li>
        <li class="noGlyph">
          {{#link-to "userPrivateMessages.new" model}}
            {{i18n "user.messages.new"}}
          {{/link-to}}
        </li>
        <li class="noGlyph">
          {{#link-to "userPrivateMessages.unread" model}}
            {{i18n "user.messages.unread"}}
          {{/link-to}}
        </li>
        <li class="noGlyph">
          {{#link-to "userPrivateMessages.archive" model}}
            {{i18n "user.messages.archive"}}
          {{/link-to}}
        </li>
      {{/if}}
    {{/mobile-nav}}
  {{/if}}
{{/d-section}}

<section class="user-content">
  <div class="list-actions">
    {{#if site.mobileView}}
      {{#if showNewPM}}
        {{d-button
          class="btn-primary new-private-message"
          action=(route-action "composePrivateMessage")
          icon="envelope"
          label="user.new_private_message"}}
      {{/if}}
    {{/if}}


    {{#if group}}
      {{group-notifications-button
        value=group.group_user.notification_level
        onChange=(action "changeGroupNotificationLevel")
      }}
    {{/if}}
  </div>
  {{#if showWarningsWarning}}
    <div class="alert alert-info">{{html-safe (i18n "admin.user.warnings_list_warning")}}</div>
  {{/if}}
  {{outlet}}
</section>
