<DSection @class="user-secondary-navigation" @pageClass="user-messages">
  <MobileNav @class="messages-nav" @desktopClass="nav-stacked action-list">
    <li>
      <LinkTo @route="userPrivateMessages.index" @model={{model}}>
        {{i18n "user.messages.inbox"}}
      </LinkTo>
    </li>

    {{#if isPersonal}}
      <li class="archive">
        <LinkTo @route="userPrivateMessages.sent" @model={{model}}>
          {{i18n "user.messages.sent"}}
        </LinkTo>
      </li>

      {{#if viewingSelf}}
        <li class="archive">
          <LinkTo @route="userPrivateMessages.new" @model={{model}} class="new">
            {{newLinkText}}
          </LinkTo>
        </li>

        <li class="archive">
          <LinkTo @route="userPrivateMessages.unread" @model={{model}} class="unread">
            {{unreadLinkText}}
          </LinkTo>
        </li>
      {{/if}}

      <li class="archive">
        <LinkTo @route="userPrivateMessages.archive" @model={{model}}>
          {{i18n "user.messages.archive"}}
        </LinkTo>
      </li>
    {{/if}}

    {{#each model.groups as |group|}}
      {{#if group.has_messages}}
        <li>
          <LinkTo @route="userPrivateMessages.group" @model={{group.name}}>
            {{d-icon "users"}}
            {{capitalize-string group.name}}
          </LinkTo>
        </li>

        {{#if (and isGroup (eq groupFilter group.name))}}
          {{#if viewingSelf}}
            <li class="archive">
              <LinkTo @route="userPrivateMessages.groupNew" @model={{group.name}} class="new">
                {{newLinkText}}
              </LinkTo>
            </li>

            <li class="archive">
              <LinkTo @route="userPrivateMessages.groupUnread" @model={{group.name}} class="unread">
                {{unreadLinkText}}
              </LinkTo>
            </li>
          {{/if}}

          <li class="archive">
            <LinkTo @route="userPrivateMessages.groupArchive" @model={{group.name}}>
              {{i18n "user.messages.archive"}}
            </LinkTo>
          </li>
        {{/if}}
      {{/if}}
    {{/each}}

    {{#if pmTaggingEnabled}}
      <li class="tags">
        <LinkTo @route="userPrivateMessages.tags" @model={{model}}>
          {{i18n "user.messages.tags"}}
        </LinkTo>

        {{#if tagId}}
          <li class="archive">
            <LinkTo @route="userPrivateMessages.tagsShow" @model={{tagId}}>
              {{tagId}}
            </LinkTo>
          </li>
        {{/if}}
      </li>
    {{/if}}

    <PluginOutlet @name="user-messages-nav" @tagName="span" @connectorTagName="li" @args={{hash model=model}} />
  </MobileNav>
</DSection>

{{#unless site.mobileView}}
  <section class="user-additional-controls">
    {{#if group}}
      <GroupNotificationsButton @value={{group.group_user.notification_level}} @onChange={{action "changeGroupNotificationLevel"}} />
    {{/if}}

    {{#if showNewPM}}
      <DButton @class="btn-primary new-private-message" @action={{route-action "composePrivateMessage"}} @icon="envelope" @label="user.new_private_message" />
    {{/if}}
  </section>
{{/unless}}

<section class="user-content">
  <div class="list-actions">
    {{#if (and site.mobileView showNewPM)}}
      <DButton @class="btn-primary new-private-message" @action={{route-action "composePrivateMessage"}} @icon="envelope" @label="user.new_private_message" />
    {{/if}}
  </div>

  {{#if showWarningsWarning}}
    <div class="alert alert-info">{{html-safe (i18n "admin.user.warnings_list_warning")}}</div>
  {{/if}}

  {{outlet}}
</section>
