<DSection @class="user-secondary-navigation" @pageClass="user-messages">
  <MobileNav @class="messages-nav" @desktopClass="nav-stacked action-list">
    <li>
      <LinkTo @route="userPrivateMessages.index" @model={{this.model}}>
        {{i18n "user.messages.inbox"}}
      </LinkTo>
    </li>

    {{#if this.isPersonal}}
      <li class="archive">
        <LinkTo @route="userPrivateMessages.sent" @model={{this.model}}>
          {{i18n "user.messages.sent"}}
        </LinkTo>
      </li>

      {{#if this.viewingSelf}}
        <li class="archive">
          <LinkTo @route="userPrivateMessages.new" @model={{this.model}} class="new">
            {{this.newLinkText}}
          </LinkTo>
        </li>

        <li class="archive">
          <LinkTo @route="userPrivateMessages.unread" @model={{this.model}} class="unread">
            {{this.unreadLinkText}}
          </LinkTo>
        </li>
      {{/if}}

      <li class="archive">
        <LinkTo @route="userPrivateMessages.archive" @model={{this.model}}>
          {{i18n "user.messages.archive"}}
        </LinkTo>
      </li>
    {{/if}}

    {{#each this.model.groups as |group|}}
      {{#if group.has_messages}}
        <li>
          <LinkTo @route="userPrivateMessages.group" @model={{group.name}}>
            {{d-icon "users"}}
            {{capitalize-string group.name}}
          </LinkTo>
        </li>

        {{#if (and this.isGroup (eq this.groupFilter group.name))}}
          {{#if this.viewingSelf}}
            <li class="archive">
              <LinkTo @route="userPrivateMessages.groupNew" @model={{group.name}} class="new">
                {{this.newLinkText}}
              </LinkTo>
            </li>

            <li class="archive">
              <LinkTo @route="userPrivateMessages.groupUnread" @model={{group.name}} class="unread">
                {{this.unreadLinkText}}
              </LinkTo>
            </li>
          {{/if}}

          <li class="archive">
            <LinkTo @route="userPrivateMessages.groupArchive" @model={{group.name}}>
              {{i18n "user.messages.archive"}}
            </LinkTo>
          </li>
        {{/if}}
      {{/if}}
    {{/each}}

    {{#if this.pmTaggingEnabled}}
      <li class="tags">
        <LinkTo @route="userPrivateMessages.tags" @model={{this.model}}>
          {{i18n "user.messages.tags"}}
        </LinkTo>

        {{#if this.tagId}}
          <li class="archive">
            <LinkTo @route="userPrivateMessages.tagsShow" @model={{this.tagId}}>
              {{this.tagId}}
            </LinkTo>
          </li>
        {{/if}}
      </li>
    {{/if}}

    <PluginOutlet @name="user-messages-nav" @tagName="span" @connectorTagName="li" @args={{hash model=this.model}} />
  </MobileNav>
</DSection>

{{#unless this.site.mobileView}}
  <section class="user-additional-controls">
    {{#if this.group}}
      <GroupNotificationsButton @value={{this.group.group_user.notification_level}} @onChange={{action "changeGroupNotificationLevel"}} />
    {{/if}}

    {{#if this.showNewPM}}
      <DButton @class="btn-primary new-private-message" @action={{route-action "composePrivateMessage"}} @icon="envelope" @label="user.new_private_message" />
    {{/if}}
  </section>
{{/unless}}

<section class="user-content">
  <div class="list-actions">
    {{#if (and this.site.mobileView this.showNewPM)}}
      <DButton @class="btn-primary new-private-message" @action={{route-action "composePrivateMessage"}} @icon="envelope" @label="user.new_private_message" />
    {{/if}}
  </div>

  {{#if this.showWarningsWarning}}
    <div class="alert alert-info">{{html-safe (i18n "admin.user.warnings_list_warning")}}</div>
  {{/if}}

  {{outlet}}
</section>
