{{body-class "user-messages-page"}}

<PluginOutlet
  @name="user-messages-above-navigation"
  @outletArgs={{hash model=this.model}}
/>

<div class="user-navigation user-navigation-secondary">
  <ol class="category-breadcrumb">
    <li>
      <UserNav::MessagesDropdown
        @content={{this.messagesDropdownContent}}
        @value={{this.messagesDropdownValue}}
        @onChange={{this.onMessagesDropdownChange}}
      />
    </li>
  </ol>

  <HorizontalOverflowNav
    @ariaLabel="User secondary - messages"
    id="user-navigation-secondary__horizontal-nav"
    class="messages-nav"
  />

  <div class="navigation-controls">
    {{#if this.site.mobileView}}
      {{#if this.currentUser.admin}}
        <BulkSelectToggle @bulkSelectHelper={{this.bulkSelectHelper}} />
      {{/if}}
    {{/if}}

    <span id="navigation-controls__button"></span>

    {{#if this.showNewPM}}
      <DButton
        @action={{route-action "composePrivateMessage"}}
        @icon="envelope"
        @label="user.new_private_message"
        class="btn-primary new-private-message"
      />
    {{/if}}
    <PluginOutlet
      @name="user-messages-controls-bottom"
      @outletArgs={{hash showNewPM=this.showNewPM}}
    />
  </div>
</div>

<section class="user-content" id="user-content">
  {{outlet}}
</section>