<DSection @class="user-secondary-navigation" @pageClass="user-messages">
  <MessagesNavigation
    @model={{this.model}}
    @isPersonal={{this.isPersonal}}
    @viewingSelf={{this.viewingSelf}}
    @isGroup={{this.isGroup}}
    @groupFilter={{this.groupFilter}}
    @newLinkText={{this.newLinkText}}
    @unreadLinkText={{this.unreadLinkText}}
    @archiveLinkText={{this.archiveLinkText}}
    @pmTaggingEnabled={{this.pmTaggingEnabled}}
    @tagId={{this.tagId}}
    @showNewPM={{this.showNewPM}}
    @group={{this.group}}
    @changeGroupNotificationLevel={{action "changeGroupNotificationLevel"}}
    @hasGroupMessages={{this.hasGroupMessages}}
  />
</DSection>

<section class="user-content">
  <div class="list-actions">
    {{#if this.site.mobileView}}
      {{#if this.showNewPM}}
        <DButton @class="btn-primary new-private-message" @action={{route-action "composePrivateMessage"}} @icon="envelope" @label="user.new_private_message" />
      {{/if}}
      {{#if this.currentUser.admin}}
        <BulkSelectToggle @parentController={{"user-topics-list"}} @tagName=""/>
      {{/if}}
    {{/if}}
  </div>

  {{#if this.showWarningsWarning}}
    <div class="alert alert-info">{{html-safe (i18n "admin.user.warnings_list_warning")}}</div>
  {{/if}}

  {{outlet}}
</section>
