<DSection @pageClass="user-messages" />

<PluginOutlet
  @name="user-messages-above-navigation"
  @outletArgs={{hash model=this.model}}
/>

<div class="user-navigation user-navigation-secondary">
  <ol class="category-breadcrumb">
    <li>
      <UserNav::MessagesDropdown
        @content={{this.messagesDropdownContent}}
        @value={{this.messagesDropdownValue}}
        @onChange={{this.onMessagesDropdownChange}}
      />
    </li>
  </ol>

  <HorizontalOverflowNav
    @className="messages-nav"
    @ariaLabel="User secondary - messages"
    id="user-navigation-secondary__horizontal-nav"
  />

  <div class="navigation-controls">
    {{#if this.site.mobileView}}
      {{#if this.currentUser.admin}}
        <BulkSelectToggle
          @parentController={{"user-topics-list"}}
          @tagName=""
        />
      {{/if}}
    {{/if}}

    <span id="navigation-controls__button"></span>

    {{#if this.showNewPM}}
      <DButton
        @class="btn-primary new-private-message"
        @action={{route-action "composePrivateMessage"}}
        @icon="envelope"
        @label="user.new_private_message"
      />
    {{/if}}
  </div>
</div>

<section class="user-content" id="user-content">
  {{outlet}}
</section>