<DSection @pageClass="user-notifications" />

<div class="user-navigation user-navigation-secondary">
  <HorizontalOverflowNav @ariaLabel="User secondary - notifications">
    <UserNav::NotificationsNav
      @model={{this.model}}
      @siteSettings={{this.siteSettings}}
      @ariaCurrentContext="subNav"
    />
  </HorizontalOverflowNav>

  {{#if this.model}}
    <div class="navigation-controls">
      <DButton
        @title="user.dismiss_notifications_tooltip"
        @class="btn btn-default dismiss-notifications"
        @action={{action "resetNew"}}
        @label="user.dismiss_notifications"
        @icon="check"
        @disabled={{this.allNotificationsRead}}
      />
    </div>
  {{/if}}
</div>

<section class="user-content" id="user-content">
  <LoadMore
    @class="notification-history user-stream"
    @selector=".user-stream .notification"
    @action={{action "loadMore"}}
  >
    {{outlet}}
    <ConditionalLoadingSpinner @condition={{this.model.loadingMore}} />
  </LoadMore>
</section>
