{{#if this.model.stream.noContent}}
  {{#if this.model.isAnotherUsersPage}}
    <div class="alert alert-info">{{this.model.emptyStateOthers}}</div>
  {{else}}
    <EmptyState
      @title={{this.model.emptyState.title}}
      @body={{this.model.emptyState.body}}
    />
  {{/if}}
{{/if}}
<UserStream @stream={{this.model.stream}} />
