{{body-class "user-summary-page"}}

<div class="new-user-content-wrapper" style="margin-top: 2.25rem">
  <div
    style="display: flex; justify-content: space-around; align-items: center; gap: 1rem;"
  >
    <div style="flex-grow: 1;">
      <div style="margin-bottom: 4rem;">
        <p
          style="font-size: 20px; font-weight: 700; margin-bottom: 1rem; margin-top: 0;"
        >
          College List
          {{#if (eq this.user.username this.currentUser.username)}}
            <a
              href="/u/{{this.currentUser.username}}/preferences/profile/"
              class="edit-link"
            >Edit</a>
          {{/if}}
        </p>
        <p class="hidden">({{this.topCollege}})</p>
        <div class="college-list" id="college-grid">
          {{#if this.admitsReceivedWithHash.length}}
            {{#each this.admitsReceivedWithHash as |college|}}
              <div class="college-card">
                <div class="toptext {{college.type}}">{{college.topText}}</div>
                <div class="card-contents">
                  <div class="logo">
                    <img src="/images/colleges/{{college.hash}}.png" />
                  </div>
                  <div class="subtext">
                    <div class="college">{{college.name}}</div>
                    <div class="course">{{this.course}}</div>
                  </div>
                </div>
              </div>
            {{/each}}
          {{else}}
            {{#if (eq this.user.username this.currentUser.username)}}
              <a
                href="/u/{{this.currentUser.username}}/preferences/profile/"
                class="about-edit-link"
                style="margin-top: -1.5rem;"
              >
                Add your preferred colleges here!
                <svg
                  style="width: 10px;"
                  class="fa d-icon d-icon-pencil-alt svg-icon svg-string"
                  xmlns="http://www.w3.org/2000/svg"
                ><use href="#pencil-alt"></use></svg>
              </a>
            {{else}}
              <p style="color: hsl(210,8%,42%); margin-top: -1.5rem;">
                This person hasn't filled out this information
              </p>
            {{/if}}
          {{/if}}
        </div>
      </div>
      <div style="margin-bottom: 2rem;">
        <p style="font-size: 20px; font-weight: 700; margin-bottom: 1rem;">
          About
          {{#if (eq this.user.username this.currentUser.username)}}
            <a
              href="/u/{{this.currentUser.username}}/preferences/profile/"
              class="edit-link"
            >Edit</a>
          {{/if}}
        </p>
        {{#if this.user.bio_excerpt}}
          <div class="card-row second-row">
            <div class="bio-contents">
              {{html-safe this.user.bio_cooked}}
            </div>
          </div>
        {{else if (eq this.user.username this.currentUser.username)}}
          <a
            href="/u/{{this.currentUser.username}}/preferences/profile/"
            class="about-edit-link"
          >
            Write something about yourself
            <svg
              style="width: 10px;"
              class="fa d-icon d-icon-pencil-alt svg-icon svg-string"
              xmlns="http://www.w3.org/2000/svg"
            ><use href="#pencil-alt"></use></svg>
          </a>
        {{else}}
          <p style="color: hsl(210,8%,42%);">
            Apparently, this user prefers to keep an air of mystery about them
          </p>
        {{/if}}
      </div>
      <p><strong>Lives in</strong>:
        <span>
          {{#if this.user.location}}
            {{this.user.location}}
          {{else}}
            <span style="font-style:italic; font-weight: 300;">
              The bermuda triangle
            </span>
          {{/if}}
        </span>
      </p>
    </div>
    <div class="side-box">
      {{#if (eq this.user.username this.currentUser.username)}}
        <div class="profile-viewers-summary">
          {{#if (gt this.profileViews.views.length 1)}}
            <div>
              <div style="display: inline-flex; width: 42px;">
                <span>{{bound-avatar this.firstUser "tiny"}}</span>
                <span style="position: relative; left: -6px; z-index: 2;">
                  {{bound-avatar this.secondUser "tiny"}}
                </span>
              </div>
              <span style="position: relative;">and others viewed your profile</span>
            </div>
          {{else}}
            <div>Who's viewed your profile</div>
          {{/if}}
        </div>
        <div class="profile-viewers-detail">
          {{#each this.profileViews.views as |user|}}
            <div style="display: flex; align-items: center; gap: 12px;">
              <div style="align-self: baseline;">
                {{bound-avatar user "large"}}
              </div>
              <div
                style="display: flex; flex-direction: column; gap: 4px; overflow: hidden;"
              >
                <a href="/u/{{user.username}}" class="profile-link">
                  {{user.name}}
                </a>
                <div
                  style="font-size: 12px; color: #000; opacity: .7; font-weight: 400; text-overflow: ellipsis;  white-space: nowrap; overflow: hidden;"
                >
                  Aspiring student @
                  {{or user.top_college "???"}}
                </div>
                <div
                  class="tags"
                  style="display: flex; gap: .5rem; margin-top: 2px;"
                >
                  {{#if user.course.course}}<span>{{user.course}}</span>{{/if}}
                  {{#if user.graduation_year}}<span>Class of
                      {{user.graduation_year}}</span>{{/if}}
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      {{/if}}
    </div>
  </div>
</div>

<div class="user-content hidden hidden" id="user-content">
  <PluginOutlet
    @name="above-user-summary-stats"
    @outletArgs={{hash model=this.model user=this.user}}
  />
  {{#if this.model.can_see_summary_stats}}
    <div class="top-section stats-section">
      <h3 class="stats-title">{{i18n "user.summary.stats"}}</h3>
      <ul>
        <li class="stats-days-visited">
          <UserStat
            @value={{this.model.days_visited}}
            @label="user.summary.days_visited"
          />
        </li>
        <li class="stats-time-read">
          <UserStat
            @value={{this.timeRead}}
            @label="user.summary.time_read"
            @rawTitle={{i18n
              "user.summary.time_read_title"
              duration=this.timeReadMedium
            }}
            @type="string"
          />
        </li>
        {{#if this.showRecentTimeRead}}
          <li class="stats-recent-read">
            <UserStat
              @value={{this.recentTimeRead}}
              @label="user.summary.recent_time_read"
              @rawTitle={{i18n
                "user.summary.recent_time_read_title"
                duration=this.recentTimeReadMedium
              }}
              @type="string"
            />
          </li>
        {{/if}}
        <li class="stats-topics-entered">
          <UserStat
            @value={{this.model.topics_entered}}
            @label="user.summary.topics_entered"
          />
        </li>
        <li class="stats-posts-read">
          <UserStat
            @value={{this.model.posts_read_count}}
            @label="user.summary.posts_read"
          />
        </li>
        {{#if this.model.can_see_user_actions}}
          <li class="stats-likes-given linked-stat">
            <LinkTo @route="userActivity.likesGiven">
              <UserStat
                @value={{this.model.likes_given}}
                @icon="heart"
                @label="user.summary.likes_given"
              />
            </LinkTo>
          </li>
        {{else}}
          <li class="stats-likes-given">
            <UserStat
              @value={{this.model.likes_given}}
              @icon="heart"
              @label="user.summary.likes_given"
            />
          </li>
        {{/if}}
        <li class="stats-likes-received">
          <UserStat
            @value={{this.model.likes_received}}
            @icon="heart"
            @label="user.summary.likes_received"
          />
        </li>
        {{#if this.model.bookmark_count}}
          {{#if this.model.can_see_user_actions}}
            <li class="stats-bookmark-count linked-stat">
              <LinkTo @route="userActivity.bookmarks">
                <UserStat
                  @value={{this.model.bookmark_count}}
                  @label="user.summary.bookmark_count"
                />
              </LinkTo>
            </li>
          {{else}}
            <li class="stats-bookmark-count">
              <UserStat
                @value={{this.model.bookmark_count}}
                @label="user.summary.bookmark_count"
              />
            </li>
          {{/if}}
        {{/if}}
        {{#if this.model.can_see_user_actions}}
          <li class="stats-topic-count linked-stat">
            <LinkTo @route="userActivity.topics">
              <UserStat
                @value={{this.model.topic_count}}
                @label="user.summary.topic_count"
              />
            </LinkTo>
          </li>
        {{else}}
          <li class="stats-topic-count">
            <UserStat
              @value={{this.model.topic_count}}
              @label="user.summary.topic_count"
            />
          </li>
        {{/if}}
        {{#if this.model.can_see_user_actions}}
          <li class="stats-post-count linked-stat">
            <LinkTo @route="userActivity.replies">
              <UserStat
                @value={{this.model.post_count}}
                @label="user.summary.post_count"
              />
            </LinkTo>
          </li>
        {{else}}
          <li class="stats-post-count">
            <UserStat
              @value={{this.model.post_count}}
              @label="user.summary.post_count"
            />
          </li>
        {{/if}}
        <PluginOutlet
          @name="user-summary-stat"
          @connectorTagName="li"
          @outletArgs={{hash model=this.model user=this.user}}
        />
      </ul>
    </div>
  {{/if}}

  <PluginOutlet
    @name="below-user-summary-stats"
    @outletArgs={{hash model=this.model user=this.user}}
  />

  <div class="top-section replies-and-topics-section">
    <UserSummarySection @title="top_replies" class="replies-section pull-left">
      <UserSummaryTopicsList
        @type="replies"
        @items={{this.model.replies}}
        @user={{this.user}}
        as |reply|
      >
        <UserSummaryTopic
          @createdAt={{reply.createdAt}}
          @topic={{reply.topic}}
          @likes={{reply.like_count}}
          @url={{reply.url}}
        />
      </UserSummaryTopicsList>
    </UserSummarySection>

    <UserSummarySection @title="top_topics" class="topics-section pull-right">
      <UserSummaryTopicsList
        @type="topics"
        @items={{this.model.topics}}
        @user={{this.user}}
        as |topic|
      >
        <UserSummaryTopic
          @createdAt={{topic.created_at}}
          @topic={{topic}}
          @likes={{topic.like_count}}
          @url={{topic.url}}
        />
      </UserSummaryTopicsList>
    </UserSummarySection>
  </div>

  <div class="top-section links-and-replied-to-section">
    <UserSummarySection @title="top_links" class="links-section pull-left">
      {{#if this.model.links.length}}
        <ul>
          {{#each this.model.links as |link|}}
            <li>
              {{! template-lint-disable link-rel-noopener }}
              <a
                class="domain"
                href={{link.url}}
                title={{link.title}}
                rel="noopener {{unless
                  this.user.removeNoFollow
                  'nofollow ugc'
                }}"
                target="_blank"
              >
                {{shorten-url link.url}}
              </a>
              {{! template-lint-enable link-rel-noopener }}

              <span
                class="badge badge-notification clicks"
                title={{i18n "topic_map.clicks" count=link.clicks}}
              >
                {{number link.clicks}}
              </span>

              <br />

              <a href={{link.post_url}}>
                {{html-safe link.topic.fancyTitle}}
              </a>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <p>{{i18n "user.summary.no_links"}}</p>
      {{/if}}
    </UserSummarySection>

    <UserSummarySection
      @title="most_replied_to_users"
      class="summary-user-list replied-section pull-right"
    >
      <UserSummaryUsersList
        @none="no_replies"
        @users={{this.model.most_replied_to_users}}
        as |user|
      >
        <UserSummaryUser @user={{user}} @icon="reply" @countClass="replies" />
      </UserSummaryUsersList>
    </UserSummarySection>
  </div>

  <div class="top-section most-liked-section">
    <UserSummarySection
      @title="most_liked_by"
      class="summary-user-list liked-by-section pull-left"
    >
      <UserSummaryUsersList
        @none="no_likes"
        @users={{this.model.most_liked_by_users}}
        as |user|
      >
        <UserSummaryUser @user={{user}} @icon="heart" @countClass="likes" />
      </UserSummaryUsersList>
    </UserSummarySection>

    <UserSummarySection
      @title="most_liked_users"
      class="summary-user-list liked-section pull-right"
    >
      <UserSummaryUsersList
        @none="no_likes"
        @users={{this.model.most_liked_users}}
        as |user|
      >
        <UserSummaryUser @user={{user}} @icon="heart" @countClass="likes" />
      </UserSummaryUsersList>
    </UserSummarySection>
  </div>

  {{#if this.model.top_categories.length}}
    <div class="top-section top-categories-section">
      <UserSummarySection
        @title="top_categories"
        class="summary-category-list pull-left"
      >
        <table>
          <thead>
            <th class="category-link"></th>
            <th class="topic-count">{{i18n "user.summary.topics"}}</th>
            <th class="reply-count">{{i18n "user.summary.replies"}}</th>
          </thead>
          <tbody>
            {{#each this.model.top_categories as |category|}}
              <tr>
                <PluginOutlet
                  @name="user-summary-top-category-row"
                  @outletArgs={{hash category=category user=this.user}}
                >
                  <td class="category-link">
                    {{category-link
                      category
                      allowUncategorized="true"
                      hideParent=false
                    }}
                  </td>
                  <td class="topic-count">
                    <UserSummaryCategorySearch
                      @user={{this.user}}
                      @category={{category}}
                      @count={{category.topic_count}}
                    />
                  </td>
                  <td class="reply-count">
                    <UserSummaryCategorySearch
                      @user={{this.user}}
                      @category={{category}}
                      @count={{category.post_count}}
                    />
                  </td>
                </PluginOutlet>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </UserSummarySection>
    </div>
  {{/if}}

  {{#if this.siteSettings.enable_badges}}
    <div class="top-section badges-section">
      <h3 class="stats-title">{{i18n "user.summary.top_badges"}}</h3>

      {{#if this.model.badges}}
        <div class="badge-group-list">
          {{#each this.model.badges as |badge|}}
            <BadgeCard
              @badge={{badge}}
              @count={{badge.count}}
              @username={{this.user.username_lower}}
            />
          {{/each}}
          <PluginOutlet
            @name="after-user-summary-badges"
            @outletArgs={{hash model=this.model user=this.user}}
          />
        </div>
      {{else}}
        <p>{{i18n "user.summary.no_badges"}}</p>
      {{/if}}

      {{#if this.moreBadges}}
        <LinkTo @route="user.badges" @model={{this.user}} class="more">
          {{i18n "user.summary.more_badges"}}
        </LinkTo>
      {{/if}}
    </div>
  {{/if}}
</div>