<table class='post-wrapper'>
  <tbody>
    <tr>
      <td class='user-avatar'>
        <img src="<%= post.user.small_avatar_url%>" title="<%= post.user.username%>">
      </td>
      <td>
        <a class="username" href="<%=Discourse.base_url%>/users/<%= post.user.username_lower%>" target="_blank"><%= post.user.username %></a><br>
        <span class='date'><%= l post.created_at, format: :short_no_year %></span>
      </td>
    </tr>
    <tr>
      <td class='body'><%= post.cooked.html_safe %></td>
    </tr>
  </tbody>
</table>
