<div class='container'>

  <%- unless @not_found %>
    <h2><%= t :'unsubscribed.title' %></h2>

    <p><%= t :'unsubscribed.description' %></p>

    <p><%= t :'unsubscribed.oops' %></p>

    <%= form_tag(email_resubscribe_path(key: params[:key])) do %>
      <%= submit_tag t(:'resubscribe.action'), class: 'btn btn-danger' %>
    <% end %>
  <%- else %>
    <h2><%= t :'unsubscribed.not_found' %></h2>
    <p><%= t :'unsubscribed.not_found_description' %></p>
  <%- end %>



</div>
