<div class="page-not-found">
  <h1 class="title"><%= @title %></h1>

  <%- if @group&.allow_membership_requests %>
    <a href="<%= group_path @group.name %>" class='btn btn-primary'><%= SvgSprite.raw_svg('user-plus') %> <%= I18n.t('not_in_group.request_membership') %></a>
  <%- elsif @group&.public_admission %>
    <a href="<%= group_path @group.name %>" class='btn btn-primary'><%= SvgSprite.raw_svg('user-plus') %> <%= I18n.t('not_in_group.join_group') %></a>
  <%- end %>
</div>

<%= build_plugin_html 'server:not-found-before-topics' %>

<%= @topics_partial %>

<%- unless @hide_search%>
  <div class="row">
    <div class="page-not-found-search">
      <h2><%= t 'page_not_found.search_title' %></h2>
      <p>
        <form action='/search' id='discourse-search'>
          <input type="text" name="q" value="<%= @slug %>">
          <button class="btn btn-primary"><%= t 'page_not_found.search_button' %></button>
        </form>
      </p>
    </div>
  </div>

  <%= preload_script('onpopstate-handler') %>
<%- end %>
