<p>The page you requested doesn't exist on this discussion forum. Perhaps we can help find it, or another topic like it:</p>
<table>
    <tr>
    <td style='padding: 5px 10px 20px 0'>
        <h2>Most popular topics</h2>
        <% @popular.each do |t| %>
          <a href='<%= t.relative_url %>'><%= t.title %></a><br/>
        <% end %>
        <a href="/popular">See More...</a>
    </td>
    <td style='padding: 5px 0 20px'>
        <h2>Recent topics</h2>
        <% @recent.each do |t| %>
          <a href='<%= t.relative_url %>'><%= t.title %></a><br/>
        <% end %>
        <a href="/popular">See More...</a>
    </td>
    </tr>
</table>
<h2>Search for this topic</h2>
<p>
    <form action='http://google.com'>
    <input type="text" name='q' value="<%= @slug %>">
    <input type="button" value="Search Here" onclick="alert('single page search results not implemented yet');" />
    <input type="submit" value="Search Google" />
    </form>
</p>
