<h1 class="page-not-found"><%= t 'page_not_found.title' %></h1>

<%= build_plugin_html 'server:not-found-before-topics' %>

<% unless SiteSetting.login_required? && current_user.nil? %>
  <div class="row page-not-found-topics">
    <div class="popular-topics">
      <h2 class="popular-topics-title"><%= t 'page_not_found.popular_topics' %></h2>
      <% @top_viewed.each do |t| %>
        <div class='not-found-topic'>
          <%= link_to t.title, t.relative_url %><%= category_badge(t.category) %>
        </div>
      <% end %>
      <a href="<%= path "/top" %>" class="btn btn-default"><%= t 'page_not_found.see_more' %>&hellip;</a>
    </div>
    <div class="recent-topics">
      <h2 class="recent-topics-title"><%= t 'page_not_found.recent_topics' %></h2>
      <% @recent.each do |t| %>
        <div class='not-found-topic'>
          <%= link_to t.title, t.relative_url %><%= category_badge(t.category) %>
        </div>
      <% end %>
      <a href="<%= path "/latest" %>" class="btn btn-default"><%= t 'page_not_found.see_more' %>&hellip;</a>
    </div>
  </div>
<% end %>

<%- unless @hide_search%>
  <div class="row">
    <div class="page-not-found-search">
      <h2><%= t 'page_not_found.search_title' %></h2>
      <p>
        <form action='/search' id='discourse-search'>
          <input type="text" name="q" value="<%= @slug %>">
          <button class="btn btn-primary"><%= t 'page_not_found.search_button' %></button>
        </form>
      </p>
    </div>
  </div>

  <%= preload_script('onpopstate-handler') %>
<%- end %>
