<section class="discourse-automation-form new">
  <form class="form-horizontal">
    <FormError @error={{error}} />

    <div class="control-group">
      <label class="control-label">
        {{i18n "discourse_automation.models.automation.name.label"}}
      </label>

      <div class="controls">
        <TextField
          @value={{form.name}}
          @type="text"
          @autofocus="autofocus"
          @name="automation-name"
          class="input-large"
        />
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">
        {{i18n "discourse_automation.models.automation.script.label"}}
      </label>

      <div class="controls">
        <DropdownSelectBox
          @value={{form.script}}
          @content={{model.scriptables.content}}
          @onChange={{fn (mut form.script)}}
          @options={{hash
            showCaret=true
            filterable=true
            none="discourse_automation.select_script"
          }}
          class="scriptables"
        />
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <DButton
          @icon="plus"
          @label="discourse_automation.create"
          @action={{this.saveAutomation}}
          class="btn-primary create-automation"
        />
      </div>
    </div>
  </form>
</section>