<section class="discourse-automation-form edit">
  <form class="form-horizontal">
    <FormError @error={{this.error}} />

    <section class="form-section edit">
      <div class="control-group">
        <label class="control-label">
          {{i18n "discourse_automation.models.automation.name.label"}}
        </label>

        <div class="controls">
          <TextField
            @value={{this.automationForm.name}}
            @type="text"
            @autofocus={{true}}
            @name="automation-name"
            class="input-large"
            @input={{with-event-value (fn (mut this.automationForm.name))}}
          />
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">
          {{i18n "discourse_automation.models.script.name.label"}}
        </label>

        <div class="controls">
          <ComboBox
            @value={{this.automationForm.script}}
            @content={{this.model.scriptables}}
            @onChange={{this.onChangeScript}}
            @options={{hash filterable=true}}
            class="scriptables"
          />
        </div>
      </div>
    </section>

    <section class="trigger-section form-section edit">
      <h2 class="title">
        {{i18n "discourse_automation.edit_automation.trigger_section.title"}}
      </h2>

      <div class="control-group">
        {{#if this.model.automation.script.forced_triggerable}}
          <div class="alert alert-warning">
            {{i18n
              "discourse_automation.edit_automation.trigger_section.forced"
            }}
          </div>
        {{/if}}

        <label class="control-label">
          {{i18n "discourse_automation.models.trigger.name.label"}}
        </label>

        <div class="controls">
          <ComboBox
            @value={{this.automationForm.trigger}}
            @content={{this.model.triggerables}}
            @onChange={{this.onChangeTrigger}}
            @options={{hash
              filterable=true
              none="discourse_automation.select_trigger"
              disabled=this.model.automation.script.forced_triggerable
            }}
            class="triggerables"
          />
        </div>
      </div>

      {{#if this.automationForm.trigger}}
        {{#if this.model.automation.trigger.doc}}
          <div class="alert alert-info">
            <p>{{this.model.automation.trigger.doc}}</p>
          </div>
        {{/if}}

        {{#if
          (and
            this.model.automation.enabled
            this.model.automation.trigger.settings.manual_trigger
          )
        }}
          <div class="alert alert-info next-trigger">

            {{#if this.nextPendingAutomationAtFormatted}}
              <p>
                {{i18n
                  "discourse_automation.edit_automation.trigger_section.next_pending_automation"
                  date=this.nextPendingAutomationAtFormatted
                }}
              </p>
            {{/if}}

            <DButton
              @label="discourse_automation.edit_automation.trigger_section.trigger_now"
              @isLoading={{this.isTriggeringAutomation}}
              @action={{fn
                this.onManualAutomationTrigger
                this.model.automation.id
              }}
              class="btn-primary trigger-now-btn"
            />
          </div>
        {{/if}}

        {{#each triggerFields as |field|}}
          <AutomationField
            @automation={{this.automation}}
            @field={{field}}
            @saveAutomation={{fn this.saveAutomation this.automation}}
          />
        {{/each}}
      {{/if}}
    </section>

    {{#if this.automationForm.trigger}}
      {{#if this.scriptFields}}
        <section class="fields-section form-section edit">
          <h2 class="title">
            {{i18n "discourse_automation.edit_automation.fields_section.title"}}
          </h2>

          {{#if this.model.automation.script.with_trigger_doc}}
            <div class="alert alert-info">
              <p>{{this.model.automation.script.with_trigger_doc}}</p>
            </div>
          {{/if}}

          <div class="control-group">
            {{#each this.scriptFields as |field|}}
              <AutomationField
                @automation={{this.automation}}
                @field={{field}}
                @saveAutomation={{fn this.saveAutomation this.automation}}
              />
            {{/each}}
          </div>
        </section>
      {{/if}}

      {{#if this.automationForm.trigger}}
        <div
          class="control-group automation-enabled alert
            {{if this.automationForm.enabled 'alert-info' 'alert-warning'}}"
        >
          <span>{{i18n
              "discourse_automation.models.automation.enabled.label"
            }}</span>
          <Input
            @type="checkbox"
            @checked={{this.automationForm.enabled}}
            {{on
              "click"
              (action (mut this.automationForm.enabled) value="target.checked")
            }}
          />
        </div>
      {{/if}}

      <div class="control-group">
        <DButton
          @isLoading={{this.isUpdatingAutomation}}
          @label="discourse_automation.update"
          @type="submit"
          @action={{fn this.saveAutomation this.automation true}}
          class="btn-primary update-automation"
        />
      </div>
    {{/if}}
  </form>
</section>