<section class="discourse-automation-form new">

  <div
    class="admin-section-landing__header"
    {{did-insert this.resetFilterText}}
  >
    <h2>{{i18n "discourse_automation.select_script"}}</h2>

    <input
      type="text"
      placeholder={{i18n "discourse_automation.filter_placeholder"}}
      {{on "input" this.updateFilterText}}
      class="admin-section-landing__header-filter"
    />
  </div>

  {{#if this.redirected}}
    <div class="alert alert-info">
      <p>{{i18n "discourse_automation.no_automation_yet"}}</p>
    </div>
  {{/if}}

  <div class="admin-section-landing__wrapper">
    {{#each this.scriptableContent as |script|}}
      <AdminSectionLandingItem
        {{on "click" (fn this.selectScriptToEdit script)}}
        @titleLabelTranslated={{script.name}}
        @descriptionLabelTranslated={{script.description}}
      />
    {{/each}}
  </div>

</section>