<!DOCTYPE html>
<html>
  <head>
    <title>QUnit Test Runner</title>
    <%= discourse_color_scheme_stylesheets %>
    <%= discourse_stylesheet_link_tag(:desktop, theme_id: nil) %>
    <%= discourse_stylesheet_link_tag(:test_helper, theme_id: nil) %>
    <%= preload_script "locales/#{I18n.locale}" %>
    <%= preload_script "vendor" %>
    <%= preload_script "application" %>
    <%= preload_script "admin" %>
    <%= preload_script "discourse/tests/test-support-rails" %>
    <%= preload_script "discourse/tests/test-helpers-rails" %>
    <%= preload_script "discourse/tests/active-plugins" %>
    <%= preload_script "discourse/tests/core-tests" %>
    <%= preload_script "discourse/tests/plugin-tests" %>
    <%= preload_script "discourse/tests/test_starter" %>
    <%= csrf_meta_tags %>
    <meta property="og:title" content="">
    <meta property="og:url" content="">
  </head>
  <body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
  </body>
</html>
