<!DOCTYPE html>
<html>
  <head>
    <title>Theme QUnit Test Runner</title>
    <%= discourse_color_scheme_stylesheets %>
    <meta name="color-scheme" content="light dark">

    <%- if @has_test_bundle %>
      <%= preload_script_url ExtraLocalesController.url("main"), type_module: true %>
      <%= preload_script_url ExtraLocalesController.url("mf"), type_module: true %>
      <%= preload_script_url "/bootstrap/site-settings-for-tests.js", type_module: true %>
      <%= theme_translations_lookup %>

      <%= preload_script "@embroider/virtual/test-support" %>

      <%= render "layouts/plugin_js",
        opts: {
          include_disabled: true,
          include_admin_asset: true,
          only: @required_plugins
        }
      %>

      <%= theme_lookup("head_tag") %>
      <%= theme_tests %>

      <%= tag.meta id: 'data-discourse-setup', data: client_side_setup_data %>
      <meta property="og:title" content="">
      <meta property="og:url" content="">
      <meta name="discourse/config/environment" content="<%=u discourse_config_environment(testing: true) %>" />

      <style>
        <%= File.read("#{Rails.root}/frontend/discourse/node_modules/qunit/qunit/qunit.css").html_safe %>
      </style>

      <%= discourse_stylesheet_link_tag(:common, theme_id: nil) %>
      <%= discourse_stylesheet_link_tag(:desktop, theme_id: nil) %>

      <%- Discourse.find_plugin_css_assets(include_disabled: true, only: @required_plugins, mobile_view: false, desktop_view: true, request: request).each do |file| %>
        <%= discourse_stylesheet_link_tag(file) %>
      <%- end %>
    <%- end %>

    <%- if params['testem'] %>
      <script defer src="/testem.js" nonce="<%= csp_nonce_placeholder %>"></script>
    <%- end %>
  </head>
  <body>
    <%- if !@has_test_bundle %>
      This is a production installation of Discourse, and cannot be used for theme testing.
      For more information, see <a href="https://meta.discourse.org/t/66857">this guide</a>.
    <% else %>
      <script nonce="<%= csp_nonce_placeholder %>">
        window.EmberENV = {
          _DEFAULT_ASYNC_OBSERVERS: true,
        };
      </script>

      <%= preload_script "tests/test-entrypoint", type_module: true %>
    <%- end %>

    <%= discourse_stylesheet_link_tag("qunit-custom", theme_id: nil) %>
  </body>
</html>
