<!DOCTYPE html>
<html>
  <head>
    <title>Theme QUnit Test Runner</title>
    <%= discourse_color_scheme_stylesheets %>
    <%- if !@suggested_themes %>
      <%= discourse_stylesheet_link_tag(:desktop, theme_id: nil) %>
      <%= discourse_stylesheet_link_tag(:test_helper, theme_id: nil) %>
      <%= preload_script "locales/#{I18n.locale}" %>
      <%= vendor_theme_tests %>
      <%= preload_script @app_bundle %>
      <%= preload_script "admin" %>
      <%= preload_script "discourse/tests/active-plugins" %>
      <%= support_bundles %>
      <%= theme_translations_lookup %>
      <%= theme_js_lookup %>
      <%= theme_lookup("head_tag") %>
      <%= theme_tests %>
      <%= tag.meta id: 'data-discourse-setup', data: client_side_setup_data %>
      <meta property="og:title" content="">
      <meta property="og:url" content="">
      <meta name="discourse/config/environment" content="<%=u discourse_config_environment(testing: true) %>" />
    <%- else %>
      <style>
        html {
          font-family: Arial;
        }
      </style>
    <%- end %>
  </head>
  <body>
    <%- if !@suggested_themes %>
      <%- if @legacy_ember %>
        <div id="qunit"></div>
        <div id="qunit-fixture"></div>
      <%- end %>
    <%- else %>
      <h2>Theme QUnit Test Runner</h2>
      <%- if @suggested_themes.size == 0 %>
        <p>Cannot find any theme tests.</p>
      <%- else %>
        <h3>Select a theme/component: </h3>
        <%- @suggested_themes.each do |(id, name)| %>
          <h4><%= link_to name, theme_qunit_url(id: id) %></h4>
        <%- end %>
      <%- end %>
    <%- end %>
  </body>
  <%- if !@suggested_themes %>
    <%= boot_bundles %>
  <%- end %>
</html>
