<div class='category-list' itemscope itemtype='http://schema.org/ItemList'>
  <meta itemprop='itemListOrder' content='http://schema.org/ItemListOrderDescending'>
  <% @category_list.categories.each_with_index do |c, index| %>
    <div class='category' itemprop='itemListElement' itemscope itemtype='http://schema.org/ListItem'>
      <meta itemprop='position' content='<%= index %>'>
      <meta itemprop='url' content='<%= "#{Discourse.base_url}#{c.url}" %>'>
      <h2>
        <a href='<%= "#{Discourse.base_url}#{c.url}" %>' itemprop='item'>
          <span itemprop='name'><%= c.name %></span>
        </a>
      </h2>
      <span itemprop='description'><%= c.description&.html_safe %></span>
    </div>
  <% end %>
</div>

<% content_for :title do %><%= @title %><% end %>

<% content_for :head do %>
  <%= raw crawlable_meta_data(title: SiteSetting.title, description: SiteSetting.site_description) %>
<% end %>
