<div class="container">
  {{global-notice}}
  <div class="row">
    <div class="full-width">

      <ul class="nav nav-pills">
        <li>{{#link-to 'admin.dashboard'}}{{i18n admin.dashboard.title}}{{/link-to}}</li>
        {{#if currentUser.admin}}
          <li>{{#link-to 'adminSiteSettings'}}{{i18n admin.site_settings.title}}{{/link-to}}</li>
        {{/if}}
        <li>{{#link-to 'adminUsersList'}}{{i18n admin.users.title}}{{/link-to}}</li>
        {{#if showBadges}}
          <li>{{#link-to 'adminBadges.index'}}{{i18n admin.badges.title}}{{/link-to}}</li>
        {{/if}}
        {{#if currentUser.admin}}
          <li>{{#link-to 'adminGroups.index'}}{{i18n admin.groups.title}}{{/link-to}}</li>
        {{/if}}
        <li>{{#link-to 'adminEmail'}}{{i18n admin.email.title}}{{/link-to}}</li>
        <li>{{#link-to 'adminFlags'}}{{i18n admin.flags.title}}{{/link-to}}</li>
        <li>{{#link-to 'adminLogs'}}{{i18n admin.logs.title}}{{/link-to}}</li>
        {{#if currentUser.admin}}
          <li>{{#link-to 'adminCustomize.colors'}}{{i18n admin.customize.title}}{{/link-to}}</li>
          <li>{{#link-to 'admin.api'}}{{i18n admin.api.title}}{{/link-to}}</li>
          <li>{{#link-to 'admin.backups'}}{{i18n admin.backups.title}}{{/link-to}}</li>
        {{/if}}
      </ul>

      <div class='boxed white admin-content'>
        <div class='admin-contents'>
          {{outlet}}
        </div>
      </div>

    </div>
  </div>
</div>

