{{#link-to "adminApiKeys.index" class="go-back"}}
  {{d-icon "arrow-left"}}
  {{i18n "admin.api.all_api_keys"}}
{{/link-to}}

<div class="api-key">
  {{#if model.id}}
    {{#admin-form-row label="admin.api.key"}}
      <div>{{model.key}}</div>
    {{/admin-form-row}}
    {{#admin-form-row}}
      {{i18n "admin.api.not_shown_again"}}
    {{/admin-form-row}}
    {{#admin-form-row}}
      {{d-button icon="angle-right" label="admin.api.continue" action=(action "continue") class="btn-primary"}}
    {{/admin-form-row}}
  {{else}}
    {{#admin-form-row label="admin.api.description"}}
      {{input value=model.description maxlength="255" placeholder=(i18n "admin.api.description_placeholder")}}
    {{/admin-form-row}}

    {{#admin-form-row label="admin.api.user_mode"}}
      {{combo-box content=userModes value=userMode onChange=(action "changeUserMode")}}
    {{/admin-form-row}}

    {{#if showUserSelector}}
      {{#admin-form-row label="admin.api.user"}}
        {{user-selector single="true"
          usernames=model.username
          placeholderKey="admin.api.user_placeholder"
          }}
      {{/admin-form-row}}
    {{/if}}

    {{#admin-form-row label="admin.api.use_global_key"}}
      {{input type="checkbox" checked=useGlobalKey}}
    {{/admin-form-row}}

    {{#unless useGlobalKey}}
      {{#each-in scopes as |resource actions|}}
        <table class="scopes-table">
          <thead>
            <tr>
              <td><b>{{resource}}</b></td>
              <td></td>
              <td>{{i18n "admin.api.scopes.optional_allowed_parameters"}}</td>
            </tr>
          </thead>
          <tbody>
            {{#each actions as |act|}}
              <tr>
                <td>{{input type="checkbox" checked=act.selected}}</td>
                <td><b>{{act.name}}</b></td>
                <td>
                  {{#each act.params as |p|}}
                    <div>
                      {{input maxlength="255" value=(get act p) placeholder=p}}
                    </div>
                  {{/each}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{/each-in}}
    {{/unless}}

    {{d-button icon="check" label="admin.api.save" action=(action "save") class="btn-primary" disabled=saveDisabled}}
  {{/if}}
</div>
