{{#link-to 'adminApiKeys.index' class="go-back"}}
  {{d-icon 'arrow-left'}}
  {{i18n 'admin.api.all_api_keys'}}
{{/link-to}}

<div class="api-key">
  {{#if model.id}}
    {{#admin-form-row label="admin.api.key"}}
      <div>{{model.key}}</div>
    {{/admin-form-row}}
    {{#admin-form-row}}
      {{i18n "admin.api.not_shown_again"}}
    {{/admin-form-row}}
    {{#admin-form-row}}
      {{d-button icon="angle-right" label="admin.api.continue" action=(action "continue") class="btn-primary"}}
    {{/admin-form-row}}
  {{else}}
    {{#admin-form-row label="admin.api.description"}}
      {{input value=model.description maxlength="255" placeholder=(i18n "admin.api.description_placeholder")}}
    {{/admin-form-row}}

    {{#admin-form-row label="admin.api.user_mode"}}
      {{combo-box content=userModes value=userMode onChange=(action "changeUserMode")}}
    {{/admin-form-row}}

    {{#if showUserSelector}}
      {{#admin-form-row label="admin.api.user"}}
        {{user-selector single="true"
          usernames=model.username
          placeholderKey="admin.api.user_placeholder"
          }}
      {{/admin-form-row}}
    {{/if}}
    {{#admin-form-row}}
      {{d-button icon="check" label="admin.api.save" action=(action "save") class="btn-primary"}}
    {{/admin-form-row}}
  {{/if}}
</div>
