<h3>{{i18n admin.api.long_title}}</h3>
{{#if keyExists}}
  <strong>{{i18n admin.api.key}}:</strong> {{key}}
  <button class='btn' {{action regenerateKey target="model"}}>
    {{i18n admin.api.regenerate}}
  </button>
  <p>{{{i18n admin.api.note_html}}}</p>
{{else}}
  <p>{{{i18n admin.api.info_html}}}</p>
  <button class='btn' {{action generateKey target="model"}}>
    {{i18n admin.api.generate}}
  </button>
{{/if}}
