<div class="admin-controls">
  <div class="span15">
    <ul class="nav nav-pills">
      <li>{{#link-to "admin.backups.index"}}{{i18n 'admin.backups.menu.backups'}}{{/link-to}}</li>
      <li>{{#link-to "admin.backups.logs"}}{{i18n 'admin.backups.menu.logs'}}{{/link-to}}</li>
    </ul>
  </div>
  <div class="pull-right">
    {{#if canRollback}}
      {{d-button class='btn-rollback' action='rollback' icon='ambulance fa-flip-horizontal' title='admin.backups.operations.rollback.title' label='admin.backups.operations.rollback.text' disabled=rollbackDisabled}}
    {{/if}}
    {{#if isOperationRunning}}
      {{d-button class='btn-danger' action='cancelOperation' icon='times' title='admin.backups.operations.cancel.title' label='admin.backups.operations.cancel.text'}}
    {{else}}
      {{d-button class='btn-primary' action='startBackup' icon='rocket' title='admin.backups.operations.backup.title' label='admin.backups.operations.backup.text'}}
    {{/if}}
  </div>
</div>

<div class="admin-container">
  {{outlet}}
</div>
