<div class="badges">

  <div class='content-list'>
    <h3>{{i18n 'admin.badges.title'}}</h3>
    <ul>
      {{#each model as |badge|}}
      <li>
        {{#link-to 'adminBadges.show' badge.id}}
          {{badge-button badge=badge}}
          {{#if badge.newBadge}}
            <span class="list-badge">{{i18n 'filters.new.lower_title'}}</span>
          {{/if}}
        {{/link-to}}
      </li>
      {{/each}}
    </ul>
    {{#link-to 'adminBadges.show' 'new' class="btn btn-default"}}
      {{d-icon "plus"}} {{i18n 'admin.badges.new'}}
    {{/link-to}}
    <br>
    <br>
  </div>

  {{outlet}}
</div>
