<div class="badges">
  <div class="badges-header">
    <h3 class="badges-heading">{{i18n 'admin.badges.title'}}</h3>
    <div class="create-new-badge">
      {{#link-to 'adminBadges.show' 'new' class="btn btn-primary"}}
        {{d-icon "plus"}}
        <span>{{i18n 'admin.badges.new'}}</span>
      {{/link-to}}

      {{#link-to 'adminBadges.award' 'new' class="btn"}}
        {{d-icon "upload"}}
        <span>{{i18n 'admin.badges.mass_award.title'}}</span>
      {{/link-to}}
    </div>
  </div>
  <div class='content-list'>
    <ul class="admin-badge-list">
      {{#each model as |badge|}}
        <li class="admin-badge-list-item">
          {{#link-to selectedRoute badge.id}}
            {{badge-button badge=badge}}
            {{#if badge.newBadge}}
              <span class="list-badge">{{i18n 'filters.new.lower_title'}}</span>
            {{/if}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>
  {{outlet}}
</div>
