{{#d-section class="current-badges"}}
  <div class="badge-intro admin-intro">
    <img src={{badgeIntroEmoji}} class="badge-intro-emoji">
    <div class="content-wrapper">
      <h1>{{i18n 'admin.badges.badge_intro.title'}}</h1>
      <div class="external-resources">
        {{#each badgeIntroLinks as |link|}}
          <a href={{link.href}} class="external-link" target="_blank">
            {{d-icon link.icon}}
            <span>{{I18n link.text}}</span>
          </a>
        {{/each}}
      </div>
    </div>
  </div>
{{/d-section}}
