{{#admin-nav}}
  {{nav-item route='adminCustomize.colors' label='admin.customize.colors.title'}}
  {{nav-item route='adminCustomize.css_html' label='admin.customize.css_html.title'}}
  {{nav-item route='adminSiteText' label='admin.site_text.title'}}
  {{nav-item route='adminUserFields' label='admin.user_fields.title'}}
  {{nav-item route='adminEmojis' label='admin.emoji.title'}}
  {{nav-item route='adminPermalinks' label='admin.permalink.title'}}
{{/admin-nav}}

<div class="admin-container">
  {{outlet}}
</div>
