{{#unless editingTheme}}
<div class='content-list'>
  <h3>{{i18n 'admin.customize.theme.long_title'}}</h3>

  <div class="create-actions">
    {{d-button label="admin.customize.new" icon="plus" action="showCreateModal" class="btn-primary"}}
    {{d-button action="importModal" icon="upload" label="admin.customize.import"}}
  </div>

  {{themes-list themes=fullThemes title="admin.customize.theme.title"}}
  {{themes-list themes=childThemes title="admin.customize.theme.components"}}

</div>
{{/unless}}
{{outlet}}
