<div class="color-scheme show-current-style">
  <div class="admin-container">
    <h1>{{#if model.theme_id}}{{model.name}}{{else}}{{text-field class="style-name" value=model.name}}{{/if}}</h1>
    <div class="controls">
      {{#unless model.theme_id}}
      <button {{action "save"}} disabled={{model.disableSave}} class='btn btn-primary'>{{i18n 'admin.customize.save'}}</button>
      {{/unless}}
      <button {{action "copy" model}} class='btn btn-default'>{{d-icon "copy"}} {{i18n 'admin.customize.copy'}}</button>
      <button {{action "copyToClipboard" model}} class='btn btn-default'>{{d-icon "clipboard"}} {{i18n 'admin.customize.copy_to_clipboard'}}</button>
      {{#if model.theme_id}}
      {{i18n "admin.customize.theme_owner"}}
      {{#link-to "adminCustomizeThemes.show" model.theme_id}}{{model.theme_name}}{{/link-to}}
      {{else}}
      <button {{action "destroy"}} class='btn btn-danger'>{{d-icon "far-trash-alt"}} {{i18n 'admin.customize.delete'}}</button>
      {{/if}}
      <span class="saving {{unless model.savingStatus 'hidden'}}">{{model.savingStatus}}</span>
    </div>

    <br/>

    <div class='admin-controls'>
      <div class='search controls'>
        <label>
          {{input type="checkbox" checked=onlyOverridden}}
          {{i18n 'admin.settings.show_overriden'}}
        </label>
      </div>
    </div>

    {{#if colors.length}}
    <table class="table colors">
      <thead>
        <tr>
          <th></th>
          <th class="hex">{{i18n 'admin.customize.color'}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each colors as |c|}}
          <tr class="{{if c.changed 'changed'}} {{if c.valid 'valid' 'invalid'}}">
            <td class="name" title={{c.name}}>
              <b>{{c.translatedName}}</b>
              <br/>
              <span class="description">{{c.description}}</span>
            </td>
            <td class="hex">{{color-input hexValue=c.hex brightnessValue=c.brightness valid=c.valid}}</td>
            <td class="actions">
            {{#unless model.theme_id}}
              <button class="btn btn-default revert {{unless c.savedIsOverriden 'invisible'}}" {{action "revert" c}} title="{{i18n 'admin.customize.colors.revert_title'}}">{{i18n 'revert'}}</button>
              <button class="btn btn-default undo {{unless c.changed 'invisible'}}" {{action "undo" c}} title="{{i18n 'admin.customize.colors.undo_title'}}">{{i18n 'undo'}}</button>
            {{/unless}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    {{else}}
      <p>{{i18n 'search.no_results'}}</p>
    {{/if}}
  </div>
</div>
