{{#if foundProblems}}
  <div class="section dashboard-problems">
    <div class="section-title">
      <h2>
        {{d-icon "heart"}}
        {{i18n 'admin.dashboard.problems_found'}}
      </h2>
    </div>

    <div class="section-body">
      {{#conditional-loading-section isLoading=loadingProblems}}
        <div class="problem-messages">
          <ul>
            {{#each problems as |problem|}}
              <li>{{{problem}}}</li>
            {{/each}}
          </ul>
        </div>

        <p class="actions">
          {{d-button action=(action "refreshProblems") class="btn-default" icon="sync" label="admin.dashboard.refresh_problems"}}
          {{i18n 'admin.dashboard.last_checked'}}: {{problemsTimestamp}}
        </p>
      {{/conditional-loading-section}}
    </div>
  </div>
{{/if}}
