{{#if Discourse.SiteSettings.version_checks}}
  <div {{bindAttr class=":version-check versionCheck.critical_updates:critical:normal"}}>
    {{#if loading }}
      <p>{{i18n loading}}</p>
    {{else}}
      <p>
        {{i18n admin.dashboard.version}}: <span class="version-number">{{ versionCheck.installed_version }}</span>

        {{#if versionCheck.installed_sha}}
          <span class="git-version">(<a {{bindAttr href="versionCheck.gitLink"}} target="_blank">{{versionCheck.shortSha}}</a>)</span>
        {{/if}}
      </p>

      <p class="version-notes">
        {{i18n admin.dashboard.latest_version}}: <span class="version-number">{{ versionCheck.latest_version }}</span>
        {{#if versionCheck.upToDate }}
          <span class='icon update-to-date'>☻</span> {{i18n admin.dashboard.up_to_date}}
        {{else}}
          <span {{bindAttr class=":icon versionCheck.critical_updates:critical-updates-available:updates-available"}}>
            {{#if versionCheck.behindByOneVersion}}
              ☺
            {{else}}
              ☹
            {{/if}}
          </span>
          <span class="critical-note">{{i18n admin.dashboard.critical_available}}</span>
          <span class="normal-note">{{i18n admin.dashboard.updates_available}}</span>
          {{i18n admin.dashboard.please_upgrade}}
        {{/if}}
      </p>

      <p class="update-nag">
        <i class="icon icon-github"></i>
        <a href="https://github.com/discourse/discourse" target="_blank">{{i18n admin.dashboard.update_often}}</a>
      </p>
    {{/if}}
  </div>

  <div class="version-check-right">
    <iframe src="http://api.discourse.org/commits-widget/index.html?limit=10&height=160" allowtransparency="true" frameborder="0" scrolling="no" width="502px" height="162px"></iframe>
  </div>

  <div class='clearfix'></div>
{{/if}}