 {{plugin-outlet name="admin-dashboard-top"}}

<div class="community-health section">
  <div class="section-title">
    <h2>{{i18n "admin.dashboard.community_health"}}</h2>
    {{period-chooser period=period action="changePeriod"}}
  </div>

  <div class="section-body">
    <div class="charts">
      {{dashboard-mini-chart
        dataSourceName="signups"
        startDate=startDate
        endDate=endDate}}

      {{dashboard-mini-chart
        dataSourceName="topics"
        startDate=startDate
        endDate=endDate}}

      {{dashboard-mini-chart
        dataSourceName="new_contributors"
        startDate=startDate
        endDate=endDate}}

      {{dashboard-mini-chart
        dataSourceName="dau_by_mau"
        average=true
        startDate=startDate
        endDate=endDate}}

      {{dashboard-mini-chart
        dataSourceName="daily_engaged_users"
        startDate=startDate
        endDate=endDate}}

      {{dashboard-mini-chart
        dataSourceName="inactive_users"
        startDate=startDate
        endDate=endDate}}
    </div>
  </div>
</div>

<div class="section-columns">
  <div class="section-column">
    <div class="dashboard-table">
      {{#conditional-loading-section isLoading=isLoading title=(i18n "admin.dashboard.activity_metrics")}}
        <div class="table-title">
          <h3>{{i18n "admin.dashboard.activity_metrics"}}</h3>
        </div>

        <div class="table-container">
          <table>
            <thead>
              <tr>
                <th></th>
                <th>{{i18n 'admin.dashboard.reports.today'}}</th>
                <th>{{i18n 'admin.dashboard.reports.yesterday'}}</th>
                <th>{{i18n 'admin.dashboard.reports.last_7_days'}}</th>
                <th>{{i18n 'admin.dashboard.reports.last_30_days'}}</th>
                <th>{{i18n 'admin.dashboard.reports.all'}}</th>
              </tr>
            </thead>
            <tbody>
              {{#each reports as |report|}}
                {{admin-report-counts report=report}}
              {{/each}}
            </tbody>
          </table>
        </div>
      {{/conditional-loading-section}}
    </div>

    {{dashboard-inline-table
      dataSourceName="users_by_type"
      lastRefreshedAt=lastRefreshedAt}}

    {{dashboard-inline-table
      dataSourceName="users_by_trust_level"
      lastRefreshedAt=lastRefreshedAt}}

    {{#conditional-loading-section isLoading=isLoading title=(i18n "admin.dashboard.backups")}}
      <div class="misc">
        <div class="durability">
          {{#if currentUser.admin}}
            <div class="backups">
              <h3 class="durability-title"><a href="/admin/backups">{{i18n "admin.dashboard.backups"}}</a></h3>
              <p>
                {{diskSpace.backups_used}} ({{i18n "admin.dashboard.space_free" size=diskSpace.backups_free}})
                <br />
                {{{i18n "admin.dashboard.lastest_backup" date=backupTimestamp}}}
              </p>
            </div>
          {{/if}}

          <div class="uploads">
            <h3 class="durability-title">{{i18n "admin.dashboard.uploads"}}</h3>
            <p>
              {{diskSpace.uploads_used}} ({{i18n "admin.dashboard.space_free" size=diskSpace.uploads_free}})
            </p>
          </div>
        </div>

        <hr />

        <p class="last-dashboard-update">
          {{i18n "admin.dashboard.last_updated"}} {{updatedTimestamp}}
        </p>

        <a rel="noopener" target="_blank" href="https://meta.discourse.org/t/discourse-2-0-0-beta6-release-notes/85241" class="btn">
          {{i18n "admin.dashboard.whats_new_in_discourse"}}
        </a>
      </div>
    {{/conditional-loading-section}}
  </div>

  <div class="section-column">
    {{dashboard-table-trending-search
      dataSourceName="trending_search"
      startDate=startDate
      endDate=endDate}}
  </div>
</div>
