<table class='table'>
  <thead>
    <tr>
      <th>{{i18n admin.email.sent_at}}</th>
      <th>{{i18n admin.email.user}}</th>
      <th>{{i18n admin.email.to_address}}</th>
      <th>{{i18n admin.email.email_type}}</th>
      <th>{{i18n admin.email.reply_key}}</th>
    </tr>
  </thead>

  {{#if model.length}}
    {{#groupedEach model}}
      <tr>
        <td>{{date created_at}}</td>
        <td>
          {{#if user}}
            {{#link-to 'adminUser' user}}{{avatar user imageSize="tiny"}}{{/link-to}}
            {{#link-to 'adminUser' user}}{{user.username}}{{/link-to}}
          {{else}}
            &mdash;
          {{/if}}
        </td>
        <td><a href='mailto:{{unbound to_address}}'>{{to_address}}</a></td>
        <td>{{email_type}}</td>
        <td>{{reply_key}}</td>
      </tr>
    {{/groupedEach}}
  {{/if}}

</table>
