{{#admin-nav}}
  {{nav-item route='adminEmail.index' label='admin.email.settings'}}
  {{nav-item route='adminEmail.previewDigest' label='admin.email.preview_digest'}}
  {{nav-item route='adminEmail.advancedTest' label='admin.email.advanced_test.title'}}
  {{nav-item route='adminCustomizeEmailTemplates' label='admin.email.templates'}}
  {{nav-item route='adminEmail.sent' label='admin.email.sent'}}
  {{nav-item route='adminEmail.skipped' label='admin.email.skipped'}}
  {{nav-item route='adminEmail.bounced' label='admin.email.bounced'}}
  {{nav-item route='adminEmail.received' label='admin.email.received'}}
  {{nav-item route='adminEmail.rejected' label='admin.email.rejected'}}
{{/admin-nav}}

<div class="admin-container">
  {{outlet}}
</div>
