<table class='table'>
  <tr>
    <th>{{i18n admin.email.sent_at}}</th>
    <th>{{i18n user.title}}</th>
    <th>{{i18n admin.email.to_address}}</th>
    <th>{{i18n admin.email.email_type}}</th>
  </tr>

  {{#if model.length}}
    {{#group}}
      {{#collection contentBinding="model" tagName="tbody" itemTagName="tr"}}
          <td>{{date created_at}}</td>
          <td>
            {{#if user}}
              {{#linkTo 'adminUser' user}}{{avatar user imageSize="tiny"}}{{/linkTo}}
              {{#linkTo 'adminUser' user}}{{user.username}}{{/linkTo}}
            {{else}}
              &mdash;
            {{/if}}
          </td>
          <td><a href='mailto:{{unbound to_address}}'>{{to_address}}</a></td>
          <td>{{email_type}}</td>
      {{/collection}}
    {{/group}}
  {{/if}}

</table>
