{{#admin-nav}}
  {{nav-item route='adminEmail.index' label='admin.email.settings'}}
  {{nav-item route='adminEmail.all' label='admin.email.all'}}
  {{nav-item route='adminEmail.sent' label='admin.email.sent'}}
  {{nav-item route='adminEmail.skipped' label='admin.email.skipped'}}
  {{nav-item route='adminEmail.previewDigest' label='admin.email.preview_digest'}}
{{/admin-nav}}

<div class="admin-container">
  {{outlet}}
</div>
