<div class='admin-controls'>
  <div class='span15'>
    <ul class="nav nav-pills">
      <li>{{#linkTo adminFlags.active}}{{i18n admin.flags.active}}{{/linkTo}}</li>
      <li>{{#linkTo adminFlags.old}}{{i18n admin.flags.old}}{{/linkTo}}</li>
    </ul>
  </div>  
</div>


<table class='admin-flags'>
  <thead>
    <tr>
      <th class='user'></th>
      <th class='excerpt'></th>
      <th class='flaggers'>Flag by</th>
      <th class='last-flagged'></th>
      <th class='action'></th>
    </tr>
  </thead>
  <tbody>
    {{#each content}}
    <tr {{bindAttr class="hiddenClass"}}>
      <td class='user'>{{avatar user imageSize="small"}}</td>
      <td class='excerpt'>{{#if topicHidden}}<i title='this topic is invisible' class='icon icon-eye-close'></i> {{/if}}<h3><a href='{{unbound url}}'>{{title}}</a></h3><br>{{{excerpt}}}
      </td>
      <td class='flaggers'>{{#each flaggers}}{{avatar this imageSize="small"}}{{/each}}</td>
      <td class='last-flagged'>{{date lastFlagged}}</td>
      <td class='action'> 
        {{#if controller.adminActiveFlagsView}}
        <button title='dismiss all flags on this post (will unhide hidden posts)' class='btn' {{action clearFlags this}}>Clear Flags</button>
        {{/if}}
      </td>
    </tr>

      {{#each messages}}
        <tr>
          <td></td>
          <td class='message'>
            <div>{{avatar user imageSize="small"}} {{message}}</div>
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      {{/each}}
    {{/each}}
  </tbody>
</table>
