<div class='admin-controls'>
  <div class='span15'>
    <ul class="nav nav-pills">
      <li>{{#linkTo adminFlags.active}}{{i18n admin.flags.active}}{{/linkTo}}</li>
      <li>{{#linkTo adminFlags.old}}{{i18n admin.flags.old}}{{/linkTo}}</li>
    </ul>
  </div>  
</div>


<table class='admin-flags'>
  <thead>
    <tr>
      <th class='user'></th>
      <th class='excerpt'></th>
      <th class='flaggers'>Flagged by</th>
      <th class='last-flagged'></th>
      <th class='action'></th>
    </tr>
  </thead>
  <tbody>
    {{#each content}}
    <tr {{bindAttr class="hiddenClass"}}>
      <td class='user'><a href="/admin{{unbound user.path}}">{{avatar user imageSize="small"}}</a></td>
      <td class='excerpt'>{{#if topicHidden}}<i title='this topic is invisible' class='icon icon-eye-close'></i> {{/if}}<h3><a href='{{unbound url}}'>{{title}}</a></h3><br>{{{excerpt}}}
      </td>
      <td class='flaggers'>{{#each flaggers}}<a href="/admin{{unbound path}}">{{avatar this imageSize="small"}}</a>{{/each}}</td>
      <td class='last-flagged'>{{date lastFlagged}}</td>
      <td class='action'> 
        {{#if controller.adminActiveFlagsView}}
        <button title='{{i18n admin.flags.clear_title}}' class='btn' {{action clearFlags this}}>{{i18n admin.flags.clear}}</button>
        <button title='{{i18n admin.flags.delete_title}}' class='btn' {{action deletePost this}}>{{i18n admin.flags.delete}}</button>
        {{/if}}
      </td>
    </tr>

      {{#each messages}}
        <tr>
          <td></td>
          <td class='message'>
            <div><a href="/admin{{unbound user.path}}">{{avatar user imageSize="small"}}</a> {{message}}</div>
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      {{/each}}
    {{/each}}
  </tbody>
</table>
