<div class='admin-controls'>
  <div class='span15'>
    <ul class="nav nav-pills">
      <li>{{#linkTo adminFlags.active}}{{i18n admin.flags.active}}{{/linkTo}}</li>
      <li>{{#linkTo adminFlags.old}}{{i18n admin.flags.old}}{{/linkTo}}</li>
    </ul>
  </div>
</div>

<table class='admin-flags'>
  <thead>
    <tr>
      <th class='user'></th>
      <th class='excerpt'></th>
      <th class='flaggers'>{{i18n admin.flags.flagged_by}}</th>
      <th class='last-flagged'></th>
      <th class='action'></th>
    </tr>
  </thead>
  <tbody>
    {{#each content}}
    <tr {{bindAttr class="hiddenClass"}}>
      <td class='user'>{{#linkTo 'adminUser' user}}{{avatar user imageSize="small"}}{{/linkTo}}</td>
      <td class='excerpt'>{{#if topicHidden}}<i title='{{i18n topic_statuses.invisible.help}}' class='icon icon-eye-close'></i> {{/if}}<h3><a href='{{unbound url}}'>{{title}}</a></h3><br>{{{excerpt}}}
      </td>
      <td class='flaggers'>{{#each flaggers}}{{#linkTo 'adminUser' this}}{{avatar this imageSize="small"}} {{/linkTo}}{{/each}}</td>
      <td class='last-flagged'>{{date lastFlagged}}</td>
      <td class='action'>
        {{#if adminActiveFlagsView}}
          <button title='{{i18n admin.flags.clear_title}}' class='btn' {{action clearFlags this}}>{{i18n admin.flags.clear}}</button>
          <button title='{{i18n admin.flags.delete_title}}' class='btn' {{action deletePost this}}>{{i18n admin.flags.delete}}</button>
        {{/if}}
      </td>
    </tr>

      {{#each messages}}
        <tr>
          <td></td>
          <td class='message'>
            <div>{{#linkTo 'adminUser' user}}{{avatar user imageSize="small"}}{{/linkTo}} {{message}} <a href="{{unbound permalink}}">{{i18n admin.flags.view_message}}</a></div>
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      {{/each}}
    {{/each}}
  </tbody>
</table>
