{{#admin-nav}}
  {{#if siteSettings.flags_default_topics}}
    {{nav-item route='adminFlags.topics' label='admin.flags.topics'}}
    {{nav-item route='adminFlags.postsActive' label='admin.flags.active_posts'}}
  {{else}}
    {{nav-item route='adminFlags.postsActive' label='admin.flags.active_posts'}}
    {{nav-item route='adminFlags.topics' label='admin.flags.topics'}}
  {{/if}}

  {{nav-item route='adminFlags.postsOld' label='admin.flags.old_posts' class='right'}}
{{/admin-nav}}

<div class="admin-container">
  {{outlet}}
</div>
