<div class='row groups'>
  {{#if sortedGroups}}
    <div class='content-list'>
      <h3>{{i18n 'admin.groups.edit'}}</h3>
      <ul>
        {{#each sortedGroups as |group|}}
          <li>
            {{#link-to "adminGroup" group.type group.name}}{{group.name}}
              {{#if group.userCountDisplay}}
                <span class="count">{{number group.userCountDisplay}}</span>
              {{/if}}
            {{/link-to}}
          </li>
        {{/each}}
      </ul>
      <div class='controls'>
        {{#if isAuto}}
          {{d-button action="refreshAutoGroups" icon="refresh" label="admin.groups.refresh" disabled=refreshingAutoGroups}}
        {{else}}
          {{#link-to 'adminGroup' 'new' class="btn"}}
            {{d-icon "plus"}} {{i18n 'admin.groups.new'}}
          {{/link-to}}
        {{/if}}
      </div>
    </div>
  {{/if}}

  <div class="content-body">
    {{outlet}}
  </div>
</div>
