{{#if bulkAddResponse}}
  <p>{{{bulkAddResponse.message}}}</p>
  {{#if bulkAddResponse.users_not_added}}
    <p>{{i18n "admin.groups.bulk_complete_users_not_added"}}</p>
    {{#each bulkAddResponse.users_not_added as |user|}}
      {{user}}<br/>
    {{/each}}
  {{/if}}
{{else}}
  <p>{{i18n "admin.groups.bulk_complete"}}</p>
{{/if}}
