<div class='row groups'>
  <div class='content-list span6'>
    <h3>{{i18n 'admin.groups.edit'}}</h3>
    <ul>
      {{#each model as |group|}}
        <li>
          {{#link-to "adminGroup" group.type group.name}}{{group.name}}
            {{#if group.userCountDisplay}}
              <span class="count">{{group.userCountDisplay}}</span>
            {{/if}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
    <div class='controls'>
      {{#if isAuto}}
        {{d-button action="refreshAutoGroups" icon="refresh" label="admin.groups.refresh" disabled=refreshingAutoGroups}}
      {{else}}
        {{#link-to 'adminGroup' 'new' class="btn"}}
          {{fa-icon "plus"}} {{i18n 'admin.groups.new'}}
        {{/link-to}}
      {{/if}}
    </div>
  </div>

  <div class='content-editor'>
    {{outlet}}
  </div>
</div>
