{{#admin-nav}}
  {{nav-item route='adminLogs.staffActionLogs' label='admin.logs.staff_actions.title'}}
  {{nav-item route='adminLogs.screenedEmails' label='admin.logs.screened_emails.title'}}
  {{nav-item route='adminLogs.screenedIpAddresses' label='admin.logs.screened_ips.title'}}
  {{nav-item route='adminLogs.screenedUrls' label='admin.logs.screened_urls.title'}}
  {{#if currentUser.admin}}
    {{nav-item path='/logs' label='admin.logs.logster.title'}}
  {{/if}}
{{/admin-nav}}

<div class="admin-container">
  {{outlet}}
</div>
