<div class="permalink-title">
  <h2>{{i18n 'admin.permalink.title'}}</h2>
</div>
<div class="permalink-description">
  <span>{{i18n 'admin.permalink.description'}}</span>
</div>
<div class="permalink-search">
  {{text-field value=filter class="url-input" placeholderKey="admin.permalink.form.filter" autocorrect="off" autocapitalize="off"}}
</div>
{{permalink-form action=(action "recordAdded")}}
<br>

{{#conditional-loading-spinner condition=loading}}
  {{#if model.length}}
    <table class='admin-logs-table permalinks grid'>
      <thead class="heading-container">
        <th class="col heading first url">{{i18n 'admin.permalink.url'}}</th>
        <th class="col heading destination">{{i18n 'admin.permalink.destination'}}</th>
        <th class="col heading actions"></th>
      </thead>
      <tbody>
        {{#each model as |pl|}}
          <tr class="admin-list-item">
            <td class="col first url">{{pl.url}}</td>
            <td class="col destination">
              {{#if pl.topic_id}}
                {{i18n 'admin.permalink.topic_title'}}
                <a href={{pl.topic_url}}>{{pl.topic_title}}</a>
              {{/if}}
              {{#if pl.post_id}}
                {{i18n 'admin.permalink.post_title'}}
                <a href={{pl.post_url}}>#{{pl.post_number}} {{pl.post_topic_title}}</a>
              {{/if}}
              {{#if pl.category_id}}
                {{i18n 'admin.permalink.category_title'}}
                <a href={{pl.category_url}}>{{pl.category_name}}</a>
              {{/if}}
              {{#if pl.external_url}}
                {{i18n 'admin.permalink.external_url'}}
                <a href={{pl.external_url}}>{{pl.external_url}}</a>
              {{/if}}
            </td>
            <td class="col action">
              {{d-button action=(action "destroy") actionParam=pl icon="far-trash-alt" class="btn-danger"}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    {{i18n 'search.no_results'}}
  {{/if}}
{{/conditional-loading-spinner}}
