<div class="col first url">{{url}}</div>
<div class="col topic_id">{{topic_id}}</div>
<div class="col post_id">{{post_id}}</div>
<div class="col category_id">{{category_id}}</div>
<div class="col external_url">{{external_url}}</div>
<div class="col action"><button class="btn btn-danger" {{action "destroy" this}}><i class="fa fa-trash-o"></i></button></div>
<div class="clearfix"></div>
