{{#if loaded}}
  <h3>{{title}}</h3>

  <button class='btn'
          {{action viewAsTable}}
          {{bindAttr disabled="viewingTable"}}>{{i18n admin.dashboard.reports.view_table}}</button>

  <button class='btn'
          {{action viewAsBarChart}}
          {{bindAttr disabled="viewingBarChart"}}>{{i18n admin.dashboard.reports.view_chart}}</button>

  <table class='table report'>
    <tr>
      <th>{{xaxis}}</th>
      <th>{{yaxis}}</th>
    </tr>

    {{#each row in data}}
      <tr>
        <td>{{row.x}}</td>
        <td>
          {{#if viewingTable}}
            {{row.y}}
          {{/if}}
          {{#if viewingBarChart}}
            <div class='bar-container'>
              <div class='bar' style="width: {{unbound row.percentage}}%">{{row.y}}</div>
            </div>
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </table>

{{else}}
  {{i18n loading}}
{{/if}}