<div class="admin-title">
  {{period-chooser period=period}}
  {{combo-box content=searchTypeOptions value=searchType class='search-logs-filter'}}
</div>

{{#conditional-loading-spinner condition=loading}}
  {{#if model.length}}

    <table class='search-logs-list grid'>
      <thead>
        <th class="col heading term">{{i18n 'admin.logs.search_logs.term'}}</th>
        <th class="col heading">{{i18n 'admin.logs.search_logs.searches'}}</th>
        <th class="col heading">{{i18n 'admin.logs.search_logs.click_through'}}</th>
        <th class="col heading" title="{{i18n 'admin.logs.search_logs.unique_title'}}">{{i18n 'admin.logs.search_logs.unique'}}</th>
      </thead>
      <tbody>
      {{#each model as |item|}}
        <tr class="admin-list-item">
          <td class="col term">
            {{#link-to 'adminSearchLogs.term' item.term}}{{item.term}}{{/link-to}}
          </td>
          <td class="col"><div class="label">{{i18n 'admin.logs.search_logs.searches'}}</div>{{item.searches}}</td>
          <td class="col"><div class="label">{{i18n 'admin.logs.search_logs.click_through'}}</div>{{item.click_through}}</td>
          <td class="col"><div class="label">{{i18n 'admin.logs.search_logs.unique'}}</div>{{item.unique}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>

  {{else}}
    {{i18n 'search.no_results'}}
  {{/if}}
{{/conditional-loading-spinner}}
