<h3>{{model.title}}</h3>
<p class='description'>{{model.description}}</p>

{{#if model.markdown}}
  {{d-editor value=model.value}}
{{/if}}
{{#if model.plainText}}
  {{textarea value=model.value class="plain"}}
{{/if}}
{{#if model.html}}
  {{ace-editor content=model.value mode="html"}}
{{/if}}
{{#if model.css}}
  {{ace-editor content=model.value mode="css"}}
{{/if}}

{{save-controls model=model action="saveChanges" saveDisabled=saveDisabled saved=saved}}
