<h3>{{title}}</h3>
<p class='description'>{{description}}</p>

{{#if markdown}}
  {{pagedown-editor value=value}}
{{/if}}
{{#if plainText}}
  {{textarea value=value class="plain"}}
{{/if}}
{{#if html}}
  {{aceEditor content=value mode="html"}}
{{/if}}
{{#if css}}
  {{aceEditor content=value mode="css"}}
{{/if}}

<div class='controls'>
  <button class='btn' {{action "saveChanges"}} {{bind-attr disabled="saveDisabled"}}>
    {{#if saving}}
      {{i18n 'saving'}}
    {{else}}
      {{i18n 'save'}}
    {{/if}}
  </button>
  {{#if saved}}{{i18n 'saved'}}{{/if}}
</div>
