<div class='admin-controls'>
  <div class='search controls'>
    <label>
      {{input type="checkbox" checked=onlyOverridden}}
      {{i18n 'admin.site_settings.show_overriden'}}
    </label>
  </div>
  <div class='controls'>
    <button {{action "toggleMenu"}} class="menu-toggle">{{fa-icon "bars"}}</button>
    {{text-field value=filter placeholderKey="type_to_filter" class="no-blur"}}
    <button {{action "clearFilter"}} class="btn">{{i18n 'admin.site_settings.clear_filter'}}</button>
  </div>
</div>

<div class="admin-nav pull-left">
  <ul class="nav nav-stacked">
    {{#each category in controller}}
      {{#link-to 'adminSiteSettingsCategory' category.nameKey tagName='li' class=category.nameKey}}
        {{#link-to 'adminSiteSettingsCategory' category.nameKey class=category.nameKey}}
          {{category.name}}
          {{#if filtered}}
            <span class="count">({{category.siteSettings.length}})</span>
          {{/if}}
        {{/link-to}}
      {{/link-to}}
    {{/each}}
  </ul>
</div>

<div class="admin-detail pull-left mobile-closed">
  {{outlet}}
</div>

<div class="clearfix"></div>
