<div class='edit-site-text'>

  <div class='title'>
    <h3>{{siteText.id}}</h3>
  </div>

  {{expanding-text-area value=buffered.value rows="1" class="site-text-value"}}

  {{#save-controls model=siteText action="saveChanges" saved=saved}}
    {{#if siteText.can_revert}}
      {{d-button action="revertChanges" label="admin.site_text.revert" class="revert-site-text"}}
    {{/if}}
  {{/save-controls}}

  {{#link-to 'adminSiteText.index' class="go-back"}}
    {{d-icon 'arrow-left'}}
    {{i18n 'admin.site_text.go_back'}}
  {{/link-to}}

</div>
