<div class='admin-controls'>
  <div class='search controls'>
    <label>
      {{input type="checkbox" checked=onlyOverridden}}
      {{i18n admin.site_settings.show_overriden}}
    </label>
  </div>
  <div class='controls'>
    {{textField value=filter placeholderKey="type_to_filter"}}
    <button {{action clearFilter}} class="btn">{{i18n admin.site_settings.clear_filter}}</button>
  </div>
</div>

<div class="site-settings-nav pull-left">
  <ul class="nav nav-stacked">
    {{#each category in controller}}
      <li {{bind-attr class="category.nameKey"}}>
        {{#link-to 'adminSiteSettingsCategory' category.nameKey class=category.nameKey}}
          {{category.name}}
          {{#if filtered}}
            <span class="count">({{category.siteSettings.length}})</span>
          {{/if}}
          <span class='fa fa-chevron-right'></span>
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>

<div class="site-settings-detail pull-left">
  {{ outlet }}
</div>

<div class="clearfix"></div>
