<div class='admin-controls'>
  
  <div class='controls'>
    {{d-button action="toggleMenu" class="menu-toggle" icon="bars"}}
    {{text-field value=filter placeholderKey="type_to_filter" class="no-blur"}}
    {{d-button action="clearFilter" label="admin.site_settings.clear_filter"}}
  </div>
  <div class='search controls'>
    <label>
      {{input type="checkbox" checked=onlyOverridden}}
      {{i18n 'admin.settings.show_overriden'}}
    </label>
  </div>
</div>

<div class="admin-nav pull-left">
  <ul class="nav nav-stacked">
    {{#each model as |category|}}
      <li class="{{category.nameKey}}">
        {{#link-to 'adminSiteSettingsCategory' category.nameKey class=category.nameKey}}
          {{category.name}}
          {{#if category.count}}<span class="count">({{category.count}})</span>{{/if}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>

<div class="admin-detail pull-left mobile-closed">
  {{outlet}}
</div>

<div class="clearfix"></div>
