<section class='details'>

  <div class='display-row'>
    <div class='field'>{{i18n user.username.title}}</div>
    <div class='value'>{{content.username}}</div>
    <div class='controls'>
      <a href="{{unbound content.path}}" class='btn'>
        <i class='icon icon-user'></i>
        {{i18n admin.user.show_public_profile}}
      </a>
      {{#if content.can_impersonate}}
          <button class='btn' {{action impersonate target="content"}}>
            <i class='icon icon-screenshot'></i>
            {{i18n admin.user.impersonate}}
          </button>
      {{/if}}
    </div>
  </div>

  <div class='display-row'>
    <div class='field'>{{i18n user.email.title}}</div>
    <div class='value'><a href="mailto:{{unbound content.email}}">{{content.email}}</a></div>
  </div>

  <div class='display-row' style='height: 50px'>
    <div class='field'>{{i18n user.avatar.title}}</div>
    <div class='value'>{{avatar content imageSize="large"}}</div>
  </div>

  <div class='display-row' style='height: 50px'>
    <div class='field'>{{i18n user.ip_address.title}}</div>
    <div class='value'>{{content.ip_address}}</div>
    <div class='controls'>
      {{#if Discourse.currentUser.admin}}
      <button class='btn' {{action refreshBrowsers target="content"}}>
        {{i18n admin.user.refresh_browsers}}
      </button>
      {{/if}}
    </div>
  </div>

</section>


<section class='details'>
  <h1>{{i18n admin.user.permissions}}</h1>

  <div class='display-row'>
    <div class='field'>{{i18n admin.users.approved}}</div>
    <div class='value'>
      {{#if content.approved}}
        {{i18n admin.user.approved_by}}
        <a href="{{unbound content.approved_by.adminPath}}">{{avatar approved_by imageSize="small"}}</a>
        <a href="{{unbound adminPath}}">{{content.approved_by.username}}</a>
      {{else}}
        {{i18n no_value}}
      {{/if}}

    </div>
    <div class='controls'>
      {{#if content.can_approve}}
        <button class='btn' {{action approve target="content"}}>
          <i class='icon icon-ok'></i>
          {{i18n admin.user.approve}}
        </button>
      {{/if}}
    </div>
  </div>

  <div class='display-row'>
    <div class='field'>{{i18n admin.user.admin}}</div>
    <div class='value'>{{content.admin}}</div>
    <div class='controls'>
      {{#if content.can_revoke_admin}}
        <button class='btn' {{action revokeAdmin target="content"}}>
          <i class='icon icon-trophy'></i>
          {{i18n admin.user.revoke_admin}}
        </button>
      {{/if}}
      {{#if content.can_grant_admin}}
        <button class='btn' {{action grantAdmin target="content"}}>
          <i class='icon icon-trophy'></i>
          {{i18n admin.user.grant_admin}}
        </button>
      {{/if}}
    </div>

  </div>
  <div class='display-row'>
    <div class='field'>{{i18n admin.user.moderator}}</div>
    <div class='value'>{{content.moderator}}</div>
    <div class='controls'>
      {{#if content.can_revoke_moderation}}
        <button class='btn' {{action revokeModeration target="content"}}>
          <i class='icon icon-magic'></i>
          {{i18n admin.user.revoke_moderation}}
        </button>
      {{/if}}
      {{#if content.can_grant_moderation}}
        <button class='btn' {{action grantModeration target="content"}}>
          <i class='icon icon-magic'></i>
          {{i18n admin.user.grant_moderation}}
        </button>
      {{/if}}
    </div>

  </div>
  <div class='display-row'>
    <div class='field'>{{i18n trust_level}}</div>
    <div class='value'>{{content.trustLevel.name}}</div>
  </div>
  <div class='display-row'>
    <div class='field'>{{i18n admin.user.banned}}</div>
    <div class='value'>{{content.isBanned}}</div>
    <div class='controls'>
    {{#if content.isBanned}}
      <button class='btn btn-danger' {{action unban target="content"}}>
        <i class='icon icon-ban-circle'></i>
        {{i18n admin.user.unban}}
      </button>
      {{content.banDuration}}
    {{else}}
      {{#if content.canBan}}
        <button class='btn btn-danger' {{action ban target="content"}}>
          <i class='icon icon-ban-circle'></i>
          {{i18n admin.user.ban}}
        </button>
      {{/if}}
    {{/if}}
    </div>
  </div>
</section>

<section class='details'>
  <h1>{{i18n admin.user.activity}}</h1>

  <div class='display-row'>
    <div class='field'>{{i18n created}}</div>
    <div class='value'>{{{content.created_at_age}}}</div>
  </div>
  <div class='display-row'>
    <div class='field'>{{i18n admin.users.last_emailed}}</div>
    <div class='value'>{{{content.last_emailed_age}}}</div>
  </div>
  <div class='display-row'>
    <div class='field'>{{i18n last_seen}}</div>
    <div class='value'>{{{content.last_seen_age}}}</div>
  </div>
  <div class='display-row'>
    <div class='field'>{{i18n admin.user.like_count}}</div>
    <div class='value'>{{content.like_count}}</div>
  </div>
  <div class='display-row'>
    <div class='field'>{{i18n admin.user.topics_entered}}</div>
    <div class='value'>{{content.topics_entered}}</div>
  </div>
  <div class='display-row'>
    <div class='field'>{{i18n admin.user.post_count}}</div>
    <div class='value'>{{content.post_count}}</div>
    <div class='controls'>
      {{#if content.can_delete_all_posts}}
        <button class='btn btn-danger' {{action deleteAllPosts target="content"}}>
          <i class='icon icon-trash'></i>
          {{i18n admin.user.delete_all_posts}}
        </button>
      {{/if}}
    </div>
  </div>
  <div class='display-row'>
    <div class='field'>{{i18n admin.user.posts_read_count}}</div>
    <div class='value'>{{content.posts_read_count}}</div>
  </div>
  <div class='display-row'>
    <div class='field'>{{i18n admin.user.flags_given_count}}</div>
    <div class='value'>{{content.flags_given_count}}</div>
  </div>
  <div class='display-row'>
    <div class='field'>{{i18n admin.user.flags_received_count}}</div>
    <div class='value'>{{content.flags_received_count}}</div>
  </div>
  <div class='display-row'>
    <div class='field'>{{i18n admin.user.private_topics_count}}</div>
    <div class='value'>{{content.private_topics_count}}</div>
  </div>
  <div class='display-row'>
    <div class='field'>{{i18n admin.user.time_read}}</div>
    <div class='value'>{{{content.time_read}}}</div>
  </div>
  <div class='display-row'>
    <div class='field'>{{i18n user.invited.days_visited}}</div>
    <div class='value'>{{{content.days_visited}}}</div>
  </div>
</section>

<section>
  <hr/>
  <button class="btn pull-right" {{action destroy target="content"}} {{bindAttr disabled="deleteForbidden"}} {{bindAttr title="deleteButtonTitle"}}>
    <i class="icon icon-trash"></i>
    {{i18n admin.user.delete}}
  </button>
</section>
<div class="clearfix"></div>
