<div class='admin-controls'>
  <nav>
    <ul class="nav nav-pills">
      {{nav-item route='adminUsersList.show' routeParam='active' label='admin.users.nav.active'}}
      {{nav-item route='adminUsersList.show' routeParam='new' label='admin.users.nav.new'}}
      {{nav-item route='adminUsersList.show' routeParam='staff' label='admin.users.nav.staff'}}
      {{nav-item route='adminUsersList.show' routeParam='suspended' label='admin.users.nav.suspended'}}
      {{nav-item route='adminUsersList.show' routeParam='silenced' label='admin.users.nav.silenced'}}
      {{nav-item route='adminUsersList.show' routeParam='suspect' label='admin.users.nav.suspect'}}
      {{nav-item route='adminUsersList.show' routeParam='staged' label='admin.users.nav.staged'}}
      {{nav-item route='groups' label='groups.index.title'}}
      <div class="admin-actions">
    {{#unless siteSettings.enable_sso}}
      {{d-button class="btn-default" action=(route-action "sendInvites") title="admin.invite.button_title" icon="user-plus" label="admin.invite.button_text"}}
    {{/unless}}
    {{#if currentUser.admin}}
      {{d-button class="btn-default" action=(route-action "exportUsers") title="admin.export_csv.button_title.user" icon="download" label="admin.export_csv.button_text"}}
    {{/if}}
  </div>
    </ul>
  </nav>

</div>

<div class="admin-container">
  {{outlet}}
</div>
