<div class='admin-controls'>
  <div class='span15'>
    <ul class="nav nav-pills">
      <li>{{#link-to 'adminUser' this}}<i class="fa fa-caret-left"></i> &nbsp;{{username}}{{/link-to}}</li>
      <li>{{#link-to 'adminUsersList.regular'}}{{i18n admin.user.trust_level_2_users}}{{/link-to}}</li>
    </ul>
  </div>
</div>

<div class="admin-container leader-requirements">
  <h2>{{username}} - {{i18n admin.user.tl3_requirements.title}}</h2>
  <br/>
  <p>{{i18n admin.user.tl3_requirements.table_title}}</p>

  {{#with leaderRequirements}}
    <table class="table" style="width: 50%;">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>{{i18n admin.user.tl3_requirements.value_heading}}</th>
          <th>{{i18n admin.user.tl3_requirements.requirement_heading}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>{{i18n admin.user.tl3_requirements.visits}}</th>
          <td><i {{bind-attr class=":fa met.days_visited:fa-check:fa-times"}}></i></td>
          <td>
            {{days_visited_percent}}% ({{days_visited}} / {{time_period}} {{i18n admin.user.tl3_requirements.days}})
          </td>
          <td>{{min_days_visited_percent}}%</td>
        </tr>
        <tr>
          <th>{{i18n admin.user.tl3_requirements.topics_replied_to}}</th>
          <td><i {{bind-attr class=":fa met.topics_replied_to:fa-check:fa-times"}}></i></td>
          <td>{{num_topics_replied_to}}</td>
          <td>{{min_topics_replied_to}}</td>
        </tr>
        <tr>
          <th>{{i18n admin.user.tl3_requirements.topics_viewed}}</th>
          <td><i {{bind-attr class=":fa met.topics_viewed:fa-check:fa-times"}}></i></td>
          <td>{{topics_viewed}}</td>
          <td>{{min_topics_viewed}}</td>
        </tr>
        <tr>
          <th>{{i18n admin.user.tl3_requirements.topics_viewed_all_time}}</th>
          <td><i {{bind-attr class=":fa met.topics_viewed_all_time:fa-check:fa-times"}}></i></td>
          <td>{{topics_viewed_all_time}}</td>
          <td>{{min_topics_viewed_all_time}}</td>
        </tr>
        <tr>
          <th>{{i18n admin.user.tl3_requirements.posts_read}}</th>
          <td><i {{bind-attr class=":fa met.posts_read:fa-check:fa-times"}}></i></td>
          <td>{{posts_read}}</td>
          <td>{{min_posts_read}}</td>
        </tr>
        <tr>
          <th>{{i18n admin.user.tl3_requirements.posts_read_all_time}}</th>
          <td><i {{bind-attr class=":fa met.posts_read_all_time:fa-check:fa-times"}}></i></td>
          <td>{{posts_read_all_time}}</td>
          <td>{{min_posts_read_all_time}}</td>
        </tr>
        <tr>
          <th>{{i18n admin.user.tl3_requirements.flagged_posts}}</th>
          <td><i {{bind-attr class=":fa met.flagged_posts:fa-check:fa-times"}}></i></td>
          <td>{{num_flagged_posts}}</td>
          <td>{{max_flagged_posts}} {{i18n max}}</td>
        </tr>
        <tr>
          <th>{{i18n admin.user.tl3_requirements.flagged_by_users}}</th>
          <td><i {{bind-attr class=":fa met.flagged_by_users:fa-check:fa-times"}}></i></td>
          <td>{{num_flagged_by_users}}</td>
          <td>{{max_flagged_by_users}} {{i18n max}}</td>
        </tr>
      </tbody>
    </table>
  {{/with}}

  <br/>
  <p>
    {{#if leaderRequirements.requirements_met}}
      <i class="fa fa-check"></i> {{i18n admin.user.tl3_requirements.qualifies}}
      {{#unless isLeader}}
        {{i18n admin.user.tl3_requirements.will_be_promoted}}
      {{/unless}}
    {{else}}
      <i class="fa fa-times"></i> {{i18n admin.user.tl3_requirements.does_not_qualify}}
      {{#if isLeader}}
        {{i18n admin.user.tl3_requirements.will_be_demoted}}
      {{/if}}
    {{/if}}
  </p>
</div>


