<div class="dashboard-stats version-check {{if versionCheck.critical_updates 'critical' 'normal'}}">
  <table class="table table-condensed table-hover">
    {{custom-html name="upgrade-header" versionCheck=versionCheck tagName="thead"}}
  </table>

  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>{{i18n 'admin.dashboard.installed_version'}}</th>
        <th colspan="3">{{i18n 'admin.dashboard.latest_version'}}</th>
      </tr>
    </thead>
    <tbody>
      <td class="title">{{i18n 'admin.dashboard.version'}}</td>
      <td class="version-number"><a href={{versionCheck.gitLink}} target="_blank">{{dash-if-empty versionCheck.installed_describe}}</a></td>

      {{#if versionCheck.noCheckPerformed}}
        <td class="version-number">&mdash;</td>
        <td class="face">
          <span class="icon critical-updates-available">{{d-icon "frown-o"}}</span>
        </td>
        <td class="version-notes">
          <span class="normal-note">{{i18n 'admin.dashboard.no_check_performed'}}</span>
        </td>
      {{else}}
        {{#if versionCheck.staleData}}
          <td class="version-number">{{#if versionCheck.version_check_pending}}{{dash-if-empty versionCheck.installed_version}}{{/if}}</td>
          <td class="face">
            {{#if versionCheck.version_check_pending}}
              <span class='icon up-to-date'>{{d-icon "smile-o"}}</span>
            {{else}}
              <span class="icon critical-updates-available">{{d-icon "frown-o"}}</span>
            {{/if}}
          </td>
          <td class="version-notes">
            <span class="normal-note">
              {{#if versionCheck.version_check_pending}}
                {{i18n 'admin.dashboard.version_check_pending'}}
              {{else}}
                {{i18n 'admin.dashboard.stale_data'}}
              {{/if}}
            </span>
          </td>
        {{else}}
          <td class="version-number">{{dash-if-empty versionCheck.latest_version}}</td>
          <td class="face">
            {{#if versionCheck.upToDate }}
            <span class='icon up-to-date'>{{d-icon "smile-o"}}</span>
            {{else}}
              <span class="icon {{if versionCheck.critical_updates 'critical-updates-available' 'updates-available'}}">
                {{#if versionCheck.behindByOneVersion}}
                  {{d-icon "meh-o"}}
                {{else}}
                  {{d-icon "frown-o"}}
                {{/if}}
              </span>
            {{/if}}
          </td>
          <td class="version-notes">
            {{#if versionCheck.upToDate }}
              {{i18n 'admin.dashboard.up_to_date'}}
            {{else}}
              <span class="critical-note">{{i18n 'admin.dashboard.critical_available'}}</span>
              <span class="normal-note">{{i18n 'admin.dashboard.updates_available'}}</span>
              {{i18n 'admin.dashboard.please_upgrade'}}
            {{/if}}
          </td>
        {{/if}}
      {{/if}}
    </tbody>
  </table>
</div>
