<div class='admin-controls'>
  <div class='controls'>
    {{d-button action="toggleMenu" class="menu-toggle" icon="bars"}}
    {{text-field value=filter placeholderKey="admin.watched_words.search" class="no-blur"}}
    {{d-button action="clearFilter" label="admin.watched_words.clear_filter"}}
  </div>
</div>

<div class="admin-nav pull-left">
  <ul class="nav nav-stacked">
    {{#each model as |action|}}
      <li class="{{action.nameKey}}">
        {{#link-to 'adminWatchedWords.action' action.nameKey}}
          {{action.name}}
          {{#if action.count}}<span class="count">({{action.count}})</span>{{/if}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>

<div class="admin-detail pull-left mobile-closed watched-words-detail">
  {{outlet}}
</div>

<div class="clearfix"></div>
