<h2>{{model.name}}</h2>

<p class="about">{{actionDescription}}</p>

<div class="watched-word-controls">
{{watched-word-form
  actionKey=actionNameKey
  action=(action "recordAdded")
  filteredContent=filteredContent
  regularExpressions=adminWatchedWords.regularExpressions}}

<div class="download">
  <a class="btn btn-default download-link" target="_blank" href={{downloadLink}}>
    {{d-icon "download"}}
    {{i18n "admin.watched_words.download"}}
  </a>
</div>
{{watched-word-uploader uploading=uploading actionKey=actionNameKey done=(action "uploadComplete")}}
</div>

<div>
  <label class="show-words-checkbox">
    {{input type="checkbox" checked=adminWatchedWords.showWords disabled=adminWatchedWords.disableShowWords}}
    {{i18n 'admin.watched_words.show_words'}}
  </label>
</div>
<div class="watched-words-list">
  {{#if showWordsList}}
    {{#each filteredContent as |word| }}
      <div class="watched-word-box">{{admin-watched-word word=word action=(action "recordRemoved")}}</div>
    {{/each}}
  {{else}}
    {{i18n 'admin.watched_words.word_count' count=wordCount}}
  {{/if}}
</div>

<div class="clear-all-row">
  {{d-button
    class="btn btn-danger clear-all"
    label="admin.watched_words.clear_all"
    icon="trash"
    action=(action "clearAll")}}
</div>
