<aside class='quote' data-post="1" data-topic="{{topic_id}}">
  <div class='title'>
    {{{avatar}}}
    <a href="{{original_url}}">{{{title}}}</a> {{{category_html}}}
  </div>
  <blockquote>
    {{{quote}}}
  </blockquote>
</aside>
