<aside class='quote' data-post="{{post_number}}" data-topic="{{topic_id}}">
  <div class='title'>
    <div class='quote-controls'></div>
    {{html-safe avatar}}
    <a href="{{original_url}}">{{html-safe title}}</a> {{html-safe category_html}}
  </div>
  <blockquote>
    {{html-safe quote}}
  </blockquote>
</aside>
