<aside class='quote' data-post="1" data-topic="{{topic}}">
  <div class='title'>
    <div class='quote-controls'></div>
    {{{avatar}}}
    <a href="{{original_url}}">{{{title}}}</a> {{{category_html}}}
  </div>
  <blockquote>{{{quote}}}
    <div class='topic-info'>
    </div>
  </blockquote>
</aside>
