<aside class='quote' data-post="{{post_number}}" data-topic="{{topic_id}}">
  <div class='title'>
    <div class='quote-controls'></div>
    {{{avatar}}}
    <a href="{{original_url}}">{{{title}}}</a> {{{category_html}}}
  </div>
  <blockquote>
    {{{quote}}}
  </blockquote>
</aside>
