<div class="sidebar-custom-sections">
  {{#each this.sections as |section|}}
    <Sidebar::Section
      @sectionName={{section.slug}}
      @headerLinkText={{section.decoratedTitle}}
      @collapsable={{true}}
      @headerActions={{section.headerActions}}
      @headerActionsIcon="pencil-alt"
      @class={{section.dragCss}}
    >
      {{#each section.links as |link|}}
        {{#if link.external}}
          <div
            class="sidebar-link"
            {{draggable didEndDrag=link.didEndDrag dragMove=link.dragMove}}
          >
            <Sidebar::SectionLink
              @linkName={{link.name}}
              @content={{replace-emoji link.name}}
              @prefixType="icon"
              @prefixValue={{link.icon}}
              @href={{link.value}}
              @class={{link.linkDragCss}}
            />
          </div>
        {{else}}
          <div
            class="sidebar-link"
            {{draggable didEndDrag=link.didEndDrag dragMove=link.dragMove}}
          >
            <Sidebar::SectionLink
              @linkName={{link.name}}
              @route={{link.route}}
              @models={{link.models}}
              @query={{link.query}}
              @content={{replace-emoji link.name}}
              @prefixType="icon"
              @prefixValue={{link.icon}}
              @class={{link.linkDragCss}}
            />
          </div>
        {{/if}}
      {{/each}}
    </Sidebar::Section>
  {{/each}}
</div>