<div class="sidebar-custom-sections">
  {{#each this.sections as |section|}}
    <Sidebar::Section
      @sectionName={{section.slug}}
      @headerLinkText={{section.decoratedTitle}}
      @collapsable={{true}}
      @headerActions={{section.headerActions}}
      @headerActionsIcon={{section.headerActionIcon}}
      @class={{section.dragCss}}
    >
      {{#each section.links as |link|}}
        {{#if section.system}}
          <Sidebar::SectionLink
            @shouldDisplay={{link.shouldDisplay}}
            @linkName={{link.name}}
            @href={{link.href}}
            @route={{link.route}}
            @query={{link.query}}
            @title={{link.title}}
            @content={{link.text}}
            @currentWhen={{link.currentWhen}}
            @badgeText={{link.badgeText}}
            @model={{link.model}}
            @models={{link.models}}
            @prefixType={{link.prefixType}}
            @prefixValue={{link.prefixValue}}
            @suffixCSSClass={{link.suffixCSSClass}}
            @suffixValue={{link.suffixValue}}
            @suffixType={{link.suffixType}}
          />
        {{else if link.external}}
          <Sidebar::SectionLink
            @linkName={{link.name}}
            @content={{replace-emoji link.name}}
            @prefixType="icon"
            @prefixValue={{link.icon}}
            @href={{link.value}}
            @class={{link.linkDragCss}}
            {{draggable
              didStartDrag=link.didStartDrag
              didEndDrag=link.didEndDrag
              dragMove=link.dragMove
            }}
          />
        {{else}}
          <Sidebar::SectionLink
            @linkName={{link.name}}
            @route={{link.route}}
            @models={{link.models}}
            @query={{link.query}}
            @content={{replace-emoji link.name}}
            @prefixType="icon"
            @prefixValue={{link.icon}}
            @class={{link.linkDragCss}}
            {{draggable
              didStartDrag=link.didStartDrag
              didEndDrag=link.didEndDrag
              dragMove=link.dragMove
            }}
          />
        {{/if}}
      {{/each}}

      {{#if section.moreLinks}}
        <Sidebar::MoreSectionLinks @sectionLinks={{section.moreLinks}} />
      {{/if}}
    </Sidebar::Section>
  {{/each}}
</div>