<div class="sidebar-sections">
  <Sidebar::User::CustomSections @collapsable={{@collapsableSections}} />
  <Sidebar::User::CategoriesSection @collapsable={{@collapsableSections}} />

  {{#if this.currentUser.display_sidebar_tags}}
    <Sidebar::User::TagsSection @collapsable={{@collapsableSections}} />
  {{/if}}

  {{#if this.enableMessagesSection}}
    <Sidebar::User::MessagesSection @collapsable={{@collapsableSections}} />
  {{/if}}

  <Sidebar::ApiSections @collapsable={{@collapsableSections}} />
</div>