<div class="sidebar-sections">
  <Sidebar::User::CommunitySection @collapsable={{@collapsableSections}} />
  {{#if this.currentUser.custom_sidebar_sections_enabled}}
    <Sidebar::User::CustomSections />
  {{/if}}
  <Sidebar::User::CategoriesSection @collapsable={{@collapsableSections}} />

  {{#if this.currentUser.display_sidebar_tags}}
    <Sidebar::User::TagsSection @collapsable={{@collapsableSections}} />
  {{/if}}

  {{#if this.enableMessagesSection}}
    <Sidebar::User::MessagesSection @collapsable={{@collapsableSections}} />
  {{/if}}

  {{#each this.customSections as |customSection|}}
    <Sidebar::Section
      @sectionName={{customSection.name}}
      @headerLinkText={{customSection.text}}
      @headerLinkTitle={{customSection.title}}
      @headerActionsIcon={{customSection.actionsIcon}}
      @headerActions={{customSection.actions}}
      @willDestroy={{customSection.willDestroy}}
      @collapsable={{@collapsableSections}}
      @displaySection={{customSection.displaySection}}
    >

      {{#each customSection.links as |link|}}
        <Sidebar::SectionLink
          @linkName={{link.name}}
          @class={{link.classNames}}
          @route={{link.route}}
          @model={{link.model}}
          @models={{link.models}}
          @title={{link.title}}
          @contentCSSClass={{link.contentCSSClass}}
          @prefixColor={{link.prefixColor}}
          @prefixBadge={{link.prefixBadge}}
          @prefixType={{link.prefixType}}
          @prefixValue={{link.prefixValue}}
          @prefixCSSClass={{link.prefixCSSClass}}
          @suffixType={{link.suffixType}}
          @suffixValue={{link.suffixValue}}
          @suffixCSSClass={{link.suffixCSSClass}}
          @hoverType={{link.hoverType}}
          @hoverValue={{link.hoverValue}}
          @hoverAction={{link.hoverAction}}
          @hoverTitle={{link.hoverTitle}}
          @currentWhen={{link.currentWhen}}
          @didInsert={{link.didInsert}}
          @willDestroy={{link.willDestroy}}
          @content={{link.text}}
        />
      {{/each}}
    </Sidebar::Section>
  {{/each}}
  <div class="sidebar-section-header-wrapper sidebar-row">PCC</div>
  <li class="sidebar-section-link-wrapper">
    <a
      id="ember895"
      class="ember-view sidebar-section-link sidebar-row sidebar-section-link-everything"
      title="Github"
      href="https://github.com/PluralCC/discourse"
    >
      <span class="sidebar-section-link-prefix icon">
        <svg
          class="fa d-icon d-icon-user svg-icon prefix-icon svg-string"
          xmlns="http://www.w3.org/2000/svg"
        ><use href="#user"></use></svg>
      </span>
      <span class="sidebar-section-link-content-text">
        Github
      </span>
    </a>
  </li>
</div>