<div class="sidebar-footer-wrapper">
  <div class="sidebar-footer-container">
    <div class="sidebar-footer-links">
      <LinkTo @route="about" title={{i18n "about.simple_title"}} class="sidebar-footer-link sidebar-footer-link-about">
        {{i18n "about.simple_title"}}
      </LinkTo>

      <a href
        {{action (route-action "showKeyboardShortcutsHelp")}}
        title={{i18n "keyboard_shortcuts_help.title"}}
        class="sidebar-footer-link sidebar-footer-link-keyboard-shortcuts" >

        {{i18n "keyboard_shortcuts_help.short_title"}}
      </a>
    </div>

    <div class="sidebar-footer-actions">
      <DButton
        @route="adminSiteSettings"
        @title="admin.site_settings.title"
        @icon="cog"
        @class="sidebar-footer-actions-button sidebar-footer-actions-site-settings" />

      {{#if this.site.desktopView}}
        <DButton
          @action={{@toggleSidebar}}
          @icon="thumbtack"
          @class="sidebar-footer-actions-button sidebar-footer-actions-dock-toggle"/>
      {{/if}}
    </div>
  </div>
</div>
