<div class={{concat "sidebar-section-wrapper sidebar-section-" @sectionName}}>
  <div class="sidebar-section-header">
    <button
      type="button"
      class="sidebar-section-header-caret"
      title="toggle section"
      {{on "click" this.toggleSectionDisplay}}
    >
      {{d-icon this.headerCaretIcon}}
    </button>

    {{#if @headerRoute}}
      <LinkTo
        @route={{@headerRoute}}
        @query={{@headerQuery}}
        @models={{if
          @headerModel
          (array @headerModel)
          (if @headerModels @headerModels (array))
        }}
        class="sidebar-section-header-link"
        title={{@headerLinkTitle}}
      >

        {{@headerLinkText}}
      </LinkTo>
    {{else}}
      <span
        title={{@headerLinkTitle}}
        class="sidebar-section-header-text"
      >
        {{@headerLinkText}}
      </span>
    {{/if}}

    {{#if this.isSingleHeaderAction}}
      {{#each @headerActions as |headerAction|}}
        <button
          type="button"
          class="sidebar-section-header-button"
          {{on "click" headerAction.action}}
          title={{headerAction.title}}
        >
          {{d-icon @headerActionsIcon}}
        </button>
      {{/each}}
    {{/if}}

    {{#if this.isMultipleHeaderActions}}
      <DropdownSelectBox
        @options={{hash icon=@headerActionsIcon placementStrategy="absolute"}}
        @content={{@headerActions}}
        @onChange={{action "handleMultipleHeaderActions"}}
        @class="sidebar-section-header-dropdown" />
    {{/if}}
  </div>

  {{#if this.displaySection}}
    <div class="sidebar-section-content">
      {{yield}}
    </div>
  {{/if}}
</div>
