<div class="sidebar-section-link-wrapper">
  <Sidebar::SectionLinkTo
    @class={{concat "sidebar-section-link sidebar-section-link-" @linkName}}
    @route={{@route}}
    @query={{@query}}
    @models={{if @model (array @model) (if @models @models (array))}}
    @current-when={{@current-when}}
    @title={{@title}}
  >
    {{@content}}

    {{#if @badgeText}}
      <span class="sidebar-section-link-content-badge">
        {{@badgeText}}
      </span>
    {{/if}}
  </Sidebar::SectionLinkTo>
</div>
