<div class="sidebar-section-link-wrapper">
  <Sidebar::SectionLinkTo
    @class={{concat @class (concat " sidebar-section-link sidebar-section-link-" @linkName)}}
    @route={{@route}}
    @query={{@query}}
    @models={{if @model (array @model) (if @models @models (array))}}
    @current-when={{@currentWhen}}
    @title={{@title}}
  >
    {{#if @prefixValue }}
      <span class="sidebar-section-link-prefix {{@prefixType}} {{@prefixCSSClass}}" style={{this.prefixCSS}}>
        {{#if (eq @prefixType "image")}}
          <img src={{@prefixValue}} class="prefix-image">
        {{/if}}
        {{#if (eq @prefixType "text")}}
          {{@prefixValue}}
        {{/if}}
        {{#if (eq @prefixType "icon")}}
          {{d-icon @prefixValue class="prefix-icon"}}
        {{/if}}
        {{#if @prefixBadge}}
          {{d-icon @prefixBadge class="prefix-badge"}}
        {{/if}}
      </span>
    {{/if}}
    <span class="sidebar-section-link-content-text">
      {{@content}}
    </span>

    {{! TODO move badge count to suffixType="text", suffixValue="3" like prefix}}
    {{#if @badgeCount}}
      <span class="sidebar-section-link-content-badge">
        {{@badgeCount}}
      </span>
    {{/if}}

    {{#if @suffixValue}}
      <span class="sidebar-section-link-suffix {{@suffixType}} {{@suffixCSSClass}}">
        {{#if (eq @suffixType "icon")}}
          {{d-icon @suffixValue}}
        {{/if}}
      </span>
    {{/if}}
  </Sidebar::SectionLinkTo>
</div>
