<div class="sidebar-section-link-wrapper">
  <Sidebar::SectionLinkTo
    @class={{concat @class (concat " sidebar-section-link sidebar-section-link-" @linkName)}}
    @route={{@route}}
    @query={{@query}}
    @models={{if @model (array @model) (if @models @models (array))}}
    @current-when={{@currentWhen}}
    @title={{@title}}
  >
    {{#if @prefixIcon}}
      <span class="sidebar-section-link-prefix-icon" style={{this.prefixCss}}>
        {{d-icon @prefixIcon class="prefix-icon"}}
        {{#if @prefixIconBadge}}
          {{d-icon @prefixIconBadge class="prefix-icon-badge"}}
        {{/if}}
      </span>
    {{/if}}
    <span class="sidebar-section-link-content-text">
      {{@content}}
    </span>

    {{#if @badgeCount}}
      <span class="sidebar-section-link-content-badge">
        {{@badgeCount}}
      </span>
    {{/if}}

    {{#if @suffixIcon}}
      <span class="sidebar-section-link-suffix-icon {{@suffixCssClass}}">
        {{d-icon @suffixIcon}}
      </span>
    {{/if}}
  </Sidebar::SectionLinkTo>
</div>
