<div class="sidebar-sections">
  <Sidebar::TopicsSection />
  <Sidebar::CategoriesSection />

  {{#if this.siteSettings.tagging_enabled}}
    <Sidebar::TagsSection />
  {{/if}}

  {{#if this.siteSettings.enable_personal_messages}}
    <Sidebar::MessagesSection />
  {{/if}}

  {{#each this.customSections as |customSection|}}
    <Sidebar::Section
      @sectionName={{customSection.name}}
      @headerRoute={{customSection.route}}
      @headerLinkText={{customSection.text}}
      @headerLinkTitle={{customSection.title}}
      @headerActionsIcon={{customSection.actionsIcon}}
      @headerActions={{customSection.actions}}
      @willDestroy={{customSection.willDestroy}}>

      {{#each customSection.links as |link|}}
        <Sidebar::SectionLink
          @linkName={{link.name}}
          @route={{link.route}}
          @model={{link.model}}
          @models={{link.models}}
          @title={{link.title}}
          @prefixColor={{link.prefixColor}}
          @prefixBadge={{link.prefixBadge}}
          @prefixType={{link.prefixType}}
          @prefixValue={{link.prefixValue}}
          @prefixCSSClass={{link.prefixCSSClass}}
          @suffixType={{link.suffixType}}
          @suffixValue={{link.suffixValue}}
          @suffixCSSClass={{link.suffixCSSClass}}
          @hoverType={{link.hoverType}}
          @hoverValue={{link.hoverValue}}
          @hoverAction={{link.hoverAction}}
          @hoverTitle={{link.hoverTitle}}
          @currentWhen={{link.currentWhen}}
          @willDestroy={{link.willDestroy}}
          @content={{link.text}} />
      {{/each}}
    </Sidebar::Section>
  {{/each}}

  {{!-- DO NOT USE, this outlet is temporary and will be removed. --}}
  {{!-- Outlet will be replaced with sidebar API. --}}
  <PluginOutlet @name="after-sidebar" />
</div>
