<SignupProgressBar @step="activate" />
<div class="ac-message">
  <ActivationEmailForm
    @email={{this.newEmail}}
    @updateNewEmail={{this.updateNewEmail}}
  />
</div>
<div class="activation-controls">
  <DButton
    @action={{this.changeEmail}}
    @label="login.submit_new_email"
    @disabled={{this.submitDisabled}}
    class="btn-primary"
  />
  <DButton @action={{this.cancel}} @label="cancel" class="edit-cancel" />
</div>