<form class="groups-form form-vertical groups-notifications-form">

  {{plugin-outlet name="before-manage-group-tags" connectorTagName="div" args=(hash model=model)}}

  <div class="control-group">
    <label class="control-label">{{i18n "groups.manage.tags.long_title"}}</label>
    <div>{{i18n "groups.manage.tags.description"}}</div>
  </div>

  <div class="control-group">
    <label>{{d-icon "d-watching"}} {{i18n "groups.notifications.watching.title"}}</label>

    {{tag-chooser
      tags=model.watching_tags
      blacklist=selectedTags
      allowCreate=false
      everyTag=true
      unlimitedTagCount=true
    }}

    <div class="control-instructions">
      {{i18n "groups.manage.tags.watched_tags_instructions"}}
    </div>
  </div>

  <div class="control-group">
    <label>{{d-icon "d-tracking"}} {{i18n "groups.notifications.tracking.title"}}</label>

    {{tag-chooser
      tags=model.tracking_tags
      blacklist=selectedTags
      allowCreate=false
      everyTag=true
      unlimitedTagCount=true
    }}

    <div class="control-instructions">
      {{i18n "groups.manage.tags.tracked_tags_instructions"}}
    </div>
  </div>

  <div class="control-group">
    <label>{{d-icon "d-watching-first"}} {{i18n "groups.notifications.watching_first_post.title"}}</label>

    {{tag-chooser
      tags=model.watching_first_post_tags
      blacklist=selectedTags
      allowCreate=false
      everyTag=true
      unlimitedTagCount=true
    }}

    <div class="control-instructions">
      {{i18n "groups.manage.tags.watching_first_post_tags_instructions"}}
    </div>
  </div>

  <div class="control-group">
    <label>{{d-icon "d-regular"}} {{i18n "groups.notifications.regular.title"}}</label>

    {{tag-chooser
      tags=model.regular_tags
      blacklist=selectedTags
      allowCreate=false
      everyTag=true
      unlimitedTagCount=true
    }}

    <div class="control-instructions">
      {{i18n "groups.manage.tags.regular_tags_instructions"}}
    </div>
  </div>

  <div class="control-group">
    <label>{{d-icon "d-muted"}} {{i18n "groups.notifications.muted.title"}}</label>

    {{tag-chooser
      tags=model.muted_tags
      blacklist=selectedTags
      allowCreate=false
      everyTag=true
      unlimitedTagCount=true
    }}

    <div class="control-instructions">
      {{i18n "groups.manage.tags.muted_tags_instructions"}}
    </div>
  </div>

  {{group-manage-save-button model=model}}
</form>
