<%= replace_plugin_html('server:simple-header') do %>
  <header class="d-header">
    <div class="wrap">
      <div class="contents">
        <div class="row">
          <div class="logo-wrapper">
            <a href="<%= path "/" %>">
              <%- if application_logo_url.present? %>
                <img src="<%= application_logo_url %>" alt="<%= SiteSetting.title %>" id="site-logo">
              <%- else %>
                <h2 id='site-text-logo'><%= SiteSetting.title %></h2>
              <%- end %>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
<% end %>
