<header class="d-header">
  <div class="wrap">
    <div class="contents">
      <div class="row">
        <div class="title span13">
          <a href="<%= path "/" %>">
            <%- if application_logo_url.present? %>
              <img src="<%= application_logo_url %>" alt="<%= SiteSetting.title %>" id="site-logo">
            <%- else %>
              <h2 id='site-text-logo'><%= SiteSetting.title %></h2>
            <%- end %>
          </a>
        </div>
        <% unless current_user %>
            <div class='panel clearfix'>
              <a href="<%= path "/login"%>" class='btn btn-primary btn-small login-button'><i class="fa fa-user"></i> <%= I18n.t('log_in') %></a>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</header>
