<%= replace_plugin_html('server:simple-header') do %>
  <header class="d-header">
    <div class="wrap">
      <div class="contents">
        <div class="header-row">
          <div class="logo-wrapper">
            <a href="<%= path "/" %>">
              <%- if application_logo_url.present? %>
                <img src="<%= application_logo_url %>" alt="<%= SiteSetting.title %>" id="site-logo">
              <%- else %>
                <h2 id='site-text-logo'><%= SiteSetting.title %></h2>
              <%- end %>
            </a>
          </div>
          <%- unless current_user || local_assigns[:hide_auth_buttons] %>
            <div class='auth-buttons'>
              <%- if can_sign_up? %>
                <a href="<%= path "/signup"%>" class='btn btn-primary btn-small signup-button'><%= I18n.t('sign_up') %></a>
              <%- end %>
              <a href="<%= path "/login"%>" class='btn btn-primary btn-small login-button btn-icon-text'><%= SvgSprite.raw_svg('fa-user') %><%= I18n.t('log_in') %></a>
            </div>
          <%- end %>
        </div>
      </div>
    </div>
  </header>
<% end %>
