{{#if icon}}
  {{d-icon icon class="icon"}}
{{/if}}

<span class="current-selection">
  {{text}}
</span>

{{#if showClearButton}}
  <button class="btn btn-primary clear-selection" {{action "clearSelection" bubbles=false}}>
    {{d-icon "times"}}
  </button>
{{/if}}

{{d-icon caretIcon class="caret-icon"}}
