<html>
  <head>
    <%= discourse_stylesheet_link_tag :wizard, theme_key: nil %>
    <%= preload_script 'ember_jquery' %>
    <%= preload_script 'wizard-vendor' %>
    <%= preload_script 'wizard-application' %>
    <%= preload_script "locales/#{I18n.locale}" %>
    <%= render partial: "common/special_font_face" %>
    <script src="<%= Discourse.base_uri %>/extra-locales/wizard"></script>
    <%= csrf_meta_tags %>

    <meta name="discourse-base-uri" content="<%= Discourse.base_uri %>">

    <%= render partial: "layouts/head" %>
    <title><%= t 'wizard.title' %></title>
  </head>

  <body class='wizard'>
    <div id='wizard-main'></div>

    <script>
      (function() {
        var wizard = require('wizard/wizard').default.create();
        wizard.start();
      })();
    </script>
  </body>
</html>
