<html>
  <head>
    <%= discourse_stylesheet_link_tag :wizard, theme_ids: nil %>
    <%= preload_script 'ember_jquery' %>
    <%= preload_script "locales/#{I18n.locale}" %>
    <%= preload_script 'wizard-vendor' %>
    <%= preload_script 'wizard-application' %>
    <script src="<%= ExtraLocalesController.url("wizard") %>"></script>
    <%= csrf_meta_tags %>

    <%= render partial: "layouts/head" %>
    <title><%= t 'wizard.title' %></title>
  </head>

  <body class='wizard'>
    <div id='wizard-main'></div>
    <%= preload_script 'wizard-start' %>

    <div id="svg-sprites" style="display:none;">
      <div class="fontawesome">
        <%= raw SvgSprite.bundle %>
      </div>
    </div>

  </body>
</html>
