<html>
  <head>
    <%= discourse_stylesheet_link_tag :wizard, theme_ids: nil %>
    <%= preload_script 'ember_jquery' %>
    <%= preload_script "locales/#{I18n.locale}" %>
    <%- if ExtraLocalesController.client_overrides_exist? %>
      <%= preload_script_url ExtraLocalesController.url('overrides') %>
    <%- end %>
    <%= preload_script 'wizard-vendor' %>
    <%= preload_script 'wizard-application' %>
    <%= preload_script_url ExtraLocalesController.url('wizard') %>
    <%= csrf_meta_tags %>

    <%= render partial: "layouts/head" %>
    <title><%= t 'wizard.title' %></title>
  </head>

  <body class='wizard'>
    <div id='wizard-main'></div>
    <%= preload_script 'wizard-start' %>

    <div id="svg-sprites" style="display:none;">
      <div class="fontawesome">
        <%= raw SvgSprite.bundle %>
      </div>
    </div>

  </body>
</html>
