<!DOCTYPE html>
<html>
  <head>
    <title>QUnit Test Runner</title>
    <%= stylesheet_link_tag "test_helper" %>
    <%= discourse_stylesheet_link_tag :wizard, theme_ids: nil %>
    <%= javascript_include_tag "wizard/test/test_helper" %>
    <%= csrf_meta_tags %>
    <script src="<%= ExtraLocalesController.url("wizard") %>"></script>
  </head>
  <body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
  </body>
</html>
