<div class="badge-title">
  <form class="form-horizontal">

    <h3>{{i18n "badges.select_badge_for_title"}}</h3>

    <div class="control-group">
      <div class="controls">
        <ComboBox
          @value={{this._selectedUserBadgeId}}
          @nameProperty="badge.name"
          @content={{this.selectableUserBadges}}
          @onChange={{fn (mut this._selectedUserBadgeId)}}
        />
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <DButton
          @action={{this.saveBadgeTitle}}
          @disabled={{this._isSaving}}
          @label={{if this._isSaving "saving" "save"}}
          class="btn-primary"
        />
        {{#if this.closeAction}}
          <DButton
            @action={{this.closeAction}}
            @label="close"
            class="btn-default close-btn"
          />
        {{/if}}
        {{#if this._isSaved}}
          <span role="status" class="badge-title__saved">{{i18n "saved"}}</span>
        {{/if}}
      </div>
    </div>
  </form>
</div>