<div class="badge-title">
  <section class="user-content" id="user-content">
    <form class="form-horizontal">
      <div class="control-group">
        <div class="controls">
          <h3>{{i18n "badges.select_badge_for_title"}}</h3>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <ComboBox
            @value={{this._selectedUserBadgeId}}
            @nameProperty="badge.name"
            @content={{this.selectableUserBadges}}
            @onChange={{action (mut this._selectedUserBadgeId)}}
          />
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <DButton
            @class="btn-primary"
            @action={{action "saveBadgeTitle"}}
            @disabled={{this._isSaving}}
            @label={{if this._isSaving "saving" "save"}}
          />
          {{#if this._isSaved}}
            <span>{{i18n "saved"}}</span>
          {{/if}}
        </div>
      </div>
    </form>
  </section>
</div>