<span
  class="user-badge
    {{@badge.badgeTypeClassName}}
    {{unless @badge.enabled 'disabled'}}"
  title={{this.title}}
  data-badge-name={{@badge.name}}
>
  {{icon-or-image @badge}}
  <span class="badge-display-name">{{@badge.name}}</span>
  {{yield}}
</span>