<DPopover
  @options={{hash trigger="click" placement="bottom" offset=(array -5 10)}}
  class="bookmark-menu"
>
  {{#if this.bookmarkedNotice}}
    <span
      class={{concat-class
        "bookmark-menu__notice"
        (if this.slideOutBookmarkNotice "-slide-out")
      }}
      {{this.scheduleSlideOut}}
      {{this.scheduleRemove}}
    >
      Bookmarked!
    </span>
  {{/if}}
  <DButton
    class={{concat-class
      "bookmark with-reminder widget-button btn-flat no-text btn-icon bookmark-menu__trigger"
      (if @post.bookmarked "-bookmarked")
    }}
    {{on "click" this.onBookmark}}
  >
    {{#if @post.bookmarkReminderAt}}
      {{d-icon "discourse-bookmark-clock"}}
    {{else}}
      {{d-icon "bookmark"}}
    {{/if}}
  </DButton>

  <div class="bookmark-menu__body">
    {{#if @post.bookmarked}}
      <ul class="bookmark-menu__actions">
        <li class="bookmark-menu__row -edit">
          <DButton
            @icon="pencil-alt"
            @translatedLabel="Edit"
            @action={{this.onEditReminder}}
            @class="bookmark-menu__row-btn btn-flat"
          />
        </li>
        <li
          class="bookmark-menu__row -remove"
          role="button"
          tabindex="0"
          {{on "click" this.onRemoveBookmark}}
        >
          <DButton
            @icon="trash-alt"
            @translatedLabel="Delete"
            @action={{this.onRemoveBookmark}}
            @class="bookmark-menu__row-btn btn-flat"
          />
        </li>
      </ul>
    {{else}}
      <span class="bookmark-menu__row-title">Also set a reminder?</span>
      <ul class="bookmark-menu__actions">
        {{#each this.reminderAtOptions as |option|}}
          <li class={{concat-class "bookmark-menu__row" option.class}}>
            <DButton
              @translatedLabel={{option.name}}
              @action={{fn this.onChooseOption option}}
              @class="bookmark-menu__row-btn btn-flat"
            />
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
</DPopover>