<ConditionalLoadingSpinner @condition={{this.loading}}>
  <LoadMore
    @selector=".bookmark-list .bookmark-list-item"
    @action={{this.loadMore}}
  >
    <table class="topic-list bookmark-list">
      <thead class="topic-list-header">
        {{#if this.site.desktopView}}
          <PluginOutlet @name="bookmark-list-table-header">
            {{#if this.bulkSelectEnabled}}
              <th class="bulk-select topic-list-data">
                <FlatButton
                  @action={{this.toggleBulkSelect}}
                  @class="bulk-select"
                  @icon="tasks"
                  @title="bookmarks.bulk.toggle"
                />
              </th>
            {{/if}}
            <th class="topic-list-data">

              {{#if this.bulkSelectEnabled}}
                <span class="bulk-select-topics">
                  {{~#if this.canDoBulkActions}}
                    <div class="bulk-select-bookmarks-dropdown">
                      <span class="bulk-select-bookmark-dropdown__count">
                        {{i18n
                          "bookmarks.bulk.selected_count"
                          count=this.selectedCount
                        }}
                      </span>
                      <BulkSelectBookmarksDropdown
                        @bulkSelectHelper={{this.bulkSelectHelper}}
                      />
                    </div>

                  {{/if~}}
                  <DButton
                    @action={{this.selectAll}}
                    class="btn btn-default bulk-select-all"
                    @label="bookmarks.bulk.select_all"
                  />
                  <DButton
                    @action={{this.clearAll}}
                    class="btn btn-default bulk-clear-all"
                    @label="bookmarks.bulk.clear_all"
                  />
                </span>
              {{else}}
                <FlatButton
                  @action={{this.toggleBulkSelect}}
                  @class="bulk-select"
                  @icon="tasks"
                  @title="bookmarks.bulk.toggle"
                />
                {{i18n "topic.title"}}
              {{/if~}}
            </th>
            <th class="topic-list-data">&nbsp;</th>
            <th class="post-metadata topic-list-data">{{i18n
                "post.bookmarks.updated"
              }}</th>
            <th class="post-metadata topic-list-data">{{i18n "activity"}}</th>
            <th>&nbsp;</th>
          </PluginOutlet>
        {{/if}}
      </thead>
      <tbody class="topic-list-body">
        {{#each this.content as |bookmark|}}
          <tr class="topic-list-item bookmark-list-item">
            {{#if this.bulkSelectEnabled}}
              <td class="bulk-select bookmark-list-data">
                <label for="bulk-select-{{bookmark.id}}">
                  <input
                    type="checkbox"
                    class="bulk-select"
                    id="bulk-select-{{bookmark.id}}"
                    data-id={{bookmark.id}}
                  />
                </label>
              </td>
            {{/if}}
            <th scope="row" class="main-link topic-list-data">
              <span class="link-top-line">
                <div class="bookmark-metadata">
                  {{#if bookmark.reminder_at}}
                    <span
                      class="bookmark-metadata-item bookmark-reminder
                        {{if
                          bookmark.reminderAtExpired
                          'bookmark-expired-reminder'
                        }}"
                    >
                      {{d-icon "far-clock"}}{{bookmark.formattedReminder}}
                    </span>
                  {{/if}}
                  {{#if bookmark.name}}
                    <span class="bookmark-metadata-item">
                      {{d-icon "info-circle"}}<span>{{bookmark.name}}</span>
                    </span>
                  {{/if}}
                </div>
                <div class="bookmark-status-with-link">
                  {{#if bookmark.pinned}}
                    {{d-icon "thumbtack" class="bookmark-pinned"}}
                  {{/if}}
                  {{#if bookmark.bookmarkableTopicAlike}}
                    <TopicStatus @topic={{bookmark.topicStatus}} />
                    {{topic-link bookmark.topicForList}}
                  {{else}}
                    <a
                      href={{bookmark.bookmarkable_url}}
                      role="heading"
                      aria-level="2"
                      class="title"
                      data-topic-id="${topic.id}"
                    >
                      {{bookmark.fancy_title}}
                    </a>
                  {{/if}}
                </div>
              </span>
              {{#if bookmark.bookmarkableTopicAlike}}
                <div class="link-bottom-line">
                  {{category-link bookmark.category}}
                  {{discourse-tags
                    bookmark
                    mode="list"
                    tagsForUser=this.tagsForUser
                  }}
                </div>
              {{/if}}
              {{#if
                (and
                  this.site.mobileView
                  bookmark.excerpt
                  bookmark.user.avatar_template
                )
              }}
                <a
                  href={{bookmark.bookmarkableUser.path}}
                  data-user-card={{bookmark.user.username}}
                  class="avatar"
                >
                  {{avatar
                    bookmark.bookmarkableUser
                    avatarTemplatePath="avatar_template"
                    usernamePath="username"
                    namePath="name"
                    imageSize="small"
                  }}
                </a>
              {{/if}}

              {{! template-lint-disable no-invalid-interactive }}
              <p
                class="post-excerpt"
                {{on "click" this.screenExcerptForExternalLink}}
              >{{html-safe bookmark.excerpt}}</p>
            </th>
            {{#if this.site.desktopView}}
              <td class="author-avatar topic-list-data">
                {{#if bookmark.user.avatar_template}}
                  <a
                    href={{bookmark.user.path}}
                    data-user-card={{bookmark.user.username}}
                    class="avatar"
                  >
                    {{avatar
                      bookmark.user
                      avatarTemplatePath="avatar_template"
                      usernamePath="username"
                      namePath="name"
                      imageSize="small"
                    }}
                  </a>
                {{/if}}
              </td>
              <td class="post-metadata topic-list-data updated-at">{{format-date
                  bookmark.updated_at
                  format="tiny"
                }}</td>
              {{raw
                "list/activity-column"
                topic=bookmark
                class="num post-metadata"
                tagName="td"
              }}
            {{/if}}
            <td class="topic-list-data">
              <BookmarkActionsDropdown
                @bookmark={{bookmark}}
                @removeBookmark={{action "removeBookmark"}}
                @editBookmark={{action "editBookmark"}}
                @clearBookmarkReminder={{action "clearBookmarkReminder"}}
                @togglePinBookmark={{action "togglePinBookmark"}}
              />
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <ConditionalLoadingSpinner @condition={{this.loadingMore}} />
  </LoadMore>
</ConditionalLoadingSpinner>