<PluginOutlet
  @name="bread-crumbs-left"
  @connectorTagName="li"
  @outletArgs={{hash
    tagId=this.tag.id
    additionalTags=this.additionalTags
    noSubcategories=this.noSubcategories
    showTagsSection=this.showTagsSection
    currentCategory=this.category
    categoryBreadcrumbs=this.categoryBreadcrumbs
    editingCategory=this.editingCategory
    editingCategoryTab=this.editingCategoryTab
  }}
/>

{{#each this.categoryBreadcrumbs as |breadcrumb|}}
  {{#if breadcrumb.hasOptions}}
    <li
      style={{html-safe
        (if
          breadcrumb.category
          (concat
            "--category-bg-color:#"
            breadcrumb.category.color
            "; "
            "--category-text-color:#"
            breadcrumb.category.text_color
            ";"
          )
        )
      }}
    >
      <CategoryDrop
        @category={{breadcrumb.category}}
        @categories={{breadcrumb.options}}
        @tagId={{this.tag.id}}
        @editingCategory={{this.editingCategory}}
        @editingCategoryTab={{this.editingCategoryTab}}
        @options={{hash
          parentCategory=breadcrumb.parentCategory
          subCategory=breadcrumb.isSubcategory
          noSubcategories=breadcrumb.noSubcategories
          autoFilterable=true
        }}
      />
    </li>
  {{/if}}
{{/each}}

{{#if this.showTagsSection}}
  {{#if this.additionalTags}}
    <li>
      <TagsIntersectionChooser
        @currentCategory={{this.category}}
        @mainTag={{this.tag.id}}
        @additionalTags={{this.additionalTags}}
        @options={{hash categoryId=this.category.id}}
      />
    </li>
  {{else}}
    <li>
      <TagDrop
        @currentCategory={{this.category}}
        @noSubcategories={{this.noSubcategories}}
        @tagId={{this.tag.id}}
      />
    </li>
  {{/if}}
{{/if}}

<PluginOutlet
  @name="bread-crumbs-right"
  @connectorTagName="li"
  @outletArgs={{hash
    tagId=this.tag.id
    additionalTags=this.additionalTags
    noSubcategories=this.noSubcategories
    showTagsSection=this.showTagsSection
    currentCategory=this.category
    categoryBreadcrumbs=this.categoryBreadcrumbs
    editingCategory=this.editingCategory
    editingCategoryTab=this.editingCategoryTab
  }}
/>