<div
  class="calendar-date-time-input"
  {{did-insert this.setupInternalDateTime}}
  {{did-insert this.setupPikaday}}
  {{did-update this.changeMinDate @minDate}}
  {{did-update this.changeDate @date}}
  {{did-update this.changeTime @time}}
>
  <Input class="fake-input" />

  <div class="date-picker" id="picker-container-{{@datePickerId}}"></div>

  <div class="time-pickers">
    {{d-icon "far-clock"}}
    <Input
      maxlength={{5}}
      placeholder="hh:mm"
      @type="time"
      @value={{this._time}}
      class="time-picker"
      {{on "input" (action this.onChangeTime)}}
    />
  </div>
</div>