{{#if this.site.mobileView}}
  <div class="card-cloak hidden"></div>
{{/if}}

<PluginOutlet @name="user-card-content-container">
  <UserCardContents
    @topic={{this.topic.model}}
    @showUser={{this.showUser}}
    @filterPosts={{this.filterPosts}}
    @composePrivateMessage={{route-action "composePrivateMessage"}}
    role="dialog"
  />
</PluginOutlet>

<GroupCardContents
  @topic={{this.topic.model}}
  @showUser={{this.showUser}}
  @showGroup={{this.showGroup}}
/>