<span class="group-name">
  <span class="group-name-label">{{this.group_name}}</span>
  <a class="remove-permission" href {{on "click" this.removeRow}}>
    {{d-icon "far-trash-alt"}}
  </a>
</span>
<span class="options actionable">
  <DButton @icon="check-square" @class="btn btn-flat see" @disabled={{true}} />

  <DButton
    @icon={{this.canReplyIcon}}
    @action={{action "setPermissionReply"}}
    @translatedTitle={{this.replyTooltip}}
    @class={{concat "btn btn-flat reply-toggle " this.replyGranted}}
    @disabled={{this.replyDisabled}}
  />

  <DButton
    @icon={{this.canCreateIcon}}
    @action={{action "setPermissionFull"}}
    @translatedTitle={{this.createTooltip}}
    @class={{concat "btn btn-flat create-toggle " this.createGranted}}
    @disabled={{this.createDisabled}}
  />
</span>