<span class="group-name">
  <span class="group-name-label">{{this.group_name}}</span>
  <a class="remove-permission" href {{on "click" this.removeRow}}>
    {{d-icon "far-trash-alt"}}
  </a>
</span>
<span class="options actionable">
  <DButton @icon="check-square" @disabled={{true}} class="btn-flat see" />

  <DButton
    @icon={{this.canReplyIcon}}
    @action={{action "setPermissionReply"}}
    @translatedTitle={{this.replyTooltip}}
    @disabled={{this.replyDisabled}}
    class={{concat-class "btn btn-flat reply-toggle" this.replyGranted}}
  />

  <DButton
    @icon={{this.canCreateIcon}}
    @action={{action "setPermissionFull"}}
    @translatedTitle={{this.createTooltip}}
    @disabled={{this.createDisabled}}
    class={{concat-class "btn-flat create-toggle" this.createGranted}}
  />
</span>