<div>
  <label for="choose-topic-title">
    <span>{{i18n (or @label "choose_topic.title.search")}}</span>
  </label>

  <input
    {{on "keydown" this.ignoreEnter}}
    {{on "input" this.onTopicTitleChange}}
    type="text"
    placeholder={{i18n "choose_topic.title.placeholder"}}
    id="choose-topic-title"
  />

  {{#if this.loading}}
    <p>{{i18n "loading"}}</p>
  {{else if (not this.topics.length)}}
    <p>{{i18n "choose_topic.none_found"}}</p>
  {{else}}
    <div class="choose-topic-list" role="radiogroup">
      {{#each this.topics as |t|}}
        <div class="controls existing-topic">
          <label class="radio">
            <Input
              {{on "click" (fn this.chooseTopic t)}}
              @checked={{eq t.id this.selectedTopicId}}
              @type="radio"
              name="choose_topic_id"
              id={{concat "choose-topic-" t.id}}
            />
            <TopicStatus @topic={{t}} @disableActions={{true}} />
            <span class="topic-title">
              {{replace-emoji t.title}}
            </span>
            <span class="topic-categories">
              {{bound-category-link
                t.category
                ancestors=t.category.predecessors
                hideParent=true
                link=false
              }}
            </span>
          </label>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>