{{#if this.showFormTemplateForm}}
  <div class="d-editor">
    <div class="d-editor-container">
      <div class="d-editor-textarea-column">
        {{yield}}

        {{#if (gt this.composer.formTemplateIds.length 1)}}
          <FormTemplateChooser
            @filteredIds={{this.composer.formTemplateIds}}
            @value={{this.selectedFormTemplateId}}
            @onChange={{this.updateSelectedFormTemplateId}}
            @options={{hash maximum=1}}
            class="composer-select-form-template"
          />
        {{/if}}
        <form id="form-template-form">
          <FormTemplateField::Wrapper
            @id={{this.selectedFormTemplateId}}
            @initialValues={{this.composer.formTemplateInitialValues}}
            @onSelectFormTemplate={{this.composer.onSelectFormTemplate}}
          />
        </form>
      </div>
    </div>
  </div>
{{else}}
  <DEditor
    @value={{this.composer.model.reply}}
    @placeholder={{this.replyPlaceholder}}
    @previewUpdated={{action "previewUpdated"}}
    @markdownOptions={{this.markdownOptions}}
    @extraButtons={{action "extraButtons"}}
    @importQuote={{this.composer.importQuote}}
    @processPreview={{this.composer.showPreview}}
    @validation={{this.validation}}
    @loading={{this.composer.loading}}
    @forcePreview={{this.forcePreview}}
    @showLink={{this.showLink}}
    @composerEvents={{true}}
    @onPopupMenuAction={{this.composer.onPopupMenuAction}}
    @popupMenuOptions={{this.composer.popupMenuOptions}}
    @disabled={{this.composer.disableTextarea}}
    @outletArgs={{hash composer=this.composer.model editorType="composer"}}
    @topicId={{this.composer.model.topic.id}}
    @categoryId={{this.composer.model.category.id}}
  >
    {{yield}}
  </DEditor>
{{/if}}

{{#if this.composer.allowUpload}}
  <PickFilesButton
    @fileInputId="file-uploader"
    @allowMultiple={{true}}
    name="file-uploader"
  />
{{/if}}