<ComposerActions
  @composerModel={{this.model}}
  @replyOptions={{this.model.replyOptions}}
  @canWhisper={{this.canWhisper}}
  @action={{this.model.action}}
  @tabindex={{this.tabindex}}
  @topic={{this.model.topic}}
  @post={{this.model.post}}
  @whisper={{this.model.whisper}}
  @noBump={{this.model.noBump}}
  @options={{hash mobilePlacementStrategy="fixed"}}
/>

<span class="action-title" role="heading" aria-level="1">
  {{this.actionTitle}}
</span>