{{! template-lint-disable no-pointer-down-event-binding }}
{{! template-lint-disable no-invalid-interactive }}

<ConditionalInElement
  @element={{this.modal.containerElement}}
  @inline={{@inline}}
  @append={{true}}
>
  <this.dynamicElement
    class={{concat-class "modal" "d-modal" (if @inline "-inline")}}
    data-keyboard="false"
    aria-modal="true"
    role="dialog"
    aria-labelledby={{if @title "discourse-modal-title"}}
    ...attributes
    {{did-insert this.setupListeners}}
    {{will-destroy this.cleanupListeners}}
    {{trap-tab preventScroll=false}}
  >

    <div class="d-modal__container">
      {{yield to="aboveHeader"}}

      {{#if
        (and
          (not @hideHeader)
          (or
            this.dismissable
            @title
            (has-block "headerBelowTitle")
            (has-block "headerAboveTitle")
          )
        )
      }}
        <div class={{concat-class "d-modal__header" @headerClass}}>

          {{yield to="headerAboveTitle"}}

          {{#if @title}}
            <div class="d-modal__title">
              <h3
                id="discourse-modal-title"
                class="d-modal__title-text"
              >{{@title}}</h3>

              {{#if @subtitle}}
                <p class="d-modal__subtitle-text">{{@subtitle}}</p>
              {{/if}}

              {{yield to="belowModalTitle"}}
            </div>
          {{/if}}
          {{yield to="headerBelowTitle"}}

          {{#if this.dismissable}}
            <DButton
              @icon="times"
              @action={{this.handleCloseButton}}
              @title="modal.close"
              class="btn-transparent modal-close"
            />
          {{/if}}
        </div>
      {{/if}}

      {{yield to="belowHeader"}}

      {{this.validateFlashType @flashType}}
      {{#if @flash}}
        <div
          id="modal-alert"
          role="alert"
          class={{concat-class
            "alert"
            (if @flashType (concat "alert-" @flashType))
          }}
        >
          {{~@flash~}}
        </div>
      {{/if}}

      <div class={{concat-class "d-modal__body" @bodyClass}} tabindex="-1">
        {{#if (has-block "body")}}
          {{yield to="body"}}
        {{else}}
          {{yield}}
        {{/if}}
      </div>

      {{#if (has-block "footer")}}
        <div class="d-modal__footer">
          {{yield to="footer"}}
        </div>
      {{/if}}

      {{yield to="belowFooter"}}
    </div>
  </this.dynamicElement>
  {{#unless @inline}}
    <div class="d-modal__backdrop" {{on "click" this.handleWrapperClick}}></div>
  {{/unless}}
</ConditionalInElement>