<li
  aria-current={{this.ariaCurrent}}
  title={{@title}}
  class={{@class}}
  ...attributes
>
  {{#if @model}}
    <LinkTo @route={{@route}} @model={{@model}}>
      {{yield}}
    </LinkTo>
  {{else}}
    <LinkTo @route={{@route}}>
      {{yield}}
    </LinkTo>
  {{/if}}
</li>