<li
  aria-current={{this.ariaCurrent}}
  title={{@title}}
  class={{@class}}
  ...attributes
>
  {{#if this.models}}
    <LinkTo @route={{@route}} @models={{this.models}}>
      {{yield}}
    </LinkTo>
  {{else}}
    <LinkTo @route={{@route}}>
      {{yield}}
    </LinkTo>
  {{/if}}
</li>