{{#if this.isQueryFilterMode}}
  <div class="topic-query-filter">
    <div class="topic-query-filter__label">
      {{i18n "filters.filter.button.label"}}
    </div>
    <div class="topic-query-filter__input">
      {{d-icon "search" class="topic-query-filter__icon"}}
      <Input
        class="topic-query-filter__filter-term"
        @value={{this.queryString}}
        placeholder="status:open"
        @enter={{route-action "changeQueryString" this.queryString}}
        @type="text"
      />
    </div>
  </div>
{{else}}
  <BreadCrumbs
    @categories={{this.categories}}
    @category={{this.category}}
    @noSubcategories={{this.noSubcategories}}
    @tag={{this.tag}}
    @additionalTags={{this.additionalTags}}
  />

  {{#unless this.additionalTags}}
    {{! nav bar doesn't work with tag intersections }}
    <NavigationBar
      @navItems={{this.navItems}}
      @filterMode={{this.filterMode}}
      @category={{this.category}}
    />
  {{/unless}}
{{/if}}

<div class="navigation-controls">
  {{#if (and this.notCategoriesRoute this.site.mobileView this.canBulk)}}
    <BulkSelectToggle @parentController={{"discovery/topics"}} @tagName="" />
  {{/if}}

  {{#if this.showCategoryAdmin}}
    <CategoriesAdminDropdown
      @onChange={{action "selectCategoryAdminDropdownAction"}}
      @options={{hash triggerOnChangeOnTab=false}}
    />
  {{/if}}

  {{#if (and this.category this.showCategoryEdit)}}
    <DButton
      @class="btn-default edit-category"
      @action={{this.editCategory}}
      @icon="wrench"
      @title="category.edit_title"
    />
  {{/if}}

  {{#if this.tag}}
    {{#if this.showToggleInfo}}
      <DButton
        @icon={{if this.currentUser.staff "wrench" "info-circle"}}
        @class="btn-default"
        @ariaLabel="tagging.info"
        @action={{this.toggleInfo}}
        @id="show-tag-info"
      />
    {{/if}}
  {{/if}}

  <PluginOutlet
    @name="before-create-topic-button"
    @connectorTagName="div"
    @outletArgs={{hash
      canCreateTopic=this.canCreateTopic
      createTopicDisabled=this.createTopicDisabled
      createTopicLabel=this.createTopicLabel
      additionalTags=this.additionalTags
      category=this.category
      tag=this.tag
    }}
  />

  <CreateTopicButton
    @canCreateTopic={{this.canCreateTopic}}
    @action={{action "clickCreateTopicButton"}}
    @disabled={{this.createTopicButtonDisabled}}
    @label={{this.createTopicLabel}}
    @btnClass={{this.createTopicClass}}
    @canCreateTopicOnTag={{this.canCreateTopicOnTag}}
  />

  <PluginOutlet
    @name="after-create-topic-button"
    @connectorTagName="div"
    @outletArgs={{hash
      canCreateTopic=this.canCreateTopic
      createTopicDisabled=this.createTopicDisabled
      createTopicLabel=this.createTopicLabel
      category=this.category
    }}
  />

  {{#if this.category}}
    {{#unless this.tag}}
      {{! don't show category notification menu on tag pages }}
      {{#if this.showCategoryNotifications}}
        <CategoryNotificationsButton
          @value={{this.categoryNotificationLevel}}
          @category={{this.category}}
          @onChange={{action "changeCategoryNotificationLevel"}}
        />
      {{/if}}
    {{/unless}}
  {{/if}}

  {{#if this.tag}}
    {{#unless this.category}}
      {{! don't show tag notification menu on category pages }}
      {{#if this.showTagNotifications}}
        <TagNotificationsButton
          @onChange={{this.changeTagNotificationLevel}}
          @value={{this.tagNotification.notification_level}}
        />
      {{/if}}
    {{/unless}}
  {{/if}}

</div>