{{! template-lint-disable no-invalid-interactive }}
<div
  {{on "click" this.close}}
  class={{concat-class "d-popover" @class (if this.isExpanded "is-expanded")}}
  {{did-insert this.setupTippy}}
  {{will-destroy this.teardownTippy}}
  {{did-update this.computeIsExpanded @isExpanded}}
>
  {{yield (hash isExpanded=this.isExpanded)}}
</div>