<div class={{concat-class "d-toggle-switch" (if @isLoading "is-loading")}}>
  <label class="d-toggle-switch--label">
    {{! template-lint-disable no-redundant-role }}
    <button
      class="d-toggle-switch__checkbox"
      type="button"
      role="switch"
      aria-checked={{this.checked}}
      disabled={{@disabled}}
      ...attributes
    ></button>
    {{! template-lint-enable no-redundant-role }}

    <span class="d-toggle-switch__checkbox-slider">
      <div class="d-toggle-switch__checkbox-loading">
        <span class="d-toggle-switch__checkbox-loading-dot"></span>
        <span class="d-toggle-switch__checkbox-loading-dot"></span>
        <span class="d-toggle-switch__checkbox-loading-dot"></span>
      </div>
      {{#if @state}}
        {{d-icon "check"}}
      {{/if}}
    </span>
  </label>

  <span class="d-toggle-switch__checkbox-label">
    {{this.computedLabel}}
  </span>
</div>