<Input
  @type={{this.inputType}}
  class="date-picker"
  placeholder={{this.placeholder}}
  @value={{readonly this.value}}
  id={{this.inputId}}
  {{on "input" (action "onChangeDate")}}
/>

{{#unless this.useGlobalPickerContainer}}
  <div class="picker-container"></div>
{{/unless}}