<ResponsiveTable>
  <:header>
    <TableHeaderToggle
      @field="username"
      @order={{this.order}}
      @asc={{this.asc}}
    />
    {{#each this.columns as |column|}}
      <TableHeaderToggle
        @onToggle={{this.updateOrder}}
        @field={{column.name}}
        @icon={{column.icon}}
        @order={{this.order}}
        @asc={{this.asc}}
        @automatic={{directory-column-is-automatic column=column}}
        @translated={{column.user_field_id}}
        @onActiveRender={{this.setActiveHeader}}
      />
    {{/each}}

    {{#if this.showTimeRead}}
      <div class="directory-table__column-header">
        <div class="header-contents">
          {{i18n "directory.time_read"}}
        </div>
      </div>
    {{/if}}
  </:header>
  <:body>
    {{#each this.items as |item|}}
      <DirectoryItem
        @item={{item}}
        @columns={{this.columns}}
        @showTimeRead={{this.showTimeRead}}
      />
    {{/each}}
  </:body>
</ResponsiveTable>