<td><UserInfo @user={{this.item.user}} /></td>
{{#each this.columns as |column|}}
  <td>
    {{#if (directory-column-is-user-field column=column)}}
      {{directory-item-user-field-value item=this.item column=column}}
    {{else}}
      {{directory-item-value item=this.item column=column}}
    {{/if}}
  </td>
{{/each}}

{{#if this.showTimeRead}}
  <td><span class="time-read">{{format-duration
        this.item.time_read
      }}</span></td>
{{/if}}