{{#if this.visible}}
  <div class="row">
    <div id="banner" class={{this.overlay}}>
      <div class="floated-buttons">
        {{#if this.currentUser.staff}}
          <a href={{this.banner.url}} class="btn btn-flat edit-banner">
            {{d-icon "pencil-alt"}}
            {{#unless this.site.mobileView}}
              {{html-safe (i18n "banner.edit")}}
            {{/unless}}
          </a>
        {{/if}}

        <DButton
          @icon="times"
          @action={{action "dismiss"}}
          @class="btn btn-flat close"
          @title="banner.close"
        />
      </div>
      <div id="banner-content">
        {{html-safe this.content}}
      </div>
    </div>
  </div>
{{/if}}