{{#if this.visible}}
  <div class="row">
    <div id="banner" class={{this.overlay}}>
      <div class="floated-buttons">
        {{#if this.currentUser.staff}}
          <a href={{this.banner.url}} class="btn btn-transparent edit-banner">
            {{d-icon "pencil"}}
            {{#if this.site.desktopView}}
              {{html-safe (i18n "banner.edit")}}
            {{/if}}
          </a>
        {{/if}}

        <DButton
          @icon="xmark"
          @action={{this.dismiss}}
          @title="banner.close"
          class="btn-transparent close"
        />
      </div>
      <div id="banner-content">
        {{html-safe this.content}}
      </div>
    </div>
  </div>
{{/if}}