<section class="field">
  {{#if this.category.is_special}}
    {{#if this.category.isUncategorizedCategory}}
      <p class="warning">{{i18n "category.uncategorized_security_warning"}}</p>
    {{else}}
      <p class="warning">{{i18n "category.special_warning"}}</p>
    {{/if}}
  {{/if}}

  {{#unless this.category.is_special}}
    <table class="category-permissions-table">
      <thead>
        <tr class="permission-row row-header">
          <th class="group-name">{{i18n "category.permissions.group"}}</th>
            <th class="cell">{{i18n "category.permissions.see"}}</th>
            <th class="cell">{{i18n "category.permissions.reply"}}</th>
            <th class="cell">{{i18n "category.permissions.create"}}</th>
            <th class="separator"></th>
            {{#if this.siteSettings.enable_category_group_moderation}}
              <th class="cell">{{i18n "category.permissions.moderate"}}</th>
              <th class="separator"></th>
            {{/if}}
            <th class="cell"></th>
        </tr>
      </thead>
      <tbody>
        {{#each this.category.permissions as |p|}}
          <CategoryPermissionRow
            @group_name={{p.group_name}}
            @type={{p.permission_type}}
            @category={{this.category}}
            @everyonePermission={{this.everyonePermission}}
          />
        {{/each}}
      </tbody>

      <tfoot>
        {{#unless this.category.permissions}}
          <tr>
            <td colspan="8" class="permission-row row-empty">
              {{i18n "category.permissions.no_groups_selected"}}
            </td>
          </tr>
        {{/unless}}

        {{#if this.category.availableGroups}}
        <tr>
          <td class="add-group">
            <span class="group-name">
              <ComboBox
                @content={{this.category.availableGroups}}
                @onChange={{action "onSelectGroup"}}
                @value={{null}}
                @valueProperty={{null}}
                @nameProperty={{null}}
                @options={{hash none="category.security_add_group"}}
                class="available-groups"
              />
            </span>
          </td>
        </tr>
        {{/if}}
      </tfoot>
    </table>

    {{#if this.siteSettings.enable_category_group_moderation}}
      <p class="warning">{{i18n "category.reviewable_by_group"}}</p>
    {{/if}}

    {{#if this.everyoneGrantedFull}}
      <p class="warning">{{i18n "category.permissions.everyone_has_access"}}</p>
    {{/if}}
  {{/unless}}
</section>

<section>
  <PluginOutlet
    @name="category-custom-security"
    @outletArgs={{hash category=this.category}}
  />
</section>
