<section class="field category-logo">
  <label>{{i18n "category.logo"}}</label>
  <UppyImageUploader
    @imageUrl={{this.logoImageUrl}}
    @onUploadDone={{action "logoUploadDone"}}
    @onUploadDeleted={{action "logoUploadDeleted"}}
    @type="category_logo"
    @class="no-repeat contain-image"
    @id="category-logo-uploader"
  />
</section>

<section class="field category-logo">
  <label>{{i18n "category.logo_dark"}}</label>
  <UppyImageUploader
    @imageUrl={{this.logoImageDarkUrl}}
    @onUploadDone={{action "logoDarkUploadDone"}}
    @onUploadDeleted={{action "logoDarkUploadDeleted"}}
    @type="category_logo_dark"
    @class="no-repeat contain-image"
    @id="category-dark-logo-uploader"
  />
</section>

<section class="field category-background-image">
  <label>{{i18n "category.background_image"}}</label>
  <UppyImageUploader
    @imageUrl={{this.backgroundImageUrl}}
    @onUploadDone={{action "backgroundUploadDone"}}
    @onUploadDeleted={{action "backgroundUploadDeleted"}}
    @type="category_background"
    @id="category-background-uploader"
  />
</section>