<form>
  <div class="control-group">
    <DSelect
      @value={{this.statusType}}
      class="timer-type"
      @onChange={{@onChangeStatusType}}
      as |select|
    >
      {{#each @timerTypes as |timer|}}
        <select.Option @value={{timer.id}}>{{timer.name}}</select.Option>
      {{/each}}
    </DSelect>
  </div>

  {{#if this.publishToCategory}}
    <div class="control-group">
      <label class="control-label">
        {{i18n "topic.topic_status_update.publish_to"}}
      </label>
      <CategoryChooser
        @value={{@topicTimer.category_id}}
        @onChange={{fn (mut @topicTimer.category_id)}}
        @options={{hash excludeCategoryId=this.excludeCategoryId}}
      />
    </div>
  {{/if}}

  {{#if this.showFutureDateInput}}
    <label class="control-label">
      {{i18n "topic.topic_status_update.when"}}
    </label>
    <TimeShortcutPicker
      @timeShortcuts={{this.timeOptions}}
      @prefilledDatetime={{@topicTimer.execute_at}}
      @onTimeSelected={{this.onTimeSelected}}
      @hiddenOptions={{this.hiddenTimeShortcutOptions}}
      @_itsatrap={{this._itsatrap}}
    />
  {{/if}}

  {{#if this.useDuration}}
    <div class="controls">
      <label class="control-label">
        {{i18n "topic.topic_status_update.duration"}}
      </label>
      <RelativeTimePicker
        @onChange={{this.changeDuration}}
        @durationMinutes={{@topicTimer.duration_minutes}}
      />
    </div>
  {{/if}}

  {{#if this.willCloseImmediately}}
    <div class="warning">
      {{d-icon "triangle-exclamation"}}
      {{this.willCloseI18n}}
    </div>
  {{/if}}

  {{#if this.showTopicTimerInfo}}
    <div class="alert alert-info modal-topic-timer-info">
      <TopicTimerInfo
        @statusType={{this.statusType}}
        @executeAt={{this.executeAt}}
        @basedOnLastPost={{@topicTimer.based_on_last_post}}
        @durationMinutes={{@topicTimer.duration_minutes}}
        @categoryId={{@topicTimer.category_id}}
      />
    </div>
  {{/if}}
</form>
