{{#if this.siteSettings.experimental_form_templates}}
  {{#if this.showFormTemplate}}
    <div class="control-group">
      <MultiSelect
        @class="select-category-template"
        @content={{this.templates}}
        @value={{this.category.form_template_ids}}
        @onChange={{action (mut this.category.form_template_ids)}}
        @options={{hash
          none="admin.form_templates.edit_category.select_template"
        }}
      />
    </div>

    {{#each this.selectedFormTemplates as |t|}}
      <div class="selected-category-template">
        <p>{{t.name}}</p>
        <pre>
          <code class="yaml hljs language-yaml">{{t.template}}</code>
        </pre>
        {{! TODO(@keegan): Fix <HiglightedCode> only rendering once }}
        {{!-- <HighlightedCode @lang="yaml" @code={{this.templateContent}} /> --}}
      </div>
    {{/each}}

  {{else}}
    <DEditor
      @value={{this.category.topic_template}}
      @showLink={{this.showInsertLinkButton}}
    />
  {{/if}}

  <div class="edit-category-tab-topic-template__footer">
    <DButton
      @class="btn-flat btn-text btn-toggle-template-type"
      @label={{this.templateTypeToggleLabel}}
      @action={{this.toggleTemplateType}}
    />
  </div>
{{else}}
  <DEditor
    @value={{this.category.topic_template}}
    @showLink={{this.showInsertLinkButton}}
  />
{{/if}}