{{#if this.category.isUncategorizedCategory}}
  <p class="warning">
    {{d-icon "triangle-exclamation"}}
    {{html-safe
      (i18n
        "category.uncategorized_general_warning"
        settingLink=this.uncategorizedSiteSettingLink
        customizeLink=this.customizeTextContentLink
      )
    }}
  </p>
{{/if}}

<form>
  <CategoryNameFields @category={{this.category}} @tagName="" />

  {{#if this.canSelectParentCategory}}
    <section class="field parent-category">
      <label>{{i18n "category.parent"}}</label>
      <CategoryChooser
        @value={{this.category.parent_category_id}}
        @allowSubCategories={{true}}
        @allowRestrictedCategories={{true}}
        @onChange={{fn (mut this.category.parent_category_id)}}
        @options={{hash
          allowUncategorized=false
          excludeCategoryId=this.category.id
          autoInsertNoneItem=true
          none=true
        }}
      />
    </section>
  {{/if}}

  {{#if this.subCategories}}
    <section class="field subcategories">
      <label>{{i18n "categories.subcategories"}}</label>
      {{#each this.subCategories as |s|}}
        {{category-badge s hideParent="true"}}
      {{/each}}
    </section>
  {{/if}}

  {{#if this.showDescription}}
    <section class="field description">
      <label>{{i18n "category.description"}}</label>
      {{#if this.category.description}}
        {{html-safe this.category.description}}
      {{else}}
        {{i18n "category.no_description"}}
      {{/if}}
      {{#if this.category.topic_url}}
        <br />
        <DButton
          @action={{this.showCategoryTopic}}
          @icon="pencil"
          @label="category.change_in_category_topic"
          class="btn-default edit-category-description"
        />
      {{/if}}
    </section>
  {{/if}}

  <section class="field category-colors">
    <label>{{i18n "category.badge_colors"}}</label>
    <div class="category-color-editor">
      {{html-safe this.categoryBadgePreview}}

      <section class="field">
        <span id="background-color-label" class="color-title">{{i18n
            "category.background_color"
          }}:</span>
        <div class="colorpicker-wrapper">
          <ColorInput
            @hexValue={{this.category.color}}
            @valid={{this.category.colorValid}}
            @ariaLabelledby="background-color-label"
          />
          <ColorPicker
            @colors={{this.backgroundColors}}
            @usedColors={{this.usedBackgroundColors}}
            @value={{this.category.color}}
            @ariaLabel={{i18n "category.predefined_colors"}}
          />
        </div>
      </section>

      <section class="field">
        <span id="foreground-color-label" class="color-title">{{i18n
            "category.foreground_color"
          }}:</span>
        <div class="colorpicker-wrapper edit-text-color">
          <ColorInput
            @hexValue={{this.category.text_color}}
            @ariaLabelledby="foreground-color-label"
          />
          <ColorPicker
            @colors={{this.foregroundColors}}
            @value={{this.category.text_color}}
            @id="edit-text-color"
            @ariaLabel={{i18n "category.predefined_colors"}}
          />
        </div>
      </section>
    </div>
  </section>
</form>