{{raw "topic-status" topic=this.topic}}
<a href={{this.topic.lastUnreadUrl}} class="title">{{html-safe
    this.topic.fancyTitle
  }}</a>
<TopicPostBadges
  @unreadPosts={{this.topic.unread_posts}}
  @unseen={{this.topic.unseen}}
  @url={{this.topic.lastUnreadUrl}}
/>

<a href={{this.topic.lastPostUrl}} class="last-posted-at">{{format-age
    this.topic.last_posted_at
  }}</a>