<div class={{this.wrapperClassNames}}>
  {{#if this.isNotifyUser}}
    <h3>{{this.formattedName}}</h3>
    <div class="controls">
      <label class="radio checkbox-label">
        <input
          id="radio_{{this.flag.name_key}}"
          {{on "click" (fn this.changePostActionType this.flag)}}
          type="radio"
          name="post_action_type_index"
        />

        <div class="flag-action-type-details">
          <span class="description">{{html-safe this.flag.description}}</span>
          {{#if this.showMessageInput}}
            <Textarea
              name="message"
              class="flag-message"
              placeholder={{this.customPlaceholder}}
              aria-label={{i18n "flagging.notify_user_textarea_label"}}
              @value={{this.message}}
            />
            <div
              class={{concat-class
                "custom-message-length"
                this.customMessageLengthClasses
              }}
            >
              {{this.customMessageLength}}
            </div>
          {{/if}}
        </div>
      </label>
    </div>
    {{#if this.staffFlagsAvailable}}
      <hr />
      <h3>{{i18n "flagging.notify_staff"}}</h3>
    {{/if}}
  {{else}}
    <div class="controls {{this.flag.name_key}}">
      <label class="radio checkbox-label">
        <input
          id="radio_{{this.flag.name_key}}"
          {{on "click" (fn this.changePostActionType this.flag)}}
          checked={{this.selected}}
          type="radio"
          name="post_action_type_index"
        />
        <div class="flag-action-type-details">
          <strong>{{this.formattedName}}</strong>
          {{#if this.showDescription}}
            <div class="description">{{html-safe this.description}}</div>
          {{/if}}
          {{#if this.showMessageInput}}
            <Textarea
              name="message"
              class="flag-message"
              placeholder={{this.customPlaceholder}}
              aria-label={{i18n "flagging.notify_moderators_textarea_label"}}
              @value={{this.message}}
            />
            <div
              class={{concat-class
                "custom-message-length"
                this.customMessageLengthClasses
              }}
            >
              {{this.customMessageLength}}
            </div>
          {{/if}}
        </div>
      </label>
      {{#if this.showConfirmation}}
        <label class="checkbox-label flag-confirmation">
          <Input
            name="confirmation"
            @type="checkbox"
            @checked={{this.isConfirmed}}
          />
          <span>{{i18n "flagging.confirmation_illegal"}}</span>
        </label>
      {{/if}}
    </div>
  {{/if}}
</div>