<div class="future-date-input">
  {{#unless this.noRelativeOptions}}
    <div class="control-group">
      <label class={{this.labelClasses}}>
        {{#if this.displayLabelIcon}}{{d-icon
            this.displayLabelIcon
          }}{{/if}}{{this.displayLabel}}
      </label>
      <FutureDateInputSelector
        @value={{readonly this.selection}}
        @content={{this.shortcuts}}
        @clearable={{this.clearable}}
        @onChangeInput={{this.onChangeInput}}
        @onChange={{fn (mut this.selection)}}
        @options={{hash none="time_shortcut.select_timeframe"}}
      />
    </div>
  {{/unless}}

  {{#if this.displayDateAndTimePicker}}
    <div class="control-group future-date-input-date-picker">
      {{d-icon "calendar-days"}}
      <DatePickerFuture
        @value={{this._date}}
        @defaultDate={{this._date}}
        @onSelect={{action "onChangeDate"}}
      />
    </div>

    <div class="control-group future-date-input-time-picker">
      {{d-icon "far-clock"}}
      <Input
        placeholder="--:--"
        @type="time"
        class="time-input"
        @value={{this._time}}
        disabled={{this.timeInputDisabled}}
        {{on "input" (with-event-value this.onChangeTime)}}
      />
    </div>
  {{/if}}
</div>