<div class={{concat "timeline-container " this.class}}>
  <div class="topic-timeline">
    <TopicTimeline::Container
      @model={{@model}}
      @enteredIndex={{this.enteredIndex}}
      @jumpTop={{@jumpTop}}
      @jumpBottom={{@jumpBottom}}
      @jumpEnd={{@jumpEnd}}
      @jumpToIndex={{@jumpToIndex}}
      @fullscreen={{@fullscreen}}
      @mobileView={{@mobileView}}
      @currentUser={{this.currentUser}}
      @toggleMultiSelect={{@toggleMultiSelect}}
      @showTopicSlowModeUpdate={{@showTopicSlowModeUpdate}}
      @deleteTopic={{@deleteTopic}}
      @recoverTopic={{@recoverTopic}}
      @toggleClosed={{@toggleClosed}}
      @toggleArchived={{@toggleArchived}}
      @toggleVisibility={{@toggleVisibility}}
      @showTopicTimerModal={{@showTopicTimerModal}}
      @showFeatureTopic={{@showFeatureTopic}}
      @showChangeTimestamp={{@showChangeTimestamp}}
      @resetBumpDate={{@resetBumpDate}}
      @convertToPublicTopic={{@convertToPublicTopic}}
      @convertToPrivateMessage={{@convertToPrivateMessage}}
    />

    <div class="timeline-footer-controls">
      {{#if this.displaySummary}}
        <button type="button" class="show-summary btn-small" label={{i18n "summary.short_label"}} title={{i18n "summary.short_title"}} {{on "click" @showSummary}}>
          {{d-icon "layer-group"}}
        </button>
      {{/if}}

      {{#if (and this.currentUser (not @fullscreen))}}
        {{#if this.canCreatePost}}
          <button type="button" class="btn btn-default create reply-to-post no-text btn-icon" title={{i18n "topic.reply.help"}} {{on "click" (fn @replyToPost null)}}>
            {{d-icon "reply"}}
          </button>
        {{/if}}
      {{/if}}

      {{#if @fullscreen}}
        <button
          type="button"
          {{!-- we need to keep this a widget-button to not close the modal when opening form --}}
          class="widget-button btn btn-text jump-to-post"
          title={{i18n "topic.progress.jump_prompt_long"}}
          {{on "click" @jumpToPostPrompt}}
         >
          <span class="d-button-label">
            {{i18n "topic.progress.jump_prompt"}}
          </span>
        </button>
      {{/if}}

      {{#if this.currentUser}}
        <TopicNotificationsButton
          @notificationLevel={{@model.details.notification_level}}
          @topic={{@model}}
          @showFullTitle={{false}}
          @appendReason={{false}}
          @placement={{"bottom-end"}}
          @showCaret={{false}}
        />
        {{#if @mobileView}}
          <TopicAdminMenuButton @topic={{@model}} @addKeyboardTargetClass={{true}} @openUpwards={{true}} />
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>
