<div
  class={{concat "timeline-container " this.classes}}
  {{did-insert this.addShowClass}}
>
  <div class="topic-timeline">
    <TopicTimeline::Container
      @model={{@model}}
      @enteredIndex={{this.enteredIndex}}
      @jumpTop={{@jumpTop}}
      @jumpBottom={{@jumpBottom}}
      @jumpEnd={{@jumpEnd}}
      @jumpToIndex={{@jumpToIndex}}
      @jumpToPostPrompt={{@jumpToPostPrompt}}
      @fullscreen={{@fullscreen}}
      @mobileView={{@mobileView}}
      @currentUser={{this.currentUser}}
      @toggleMultiSelect={{@toggleMultiSelect}}
      @showTopicSlowModeUpdate={{@showTopicSlowModeUpdate}}
      @deleteTopic={{@deleteTopic}}
      @recoverTopic={{@recoverTopic}}
      @toggleClosed={{@toggleClosed}}
      @toggleArchived={{@toggleArchived}}
      @toggleVisibility={{@toggleVisibility}}
      @showTopicTimerModal={{@showTopicTimerModal}}
      @showFeatureTopic={{@showFeatureTopic}}
      @showChangeTimestamp={{@showChangeTimestamp}}
      @resetBumpDate={{@resetBumpDate}}
      @convertToPublicTopic={{@convertToPublicTopic}}
      @convertToPrivateMessage={{@convertToPrivateMessage}}
      @replyToPost={{@replyToPost}}
    />
  </div>
</div>