<div class="global-notice">
  {{#if this.visible}}
    {{#each this.notices as |notice|}}
      <div class="row">
        <div
          id="global-notice-{{notice.id}}"
          class="alert alert-{{notice.options.level}} {{notice.id}}"
        >
          {{#if notice.options.html}}
            {{html-safe notice.options.html}}
          {{/if}}

          <span class="text">{{html-safe notice.text}}</span>

          {{#if notice.options.dismissable}}
            <DButton
              @icon="times"
              @action={{fn this.dismissNotice notice}}
              class="btn-flat close"
            />
          {{/if}}
        </div>
      </div>
    {{/each}}
  {{/if}}
</div>