<form id="login-form" method="post">
  <div id="credentials" class={{this.credentialsClass}}>
    <div class="input-group" {{did-insert this.passkeyConditionalLogin}}>
      <Input
        {{on "focusin" this.scrollInputIntoView}}
        @value={{@loginName}}
        @type="email"
        id="login-account-name"
        class={{value-entered @loginName}}
        autocomplete={{if @canUsePasskeys "username webauthn" "username"}}
        autocorrect="off"
        autocapitalize="off"
        disabled={{@showSecondFactor}}
        autofocus="autofocus"
        tabindex="1"
        {{on "input" @loginNameChanged}}
        {{on "keydown" this.loginOnEnter}}
      />
      <label class="alt-placeholder" for="login-account-name">
        {{i18n "login.email_placeholder"}}
      </label>
      {{#if @canLoginLocalWithEmail}}
        <a
          href
          class={{if @loginName "" "no-login-filled"}}
          tabindex="3"
          id="email-login-link"
          {{on "click" this.emailLogin}}
        >
          {{i18n "email_login.login_link"}}
        </a>
      {{/if}}
    </div>
    <div class="input-group">
      <PasswordField
        {{on "focusin" this.scrollInputIntoView}}
        {{on "keydown" this.loginOnEnter}}
        @value={{@loginPassword}}
        @capsLockOn={{this.capsLockOn}}
        type={{if this.maskPassword "password" "text"}}
        disabled={{this.disableLoginFields}}
        autocomplete="current-password"
        maxlength="200"
        tabindex="1"
        id="login-account-password"
        class={{value-entered @loginPassword}}
      />
      <label class="alt-placeholder" for="login-account-password">
        {{i18n "login.password"}}
      </label>
      <div class="login__password-links">
        <a
          href
          id="forgot-password-link"
          tabindex="2"
          {{on "click" this.handleForgotPassword}}
        >
          {{i18n "forgot_password.action"}}
        </a>
        {{#if @loginPassword}}
          <TogglePasswordMask
            @maskPassword={{this.maskPassword}}
            @togglePasswordMask={{this.togglePasswordMask}}
            tabindex="3"
          />
        {{/if}}
      </div>
      <div class="caps-lock-warning {{unless this.capsLockOn 'hidden'}}">
        {{d-icon "triangle-exclamation"}}
        {{i18n "login.caps_lock_warning"}}</div>
    </div>
  </div>
  {{#if this.showSecondFactorForm}}
    <SecondFactorForm
      @secondFactorMethod={{@secondFactorMethod}}
      @secondFactorToken={{@secondFactorToken}}
      @backupEnabled={{@backupEnabled}}
      @totpEnabled={{@totpEnabled}}
      @isLogin={{true}}
    >
      {{#if @showSecurityKey}}
        <SecurityKeyForm
          @setShowSecurityKey={{fn (mut @showSecurityKey)}}
          @setShowSecondFactor={{fn (mut @showSecondFactor)}}
          @setSecondFactorMethod={{fn (mut @secondFactorMethod)}}
          @backupEnabled={{@backupEnabled}}
          @totpEnabled={{@totpEnabled}}
          @otherMethodAllowed={{@otherMethodAllowed}}
          @action={{this.authenticateSecurityKey}}
        />
      {{else}}
        <SecondFactorInput
          {{on "keydown" this.loginOnEnter}}
          {{on "input" (with-event-value (fn (mut @secondFactorToken)))}}
          {{on "focusin" this.scrollInputIntoView}}
          @secondFactorMethod={{@secondFactorMethod}}
          value={{@secondFactorToken}}
          id="login-second-factor"
        />
      {{/if}}
    </SecondFactorForm>
  {{/if}}
</form>