{{#each this.buttons as |b|}}
  <button
    type="button"
    class="btn btn-social {{b.name}}"
    {{on "click" (action this.externalLogin b)}}
    aria-label={{b.screenReaderTitle}}
    tabindex="3"
  >
    {{#if b.isGoogle}}
      <GoogleIcon />
    {{else if b.icon}}
      {{d-icon b.icon}}
    {{else}}
      {{d-icon "sign-in-alt"}}
    {{/if}}
    {{b.title}}
  </button>
{{/each}}
<PluginOutlet @name="after-login-buttons" />