<div class="modal-container" {{did-insert this.modal.setContainerElement}}>
</div>

{{#if this.modal.activeModal}}
  {{#each (array this.modal.activeModal) as |activeModal|}}
    {{! #each ensures that the activeModal component/model are updated atomically }}
    <activeModal.component
      @model={{activeModal.opts.model}}
      @closeModal={{this.closeModal}}
    />
  {{/each}}
{{/if}}

{{! Legacy modals depend on this wrapper being in the DOM at all times. Eventually this will be dropped.
For now, we mitigate the potential impact on things like tests by removing the `modal` and `d-modal` classes when inactive }}
<DModalLegacy
  @modalClass={{if
    this.modal.isLegacy
    (concat-class
      "modal"
      "d-modal"
      this.modal.modalClass
      (if this.modal.opts.panels "has-tabs")
    )
  }}
  @title={{this.modal.title}}
  @titleAriaElementId={{this.modal.opts.titleAriaElementId}}
  @panels={{this.modal.opts.panels}}
  @selectedPanel={{this.modal.selectedPanel}}
  @onSelectPanel={{this.modal.onSelectPanel}}
  @hidden={{this.modal.hidden}}
  @errors={{this.modal.errors}}
  @closeModal={{this.closeModal}}
>
  {{outlet "modalBody"}}
</DModalLegacy>