<div class="more-topics__container">
  {{#unless this.singleList}}
    <div class="row">
      <ul class="nav nav-pills">
        {{#each this.availableTabs as |tab|}}
          <li>
            <DButton
              @translatedTitle={{tab.name}}
              @translatedLabel={{tab.name}}
              @class={{if (eq tab.id this.selectedTab) "active"}}
              @action={{action "rememberTopicListPreference" tab.id}}
              @icon={{tab.icon}}
            />
          </li>
        {{/each}}
      </ul>
    </div>
  {{/unless}}

  <div class="more-topics__lists {{if this.singleList 'single-list'}}">
    {{#if @topic.relatedMessages.length}}
      <RelatedMessages @topic={{@topic}} />
    {{/if}}

    {{#if @topic.suggestedTopics.length}}
      <SuggestedTopics @topic={{@topic}} />

      <span>
        <PluginOutlet
          @name="below-suggested-topics"
          @connectorTagName="div"
          @outletArgs={{hash topic=@topic}}
        />
      </span>
    {{/if}}

    <PluginOutlet
      @name="topic-more-content"
      @outletArgs={{hash model=@topic}}
    />

  </div>

  {{#if @topic.suggestedTopics.length}}
    <h3 class="more-topics__browse-more">
      {{html-safe this.browseMoreMessage}}
    </h3>
  {{/if}}
</div>