{{#if this.site.mobileView}}
  <li class="navigation-toggle">
    <a href {{on "click" this.toggleDrop}} class="toggle-link">
      <span
        class="toggle-link__text"
      >{{this.selectedNavItem.displayName}}</span>
      {{d-icon "discourse-chevron-expand"}}
    </a>
  </li>
  {{#if this.expanded}}
    <ul class="drop">
      {{#each this.navItems as |navItem|}}
        <NavigationItem
          @content={{navItem}}
          @filterMode={{this.filterMode}}
          @category={{this.category}}
          class={{concat "nav-item_" navItem.name}}
        />
      {{/each}}
      <PluginOutlet
        @name="extra-nav-item"
        @connectorTagName="li"
        @outletArgs={{hash
          category=this.category
          tag=this.tag
          filterMode=this.filterMode
        }}
      />
    </ul>
  {{/if}}

  <PluginOutlet
    @name="inline-extra-nav-item"
    @connectorTagName="li"
    @outletArgs={{hash category=this.category filterMode=this.filterMode}}
  />
{{else}}
  {{#each this.navItems as |navItem|}}
    <NavigationItem
      @content={{navItem}}
      @filterMode={{this.filterMode}}
      @category={{this.category}}
      class={{concat "nav-item_" navItem.name}}
    />
  {{/each}}
  <PluginOutlet
    @name="extra-nav-item"
    @connectorTagName="li"
    @outletArgs={{hash
      category=this.category
      tag=this.tag
      filterMode=this.filterMode
    }}
  />
{{/if}}