{{#if this.shouldShow}}
  {{#if this.href}}
    <a
      href={{this.href}}
      title={{i18n this.title}}
      aria-label={{i18n this.ariaLabel}}
    >
      <span class="private-message-glyph-wrapper">
        {{d-icon "envelope" class="private-message-glyph"}}
      </span>
    </a>
  {{~else}}
    <span class="private-message-glyph-wrapper">
      {{d-icon "envelope" class="private-message-glyph"}}
    </span>
  {{~/if}}
{{/if}}