<div class="buttons">
  {{#if this.embedQuoteButton}}
    <DButton
      @class="btn-flat insert-quote"
      @action={{this.insertQuote}}
      @icon="quote-left"
      @label="post.quote_reply"
      @title="post.quote_reply_shortcut"
    />
  {{/if}}

  {{#if this.siteSettings.enable_fast_edit}}
    {{#if this._canEditPost}}
      <DButton
        @icon="pencil-alt"
        @action={{this._toggleFastEditForm}}
        @label="post.quote_edit"
        @class="btn-flat quote-edit-label"
        @title="post.quote_edit_shortcut"
      />
    {{/if}}
  {{/if}}

  {{#if this.quoteSharingEnabled}}
    <span class="quote-sharing">
      {{#if this.quoteSharingShowLabel}}
        <DButton
          @icon="share"
          @label="post.quote_share"
          @class="btn-flat quote-share-label"
        />
      {{/if}}

      <span class="quote-share-buttons">
        {{#each this.quoteSharingSources as |source|}}
          <DButton
            @class="btn-flat"
            @action={{action "share" source}}
            @translatedTitle={{source.title}}
            @icon={{source.icon}}
          />
        {{/each}}
        <PluginOutlet
          @name="quote-share-buttons-after"
          @connectorTagName="div"
        />
      </span>
    </span>
  {{/if}}
</div>

<div class="extra">
  {{#if this._displayFastEditInput}}
    <FastEdit
      @initialValue={{this._fastEditInitialSelection}}
      @post={{this.post}}
      @afterSave={{this._hideButton}}
    />
  {{/if}}

  <PluginOutlet @name="quote-button-after" @connectorTagName="div" />
</div>