<div
  id="related-messages"
  class="more-topics__list {{if this.hidden 'hidden'}}"
  role="complementary"
  aria-labelledby="related-messages-title"
  {{did-insert this.registerList}}
  {{will-destroy this.removeList}}
>
  <h3 id="related-messages-title" class="more-topics__list-title">
    {{i18n "related_messages.title"}}
  </h3>

  <div class="topics">
    <BasicTopicList
      @hideCategory="true"
      @showPosters="true"
      @topics={{@topic.relatedMessages}}
    />
  </div>

  {{#if this.targetUser}}
    <h3 class="see-all-pms-message">
      {{html-safe
        (i18n
          "related_messages.see_all"
          path=this.searchLink
          username=this.targetUser.username
        )
      }}
    </h3>
  {{/if}}
</div>