<div class="directory-table-container">
  <div class="directory-table-top-scroll" {{on "scroll" this.onTopScroll}}>
    <div class="directory-table-top-scroll-fake-content"></div>
  </div>
  <div
    class={{concat-class "directory-table" @className}}
    role="table"
    aria-label={{@ariaLabel}}
    style={{@style}}
    {{did-insert this.checkScroll}}
    {{did-update this.checkScroll}}
    {{on-resize this.checkScroll}}
    {{on "scroll" this.onBottomScroll}}
  >
    <div class="directory-table__header">
      {{yield to="header"}}
    </div>
    <div class="directory-table__body">
      {{yield to="body"}}
    </div>
  </div>
</div>