{{#if this.enabled}}
  <div class="reviewable-claimed-topic">
    {{#if this.claimedBy}}
      <div class="claimed-by">
        {{avatar this.claimedBy imageSize="small"}}
        <span class="claimed-username">{{this.claimedBy.username}}</span>
      </div>
      <DButton
        @icon="times"
        @action={{action "unclaim"}}
        @disabled={{this.unassigning}}
        @title="review.unclaim.help"
        class="btn-small unclaim"
      />
    {{else}}
      <DButton
        @icon="user-plus"
        @title="review.claim.title"
        @action={{action "claim"}}
        class="btn-small claim"
      />
    {{/if}}
  </div>
{{/if}}