<div class="post-topic">
  {{#if this.reviewable.topic}}
    <TopicStatus
      @topic={{this.reviewable.topic}}
      @showPrivateMessageIcon={{true}}
    />
    <a href={{this.reviewable.target_url}} class="title-text">{{html-safe
        this.reviewable.topic.fancyTitle
      }}</a>
    {{category-badge this.reviewable.category}}
    <ReviewableTags @tags={{this.reviewable.topic_tags}} @tagName="" />
  {{else if (has-block)}}
    {{yield}}
  {{else}}
    <span class="title-text">
      {{i18n "review.topics.deleted"}}
      <LinkTo
        @route="topic"
        @models={{array "-" this.reviewable.removed_topic_id}}
      >{{i18n "review.topics.original"}}</LinkTo>
    </span>
  {{/if}}
</div>