<div class="names">
  <span class="username">
    {{#if this.user}}
      <UserLink @user={{this.user}}>{{this.user.username}}</UserLink>
      {{#if this.user.silenced}}
        {{d-icon "ban" title="user.silenced_tooltip"}}
      {{/if}}
    {{else}}
      {{i18n "review.deleted_user"}}
    {{/if}}
  </span>
  <PluginOutlet
    @name="after-reviewable-post-user"
    @connectorTagName="div"
    @outletArgs={{hash user=this.user}}
  />
</div>