<div class="flagged-post-header">
  <ReviewableTopicLink @reviewable={{@reviewable}} @tagName="" />
  <ReviewablePostEdits @reviewable={{@reviewable}} @tagName="" />
</div>

<div class="post-contents-wrapper">
  <ReviewableCreatedBy @user={{@reviewable.target_created_by}} @tagName="" />
  <div class="post-contents">
    <ReviewablePostHeader
      @reviewable={{@reviewable}}
      @createdBy={{@reviewable.target_created_by}}
      @tagName=""
    />
    <div
      class="post-body {{if this.isCollapsed 'is-collapsed'}}"
      {{did-insert this.calculatePostBodySize @reviewable}}
    >
      {{#if @reviewable.blank_post}}
        <p>{{i18n "review.deleted_post"}}</p>
      {{else}}
        {{html-safe @reviewable.cooked}}
      {{/if}}
    </div>

    {{#if this.isLongPost}}
      <DButton
        @class="btn-default btn-icon post-body__toggle-btn"
        @action={{this.toggleContent}}
        @label={{this.collapseButtonProps.label}}
        @icon={{this.collapseButtonProps.icon}}
      />
    {{/if}}
    <span>
      <PluginOutlet
        @name="after-reviewable-flagged-post-body"
        @connectorTagName="div"
        @outletArgs={{hash model=@reviewable}}
      />
    </span>
    {{yield}}
  </div>
</div>