<div
  data-reviewable-id={{this.reviewable.id}}
  class="reviewable-item {{this.customClasses}}"
>
  <div class="reviewable-meta-data">
    <span
      class={{concat-class "reviewable-type" this.reviewable.humanTypeCssClass}}
    >{{this.reviewable.humanType}}</span>
    {{#if this.reviewable.reply_count}}
      <span class="reply-count">{{i18n
          "review.replies"
          count=this.reviewable.reply_count
        }}</span>
    {{/if}}
    <span class="created-at">
      <LinkTo
        @route="review.show"
        @model={{this.reviewable.id}}
      >{{age-with-tooltip this.reviewable.created_at}}</LinkTo>
    </span>
    <span class="status">
      {{reviewable-status this.reviewable.status this.reviewable.type}}
    </span>
    <a
      href
      {{on "click" (fn this.explainReviewable this.reviewable)}}
      title={{i18n "review.explain.why"}}
      class="explain"
    >
      {{d-icon "circle-question"}}
    </a>
  </div>

  <div class="reviewable-contents">
    {{#if this.editing}}
      <div class="editable-fields">
        {{#if this.reviewable.created_by}}
          <div class="editable-created-by">
            {{avatar this.reviewable.created_by imageSize="tiny"}}
            <ReviewableCreatedByName @user={{this.reviewable.created_by}} />
          </div>
        {{/if}}

        {{#each this.reviewable.editable_fields as |f|}}
          <div class="editable-field {{dasherize f.id}}">
            {{component
              (concat "reviewable-field-" f.type)
              tagName=""
              value=(editable-value this.reviewable f.id)
              tagCategoryId=this.tagCategoryId
              valueChanged=(action "valueChanged" f.id)
              categoryChanged=(action "categoryChanged")
            }}
          </div>
        {{/each}}
      </div>
    {{else}}
      {{#let
        (component
          this.reviewableComponent reviewable=this.reviewable tagName=""
        )
        as |ReviewableComponent|
      }}
        {{! template-lint-disable no-shadowed-elements }}{{! (seems to be a false positive) }}
        <ReviewableComponent>
          <ReviewableScores @reviewable={{this.reviewable}} @tagName="" />
        </ReviewableComponent>
      {{/let}}
    {{/if}}
  </div>

  {{#if this.displayContextQuestion}}
    <h3 class="reviewable-item__context-question">
      {{this.reviewable.flaggedReviewableContextQuestion}}
    </h3>
  {{/if}}

  <div class="reviewable-actions">
    {{#unless this.reviewable.last_performing_username}}
      {{#if this.canPerform}}
        {{#if this.editing}}
          <DButton
            @disabled={{this.disabled}}
            @icon="check"
            @action={{action "saveEdit"}}
            @label="review.save"
            class="btn-primary reviewable-action save-edit"
          />
          <DButton
            @disabled={{this.disabled}}
            @icon="xmark"
            @action={{action "cancelEdit"}}
            @label="review.cancel"
            class="btn-danger reviewable-action cancel-edit"
          />
        {{else}}
          {{#each this.reviewable.bundled_actions as |bundle|}}
            <ReviewableBundledAction
              @bundle={{bundle}}
              @performAction={{action "perform"}}
              @reviewableUpdating={{this.disabled}}
            />
          {{/each}}

          {{#if this.reviewable.can_edit}}
            <DButton
              @disabled={{this.disabled}}
              @icon="pencil"
              @action={{action "edit"}}
              @label="review.edit"
              class="reviewable-action btn-default edit"
            />
          {{/if}}
        {{/if}}
      {{/if}}
    {{/unless}}

    {{#if this.reviewable.last_performing_username}}
      <div class="stale-help">{{html-safe
          (i18n
            "review.stale_help"
            username=this.reviewable.last_performing_username
          )
        }}</div>
    {{else}}
      {{#if this.claimEnabled}}
        <div class="claimed-actions">
          <span class="help">{{html-safe this.claimHelp}}</span>
          <ReviewableClaimedTopic
            @topicId={{this.topicId}}
            @claimedBy={{this.reviewable.claimed_by}}
            @onClaim={{fn (mut this.reviewable.claimed_by)}}
          />
        </div>
      {{/if}}
    {{/if}}

    {{#if this.showIpLookup}}
      <IpLookup
        @ip="adminLookup"
        @userId={{this.reviewable.target_created_by.id}}
      />
    {{/if}}

    <PluginOutlet
      @name="reviewable-item-actions"
      @connectorTagName="div"
      @outletArgs={{hash reviewable=this.reviewable}}
    />
  </div>
</div>