<div
  class={{this.classNames}}
  {{did-insert this.setupEventListeners}}
  {{on "keydown" this.onKeydown}}
>
  <div class="search-input">
    {{#if this.search.inTopicContext}}
      <DButton
        @icon="xmark"
        @label="search.in_this_topic"
        @title="search.in_this_topic_tooltip"
        @action={{this.clearTopicContext}}
        class="btn-small search-context"
      />
    {{else if this.inPMInboxContext}}
      <DButton
        @icon="xmark"
        @label="search.in_messages"
        @title="search.in_messages_tooltip"
        @action={{this.clearPMInboxContext}}
        class="btn-small search-context"
      />
    {{/if}}

    <PluginOutlet
      @name="search-menu-before-term-input"
      @outletArgs={{hash openSearchMenu=this.open}}
    />

    <SearchMenu::SearchTerm
      @searchTermChanged={{this.searchTermChanged}}
      @typeFilter={{this.typeFilter}}
      @updateTypeFilter={{this.updateTypeFilter}}
      @triggerSearch={{this.triggerSearch}}
      @fullSearch={{this.fullSearch}}
      @clearPMInboxContext={{this.clearPMInboxContext}}
      @clearTopicContext={{this.clearTopicContext}}
      @closeSearchMenu={{this.close}}
      @openSearchMenu={{this.open}}
      @autofocus={{@autofocusInput}}
    />

    {{#if this.loading}}
      <div class="searching">
        {{loading-spinner}}
      </div>
    {{else}}
      <div class="searching">
        <PluginOutlet @name="search-menu-before-advanced-search" />
        {{#if this.search.activeGlobalSearchTerm}}
          <SearchMenu::ClearButton @clearSearch={{this.clearSearch}} />
        {{/if}}
        <SearchMenu::AdvancedButton
          @openAdvancedSearch={{this.openAdvancedSearch}}
        />
      </div>
    {{/if}}
  </div>

  {{#if @inlineResults}}
    <SearchMenu::Results
      @loading={{this.loading}}
      @invalidTerm={{this.invalidTerm}}
      @suggestionKeyword={{this.suggestionKeyword}}
      @suggestionResults={{this.suggestionResults}}
      @searchTopics={{this.includesTopics}}
      @inPMInboxContext={{this.inPMInboxContext}}
      @triggerSearch={{this.triggerSearch}}
      @updateTypeFilter={{this.updateTypeFilter}}
      @closeSearchMenu={{this.close}}
      @searchTermChanged={{this.searchTermChanged}}
      @clearSearch={{this.clearSearch}}
    />
  {{else if this.displayMenuPanelResults}}
    <MenuPanel @panelClass="search-menu-panel">
      <SearchMenu::Results
        @loading={{this.loading}}
        @invalidTerm={{this.invalidTerm}}
        @suggestionKeyword={{this.suggestionKeyword}}
        @suggestionResults={{this.suggestionResults}}
        @searchTopics={{this.includesTopics}}
        @inPMInboxContext={{this.inPMInboxContext}}
        @triggerSearch={{this.triggerSearch}}
        @updateTypeFilter={{this.updateTypeFilter}}
        @closeSearchMenu={{this.close}}
        @searchTermChanged={{this.searchTermChanged}}
        @clearSearch={{this.clearSearch}}
      />
    </MenuPanel>
  {{/if}}
</div>