<div class="search-menu" aria-live="polite">
  <MenuPanel @animationClass={{@animationClass}} @maxWidth={{500}}>
    <SearchMenu::MenuPanelContents
      @inTopicContext={{this.inTopicContext}}
      @updateInTopicContext={{this.updateInTopicContext}}
      @clearContext={{@clearContext}}
      @clearTopicContext={{this.clearTopicContext}}
      @setTopicContext={{@setTopicContext}}
      @clearPMInboxContext={{this.clearPMInboxContext}}
      @inPMInboxContext={{this.inPMInboxContext}}
      @term={{this.term}}
      @searchTermChanged={{this.searchTermChanged}}
      @loading={{this.loading}}
      @fullSearchUrl={{this.fullSearchUrl}}
      @fullSearch={{this.fullSearch}}
      @triggerSearch={{this.triggerSearch}}
      @clearSearch={{this.clearSearch}}
      @focusSearchInput={{this.focusSearchInput}}
      @includesTopics={{this.includesTopics}}
      @noResults={{this.noResults}}
      @results={{this.results}}
      @invalidTerm={{this.invalidTerm}}
      @suggestionKeyword={{this.suggestionKeyword}}
      @suggestionResults={{this.suggestionResults}}
      @searchTopics={{this.includesTopics}}
      @typeFilter={{this.typeFilter}}
      @updateTypeFilter={{this.updateTypeFilter}}
    />
  </MenuPanel>
</div>
