<div class="fps-result-entries" role="list">
  {{#each this.posts as |post|}}
    <SearchResultEntry
      @post={{post}}
      @bulkSelectEnabled={{this.bulkSelectEnabled}}
      @selected={{this.selected}}
      @highlightQuery={{this.highlightQuery}}
      @searchLogId={{this.searchLogId}}
    />
  {{/each}}
</div>