<div class="search-menu" aria-live="polite">
  <MenuPanel @maxWidth={{500}}>
    <SearchMenu::MenuPanelContents
      @inTopicContext={{this.inTopicContext}}
      @updateInTopicContext={{this.updateInTopicContext}}
      @clearContext={{@clearContext}}
      @setTopicContext={{@setTopicContext}}
      @inPMInboxContext={{this.inPMInboxContext}}
      @term={{this.term}}
      @searchTermChanged={{this.searchTermChanged}}
      @loading={{this.loading}}
      @fullSearchUrl={{this.fullSearchUrl}}
      @clearSearch={{this.clearSearch}}
    />
  </MenuPanel>
</div>
