<div class="header">
  <h3 class="title">{{html-safe this.shareTitle}}</h3>
</div>

<div class="body">
  <DTextarea
    @value={{this.shareUrl}}
    @class="topic-share-url"
    @aria-label={{I18n "share.url"}}
  />

  <div class="sources">
    {{#each this.sources as |source|}}
      <ShareSource
        @source={{source}}
        @title={{this.topic.title}}
        @action={{action "share"}}
      />
    {{/each}}
  </div>
</div>