<div class="shared-draft-controls">
  {{#if this.publishing}}
    {{i18n "shared_drafts.publishing"}}
  {{else}}
    {{i18n "shared_drafts.notice"}}

    <div class="publish-field">
      <label>{{i18n "shared_drafts.destination_category"}}</label>
      <CategoryChooser
        @value={{this.topic.destination_category_id}}
        @onChange={{action "updateDestinationCategory"}}
      />
    </div>

    <div class="publish-field">
      {{#if this.validCategory}}
        <DButton
          @action={{action "publish"}}
          @label="shared_drafts.publish"
          @class="btn-primary publish-shared-draft"
          @icon="far-clipboard"
        />
      {{/if}}
    </div>
  {{/if}}
</div>