{{#unless this.isMuted}}
  <span class="subcategory">
    <CategoryTitleBefore @category={{this.category}} />
    {{category-link this.category hideParent="true"}}
    {{#unless this.hideUnread}}
      <CategoryUnread
        @category={{this.category}}
        @unreadTopicsCount={{this.unreadTopicsCount}}
        @newTopicsCount={{this.newTopicsCount}}
      />
    {{/unless}}
  </span>
{{/unless}}