<div
  id="suggested-topics"
  class="more-topics__list {{if this.hidden 'hidden'}}"
  role="complementary"
  aria-labelledby="suggested-topics-title"
  {{did-insert this.registerList}}
  {{will-destroy this.removeList}}
>
  <UserTip @id="suggested_topics" @selector=".user-tip-reference" />

  <h3 id="suggested-topics-title" class="more-topics__list-title">
    {{i18n this.suggestedTitleLabel}}
  </h3>

  <div class="topics">
    {{#if @topic.isPrivateMessage}}
      <BasicTopicList
        @hideCategory="true"
        @showPosters="true"
        @topics={{@topic.suggestedTopics}}
      />
    {{else}}
      <BasicTopicList @topics={{@topic.suggestedTopics}} />
    {{/if}}
  </div>
</div>