<div
  id="suggested-topics"
  class="more-content-topics {{if this.hidden 'hidden'}}"
  role="complementary"
  aria-labelledby="suggested-topics-title"
  data-mobile-title={{i18n "suggested_topics.pill"}}
  data-list-id={{this.listId}}
>
  <UserTip @id="suggested_topics" @selector=".user-tip-reference" />

  <h3 id="suggested-topics-title" class="more-topics-title">
    {{i18n this.suggestedTitleLabel}}
  </h3>

  <div class="topics">
    {{#if this.topic.isPrivateMessage}}
      <BasicTopicList
        @hideCategory="true"
        @showPosters="true"
        @topics={{this.topic.suggestedTopics}}
      />
    {{else}}
      <BasicTopicList @topics={{this.topic.suggestedTopics}} />
    {{/if}}
  </div>

  <h3 class="suggested-topics-message">
    {{html-safe this.browseMoreMessage}}
  </h3>
</div>