<div class="summary-box__container old-summary-box-temporary">
  {{#if @topic.summarizable}}
    {{#if this.summary.showSummaryBox}}
      <DButton
        @action={{@collapseSummary}}
        @title="summary.buttons.hide"
        @label="summary.buttons.hide"
        @icon="chevron-up"
        class="btn-primary topic-strategy-summarization"
      />
    {{else}}
      <DButton
        @action={{@showSummary}}
        @translatedLabel={{this.generateSummaryTitle}}
        @translatedTitle={{this.generateSummaryTitle}}
        @icon={{this.generateSummaryIcon}}
        @disabled={{this.summary.loading}}
        class="btn-primary topic-strategy-summarization"
      />
    {{/if}}
  {{/if}}

  {{#if this.summary.showSummaryBox}}
    <article class="summary-box">
      {{#if (and this.summary.loading (not this.summary.text))}}
        <AiSummarySkeleton />
      {{else}}
        <div class="generated-summary">{{this.summary.text}}</div>

        {{#if this.summary.summarizedOn}}
          <div class="summarized-on">
            <p>
              {{i18n "summary.summarized_on" date=this.summary.summarizedOn}}

              <DTooltip @placements={{array "top-end"}}>
                <:trigger>
                  {{d-icon "info-circle"}}
                </:trigger>
                <:content>
                  {{i18n "summary.model_used" model=this.summary.summarizedBy}}
                </:content>
              </DTooltip>
            </p>

            {{#if this.summary.outdated}}
              <p class="outdated-summary">
                {{this.outdatedSummaryWarningText}}
              </p>
            {{/if}}
          </div>
        {{/if}}
      {{/if}}
    </article>
  {{/if}}
</div>