{{#if this.title}}
  <h3>{{this.title}}</h3>
{{/if}}
{{#if this.category}}
  <CategoryTitleLink @category={{this.category}} />
{{/if}}
{{#if this.tagGroupName}}
  <h3>{{this.tagGroupName}}</h3>
{{/if}}
{{#each this.sortedTags as |tag|}}
  <div class="tag-box">
    {{discourse-tag
      tag.id
      description=tag.description
      isPrivateMessage=this.isPrivateMessage
      pmOnly=tag.pmOnly
      tagsForUser=this.tagsForUser
    }}
    {{#if tag.pmOnly}}
      {{d-icon "envelope"}}
    {{/if}}
    {{#if tag.totalCount}}
      <span class="tag-count">
        x
        {{tag.totalCount}}
      </span>
    {{/if}}
  </div>
{{/each}}
<div class="clearfix"></div>