<div class="topic-footer-main-buttons">
  <TopicAdminMenu
    @topic={{this.topic}}
    @toggleMultiSelect={{this.toggleMultiSelect}}
    @showTopicSlowModeUpdate={{this.showTopicSlowModeUpdate}}
    @deleteTopic={{this.deleteTopic}}
    @recoverTopic={{this.recoverTopic}}
    @toggleFeaturedOnProfile={{this.toggleFeaturedOnProfile}}
    @toggleClosed={{this.toggleClosed}}
    @toggleArchived={{this.toggleArchived}}
    @toggleVisibility={{this.toggleVisibility}}
    @showTopicTimerModal={{this.showTopicTimerModal}}
    @showFeatureTopic={{this.showFeatureTopic}}
    @showChangeTimestamp={{this.showChangeTimestamp}}
    @resetBumpDate={{this.resetBumpDate}}
    @convertToPublicTopic={{this.convertToPublicTopic}}
    @convertToPrivateMessage={{this.convertToPrivateMessage}}
  />

  {{#if this.site.mobileView}}
    <TopicFooterMobileDropdown
      @topic={{this.topic}}
      @content={{this.dropdownButtons}}
    />
  {{/if}}

  {{#each this.inlineActionables as |actionable|}}
    {{#if (eq actionable.type "inline-button")}}
      {{#if (eq actionable.id "bookmark")}}
        <BookmarkMenu
          @showLabel={{this.showBookmarkLabel}}
          @bookmarkManager={{this.topicBookmarkManager}}
          @buttonClasses="btn-default"
        />
      {{else}}
        <DButton
          @action={{actionable.action}}
          @icon={{actionable.icon}}
          @translatedLabel={{actionable.label}}
          @translatedTitle={{actionable.title}}
          @translatedAriaLabel={{actionable.ariaLabel}}
          @disabled={{actionable.disabled}}
          id={{concat "topic-footer-button-" actionable.id}}
          class={{concat-class
            "btn-default"
            "topic-footer-button"
            actionable.classNames
          }}
        />
      {{/if}}
    {{else}}
      <DropdownSelectBox
        @id={{concat "topic-footer-dropdown-" actionable.id}}
        @value={{actionable.value}}
        @content={{actionable.content}}
        @onChange={{action actionable.action}}
        @options={{hash
          icon=actionable.icon
          none=actionable.noneItem
          disabled=actionable.disabled
        }}
        class={{concat-class "topic-footer-dropdown" actionable.classNames}}
      />
    {{/if}}
  {{/each}}

  <PluginOutlet
    @name="topic-footer-main-buttons-before-create"
    @outletArgs={{hash topic=this.topic}}
    @connectorTagName="span"
  />

  {{#if this.topic.details.can_create_post}}
    <DButton
      @icon="reply"
      @action={{this.replyToPost}}
      @label="topic.reply.title"
      @title="topic.reply.help"
      class="btn-primary create"
    />
  {{/if}}

  <PluginOutlet
    @name="after-topic-footer-main-buttons"
    @outletArgs={{hash topic=this.topic}}
    @connectorTagName="span"
  />
</div>

<PinnedButton @pinned={{this.topic.pinned}} @topic={{this.topic}} />

{{#if this.showNotificationsButton}}
  <TopicNotificationsButton
    @topic={{this.topic}}
    @expanded={{true}}
    class="notifications-button-footer"
  />

  {{#if this.showNotificationUserTip}}
    <UserTip
      @id="topic_notification_levels"
      @triggerSelector=".notifications-button-footer details"
      @titleText={{i18n "user_tips.topic_notification_levels.title"}}
      @contentText={{i18n "user_tips.topic_notification_levels.content"}}
      @priority={{800}}
    />
  {{/if}}
{{/if}}

<PluginOutlet
  @name="after-topic-footer-buttons"
  @outletArgs={{hash topic=this.topic}}
  @connectorTagName="span"
/>