{{#if this.showBasedOnPosition}}
  <div class="row {{this.containerClass}}">
    {{#if this.showDismissRead}}
      <DButton
        @class="btn-default dismiss-read"
        @id={{this.dismissReadId}}
        @action={{action "dismissReadPosts"}}
        @translatedLabel={{this.dismissLabel}}
        @title="topics.bulk.dismiss_tooltip"
      />
    {{/if}}
    {{#if this.showResetNew}}
      <DButton
        @class="btn-default dismiss-read"
        @id={{this.dismissNewId}}
        @action={{this.resetNew}}
        @icon="check"
        @translatedLabel={{this.dismissNewLabel}}
      />
    {{/if}}
  </div>
{{/if}}