{{#if this.showTopicTimer}}
  <h3 class="topic-timer-heading">
    <span title={{this.title}}>
      {{this.clockIcon}}
      {{this.notice}}
    </span>
    <div class="topic-timer-modify">
      {{#if this.showEdit}}
        <DButton
          @title="post.controls.edit_timer"
          @icon="pencil"
          @action={{this.showTopicTimerModal}}
          class="topic-timer-edit no-text"
        />
      {{/if}}
      {{#if this.showTrashCan}}
        <DButton
          @title="post.controls.remove_timer"
          @icon="trash-can"
          @action={{this.removeTopicTimer}}
          class="topic-timer-remove no-text"
        />
      {{/if}}
    </div>
  </h3>
{{/if}}