{{~#if this.topicClosedArchived~}}
  <span
    title={{this.closedArchivedTitle}}
    class="topic-status"
  >{{this.closedArchivedIcon}}</span>
{{~/if~}}
{{~#if this.closedIcon~}}
  <span
    title={{this.closedTitle}}
    class="topic-status"
  >{{this.closedIcon}}</span>
{{~/if~}}
{{~#if this.archivedIcon~}}
  <span
    title={{this.archivedTitle}}
    class="topic-status"
  >{{this.archivedIcon}}</span>
{{~/if~}}
{{~#if this.topicPrivateMessage~}}
  <span
    title={{this.privateMessageTitle}}
    class="topic-status"
  >{{this.privateMessageIcon}}</span>
{{~/if~}}
{{~#if this.topicWarning~}}
  <span
    title={{this.warningTitle}}
    class="topic-status topic-status-warning"
  >{{this.warningIcon}}</span>
{{~/if~}}
{{~#if this.topicPinned~}}
  {{~#if this.canAct~}}
    <a
      href=""
      title={{this.pinnedTitle}}
      class="topic-status"
    >{{this.pinnedIcon}}</a>
  {{~else~}}
    <span
      title={{this.pinnedTitle}}
      class="topic-status"
    >{{this.pinnedIcon}}</span>
  {{~/if~}}
{{~/if~}}
{{~#if this.topicUnpinned~}}
  {{~#if this.canAct~}}
    <a
      href=""
      title={{this.unpinnedTitle}}
      class="topic-status"
    >{{this.unpinnedIcon}}</a>
  {{~else~}}
    <span
      title={{this.unpinnedTitle}}
      class="topic-status"
    >{{this.unpinnedIcon}}</span>
  {{~/if~}}
{{~/if~}}
{{~#if this.topicInvisible~}}
  <span
    title={{this.invisibleTitle}}
    class="topic-status"
  >{{this.invisibleIcon}}</span>
{{~/if~}}
<PluginOutlet
  @name="after-topic-status"
  @connectorTagName="div"
  @outletArgs={{hash topic=this.topic}}
/>