{{#if this.showBasedOnPosition}}
  <div class="row {{this.containerClass}}">
    {{#if this.showDismissRead}}
      <DButton
        @action={{this.dismissReadPosts}}
        @translatedLabel={{this.dismissLabel}}
        @title="topics.bulk.dismiss_tooltip"
        id={{this.dismissReadId}}
        class="btn-default dismiss-read"
      />
    {{/if}}
    {{#if this.showResetNew}}
      <DButton
        @action={{this.resetNew}}
        @icon="check"
        @translatedLabel={{this.dismissNewLabel}}
        id={{this.dismissNewId}}
        class="btn-default dismiss-read"
      />
    {{/if}}
  </div>
{{/if}}