{{#unless this.hideProgress}}
  {{yield}}
{{/unless}}

{{#if this.showBackButton}}
  <div class="progress-back-container">
    <DButton
      @label="topic.timeline.back"
      @action={{this.goBack}}
      @icon="arrow-down"
      class="btn-primary btn-small progress-back"
    />
  </div>
{{/if}}

<nav
  title={{i18n "topic.progress.title"}}
  aria-label={{i18n "topic.progress.title"}}
  class={{if this.hideProgress "hidden"}}
  id="topic-progress"
  style={{html-safe this.progressStyle}}
>
  <div class="nums">
    <span>{{this.progressPosition}}</span>
    <span class={{if this.hugeNumberOfPosts "hidden"}}>/</span>
    <span
      class={{if this.hugeNumberOfPosts "hidden"}}
    >{{this.postStream.filteredPostsCount}}</span>
  </div>
  <div class="bg"></div>
</nav>

<PluginOutlet @name="after-topic-progress" @connectorTagName="div" />