{{#if this.visible}}
  <PluginOutlet
    @name="before-user-card-content"
    @outletArgs={{hash user=this.user}}
  />
  {{#if this.loading}}
    <div class="d-user-card__header d-user-card__placeholder-animation"></div>
    <div class="d-user-card__main-content">
      <div class="d-user-card__main-content-top">
        <div class="d-user-card__id">
          <span
            class="card-avatar-placeholder d-user-card__placeholder-animation"
          >
          </span>
          <span class="d-user-card__id-titles">
            <div
              class="d-user-card__titles-top d-user-card__placeholder-animation"
            >
            </div>
            <div
              class="d-user-card__titles-bottom d-user-card__placeholder-animation"
            >
            </div>
          </span>
        </div>
        <div class="d-user-card__user-content">
          <div
            class="d-user-card__custom-fields .card-row .d-user-card__placeholder-animation"
          >
          </div>
        </div>
      </div>
      <div class="d-user-card__main-content-bottom">
        <div class="card-row d-user-card__placeholder-animation"></div>
        <div class="card-row d-user-card__placeholder-animation"></div>
        <div class="card-row d-user-card__placeholder-animation"></div>
      </div>
    </div>
  {{else}}
    <div class="d-user-card__container">
      <div class="d-user-card__header">
        {{#unless this.contentHidden}}
          {{#if (or this.showUserLocalTime this.user.location)}}
            <div class="d-user-card__relative-time">
              {{#if (and this.userTimezone this.showUserLocalTime)}}
                <div class="d-user-card__time">
                  {{d-icon "far-clock"}}
                  <span class="label">{{this.formattedUserLocalTime}}</span>
                </div>
              {{/if}}
              {{#if this.user.location}}
                <div class="d-user-card__location">
                  {{d-icon "location-dot"}}
                  <span class="label">{{this.user.location}}</span>
                </div>
              {{/if}}
            </div>
          {{/if}}
        {{/unless}}
        <div class="d-user-card__badges">
          {{#if this.showBadges}}
            {{#if this.user.featured_user_badges}}
              {{#each this.user.featured_user_badges as |ub|}}
                <DTooltip>
                  <:trigger>
                    <UserBadge @badge={{ub.badge}} @user={{this.user}} />
                  </:trigger>
                  <:content>
                    {{ub.badge.name}}
                  </:content>
                </DTooltip>
              {{/each}}
              {{#if this.showMoreBadges}}
                <span class="d-user-card__badges-more">
                  <LinkTo @route="user.badges" @model={{this.user}}>
                    {{i18n "user.more_badges" count=this.moreBadgesCount}}
                  </LinkTo>
                </span>
              {{/if}}
            {{/if}}
          {{/if}}
        </div>
        {{#if (eq this.currentUser.id this.user.id)}}
          <DButton
            @label="user.change_background"
            @href={{this.editBackgroundUrl}}
            @icon="pencil-alt"
            class="d-user-card__edit-btn btn-transparent"
          />
        {{/if}}
      </div>
      <div class="d-user-card__main-content">
        <div class="d-user-card__main-content-top">
          <div class="d-user-card__id">
            <div class="d-user-card__avatar-container">
              {{#if this.contentHidden}}
                <span class="d-user-card__avatar">
                  {{bound-avatar this.user "huge"}}
                </span>
              {{else}}
                <a
                  {{on "click" this.handleShowUser}}
                  href={{this.user.path}}
                  class="d-user-card__avatar"
                >
                  {{bound-avatar this.user "huge"}}
                </a>
              {{/if}}
              <UserAvatarFlair @user={{this.user}} />
              <PluginOutlet
                @name="user-card-avatar-flair"
                @connectorTagName="div"
                @outletArgs={{hash user=this.user}}
              />
            </div>
            <div class="d-user-card__id-titles">
              <div class="d-user-card__titles-top">
                <h1
                  class={{concat-class
                    "d-user-card__name"
                    this.staff
                    this.newUser
                    (if this.nameFirst "full-name" "username")
                  }}
                  title="@{{this.user.username}}"
                >
                  {{#if this.contentHidden}}
                    {{if
                      this.nameFirst
                      this.user.name
                      (format-username this.user.username)
                    }}
                  {{else}}
                    <a
                      {{on "click" this.handleShowUser}}
                      href={{this.user.path}}
                      class="d-user-card__user-link"
                      title={{if
                        this.nameFirst
                        this.user.name
                        (format-username this.user.username)
                      }}
                    >
                      {{if
                        this.nameFirst
                        this.user.name
                        (format-username this.user.username)
                      }}
                    </a>
                  {{/if}}
                  {{user-status this.user currentUser=this.currentUser}}
                </h1>
                {{#if this.user.staged}}
                  <span class="staged">{{i18n "user.staged"}}</span>
                {{/if}}
              </div>
              <div class="d-user-card__titles-bottom">
                {{#if this.nameFirst}}
                  <span class="d-user-card__user-name" title="Fullname">
                    @{{this.user.username}}
                  </span>
                {{else}}
                  {{#if this.user.name}}
                    <span class="d-user-card__user-name" title="Fullname">
                      {{this.user.name}}
                    </span>
                  {{/if}}
                {{/if}}
                {{#if this.user.title}}
                  <span class="d-user-card__user-title">
                    {{if this.user.name " - "}}{{this.user.title}}
                  </span>
                {{/if}}
                {{#if this.hasStatus}}
                  <UserStatusMessage @status={{this.user.status}} />
                {{/if}}
              </div>
              <span>
                <PluginOutlet
                  @name="user-card-post-names"
                  @connectorTagName="div"
                  @outletArgs={{hash user=this.user}}
                />
              </span>
            </div>
          </div>
          <div class="d-user-card__user-content">
            {{#if this.showFeaturedTopic}}
              <div class="d-user-card__featured-topic">
                <span class="d-user-card__featured-topic-title">
                  {{emoji "pushpin"}}
                </span>
                <LinkTo
                  @route="topic"
                  @models={{array
                    this.user.featured_topic.slug
                    this.user.featured_topic.id
                  }}
                  title={{i18n "user.featured_topic"}}
                  class="d-user-card__link"
                >
                  {{replace-emoji
                    (html-safe this.user.featured_topic.fancy_title)
                  }}
                </LinkTo>
              </div>
            {{/if}}
            {{#if this.user.profile_hidden}}
              <span class="d-user-card__hidden-user">
                {{i18n "user.profile_hidden"}}
              </span>
            {{else if this.user.inactive}}
              <span class="d-user-card__inactive-user">
                {{i18n "user.inactive_user"}}
              </span>
            {{/if}}
            {{#if this.isSuspendedOrHasBio}}
              <div class="d-user-card__bio">
                {{#if this.user.suspend_reason}}
                  <div class="d-user-card__suspension">
                    <div class="d-user-card__suspension-date">
                      {{d-icon "ban"}}
                      {{#if this.user.suspendedForever}}
                        {{i18n "user.suspended_permanently"}}
                      {{else}}
                        {{i18n
                          "user.suspended_notice"
                          date=this.user.suspendedTillDate
                        }}
                      {{/if}}
                    </div>
                    <div class="d-user-card__suspension-reason">
                      <span class="d-user-card__suspension-reason-title">
                        {{i18n "user.suspended_reason"}}
                      </span>
                      <span class="d-user-card__suspension-reason-description">
                        {{this.user.suspend_reason}}
                      </span>
                    </div>
                  </div>
                {{else}}
                  {{#if this.user.bio_excerpt}}
                    <div class="d-user-card__bio-excerpt">
                      <HtmlWithLinks>
                        <p>
                          {{replace-emoji (html-safe this.user.bio_excerpt)}}
                        </p>
                      </HtmlWithLinks>
                    </div>
                  {{/if}}
                {{/if}}
              </div>
            {{/if}}
            {{#unless this.contentHidden}}
              <div class="d-user-card__custom-fields">
                <div class="d-user-card__custom-field-group">
                  {{#if this.user.time_read}}
                    <div class="d-user-card__field read">
                      <span class="d-user-card__custom-field-title">
                        {{i18n "time_read"}}
                      </span>
                      <span class="d-user-card__custom-field-data">
                        {{format-duration this.user.time_read}}
                        {{#if this.showRecentTimeRead}}
                          ({{i18n
                            "time_read_recently"
                            time_read=this.recentTimeRead
                          }})
                        {{/if}}
                      </span>
                    </div>
                  {{/if}}
                  {{#if this.user.last_posted_at}}
                    <div class="d-user-card__field posted">
                      <span class="d-user-card__custom-field-title">{{i18n
                          "last_post"
                        }}</span>
                      <span class="d-user-card__custom-field-data">{{format-date
                          this.user.last_posted_at
                          leaveAgo="true"
                        }}</span>
                    </div>
                  {{/if}}
                  {{#if this.showCheckEmail}}
                    <div class="d-user-card__field email">
                      <span class="d-user-card__custom-field-data">
                        {{d-icon "envelope" title="user.email.title"}}
                        {{#if this.user.email}}
                          {{this.user.email}}
                        {{else}}
                          <DButton
                            @action={{action "checkEmail"}}
                            @actionParam={{this.user}}
                            @icon="envelope"
                            @label="admin.users.check_email.text"
                            class="btn-primary"
                          />
                        {{/if}}
                      </span>
                    </div>
                  {{/if}}
                  <PluginOutlet
                    @name="user-card-metadata"
                    @connectorTagName="div"
                    @outletArgs={{hash user=this.user}}
                  />
                  {{#if this.publicUserFields}}
                    {{#each this.publicUserFields as |uf|}}
                      {{#if uf.value}}
                        <div
                          class="d-user-card__field
                            {{uf.field.dasherized_name}}"
                        >
                          <span
                            class="d-user-card__custom-field-title"
                          >{{uf.field.name}}</span>
                          <span class="d-user-card__custom-field-data">
                            {{#each uf.value as |v|}}
                              {{! some values are arrays }}
                              {{v}}
                            {{else}}
                              {{uf.value}}
                            {{/each}}
                          </span>
                        </div>
                      {{/if}}
                    {{/each}}
                  {{/if}}
                </div>
              </div>
            {{/unless}}
            <PluginOutlet
              @name="user-card-after-metadata"
              @connectorTagName="div"
              @outletArgs={{hash user=this.user}}
            />
            <div class="d-user-card__meta-data">
              {{#if this.user.website_name}}
                <div class="d-user-card__website">
                  {{d-icon "globe"}}
                  {{! template-lint-disable link-rel-noopener }}
                  <a
                    href={{this.user.website}}
                    rel="noopener {{unless this.removeNoFollow 'nofollow ugc'}}"
                    target="_blank"
                    class="d-user-card__link"
                  >{{this.user.website_name}}</a>
                  {{! template-lint-enable link-rel-noopener }}
                </div>
              {{/if}}
              <span>
                <PluginOutlet
                  @name="user-card-location-and-website"
                  @connectorTagName="div"
                  @outletArgs={{hash user=this.user}}
                />
              </span>
            </div>
          </div>
        </div>
        {{#if
          (or
            this.user.can_send_private_message_to_user
            this.showFilter
            this.hasUserFilters
            this.showDelete
          )
        }}
          <div class="d-user-card__main-content-bottom">
            <ul class="d-user-card__controls">
              {{#if this.user.can_send_private_message_to_user}}
                <li class="d-user-card__action">
                  <DButton
                    class="d-user-card__button btn-primary"
                    @action={{action "composePM" this.user this.post}}
                    @icon="envelope"
                    @label="user.private_message"
                  />
                </li>
              {{/if}}
              <PluginOutlet
                @name="user-card-below-message-button"
                @connectorTagName="li"
                @outletArgs={{hash user=this.user close=(action "close")}}
              />
              {{#if this.showFilter}}
                <li class="d-user-card__action">
                  <DButton
                    class="d-user-card__button btn-default"
                    @action={{fn this.handleFilterPosts this.user}}
                    @icon="filter"
                    @translatedLabel={{this.filterPostsLabel}}
                  />
                </li>
              {{/if}}
              {{#if this.hasUserFilters}}
                <li class="d-user-card__action">
                  <DButton
                    class="d-user-card__button btn-default"
                    @action={{action "cancelFilter"}}
                    @icon="xmark"
                    @label="topic.filters.cancel"
                  />
                </li>
              {{/if}}
              {{#if this.showDelete}}
                <li class="d-user-card__action">
                  <DButton
                    class="d-user-card__button btn-danger"
                    @action={{action "deleteUser"}}
                    @actionParam={{this.user}}
                    @icon="triangle-exclamation"
                    @label="admin.user.delete"
                  />
                </li>
              {{/if}}
              <PluginOutlet
                @name="user-card-additional-buttons"
                @outletArgs={{hash user=this.user close=(action "close")}}
              />
            </ul>
            <PluginOutlet
              @name="user-card-additional-controls"
              @connectorTagName="div"
              @outletArgs={{hash user=this.user close=(action "close")}}
            />
          </div>
        {{/if}}
      </div>
    </div>
  {{/if}}
{{/if}}