<section class="user-navigation user-navigation-primary">
  <HorizontalOverflowNav @className="main-nav nav user-nav">
    {{#unless @user.profile_hidden}}
      <li class="summary">
        <LinkTo @route="user.summary">
          {{d-icon "user"}}
          <span>{{i18n "user.summary.title"}}</span>
        </LinkTo>
      </li>

      <li class="user-activity">
        <LinkTo @route="userActivity">
          {{d-icon "stream"}}
          <span>{{i18n "user.activity_stream"}}</span>
        </LinkTo>
      </li>
    {{/unless}}

    {{#if @showNotificationsTab}}
      <li class="user-notifications">
        <LinkTo @route="userNotifications">
          {{d-icon "bell" class="glyph"}}
          <span>{{i18n "user.notifications"}}</span>
        </LinkTo>
      </li>
    {{/if}}

    {{#if @showPrivateMessages}}
      <li class="private-messages">
        <LinkTo @route="userPrivateMessages">
          {{d-icon "envelope"}}
          <span>{{i18n "user.private_messages"}}</span>
        </LinkTo>
      </li>
    {{/if}}

    {{#if @canInviteToForum}}
      <li class="invited">
        <LinkTo @route="userInvited">
          {{d-icon "user-plus"}}
          <span>{{i18n "user.invited.title"}}</span>
        </LinkTo>
      </li>
    {{/if}}

    {{#if @showBadges}}
      <li class="badges">
        <LinkTo @route="user.badges">
          {{d-icon "certificate"}}
          <span>{{i18n "badges.title"}}</span>
        </LinkTo>
      </li>
    {{/if}}

    <PluginOutlet
      @name="user-main-nav"
      @connectorTagName="li"
      @args={{hash model=@user}}
    />

    {{#if @user.can_edit}}
      <li class="preferences">
        <LinkTo @route="preferences">
          {{d-icon "cog"}}
          <span>{{i18n "user.preferences"}}</span>
        </LinkTo>
      </li>
    {{/if}}

    {{#if (and this.site.mobileView this.currentUser.staff)}}
      <li class="admin">
        <a href={{@user.adminPath}}>
          {{d-icon "wrench"}}
          <span>{{i18n "admin.user.manage_user"}}</span>
        </a>
      </li>
    {{/if}}
  </HorizontalOverflowNav>
</section>