<div class="control-group notification-schedule">
  <label class="control-label">{{i18n
      "user.notification_schedule.title"
    }}</label>
  <PreferenceCheckbox
    @labelKey="user.notification_schedule.label"
    @checked={{this.model.user_notification_schedule.enabled}}
  />

  {{#if this.model.user_notification_schedule.enabled}}
    <div class="instruction">{{i18n "user.notification_schedule.tip"}}</div>

    <table class="notification-schedule-table">
      <tbody class="notification-schedule-tbody">
        {{#each this.days as |day|}}
          <UserNotificationScheduleDay
            @day={{day.day}}
            @startTimeOptions={{day.startTimeOptions}}
            @startTimeValue={{day.startTimeValue}}
            @onChangeStartTime={{day.onChangeStartTime}}
            @endTimeOptions={{day.endTimeOptions}}
            @endTimeValue={{day.endTimeValue}}
            @onChangeEndTime={{day.onChangeEndTime}}
          />
        {{/each}}
      </tbody>
    </table>
  {{/if}}
</div>