<div id="chat-progress-bar-container"></div>

<ChatVh />

{{#if this.chat.sidebarActive}}
  <div class="full-page-chat teams-sidebar-on">
    {{outlet}}
  </div>
{{else}}
  <div
    class={{concat-class
      "full-page-chat"
      (if this.shouldUseCoreSidebar "full-page-chat-sidebar-enabled")
    }}
  >
    {{#if this.shouldUseChatSidebar}}
      <ChannelsList />
    {{/if}}

    <div
      id="main-chat-outlet"
      class={{concat-class
        "main-chat-outlet"
        (if this.chatStateManager.isSidePanelExpanded "has-side-panel-expanded")
      }}
    >
      {{outlet}}
    </div>
  </div>
{{/if}}