<DModalBody @title="user.auth_tokens.was_this_you">
  <div>
    <p>{{i18n "user.auth_tokens.was_this_you_description"}}</p>
    <p>{{html-safe (i18n "user.second_factor.extended_description")}}</p>
  </div>

  <div>
    <h3>{{i18n "user.auth_tokens.details"}}</h3>
    <ul style="list-style-type:none">
      <li>{{d-icon "far-clock"}} {{format-date this.model.seen_at}}</li>
      <li>{{d-icon "map-marker-alt"}} {{this.model.location}}</li>
      <li>{{d-icon this.model.icon}}
        {{i18n
          "user.auth_tokens.browser_and_device"
          browser=this.model.browser
          device=this.model.device
        }}</li>
    </ul>
  </div>

  {{#if this.latest_post}}
    <div>
      <h3>
        {{i18n "user.auth_tokens.latest_post"}}
        <a href {{on "click" this.toggleExpanded}}>{{d-icon
            (if this.expanded "caret-up" "caret-down")
          }}</a>
      </h3>

      {{#if this.expanded}}
        <blockquote>{{html-safe this.latest_post.cooked}}</blockquote>
      {{else}}
        <blockquote>{{html-safe this.latest_post.excerpt}}</blockquote>
      {{/if}}
    </div>
  {{/if}}
</DModalBody>

<div class="modal-footer">
  <DButton
    @class="btn-primary"
    @action={{action "highlightSecure"}}
    @icon="lock"
    @label="user.auth_tokens.secure_account"
  />
  <DModalCancel @close={{route-action "closeModal"}} />
</div>