<DModalBody
  @title={{if
    this.model.notice
    "post.controls.change_post_notice"
    "post.controls.add_post_notice"
  }}
>
  <form><Textarea @value={{this.notice}} /></form>
</DModalBody>

<div class="modal-footer">
  <DButton
    @label={{if this.saving "saving" "save"}}
    @action={{fn this.setNotice this.notice}}
    @disabled={{this.disabled}}
    class="btn-primary"
  />
  {{#if this.model.notice}}
    <DButton
      @label="post.controls.delete_post_notice"
      @action={{this.setNotice}}
      @disabled={{this.saving}}
      class="btn-danger"
    />
  {{/if}}
  <DModalCancel @close={{route-action "closeModal"}} />
</div>