<DModalBody @class="change-ownership">
  <span>
    {{html-safe
      (i18n
        (if
          this.selectedPostsUsername
          "topic.change_owner.instructions"
          "topic.change_owner.instructions_without_old_user"
        )
        count=this.selectedPostsCount
        old_user=this.selectedPostsUsername
      )
    }}
  </span>

  <form>
    <label></label>
    <EmailGroupUserChooser
      @value={{this.newOwner}}
      @autofocus={{true}}
      @onChange={{action "updateNewOwner"}}
      @options={{hash
        maximum=1
        filterPlaceholder="topic.change_owner.placeholder"
      }}
    />
  </form>
</DModalBody>

<div class="modal-footer">
  <DButton
    @class="btn-primary"
    @action={{action "changeOwnershipOfPosts"}}
    @disabled={{this.buttonDisabled}}
    @label={{if this.saving "saving" "topic.change_owner.action"}}
  />
</div>