<DModalBody @title={{if model.notice "post.controls.change_post_notice" "post.controls.add_post_notice"}}>
  <form><Textarea @value={{notice}} /></form>
</DModalBody>

<div class="modal-footer">
  <DButton @class="btn-primary" @label={{if saving "saving" "save"}} @action={{action "setNotice" notice}} @disabled={{disabled}} />
  {{#if model.notice}}
    <DButton @class="btn-danger" @label="post.controls.delete_post_notice" @action={{action "setNotice"}} @disabled={{saving}} />
  {{/if}}
  <DModalCancel @close={{route-action "closeModal"}} />
</div>
