<DModalBody @class="change-ownership">
  <span>
    {{html-safe (i18n (if selectedPostsUsername "topic.change_owner.instructions" "topic.change_owner.instructions_without_old_user")
        count=selectedPostsCount
        old_user=selectedPostsUsername
      )
    }}
  </span>

  <form>
    <label></label>
    <EmailGroupUserChooser @value={{newOwner}} @autofocus={{true}} @onChange={{action "updateNewOwner"}} @options={{hash
        maximum=1
        filterPlaceholder="topic.change_owner.placeholder"
      }} />
  </form>
</DModalBody>

<div class="modal-footer">
  <DButton @class="btn-primary" @action={{action "changeOwnershipOfPosts"}} @disabled={{buttonDisabled}} @label={{if saving "saving" "topic.change_owner.action"}} />
</div>
