<DModalBody @title="topic.make_public.title">

  <div class="instructions">
    {{i18n "topic.make_public.choose_category"}}
  </div>
  <CategoryChooser
    @value={{this.publicCategoryId}}
    @onChange={{action (mut this.publicCategoryId)}}
  />

</DModalBody>

<div class="modal-footer">
  <DButton
    @class="btn-primary"
    @action={{action "makePublic"}}
    @label="composer.modal_ok"
    @disabled={{this.saving}}
  />
  <DModalCancel @close={{route-action "closeModal"}} />
</div>