<CreateInviteUploader as |status|>
  <DModalBody @title="user.invited.bulk_invite.text">
    {{#if status.uploaded}}
      {{i18n "user.invited.bulk_invite.success"}}
    {{else}}
      {{html-safe (i18n "user.invited.bulk_invite.instructions")}}

      <input
        id="csv-file"
        disabled={{status.uploading}}
        type="file"
        accept=".csv"
      />
    {{/if}}
  </DModalBody>

  <div class="modal-footer">
    {{#unless status.uploaded}}
      <DButton
        @icon={{if this.isEmail "envelope" "link"}}
        @translatedLabel={{if
          status.uploading
          (i18n
            "user.invited.bulk_invite.progress" progress=status.uploadProgress
          )
          (i18n "user.invited.bulk_invite.text")
        }}
        @class="btn-primary"
        @action={{status.startUpload}}
        @disabled={{status.submitDisabled}}
      />
    {{/unless}}

    <DButton
      @label="close"
      @class="btn-primary"
      @action={{route-action "closeModal"}}
    />
  </div>
</CreateInviteUploader>