{{#d-modal-body title=(if showOnly "user.create_invite.show_link" (if inviteId "user.create_invite.edit_title" "user.create_invite.new_title"))}}
  {{#if error}}
    <div class="alert alert-error">
      {{html-safe error}}
    </div>
  {{/if}}

  <div class="input-group">
    <label for="invite_link">{{i18n "user.create_invite.instructions"}}</label>
    {{input name="invite_link"
            class="invite-link"
            placeholderKey="user.create_invite.no_invite_link"
            value=link
            disabled=true}}
    {{d-button icon="copy" action=(action "copyLink" link) disabled=(if link false true)}}
  </div>

  {{#unless showOnly}}
    <p>{{i18n "user.create_invite.expires_at_time" time=(raw-date expiresAt)}}</p>

    <p>
      {{#if showAdvanced}}
        <a {{action (mut showAdvanced) false}}>{{i18n "user.create_invite.hide_advanced"}}</a>
      {{else}}
        <a {{action (mut showAdvanced) true}}>{{i18n "user.create_invite.show_advanced"}}</a>
      {{/if}}
    </p>

    {{#if showAdvanced}}
      <div class="input-group">
        <div class="radio-group">
          {{radio-button id="invite-type-link" name="invite-type" value="link" selection=type disabled=inviteId}}
          <label for="invite-type-link">{{i18n "user.create_invite.type_link"}}</label>
        </div>

        <div class="radio-group">
          {{radio-button id="invite-type-email" name="invite-type" value="email" selection=type disabled=inviteId}}
          <label for="invite-type-email">{{i18n "user.create_invite.type_email"}}</label>
        </div>
      </div>

      {{#if isLink}}
        <div class="input-group invite-max-redemptions">
          <label for="invite-max-redemptions">{{i18n "user.create_invite.max_redemptions_allowed"}}</label>
          {{input id="invite-max-redemptions"
                  type="number"
                  value=maxRedemptionsAllowed
                  min="1"
                  max=siteSettings.invite_link_max_redemptions_limit}}
        </div>
      {{/if}}

      {{#if isEmail}}
        <div class="input-group">
          <label for="invite-email">{{i18n "user.create_invite.email"}}</label>
          {{input id="invite-email"
                  value=email
                  placeholderKey="topic.invite_reply.email_placeholder"
                  disabled=inviteId}}
        </div>
      {{/if}}

      <div class="input-group">
        <label>{{i18n "user.create_invite.add_to_groups"}}</label>
        {{group-chooser content=allGroups
                        value=groupIds
                        labelProperty="name"
                        onChange=(action (mut groupIds))}}
      </div>

      <div class="input-group">
        {{future-date-input displayLabel=(i18n "user.create_invite.expires_at")
                            includeDateTime=true
                            includeMidFuture=true
                            clearable=true
                            onChangeInput=(action (mut expiresAt))}}
      </div>

      {{#if isEmail}}
        <div class="input-group">
          <label for="invite-message">{{i18n "user.create_invite.custom_message"}}</label>
          {{textarea id="invite-message" value=message}}
        </div>
      {{/if}}
    {{/if}}
  {{/unless}}
{{/d-modal-body}}

<div class="modal-footer">
  {{#unless showOnly}}
    {{d-button icon=(if isEmail "envelope" "link")
              label=saveLabel
              class="btn-primary"
              action=(action "saveInvite")
              disabled=disabled}}
  {{/unless}}

  {{d-button label="close"
             class="btn-primary"
             action=(route-action "closeModal")}}
</div>
