<DModalBody>
  <p>{{i18n "post.controls.delete_topic_confirm_modal" count=siteSettings.min_topic_views_for_delete_confirm}}</p>
</DModalBody>

<div class="modal-footer">
  <DButton @action={{action "deleteTopic"}} @disabled={{deletingTopic}} @translatedLabel={{buttonTitle}} @class="btn-danger" />
  <DButton @action={{route-action "closeModal"}} @label="post.controls.delete_topic_confirm_modal_no" @class="btn-primary" />
</div>
