<div>
  <DModalBody @title="download_calendar.title">
    <div class="control-group">
      <div class="ics">
        <label class="radio" for="ics">
          <RadioButton
            @name="select-calendar"
            @id="ics"
            @value="ics"
            @selection={{this.selectedCalendar}}
            @onChange={{action (mut this.selectedCalendar)}}
          />
          {{i18n "download_calendar.save_ics"}}
        </label>
      </div>
      <div class="google">
        <label class="radio" for="google">
          <RadioButton
            @name="select-calendar"
            @id="google"
            @value="google"
            @selection={{this.selectedCalendar}}
            @onChange={{action (mut this.selectedCalendar)}}
          />
          {{i18n "download_calendar.save_google"}}
        </label>
      </div>
    </div>

    <div class="control-group remember">
      <label>
        <Input @type="checkbox" @checked={{this.remember}} />
        <span>{{i18n "download_calendar.remember"}}</span>
      </label>
      <span>{{i18n "download_calendar.remember_explanation"}}</span>
    </div>
  </DModalBody>
  <div class="modal-footer">
    <DButton
      @class="btn-primary"
      @action={{action "downloadCalendar"}}
      @label="download_calendar.download"
    />
    <DModalCancel @close={{route-action "closeModal"}} />
  </div>
</div>