<DModalBody @class="feature-topic-on-profile" @id="choosing-topic">
  <ChooseTopic @currentTopicId={{model.featured_topic.id}} @selectedTopicId={{newFeaturedTopicId}} @additionalFilters="status:public" @label="user.feature_topic_on_profile.search_label" @topicChangedCallback={{action "newTopicSelected"}} @loadOnInit={{true}} />
</DModalBody>

<div class="modal-footer">
  <DButton @action={{action "save"}} @class="btn-primary save-featured-topic-on-profile" @disabled={{noTopicSelected}} @label="user.feature_topic_on_profile.save" />
</div>
