<DModalBody @class="feature-topic">
  {{#if this.model.pinned_at}}
    <div class="feature-section">
      <div class="desc">
        {{#if this.model.pinned_globally}}
          <p>
            <ConditionalLoadingSpinner
              @size="small"
              @condition={{this.loading}}
            >
              {{#if this.pinnedGloballyCount}}
                {{html-safe
                  (i18n
                    "topic.feature_topic.already_pinned_globally"
                    count=this.pinnedGloballyCount
                  )
                }}
              {{else}}
                {{html-safe (i18n "topic.feature_topic.not_pinned_globally")}}
              {{/if}}
            </ConditionalLoadingSpinner>
          </p>
          <p>{{i18n "topic.feature_topic.global_pin_note"}}</p>
        {{else}}
          <p>
            <ConditionalLoadingSpinner
              @size="small"
              @condition={{this.loading}}
            >
              {{html-safe this.alreadyPinnedMessage}}
            </ConditionalLoadingSpinner>
          </p>
          <p>{{i18n "topic.feature_topic.pin_note"}}</p>
        {{/if}}
        <p>{{html-safe this.unPinMessage}}</p>
        <p><DButton
            @action={{action "unpin"}}
            @icon="thumbtack"
            @label="topic.feature.unpin"
            @class="btn-primary"
          /></p>
      </div>
    </div>
  {{else}}
    <div class="feature-section">
      <div class="desc">
        <p>
          <ConditionalLoadingSpinner @size="small" @condition={{this.loading}}>
            {{html-safe this.alreadyPinnedMessage}}
          </ConditionalLoadingSpinner>
        </p>
        <p>
          {{i18n "topic.feature_topic.pin_note"}}
        </p>
        {{#if this.site.isMobileDevice}}
          <p>
            {{html-safe this.pinMessage}}
          </p>
          <p class="with-validation">
            <FutureDateInput
              @class="pin-until"
              @clearable={{true}}
              @input={{this.model.pinnedInCategoryUntil}}
              @onChangeInput={{action (mut this.model.pinnedInCategoryUntil)}}
            />
            <PopupInputTip
              @validation={{this.pinInCategoryValidation}}
              @shownAt={{this.pinInCategoryTipShownAt}}
            />
          </p>
        {{else}}
          <p class="with-validation">
            {{html-safe this.pinMessage}}
            <span>
              {{d-icon "far-clock"}}
              <FutureDateInput
                @class="pin-until"
                @clearable={{true}}
                @input={{this.model.pinnedInCategoryUntil}}
                @onChangeInput={{action (mut this.model.pinnedInCategoryUntil)}}
              />
              <PopupInputTip
                @validation={{this.pinInCategoryValidation}}
                @shownAt={{this.pinInCategoryTipShownAt}}
              />
            </span>
          </p>
        {{/if}}
        <p>
          <DButton
            @action={{action "pin"}}
            @icon="thumbtack"
            @label="topic.feature.pin"
            @class="btn-primary"
          />
        </p>
      </div>
    </div>
    {{#if this.canPinGlobally}}
      <div class="feature-section">
        <div class="desc">
          <p>
            <ConditionalLoadingSpinner
              @size="small"
              @condition={{this.loading}}
            >
              {{#if this.pinnedGloballyCount}}
                {{html-safe
                  (i18n
                    "topic.feature_topic.already_pinned_globally"
                    count=this.pinnedGloballyCount
                  )
                }}
              {{else}}
                {{html-safe (i18n "topic.feature_topic.not_pinned_globally")}}
              {{/if}}
            </ConditionalLoadingSpinner>
          </p>
          <p>
            {{i18n "topic.feature_topic.global_pin_note"}}
          </p>
          {{#if this.site.isMobileDevice}}
            <p>
              {{i18n "topic.feature_topic.pin_globally"}}
            </p>
            <p class="with-validation">
              <FutureDateInput
                @class="pin-until"
                @clearable={{true}}
                @input={{this.model.pinnedGloballyUntil}}
                @onChangeInput={{action (mut this.model.pinnedGloballyUntil)}}
              />
              <PopupInputTip
                @validation={{this.pinGloballyValidation}}
                @shownAt={{this.pinGloballyTipShownAt}}
              />
            </p>
          {{else}}
            <p class="with-validation">
              {{i18n "topic.feature_topic.pin_globally"}}
              <span>
                {{d-icon "far-clock"}}
                <FutureDateInput
                  @class="pin-until"
                  @clearable={{true}}
                  @input={{this.model.pinnedGloballyUntil}}
                  @onChangeInput={{action (mut this.model.pinnedGloballyUntil)}}
                />
                <PopupInputTip
                  @validation={{this.pinGloballyValidation}}
                  @shownAt={{this.pinGloballyTipShownAt}}
                />
              </span>
            </p>
          {{/if}}
          <p>
            <DButton
              @action={{action "pinGlobally"}}
              @icon="thumbtack"
              @label="topic.feature.pin_globally"
              @class="btn-primary"
            />
          </p>
        </div>
      </div>
    {{/if}}
  {{/if}}
  {{#if this.currentUser.staff}}
    <div class="feature-section">
      <div class="desc">
        <p>
          <ConditionalLoadingSpinner @size="small" @condition={{this.loading}}>
            {{#if this.bannerCount}}
              {{html-safe (i18n "topic.feature_topic.banner_exists")}}
            {{else}}
              {{html-safe (i18n "topic.feature_topic.no_banner_exists")}}
            {{/if}}
          </ConditionalLoadingSpinner>
        </p>
        <p>
          {{i18n "topic.feature_topic.banner_note"}}
        </p>
        <p>
          {{#if this.model.isBanner}}
            {{i18n "topic.feature_topic.remove_banner"}}
          {{else}}
            {{i18n "topic.feature_topic.make_banner"}}
          {{/if}}
        </p>
        <p>
          {{#if this.model.isBanner}}
            <DButton
              @action={{action "removeBanner"}}
              @icon="thumbtack"
              @label="topic.feature.remove_banner"
              @class="btn-primary"
            />
          {{else}}
            <DButton
              @action={{action "makeBanner"}}
              @icon="thumbtack"
              @label="topic.feature.make_banner"
              @class="btn-primary make-banner"
            />
          {{/if}}
        </p>
      </div>
    </div>
  {{/if}}
</DModalBody>
<div class="modal-footer">
  <DModalCancel @close={{route-action "closeModal"}} />
</div>