<form>
  <DModalBody @class="forgot-password-modal">
    {{#if this.offerHelp}}
      {{html-safe this.offerHelp}}
    {{else}}
      {{#if this.siteSettings.hide_email_address_taken}}
        <label for="username-or-email">{{i18n
            "forgot_password.invite_no_username"
          }}</label>
        <TextField
          @value={{this.accountEmailOrUsername}}
          @placeholderKey="email"
          @id="username-or-email"
          @autocorrect="off"
          @autocapitalize="off"
        />
      {{else}}
        <label for="username-or-email">{{i18n "forgot_password.invite"}}</label>
        <TextField
          @value={{this.accountEmailOrUsername}}
          @placeholderKey="login.email_placeholder"
          @id="username-or-email"
          @autocorrect="off"
          @autocapitalize="off"
        />
      {{/if}}
    {{/if}}
  </DModalBody>
  <div class="modal-footer">
    {{#if this.offerHelp}}
      <DButton
        @class="btn-large btn-primary"
        @label="forgot_password.button_ok"
        @type="submit"
        @action={{action "ok"}}
      />
      {{#unless this.helpSeen}}
        <DButton
          @class="btn-large"
          @label="forgot_password.button_help"
          @icon="question-circle"
          @action={{action "help"}}
        />
      {{/unless}}
    {{else}}
      <DButton
        @action={{action "resetPassword"}}
        @label="forgot_password.reset"
        @disabled={{this.submitDisabled}}
        @class="btn-primary forgot-password-reset"
        @type="submit"
      />
    {{/if}}
  </div>
</form>