<DModalBody @class="grant-badge">
  <ConditionalLoadingSpinner @condition={{loading}}>
    {{#if noGrantableBadges}}
      <p>{{i18n "admin.badges.no_badges"}}</p>
    {{else}}
      <p>
        <ComboBox @value={{selectedBadgeId}} @content={{grantableBadges}} @onChange={{action (mut selectedBadgeId)}} @options={{hash
            filterable=true
            none="badges.none"
          }} />
      </p>
    {{/if}}
  </ConditionalLoadingSpinner>
</DModalBody>

<div class="modal-footer">
  <DButton @class="btn-primary" @disabled={{buttonDisabled}} @action={{action "grantBadge"}} @label="admin.badges.grant" />
</div>
