<DModalBody @title={{this.modalTitleKey}} @maxHeight="70%">
  <div id="revision">
    <div id="revision-details">
      {{d-icon "pencil-alt"}}
      <LinkTo @route="user" @model={{this.model.username}}>
        {{bound-avatar-template this.model.avatar_template "small"}}
        {{this.model.username}}
      </LinkTo>
      <PluginOutlet
        @name="revision-user-details-after"
        @outletArgs={{hash model=this.model}}
      />
      <span class="date">{{bound-date this.model.created_at}}</span>
      {{#if this.model.edit_reason}}
        &mdash;
        <span class="edit-reason">{{this.model.edit_reason}}</span>
      {{/if}}
      {{#unless this.site.mobileView}}
        {{#if this.model.user_changes}}
          &mdash;
          {{bound-avatar-template
            this.model.user_changes.previous.avatar_template
            "small"
          }}
          {{this.model.user_changes.previous.username}}
          &rarr;
          {{bound-avatar-template
            this.model.user_changes.current.avatar_template
            "small"
          }}
          {{this.model.user_changes.current.username}}
        {{/if}}
        {{#if this.model.wiki_changes}}
          &mdash;
          <DisabledIcon @icon="far-edit" @disabled={{this.wikiDisabled}} />
        {{/if}}
        {{#if this.model.post_type_changes}}
          &mdash;
          <DisabledIcon
            @icon="shield-alt"
            @disabled={{this.postTypeDisabled}}
          />
        {{/if}}
        {{#if this.model.category_id_changes}}
          &mdash;
          {{html-safe this.previousCategory}}
          &rarr;
          {{html-safe this.currentCategory}}
        {{/if}}
      {{/unless}}
    </div>
    {{#unless this.site.mobileView}}
      <div id="display-modes">
        <ul class="nav nav-pills">
          <li>
            <a
              href
              class={{this.inlineClass}}
              {{on "click" this.displayInline}}
              title={{i18n "post.revisions.displays.inline.title"}}
            >
              {{d-icon "far-square"}}
              {{i18n "post.revisions.displays.inline.button"}}
            </a>
          </li>
          <li>
            <a
              href
              class={{this.sideBySideClass}}
              {{on "click" this.displaySideBySide}}
              title={{i18n "post.revisions.displays.side_by_side.title"}}
            >
              {{d-icon "columns"}}
              {{i18n "post.revisions.displays.side_by_side.button"}}
            </a>
          </li>
          <li>
            <a
              href
              class={{this.sideBySideMarkdownClass}}
              {{on "click" this.displaySideBySideMarkdown}}
              title={{i18n
                "post.revisions.displays.side_by_side_markdown.title"
              }}
            >
              {{d-icon "columns"}}
              {{i18n "post.revisions.displays.side_by_side_markdown.button"}}
            </a>
          </li>
        </ul>
      </div>
    {{/unless}}
  </div>
  <div
    id="revisions"
    data-post-id={{this.model.post_id}}
    class={{this.hiddenClasses}}
  >
    {{#if this.model.title_changes}}
      <div class="row">
        <h2>{{html-safe this.titleDiff}}</h2>
      </div>
    {{/if}}
    {{#if this.site.mobileView}}
      {{#if this.user_changes}}
        <div class="row">
          {{bound-avatar-template
            this.model.user_changes.previous.avatar_template
            "small"
          }}
          {{this.model.user_changes.previous.username}}
          &rarr;
          {{bound-avatar-template
            this.model.user_changes.current.avatar_template
            "small"
          }}
          {{this.model.user_changes.current.username}}
        </div>
      {{/if}}
      {{#if this.model.wiki_changes}}
        <div class="row">
          <DisabledIcon @icon="far-edit" @disabled={{this.wikiDisabled}} />
        </div>
      {{/if}}
      {{#if this.model.post_type_changes}}
        <div class="row">
          <DisabledIcon
            @icon="shield-alt"
            @disabled={{this.postTypeDisabled}}
          />
        </div>
      {{/if}}
      {{#if this.model.category_id_changes}}
        <div class="row">
          {{html-safe this.previousCategory}}
          &rarr;
          {{html-safe this.currentCategory}}
        </div>
      {{/if}}
    {{/if}}
    {{#if this.model.tags_changes}}
      <div class="row">
        {{i18n "tagging.changed"}}
        {{#each this.previousTagChanges as |t|}}
          {{discourse-tag t.name style=(if t.deleted "diff-del")}}
        {{/each}}
        &rarr;&nbsp;
        {{#each this.currentTagChanges as |t|}}
          {{discourse-tag t.name style=(if t.inserted "diff-ins")}}
        {{/each}}
      </div>
    {{/if}}
    {{#if this.model.featured_link_changes}}
      <div class="row">
        {{this.model.featured_link_changes.previous}}
        &rarr;
        {{this.model.featured_link_changes.current}}
      </div>
    {{/if}}

    <span>
      <PluginOutlet
        @name="post-revisions"
        @connectorTagName="div"
        @outletArgs={{hash model=this.model}}
      />
    </span>

    <LinksRedirect @class="row">
      {{html-safe this.bodyDiff}}
    </LinksRedirect>
  </div>
</DModalBody>
{{#if this.topicController}}
  <div class="modal-footer">
    <div id="revision-controls">
      <DButton
        @class="btn-default"
        @action={{action "loadFirstVersion"}}
        @icon="fast-backward"
        @title="post.revisions.controls.first"
        @disabled={{this.loadFirstDisabled}}
      />
      <DButton
        @class="btn-default"
        @action={{action "loadPreviousVersion"}}
        @icon="backward"
        @title="post.revisions.controls.previous"
        @disabled={{this.loadPreviousDisabled}}
      />
      <div
        id="revision-numbers"
        class={{unless this.displayRevisions "invisible"}}
      >
        <ConditionalLoadingSpinner @condition={{this.loading}} @size="small">
          {{html-safe this.revisionsText}}
        </ConditionalLoadingSpinner>
      </div>
      <DButton
        @class="btn-default"
        @action={{action "loadNextVersion"}}
        @icon="forward"
        @title="post.revisions.controls.next"
        @disabled={{this.loadNextDisabled}}
      />
      <DButton
        @class="btn-default"
        @action={{action "loadLastVersion"}}
        @icon="fast-forward"
        @title="post.revisions.controls.last"
        @disabled={{this.loadLastDisabled}}
      />
    </div>

    <div id="revision-footer-buttons">
      {{#if this.displayEdit}}
        <DButton
          @action={{action "editPost"}}
          @icon="pencil-alt"
          @class="btn-default"
          @label={{this.editButtonLabel}}
        />
      {{/if}}

      {{#if this.displayRevert}}
        <DButton
          @action={{action "revertToVersion"}}
          @icon="undo"
          @translatedLabel={{this.revertToRevisionText}}
          @class="btn-danger"
          @disabled={{this.loading}}
        />
      {{/if}}

      {{#if this.displayHide}}
        <DButton
          @action={{action "hideVersion"}}
          @icon="far-eye-slash"
          @label="post.revisions.controls.hide"
          @class="btn-danger"
          @disabled={{this.loading}}
        />
      {{/if}}

      {{#if this.displayShow}}
        <DButton
          @action={{action "showVersion"}}
          @icon="far-eye"
          @label="post.revisions.controls.show"
          @class="btn-default"
          @disabled={{this.loading}}
        />
      {{/if}}

      {{#if this.displayPermanentlyDeleteButton}}
        <DButton
          @action={{action "permanentlyDeleteVersions"}}
          @icon="far-trash-alt"
          @label="post.revisions.controls.destroy"
          @class="btn-danger"
          @disabled={{this.loading}}
        />
      {{/if}}
    </div>
  </div>
{{/if}}