<DModalBody @class="explain-reviewable">
  <Textarea @value={{this.rejectReason}} />
  <div class="control-group">
    <label>
      <Input @type="checkbox" class="inline" @checked={{this.sendEmail}} />
      {{i18n "review.reject_reason.send_email"}}
    </label>
  </div>
</DModalBody>

<div class="modal-footer">
  <DButton
    @icon="trash-alt"
    @class="btn-danger"
    @action={{action "perform"}}
    @label="admin.user.delete"
  />
  <DButton
    @action={{route-action "closeModal"}}
    @label="cancel"
    @class="cancel"
  />
</div>