<DModalBody
  @class="reorder-categories full-height-modal"
  @title="categories.reorder.title"
>
  <div id="rc-scroll-anchor"></div>
  <table>
    <thead>
      <th class="th-cat">{{i18n "categories.category"}}</th>
      <th class="th-pos">{{i18n "categories.reorder.position"}}</th>
    </thead>
    <tbody>
      {{#each this.categoriesOrdered as |cat|}}
        <tr data-category-id={{cat.id}}>
          <td>
            <div class={{concat "reorder-categories-depth-" cat.depth}}>
              {{category-badge cat allowUncategorized="true"}}
            </div>
          </td>

          <td>
            <NumberField
              @number={{readonly cat.position}}
              @change={{action "change" cat}}
              @min="0"
            />
            <DButton
              @action={{fn (action "moveUp") cat}}
              @icon="arrow-up"
              class="btn-default no-text"
            />
            <DButton
              @action={{fn (action "moveDown") cat}}
              @icon="arrow-down"
              class="btn-default no-text"
            />
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <div id="rc-scroll-bottom"></div>
</DModalBody>

<div class="modal-footer">
  <DButton
    @action={{action "save"}}
    @label="categories.reorder.save"
    class="btn-primary"
  />
</div>