<form class="request-group-membership-form">
  <DModalBody @rawTitle={{title}}>
    <div class="control-group">
      <label>
        {{i18n "groups.membership_request.reason"}}
      </label>

      <ExpandingTextArea @value={{reason}} />
    </div>
  </DModalBody>

  <div class="modal-footer">
    <DButton @class="btn-primary" @disabled={{disableSubmit}} @label="groups.membership_request.submit" @action={{action "requestMember"}} />

    <DModalCancel @close={{route-action "closeModal"}} />
    <ConditionalLoadingSpinner @size="small" @condition={{loading}} />
  </div>
</form>
