{{#if this.flashText}}
  <div id="modal-alert" role="alert" class="alert alert-{{this.flashClass}}">
    {{this.flashText}}
  </div>
{{/if}}
<DModalBody @title={{this.header}}>
  <form class="form-horizontal">
    <div class="input-group">
      <label for="section-name">{{i18n
          "sidebar.sections.custom.title.label"
        }}</label>
      <Input
        name="section-name"
        @type="text"
        @value={{this.model.title}}
        class={{this.model.titleCssClass}}
        {{on "input" (action (mut this.model.title) value="target.value")}}
      />
      {{#if this.model.invalidTitleMessage}}
        <div class="title warning">
          {{this.model.invalidTitleMessage}}
        </div>
      {{/if}}
    </div>
    <div class="row-wrapper header">
      <div class="input-group link-icon">
        <label>{{i18n "sidebar.sections.custom.links.icon.label"}}</label>
      </div>
      <div class="input-group link-name">
        <label>{{i18n "sidebar.sections.custom.links.name.label"}}</label>
      </div>
      <div class="input-group link-url">
        <label>{{i18n "sidebar.sections.custom.links.value.label"}}</label>
      </div>
    </div>
    {{#each this.activeLinks as |link|}}
      <Sidebar::SectionFormLink
        @link={{link}}
        @deleteLink={{this.deleteLink}}
        @reorderCallback={{this.reorder}}
      />
    {{/each}}
    <DButton
      @action={{action "addLink"}}
      @class="btn-flat btn-text add-link"
      @title="sidebar.sections.custom.links.add"
      @icon="plus"
      @label="sidebar.sections.custom.links.add"
      @ariaLabel="sidebar.sections.custom.links.add"
    />
    {{#if this.model.sectionType}}
      <hr />
      <h3>{{i18n "sidebar.sections.custom.more_menu"}}</h3>
      {{#each this.activeSecondaryLinks as |link|}}
        <Sidebar::SectionFormLink
          @link={{link}}
          @deleteLink={{this.deleteLink}}
          @reorderCallback={{this.reorder}}
        />
      {{/each}}
      <DButton
        @action={{action "addSecondaryLink"}}
        @class="btn-flat btn-text add-link"
        @title="sidebar.sections.custom.links.add"
        @icon="plus"
        @label="sidebar.sections.custom.links.add"
        @ariaLabel="sidebar.sections.custom.links.add"
      />

    {{/if}}
    {{#if (and this.currentUser.staff (not this.model.sectionType))}}
      <div class="row-wrapper mark-public-wrapper">
        <label class="checkbox-label">
          <Input
            @type="checkbox"
            @checked={{this.model.public}}
            class="mark-public"
          />
          {{i18n "sidebar.sections.custom.public"}}
        </label>
      </div>
    {{/if}}
  </form>
</DModalBody>

<div class="modal-footer">
  <DButton
    @id="save-section"
    @action={{action "save"}}
    @class="btn-primary"
    @label="sidebar.sections.custom.save"
    @ariaLabel="sidebar.sections.custom.save"
    @disabled={{not this.model.valid}}
  />
  {{#if this.canDelete}}
    <DButton
      @icon="trash-alt"
      @id="delete-section"
      @class="btn-danger delete"
      @action={{action "delete"}}
      @label="sidebar.sections.custom.delete"
      @ariaLabel="sidebar.sections.custom.delete"
    />
  {{/if}}
  {{#if this.model.sectionType}}
    <DButton
      @action={{action "resetToDefault"}}
      @class="btn-flat btn-text reset-link"
      @icon="undo"
      @title="sidebar.sections.custom.links.reset"
      @label="sidebar.sections.custom.links.reset"
      @ariaLabel="sidebar.sections.custom.links.reset"
    />
  {{/if}}
</div>