<PluginOutlet @name="above-discovery-categories" @connectorTagName="div" @args={{hash categories=this.model.categories categoryPageStyle=this.categoryPageStyle topics=this.model.topics}} />

<DiscoveryCategories @refresh={{action "refresh"}}>
  {{#if this.topicTrackingState.hasIncoming}}
    <div class="show-more {{if this.hasTopics "has-topics"}}">
      <div role="button" class="alert alert-info clickable" {{action "showInserted"}}>
        <CountI18n @key="topic_count_" @suffix={{this.topicTrackingState.filter}} @count={{this.topicTrackingState.incomingCount}} />
      </div>
    </div>
  {{/if}}

  {{component this.categoryPageStyle
              categories=this.model.categories
              topics=this.model.topics}}
</DiscoveryCategories>

<PluginOutlet @name="below-discovery-categories" @connectorTagName="div" @args={{hash categories=this.model.categories categoryPageStyle=this.categoryPageStyle topics=this.model.topics}} />
