<%- if include_crawler_content? %>

<%= server_plugin_outlet "topic_list_header" %>

<%- if SiteSetting.tagging_enabled && @tag_id %>
  <h1>
    <%= link_to "#{Discourse.base_url}/tag/#{@tag_id}", itemprop: 'item' do %>
      <span itemprop='name'><%= @tag_id %></span>
    <% end %>
  </h1>
<% end %>

<% if @category %>
  <h1>
    <% if @category.parent_category %>
      <%= link_to @category.parent_category.url, itemprop: 'item' do %>
        <span itemprop='name'><%= @category.parent_category.name %></span>
      <% end %>
      &nbsp;
    <% end %>

    <%= link_to @category.url, itemprop: 'item' do %>
      <span itemprop='name'><%= @category.name %></span>
    <% end %>
  </h1>
  <br/>

  <% if params[:page].to_i == 0 && @subcategories.present? %>
    <% @subcategories.each do |subcategory| %>
      <a href='<%= subcategory.url %>'>
        <span itemprop='name'><%= subcategory.name %></span>
      </a>
      <% if subcategory.description.present? %>
        <span itemprop='description'><%= subcategory.description_text %></span>
      <% end %>
    <% end %>
    <br/>
  <% end %>
<% end %>

<div itemscope itemtype='http://schema.org/ItemList'>
  <table class='topic-list'>

    <thead>
      <tr>
        <th><%= t 'js.topic.title' %></th>
        <th><%= t 'js.replies' %></th>
        <th><%= t 'js.activity' %></th>
      </tr>
    </thead>

    <tbody>
      <meta itemprop='itemListOrder' content='http://schema.org/ItemListOrderDescending'>
      <% @list.topics.each_with_index do |t,i| %>
        <tr>
          <td itemprop='itemListElement' itemscope itemtype='http://schema.org/ListItem'>
            <meta itemprop='position' content='<%= i %>'>
            <meta itemprop='url' content='<%= t.url %>'>
            <meta itemprop='name' content='<%= t.title %>'>
            <a href='<%= t.url %>' class='title raw-link raw-topic-link'>
              <span><%= t.title %></span>
            </a>
            <% if (!@category || @category.has_children?) && t.category %>
              <div>
                <a href='<%= t.category.url %>'><span class='category-name'><%= t.category.name %></span></a>
              </div>
            <% end %>
            <% if t.pinned_until && (t.pinned_until > Time.zone.now) && (t.pinned_globally || @list.category) && t.excerpt %>
              <p class='excerpt'>
                <%= t.excerpt.html_safe %>
              </p>
            <% end %>
          </td>
          <td>
            <span class='posts' title='<%= t 'posts' %>'><%= t.posts_count %></span>
          </td>
          <td>
            <%= I18n.l(t.last_posted_at || t.created_at, format: :date_only) %>
          </td>
        </tr>
      <% end %>
    </tbody>

  </table>
</div>

<% if @list.topics.length > 0 && @list.more_topics_url %>
  <div role='navigation' itemscope itemtype='http://schema.org/SiteNavigationElement'>
    <% if params[:page].to_i > 0 %>
      <span itemprop='name'><a href='<%= @list.prev_topics_url %>' rel='prev' itemprop='url'><%= t 'prev_page' %></a> &nbsp;</span>
    <% end %>
    <span itemprop='name'><b><a href='<%= @list.more_topics_url %>' rel='next' itemprop='url'><%= t 'next_page' %></a></b></span>
  </div>

  <% content_for :head do %>
    <% if params[:page].to_i > 0 %>
      <link rel="prev" href="<%= @list.prev_topics_url -%>">
    <% end %>
    <link rel="next" href="<%= @list.more_topics_url -%>">
  <% end %>
<% end %>

<%- end %> <!-- include_crawler_content? -->

<% if @rss %>
  <% content_for :head do %>
    <%= auto_discovery_link_tag(:rss, "#{Discourse.base_url}/posts.rss", title: I18n.t("rss_description.posts")) %>
    <%= auto_discovery_link_tag(:rss, { action: "#{@rss}_feed" }, title: I18n.t("rss_description.#{@rss}")) %>
  <% end %>
<% end %>

<% if @category %>
  <% content_for :head do %>
    <%= auto_discovery_link_tag(:rss, { action: :category_feed }, title: t('rss_topics_in_category', category: @category.name)) %>
    <%= raw crawlable_meta_data(title: @category.name, description: @category.description, image: @category.uploaded_logo&.url.presence) %>
  <% end %>
<% elsif @tag_id %>
  <% content_for :head do %>
    <%= raw crawlable_meta_data(title: @title, description: @description_meta) %>
  <% end %>
<% else %>
  <% content_for :head do %>
    <%= raw crawlable_meta_data(title: SiteSetting.title, description: SiteSetting.site_description) %>
  <% end %>
<% end %>

<% if @title %>
  <% content_for :title do %><%= @title %><% end %>
<% elsif @category %>
  <% content_for :title do %><%= @category.name %> - <%= SiteSetting.title %><% end %>
<% elsif params[:page].to_i > 1 %>
  <% content_for :title do %><%=t 'page_num', num: params[:page].to_i + 1 %> - <%= SiteSetting.title %><% end %>
<% end %>
