<div class="topic-list">
<% @list.topics.each do |t| %>
<a href="<%= t.relative_url %>"><%= t.title %></a> <span title='<%= t 'posts' %>'>(<%= t.posts_count %>)</span><br/>
<% end %>
</div>

<% if @list.topics.length > 0 %>
<p><a href="<%= @list.more_topics_url.sub('.json?','?') %>"><%= t 'next_page'%></a></p>
<% end %>

<p><%= t 'powered_by_html' %></p>

<% if @rss %>
  <% content_for :head do %>
    <%= auto_discovery_link_tag(:rss, {action: "#{@rss}_feed"}, title: I18n.t("rss_description.#{@rss}")) %>
  <% end %>
<% end %>

<% if @category %>
  <% content_for :head do %>
    <%= auto_discovery_link_tag(@category, {action: :category_feed, format: :rss}, title: t('rss_topics_in_category', category: @category.name), type: 'application/rss+xml') %>
  <% end %>
  <% content_for :title do %><%=@category.name%> <%=t('topics')%><% end %>
<% end %>
