<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title><%= @category.name %></title>
    <link><%= Discourse.base_url %>/category/<%= @category.slug %></link>
    <description><%= t 'topics_in_category', category: @category.name %><%= @category.description %></description>
    <atom:link href="<%= Discourse.base_url %>/category/<%= @category.slug %>.rss" rel="self" type="application/rss+xml" />
    <% @topic_list.topics.each do |topic| %>
      <item>
        <title><%= topic.title %></title>
        <description><![CDATA[
          <p><%= pluralize(topic.posts_count, 'post') %></p>
          <p><%= t 'author_wrote', author: topic.posts.first.author_readable %></p>
          <%= topic.posts.first.cooked.html_safe %>
        ]]></description>
        <link><%= Discourse.base_url %><%= topic.relative_url %></link>
        <pubDate><%= topic.created_at.rfc2822 %></pubDate>
        <guid><%= Discourse.base_url %><%= topic.relative_url %></guid>
        <source url="<%= Discourse.base_url %><%= topic.relative_url %>.rss"><%= topic.title %></source>
      </item>
    <% end %>
  </channel>
</rss>
