<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <% lang = SiteSetting.find_by_name('default_locale').try(:value) %>
    <% site_email = SiteSetting.find_by_name('contact_email').try(:value) %>
    <title><%= @title %></title>
    <link><%= @link %></link>
    <description><%= @description %></description>
    <% if lang %><language>#{lang}</language><% end %>
    <% if @topic_list.topics && @topic_list.topics.length > 0 %>
      <lastBuildDate><%= @topic_list.topics.first.created_at.rfc2822 %></lastBuildDate>
      <atom:link href="<%= @atom_link %>" rel="self" type="application/rss+xml" />
      <% @topic_list.topics.each do |topic| %>
        <% topic_url = Discourse.base_url + topic.relative_url -%>
        <item>
          <title><%= topic.title %></title>
          <author><%= "no-reply@example.com (@#{topic.user.username}#{" #{topic.user.name}" if topic.user.name.present?})" -%></author>
          <category><%= topic.category.name %></category>
          <description><![CDATA[
            <p><%= t('author_wrote', author: link_to(topic.user.name, user_url(topic.user.username_lower))).html_safe %></p>
            <blockquote>
              <%= topic.posts.first.cooked.html_safe %>
            </blockquote>
            <p><%= t 'num_posts' %> <%= topic.posts_count %></p>
            <p><%= t 'num_participants' %> <%= topic.participant_count %></p>
            <p><%= link_to t('read_full_topic'), topic_url %></p>
          ]]></description>
          <link><%= topic_url %></link>
          <pubDate><%= topic.created_at.rfc2822 %></pubDate>
          <guid isPermaLink="false">topic-<%= topic.id %></guid>
          <source url="<%= topic_url %>.rss"><%= topic.title %></source>
        </item>
      <% end %>
    <% end %>
  </channel>
</rss>
