<div class="topic-list">
<% @list.topics.each do |t| %>
<a href="<%= t.relative_url %>"><%= t.title %></a> <span title='posts'>(<%= t.posts_count %>)</span><br/>
<% end %>
</div>

<% if @list.topics.length > 0 %>
<p><a href="<%= @list.more_topics_url.sub('.json?','?') %>"><%= t 'next_page'%></a></p>
<% end %>

<p><%= t 'powered_by' %></p>