<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//<%= SiteSetting.piwik_domain_name %>/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', <%= SiteSetting.piwik_site_id %>]);
    _paq.push(['setCustomVariable', 1, 'Anonymous', <%= !current_user %>, 'site']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//<%= SiteSetting.piwik_domain_name %>/piwik.php?idsite=<%= SiteSetting.piwik_site_id %>" style="border:0;" alt="" /></p></noscript>
