<ListSetting
  @value={{this.settingValue}}
  @settingName={{this.setting.setting}}
  @choices={{this.settingChoices}}
  @onChange={{this.onChangeListSetting}}
  @onChangeChoices={{this.onChangeChoices}}
  @options={{hash allowAny=this.allowAny}}
/>

<DButton
  @action={{(fn this.insertDefaultTypes "image")}}
  @label="admin.site_settings.file_types_list.add_image_types"
  class="btn file-types-list__button"
/>
<DButton
  @action={{(fn this.insertDefaultTypes "video")}}
  @label="admin.site_settings.file_types_list.add_video_types"
  class="btn file-types-list__button"
/>
<DButton
  @action={{(fn this.insertDefaultTypes "audio")}}
  @label="admin.site_settings.file_types_list.add_audio_types"
  class="btn file-types-list__button"
/>
<DButton
  @action={{(fn this.insertDefaultTypes "document")}}
  @label="admin.site_settings.file_types_list.add_document_types"
  class="btn file-types-list__button"
/>

<SettingValidationMessage @message={{this.validationMessage}} />
<div class="desc">{{html-safe this.setting.description}}</div>