<FileSizeInput
  @sizeValueKB={{readonly this.value}}
  @onChangeSize={{this.onChangeSize}}
  @updateValidationMessage={{this.updateValidationMessage}}
  @min={{if this.setting.min this.setting.min null}}
  @max={{if this.setting.max this.setting.max null}}
  @message={{this.validationMessage}}
/>

<SettingValidationMessage @message={{this.validationMessage}} />
<div class="desc">{{html-safe this.setting.description}}</div>