<ListSetting
  @value={{this.settingValue}}
  @choices={{this.groupChoices}}
  @settingName="name"
  @nameProperty={{this.nameProperty}}
  @valueProperty={{this.valueProperty}}
  @onChange={{this.onChangeGroupListSetting}}
/>
<SettingValidationMessage @message={{this.validationMessage}} />
<div class="desc">{{html-safe this.setting.description}}</div>