<SimpleList
  @values={{this.value}}
  @inputDelimiter={{this.inputDelimiter}}
  @onChange={{action "onChange"}}
/>
<SettingValidationMessage @message={{this.validationMessage}} />
<div class="desc">{{html-safe this.setting.description}}</div>