{{#if this.setting.textarea}}
  <Textarea @value={{this.value}} class="input-setting-textarea" />
{{else if this.isSecret}}
  <Input @type="password" @value={{this.value}} class="input-setting-string" />
{{else}}
  <TextField @value={{this.value}} @classNames="input-setting-string" />
{{/if}}

<SettingValidationMessage @message={{this.validationMessage}} />
<div class="desc">{{html-safe this.setting.description}}</div>