<UppyImageUploader
  @imageUrl={{this.value}}
  @placeholderUrl={{this.setting.placeholder}}
  @additionalParams={{hash for_site_setting=true}}
  @type="site_setting"
  @id={{concat "site-setting-image-uploader-" this.setting.setting}}
/>
<div class="desc">{{html-safe this.setting.description}}</div>
<SettingValidationMessage @message={{this.validationMessage}} />