<DModal
  @closeModal={{@closeModal}}
  class="chat-modal-archive-channel"
  @inline={{@inline}}
  @title={{i18n "chat.channel_archive.title"}}
  @flash={{this.flash}}
  @flashType={{this.flashType}}
>
  <:body>
    <p class="chat-modal-archive-channel__instructions">
      {{this.instructionsText}}
    </p>
    <ChatToTopicSelector
      @selection={{this.selection}}
      @topicTitle={{this.topicTitle}}
      @categoryId={{this.categoryId}}
      @tags={{this.tags}}
      @selectedTopicId={{this.selectedTopicId}}
      @instructionLabels={{this.instructionLabels}}
      @allowNewMessage={{false}}
    />
  </:body>
  <:footer>
    <DButton
      @class="btn-primary"
      @disabled={{this.buttonDisabled}}
      @action={{this.archiveChannel}}
      @label="chat.channel_archive.title"
      @id="chat-confirm-archive-channel"
    />
  </:footer>
</DModal>