<DModal
  @closeModal={{@closeModal}}
  class="chat-modal-edit-channel-description"
  @inline={{@inline}}
  @title={{i18n "chat.channel_edit_description_modal.title"}}
  @flash={{this.flash}}
>
  <:body>
    <span class="chat-modal-edit-channel-description__description">{{i18n
        "chat.channel_edit_description_modal.description"
      }}</span>
    <CharCounter
      @value={{this.editedDescription}}
      @max={{this.descriptionMaxLength}}
    >
      <textarea
        {{on
          "input"
          (action this.onChangeChatChannelDescription value="target.value")
        }}
        class="chat-modal-edit-channel-description__description-input"
        placeholder={{i18n
          "chat.channel_edit_description_modal.input_placeholder"
        }}
      >{{this.editedDescription}}</textarea>
    </CharCounter>
  </:body>
  <:footer>
    <DButton
      @class="btn-primary create"
      @action={{this.onSaveChatChannelDescription}}
      @label="save"
      @disabled={{this.isSaveDisabled}}
    />
    <DModalCancel @close={{@closeModal}} />
  </:footer>
</DModal>