<DModal
  @closeModal={{@closeModal}}
  class="chat-modal-move-message-to-channel"
  @inline={{@inline}}
  @title={{i18n "chat.move_to_channel.title"}}
>
  <:body>
    {{#if this.selectedMessageCount}}
      <p>{{this.instructionsText}}</p>
    {{/if}}

    <ChatChannelChooser
      @class="chat-modal-move-message-to-channel__channel-chooser"
      @content={{this.availableChannels}}
      @value={{this.destinationChannelId}}
      @nameProperty="title"
    />
  </:body>
  <:footer>
    <DButton
      @class="btn-primary"
      @icon="sign-out-alt"
      @disabled={{this.disableMoveButton}}
      @action={{this.moveMessages}}
      @label="chat.move_to_channel.confirm_move"
    />
    <DButton @label="cancel" @class="btn-flat" @action={{@closeModal}} />
  </:footer>
</DModal>