<!DOCTYPE html>
<html lang="<%= SiteSetting.default_locale %>" class="<%= html_classes %>">
  <head>
    <meta charset="utf-8">
    <title><%= content_for?(:title) ? yield(:title) + ' - ' + SiteSetting.title : SiteSetting.title %></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="<%= @description %>" name="description">
    <meta content="" name="author">

    <%= canonical_link_tag %>

    <link rel="icon" type="image/png" href="<%=SiteSetting.favicon_url%>">
    <link rel="apple-touch-icon" type="image/png" href="<%=SiteSetting.apple_touch_icon_url%>">

    <%= javascript_include_tag "preload_store" %>

    <%= javascript_include_tag "locales/#{I18n.locale}" %>
    <%= javascript_include_tag "application" %>
    <%- if staff? %>
      <%= javascript_include_tag "admin"%>
    <%- end %>

    <%= render :partial => "common/special_font_face" %>
    <%= render :partial => "common/discourse_stylesheet" %>

    <%= discourse_csrf_tags %>

    <%= yield :head %>
  </head>

  <body>
    <!--[if IE 9]><script type="text/javascript">ie = "new";</script><![endif]-->

    <%= SiteCustomization.custom_header(session[:preview_style], mobile_view? ? :mobile : :desktop) %>
    <section id='main'>
    </section>

    <% unless current_user %>
      <form id='hidden-login-form' method="post" action="<%=login_path%>" style="display: none;">
        <input name="username" type="text"     id="signin_username">
        <input name="password" type="password" id="signin_password">
        <input name="redirect" type="hidden">
        <input type="submit" id="signin-button" value="Log In">
      </form>
    <% end %>

    <%- if @preloaded.present? %>
      <script>
      <%- @preloaded.each do |key, json| %>
        PreloadStore.store("<%= key %>",<%= escape_unicode(json) %>);
      <% end %>
      </script>
    <%- end %>

    <%= yield :data %>

    <footer id='bottom'></footer>

    <%= render :partial => "common/discourse_javascript" %>
    <%= render_google_analytics_code %>

    <noscript data-path="<%= request.env['PATH_INFO'] %>">
      <header class="d-header">
        <div class="container">
          <div class="contents">
            <div class="row">
              <div class="title span13">
                <a href="/"><img src="<%=SiteSetting.logo_url%>" alt="<%=SiteSetting.title%>" id="site-logo"></a>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div id="main-outlet" class="container">
        <!-- preload-content: -->
        <%= yield %>
        <!-- :preload-content -->
      </div>
    </noscript>
    <!-- Discourse Version: <%= Discourse::VERSION::STRING %> -->
    <!-- Git Version: <%= Discourse.git_version %> -->
  </body>
</html>
