<!DOCTYPE html>
<html lang="<%= SiteSetting.default_locale %>" class="<%= html_classes %>">
  <head>
    <meta charset="utf-8">
    <title><%= content_for?(:title) ? yield(:title) + ' - ' + SiteSetting.title : SiteSetting.title %></title>
    <meta name="description" content="<%= @description_meta || SiteSetting.site_description %>">
    <%= render partial: "layouts/head" %>

    <%- if SiteSetting.enable_escaped_fragments? %>
    <meta name="fragment" content="!">
    <%- end %>

    <%- if shared_session_key %>
    <meta name="shared_session_key" content="<%= shared_session_key %>">
    <%- end %>

    <%= script "preload_store" %>
    <%= script "locales/#{I18n.locale}" %>
    <%= script "vendor" %>
    <%= script "application" %>
    <%- if staff? %>
      <%= script "admin"%>
    <%- end %>

    <%= raw SiteText.text_for(:head) %>

    <%= render_google_universal_analytics_code %>

    <%= yield :head %>
  </head>

  <body>
    <noscript data-path="<%= request.env['PATH_INFO'] %>">
      <header class="d-header">
        <div class="container">
          <div class="contents">
            <div class="row">
              <div class="title span13">
                <a href="/"><img src="<%= (mobile_view? && SiteSetting.mobile_logo_url) || SiteSetting.logo_url %>" alt="<%=SiteSetting.title%>" id="site-logo"></a>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div id="main-outlet" class="container">
        <!-- preload-content: -->
        <%= yield %>
        <!-- :preload-content -->
      </div>
      <footer id='noscript-footer'>
        <p><%= t 'powered_by_html' %></p>
      </footer>
    </noscript>

    <!--[if IE 9]><script type="text/javascript">ie = "new";</script><![endif]-->

    <%- unless customization_disabled? %>
      <%= SiteCustomization.custom_header(session[:preview_style], mobile_view? ? :mobile : :desktop) %>
    <%- end %>

    <section id='main'>
    </section>

    <% unless current_user %>
      <form id='hidden-login-form' method="post" action="<%=login_path%>" style="display: none;">
        <input name="username" type="text"     id="signin_username">
        <input name="password" type="password" id="signin_password">
        <input name="redirect" type="hidden">
        <input type="submit" id="signin-button" value="<%= t 'log_in' %>">
      </form>
    <% end %>

    <%- if @preloaded.present? %>
      <script>
      <%- @preloaded.each do |key, json| %>
        PreloadStore.store("<%= key %>",<%= escape_unicode(json) %>);
      <% end %>
      </script>
    <%- end %>

    <%= yield :data %>

    <footer id='bottom'><%= raw SiteText.text_for(:bottom) %></footer>

    <%= render :partial => "common/discourse_javascript" %>

    <%= render_google_analytics_code %>
  </body>
</html>
