<!DOCTYPE html>
<!--[if IE 9]><html lang="<%= SiteSetting.default_locale %>" class="ie9 <%= html_classes %>"><![endif]-->
<!--[if (!IE 9) | (!IE)]><!--><html lang="<%= SiteSetting.default_locale %>" class="<%= html_classes %>"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title><%= content_for?(:title) ? yield(:title) + ' - ' + SiteSetting.title : SiteSetting.title %></title>
    <meta name="description" content="<%= @description_meta || SiteSetting.site_description %>">
    <%= render partial: "layouts/head" %>
    <%= render partial: "common/special_font_face" %>
    <%= render partial: "common/discourse_stylesheet" %>
    <%= discourse_csrf_tags %>

    <%- if SiteSetting.enable_escaped_fragments? %>
      <meta name="fragment" content="!">
    <%- end %>

    <%- if shared_session_key %>
      <meta name="shared_session_key" content="<%= shared_session_key %>">
    <%- end %>

    <%= script "preload_store" %>
    <%= script "locales/#{I18n.locale}" %>
    <%= script "vendor" %>
    <%= script "application" %>
    <%- if staff? %>
      <%= script "admin"%>
    <%- end %>

    <%- unless customization_disabled? %>
      <%= raw SiteCustomization.custom_head_tag(session[:preview_style]) %>
    <%- end %>

    <%= render_google_universal_analytics_code %>

    <%= yield :head %>
  </head>

  <body>
    <noscript data-path="<%= request.env['PATH_INFO'] %>">
      <%= render partial: 'header' %>
      <div id="main-outlet" class="wrap">
        <!-- preload-content: -->
        <%= yield %>
        <!-- :preload-content -->
        <footer>
          <nav itemscope itemtype='http://schema.org/SiteNavigationElement'>
            <a href='<%= path "/" %>'><%= t 'home_title' %></a>
            <%= link_to t('js.filters.categories.title'), main_app.categories_path %>
            <%= link_to t('guidelines_topic.title'), main_app.guidelines_path %>
            <%= link_to t('tos_topic.title'), main_app.tos_path %>
            <%= link_to t('privacy_topic.title'), main_app.privacy_path %>
          </nav>
        </footer>
      </div>

      <footer id='noscript-footer'>
        <p><%= t 'powered_by_html' %></p>
      </footer>
    </noscript>

    <!--[if IE 9]><script type="text/javascript">ie = "new";</script><![endif]-->

    <%- unless customization_disabled? || loading_admin? %>
      <%= SiteCustomization.custom_header(session[:preview_style], mobile_view? ? :mobile : :desktop) %>
    <%- end %>

    <section id='main'>
    </section>

    <div id='offscreen-content'>
    </div>

    <% unless current_user %>
      <form id='hidden-login-form' method="post" action="<%=main_app.login_path%>" style="display: none;">
        <input name="username" type="text"     id="signin_username">
        <input name="password" type="password" id="signin_password">
        <input name="redirect" type="hidden">
        <input type="submit" id="signin-button" value="<%= t 'log_in' %>">
      </form>
    <% end %>

    <%- if @preloaded.present? %>
      <script>
      <%- @preloaded.each do |key, json| %>
        PreloadStore.store("<%= key %>",<%= escape_unicode(json) %>);
      <% end %>
      </script>
    <%- end %>

    <%= yield :data %>

    <%= render :partial => "common/discourse_javascript" %>

    <%= render_google_analytics_code %>

    <%- unless customization_disabled? %>
      <%= raw SiteCustomization.custom_body_tag(session[:preview_style]) %>
    <%- end %>
  </body>
</html>
