<!DOCTYPE html>
<html lang="<%= html_lang %>">
  <head>
    <meta charset="utf-8">
    <title><%= content_for?(:title) ? yield(:title) : SiteSetting.title %></title>
    <meta name="description" content="<%= @description_meta || SiteSetting.site_description %>">
    <%= render partial: "layouts/head" %>
    <%= render partial: "common/discourse_stylesheet" %>
    <%= theme_lookup("head_tag") %>
    <%= render_google_universal_analytics_code %>
    <%= yield :head %>
    <%= build_plugin_html 'server:before-head-close-crawler' %>
  </head>
  <body class="crawler">
    <%= theme_lookup("header") %>
    <%= render partial: "layouts/noscript_header" %>
    <div id="main-outlet" class="wrap" role="main">
      <% if show_browser_update? %>
        <div class="buorg"><div><%= I18n.t("js.browser_update").html_safe %></div></div>
      <% end %>
      <%= yield %>
    </div>
    <%= render partial: "layouts/noscript_footer" %>
    <%= theme_lookup("footer") %>
    <%= theme_lookup("body_tag") %>
  </body>
  <%= yield :after_body %>
</html>
