<!DOCTYPE html>
<html lang="<%= html_lang %>">
  <head>
    <meta charset="utf-8">
    <title><%= content_for?(:title) ? yield(:title) : SiteSetting.title %></title>
    <meta name="description" content="<%= @description_meta || SiteSetting.site_description %>">
    <%= render partial: "layouts/head" %>
    <%- if rtl? %>
      <%= discourse_stylesheet_link_tag(mobile_view? ? :mobile_rtl : :desktop_rtl) %>
    <%- else %>
      <%= discourse_stylesheet_link_tag(mobile_view? ? :mobile : :desktop) %>
    <%- end %>
    <%- if theme_ids.present? %>
      <%= discourse_stylesheet_link_tag(mobile_view? ? :mobile_theme : :desktop_theme) %>
    <%- end %>
    <%= theme_lookup("head_tag") %>
    <%= render_google_universal_analytics_code %>
    <%= yield :head %>

    <%= build_plugin_html 'server:before-head-close-crawler' %>
  </head>
  <body class="crawler">
    <%= theme_lookup("header") %>
    <header>
      <a href="<%= path "/" %>">
        <%- if SiteSetting.site_logo_url.present? %>
          <img src="<%=SiteSetting.site_logo_url%>" alt="<%=SiteSetting.title%>" id="site-logo" style="max-width: 150px;">
        <%- else %>
          <h1><%=SiteSetting.title%></h1>
        <% end %>
      </a>
    </header>
    <div id="main-outlet" class="wrap">
      <%= yield %>
    </div>
    <footer class="container">
      <nav class='crawler-nav' itemscope itemtype='http://schema.org/SiteNavigationElement'>
        <a href='<%= path "/" %>'><%= t 'home_title' %></a>
        <%= link_to t('js.filters.categories.title'), path("/categories") %>
        <%= link_to t('guidelines_topic.title'), path("/guidelines") %>
        <%= link_to t('tos_topic.title'), path("/tos") %>
        <%= link_to t('privacy_topic.title'), path("/privacy") %>
      </nav>
      <p class='powered-by-link'><%= t 'powered_by_html' %></p>
    </footer>
    <%= theme_lookup("body_tag") %>
  </body>
  <%= yield :after_body %>
</html>
