<!DOCTYPE html>
<html lang="<%= SiteSetting.default_locale %>">
  <head>
    <meta charset="utf-8">
    <title><%= content_for?(:title) ? yield(:title) + ' - ' + SiteSetting.title : SiteSetting.title %></title>
    <meta name="description" content="<%= @description_meta || SiteSetting.site_description %>">
    <%= render partial: "layouts/head" %>
    <%- if rtl? %>
        <%= discourse_stylesheet_link_tag(mobile_view? ? :mobile_rtl : :desktop_rtl) %>
    <%- else %>
        <%= discourse_stylesheet_link_tag(mobile_view? ? :mobile : :desktop) %>
    <%- end %>
    <%= theme_lookup("head_tag") %>
    <%= render_google_universal_analytics_code %>
    <%= yield :head %>
  </head>
  <body class="crawler">
    <%= theme_lookup("header") %>
    <header>
      <a href="<%= path "/" %>"><img src="<%=SiteSetting.logo_url%>" alt="<%=SiteSetting.title%>" id="site-logo" style="max-width: 150px;"></a>
    </header>
    <div id="main-outlet" class="wrap">
      <%= yield %>
    </div>
    <footer class="container">
      <nav itemscope itemtype='http://schema.org/SiteNavigationElement'>
        <a href='<%= path "/" %>'><%= t 'home_title' %></a>
        <%= link_to t('js.filters.categories.title'), path("/categories") %>
        <%= link_to t('guidelines_topic.title'), path("/guidelines") %>
        <%= link_to t('tos_topic.title'), path("/tos") %>
        <%= link_to t('privacy_topic.title'), path("/privacy") %>
      </nav>
      <p><%= t 'powered_by_html' %></p>
    </footer>
    <%= render_google_analytics_code %>
    <%= theme_lookup("body_tag") %>
  </body>
  <%= yield :after_body %>
</html>
