<!DOCTYPE html>
<html lang="<%= SiteSetting.default_locale %>">
  <head>
    <meta charset="utf-8">
    <title><%= content_for?(:title) ? yield(:title) + ' - ' + SiteSetting.title : SiteSetting.title %></title>
    <meta name="description" content="<%= @description_meta || SiteSetting.site_description %>">
    <%= render partial: "layouts/head" %>
    <%- unless customization_disabled? %>
      <%= raw SiteCustomization.custom_head_tag(session[:preview_style]) %>
    <%- end %>
    <%= render_google_universal_analytics_code %>
    <%= yield :head %>
    <style>
        img { max-width: 100%; width: auto; height: auto; }
    </style>
  </head>
  <body>
    <%- unless customization_disabled? %>
      <%= SiteCustomization.custom_header(session[:preview_style], mobile_view? ? :mobile : :desktop) %>
    <%- end %>
    <header>
      <a href="<%= path "/" %>"><img src="<%=SiteSetting.logo_url%>" alt="<%=SiteSetting.title%>" id="site-logo"></a>
    </header>
    <div id="main-outlet" class="wrap">
      <%= yield %>
    </div>
    <footer class="container">
      <nav itemscope itemtype='http://schema.org/SiteNavigationElement'>
        <a href='<%= path "/" %>'><%= t 'home_title' %></a>
        <%= link_to t('js.filters.categories.title'), main_app.categories_path %>
        <%= link_to t('guidelines_topic.title'), main_app.guidelines_path %>
        <%= link_to t('tos_topic.title'), main_app.tos_path %>
        <%= link_to t('privacy_topic.title'), main_app.privacy_path %>
      </nav>
      <p><%= t 'powered_by_html' %></p>
    </footer>
    <%= render_google_analytics_code %>
    <%- unless customization_disabled? %>
      <%= raw SiteCustomization.custom_body_tag(session[:preview_style]) %>
    <%- end %>
  </body>
</html>
