<!DOCTYPE html>
<html lang="<%= SiteSetting.default_locale %>">
  <head>
    <meta charset="utf-8">
    <title><%= content_for?(:title) ? yield(:title) + ' - ' + SiteSetting.title : SiteSetting.title %></title>
    <meta name="description" content="<%= @description_meta || SiteSetting.site_description %>">
    <%= render partial: "layouts/head" %>
    <%- unless customization_disabled? %>
      <%= raw SiteCustomization.custom_head_tag(session[:preview_style]) %>
    <%- end %>
    <%= yield :head %>
    <style>
        img { width: 100%; height: auto; }
    </style>
  </head>
  <body>
    <%- unless customization_disabled? %>
      <%= SiteCustomization.custom_header(session[:preview_style]) %>
    <%- end %>
    <header>
        <a href="/"><img src="<%=SiteSetting.logo_url%>" alt="<%=SiteSetting.title%>" id="site-logo"></a>
    </header>
    <div id="main-outlet" class="container">
      <%= yield %>
    </div>
    <footer class="container">
      <p><%= t 'powered_by_html' %></p>
    </footer>
  </body>
</html>
