<!DOCTYPE html>
<html<%= raw @embeddable_css_class -%>>
  <head>
    <meta charset="utf-8">

    <%= discourse_stylesheet_link_tag 'embed', theme_ids: nil %>
    <%- unless customization_disabled? %>
      <%= discourse_stylesheet_link_tag  :embedded_theme %>
    <%- end %>
    <%= preload_script 'break_string' %>

    <%- if @topic_view && @topic_view.page_title.present? %>
      <title><%= @topic_view.page_title %> - <%= SiteSetting.title %></title>
    <%- end %>

    <meta id="data-embedded" data-referer="<%= request.referer %>">
    <%= preload_script 'embed-application' %>

    <%= yield :head %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
