<html>
  <head>
    <%= discourse_stylesheet_link_tag 'wizard', theme_ids: nil %>
    <%= preload_script 'ember_jquery' %>
    <%= preload_script 'wizard-vendor' %>
    <%= render partial: "layouts/head" %>
    <title><%= t 'wizard.title' %></title>
  </head>

  <body class='wizard'>
    <div id='wizard-main'>
      <div class='wizard-column'>
        <div class='wizard-column-contents finish-installation'>
          <%= yield %>
        </div>
        <div class='wizard-footer'>
          <div class='discourse-logo'></div>
        </div>
      </div>
    </div>
  </body>
</html>
