<!DOCTYPE html>
<html lang="<%= SiteSetting.default_locale %>">
<head>
  <meta charset="utf-8">
  <title><%= content_for?(:title) ? yield(:title) + ' - ' + SiteSetting.title : SiteSetting.title %></title>
  <meta name="description" content="">
  <%= render partial: "layouts/head" %>
  <%= render partial: "common/special_font_face" %>
  <%= render partial: "common/discourse_stylesheet" %>
  <%= discourse_csrf_tags %>

  <%= theme_lookup("head_tag") %>
  <%= yield(:no_ember_head) %>
</head>
<body <% if @custom_body_class %>class="<%= @custom_body_class %>"<% end %>>
  <%= theme_lookup("header") %>
  <section id='main'>
    <%= render partial: 'header' %>
    <div id="main-outlet" class="<%= @container_class ? @container_class : 'wrap' %>">
      <%= yield %>
    </div>
  </section>
  <%= theme_lookup("footer") %>
</body>
</html>
