<!DOCTYPE html>
<html lang="<%= html_lang %>">
<head>
  <meta charset="utf-8">
  <title><%= content_for?(:title) ? yield(:title) : SiteSetting.title %></title>
  <meta name="description" content="">
  <%= render partial: "layouts/head" %>
  <%= render partial: "common/discourse_stylesheet" %>
  <%= discourse_csrf_tags %>

  <%= theme_lookup("head_tag") %>
  <%= yield(:no_ember_head) %>
  <%= build_plugin_html 'server:before-head-close' %>
</head>
<body <% if @custom_body_class %>class="<%= @custom_body_class %>"<% end %>>
  <%= theme_lookup("header") %>
  <%= build_plugin_html 'server:header' %>
  <section id='main'>
    <%= render partial: 'header', locals: { hide_auth_buttons: local_assigns[:hide_auth_buttons] } %>
    <div id="main-outlet" class="<%= @container_class ? @container_class : 'wrap' %>">
      <%= yield %>
    </div>
  </section>
  <%= theme_lookup("footer") %>
  <%= theme_lookup("body_tag") %>
  <%= build_plugin_html 'no-client:footer' %>
  <%= build_plugin_html 'server:before-body-close' %>
</body>
</html>
